[2018-02-14 16:58] TomPallister commented on #231
@FerAguilarR93 thanks for your interest in the project!

If you set allowed scopes Ocelot will get all the user claims of the type scope and make sure that the user has all of the scopes in the list.

This is a way to restrict access to a ReRoute on a per scope basis.

Does that help?

[2018-02-14 17:04] FerAguilarR93 commented on #231
Yes it has been very helpful, thanks for your prompt response and willingness to help

[2018-02-14 17:04] #231 closed

[2018-02-14 17:05] TomPallister commented on #227
@geffzhang How do you think it could be improved?

I would like to test and see if it traces exceptions in the Ocelot middleware!

[2018-02-14 18:52] TomPallister commented on #228
@lurumad OK I've quickly got something together that let's you use your own IdentityServer with the  admin area.

Now you will do something like

[code]

Of course you can handle adding the IdentityServerAuthenticationOptions with whatever style you want!

Another change is that you now have to specify the url Ocelot will be running under as a configuration setting. We no longer have to register t

[2018-02-14 18:54] TomPallister commented on #228
reopen until nuget package released

[2018-02-14 20:25] TomPallister commented on #228
Changes in 3.1.4

[2018-02-14 20:25] #228 closed

[2018-02-14 20:37] #116 closed

[2018-02-15 00:10] geffzhang commented on #229
that is really cool

[2018-02-15 00:45] geffzhang opened #233 "OcelotBaseUrl should be configuration"
http://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html#addocelotbaseurl is not configurable and can be configured to read？ I see use MemoryConfigurationSource

[2018-02-15 01:31] CESARDELATORRE commented on #229
Yep!, I got you email! Let's sync when possible! :)

[2018-02-15 01:33] CESARDELATORRE commented on #144
I think you should. And then, join the .NET Foundation: http://dotnetfoundation.org/
👍

[2018-02-15 06:40] TomPallister commented on #233
@geffzhang do you mean in configuration.json? I did try it this way but was not sure as configuration can be changed during runtime. However you would not be able to change a url during runtime.

[2018-02-15 06:40] TomPallister commented on #229
Excellent I will reply ASAP!

[2018-02-15 06:40] #229 closed

[2018-02-15 07:09] TomPallister commented on #233
@geffzhang actually i have thought about this more and maybe you can! Do you think I should move it into configuration.json?

[2018-02-15 08:58] lurumad commented on #228
Awesome @TomPallister

I'm going to test in our app and give you feedback as soon as test it!

Regards!

[2018-02-15 09:52] #233 closed

[2018-02-15 14:22] FerAguilarR93 opened #235 "Can the configuration file be modified once the service is running?"
Hello, I have a question ... if I have running the Gateway API and I need to add another host to the configuration file, is there any way to do it without stopping the application?

[2018-02-15 14:26] TomPallister commented on #235
@FerAguilarR93 yes you can use the administration API

http://ocelot.readthedocs.io/en/latest/features/administration.html

Let me know if you have any questions. It's not a great API but work...ish :)

[2018-02-16 01:59] geffzhang opened #236 "Known Users"
With the number of Ocelot star Breakthrough 1000, more users are interested in Ocelot。Like https://identityserver.io/#customers For open Source User reference。Add a doc pages show use case

[2018-02-16 02:00] geffzhang commented on #236
This is case https://customers.microsoft.com/en-us/story/tencent-telecommunications-dotnetcore

[2018-02-16 09:50] TomPallister commented on #79
**Middleware Analysis**

UseDownstreamRouteFinderMiddleware - finds the ReRoute specific to the upstream request...maybe doesnt need to change...

** Could you just add a branching middleware here that calls next for each downstream and then collates everything on the way back up??? **

UseHttpHeadersTransformationMiddleware - does find and replace on headers...would need applying to all downstrea

[2018-02-16 14:23] FerAguilarR93 opened #237 "Is there any way to catch the 401?"
Hello, I have a question, I am validating the redirect based on a token and everything works fine, however I would like if I receive a 401 as a response, then another action is executed, in my case i want to register that failed attempt in database, is there any way to do this?... thanks in advance

[2018-02-16 15:48] siliond opened #238 "Support ServiceFabric"
What are the steps to configure (Program.cs, Startup.cs, etc.) Ocelot in a Service Fabric stateless service for an on premise deployment?

[2018-02-16 16:40] TomPallister commented on #238
@siliond thanks for your interest in the project!

Ocelot is just a NuGet package so all you have to do is pull it into an asp.net project and wire it up following the instructions [here](http://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html). I'm not sure if stateless services can write to local disk which is something Ocelot will do sometimes depending on your configuration.

O

[2018-02-16 16:44] TomPallister commented on #237
@FerAguilarR93

There are a few ways you can do this...

The easiest would be to have your own middleware registered before the Ocelot middlewares e.g.

[code]

You would need to write the 401 catching middleware and that would need to look at the HttpResponse message status code and save to your database.

The other way to do it would be with a delegating handler you can see the docs for this [he

[2018-02-16 16:47] TomPallister commented on #236
@geffzhang thank you! A good idea.

I am going to make a website for Ocelot but I need to decide on the organisation name! I can't make up my mind. I own the domain threemammals.co.uk but could also get something ocelot related.

[2018-02-17 09:48] rakhimzhanov opened #239 "Question about Windows Auth"
Hello Tom,

Could you please advise, can Ocelot authenticate using windows auth to services where windows auth also enabled? (I mean if gateway and services works only with windows auth)

Thank you.

[2018-02-19 20:52] FerAguilarR93 opened #240 "How to receive multiple values in a Claim?"
Hello, I´m having a problem, in your guide I found this:
"RouteClaimsRequirement": {
        "UserType": "registered"
      },
And I try this:
"RouteClaimsRequirement": {
        "Role": "User"
      },
but if I send a User that have more than one Role(In my case the user haver User and AdminRoles) Ocelot return a 403, is there any way to do this?... thanks in advance

[2018-02-20 03:34] geffzhang commented on #79
This is a good way to support multiple protocols for downstream services

[2018-02-20 07:06] TomPallister commented on #239
@rakhimzhanov thanks for your interest in the project.

I have not written anything specific for Windows Authentication. However I think you could get Ocelot using it following this guide https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?tabs=aspnetcore2x and the Ocelot docs http://ocelot.readthedocs.io/en/latest/features/authentication.html

You need to get windows

[2018-02-20 07:10] TomPallister commented on #240
@FerAguilarR93 this might be a bug.

Let me look into it and get back to you asap!

[2018-02-20 07:11] #235 closed

[2018-02-20 17:58] siliond commented on #238
Getting a weird  _reRoute /EquipmentInterfaces has duplicate_ error:

`System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred. (Unable to start Ocelot, errors are: reRoute /EquipmentInterfaces has duplicate,reRoute /EquipmentInterfaces has duplicate)
  Source=System.Private.CoreLib
  StackTrace:
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskC

[2018-02-20 20:31] FerAguilarR93 commented on #237
Excuse me, I´m trying this:
[code]
but StatusCode always is 200,  I make a request to an url non existent and return 404 to browser but in my middleware always have 200 in statuscode, when when I disable Ocelot the status code is 404, the code that you put in your previous comment is on configure method right?
I´m using .NET CORE 2 and I tried with this:
`public void Configure(IApplicationBuilder

[2018-02-20 21:11] TomPallister commented on #238
@siliond Ill have a look asap!

[2018-02-20 21:13] TomPallister commented on #237
@FerAguilarR93 I'll take a look!

[2018-02-20 21:48] TomPallister commented on #237
@FerAguilarR93 please see https://github.com/TomPallister/Ocelot/pull/241

You need

[code]

My bad I forgot that the request doesnt start until the middleware pipeline has ended so you need to use this callback. You can actually put it wherever you want in the code, it doesnt have to be after _next.Invoke(context) but it doesnt really matter.

Hope this helps!

[2018-02-20 22:06] FerAguilarR93 commented on #237
It's very useful, thank you for your help and your time, it's working now

[2018-02-20 23:01] TomPallister commented on #237
@FerAguilarR93 good! No worries, happy to help :)

[2018-02-20 23:03] #237 closed

[2018-02-21 08:39] TomPallister commented on #238
@siliond

What version of Ocelot are you using? I notice that you have the administration path in your configuration.json. This is no longer supported. Maybe I have not updated the docs will check.

I have put a PR with your config and a passing test [here](https://github.com/TomPallister/Ocelot/pull/242)

Maybe upgrade to latest Ocelot (might be an old bug) Install-Package Ocelot -Version 3.1.5 a

[2018-02-21 08:51] TomPallister commented on #240
@FerAguilarR93

If you turn the Ocelot logs to debug level can you send me the logs for a failing request?

I think that your Claim might look like below and Ocelot cannot handle it. If that is the case I will fix asap.

[code]

[2018-02-21 13:13] siliond commented on #238
I have Ocelot 3.1.5.

Tried with the configuration.json provided, no luck - error below. Maybe there are extra steps required for Service Fabric that I'm not aware of.

Error:
[code]

Thank you very much.

[2018-02-21 16:04] TomPallister commented on #79
- [Update Middleware so it can duplex]

- [Update configuration.json so that users can specify what to aggregate]

- [ Update internal config]

- [ Aggregate responses]

- [ Ensure pipeline is threadsafe]

- [ Ensure pipeline is threadsafe for each downstream request in the aggregate including things that happen before the multiplexing]

[2018-02-21 18:46] TomPallister commented on #238
@siliond could you paste your program.cs / startup.cs

[2018-02-21 18:59] TomPallister commented on #240
@FerAguilarR93 also are you sure that the claim is in your token? Are you able to inspect the token?

[2018-02-21 19:13] FerAguilarR93 commented on #240
Sorry for taking, this is what the log has:
[code]

The claims are in my token, my CustomRol have Admin and User Roles in this trace we can look the, and when in my configuration.json I put this:

[code]
It works because Ocelot take the first value but if I put this:
[code]
401 statuscode is returned

[2018-02-21 19:16] FerAguilarR93 commented on #240
I put all log, but the important part is in bold text, thank you for your help

[2018-02-21 20:37] TomPallister commented on #240
@FerAguilarR93 thanks for the information...so I think Ocelot needs to check all claims of the same type for the value.

I'm not sure how internally asp.net will translate CustomRol":["Admin","User"] it might turn that array into multiple objects of type claim or a claim with a comma delimited list of values.

Anyway I will get this fixed asap!

[2018-02-21 20:53] FerAguilarR93 commented on #240
Thank you for your time and help :)

[2018-02-21 21:25] TomPallister commented on #240
@FerAguilarR93 no worries!

Please try Install-Package Ocelot -Version 3.1.6 / latest develop if you use the source code and let me know if this fixes the problem!

[2018-02-21 21:39] FerAguilarR93 commented on #240
I confirm that the problem is solved, it works correctly ... Thank you

[2018-02-21 21:43] TomPallister commented on #240
@FerAguilarR93 awesome! Thanks for finding it and helping me fix it ;)

[2018-02-21 21:43] #240 closed

[2018-02-22 08:48] catcherwong commented on #48
I wrote a simple blog that introduce how to use rate limiting in Ocelot.

[Building API Gateway Using Ocelot In ASP.NET Core - Rate Limiting - Part Four](http://www.c-sharpcorner.com/article/building-api-gateway-using-ocelot-in-asp-net-core-rate-limiting-part-four/)

[2018-02-22 11:18] TomPallister commented on #48
@catcherwong wow that is amazing!!!! Thank you very much for your interest and help with the project.

I will use this as a basic for the documentation!! I will put a link to your posts as well.

Thank you!!!!!!!!!!

[2018-02-22 16:06] TomPallister commented on #238
@siliond I have had a better look into this. I didnt have any problems with Ocelot starting and using the configuration pasted above. However Ocelot will not currently work in service fabric as it needs to look up the names of services from the naming service.

Good information [here ](https://dzimchuk.net/implementing-a-rest-client-for-internal-communication-in-service-fabric/)

I will keep this

[2018-02-22 16:10] TomPallister commented on #238
Implementation plan

Think we could implement a service discovery provider like we have with consul that uses the service fabric naming service to look up the service address from canonical name. Not sure if the configuration.json model would suppor this at the moment.

We can do something like this to lookup the service from naming service

[code]

but I dont know if this works with partitioned s

[2018-02-22 16:27] TomPallister commented on #238
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy

[2018-02-22 16:31] TomPallister commented on #238
might be able to use dns service to make this easier?

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-dnsservice

[2018-02-22 16:46] TomPallister commented on #238
After looking at naming service more Ocelot will work fine if all your downstream services have dns names and the dns service is on.

[2018-02-23 08:33] kongkong56 opened #244 "run app ,has one question"

[2018-02-23 08:36] kongkong56 commented on #244
public class Program
    {
        public static void Main(string[] args)
        {
            BuildWebHost(args).Run();
        }

        public static IWebHost BuildWebHost(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                .UseStartup<Startup>()
                .Build();
    }

[2018-02-23 08:36] #244 closed

[2018-02-23 12:43] siliond commented on #238
@TomPallister
Correct, the use case is implement an API gateway for Service Fabric services.

Digesting all the info.
A Microsoft consultant on Service Fabric will pay me a visit next Thursday and this will be one of the topics, will update the thread with findings.

[2018-02-25 14:14] binarymash opened #245 "Unstable integration tests"
Is anyone else seeing problems when running the integration tests, particularly on the command line? I'm not sure I've ever seen these run successfully on my own machine, even though they seem fine in appveyor.

The problems I see at the moment (build 3.1.6) are around these two tests:

-
 Ocelot.IntegrationTests.RaftTests.should_persist_command_to_five_servers_when_using_administration_api
- Ocel

[2018-02-26 06:11] axzxs2001 opened #246 "issues about bufferflay"
I found a problem with the butterfly test tracking.
I created a new Ocelot Gateway project with a port of 5000, two API items, 5001 and 5002 ports respectively, and in the Configuration.json file for the Ocelot Gateway project, two API project Rerouts settings are " Httphandleroptions ': {' usetracing ': true}.
When I first visited http://localhost:5001/api5001/values, it was normal, and when I vi

[2018-02-26 08:49] TomPallister commented on #245
@binarymash yeh these two are flakey. I think they should be ignored for now as they are for the raft implementation which is very experimental and is flagged as such in the Oceot guide.

However I do intend to fix them one day because I would like this feature to work there are just other priorities at the moment. I think request aggregation is the big feature that users need.

If they want to ha

[2018-02-26 08:51] TomPallister commented on #246
@axzxs2001 thanks for finding this and letting me know!

Do you think you could submit a PR with the fix? I will check to see if it effects other features.

If you cannot don't worry I will take a look at it myself when I have time.

[2018-02-26 11:57] axzxs2001 commented on #246
I have submitted a PR

[2018-02-26 15:58] TomPallister commented on #246
@axzxs2001 thank you very much!!

[2018-02-26 17:28] TomPallister commented on #79
new pipeline apache bench
C:\Program Files (x86)\PostgreSQL\EnterpriseDB-ApachePHP\apache\bin> ./ab.exe -n 1000 -c 100 http://lo
s
This is ApacheBench, Version 2.3 <$Revision: 1604373 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.zeustech.net/
Licensed to The Apache Software Foundation, http://www.apache.org/

Benchmarking localhost (be patient)
Completed 100 requests
Completed 200

[2018-02-26 20:57] charleslbryant opened #249 "How do you handle configuration for multiple environments."
What is the best way to handle configurations for multiple environments. Say I have a Dev, Test, and Production environment and each one has a different base URL. How do you handle the configuration for multiple environments?

Awesome project.

[2018-02-27 02:37] geffzhang commented on #249
API resource target request address, different deployment environment domain name is different, or domain name needs to support multiple, you can use the deployment environment variable implementation, such as:
To define a variable in a template variable in a deployment environment: domain = api.test.com
When creating a resource, the target request address is defined as: http://{stagevariables.dom

[2018-02-27 07:09] TomPallister commented on #249
@charleslbryant thanks for your interest in the project.

Like any other .net core project ocelot supports the following.

[code]

The EnvironmentName property is taken from the ASPNETCORE_ENVIRONMENT environmental variable which must be set on the relative environment.

This means you can have:

configuration.dev.json
configuration.qa.json
configuration.staging.json
configuration.production.json

[2018-02-27 07:11] TomPallister commented on #249
@geffzhang does asp.net automatically support swapping placeholders from IOptions<T> with environmental variables? If not this is a feature we would need to implement!

At the moment I am happy having multiple configuration.json (see comment above) and don't have time to implement this. However if you did have time that would be awesome!

[2018-02-27 07:12] TomPallister commented on #246
@geffzhang any ideas on this? Is it OK? All tests are passing.

I will have a look this morning on my way to work.

[2018-02-27 07:13] #199 closed

[2018-02-27 07:13] #239 closed

[2018-02-27 08:24] TomPallister commented on #84
Gonna close this one as no longer using asp.net middleware and passing an Ocelot specific context tho its name might not be correct right now "DownstreamContext" doesnt seem right anymore haha.

[2018-02-27 08:24] #84 closed

[2018-02-27 08:41] #249 closed

[2018-02-27 09:02] #48 closed

[2018-02-27 12:44] geffzhang commented on #246
@TomPallister This is written on the blog（ http://www.cnblogs.com/axzxs2001/p/8478340.html） and you can look at his examples https://github.com/axzxs2001/Asp.NetCoreExperiment/tree/master/Asp.NetCoreExperiment/OcelotAndButterfly

[2018-02-27 13:34] TomPallister commented on #246
@geffzhang thank you! I would like to write a failing test before merging fix.

[2018-02-27 18:19] charleslbryant commented on #249
That worked thanks.

[2018-02-27 19:51] TomPallister commented on #249
Awesome!

[2018-02-28 07:09] TomPallister commented on #246
@geffzhang @axzxs2001

I think I have broken tracing with butterfly when I merged the request aggregation feature. I will look into this and fix ASAP. I will also write some tests for the feature so it does not happen again!

[2018-02-28 16:38] TomPallister commented on #246
@axzxs2001 @geffzhang I have identified the root cause of this problem is in DelegatingHandlerHandlerProviderFactory.cs the ITracingHandler is a singleton so every HttpClient is re-using the same one. This needs to be transient. I am going to look into fixing this so will close your PR.

Thank you so much for your help. I would not have been able to identify this issue without it!

[2018-03-01 12:51] TomPallister commented on #227
After refactoring ocelot for downstream request aggregation the diagnostic listener no longer records any events other than entering and exiting Ocelot. This is because the middleware is no longer asp.net middleware. In this issue we also need to make something listen to the new Ocelot middlewares being called.

[2018-03-01 12:58] #246 closed

[2018-03-01 14:33] TomPallister commented on #144
I will be moving Ocelot to an organisation called threemammals.

I am getting a website and logo sorted at the moment

[2018-03-02 00:57] CESARDELATORRE commented on #144
That is way cool! 👍

[2018-03-02 10:48] TomPallister commented on #236
@geffzhang I have done this! Thank you very much for the suggestion.

New website is http://threemammals.com/

It is OK...not very fancy but I do not have much time :)

[2018-03-02 10:48] #236 closed

[2018-03-02 10:48] TomPallister commented on #144
OK so moved to ThreeMammals and we have a website and stuff! I will close this one for now and think about the .net core foundation!

[2018-03-02 10:48] #144 closed

[2018-03-02 11:05] geffzhang commented on #236
It's great.

[2018-03-02 11:15] binarymash opened #253 "Static code analysis"
Now we're getting a larger number of contributors it might be useful to enforce a few rules around code style.

I use https://github.com/DotNetAnalyzers/StyleCopAnalyzers on most of my projects, which uses Roslyn analyzers to flag up violations at build time and, if you're using Visual Studio, when you're editing the code.

If we do implement this I want to avoid making it a painful experience for

[2018-03-02 19:24] TomPallister commented on #253
@binarymash looks good to me. Maybe everything should be a warning instead of none then we can get to fixing them. Once we are at 0 warnings then we can turn them to errors? Not sure what best approach is.

Submit a PR and let's get cracking! I'd love to improve the quality of the code.

[2018-03-02 20:29] binarymash commented on #253
Good stuff, I'll try to find some time this weekend.

I think it'll be cleaner to disable all the violations, then for a particular rule turn it on, fix and commit, and then move on to the next rule. Turning them all to warnings will just generate a *lot* of noise (try building https://github.com/binarymash/Ocelot/commit/df86052a31235d4dd740020dc8ddf574b3b1b81a ...)

I'm very much of the opinion t

[2018-03-02 20:36] TomPallister commented on #253
@binarymash yep makes sense! Agree with everything.

[2018-03-03 15:49] TomPallister commented on #238
@siliond I've just released version 3.1.8 to NuGet that adds support for Service Fabric. Please see sample project [here](https://github.com/ThreeMammals/Ocelot/tree/develop/samples/OcelotServiceFabric) maybe use this as a basis if you want to use Ocelot in Service Fabric. Also docs are [here](http://ocelot.readthedocs.io/en/latest/features/servicefabric.html).

This only supports instance / state

[2018-03-03 15:54] TomPallister commented on #238
actually the client can jsut send them in the query string..there is no way ocelot can now which partition key to choose...i can make those changes..

[2018-03-03 17:10] #253 closed

[2018-03-04 10:03] #238 closed

[2018-03-05 01:07] jefferson commented on #161
It's not a simple parse from configuration.json to swagger.json?

[2018-03-05 01:22] jefferson opened #257 "Manage services through workflow ui"
It's possible to create a UI to map services e manage them through workflow?
Example, using this libray: http://sebastien.drouyer.com/jquery.flowchart-demo/#advanced

It's interesting, or viable functionality?

[2018-03-05 06:55] TomPallister commented on #161
@jefferson yes if all of your routes are defined! What if you have /{everything} :(

Any suggestions would be appreciated! Maybe we could just do a best effort!

[2018-03-05 07:02] TomPallister commented on #257
@jefferson thanks for your interest in the project! Yes this would be possible either by editing configuration.json or using Ocelots admin API. Docs for that are here http://ocelot.readthedocs.io/en/latest/features/administration.html

A few people have previously built configuration generators of various forms.

[2018-03-05 07:37] TomPallister commented on #257
Here is a previous issue that is similar https://github.com/ThreeMammals/Ocelot/issues/116 the comment by ravinsp on 23 Nov 2017 might be useful.

Here is the editor https://github.com/dbarkwell/Ocelot.ConfigEditor

[2018-03-05 09:17] TomPallister commented on #161
Ive had another look at it this morning on the train to work...I think I can get something working low effort so will do that and see how it is!

[2018-03-05 20:18] TomPallister commented on #161
OK so I have looked multiple times at building swagger.json out of the Ocelot configuration.json but it doesnt fit into the vision I have for Ocelot. If you would like to have Swagger in Ocelot then you can roll your own swagger.json and do the following in your Startup.cs or Program.cs. The code sample below registers a piece of middleware that loads your hand rolled swagger.json and returns it o

[2018-03-05 20:18] #161 closed

[2018-03-05 22:04] mjrousos opened #259 "Provide DelegatingHandler through DI"
## New Feature
Currently, all services needed for my ASP.NET Core app are provided via dependency injection except for `DelegatingHandler`s used by Ocelot. Those are explicitly created in `AddDelegatingHandler` calls.

I can make my `DelegatingHandler`s available in the DI container (`services.AddScoped<DelegatingHandler, MyCustomHandler>();`) but there's no elegant way to use DI-registered delega

[2018-03-06 06:32] TomPallister commented on #259
@mjrousos thanks for your interest in the project.

I agree with everything! Will take a look at the code and see if I can make the API provide one of the options.

[2018-03-06 12:01] binarymash opened #260 "CI - Reduce the number of build warnings"
## New Feature

Reduce the number of build warnings - work ongoing from #253

## Motivation for New Feature

We want to minimise the number of build warnings, enforce a common coding style and identify any common gotchas in the code

## Steps to Reproduce the Problem

Do a build ;)

## Specifications

n/a

[2018-03-06 15:44] SrikanthNalam opened #262 "New Feature - Is there any support with Eureka Client for Service Discovery in Pivotal Cloud Foundry with Ocelot in near by feature ?"
## Expected Behavior / New Feature
Does Ocelot has Support with Eureka for service discovery in Pivotal Cloud Foundry in near future

## Actual Behavior / Motivation for New Feautre

Right now for Service Discovery in Ocelot ,only Consul is there .When deployed in PCF we need to have the support for Eureka client.Right now that is happening with gateway
## Steps to Reproduce the Problem

  1.
  1.

[2018-03-06 19:52] mjrousos opened #263 "Content-Encoding headers are not preserved"
## Content-Encoding headers are not preserved

## Actual Behavior
Downstream requests from Ocelot do not contain Content-Encoding headers even if upstream requests do. This causes rerouted gzip-encoded requests to fail.

## Analysis
Headers are mapped in [`RequestMapper.MapHeaders`](https://github.com/ThreeMammals/Ocelot/blob/a53338312bcc1ca99a6ee901e35ac24b07079d03/src/Ocelot/Request/Mapper/Reque

[2018-03-06 23:39] TomPallister commented on #263
@mjrousos yep makes sense will look at this ASAP!

[2018-03-07 00:44] mjrousos opened #264 "Feature Request: Customize Polly policies"
## Feature Request

This isn't urgent, but it would be great if we could somehow customize Polly policies used for some reroutes. As examples, I'd like to be able to add a retry policy or change the callback used when the circuit breaker opens.

It would be easy to add my own policies in a `DelgateHandler` but then they would apply to all reroutes (which is undesirable since one bad API would open

[2018-03-07 08:51] yiluomyt opened #265 "Policy-based authorization, How to configure the policy name for the ReRoute"
## Expected Behavior / New Feature

I would like to override the AuthorisationMiddleware to use the policy-based authorization.
## Actual Behavior / Motivation for New Feautre

According to the document, now I try this way to achieve.

[code]

But how can I configure different policies for different reroutes?

Thank you

## Specifications

  - Version: V3.1.9
  - Platform: win10 x64

[2018-03-07 20:07] TomPallister commented on #260
@binarymash much appreciated, just had a quick look! Only a few things that i commented on and they are my mistakes! Would be awesome if you have time to fix it :p you thought you got away from tidying up my shit code!

[2018-03-07 20:09] TomPallister commented on #259
@mjrousos I've pushed something up that just provides a method over AddSingleton<T> with a constraint for DelegatingHandlers. I still need to tidy it up a bit and not sure about leaving AddDelegatingHandler(Func<DelegatingHandler> handler) as this is misleading because only singleton will work as we cache the HttpClients because of socket exhaustion.

Also you could just add delegating handlers in

[2018-03-07 20:13] TomPallister commented on #262
@SrikanthNalam thanks for your interest in the project! :)

I have no plans to implement this at the moment I just started a new job and I'm prioritising certain features at the moment. Maybe in the future it is something I might look at.

However if you would like to implement this yourself you could submit a PR that makes it work.

You would need to add an implementation of IServiceDiscoveryProv

[2018-03-07 21:56] TomPallister commented on #263
@mjrousos I have created a PR to fix this issue, please feel free to take a look. I've added unit and acceptance tests around the functionality. Hopefully this works properly going forward.

[2018-03-07 21:56] TomPallister commented on #264
@mjrousos Yeh this is a useful feature. I will have a look ASAP.

[2018-03-07 22:03] TomPallister commented on #265
@yiluomyt thanks for your interest in the project!! :)

You have access to the ReRoute on the ctx object. ctx.DownstreamReRoute this should give you information that you can use to decide which policy to use.

You would need a mapping between policies and ReRoutes somewhere if you used a dictionary something like this

[code]

I hope that helps!

[2018-03-08 08:05] TomPallister commented on #259
decided to remove the func way of adding handlers, through container is much better.

[2018-03-08 08:06] TomPallister commented on #263
open until release

[2018-03-08 08:07] #257 closed

[2018-03-08 13:11] yiluomyt commented on #265
It worked! Thanks for your help.

[2018-03-08 13:11] #265 closed

[2018-03-08 20:57] TomPallister commented on #260
@binarymash thanks for merging chief. Was just in the water poet near Liverpool Street. Was a Huddersfield exciles sticker in the bogs. Exciting.

[2018-03-09 07:37] TomPallister commented on #264
Basically we want ReRoute specific delegating handlers, do you agree?

So we need some way of mapping ReRoutes to handlers, the easiest way to do this would be to have an array of delegating handlers on the ReRoute in configuration.json.

Maybe on the ReRoute we have

[code]

then in Ocelot

[code]

When the http client is built for the ReRoute we pick out the delegating handlers that matched the

[2018-03-09 07:39] TomPallister commented on #259
close after release

[2018-03-09 07:53] TomPallister commented on #263
Ive just pushed version 4.0.0 that should fix this.

[2018-03-09 07:53] #263 closed

[2018-03-09 07:54] TomPallister commented on #259
Ive just pushed version 4.0.0 that should fix this. I have updated major version because I have taken away the api that passed in func.

[2018-03-09 07:54] #259 closed

[2018-03-09 14:08] mjrousos commented on #259
Looks good; thanks for the update!

[2018-03-09 14:12] mjrousos commented on #264
Yea, that would do the trick. In this model, I could put whatever custom Polly policies I want in a delegating handler and then use it with particular routes. A couple concerns, though -

* Some delegating handlers would still be useful to apply globally, so we may need a way to specify in AddDelegatingHandler if the handler should always apply or if it should only reply when requested.
* In the P

[2018-03-09 19:29] TomPallister commented on #264
Cool sounds like a plan...I’ll make sure each reroute gets its own!

[2018-03-10 20:32] TomPallister opened #268 "Flakey Test - AcceptanceTests.ConfigurationInConsulTests.should_load_configuration_out_of_consul_if_it_is_changed"
## Expected Behavior / New Feature

Test never fails

## Actual Behavior / Motivation for New Feautre

Sometimes fails when run in the whole Acceptance test suite.

## Steps to Reproduce the Problem

  1. Run all acceptance tests a few times until it fails in VS2017

[2018-03-10 20:40] TomPallister commented on #268
Not sure why this sometimes fails...

After the config is changed in consul...there is a poller that runs from Ocelot to get it every 500ms or something so we need to check that is getting the new config i guess...maybe fake consul needs warming up..not sure..i dont think it should

[2018-03-10 21:02] #264 closed

[2018-03-10 21:19] TomPallister commented on #264
@mjrousos OK ive just pushed version 5.0.0 that has changes that should let you do all of the things we talked about (hopefully). Let me know if this isn't the case.

Updated docs [here](http://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html) hopefully they make sense.

[2018-03-10 21:41] mjrousos commented on #264
Awesome; thanks! I'll check it out and let you know.

[2018-03-12 01:54] jefferson commented on #257
Hi,

I'm starting a small project to build this feature with a small initial scope: to produce static routes based on ReRoutes in configuration.json

Here is the project: https://github.com/jefferson/route-graph-visualization

[2018-03-13 03:19] zpf1989 opened #270 "UpstreamPathTemplate.Priority can be zero only when UpstreamPathTemplate is "/url""
## Expected Behavior / New Feature
Make the Priority of UpstreamPathTemplate with  value like "/goods/{url}" be zero too

## Actual Behavior / Motivation for New Feautre
First，thanks for your great job!Ocelot is realy amazing!
Here is our case:
We have several microservice,each one has its unique service key,like orders、goods.
So we set UpstreamPathTemplate in general ReRoutes like below:
	"Upstre

[2018-03-13 07:40] TomPallister commented on #270
@zpf1989 Thanks for your interest in the project. I think the only way to do this would be exposing the priority so you can configure it yourself. I think this is probably OK. I will have a look at it ASAP!

If you cannot wait then I suggest setting up specific ReRoutes for all of your endpoints rather than the /xxx/{catchAll} style!

[2018-03-13 08:53] zpf1989 commented on #270
OK，setting up specific ReRoutes for all  endpoints may increase the difficulty of maintenance，since our endpoints will be a lot，and they probably are dynamic configured in our case.
In another way,most config of endpoints in a service are the same ,
So I'd prefer the Priority exposed.
Thanks for your time!

[2018-03-13 09:38] NicoKno opened #271 "ResponderMiddleware Error: requestId: no request id"
I'm getting an error message when calling my services. Postman delivers a 404 status after that. Calling my service directly via postman is successful.

`[41m[30mfail[39m[22m[49m: Ocelot.Responder.Middleware.ResponderMiddleware[0]
requestId: no request id, previousRequestId: no previous request id, message: 1 pipeline errors found in ResponderMiddleware. Setting error response status code
Ocel

[2018-03-13 20:30] TomPallister commented on #271
@NicoKno can you paste your configuration.json here?

Also would it be possible to paste the full log from beginning to end?

[2018-03-13 20:49] TomPallister commented on #270
@zpf1989 I've just released version 5.0.1 to NuGet...when this becomes available please give it a try. You can now set the Priority. Please see updated docs http://ocelot.readthedocs.io/en/latest/features/routing.html#priority

Let me know if this doesnt work!

[2018-03-13 20:49] #270 closed

[2018-03-14 00:59] zpf1989 commented on #270
Yes,it works!
I have tried a moment ago.
Thanks again!Tnaks for your passion and fast response!

[2018-03-14 07:03] jiekexinduo opened #274 "Investigate - Cookies are not thread safe when using CookieContainer"
I have found a Bug about cookie in Ocelot ; let me describe it : I have two pc，both of them will request the  ocelot which deployed in cloud server and both of them  are in the same LAN ; then the website behind the  ocelot  will get the   cookie2 from pc1's request;  in fact the cookie2 belongs to pc2; how can i sove this problem?

[2018-03-14 07:12] Anduin2017 commented on #274
Could you please produce more information about the repro steps, I mean the process of operation to trigger this issue?

[2018-03-14 07:17] jiekexinduo commented on #274
PC1 request Server set-cookie "guid":xxxx0001;  PC2 request Server set-cookie "guid":xxxx0002; then PC1request server and bring with "guid":xxxx0001 to server ;PC2 PC1request server and bring with "guid":xxxx0002 to server;  i Capture the request bag and find  that it's write ; But when i debug in websit behind the ocelot and find that  pc1'request has "guid":xxxx0002

[2018-03-14 07:18] NicoKno commented on #271
This is the configuration I use. I obfuscated the hostname which is a service name of a docker-compose-file.

`
{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/v1/{everything}",
      "DownstreamScheme": "https",
      "DownstreamHostAndPorts": [
        {
          "Host": "<docker-service-name>",
          "Port": 5000
        }
      ],
      "UpstreamPathTemplate": "/api/v1/{ever

[2018-03-14 07:49] TomPallister commented on #271
@NicoKno thanks for the extra information! Is <docker-service-name> obfuscated or is that what you are actually setting in the DownstreamHostAndPorts.Host? If it is I'm not sure how that would work. It needs to be a valid hostname such as localhost, test.com I don't think <docker-service-name> is :o

[2018-03-14 07:57] NicoKno commented on #271
Just as I said in my last post, the hostnames are obfuscated for the sake of posting here. Normally those are service names from my docker-compose.yml where the gateway service and the services I try to call are started from.

[2018-03-14 07:58] TomPallister commented on #271
@NicoKno the error you are getting suggests that when the HttpClient calls your downstream service it is getting an exception (the logging here is absolutely useless, I will improve it). I will wait to find out about "<docker-service-name>"!

[2018-03-14 08:00] TomPallister commented on #271
@NicoKno OK thanks sorry I missed that! Can Ocelot network to the downstream services and is your https certificate valid?

[2018-03-14 08:08] NicoKno commented on #271
Ocelot is in the same docker-network just as my services. My https certificate is a self-signed one which I created and passed to each one of the services.

[2018-03-14 08:32] TomPallister commented on #271
@NicoKno I will add some extra logging so we can work this out! I’m sorry the logging is rubbish! Will try and do it tonight so you can pull a new package ASAP!

[2018-03-14 14:14] rokjank opened #275 "New Feature - find and replace on response body"
Hi,

I have an issue with the website which are hosted under the Ocelot.

I have Ocelot running on port :82 and another website on port :5000.

configuration is:
"ReRoutes": [
    {
      "DownstreamPathTemplate": "/{everything}",
      "DownstreamScheme": "http",
      "DownstreamPort": "5000",
      "DownstreamHost": "localhost",
      "UpstreamPathTemplate": "/abc/{everything}",
      "Upstream

[2018-03-14 18:33] TomPallister commented on #274
@jiekexinduo thanks for your interest in the project! Can you paste your configuration.json here and I will try and replicate the problem!

[2018-03-14 18:33] TomPallister commented on #274
@Anduin2017 thanks for helping out :)

[2018-03-14 18:45] TomPallister commented on #275
@rokjank thanks for your interest in the project! :)

Ocelot can be used in front of a website but the URLS your html returns to the browser must have the correct path in them for Ocelot. In your example your html is (although i have not seen it) returning localhost:82/css and you want it to be localhost:82/abc/css. In this case you would need to do a find and replace or something on the HttpRespo

[2018-03-14 20:04] TomPallister commented on #271
@NicoKno please can you install this package

Install-Package Ocelot -Version 5.1.0-unstable0004

Then try your request again and hopefully we should see the error. If you paste the whole it here I should be able to help more!

[2018-03-14 20:07] TomPallister commented on #275
@rokjank I should also add find and replace might break other things so may not fix your issue! It might be that you just cant do what you want with Ocelot!

[2018-03-15 01:56] jiekexinduo commented on #274
thanks for reply.I remove the ocelot and use the front web request my web api directly and it's right; so i doubt that maybe the ocelot do some otherthing caused this result. today i continue debug my code  and i found  a strange thing: when i use Request.Headers.GetCookies(“guid”) it had two guid key ,one of them belonged to  PC2; and the other is my needs; and I used the HttpContext.Current.Requ

[2018-03-15 01:56] jiekexinduo commented on #274
{

  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/sso/{everything}",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 8080
        }
      ],
      "UpstreamPathTemplate": "/sso/{everything}",
      "UpstreamHttpMethod": [ "Post", "Get", "OPTIONS" ],
      "ReRouteIsCaseSensitive": false
    }
  ],
  "GlobalConf

[2018-03-15 02:47] jiekexinduo commented on #274
I'm sorry ,I add a config of ocelot and solved this problem.UseCookieContainer:false ;  Force the httpclient not to use cookie; if you have free time ,can you explain why the httpclient request downstream with setting "UseCookies false" can  bring my upstream request's cookie to my webapi

[2018-03-15 06:48] TomPallister commented on #274
@jiekexinduo I think this is a bug I will look into it more. Ocelot caches HttpClient instances and the cookie container is also cached as part of this. When you make your request this is what causes the issue.

When you don’t use th cookie container it doesn’t matter that it caches!

[2018-03-15 07:35] TomPallister commented on #274
Will leave issue open until I can look at this to remind me!

[2018-03-15 09:22] NicoKno commented on #271
@TomPallister Thanks for the quick improvement.

This is the concrete error I get now:

`Ocelot.Responder.Middleware.ResponderMiddleware:Error: requestId: no request id, previousRequestId: no previous request id, message: Error making http request, exception: System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.CurlException: Couldn't connect to s

[2018-03-15 23:36] SrikanthNalam commented on #262
Thanks Tom Pallister.We are working on this.Will let you know the update on this

[2018-03-15 23:51] SrikanthNalam opened #277 "Does Ocelot has the support for WebSockets"
## Expected Behavior / New Feature
  @TomPallister : Could you please let us know if there is any support for Web Sockets for Ocelot right now.Right now,I see there is no documentation related this.Could you please let me know what are your plans on this ?

## Actual Behavior / Motivation for New Feature
 Spring gateway in Java has a similar feature which supports the Web Sockets.It is good to hav

[2018-03-16 06:50] TomPallister commented on #277
@SrikanthNalam not yet! Someone else has asked for this feature on #212 so I will close this issue and reference your request there.

I have been working on the feature and I got a proxy working but I'm having a hard time trying to work out how to make it testable and learning about websocket implementation!

[2018-03-16 06:50] #277 closed

[2018-03-16 06:56] TomPallister commented on #271
@NicoKno I'm not sure to be honest :( debugging docker networking can be a pain.

This might help https://deis.com/blog/2016/connecting-docker-containers-1/ or this https://stackoverflow.com/questions/41093812/how-to-get-docker-containers-to-talk-to-each-other-while-running-on-my-local-hos

I will close the issue now because I don't think this is Ocelot specific. But feel free to reopen it if you

[2018-03-16 06:56] #271 closed

[2018-03-16 15:37] simonjefford commented on #260
Warnings now 0...

Used a pragma to squash the warning about `AddBaseUrl` being obsolete as it was test code (and setup code at that). Also, I switched off package analysis to shut up the warning about the summary text (see https://github.com/NuGet/Home/issues/4587 for more).

[2018-03-16 17:46] TomPallister commented on #260
@simonjefford awesome!! Thanks 👍

AddBaseUrl is some crap that wasn't very well thought out :( I need to get rid of it but focusing on other features at the moment. We have an issue for it!

[2018-03-16 17:48] #260 closed

[2018-03-16 17:49] TomPallister commented on #260
@binarymash not sure if you want to re-open this but will leave closed for now as @simonjefford (a friend of mine from real life..yes I have two of them!) has helped out here!

[2018-03-17 03:25] zpf1989 opened #280 "New Feature - Add the traceid in the response headers"
Hi,we are using Butterfly in Ocelot for tracing.
Generally,when client request fails,we want to find the exact trace quickly.
I think it is fastest to search a trace by traceId ,because it matches only one trace.
So could you add the traceid in the response headers when using tracing before return?
Just like this below:
responseMessage.Headers.TryAddWithoutValidation("TraceId", span.SpanContext.Tr

[2018-03-17 08:06] zpf1989 commented on #280
Yeah,that's considerate!
Thanks!

[2018-03-17 11:35] #274 closed

[2018-03-17 11:36] TomPallister commented on #262
@SrikanthNalam awesome! Good luck :)

[2018-03-17 12:54] #268 closed

[2018-03-17 18:11] TomPallister commented on #52
I've got the build working on Travis for Linux and OSX with a caveat that the acceptance and intergration tests dont work properly on OSX. Something is going wrong when I start doing the crazy stuff spinning up lots of tasks / threads for various concurrency based tests. This also happens on my mac so will open a seperate issue for this,

[2018-03-17 18:11] #52 closed

[2018-03-17 18:14] TomPallister opened #285 "Acceptance / Integration tests dont work properly on Mac OSX"
## Expected Behavior / New Feature

Run all acceptance / integration tests and they pass on local mac and travis ci.

If we can get this working can turn the tests back on for osx on travis CI. See build.cake has if statement to not run them.

## Actual Behavior / Motivation for New Feautre

System starts to freeze up, tests never end, raft tests dont work

## Steps to Reproduce the Problem

  1.

[2018-03-18 15:29] TomPallister commented on #280
released in version 5.1.0

[2018-03-18 15:29] #280 closed

[2018-03-18 20:12] binarymash commented on #52
Meant to mention to you the other day that I saw that Appveyor now supports linux - at least in beta. See https://www.appveyor.com/beta/. Might have made things a bit easier!

I guess you can never have too many build systems supported, though, so if I get around to getting this working with my own stuff then I'll see what I can do here too.

[2018-03-18 21:09] TomPallister commented on #52
@binarymash yeh that would have! Thanks for th heads up! I also tried circle CI but it was a faff. I ended up copying cakes travis.yml and that worked fine!

[2018-03-20 02:08] yuleyule66 opened #287 "New Feature - Provide more detailed log"
Hello ,  I encountered some difficulties in configuring error lookups.

Can you provide more detailed content in the logging content?  like the request URL and current error configuration.

This is the current logging content :
[code]
and

[code]

When I have a lot of configuration, it's hard to find out which configuration item caused the error.

Thanks~!

[2018-03-20 08:43] TomPallister commented on #287
@yuleyule66 I agree this could be a lot better.

[2018-03-20 11:42] david-martyn-ford opened #289 "Duplicate named query strings are remove when mapping claims to query strings"
## Expected Behavior
Duplicate named query strings should be passed to the downstream service when using the claim to query string mapping.

Upstream Request: `GET: /?test=1&test=2`
Downstream Request: `GET: /?test=1&test=2&userType={value}`

## Actual Behavior
Only the first query string is mapped to the downstream service.

Upstream Request: `GET: /?test=1&test=2`
Downstream Request: `GET: /?tes

[2018-03-20 18:26] TomPallister commented on #289
@david-martyn-ford thanks for your interest in the project.

First thoughts I agree. I'll have a look at this as current priority!

[2018-03-20 21:08] #289 closed

[2018-03-20 21:09] TomPallister commented on #287
I log errors at the end of the pipeline...would make more sense to log them as they happen.

[2018-03-20 21:10] TomPallister commented on #287
@yuleyule66 what do you mean by "current error configuration"? asp.net core should indicate the type of log in the message e.g. error, debug etc

[2018-03-20 21:11] TomPallister commented on #287
Maybe add url to log context, maybe we just need some sort of log context object with all these things on...it would be nice to just log when an error object is created (hook into this somehow)

Maybe an error object pool and when you take  from it, something calls the logger, no idea just throwing ideas out!

[2018-03-21 02:40] yuleyule66 commented on #287
@TomPallister
"current error configuration" That is to say, I am currently configuring the wrong configuration item in configuration.json, such as "DownstreamHostAndPorts" to specify the wrong address or port. we can print them out when logging. I don't know if this is more difficult to implement,  just an idea !

[2018-03-21 06:28] TomPallister commented on #287
@yuleyule66 yep that makes sense, I will see if we can make it better!

[2018-03-21 14:22] david-martyn-ford commented on #289
@TomPallister Just upgraded and it is now working as expected! Really appreciate the quick turn around on this, was a big pain in the backside.

[2018-03-22 07:12] NicoKno commented on #271
Just for the sakes of completeness. I got it working. It was a combination of https and docker networking. I used the externally mapped port of my docker-service, which is not necessary if the gateway runs in the same docker-network, you just use the port which is exposed internally by the specific docker-container.
The other thing was, that I tried to forward the incoming https requests as https

[2018-03-22 22:32] SrikanthNalam commented on #212
@TomPallister. Any further update on this regarding the implementation of Web-sockets in Ocelot Package ?

[2018-03-23 07:35] TomPallister commented on #212
@SrikanthNalam I have something working that takes the websocket request and sets up a proxy with a downstream server also listening for websockets. Basically a websockets proxy. Is this what you are looking for?

[2018-03-24 10:00] TomPallister commented on #212
Just released version 5.3.0 that has the websockets proxy support...check out the docs http://ocelot.readthedocs.io/en/latest/features/websockets.html

[2018-03-24 10:00] #212 closed

[2018-03-25 08:14] geffzhang commented on #227
https://andrewlock.net/understanding-your-middleware-pipeline-with-the-middleware-analysis-package/#addingacustomnameforanonymousmiddleware
app.Properties["analysis.NextMiddlewareName"] = "NanoFabric.Ocelot";  Only one of them can be modified

[2018-03-26 02:30] guoming opened #293 "Unhandled Exception: Consul.ConsulRequestException: Unexpected response, status code InternalServerError: rpc error: connection is shut down"
## Steps to Reproduce the Problem

Unhandled Exception: Consul.ConsulRequestException: Unexpected response, status code InternalServerError: rpc error: connection is shut down
   at Consul.GetRequest`1.<Execute>d__5.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.Compil

[2018-03-26 07:49] TomPallister commented on #293
@guoming Thanks for your interest in the project :) I have a few questions that will help work out what the problem is.

Is your consul instance accessible?

Can you see the object with key "OcelotConfiguration" in your consul KeyValue store?

Please could you paste your configuration.json and startup.cs / program.cs files?

[2018-03-27 19:36] darnoldi opened #294 "Jwt claims based auth example. No client auth required."
Thanks for all the hard work you have been putting into this project.

Is there a simple example available with the following scenario:

Client app does not need to be authorized.
There is a simple custom jwt service available using default jwt middleware. Tokens include claims.
Client posts login creds to /login endpoint which ocelot proxies to auth service. Token is returned via ocelot to client

[2018-03-28 05:31] toby2o12 opened #295 "New Feature - Support Consul ACL token"
consul server is enbled acl.
how did set consulclient configuration token field?

[2018-03-28 05:55] TomPallister commented on #295
@toby2o12 Thanks for your interest in the project. I don't think this feature is supported at the moment.

This is something we can definitely add. If you would like to do it yourself and submit a PR let me know and I will give you advice on how to complete the feature.

[2018-03-28 05:59] TomPallister commented on #294
@darnoldi thanks for your interest in the project! :) Have you read the documentation around [authentication](http://ocelot.readthedocs.io/en/latest/features/authentication.html). This shows you how you can use your tokens with Ocelot.

Check out the Authentication aceptance tests https://github.com/ThreeMammals/Ocelot/blob/develop/test/Ocelot.AcceptanceTests/AuthenticationTests.cs they show how y

[2018-03-28 06:58] Basil1991 commented on #295
+1，Need it too.

[2018-03-28 07:11] darnoldi commented on #294
Thanks for the quick response.

I think what I am battling to understand the most is:

My ConfigureServices for my auth service is
` public void ConfigureServices(IServiceCollection services)
        {
            // ===== Add our DbContext ========
            services.AddDbContext<AuthDbContext>();

            // ===== Add Identity ========
            services.AddIdentity<IdentityUser, Identit

[2018-03-28 07:14] darnoldi commented on #294
If it helps, my code is here: https://github.com/darnoldi/ShoesOnContainers

Thanks again

[2018-03-28 07:15] darnoldi commented on #294
If it helps, my code is here: https://github.com/darnoldi/ShoesOnContainers

Thanks again

[2018-03-28 17:32] TomPallister commented on #294
@darnoldi are you still having problems? I took a quick look at your code and it seems OK.

This part sets up the authentication provider (middleware)

[code]

and you are using the authentication provider (middleware) here..

[code]

With this setup any requests of type POST to "/" on Ocelot must pass through the authentication provider. In your case you are using a JWT provider which means the r

[2018-03-29 03:15] AaronFixer opened #296 "New Feature - Merge configuration files"
## Expected Behavior / New Feature
This may already be a feature but I see no mention of it in the documentation and it isn't working in my project.

It would be good to support multiple .json files, potentially with better naming conventions. I have an app with a number of services and routes, and it would be nice to separate them out into dedicated files rather then have one huge `configuration.

[2018-03-29 06:48] TomPallister commented on #296
@AaronFixer thanks for your interest in the project!

This feature isn't supported yet I will but it on the backlog but if you would like to have a go yourself please feel free to submit a PR.

There are a couple of considerations here.

1. Ocelot uses configuration.json as a database so a solution would need to take multiple files and merge them into configuration.json or have a second file that

[2018-03-29 06:53] TomPallister commented on #227
@geffzhang I have fixed the issue where tracing stopped working and cleaned up trace names. They now look like this:

[code]

What do you think? Is that OK?

[2018-03-29 07:03] AaronFixer commented on #296
For me this is definitely something I think I (and many others) could potentially benefit from with large projects wanting to use a Gateway!

I'll have to do this in my spare time, although I don't imagine it should take too long.

1 and 3 both work. 3 is something I could just use for the time being as a workaround. I'll see if I get a chance to work on a PR for 1. in the meantime.

Thanks for ge

[2018-03-29 07:59] darnoldi commented on #294
Thanks for the feedback, I will play around a bit more and get back to you.

[2018-03-29 08:50] skg170383 commented on #79
Hi - I am trying to use the "Aggregation feature" of Ocelot but its throwing an error -

"ERROR|Ocelot.DownstreamRouteFinder.Middleware.DownstreamRouteFinderMiddleware|DownstreamRouteFinderMiddleware setting pipeline errors. IDownstreamRouteFinder returned Error Code: UnableToFindDownstreamRouteError Message: UnableToFindDownstreamRouteError : OcelotRequestId - not set
2018-03-29 14:04:49.3305||ER

[2018-03-29 22:31] TomPallister commented on #296
Yep I agree this would be a useful feature! If you don't get round to it its on my list and I expect to do it in the next months or so.

[2018-03-30 06:52] TomPallister commented on #79
@skg170383 thanks for your interest in the project! Can you try removing UpstreamHost from your aggregate config and see if that makes a difference?

[2018-03-30 07:19] skg170383 commented on #79
I tried removing UpstreamHost  but got the same error.

2018-03-30 12:46:33.6518||ERROR|Ocelot.DownstreamRouteFinder.Middleware.DownstreamRouteFinderMiddleware|DownstreamRouteFinderMiddleware setting pipeline errors. IDownstreamRouteFinder returned Error Code: UnableToFindDownstreamRouteError Message: UnableToFindDownstreamRouteError : OcelotRequestId - not set
2018-03-30 12:46:33.6518||ERROR|Ocel

[2018-03-30 07:56] TomPallister commented on #79
@skg170383 I think I can see the problem now.

Please try this configuration.json

[code]

I think it's because you are not using

[code]

This is the way of setting config in Ocelot now! Can I ask where did you find your example?

[2018-03-30 07:59] maartenmensink opened #298 "New Feature - Advanced Request Aggregation"
First of all thanks for the effort you guys put in the awesome project!

##  New Feature: Advanced Request Aggregation
A more advanced version of the Request Aggregation Feature to allow smarter composition of multiple request and or subsequent request.

## Motivation for New Feautre

One of the problems developers face when developing applications that talks to microservices is that you will get

[2018-03-30 12:19] geffzhang commented on #227
That's great

[2018-03-30 12:35] TomPallister commented on #298
@maartenmensink thank you very much for your interest in the project.

I agree with you, we need a better / smarter way to do request aggregation.

I like your approach so let's leave this issue open and I will get to it at some point. If you would like to have a go yourself I am very happy to accept PRs and support / advise in the implementation.

Once again thank you very much! 😄

[2018-03-30 12:38] TomPallister commented on #227
@geffzhang cool! Is there anything else that you would like to see in the trace? I guess we could put everything into the log but that might be expensive in terms of serialisation but I don't really know to be honest!

[2018-03-31 05:45] skg170383 commented on #79
Hi Tom-
 I tried the exact configuration.json what you provided, but I still get the error. In fact the earlier .json was at least giving individual responses from the routes

For example - http://localhost:9000/customers
                       http://localhost:9000/products

But now this individual urls do not respond. Have attached log file for your reference.
Kindly help !!Awaiting reply. I hav

[2018-03-31 07:09] TomPallister commented on #79
@skg170383 mmmm this is very strange that config worked fine for me :( what version of Ocelot are you using?

[2018-03-31 08:31] geffzhang commented on #227
It's really expensive to put everything in. As a distributed tracking, that's clear.

[2018-04-01 05:21] skg170383 commented on #79
I am using 2.0.1.Do you have any suggestion... Kindly help

[2018-04-01 14:24] skg170383 commented on #79
Thanks a lot for all the help !! It works with 5.3.0.
Looking forward to try out other features available.

[2018-04-01 14:43] TomPallister commented on #79
@skg170383 no problem, glad it worked! :)

[2018-04-01 14:43] #79 closed

[2018-04-02 09:18] zlzforever opened #299 "Dose ConsulServiceDiscoveryProvider request the services' register info by consul http api for each http request?"
public async Task<List<Service>> Get()
        {
            var queryResult = await _consul.Health.Service(_consulConfig.KeyOfServiceInConsul, string.Empty, true);

            var services = new List<Service>();

            foreach (var serviceEntry in queryResult.Response)
            {
                if (IsValid(serviceEntry))
                {
                    services.Add(BuildService(s

[2018-04-02 11:06] zlzforever commented on #299
And the second issue: Consul down cause Ocelot down? May we need a reroute configuration cache.

[2018-04-02 15:31] TomPallister commented on #299
@zlzforever thanks for your interest in the project!  Consul should run as a sidecar so there is no network traffic. I'm not sure what the cost of calling localhost (quick google didnt find much) is but i think its minimal as this is how Consul is designed.

There is another Ocelot feature that stores the configuration in Consul and that uses a poller and has a cache so it doesnt matter if Consul

[2018-04-02 18:40] TomPallister commented on #227
OK just released these changes in 5.3.1

I hope that it all works OK! Let me know if there are any problems.

[2018-04-02 18:40] #227 closed

[2018-04-04 01:46] jrlygdsj opened #300 "Ocelot's router fails"
We try to use Ocelot in centos, but find that Ocelot's router fails after a period of time. The specific phenomenon is normal this day, but not for the second day in the morning. the host site of Ocelot is alive, and the logs do not record the error log.It's normal if we restart Ocelot's host site. What kind of timeout control does it feel like? The ocelot configuration part is screenshot as follo

[2018-04-04 05:26] TomPallister commented on #300
@jrlygdsj thanks for your interest in the project!

When you say the router fails do you mean a request to ocelot hangs and never returns?

Sounds like it might be something like this issue https://medium.com/@mshanak/soved-dotnet-core-too-many-open-files-in-system-when-using-postgress-with-entity-framework-c6e30eeff6d1

In this article they suggest increasing log levels for the supervisor which m

[2018-04-05 13:47] JCelento commented on #295
@TomPallister I would like to help, how can I complete the feature?

[2018-04-05 18:06] TomPallister commented on #295
@JCelento awesome :)

I haven't looked at how to do this yet but my guess would be the following class needs to pass the key to Consul?

https://github.com/ThreeMammals/Ocelot/blob/develop/src/Ocelot/ServiceDiscovery/Providers/ConsulServiceDiscoveryProvider.cs

I would add the key to FileServiceDiscoveryProvider and call it Key so other things might be able to use the same property.

Map this onto

[2018-04-06 22:32] #293 closed

[2018-04-06 22:33] TomPallister commented on #294
Closing as no activity, feel free to reopen :)

[2018-04-06 22:33] #294 closed

[2018-04-06 22:33] TomPallister commented on #299
Closing as no activity, feel free to reopen

[2018-04-06 22:33] #299 closed

[2018-04-06 22:34] TomPallister commented on #300
Closing as no activity, please reopen :)

[2018-04-06 22:34] #300 closed

[2018-04-07 11:04] TomPallister commented on #287
close after release

[2018-04-07 21:11] TomPallister commented on #287
logging improved in version 5.5.0

[2018-04-07 21:11] #287 closed

[2018-04-08 06:24] dasajia2lang opened #304 "Request Aggregates Response Is not a Standard Json"
## Expected Behavior / New Feature
if a key.s response is a string not a object ,zhen the Aggregates responses a not a standdard json .
the string response has miss  double quotation marks。

## Actual Behavior / Motivation for New Feautre

## Steps to Reproduce the Problem

  1.{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/demoApi1/values/{id}",
      "DownstreamScheme": "http",

[2018-04-08 06:44] dasajia2lang opened #305 "when i used the code to test ,It is not function on app.ApplicationServices.GetServices<IFileConfigurationSetter>()"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feautre

## Steps to Reproduce the Problem

  1.app.ApplicationServices.GetServices<IFileConfigurationSetter>(),when code runing here,it is error ,

Unable to resolve service for type 'Microsoft.AspNetCore.Hosting.IWebHostBuilder' while attempting to activate 'Ocelot.Middleware.BaseUrlFinder
  2. at Microsoft.Extensions.De

[2018-04-08 07:56] TomPallister commented on #305
@dasajia2lang thanks for your interest in the project! What version of Ocelot are you using?

[2018-04-08 10:16] TomPallister commented on #304
@dasajia2lang thanks for your interest in the project, I will take a look at this asap!

[2018-04-08 11:28] dasajia2lang commented on #305
I pull the lastest code from git。the branch is master。date is 2018-4-8

[2018-04-08 11:29] dasajia2lang commented on #305
@TomPallister ， I pull the lastest code from git。the branch is master。date is 2018-4-8

[2018-04-08 11:38] Rajivhost opened #306 "Graphql support"
Hi,
Any plan to provide a Graphql support?

[Reference](https://stackoverflow.com/questions/44416904/use-kong-as-api-gateway-to-graphql-rest-services)

Best regards,
Rajiv.

[2018-04-08 12:03] TomPallister commented on #305
@dasajia2lang The error you are getting suggests that BaseUrlFinder has a dependency on IWebHostBuilder (which it used to do in previous versions of Ocelot). If you look at the code you have cloned and are using does BaseUrlFinder take IWebHostBuilder  in it's constructor?

You can see the current code [here](https://github.com/ThreeMammals/Ocelot/blob/master/src/Ocelot/Middleware/BaseUrlFinder.cs

[2018-04-08 12:08] TomPallister commented on #306
@Rajivhost It is something I have considered but I think GraphQL is a separate concern to API Gateway.

If you want to use GraphQL with Ocelot I would suggest having Ocelot forward requests to another service running GraphQL. In this way you can use Ocelot's cross cutting features such as authorisation, authentication etc and the power of GraphQL to find and aggregate data.

Ocelot does have a ver

[2018-04-08 12:11] TomPallister commented on #295
@JCelento I'm going to start working on this now, just wanted to let you know in case you started :)

[2018-04-08 14:55] TomPallister commented on #295
will close after new package released

[2018-04-08 16:43] TomPallister commented on #295
Can add ACL token in version 5.5.1 (just released). Please see docs [here](http://ocelot.readthedocs.io/en/latest/features/servicediscovery.html#acl-token)

[2018-04-08 16:43] #295 closed

[2018-04-08 17:02] TomPallister commented on #304
@dasajia2lang This is currently how the feature is intended to work. If you have a look at the docs [here](http://ocelot.readthedocs.io/en/latest/features/requestaggregation.html#gotcha-s-further-info) it should make sense.

Basically the basic request aggregation only works with services that return JSON.

I intend to improve this functionality and you can track the progress in issue #298.

[2018-04-08 17:05] TomPallister commented on #298
I think I will make it so you have to configure the aggregates and reroutes but you will be able to provide the implementation that maps the reroutes into the reponse. Interface might be something like..

[code]

[2018-04-09 02:35] dasajia2lang commented on #305
@TomPallister ，yes，the BaseUrlFinder is  constructor is depenency the IWebHostBuilder. I cloned the master branch today ,the code is right .thank you for you answer!!

[2018-04-09 06:38] maartenmensink commented on #298
I think if we have a way to configure all scenario's this would be a great way to quickly expand the gateway api. If we could support scenarios like the following scenario.

Customer is placing a order at webshop. Customer retrieves the basket and you want to return product suggestions for all the products in the current basket.

/basket

gives you the current basket

[code]

/suggestions?productI

[2018-04-09 08:17] #305 closed

[2018-04-09 08:17] TomPallister commented on #305
No problem :)

[2018-04-09 08:41] Burnaster opened #309 "Downstream skip SSL/certificate validation per configuration"
## Expected Behavior / New Feature
Using ocelot in a development/test environment without valid certificates / self signed certificates failes with:
System.Net.Http.CurlException: Peer certificate cannot be authenticated with given CA certificates

## Actual Behavior / Motivation for New Feautre
It would be nice to turn off SSL/certificate validation eather per route or globally.

[code]
Which wou

[2018-04-09 12:24] TomPallister commented on #309
@Burnaster Thanks for your interest in the project. I think you can just do this in your startup.cs / program.cs

[code]

let me know if that doesn't help!

[2018-04-09 12:41] Rajivhost commented on #306
@TomPallister like you suggest, I was thinking use Ocelot to forward requests, the problem is Ocelot should expose just one endpoint "/graphql" in order to my client apps use graphql. With this unique endpoint, it's hard for me to redirect request to differents microservices behind the Api-gateway.

[2018-04-09 14:41] Burnaster commented on #309
@TomPallister Could it be that the behaviour on linux is different?

Error making http request, exception: System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.Http.CurlException: SSL connect error
at System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)
...

[2018-04-09 18:43] TomPallister commented on #309
@Burnaster it looks like it is supported [here](https://docs.microsoft.com/en-us/dotnet/api/system.net.servicepointmanager.servercertificatevalidationcallback?view=netcore-2.0). Does it not work for you?

[2018-04-09 18:45] TomPallister commented on #306
@Rajivhost can you explain your target architecture more? If you are using GraphQL will you not have one endpoint anyway e.g.

Ocelot => GraphQL => n services

Does that make sense?

[2018-04-10 12:26] Burnaster commented on #309
@TomPallister unfortunately it did not. But also the validation callback on the HttpClientHandler did not work. Im still a bit confused with the use of dotnet core on linux and cURL to handle HttpClient requests.

To not be blocked, i use http on the ocelot api gateway. But i will update this issue if i find out something worth shareing.

[2018-04-11 07:00] TomPallister commented on #298
Ive started hacking around in #310 will try make this nicer...it would allow you to do the scenario above but is clunky...for me there is tradeoff between clunky + what a user needs to hand roll themselves vs cleaner, less hand roll, less functionality.

[2018-04-12 09:49] WindowAzure opened #311 "performance question"
## Expected Behavior / New Feature
Does Ocelot stress the performance? If the gateway performance becomes the biggest bottleneck in microservices, it is very embarrassing. Does the author have any subsequent plans for performance improvement? Looking forward to your reply, thank you!

## Actual Behavior / Motivation for New Feautre
Our team is planning to build microservices with Ocelot+consul, so

[2018-04-12 11:25] SivakumarShan commented on #262
Hi Tom, I have implemented Eureka Service Discovery in Ocelot and expecting your comments before merging the changes.
DependencyInjection/OcelotBuilder.cs
`// Steeltoe Service Discovery Implementation
            if (configurationRoot.GetSection("GlobalConfiguration:ServiceDiscoveryProvider").Key !=null &&
                configurationRoot.GetValue<string>("GlobalConfiguration:ServiceDiscoveryProv

[2018-04-12 16:29] TomPallister commented on #262
@SivakumarShan good stuff :)

I've had a look and think that you can implement this without having to change Ocelot at all.

If you are using the latest version of Ocelot 5.5.1 then you can do the following....

[code]

This creates a delegating handler that will use the IDiscoveryClient stuff. Then to tell Ocelot to use you can do the following in your configure either in startup or program.cs

[

[2018-04-12 16:31] TomPallister commented on #311
@WindowAzure Ocelot doesn't have any known performance problems.

If you are using console logging with info/trace then the performance will be bad.

Perhaps @geffzhang can comment on Ocelot performance to reassure? In testing Ocelot adds minimum overhead to normal call to downstream service.

It is worth noting Ocelot doesn't really do any I/O apart from call service and this is usually the reaso

[2018-04-12 16:35] #304 closed

[2018-04-12 16:48] #306 closed

[2018-04-12 19:26] TomPallister commented on #275
decided not to do this, easy feature could be done with DelegatingHandler

[2018-04-12 19:26] #275 closed

[2018-04-12 20:00] TomPallister commented on #298
@maartenmensink I have thought about the feature you need and can't think of a better way to implement it that GraphQL.

To clarify in your scenario you want to retrieve the customers basket and use the products in the basket offer them suggestions.

Ocelot doesn't really have a concept of proper types, it just pushes http (strings) around really. In order for Ocelot to be able to get the basket,

[2018-04-12 20:00] #298 closed

[2018-04-13 11:18] FelixBoers opened #313 "New Feature - Add custom HTTP Header"
It should be possible to configure custom HTTP header with static values (without transformation!) for both the downstream response and the upstream request. Currently it's only possible to set them for the downstream response (see #280).

Sample configuration:

[code]

If the header is sent in the origin request then it gets overwritten.

Related to #280

**Checklist**
- [x] Write some tests
- [x

[2018-04-14 05:42] TomPallister commented on #313
@FelixBoers thank you so much for this contribution! Really nice to get some help 😄

Will close the issue now I merged the PR!

[2018-04-14 05:42] #313 closed

[2018-04-15 12:24] geffzhang commented on #311
Ocelot has no big performance bottleneck. The biggest problem with Ocelot's performance is HttpClient. This is about to be solved in the .NET Core 2.1 version.

[2018-04-15 16:29] TomPallister commented on #311
Agreed! I'm looking forward to 2.1. I will close this issue now!

[2018-04-15 16:29] #311 closed

[2018-04-15 16:43] Rajivhost commented on #306
Thank you @TomPallister for this example.

[2018-04-15 16:47] Rajivhost commented on #306
How do you handle this kind of scenrio where you can replace GraphQL as API Gateway by Ocelot.
![image](https://user-images.githubusercontent.com/3539984/38780852-b436a066-40d4-11e8-833e-f4b16cf2617c.png)

Best regards,
Rajiv

[2018-04-15 17:02] TomPallister commented on #306
@Rajivhost I would not advise replacing GraphQL with Ocelot.

GraphQL is for aggregating data
Ocelot is an API Gateway

However if you really want to do this. Like I have shown in the sample project you would need to have all your GraphQL logic into the same application as Ocelot. Then call your GraphQL logic with a DelegatingHandler.

This would allow you to use Ocelot for authorisation, authenti

[2018-04-16 06:00] TomPallister commented on #309
@Burnaster try this article https://www.humankode.com/asp-net-core/develop-locally-with-https-self-signed-certificates-and-asp-net-core

Self signed should work, I guess you need to get your computer to trust the certificate still.

[2018-04-16 13:10] handashuai opened #315 "据说 腾讯要用？"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feautre

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-04-16 13:10] handashuai commented on #309
我也想问，怎么加载 https

[2018-04-16 15:32] Rajivhost commented on #306
@TomPallister ok, I think I will do like you suggest. Let Ocelot handles all the authorisation, authentication, caching etc parts and make Routing to the microservices behind manually.
Thank you.

[2018-04-16 17:49] TomPallister commented on #306
@Rajivhost good luck!

[2018-04-16 17:49] TomPallister commented on #309
Maybe the new 2.1 handler will fix this issue.

[2018-04-16 23:54] geffzhang commented on #315
see Customers：https://customers.microsoft.com/en-us/story/tencent-telecommunications-dotnetcore

[2018-04-17 08:43] SivakumarShan commented on #262
Hi Tom,
Thanks for your guidance on using the above approach. I thought we can integrate the Eureka Service Discovery in Ocelot, so anyone can use it in future based upon their need.

I followed the above approach and have added UseDiscoveryClient() and AddDiscoveryClient() in my Startup class. But I'm getting an exception that "The request message was already sent. Cannot send the same request me

[2018-04-17 10:36] BowAngel opened #318 "About request Timeout"
I have a question for timeout:

We have a back-end reporting service and it will execute the request slowly. One of its actions will cost about 2 minutes and I find an issue that this action will return HTTP 404. I check the service's logs and find the reason is Ocelot will cancel to wait so long time and return 404 when it waits after 1 minute 30 second.

I think this behavior is right for protec

[2018-04-17 18:27] #315 closed

[2018-04-17 18:29] TomPallister commented on #315
Not sure what this issue is about the title translates to "It is said that Tencent wants to use" in google translate. Please re-open if there is actually anything that needs help etc!

[2018-04-17 18:30] TomPallister commented on #309
@Burnaster btw did you ever test to see if this works when calling your service without Ocelot? E.g. just using a console app using HttpClient for example?

[2018-04-17 18:41] TomPallister commented on #318
@BowAngel thanks for your interest in the project :)

This is a really good question! I don't know how this works. I will look into it and get back to you ASAP.

Don't worry about your slow service :) I have been doing this job long enough to know we all have to deal with legacy :) I make most of it hehehe

[2018-04-17 20:30] TomPallister commented on #262
@SivakumarShan If you submit a pull request between your fork and Ocelot's develop branch I will be able to work this out a bit easier.

My best guess is something to do with the order delegating handlers have been registered.

[2018-04-17 21:08] TomPallister commented on #296
@AaronFixer Ive merged a change that lets you have multiple configuration files..the docs for this are [here](http://ocelot.readthedocs.io/en/latest/features/configuration.html#merging-configuration-files). Can you let me know if you have any suggestions or this meets you use case before I release the change to NuGet?

[2018-04-18 07:27] Burnaster commented on #309
@TomPallister no i did not test that. as mentioned earlier i plan to do additional tests on multiple platforms/frameworks.

[2018-04-18 07:31] TomPallister commented on #309
@Burnaster cool, might be worth test to see if this is an Ocelot problem, I will have a try myself when I get a chance!

[2018-04-18 13:38] SivakumarShan commented on #262
@TomPallister I'm unable to push the code changes to the Developer branch. I'm getting the below error.

could not read Username for 'https://github.com': terminal prompts disabled
Pushing to https://github.com/ThreeMammals/Ocelot.git

Should I have the access to push my changes to repo?

[2018-04-18 14:05] TomPallister commented on #262
@SivakumarShan you need to follow this process

1. https://help.github.com/articles/fork-a-repo/
2. https://help.github.com/articles/creating-a-pull-request-from-a-fork/

Unfortunately you cannot push code straight to Ocelot!

[2018-04-18 17:02] SivakumarShan commented on #262
Thanks @TomPallister I have created a PR with my approach. Please have a look at it.

[2018-04-18 17:25] TomPallister commented on #318
@BowAngel so it turns out there was a difference in the timeouts. We have the normal HttpClient timeout which is always active, and defaults to 90 seconds (from my investigations). We also have the QoS stuff that is really just a Polly policy attached to a DelegatingHandler.

I changed Ocelot so that the HttpClient would also respect QoSOptions.TimeoutValue. You can now safely use this to say a Re

[2018-04-18 17:58] TomPallister commented on #262
@SivakumarShan cool, I'm taking a look now.

I have started with the following code https://github.com/ThreeMammals/Ocelot/commit/8532a5b5201363d58c169536291ac16bf2e70ae6 which is just going to try and use Steeltoe.

However I get an error when Ocelot starts because I don't have whatever service running that Eureka / Steeltoe / Pivotal needs to work. Do you know where I can get this for local deve

[2018-04-18 18:31] SivakumarShan commented on #262
Hi @TomPallister you can create a local Eureka Server by pulling the docker image from https://hub.docker.com/r/steeltoeoss/servers/

Steeltoe Service Discovery -
https://steeltoe.io/docs/steeltoe-discovery/

[2018-04-18 19:37] TomPallister commented on #262
@SivakumarShan cool thanks, ill give this a go asap!

[2018-04-19 05:01] darting opened #322 "Support sticky sessions for load balancer"
Hi there,

Does Ocelot support sticky session for load balance? And how to configure it?

Thanks

[2018-04-19 05:45] TomPallister commented on #322
@darting thanks for your interest in the project. At the moment Ocelot does not have any specific support for sticky sessions.

[2018-04-19 06:30] darting commented on #322
hi @TomPallister, do you have any plan to support it? :)

[2018-04-19 06:35] TomPallister commented on #322
@darting I’m not sure, Ocelot has a load balancer abstraction so using some kind of identifier it shouldn’t be too hard. How would you want this to work?

[2018-04-19 06:40] darting commented on #322
I think should be same with haproxy

https://www.haproxy.com/blog/load-balancing-affinity-persistence-sticky-sessions-what-you-need-to-know/

[2018-04-19 06:43] TomPallister commented on #322
@darting OK Ill take a look ASAP!

[2018-04-19 06:44] darting commented on #322
thanks :)

[2018-04-19 07:02] TomPallister commented on #296
@AaronFixer no worries, Ive just released this in 5.5.3, hopefully its OK, if not let me know and re-open issue!

[2018-04-19 07:02] #296 closed

[2018-04-19 07:03] TomPallister commented on #318
@BowAngel HttpClient was not using QoS TimeoutVale as its timeout setting so this would not have worked for you in previous version.

I have just released version 5.5.3 that has a fix for this issue so if you get that it should work. I have updated the docs [here](http://ocelot.readthedocs.io/en/latest/features/qualityofservice.html) this should explain how it all works!

[2018-04-19 07:03] #318 closed

[2018-04-19 19:14] Burnaster commented on #309
@TomPallister I did some early tests. I executed my test program (see below) on a windows 10 64bit and on a cloud foundry app (cflinuxfs2: see https://github.com/cloudfoundry/cflinuxfs2) to call a untrusted HTTPS with a GET request. One time using the ServerCertificateCustomValidationCallback on the  ServicePointManager callback and one time using it on a HttpClientHandler.

System | Method | Outc

[2018-04-20 07:03] TomPallister commented on #262
@SivakumarShan I’ve had a good look at this and we won’t be able to use the delegatinghandler approach because of how ocelot and eureka work. I will work on this issue now as it’s quite complicated with what needs to happen.

[2018-04-20 07:07] TomPallister commented on #309
@Burnaster thanks for this testing. This is also what I see. I need to expose the handler in some way from Ocelot for it to work with I trusted SSL. Though I’m not sure if giving that option is a good idea. What do you think? Is it not possible to get your certificate trusted so SSL works normally?

[2018-04-20 07:11] TomPallister commented on #322
@Burnaster take a look at ILoadBalancer and it’s implementations. Also look at the load balancing middleware. You might be able to do the work here with a new load balancer.

All the requests get a guid from asp.net HttpContext.TraceIdentifier already!

[2018-04-20 10:14] dasajia2lang opened #323 "How can I change the port when I used the Administration API"
## Expected Behavior / New Feature

when I used the admin Api,bind the path http://localhost:57063,not the 5000,I succeed to get a token,but when I want to get the config, it it error.  where is it I must change the default port 5000?

WebHost.CreateDefaultBuilder(args)
                .UseStartup<Startup>().UseUrls("http://localhost:57063")

## Actual Behavior / Motivation for New Feautre

## Ste

[2018-04-20 19:59] TomPallister commented on #262
@SivakumarShan I have made the changes for this to work, you can see them [here](https://github.com/ThreeMammals/Ocelot/pull/324). I will probably merge & release them tomorrow if I get a chance. Let me know if you have any suggestions.

[2018-04-20 20:02] TomPallister commented on #323
@dasajia2lang this is in the global configuration BaseUrl

[code]

Hope this helps!

[2018-04-21 07:08] TomPallister commented on #262
@SivakumarShan @SrikanthNalam I have just released this feature in version 5.5.4 please check it out and let me know if it works. Docs are here http://ocelot.readthedocs.io/en/latest/features/servicediscovery.html

[2018-04-22 09:00] TomPallister commented on #309
@Burnaster I have done a quick change for ignoring SSL warnings, you can see it [here](https://github.com/ThreeMammals/Ocelot/pull/325) if you want to make sure it works. I have tested and am confident it does ;) There are even some acceptance tests for it now!

[2018-04-22 11:28] TomPallister commented on #309
@Burnaster I have released this change in version 5.5.5 so you should be able to ignore ssl errors now. Let me know if you still have problems.

[2018-04-22 11:28] #309 closed

[2018-04-22 11:29] TomPallister commented on #323
Going to close the issue, let me know if still have problems.

[2018-04-23 01:07] charithsoori opened #326 "Feature request : Key/Value format Json button"
When the user clicks, a button JSON will be formatted to improve readability.

Requirement.
I recently enabled hosting OcelotConfiguration file in consul Consul  using following code
[code]
Generated keyvaue node under OcelotConfiguration is not formatted in UI.

[2018-04-23 05:38] TomPallister commented on #323
@dasajia2lang I’m not sure, how does the authorization header look?

[2018-04-23 06:11] dasajia2lang commented on #323
@TomPallister ,Authorization:Bearer {{token}},this is the format.my get method is ok,

[2018-04-23 07:12] TomPallister commented on #323
@dasajia2lang if you set logging level to trace, can you paste the log here?

[2018-04-23 07:16] TomPallister commented on #326
@charithsoori thanks for your interest in the project!

I cannot add a button but I can change Ocelot so it always stores the JSON indented and this will achieve what you want.

[2018-04-23 11:42] shah-keyur opened #327 "Need help regarding Request ID / Co-relation Id"
Need help regarding Request ID / Co-relation Id

My flow will be like this
**Request from Postman -> Service 1(GetYears)(via API Gateway) ->( Rest call to API gateway )->Service 2(GetMakes)->Response**

I want the co-relation Id to be same and logged in each service.

How can I achieve it?

My config is like
"GlobalConfiguration": {
    // It is use to configure the Co-Relation Id/ RequestId  for

[2018-04-23 16:19] TomPallister commented on #262
@SivakumarShan Ocelot doesn't need to use the DiscoveryHttpClientHandler so I won't be using it. We use the IDiscoveryClient directly.

Ocelot doesn't need to register with Eureka in order to get services from it so it doesn't need to be set to true.

[2018-04-23 17:56] SivakumarShan commented on #262
@TomPallister I meant, there are two properties in eureka service Registry/Discovery. By default both the properties are true. So in-order to ensure Ocelot is discovering the service, we need to set the **"shouldRegisterWithEureka": false** and automatically **shouldFetchRegistry** will be set to true.

And also, I'm trying to understand the approach which you implemented through EurekaServiceDisc

[2018-04-23 19:28] TomPallister commented on #262
@SivakumarShan shouldRegisterWithEureka is already set to false in the documentation. I have linked to the Eureka documentation for that though. It's not really Ocelot concern. Is that OK?

OK let me know how your testing goes....hopefully it will work.

All I have done is use the IDiscoveryClient directly instead of the HttpHandler they provide.

[2018-04-23 19:37] TomPallister commented on #262
@SivakumarShan sorry I have checked the documentation now you are correct! I'm not sure why it is wrong :( will fix!

[2018-04-24 07:35] shah-keyur commented on #327
@TomPallister ,

One more thing,

Request->Postman->Service1.GetYears() -> Service2.GetMakes()

**Log for service1.GetYears() is**

dbug: Ocelot.Errors.Middleware.ExceptionHandlerMiddleware[0]
      => ConnectionId:0HLD9LTVL850A => RequestId:0HLD9LTVL850A:00000001 RequestPath:/vs/v1/vehicle/years
      requestId: no request id, previousRequestId: no previous request id, message: ocelot pipeline st

[2018-04-24 07:37] TomPallister commented on #327
@shah-keyur this is strange!!

Where is Ocelot in this  Request->Postman->Service1.GetYears() -> Service2.GetMakes() ?

[2018-04-24 07:38] TomPallister commented on #326
will close after next release

[2018-04-24 07:48] shah-keyur commented on #327
Hi @TomPallister ,

Sorry,
Let me write it in better way.

Request ->Postmat-> Service1.GetYears() (Via Api Gateway -Ocelot) -> Call to service2.GetMakes(using Rest call from client library via APi Gateway)-> response.

I want to track the request in service1.GetYears and service2.GetMakes with same co-relation id.

Hope this helps to understand what I am looking for.

Thanks,
Keyur

[2018-04-24 15:41] SivakumarShan commented on #262
@TomPallister I found out the root cause of the issue. DownStreamRequest.Host is replaced with the Eureka Service Host URL and Ocelot is trying to make a HttpClient call with Eureka host which is wrong. So we are getting the timeout exception.

As per my knowledge, Eureka Server Discovery will be resolved only by creating a HttpClient of DiscoveryHttpClientHandler as it's documented [here](https:/

[2018-04-25 07:09] dasajia2lang commented on #323
@TomPallister ，I used postman to send a request ,it do not work ,but I used the code to request  it is ok!!
thanks help!!

[2018-04-25 08:33] TomPallister commented on #323
@dasajia2lang awesome! I will close this issue for now :)

[2018-04-25 08:33] #323 closed

[2018-04-25 08:47] TomPallister commented on #326
released in 5.5.6

[2018-04-25 08:47] #326 closed

[2018-04-25 12:08] Dilsy99 opened #330 "Incorrect delegate handler being called on request via reroute"
**Expected**
When attaching a delegate handler I would expect that the correct handler is called based on the reroute request.

**Actual**
When you have two reroutes that have the same upstream url with different verbs that have different delegate handlers attached to them, the first "hit" to one of the upstream url works correctly but when trying to hit the other url (with a different verb), the

[2018-04-25 12:12] TomPallister commented on #330
@Dilsy99 wow this is awesome investigation! Thank you very much. Please submit a PR I will happily accept one :)

Thanks!! 😃

[2018-04-25 12:13] Dilsy99 commented on #330
Excellent. Forgive any daft questions, I am a github novice!

[2018-04-25 12:59] TomPallister commented on #330
@Dilsy99 all good, let me know if you need any advice!

[2018-04-25 13:31] TomPallister commented on #262
@SivakumarShan try DownstreamScheme as http and you don't need the DownstreamHostAndPorts when using service discovery. Can I see the configuration that your service uses to register with Eureka?

That might be causing a problem. I will have a proper look later!

[2018-04-25 13:35] SivakumarShan commented on #262
@TomPallister  please find the below Eureka Configuration of the Service.

`{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "spring": {
    "application": {
      "name": "ncore-rat"
    },
    "cloud": {
      "config": {
        "uri": "http://localhost:8888",
        "validate_certificates": false
      }
    }
  },
  "eureka": {
    "clien

[2018-04-25 14:42] Dilsy99 commented on #330
@TomPallister Sorry, daft question!
Cloned develop, created a branch and created the fix.
Ready to create the pull request but when I try and push my local branch to the remote but I get 403 unauthorized.
Have I missed a trick?

[2018-04-25 15:06] TomPallister commented on #330
@Dilsy99 first you need to fork the repo https://help.github.com/articles/fork-a-repo/ then you submit a PR from your fork https://help.github.com/articles/fork-a-repo/

Unfortunately you cannot push from your ocelot clone to the remote ocelot!

[2018-04-25 15:36] SivakumarShan commented on #262
@TomPallister I tried it with the above approaches. But no luck.

[2018-04-25 20:30] TomPallister commented on #262
@SivakumarShan ahh no :( this is so confusing. Please bear with me I'm doing my best!

I don't understand why it doesn't work for you! I noticed you want to call your downstream service over https, is your certificate valid? Do you accept connections over HTTP? Or just HTTPS? I'm thinking you are registering with port 5000 which isnt normally https but in the Ocelot config you are stating HTTPS!

[2018-04-25 21:04] TomPallister commented on #330
@Dilsy99 Ive just pushed this fix in version 5.5.7 to NuGet. Honestly a massive thank you. That was a really good investigation and PR :)

[2018-04-25 21:04] #330 closed

[2018-04-25 23:25] darting opened #332 "Best practice"
Hi @TomPallister, is it able to write some documents for the best practice for this project? To guide peoples when they want to use on production.

Thanks for your amazing works.

[2018-04-26 07:29] TomPallister commented on #332
Hi @darting are you aware of the docs [here](http://ocelot.readthedocs.io/en/latest/) I think they pretty much sum up how to use Ocelot. Obviously they could be better but I only have so much spare time.

In terms of best practice it's more about should you be using an API gateway? Do you have the problem that an API gateway solves? Which for me is I have a bunch of services (not uniform in terms

[2018-04-26 07:38] Dilsy99 commented on #330
Thank you for your help and glad to contribute!

[2018-04-26 08:02] SivakumarShan commented on #262
@TomPallister The port address of 5000 is for local service registry. Even I tried by running Service and Ocelot in local. But getting the same issue. Actually my application has been hosted in Private PCF. So it accepts Http request too. Once it's deployed to PCF, I'll be binding the Eureka Service with my application which will override the 5000 port.

[2018-04-26 08:39] TomPallister commented on #262
@SivakumarShan I have looked at this some more and your settings didn't work for me either.

I noticed in your service appsettings.json that you have the cloud:config:uri as http://localhost:8888 so I assume that is the address you expect the service to run on but in your instance:port setting you have 5000. If your service is running on 8888 and you set 5000 I don't think it will work. Also the o

[2018-04-26 10:33] SivakumarShan commented on #262
@TomPallister Thanks a lot for sharing the sample project which works fantastically without any issues. I further figured out by changing the ocelot configuration with **"DownstreamScheme": "http"** instead of **https**, it worked without any issue. Even though if I mention the downstream URI, it's not affecting the flow.  So we are good now.

One quick question, if my downstream service accepts,

[2018-04-26 11:08] TomPallister commented on #262
@SivakumarShan if your downstream service only accepts HTTPS then you need to set DownstreamScheme as https. The important thing to remember is that you need a valid certificate on the downstream service that is trusted by the host Ocelot is running on. Otherwise the connection between Ocelot and the downstream service will fail.

It is also worth noting by the way to use a load balancer with Ocel

[2018-04-26 11:08] #262 closed

[2018-04-26 13:54] SivakumarShan commented on #262
@TomPallister Thanks a lot for the help😄 Yeah understood now. I'll use the Loadbalancer with Ocelto Service Discovery. Thanks again.

[2018-04-27 12:05] Dilsy99 opened #335 "When delegate handler throws an exception, service returns 404 (not found)"
## Expected

When a delegate handler throws an exception I would expect the service to return 500 (internal server error)

## Actual

When a delegate handler throws an exception the service returns 404 (not found)

## Steps to Reproduce the Problem

Create a delegate handler (inherit from DelegatingHandler) and configure it in startup/config
Get the handler to throw and exception
Postman to the en

[2018-04-27 22:03] TomPallister commented on #335
@Dilsy99 yep I pretty much agree with this. I don't think there is any reason for this other than I haven't accounted for delegating handlers throwing exceptions since I did the error mapper stuff. I did the error mapping stuff maybe a year and a half ago and delegating handlers are 6 months old so probably my bad :(

I guess this should really be configurable because some places might want to ret

[2018-04-30 08:18] Dilsy99 commented on #335
@TomPallister Many thanks for the response

I did think about configuration and how that would work in practice but it rather overwhelmed my Friday afternoon brain!

I have made the change and the only byproduct that I have noticed (because the test failed :-)) is that the ssl certificate configuration error now returns 500 rather than 404 (which makes sense as the handler is throwing the error).

[2018-04-30 09:26] Dilsy99 commented on #335
@TomPallister  Excellent. Many thanks

[2018-04-30 17:55] #322 closed

[2018-04-30 18:37] TomPallister commented on #335
@Dilsy99 released in version 6.0.0

[2018-04-30 18:37] #335 closed

[2018-04-30 18:37] TomPallister commented on #327
feel free to re-open if you can send me the information requested above 😄

[2018-04-30 18:37] #327 closed

[2018-04-30 18:37] #332 closed

[2018-05-01 03:56] shah-keyur commented on #327
Hi TomPallister,

Just I found that I was keep adding the OcRequestId without removing the previous id so OcRequestId was having semicolon(;) seperated multiple OcRequestId.

My problem is solved.

Thanks for your help.

your info helped me to resolve the issue.
 "It looks like you are configuration everything correctly. With your setup, Ocelot will look for a header called OcRequestId and look fo

[2018-05-02 09:41] OrionDevelopment opened #340 "Automatic Route creation based on Microservices registered to Consul / Eureka"
## Expected Behavior / New Feature
It would be amazing if Ocelot could create and remove routes depending on the services registered in Eureka and/or Consul. We are currently looking to move most of our Microservices to .Net Core and we are currently looking for a replacement for the Zuul-Eureka-Combo that automatically routes all request for a given service to it:

### Example:
https://system.com

[2018-05-02 17:42] TomPallister commented on #340
@OrionDevelopment thanks for your interest in the project! I think that this could be done!

Ocelot could definitely be configured to use first segment of request path as a key when looking up the service to call. The only annoying thing would be changing the validation and ReRoute creation code to not need pre configured ReRoutes but this might be easier than I imagine!

I'll take a look when I g

[2018-05-03 10:26] aravindkoniki opened #341 "Using Ocelot Configuration.Json files in multiple projects for BFF framework"
Hello,

I'm very new to api gateway patterns, after going through so many websites i came to know OCELOT is the best framework , very much thanks to the team.

I have started designing API gateway using OCELOT, as BFF framework following [Microservices architecture](https://github.com/dotnet-architecture/eShopOnContainers).

Here my question is, in that project the configuration.json files are pla

[2018-05-03 14:20] Dilsy99 opened #342 "Question - Matching multiple routes for a request"
## This is a question :-)

## Expected Behavior

I have two routes defined like this:

[code]

I would expect that the call to /customer/12345/dependent would result in a call to /api/ClientQuery/12345/dependent with the DependentQueryHandler delegate handler being called

## Actual Behavior

The upstream route seems to "match" both routes defined above and the "first" route is used. This results

[2018-05-03 18:30] juancash commented on #342
Hi @Dilsy99, it seems to be by design.
You must write the most specific rules first and the most ambiguous rules at the end.

[2018-05-03 18:58] TomPallister commented on #341
@aravindkoniki thanks for your interest in the project and the kind comments.

I believe that the project above uses docker and kubernetes. They didn't want to have seperate projects for the api gateway (makes sense) and so they pull those configs into the container when kubernetes deploys it. If you look [here](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/k8s/ocelot/deploymen

[2018-05-03 19:01] TomPallister commented on #341
@aravindkoniki this might also be useful [here](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/k8s/deploy.ps1#L120)

[2018-05-04 08:02] Dilsy99 commented on #342
Thank you both @juancash  @TomPallister.

I think I was thinking about it in a more as a "one to one" relationship with the configured reroutes rather than a lookup based on all that are defined. Shows where assumptions get you!

The priority tweak in config works so thank you for that.

[2018-05-04 08:32] OrionDevelopment commented on #340
@TomPallister If you need help, point me in the right direction. Would be amazing if this can be controller via DI as well.

[2018-05-04 12:18] shah-keyur opened #343 "Need help regarding Ratelimit"
Hi @TomPallister ,

We are  planning to use Ocelot extensively and its features.

Few questions regarding the Ocelot rate limiting.

1. How ocelot keeps track of the rate limit per user?
2. Does it track the limit in memory/persist somewhere?
3. If there is load balancer or multiple instances of the services then how ocelot handles the rate limit?

My need is:

I want to set a rate limit for the u

[2018-05-04 14:32] cristianiorga opened #344 "support SignalR"
## Expected Behavior / New Feature
SignalR websockets can be successfully rerouted with Ocelot

## Actual Behavior / Motivation for New Feature
Fails on the handshake due to inability to map websockets and xhr requests for the same upstream url

## Steps to Reproduce the Problem

  1. Clone https://github.com/cristianiorga/OcelotSignalRTest
  2. Start DummySignalR
  3. Start APIGatewayTest

  4. S

[2018-05-04 21:25] TomPallister commented on #343
@shah-keyur thanks for your interest in the project 😄 The rate limiting docs are [here](http://ocelot.readthedocs.io/en/latest/features/ratelimiting.html) are they any help?

1. If you look at ClientRateLimitMiddleware.cs it might make more sense!
2. It is just persisted in memory, I guess redis would be the next feature to implement here!
3. Ocelot does not currently share the state across instan

[2018-05-04 21:27] TomPallister commented on #342
@Dilsy99 how bad do you think this logic is? I think it gives you a lot of power because you can configure anything but it is complicated and confusing e.g. you could maybe have a specific wildcard character in the ReRoute!

[2018-05-04 21:29] TomPallister commented on #340
@OrionDevelopment I think that the main thing is the DownstreamRouteFinderMiddleware + deps, this will not find a ReRoute and then return a 404. It needs to be changed to handle requests that dont have a ReRoute. Then LoadBalancingMiddleware.cs + deps would need to be changed to use the first path segment as a key and that is pretty much all you have to change (I think!).

[2018-05-05 06:51] OrionDevelopment commented on #340
@TomPallister Are you guys using the normal DI injection from .Net Core (so IServiceCollection/IServiceProvider), if so we might be able to do this nicely with a decorator pattern?

[2018-05-05 15:36] cristianiorga commented on #344
@TomPallister SignalR will be part of the .NET Core 2.1 release coming **mid-2018**. You can read more about that at https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/ , https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-0-preview1-getting-started-with-signalr/ and https://github.com/aspnet/SignalR/milestones
Currently there is a .NET Core 2.1 Developer p

[2018-05-07 11:10] sivakumar2999 opened #345 "Create Kubernetes ServiceDiscoveryProvider"
## Expected Behavior / **New Feature**

## Actual Behavior / Motivation for New Feautre

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-05-07 11:10] sivakumar2999 commented on #345
is support kubernetes default service registry

[2018-05-07 11:36] zpf1989 opened #346 "make configuration key in Consul configurable"
Hi，we are using multi-gateway with ReRoutes in one consul store,and ReRoutes are diffrent for each gateway.
I see Ocelot can only recognize the fixed key InternalConfiguration.
Could you make it configurable？
Thanks for your time!

[2018-05-07 15:47] TomPallister commented on #346
@zpf1989 yes we can definitely take a look at this! How do you think this should work?

[2018-05-08 00:48] zpf1989 commented on #346
Well,should we add a node(something named like ConfigurationKey) for the ServiceDiscoveryProvider node in ocelot.json ,besides the Provider,Host and Port?
And when fetching configuration from Consul,ConsulFileConfigurationRepository may use the  ConfigurationKey first,then the default key(InternalConfiguration) if ConfigurationKey is empty.

[2018-05-08 05:39] TomPallister commented on #346
@zpf1989 sounds perfect to me!

[2018-05-08 06:31] TomPallister commented on #345
@sivakumar2999 can you explain in more detail what you expect here?

Ocelot already works with kubernetes dns service provider. You can see an example of how you might configure Ocelot [here](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/k8s/ocelot/configuration-mobile-marketing.json)

[2018-05-08 09:04] AmbroiseCouissin opened #348 "Skip reroutings or reroute everything except"
Hi there! Thanks for the tool, it's pretty awesome.

## Expected Behavior / New Feature
I'd like to skip some reroutings. What if I want to have an UI and serve static files in the same webapp?
I didn't manage to find a way to skip in the pipeline with a "if (no routing specified) { next(context)}" somewhere.

## Actual Behavior / Motivation for New Feature
Right now, the first one in the pipeline

[2018-05-08 19:59] TomPallister commented on #348
@AmbroiseCouissin thanks for your interest in the project. My first thoughts are Ocelot isn't really designed to front static assets however some people are using it for this purpose as I have had to fix issues with it in the past :)

Does [this](http://ocelot.readthedocs.io/en/latest/features/routing.html?highlight=priority#priority) help with your scenario? You can set the priority of ReRoutes w

[2018-05-09 02:40] rider11-dev opened #349 "fetch service from consul very slow using consuldotnet"
Sorry to bother you again.
When we request an api through gateway(using ReRoutes configuration in Consul),it appears very slow,almost 2 seconds.I'm using all local websites,including Consul from local.

I debugged the Ocelot srouce code ,and found that it will take more than 1 sec in ConsulServiceDiscoveryProvider.Get ,to be exact ,it's await _consul.Health.Service(_config.KeyOfServiceInConsul, st

[2018-05-09 06:25] TomPallister commented on #349
@zpf1989 I have had a quick look now, the IConsulClient is cached later on as part of LoadBalancerHouse so it should only be created once per ReRoute. Unless I am missing something I probably am so will keep looking as it is clear from log you are spending more time in Consul code.

Were you using Console logging for either of these tests?

[2018-05-09 06:34] AmbroiseCouissin commented on #348
Hi @TomPallister
It's not exactly what I'm looking for. I want to be able to escape Ocelot middleware for some urls. Or go through it but not reroute at all. It's not about rerouting priority, it's about not rerouting at all.

I know Ocelot is not really supposed to be working well with other middlewares but if you have a solution for this, I would be really grateful. It would also help some of th

[2018-05-09 08:02] OrionDevelopment commented on #340
@TomPallister

[2018-05-09 08:15] zpf1989 commented on #349
Yeah,I have logging in Console either,and Consul is also has its Console terminal.
With logging in Console  disabled,It appears faster,but the 1 sec still exists.
I debug the ConsulClientFactory using F5,found that every request will create a new ConsulClient,even for the same ReRoute.
Hope to help.

[2018-05-09 08:16] capyu opened #350 "Question - Ocelot use Consul UseServiceDiscovery not working."
When I specify DownstreamHostAndPorts then every thing is fine. But as long as remove DownstreamHostAndPorts  info, and set UseServiceDiscovery = true, then Ocelot will got error.

Any body can help me ?  Thanks

my config :

[code]
and I can query service from Consul
http://192.168.2.11:8500/v1/health/service/NetCoreAPI

then I get

[{"Node":{"ID":"4c800427-7d34-9ec1-e848-28782581b92c","Node":"Co

[2018-05-09 08:42] Dilsy99 commented on #342
Hi @TomPallister.

In my simple mind I had it more as a 1 to 1 relationship with each reroute. Having looked at the code (and re-read the docs :-)) I see how the current logic provides a lot of flexibility (arguably at the cost of being a little opaque to the consumer).

I did wonder about more of a "ranked" search rather than first wins (sort of like the priority but baked in).
Simplistically, it

[2018-05-09 17:06] TomPallister commented on #349
@zpf1989 OK thanks for the information, please could you share you json configuration so I can debug this further. It should not be creating a new client for each request.

[2018-05-09 17:10] TomPallister commented on #348
@AmbroiseCouissin mmm maybe the .net core MapWhen method in asp.net core middleware might help. The docs are [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-2.1&tabs=aspnetcore2x).

You might be able to do something like app.MapWhen(x => IsStatic(x)) do something else.

You would need to do the MapWhen before calling app.UseOcelot().Wait();

[2018-05-09 17:14] TomPallister commented on #340
@OrionDevelopment sorry I missed this, so many issues!! I just started a new job so I don't have much time at the moment either :(

Yes we use normal DI but I would not do this using decorator pattern as  we havent used it anywhere else in Ocelot now and I'm not sure I would want to introduce a way of solving problems that isn't consistent. The way this would normally be done in the Ocelot code ba

[2018-05-09 17:20] TomPallister commented on #350
@capyu Thanks for your interest in the project 😄

I noticed that your downstream host is 192.168.2.11 and your Consul service discovery provider host is also 192.168.2.11. Are you intending to call Consul in your ReRoutes because this is not calling a downstream service.

In the response from consul I cannot see an Address registered for the services

[code]

Ocelot uses the Address field as the a

[2018-05-09 17:25] TomPallister commented on #342
@Dilsy99 thanks for your comment, I will keep this on my todo list and when I've got all the other issues sorted take a look. I really appreciate the input, this project will not be good without it.

[2018-05-09 17:25] #342 closed

[2018-05-09 17:42] TomPallister commented on #245
need to fix this https://github.com/ThreeMammals/Rafty/pull/11 first

[2018-05-09 20:39] OrionDevelopment commented on #340
Ah Okey. Good to know. Will take a look.

[2018-05-10 00:03] zpf1989 commented on #349
Sorry to provide the configuration in consul so late,Here is it:
[config_in_consul.txt](https://github.com/ThreeMammals/Ocelot/files/1989883/config_in_consul.txt)
And below is in the ocelot.json file under my gateway website,
{
  "GlobalConfiguration": {
    "RequestIdKey": "RequestId",
    "ServiceDiscoveryProvider": {
      "Provider": "Consul",
      "Host": "localhost",
      "Port": 8500

[2018-05-10 03:02] capyu commented on #350
Thanks @TomPallister for your help.

This is my first post in github.  Sorry for forget question label and thanks your friendly help.
I really forget to check sonsul's service config.  Indeed, I lost to define my service ip address.

Thanks a lot.

[2018-05-10 03:02] #350 closed

[2018-05-10 05:32] TomPallister commented on #350
@capyu glad to be of help! Don’t worry about the labels it’s just for me!

[2018-05-10 05:54] TomPallister commented on #349
@zpf1989 Thanks for sharing I will take a look. It might be something to do with the fact your are also storing the configuration in Consul. I do not have a test for this. I will check again asap.

[2018-05-10 08:28] Dilsy99 commented on #342
@TomPallister
It is good to be involved!
If it is something that I can help with I can probably get time from within the project I am working on at the moment. I am hoping that we end up using Ocelot (we are at POC stage at the moment) so anything that makes it work better for us (and hopefully other people) is something I think I can sell!
Cheers

[2018-05-10 12:43] tsirkin opened #352 "How to create a jwt token on downstream and request third party server"
I am trying to configure the Ocelot to make Authentication and Authorization for us.
The plan is to make Ocelot redirect non authenticated requests to a SSO server (SAML)
and once this is done request access permissions of the user from Access Management (AC) server (separate in our case).
The Ocelot should maintain upstream session/jwt (probably dumb one )
and replace this with his own jwt includ

[2018-05-10 16:44] tsirkin commented on #352
Possibly answering my own question,
Should I override the OcelotPipelineConfiguration with my own middleware for this?

[2018-05-10 16:47] TomPallister commented on #342
@Dilsy99 Interesting! What other API gateways are you looking at?

If you want you could have a playaround with the route matching stuff? I'm introducing a factory for the DownstreamRouteFinderMiddleware so you can match routes in different ways for another ticket. This might be useful.

[2018-05-10 17:52] TomPallister commented on #352
@tsirkin the delegating handlers use standard .net core di. Any services you register will be injected when the handler is resolved.

You can also override or do whatever you want with the pipeline!

[2018-05-10 18:59] tsirkin commented on #352
Thank you for quick answer.
Unfortunately, after straggling with it for hours I couldn't find a way to DI DelegatingHandler.
Sure, there are examples for doing this, but nothing I could get working under .Net Core 2.
Seems like it was working in .Net 4.5 (maybe Core 1) but not Core 2. Any pointers (or code !) would be highly appreciated.
Thought I understand this is not a .Net forum, sorry.

What

[2018-05-10 19:25] davidni opened #353 "New Feature - Target netstandard2.0 (instead of netcoreapp2.0)"
## Expected Behavior / New Feature
Ocelot currently can only be consumed by .NET Core apps. A small change would enable much wider adoption, enabling consumption from traditional .NET Framework while maintaining the current .NET Core support.

## Actual Behavior / Motivation for New Feature
Ocelot currently targets netcoreapp2.0, whereas it could very easily be modified to target .NET Standard 2.0

[2018-05-10 19:29] TomPallister commented on #353
@davidni Ocelot has a dependency on .netcoreapp2.0 projects. How can I make it compatible with netstandard2.0? I haven't looked at this for a while :)

[2018-05-10 19:30] davidni commented on #353
I have a POC of this working, will submit a PR shortly both here and on Rafty.

All dependencies must also support .NET Standard for this to work, as you said. Rafty is the only one that currently doesn't meet this requirement, and I will soon submit a PR there to add this support. Some coordination would have to happen to make this smooth (the new version of Rafty, with netstandard2.0 support wou

[2018-05-10 19:33] TomPallister commented on #352
@tsirkin it should work fine, you need to register your dependencies using services.AddXXX<X,X>(); or equivalent. Then in your DelegatingHandler inject the dependencies.

Look at HttpDelegatingHandlersTests.cs in the Ocelot.AcceptanceTests project for examples of how this works.

Don't worry we will get to bottom of why it is not working 😄

[2018-05-10 19:34] TomPallister commented on #353
@davidni OK cool. So all the dependencies support .NET standard now? Awesome! Submit the PRs and we can get that merged! :) I will do a rafty release and merge that into Ocelot.

[2018-05-10 19:37] TomPallister commented on #349
@zpf1989 I am sorry but I'm not sure if I will have time to debug this before 14/05/2018. If you have time I suggest trying your configuration in the ocelot configuration.json and see if you get the same problem. If you don't we know its an issue with storing configuration in Consul.

[2018-05-11 04:17] tsirkin commented on #352
Tried it already,obviously and it did not work.
Handler is injected fine but if I try to inject (anything, even IServiceCollection) it fails.
I will try later to provide the code

[2018-05-11 05:42] TomPallister commented on #352
@tsirkin can you provide the code and configuration you were using? E.g your program.cs, startup.cs, the delegating handler code and json config? I will take a look. Yep

[2018-05-11 07:19] TomPallister commented on #353
@davidni OK Ive just merged and pushed version 7.0.0 to NuGet it should appear soon.

Thanks for all your help on this issue. I looked at using netstandard a while ago but the dependencies were not right yet! Really happy to be able to do this now.

Let me know if you have any problems.

[2018-05-11 07:19] #353 closed

[2018-05-11 07:50] zpf1989 commented on #346
Thank you very much!!
I will try it later.

[2018-05-11 11:51] Dilsy99 commented on #342
@TomPallister To be honest, Ocelot or do it ourselves at the moment!!!

If you want to suggest another one I am all ears :-)

We started using Ocelot because it allowed me to get a POC up and running nice a quickly and seemed to provide the functions we thought we may need. In fact, the "features" page on the documentation was almost a tick list of things we were going to need to do!!

It has work

[2018-05-11 12:08] ogomaemmanuel commented on #212
Does it work with signalr

[2018-05-11 12:25] TomPallister commented on #342
Awesome thanks for the info.

[2018-05-11 12:26] TomPallister commented on #212
@ogomaemmanuel not yet. There is another issue open for this.

[2018-05-11 16:57] tatronic opened #355 "Ocelot and identity server"
Hello, I wish to set up identiy server and ocelot in my architecture of Micro Services. I do not know if I followed your documentation well but, I confess that I am really troubled.
- Is there any special configuration to do on identity server?
- How to route the authentication request to identity server?
- How to route all other incoming requests after authentication?
thank you.

here are my conf

[2018-05-12 00:36] CESARDELATORRE opened #356 "Implementation with HttpClientFactory in ASP.NET Core 2.1"
Hey Tom! - Are you planning to move to **HttpClientFactory** in **ASP.NET Core 2.1** when moving Ocelot to .NET Core 2.1 in the upcoming future? :)

See a summary from Glenn in my team:
https://blogs.msdn.microsoft.com/webdev/2018/02/28/asp-net-core-2-1-preview1-introducing-httpclient-factory/

### Update on Nov 29, 2023
- [IHttpClientFactory with .NET](https://learn.microsoft.com/en-us/dotnet/cor

[2018-05-12 01:33] zpf1989 commented on #349
I've tried your way,and I got the same problem.
I moved the config from Consul to my ocelot.json file,and removed the AddStoreOcelotConfigurationInConsul.
It's the same problem,as below:
![image](https://user-images.githubusercontent.com/16696623/39952362-57d4bde6-55c7-11e8-8c51-6cdd138c5e42.png)

And I think the problem should not be the position of the configuration.
It's the process that findin

[2018-05-12 02:08] AlexKuriatnyk opened #357 "Client certificate for downstream call"
Hello,

We have a scenario when some services behind the gateway require certificate-based authentication. Is it possible to add client certificate to the downstream call somehow?

[2018-05-13 08:56] tsirkin commented on #352
Thank you, here is the gist (no Startup.cs - I used Program.cs for the configuration)
https://gist.github.com/tsirkin/131871d18bd5b297ffc73fd29af1577b

[2018-05-13 10:06] TomPallister commented on #356
@CESARDELATORRE yes, the factory looks really good and I will be changing Ocelot to use it. I will keep this issue open.

[2018-05-13 10:09] TomPallister commented on #349
@zpf1989 ok cool, I will take a look ASAP. I am away from my computer at the moment :)

[2018-05-13 10:11] TomPallister commented on #357
@AlexKuriatnyk you could do it with delegating handlers docs http://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html

Or maybe just have a piece of middleware before the Ocelot pipeline.

Let me know if that helps.

[2018-05-13 16:35] ogomaemmanuel commented on #344
I am building a mobile app using Ionic, when I test it on mobile  signalR and ocelot work perfectly, the only problem i have is when testing on the browser. It brings an error i believe could be as result of cors but i can't solve it. here is the error

Failed to load resource: the server responded with a status of 405 (Method Not Allowed)
?ionicplatform=android&http://localhost:8100/ionic-lab&htt

[2018-05-13 16:36] ogomaemmanuel commented on #344
my configuration is as follows
{
      "DownstreamPathTemplate": "/NotificationHub/negotiate",
      "UpstreamPathTemplate": "/NotificationHub/negotiate",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "servicename",
          "Port": 80
        }
      ],
      "UpstreamHttpMethod": ["Options", "Post" ]
    },

    {
      "DownstreamPathTemplate":

[2018-05-13 16:39] ogomaemmanuel commented on #344
public void ConfigureServices(IServiceCollection services)
        {
            services.AddCors(options =>
            {
                options.AddPolicy("CorsPolicy",
                    builder => builder
                    .WithOrigins("http://localhost:8100")
                    .AllowAnyMethod()
                    .AllowAnyHeader()
                    .AllowCredentials()

[2018-05-14 17:37] TomPallister commented on #352
@tsirkin I finally had a chance to look at this. The main problem is your constructor is not public for asp.net core DI cannot use it.

If you change your class to the following it will resolve the JwtDownstreamHandler(IServiceProvider serviceProvider) constructor.

Even if you make the JwtDownstreamHandler(HttpMessageHandler innerHandler, IServiceProvider serviceProvider) : base(innerHandler) con

[2018-05-14 17:37] TomPallister commented on #355
- Is there any special configuration to do on identity server?
A: No
- How to route the authentication request to identity server?
A: Ocelot does this for you based on the options passed into AddIdentityServerAuthentication in startup. If you look at Ocelot class AuthenticationMiddleware.cs this might make more sense.
- How to route all other incoming requests after authentication?
A: The routing

[2018-05-14 17:37] TomPallister commented on #345
@sivakumar2999 are you referring to this API https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#endpoints-v1-core and then load balance across the pods?

[2018-05-14 17:37] TomPallister commented on #344
@ogomaemmanuel it is probably the same problem as @cristianiorga mentioned to open this ticket. I have not had time to look into the issue yet I'm afraid. I cannot give a time frame either. Maybe I will have time in the next few months. If you want to help out I would suggest forking the Ocelot repository and debugging the code to see whats going on. I'm more than happy to accept PRs and give advi

[2018-05-14 17:37] TomPallister commented on #349
@zpf1989 This is a bug. I have an if statement to check if we need to rebuild the cached load balancer / service discovery client and it does not account for the user not choosing a load balancer. Ocelot defaults to no load balancer so we need to make the check account for that. I will change this tickets status and will fix the bug asap.

However you can fix this issue by choosing a load balancer

[2018-05-14 18:14] tsirkin commented on #352
If you are right then it is such a stupid bug in my part!
(I am sure I it was public and just restoring this code in order to post it here I created it as protected.
No way I was such an idiot.)
Anyway, I will try it and let you know if it works.
Thanks!

[2018-05-14 20:27] #343 closed

[2018-05-14 20:27] #348 closed

[2018-05-14 20:46] TomPallister commented on #340
@OrionDevelopment Ive just pushed version 7.0.1 and this has the changes for dynamic routing with service discovery. Check out the docs [here](http://ocelot.readthedocs.io/en/latest/features/servicediscovery.html#dynamic-routing).

Let me know if this works for you or if you think we could make it better.

[2018-05-14 20:46] #340 closed

[2018-05-14 20:51] OrionDevelopment commented on #340
To clearify.
The documentation specifies that this works with consul. Does this work with Eureka as well?

[2018-05-15 01:12] zpf1989 commented on #349
Well,as to load balancer,there is a plan to use nginx between the gateway and the api.
Nginx register itself as a service in consul too,and so gateway can find it and  follow requests with servicename APIA to  special nginx server with some custom handling.
But, as you see,it's complex.
So what's your advice about which one would we use,the nginx,or the load balancer inside ocelot?
And what's the

[2018-05-15 04:27] tatronic commented on #355
Hi Tom,
Thank you for your answer.
Other questions still come to my mind and what I would like to know is:
- With respect to identityServer, Ocelot behaves like a client or as an API resource?
- In the case of authentication, if we provide the authentication options such as authenticationProviderKey, what will be the use of the downStreamHostAndPort which is in the reRoute?
 Thank you

[2018-05-15 05:30] TomPallister commented on #349
@zpf1989 Ocelot always uses a load balancer abstraction internally. If you don’t set anything it uses NoLoadBalancer. The bug is related to this. If you put NoLoadBalancer in your config your performance issue should be resolved!

Use nginx with Ocelot NoLoadBalancer. Nginx is a much more battle tested piece of software :)

Don’t worry I’m not offended!

[2018-05-15 05:36] TomPallister commented on #355
@tatronic Ocelot behaves like a resource. The key tells Ocelot which authentication provider to use for a given reroute. The downstreamhostandport tells Ocelot where the downstream service is you are protecting with Ocelot + Identity Server.

[2018-05-15 08:02] tsirkin commented on #352
OK, that was it.
Sorry for my stupidity.

[2018-05-15 08:02] #352 closed

[2018-05-15 08:12] OrionDevelopment commented on #340
Okey. Cool.

[2018-05-15 08:36] TomPallister commented on #352
@tsirkin no worries!

[2018-05-15 20:01] TomPallister commented on #349
@zpf1989 I have released a fix for this issue in Ocelot version 7.0.2 please can you give it a try and see if the performance is still poor? Let me know if it doesn't improve. I believe you are using the same setup as Tencent apart from this bug so the performance should be good!

[2018-05-15 20:10] TomPallister commented on #349
@zpf1989 there was a problem with the release, please wait for further updates

[2018-05-16 00:39] zpf1989 commented on #349
It works fine and the 1 sec disappear.
But It still cost about 100 ms in gateway ,I have no idea whether it's the same in your test.
It may relate to my local Consul server,consuldotnet,my gateway site,or something else.
I'll keep on it.
Thank you very much!

[2018-05-16 02:16] BrettJG opened #360 "Routing based on Request Header"
Hi,

I'm interested if Ocelot currently supports downstream routing to multiple endpoints based on a Request Header?

A use case for this is something like:
- Octolot receives a request for /products
- The request has a header something like  Region: AU / Region: UK
- Based on the Region header field the request is routed to a matching downstream endpoint

eg.
AU redirects to -> api.internal-au/pr

[2018-05-16 03:16] zpf1989 commented on #349
Man,it seems to a new bug,see the case below:
I use the no NoLoadBalancer.
First,I start up the gateway only,when request an api,it fails because of no service found in consul.It's OK.
Than, I start the api and request again after it's green in consul,it still fails .
It's the NoLoadBalancer that fetching services from consul for only once(and the NoLoadBalancer is cached),like below:
![image](htt

[2018-05-16 08:31] IvanMeng commented on #344
@cristianiorga APIGatewayTest project will be changed.
  ocelot.json
`{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/dummy",
      "DownstreamScheme": "ws",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 50000
        }
      ],
      "UpstreamPathTemplate": "/api/dummy"
    },
    {
      "DownstreamPathTemplate": "/dummy/negotiate",

[2018-05-16 08:42] jrlygdsj opened #361 "how can i config consul in ocelot if there is a consul cluster? use virtual ip?"
"ServiceDiscoveryProvider": {
      "Provider": "Consul",
      "Host": "localhost",
      "Port": 8500
    }

[2018-05-16 21:19] TomPallister commented on #361
@jrlygdsj if you run a cluster you should have a consul agent running as a client installed as a sidecar next to Ocelot. Ocelot calls the local agent and the agent is connected to the cluster.

[2018-05-17 05:34] TomPallister commented on #361
@jrlygdsj that is correct but it should not matter because you should have a load balancer in front of Ocelot  that’s knows the service is down and doesn’t route requests to it.

[2018-05-17 18:22] #349 closed

[2018-05-18 05:33] TomPallister commented on #349
@zpf1989 awesome!! Thank you for your patience! I really appreciate the help.

[2018-05-18 05:34] #355 closed

[2018-05-18 05:35] #361 closed

[2018-05-18 06:41] liuyuedeyv commented on #340
Well done!

But I have another plan, and it works pretty well. I store the configuration files to consul, and then write a common API server boot container, read the configuration from consul when the service starts, and update it dynamically!

Example：
` using (var client = new Consul.ConsulClient((config) =>
                {
                    config.Address = new Uri(serviceCenter);

[2018-05-18 13:04] jkingzhu opened #363 "why LoadBalancer not work"
my Ocelot.json like that
`{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/values",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 5002
        },
        {
          "Host": "localhost",
          "Port": 5001
        }
      ],
      "LoadBalancer": "RoundRobin",
      "UpstreamPathTemplate": "/api/value

[2018-05-18 15:40] TomPallister commented on #363
@jkingzhu thanks for your interest in Ocelot! please can you paste your startup.cs and program.cs?

[2018-05-19 10:25] jkingzhu commented on #363
First Thank for your replay ! Next I will paste them!
startup.cs like that
` public Startup(IHostingEnvironment hostingEnvironment)
        {
            var builder = new ConfigurationBuilder();
            builder.SetBasePath(hostingEnvironment.ContentRootPath);
            builder.AddJsonFile("appsettings.json", false, true)
                .AddJsonFile($"appsettings.{hostingEnvironment.Environ

[2018-05-21 00:53] catcherwong opened #364 "Upgrade Pivotal.Discovery.Client to Pivotal.Discovery.ClientCore"
## Expected Behavior / New Feature

Based on the [documentation](http://steeltoe.io/docs/steeltoe-discovery/#1-2-1-add-nuget-reference) of Steeltoe , Using **Pivotal.Discovery.ClientCore** to replace **Pivotal.Discovery.Client** may be better.

## Actual Behavior / Motivation for New Feautre

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsy

[2018-05-21 06:43] TomPallister commented on #364
@catcherwong thanks for your interest in Ocelot I have seen your articles they are very good 😄

This looks good! Would you like to submit a PR to change this?

[2018-05-21 08:06] jkingzhu commented on #363
Thank you very much, as you said the problem has been solved!

[2018-05-21 08:07] #363 closed

[2018-05-21 10:52] tsirkin opened #366 "Ocelot on full .Net framework 4.6.1 fails to create HttpClient and use"
## Steps to Reproduce the Problem

In VS 2017 create .Net Core project but select (at the second screen) .NET Framework, not .Net Core one.
Select in the Project -> properties 4.6.1 framework.
Configure Ocelot and run.
An attempt to get into a route will throw.

## Specifications

  - Version: Win 10
  - Platform: .NET 4.6.1
  - Subsystem:

And here is the code to fix it:

<pre>
--- a/src/Ocelot/R

[2018-05-21 10:58] tsirkin commented on #366
Created a pull request for this
Thanks for the great project

[2018-05-21 11:30] mfahadi opened #368 "Introduce a middleware to be called after response from downstream"
## Expected Behavior / New Feature

I was playing with Ocelot as API gateway but was not able to find a middleware that would inject some headers in the response after it is returned from the downstream service for example injecting some headers or setting a cookie.

There are middle wares before the call but none for after.
http://ocelot.readthedocs.io/en/latest/features/middlewareinjection.html

[2018-05-21 13:17] catcherwong commented on #364
Yes! I am vary glad to do some contribution for this project.

[2018-05-21 17:29] TomPallister commented on #364
awesome :)

[2018-05-21 17:43] TomPallister commented on #368
@mfahadi Thanks for your interest in the project. If you add code after the await next.Invoke(); you can change the http headers but you will need to change them on the DownstreamContext.DownstreamResponse.Headers object as Ocelot will then map these into the HttpResponse object.

[code]

Let me know if that helps at all? If not we can think of something else!

[2018-05-22 06:14] TomPallister commented on #364
@catcherwong thanks for your contribution!

[2018-05-22 06:14] #364 closed

[2018-05-22 17:35] AlexKuriatnyk commented on #357
Looks like it is not possible to do this just with delegating handlers. I need to setup client certificate on HttpClientHandler that is used for HttpClient.
Is it possible to add some setting for this or just provide possibility to customize HttpClient creation logic? The only workaround I see for now is to replace entire HttpClientBuilder and HttpClientHttpRequester with DI.

[2018-05-22 18:02] AlexKuriatnyk opened #370 "Incorrect response StatusCode for middleware added before Ocelot"
I am adding request/response logging middleware to the pipeline before Ocelot.
I noticed that response status code received by this middleware is always 200, even if it is not. At the same time, it is correct in response headers sent to the client.

Looks like the reason of this is next logic at HttpContextResponder:
`
public void SetErrorResponseOnContext(HttpContext context, int statusCode)
{

[2018-05-22 20:28] TomPallister commented on #370
@AlexKuriatnyk Thanks for your interest in the project!

asp.net used to throw an exception if your tried to set it without using the OnStarting function and giving it a delegate function. I have not tested it recently though..have you tried it? If you could test this and let me know that would be awesome. If you don't have time I will keep this issue open for now and try and look asap! 😄

[2018-05-22 20:32] TomPallister commented on #357
@AlexKuriatnyk this should be possible to implement in Ocelot. How do you set the certificate on the HttpClientHandler? If should just be a case of getting the certificate into Ocelot somehow and then passing it through to the HttpClientBuilder to HttpClientHandler.

How does the certificate get passed to the downstream service? Is this like part of the TCP/IP handshake or as a header or something

[2018-05-23 00:40] AlexKuriatnyk commented on #370
Yeah, I tried to set it directly at SetErrorResponseOnContext and this solves the problem

[2018-05-23 05:19] TomPallister commented on #370
@AlexKuriatnyk awesome do you want to submit a PR with this change?

[2018-05-23 23:34] AlexKuriatnyk commented on #357
I set it in this way: httpclientHandler.ClientCertificates.Add(certificate);. I believe, it is passed as part of the TCP/IP. I my case, I read it by Subject from certificate storage on machine.
It will be great if it could be possible, for example, to read it on startup and inject into Ocelot with some named key, so then we can use this key in JSON config to indicate that we need to use a certific

[2018-05-23 23:36] AlexKuriatnyk commented on #370
@TomPallister , ok, will do.

[2018-05-24 05:45] TomPallister commented on #357
@AlexKuriatnyk ok cool I will take a look at it ASAP!

[2018-05-24 08:26] SnailDev opened #371 "store configuration in consul & use service discovery with consul at the same time, it doesn't work"
I try to store configuration in consul & use service discovery with consul. but it doesn't work.

configuration.json
[code]

InternalConfiguration
[code]

Startup.cs
[code]

Program.cs
[code]
when i open [http://localhost:5000/api001/values](http://localhost:5000/api001/values), it returns 404.

Logs
[code]

but when i move the settings in InternalConfiguration to configuration.json, and remove Ad

[2018-05-24 21:41] TomPallister commented on #371
@SnailDev thanks for your interest in the project! I will take a look asap 😄

[2018-05-24 21:57] #368 closed

[2018-05-25 09:38] stacklesshaha opened #372 "RateLimitCore.ProcessRequest. Is it a bug?"
RateLimitCore.ProcessRequest, I think it's a bug. when requests exceed Limit in Period,the next request doesn't have to wait for PeriodTimespan,just wait for a time longer than Period.

**# RateLimitCore.ProcessRequest,  I think it's a bug. when  requests exceed Limit in Period,the next request doesn't have to wait for PeriodTimespan,just wait for a time longer than Period.**

![3](https://user-im

[2018-05-25 17:21] TomPallister commented on #372
@stacklesshaha thanks for your interest in the project! I think you might be correct. I will have a look ASAP

[2018-05-29 03:09] seroche opened #373 "Ocelot deletes configuration file at startup"
Whenever I load Ocelot from my Windows Server 2016 Core Server (IIS10) I get an exception.

Apparently for some reasons, Ocelot is trying to delete my configuration. As the app pool is running with limited privileges, I get an access denied.

I'm not 100% sure to understand why this is happening.

Unhandled Exception: System.UnauthorizedAccessException: Access to the path 'C:\inetpub\AspNetCoreWeb

[2018-05-29 06:55] SnailDev opened #374 "why not use "blocking queries" with consul?"
## Expected Behavior / New Feature

blocking queries  could notify ocelot the lastest configuration immediately (when store configuration in consul) and  the lastest health services immediately(when service discovery and load balancer).

[2018-05-29 07:34] SnailDev commented on #374
I have read source of ocelot, with test,  and I found if use service discovery and load balancer, ocelot will get health reroute server every request and it will affect performance. So I think memorycache and block queries would be useful.

[2018-05-29 11:05] SnailDev commented on #371
@TomPallister I have already knew where the problem is. Let me say it later.

[2018-05-29 20:11] gurame commented on #373
I got the same error working with aws lambda. Everything inside aws lambda is read-only.

System.IO.IOException: Read-only file system
   at Interop.ThrowExceptionForIoErrno(ErrorInfo errorInfo, String path, Boolean isDirectory, Func`2 errorRewriter)
   at Microsoft.Win32.SafeHandles.SafeFileHandle.Open(String path, OpenFlags flags, Int32 mode)
   at System.IO.FileStream..ctor(String path, FileMod

[2018-05-30 04:18] yangzhongke opened #375 "How to donate?"
We're from rupeng.com, an online education company of China.
geffzhang is my friend.
We developed a course on .Net Core Microservice that using Ocelot as API GateWay.
We want to donate Ocelot, but don't know how to donate.Can you provide a way for donation?
thank you.

[2018-05-30 06:40] SnailDev commented on #371
ok, let me tell what I have founded.

The IApplicationBuilder Extension Method UseOcelot() is an asynchronously method, and I have write Startup.Configure() like this:
[code]
and it run normal with local configuration. but when i use AddStoreOcelotConfigurationInConsul(), it run strange, may be something not initialize completed. Startup.Configure() cannot execute asynchronously.

Modify code
[cod

[2018-05-30 06:42] SnailDev commented on #371
#https://github.com/aspnet/Hosting/issues/373

[2018-05-30 06:56] SnailDev commented on #371
@TomPallister As Startup.Configure() cannot execute asynchronously and many guys have problem on it. why not modify UseOcelot() to an synchronously method?

[2018-05-30 09:13] dbarkwell commented on #356
I was playing around with it. I got it working (some of the tests are failing though) but something tells me it can be implemented differently. @TomPallister I would like to know your thoughts: https://github.com/dbarkwell/Ocelot/tree/net-21

[2018-05-30 16:45] TomPallister commented on #375
@yangzhongke wow! Thank you very much for your interest in the project and support!

I will investigate how you might be able to donate.

[2018-05-30 16:47] TomPallister commented on #371
@SnailDev the documentation states that you must call .Wait() on configure Ocelot. This is a small price to pay when compared against the amount of work to make synchronous versions of all the APIs.

In terms of blocking yes it does block but it doesnt matter seeing as the thread cannot do anything else as it is the thread starting the application! It

[2018-05-30 17:04] TomPallister commented on #375
@yangzhongke I am not sure if this will work for you but I have created a PayPal.Me account for Ocelot [here](https://www.paypal.me/ThreeMammals). Let me know if this isn't suitable and I will try something else!

http://www.rupeng.com/ is a cool website 😄

[2018-05-30 17:15] TomPallister commented on #356
@dbarkwell sounds good! I will take a look ASAP. I'm super busy at the moment (started a new job which is taking a lot of time)!

[2018-05-30 20:01] binarymash commented on #356
@TomPallister fyi AppVeyor doesn't yet support dotnet core 2.1. Their VS2017 preview image does have the RC, but another of my projects is failing with this after upgrading today because of the new Microsoft.AspNetCore.App package (which replaces Microsoft.AspNetCore.All) still looking for RC dependencies.

No big deal though cos AppVeyor say it should be up and running later this week. Gives you

[2018-05-30 23:03] TomPallister commented on #356
@binarymash thanks for the info chief! I don’t think I’m going to be on the bleeding edge like you!!!!

[2018-05-31 09:49] yangzhongke commented on #375
The course has not started yet,and orders have been growing.
I will study how to pay to your paypay account from my Chinese account later.
After I paying,I will update this issue.
Thanks for your greate job at Ocelot.

[2018-05-31 14:58] CuddleBunny commented on #373
I am also experiencing this issue when running in a single node local Service Fabric cluster. I don't even have an `ocelot.Production.json` being loaded.

[2018-05-31 20:32] TomPallister commented on #373
@seroche @gurame @CuddleBunny this is happening because Ocelot persists it's state to ocelot.json or ocelot.{environment}.json if applicable. Ocelot has an adminstration API so that its configuration can be changed while Ocelot is running. When changes are made we wan't to persist them.

When I originally wrote Ocelot I imagined that it would always be hosted in a docker container with access to w

[2018-05-31 20:32] xxsybreedxx opened #377 "Async request aggregation"
## Expected Behavior / New Feature

It would be great if Ocelot had an opportunity to aggregate downstream requests asynchronously. Something similar to Rx, or even use Rx for it. It's usefull when you have multiple downstream requests and you want to return the values from downstream requests as you receive them.

For example if there are 3 downstream requests aggregated:

Find()
   - FindInSourc

[2018-05-31 20:36] TomPallister commented on #377
@xxsybreedxx yep this would be a good feature! I'm not sure how much effort would be involed but will take a look when I have some free time.

[2018-05-31 20:38] TomPallister commented on #375
@yangzhongke awesome! I hope people enjoy the course! 😄

[2018-05-31 21:01] TomPallister commented on #372
@stacklesshaha I have had a quick look at this and I'm not sure if there is a problem. Maybe @geffzhang could help us work this out?

I think the code might be OK because RetryAfterFrom uses PeriodTimespan to work out how much time has passed since the counter was created. I think line 37 is just checking to see if the existing counter has expired and uses the same property (Period) as when it is

[2018-05-31 21:08] #245 closed

[2018-06-01 00:11] stacklesshaha commented on #372
anyway,thanks a lot （＾＿＾）

[2018-06-01 01:42] SnailDev commented on #371
@TomPallister

[2018-06-01 06:13] TomPallister commented on #371
@SnailDev that will work but we will need to put ConfigureAwait(false) on all the subsequent async calls. More info here https://blog.stephencleary.com/2012/07/dont-block-on-async-code.html

I would also use GetAwaiter().GetResult() so you get the proper exception if one is thrown.

[2018-06-01 06:14] TomPallister commented on #372
@stacklesshaha sorry I have been much help! Let’s see what geffzhang says

[2018-06-01 10:20] binarymash opened #378 "Coveralls.net package update has broken the build"
## Expected Behavior / New Feature

Coveralls.net has just been updated to 1.0.0. This shouldn't break the build, but it does.

## Actual Behavior / Motivation for New Feautre

[code]

Works fine with Coveralls.net 0.7.0. A fix is to hard-code the value in build.cake. Give me a few mins and I'll submit a fix for this.

## Steps to Reproduce the Problem

  1. run ./build.ps1
  2. boom.

## Specific

[2018-06-01 10:27] SnailDev commented on #371
@TomPallister yes, GetAwaiter().GetResult() will be better because  [it will not wrap the task exceptions in an AggregateException](https://blog.stephencleary.com/2014/12/a-tour-of-task-part-6-results.html).

enm..I know that we will need to put ConfigureAwait(false) on all the subsequent async calls when use .Result is the purpose of preventing the deadlock, but why .Wait() is unnecessary, could

[2018-06-02 09:43] stacklesshaha commented on #372
hello,@TomPallister,this is my testdemo,just see my console output and the config
![1](https://user-images.githubusercontent.com/35445580/40873057-f6442352-668b-11e8-8a2a-e4c736876811.png)
![2](https://user-images.githubusercontent.com/35445580/40873059-f6a0e5b0-668b-11e8-9513-5a1c8ee17185.png)

[2018-06-03 04:51] #378 closed

[2018-06-04 14:00] TomPallister commented on #371
@SnailDev we only need to call .Wait() on a asynchronous method that does not return T in a synchronous context. Does that make sense? If we make synchronous API then it is not needed.

[2018-06-04 14:01] TomPallister commented on #372
@stacklesshaha I will take a look at this next week! Sorry for he delay.

[2018-06-05 04:59] TomPallister commented on #371
@SnailDev cool! Are you going to submit a PR with the changes we have talked about? No worries if not :)

[2018-06-05 09:10] fablacky opened #381 "Prevent external client from making requests other than the ReRouted ones."
I'm probably misunderstanding the excellent documentation.

From what I could get, the same token is used to authenticate both my gateway and my API. Problem is, if someone using the client finds out my API address, since he is asking for a token which allows it to get through my protection, he could potencially make any request.

One possible solution would be to release a token managing authenti

[2018-06-05 09:30] SnailDev commented on #371
because of using ConfigureAwait(false) to avoid deadlocks is a dangerous practice. how about change UseOcelot() to this:
[code]
and when aspnet/hosting support ConfigureAsync, we could open access to UseOcelotAsync.
what do you think about it? if you agree, I will submit a PR with the changes.

[2018-06-05 12:54] fablacky opened #382 "Fixed querystring in DownstreamPathTemplate"
I'd like to ask another (hopefully silly) question.
Is it possible to set a querystring on the downstreamPathTemplate?
`            "DownstreamPathTemplate": "/Instances?attributes=user_key",
            "DownstreamScheme": "https",
            "DownstreamHostAndPorts": [
                {
                    "Host": "customerservice.super.com",
                    "Port": 443
                }

[2018-06-05 15:08] TomPallister commented on #371
@SnailDev unfortunately you still need configureawait(false) everywhere with this solution. As soon as you call wait or result on a task from a synchronous context you are in trouble. Unless configure await false all the way down the stack!

[2018-06-05 15:11] TomPallister commented on #382
@fablacky thanks for your interest in the project. This isn’t supported at the moment. If your request sends the querystring then it will be forwarded to the downstream services. We could implement this if that does not help! Let me know what you think?

[2018-06-05 16:07] fablacky commented on #382
@TomPallister
thank you so much for you quick response. This feature is kinda important but I'd love to keep using your project. Therefore I'd like to ask you if it's not much trouble to implement it.

I am a bit tight on time and I'll probably try to solve it myself, in this case I'd love to get some advice on where to act (codewise) and in general best practices on how to edit the project.

[2018-06-05 18:00] kingdamian42 opened #383 "LoadBalancer cache causes ReRoute changed by Admin API to not respect new downstream path"
## Expected Behavior / New Feature
After changing the configuration via the Admin API, requests should be rerouted to the new configuration routes and ignore the cache.

## Actual Behavior / Motivation for New Feature
After changing the configuration via the Admin API any endpoints that were previously requested will still forward to the old configuration (cached config?).

Ex:
A) localhost:5000/f

[2018-06-06 01:44] SnailDev commented on #371
as before we use UseOcelot().Wait() (sets up all the Ocelot middleware), just like this:
[code]
and UseOcelot() https://github.com/ThreeMammals/Ocelot/blob/0023fe2599e7e22aa0197216001c49769f167fa5/src/Ocelot/Middleware/OcelotMiddlewareExtensions.cs#L25
https://github.com/ThreeMammals/Ocelot/blob/0023fe2599e7e22aa0197216001c49769f167fa5/src/Ocelot/Middleware/OcelotMiddlewareExtensions.cs#L32

and n

[2018-06-06 06:48] TomPallister commented on #371
@SnailDev please read https://blog.stephencleary.com/2012/07/dont-block-on-async-code.html if you block on asynchronous method in asp.net it can deadlock the thread.

[2018-06-06 06:52] TomPallister commented on #381
@fablacky the authentication scenario only works if your services are in a trusted private network. It does not work if they are public. If you want public services I suggest just forwarding the auth token to them. This is what Microsoft do.

[2018-06-06 07:43] TomPallister commented on #382
@fablacky I think we would need to do this in the same way we can add headers to requests. It wouldn’t make sense to live in the path template code I think. I cannot look in detail until next week. I will reply again then.

[2018-06-06 07:45] TomPallister commented on #383
@kingdamian42 thanks for your interest in the project. Would you be able to paste your configuration json and your startup / program classes.

This sounds like a bug to me but I don’t have time to investigate until next week!

[2018-06-06 07:56] fablacky commented on #381
@TomPallister
I don't understand. I thought my gateway was already forwarding my token (since my api are protected and are still accessed through the api gateway). I could set up my gateway as both an apiresource and a client asking for a token: my client app requests a token to use my gateway and the gateway itself asks another token to converse with my apis. Let me know what you think.

[2018-06-06 08:21] TomPallister commented on #381
@fablacky yes Ocelot does forward the headers so your service will get the auth token. Yes you can have authentication / authorisation between the gateway and your services that is fine.

I was just explaining that when I built Ocelot it was to access private services so no authentication is required between Ocelot and services in this scenario.

[2018-06-06 08:34] Stronhold opened #384 "Multiple ConfigurationKey for Consul Store KV"
I would like to know if there can bemultiple configuration keys to access different configuration files in KV Store or if I can match them using a pattern like it is done in [issue 296](https://github.com/ThreeMammals/Ocelot/issues/296)

[2018-06-06 18:36] fbeauche opened #385 "Inject multiple PreQueryStringBuilderMiddleware"
Hi, Great job with ocelot !

I have a small question, is it possible to inject multiple PreQueryStringBuilderMiddleware ?

I have multiple cross-cutting concern I want to address in the my ocelot gateway and i would like to implement it in multiple middleware.

Thanks.

[2018-06-07 02:29] KarlHuang0509 opened #386 "Whether the configuration file cannot be mounted? (docker)"
## Expected Behavior / New Feature
I deploy the site with docker, and I want to mount the ocelot.Development.json configuration file,
but there was an error running the site.
if don't mount the ocelot.Development.json configuration file, the website works well.

## Steps to Reproduce the Problem
1. Ocelot Program.cs 、Startup.cs code
Program.cs
public static IWebHost BuildWebHost(string[] args) =>

[2018-06-07 05:58] chenzhe014 opened #387 "how to update ocelot configuration without downtime"
when i update ocelot configuration，service must be closed. how to update **Configuration.json** online?

### Startup.cs
`services.AddOcelot(new ConfigurationBuilder()
                .AddJsonFile("configuration.json", optional: false, reloadOnChange: true)
                .Build());`
@geffzhang
@TomPallister

[2018-06-07 06:41] Stronhold commented on #387
One options would be use consul kv store as it is explained in the [doc](http://ocelot.readthedocs.io/en/latest/features/configuration.html#store-configuration-in-consul).
Hope it helps!

[2018-06-07 07:10] chenzhe014 commented on #387
@Stronhold Thanks a lot！i will try it to slove ,
i saw #36 issue right now,  how to sloved it in #36 ?

[2018-06-07 09:49] Stronhold commented on #387
Well, that is the other option, as it is stated in #36, here is the [doc ](http://ocelot.readthedocs.io/en/latest/features/administration.html) you need to solve your problem. I have not tested yet, so I do not know how it works exactly.
Hope it helps!

[2018-06-07 11:08] ctee-cormant opened #389 "Ocelot compares an array of string to a single claim value when using RouteClaimsRequirement"
## Actual Behavior / Motivation for New Feature

I wanted to check the user's role claim using RouteClaimsRequirement but Ocelot returns 403 for all requests.

        "RouteClaimsRequirement": {
          "Role": "roles.admin"
        }

It turns out that my user has multiple role claims and IdentityServer4 is saving them into the Role claim as a single array of strings. Ocelot tries to compare t

[2018-06-07 13:20] fablacky commented on #382
Wonderful, for now I simply wrote a quick DelegatingHandler replacing the encoded character and everything works nicely. Let me know next week if you were able to look into it.

[2018-06-07 13:49] fablacky opened #390 "Allow users to set useproxy on httpclient"
Although my gateway is quite fast on development, once it gets published, every request takes about 2-3 seconds longer to complete no matter what. I did some digging and apparently it's a very well known issue involving the HttpClient.
The following url helped me a lot:
[https://github.com/dotnet/corefx/issues/6180](url)
I edited your HttpClientBuilder set the UseProxy propert to false when instan

[2018-06-07 13:56] fablacky commented on #381
@TomPallister thank you for your answer.
I have a related request but perhaps it's better to discuss it here:
what if I want to configure the gateway to either ignore or not the querystring on the upstreampath? Or force the user to only put allowed parameters in my querystring? Would that require much effort to implement?

[2018-06-08 14:34] TomPallister commented on #384
Hi @Stronhold please see docs [here](http://ocelot.readthedocs.io/en/latest/features/configuration.html#configuration-key) this might help!

[2018-06-08 14:37] TomPallister commented on #366
@tsirkin thanks for reminding me I will do a release next week!

[2018-06-08 14:42] Stronhold commented on #384
Hi,

I checked that before. As i Saw, there Gould be only one configurationkey at the same time or am I wrong?

Thanks un advance

[2018-06-08 14:43] TomPallister commented on #385
@fbeauche thanks for your interest in the project. This is not possible. However you can call into whatever code you want from the pre query string builder middleware. I’m not sure that Ocelot needs this responsibility. If you would like to try and implement it let me know and I can help

[2018-06-08 14:46] TomPallister commented on #386
@KarlHuang0509 thanks for your interest in the project. The configuration file is being used by something when Ocelot starts up. There is an issue open to not delete the file. Ocelot deletes the file because this used to make sense before certain changes were made.

[2018-06-08 14:55] TomPallister commented on #386
issue is #373.

[2018-06-08 14:57] TomPallister commented on #389
@ctee-cormant thanks for noticing this. Looks like a bug. I will look at it asap. If you want to have a go at fixing it yourself I would appreciate any help! 😄

[2018-06-08 15:01] TomPallister commented on #390
@fablacky interesting that no one else has run into this problem! I was not aware of it. Is this not because there is some kind network configuration issue as per the last comment in the issue you have linked to this?

Regardless it is probably a valuable option to allow users to configure! I would happily accept a PR for this if you feel like taking the issue on.

[2018-06-08 15:04] TomPallister commented on #381
@fablacky I'm not exactly sure what you want to achieve but you might be able to do this with either http://ocelot.readthedocs.io/en/latest/features/middlewareinjection.html or http://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html im not sure which one would be better.

[2018-06-08 15:05] TomPallister commented on #384
@Stronhold you can have as many keys as you want per deployment of Ocelot. You cannot merge multiple configurations from Consul at the moment. If you would like to implement this I can support you! 😄

[2018-06-08 16:15] Stronhold commented on #384
That was the point! Any help would be appreciated.
Morover, i would like yo know if when we use the administration API, the config.json file, could be overwritten? As far as I have tested, this does not happen

Thanks in advance!

[2018-06-09 05:48] TomPallister commented on #384
@Stronhold are you using admin api with consul storing your configuration? If so the json file is not changed. If you are not using consul then it will be changed.

[2018-06-09 07:33] Stronhold commented on #384
Nope. The idea would be using multiple configurationkey and use consul to have the routes. Through the administration API chance  the config.json.

Any support to have multiple configurationkey is appreciated :)

[2018-06-10 09:49] TomPallister commented on #384
Sorry @Stronhold I am very confused by what it is you want to implement. Please could you add as much detail as possible so I can understand.

[2018-06-10 09:51] Stronhold commented on #384
I want to be able to have múltiple configurationkey to access to different consul configurations and merge them

[2018-06-10 10:14] TomPallister commented on #389
@ctee-cormant which version of Ocelot are you using from NuGet?

[2018-06-11 02:46] ctee-cormant commented on #389
Hi @TomPallister,

We're using 7.0.4 version of Ocelot.

[2018-06-11 21:59] TomPallister commented on #374
I have merged a new feature that will allow users to specify if they want to poll consul

[2018-06-11 22:47] licjapodaca opened #396 "[HELPED] How to fordward claims from Ocelot to internal services"
## Actual Behavior

Currently, I have **Identity Server 4** running with one instance in a Standalone Service Fabric Cluster with 1 instance of Ocelot in the same cluster and 5 instances of a service that only returns an array of values but in this last service I need to read or get some Claims of the users that were authenticated in Ocelot.

How to send the claims from Ocelot to that internal ser

[2018-06-12 05:10] SbiCA opened #397 "Open API support?"
##  New Feature
Does ocelot support Open API (a.k.a Swagger)?

## Motivation for New Feautre
- client code generation
- service description
- api documentation

[2018-06-12 05:38] TomPallister commented on #396
@licjapodaca I think you have two options, Ocelot will forward the authorization header to your services so you can parse the token again and get the claim value or you can use the claims tranformation feauture, the docs are [here](http://ocelot.readthedocs.io/en/latest/features/claimstransformation.html)

[2018-06-12 05:41] TomPallister commented on #397
@SbiCA thanks for your interest in the project! No Ocelot does not support this...please see the docs [here](https://ocelot.readthedocs.io/en/latest/introduction/notsupported.html?highlight=swagger) for more information!

[2018-06-12 06:22] TomPallister commented on #390
Released in 7.0.5

[2018-06-12 06:22] #390 closed

[2018-06-12 06:22] TomPallister commented on #374
Released in 7.0.5

[2018-06-12 06:22] #374 closed

[2018-06-12 06:23] TomPallister commented on #370
Released in 7.0.5

[2018-06-12 06:23] #370 closed

[2018-06-12 06:28] TomPallister commented on #389
@ctee-cormant I can't replicate this issue :( would you be able to paste your configuration json, startup.cs and program.cs. Also could you show me how the roles have been assigned to the user in IdentityServer?

[2018-06-12 06:32] TomPallister commented on #345
This might be useful for this feature https://github.com/kubernetes-client/csharp

We just need to implement IServiceDiscoveryProvider for k8s that watches the api above

[2018-06-12 06:41] yangzhongke commented on #375
I have payed 500 GBP to your paypal account
![ocelot](https://user-images.githubusercontent.com/13821363/41274078-a283a6b4-6e4e-11e8-8ae1-e725190a78d2.png)
!

[2018-06-12 10:24] hbsis-fernandomedeiros opened #398 "Ocelot high memory usage"
Hello there,

I'd appreciate any help regarding an issue I found in my setup.
I've set up Ocelot in a production environment yesterday (~50 requests/sec). After about 18 hours in production, its memory usage is around 1.9 GB, and still growing. I ain't doing nothing special with it, just forwarding the web requests to a different port (Config attached).
I tried reading the documentation and naviga

[2018-06-12 13:44] TomPallister commented on #375
@yangzhongke wow that is amazing! Thank you very much. I will think about how we can use this to make Ocelot even better!

I hope that your course is very successful!!!!!

[2018-06-12 13:45] TomPallister commented on #398
@hbsis-fernandomedeiros potentially a memory leak, can you paste your configuration json, program and startup.cs and I will take a look.

[2018-06-12 17:46] licjapodaca commented on #396
Thanks @TomPallister for your help, finally I have the complete solution to generate, get, transform the headers and send them with Ocelot to the Microservices as follow:

1. First, in Identity Server 4 project, I made this code refactor in the ApiResource and Client definition:

[code]

2. So, when I authenticate to the IdentityServer4 url endpoint `http://+/connect/token` I confirm that the clai

[2018-06-12 17:46] #396 closed

[2018-06-12 21:41] davidni opened #399 "Strong-named binaries"
## Expected Behavior / New Feature
Ocelot binary (ocelot.dll) is not strong-named

## Actual Behavior / Motivation for New Feautre
Ocelot cannot currently be consumed from strong-named projects. Projects that are strong-named must reference only strong-named dependencies, so Ocelot would have to be strong-named too,

## Specifications
  - Version: 7.0.5

[2018-06-12 21:45] davidni commented on #399
Note that in order to do this, the first step would be to produce strong-named versions of Ocelot dependencies. I see 5 problematic ones:
  * Steeltoe.Common
  * Rafty
  * IdentityServer4
  * IdentityServer4.AccessTokenValidation
  * Pivotal.Discovery.ClientCore

Rafty should be easy to tackle. Not sure about the others.

[2018-06-12 22:13] TomPallister commented on #396
@licjapodaca awesome :) thanks!!

[2018-06-13 02:56] ctee-cormant commented on #389
@TomPallister I think it's important that the JWT token claim for role have an array value. I have a custom ProfileService that does the following:

[code]

And here's is my Ocelot configuration:
[code]

[2018-06-13 08:56] yuchen1030 opened #400 "the configuration of Ocelot made error"
## Expected Behavior / New Feature
When I update  Ocelot version from  1.4.2  to 7.0.4 and add some configuration item, it make some error.
  1.    DownstreamPathTemplate :  /api/ControllerName/ActionName/{url}  . It report 404 error . I must
        write it as   /api/ControllerName/ActionName   or    /api/ControllerName/{url}  .   why ?  How should I use   /{url}   format?

  2.     ```"FileCach

[2018-06-13 17:49] TomPallister commented on #389
@ctee-cormant I cannot replicate this issue at all :( I've made a test that replicates the issue using the same code as your ProfileService.

Can you paste your projects csproj file? I'm interested to see the dependencies and version of .net you are using?

[2018-06-13 17:50] TomPallister commented on #399
@davidni this is something we could look at one day but not anytime soon given the dependencies.

[2018-06-13 17:53] TomPallister commented on #400
@yuchen1030 there are lots of changes between Ocelot 1.4.2 and 7.0.4. Have you updated your configuration to account for them?

Maybe paste your configuration json here and I will take a look?

[2018-06-13 18:07] TomPallister commented on #372
@stacklesshaha I think that Period and PeriodTimespan are meant to be the same value from looking at the acceptance test for this code. I suggest we remove one of the properties and use the same one in both places?

I think I would keep period and change it to an int representing milliseconds. What do you think?

[2018-06-13 18:31] TomPallister commented on #372
@stacklesshaha Ive done a PR for this change if you want to take a look and let me know what you think!

[2018-06-13 18:36] TomPallister commented on #386
closing as duplicate of #373

[2018-06-13 18:36] #386 closed

[2018-06-13 18:37] #381 closed

[2018-06-13 18:38] TomPallister commented on #383
@kingdamian42 please can you paste your configuration json and your startup / program classes so I can investigate this further?

[2018-06-13 18:40] TomPallister commented on #384
this feature implement config merging for consul, same logic we use for file merging but applied to consul.

[2018-06-13 18:41] #385 closed

[2018-06-13 18:41] #397 closed

[2018-06-13 19:28] TomPallister commented on #398
@hbsis-fernandomedeiros sorry i didnt see you already pasted the config...are you hosting on linux, windows or (not likely) mac?

[2018-06-13 23:51] ctee-cormant commented on #389
Thanks @TomPallister for helping me with this. Here's my csproj:

[code]

[2018-06-14 00:46] yuchen1030 commented on #400
Thanks. My config it like this:
{
  "ReRoutes": [
    //GetBasicUserInfo
    { //http://192.168.0.229:9000/api/HM_Employees/GetBasicUserInfo?workNum=B0182
      "DownstreamPathTemplate": "/api/HM_Employees/GetBasicUserInfo",
      //"DownstreamPathTemplate": "/api/HM_Employees/GetBasicUserInfo/{url}", //error
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "/api/HM_Employees/GetBas

[2018-06-14 00:48] yuchen1030 commented on #400
`{
  "ReRoutes": [
    //GetBasicUserInfo
    { //http://192.168.0.229:9000/api/HM_Employees/GetBasicUserInfo?workNum=B0182
      "DownstreamPathTemplate": "/api/HM_Employees/GetBasicUserInfo",
      //"DownstreamPathTemplate": "/api/HM_Employees/GetBasicUserInfo/{url}", //error
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "/api/HM_Employees/GetBasicUserInfo",
      "UpstreamHtt

[2018-06-14 01:48] stacklesshaha commented on #372
or implementation of ratelimiter should be something like [Token Bucket](https://en.wikipedia.org/wiki/Token_bucket),maybe [SmoothRateLimiter.java](https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/SmoothRateLimiter.java) is an implementation of Token Bucket

[2018-06-14 05:50] TomPallister commented on #372
@stacklesshaha your English is very good do not worry.

I think Period is a better name than PeriodTimespan because we shouldn’t use the type in a name. I will look at the references you have posted!

[2018-06-14 05:52] TomPallister commented on #389
Thanks for this @ctee-cormant it might be something to do with netcoreapp2.1..I am still using 2.0 or it could be the indentity server packages. I will investigate further.

Are you on Windows, Mac or Linux?

[2018-06-14 06:35] chenzhe014 commented on #387
@Stronhold I follow [doc](http://ocelot.readthedocs.io/en/latest/features/configuration.html#store-configuration-in-consull) alter my code.
**Startup.cs**
`

            //services.AddOcelot(new ConfigurationBuilder()
            //    .AddJsonFile("configuration.json", optional: false, reloadOnChange: true)

            //    .AddEnvironmentVariables()
            //    .Build());

            se

[2018-06-14 06:37] TomPallister commented on #387
@chenzhe014 is What error do you get from Ocelot?

[2018-06-14 06:42] chenzhe014 commented on #387
@TomPallister Just 404...
This is my Reroutes on Consul KV
`{"ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/values",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 5001
        }
      ],
      "UpstreamPathTemplate": "/webapia/values",
      "UpstreamHttpMethod": [ "Get" ]
    },
    {
      "DownstreamPath

[2018-06-14 06:45] chenzhe014 commented on #387
Do i miss anything?

[2018-06-14 06:50] TomPallister commented on #400
@yuchen1030

1. I cannot see these options in your configuration. Are you still having a problem with this? The {url} format is a placeholder. Please read the docs [here](http://ocelot.readthedocs.io/en/latest/features/routing.html#) to see how it works.

2. What error do you get from Ocelot when having problems with the cache option?

[2018-06-14 06:52] stacklesshaha commented on #372
I think both PeriodTimespan and Period should be preserved,according to the previous document，their definitions are different

[2018-06-14 06:55] chenzhe014 commented on #387
If i store configuration in consul,did i need add `Ocelot.json`  in `Startup.cs`?

[2018-06-14 06:55] TomPallister commented on #387
@chenzhe014 I think you need to add the service discovery information into the configuration. See the docs [here](http://ocelot.readthedocs.io/en/latest/features/configuration.html#store-configuration-in-consul)

e.g.
[code]

Ocelot get's it initial configuration from json and then starts using Consul. I think this might be why it doesn't work. Can you let me know if this fixes the problem?

If it

[2018-06-14 07:03] Stronhold commented on #387
Yes, you need to add `Ocelot.json` in `Startup.cs`. I think that is the problem, as @TomPallister said. Moreover, remember that if you do not specify ConfigurationKey, ocelot will use as key `InternalConfiguration`

[2018-06-14 07:12] TomPallister commented on #372
@stacklesshaha I wrote the documentation and it is not very good :( I think it might have confused you :(

After looking at it closely I cannot see why the two things are different? Can you explain why there are different?

[2018-06-14 07:15] TomPallister commented on #372
@stacklesshaha with the limit and the period we are able to say how many requests a user can make per x which is all we need at the moment.

I looked at what Kong are doing [here](https://getkong.org/plugins/rate-limiting/) and there API is similar apart from they give more options around specific per x. I think the Kong project is a good example of how rate limiting should work.

[2018-06-14 07:30] chenzhe014 commented on #387
i try add `Ocelot.json` in `Startup.cs`

[code]
it is still 404 ..

then i alert `Program.cs`

[code]
it is still 404 ..

How should I add..

[2018-06-14 07:32] stacklesshaha commented on #372
oh,my english ⊂^j^⊃! in my testdemo, when requests exceed 1 per 1s,the next request  should have to wait for 10000. that's all my understanding of the document.that's why I think PeriodTimespan should be preserved

[2018-06-14 07:51] KarlHuang0509 commented on #386
@TomPallister  ok. thanks.

[2018-06-14 09:27] chenzhe014 opened #402 "Can Ocelot ReRoute by request parameter ?"
for example
 UpStreamPath:`/api/web?method=a` reroute to Downstream `/apiA/web`.
 UpStreamPath:`/api/web?method=b` reroute to Downstream `/apiB/web`.

[2018-06-14 09:31] ctee-cormant commented on #389
@TomPallister I'm using Windows for development but we'll be deploying this to a kubernetes cluster for production.

[2018-06-14 10:26] daimeiquan opened #403 "System.ArgumentOutOfRangeException"
## Expected Behavior / New Feature
I can download file through my asp.net core webapi directly ，but not Ocelot.

## Actual Behavior / Motivation for New Feautre
Here is the full exception:
` fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HLEG17734NPT", Request id "0HLEG17734NPT:00000001": An unhandled exception was thrown by the application.
System.ArgumentOutOfRangeException:

[2018-06-14 12:47] yuchen1030 commented on #400
Thank for your reply.
    I konw the using of {url}.
    When FileCacheOptions not zero, continue request will error. The ocelot window like this: Ocelot.Error.Middleware.ExceptionHandlerMiddleware[0]...The formate of value '-1' is invalid. The error picture in https://raw.githubusercontent.com/yuchen1030/IssueList/master/IssueList/Images/ocelot%20window%20when%20cache%20error.png

[2018-06-14 14:36] fanhousanbu commented on #398
I got the same situation,  60 tps, high memory without reducing; config service discover with Consul

[2018-06-14 15:29] hbsis-fernandomedeiros commented on #398
Sorry for late response.
Currently, I'm running on Windows Server 2012. I'm using Peter Kottas' lib (https://github.com/PeterKottas/DotNetCore.WindowsService) to host it as Windows Services, so, my program.cs has some overhead to make it work.
I'll try to provide a working example. Right now, I'm trying to reproduce this behavior locally to memory-profile it, but it requires a heavy load and is ta

[2018-06-14 17:30] TomPallister commented on #398
@hbsis-fernandomedeiros @fanhousanbu I cannot replicate this issue yet, but I will try on Windows and see what happens!

[2018-06-14 17:32] TomPallister commented on #400
@yuchen1030 ahh OK thanks for this.

There is code in Ocelot that maps the cached response into a HttpResponseMessage and something is failing here around one of the headers that has been cached. Are you able to paste the headers that are being cached here so I can work out what the problem is?

[2018-06-14 17:34] TomPallister commented on #403
@daimeiquan please can you paste your configuration json, program and startup classes? Also what type of content is being returned to Ocelot.

The stack trace you have pasted doesn't look like it has come from Ocelot...I can't see any calls to it's classes in the stack??

[2018-06-14 17:35] TomPallister commented on #389
@ctee-cormant thanks! I haven't tested on Windows yet. I will try ASAP!

[2018-06-14 17:39] TomPallister commented on #402
@chenzhe014 thanks for your interest in the project. This does not  work at the moment. This feature has already been requested in #382 so I will close this issue a duplicate. Please check that issue for updates.

[2018-06-14 17:39] #402 closed

[2018-06-14 17:40] TomPallister commented on #372
@stacklesshaha ahh I understand now! OK let me think about this :)

Thank you for being patient. I didnt write the rate limiting code so I'm not very familiar with it.

[2018-06-14 17:43] TomPallister commented on #387
@chenzhe014 have you added your service discovery configuration to Ocelot.json and your consul json?

[2018-06-14 18:04] TomPallister commented on #372
@stacklesshaha I have made a new PR, #404 please can you look at it? Does it make sense for you?

[2018-06-14 23:54] davidni opened #405 "Proxying GET's broken when using full .NET"
## Expected Behavior
Proxying a GET should work.

## Actual Behavior
It fails with a `ProtocolViolation` exception. The outgoing `HttpRequestMessage` has a non-null content, which is rejected by `HttpClient` for GET requests.

This is a regression for a bug that had already been fixed in #367. Commit e55b27de0f4ec609edb76078c84f8d5f252bd4ed broke this by using preprocessor `#if` that are never com

[2018-06-15 01:53] daimeiquan commented on #403
here is my code and ocelot.json，thank U
`    public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        public void ConfigureServices(IServiceCollection services)
        {
            services.AddOcelot(Configuration);
        }

        public void Co

[2018-06-15 03:31] TomPallister commented on #405
@davidni I had hoped the JIT might take care of this but turns out I was wrong after more reading.

Unfortunately we cannot just remove the body while proxying because this is supported by HTTP. It is a shame that for some reason Microsoft have chosen not to support this in their library under .net 4.6.2 but they do support it in .net core?!?!

I will have a think about this and either produce a p

[2018-06-15 03:32] TomPallister commented on #403
@daimeiquan thanks for all of this. Would it be possible to see the headers that the webapi returns directly? This is where the problem is.

[2018-06-15 03:39] TomPallister commented on #387
@chenzhe014 in your ocelot.json you just need this. The configuration key is whatever you specified in for the Ocelot configuration in Consul.

[code]

Remove below from Startup.cs but keep your entry in Program.cs

[code]

Now you should have configuration to start Ocelot. When Ocelot starts it will look up your configuration by ConfigurationKey in Consul.

You configuration in Consul must contai

[2018-06-15 03:57] yuchen1030 commented on #400
Thank you very much.
It's like what you say. I add the ocelot 7.0.4 source code project to my gateway sln, I found that the strange header field Expires="-1".
My step is as follow:
1. prepare test Routes as follow:
    //HRWebAPI Health check
    { //http://192.168.0.210:9000/api/Health/Get
       "DownstreamPathTemplate": "/api/Health/{url}",   //when this is webapi url,it is error
      // "Down

[2018-06-15 06:08] TomPallister commented on #405
https://stackoverflow.com/questions/48259320/how-to-determine-the-net-platform-that-runs-the-net-standard-class-library This looks useful!

[2018-06-15 06:12] TomPallister commented on #400
@yuchen1030 ok cool I will try this header.

Don’t use postman for testing APIs headers it adds its own headers and does things you are not aware of. Curl is better!

[2018-06-15 07:07] yuchen1030 commented on #400
Thank you for your suggestion.
I try it and found that curl  has the same performance and response header and result as postman/Google Chrome.

[2018-06-15 07:19] TomPallister commented on #400
@yuchen1030 I have a PR to fix this issue and will let you know when it has been merged and released.

[2018-06-15 07:27] yuchen1030 commented on #400
OK,I know.
Thanks for your quick feedback and outstanding work !

[2018-06-15 07:59] marcoaam opened #407 "Catch all type route doesn't work as expected on a /api/{everything} reroute"
## Expected Behavior

Route with /anypath/.something (note the *"."* on the path) should work and return the downstream service content.

## Actual Behavior

Using IdentityServer as an example it returns 404 and the downstream service doesn't receive the request when using the configuration specified on the steps to reproduce and requesting /identityserver/.well-known/openid-configuration.

It wor

[2018-06-15 08:42] daimeiquan commented on #403
sure. here is respose header from webapi :
Content-Security-Policy: default-src 'none' ; script-src resource:;
Content-Type: application/json; charset=utf-8
Date: Fri, 15 Jun 2018 08:36:59 GMT
Server: Kestrel
Transfer-Encoding: chunked

[2018-06-15 10:53] geffzhang commented on #372
Recently seldom come to pay attention to issue, sorry everybody. It's great to see the tests and documents written by @TomPallister ,, add  more Unit test about 1m,1h,1d 。

[2018-06-15 16:42] TomPallister opened #408 "Improve Rate Limiting options"
## Expected Behavior / New Feature
At the moment we only support basic rate limiting. Implement something more complex re discussion in #372 such as https://en.wikipedia.org/wiki/Token_bucket, https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/SmoothRateLimiter.java

## Actual Behavior / Motivation for New Feautre
Give users better rate limiting options

## Ste

[2018-06-15 16:45] TomPallister commented on #372
@geffzhang good to hear from you! I hope you are well. I agree we can improve rate limiting!

I have created another issue to discuss improving the rate limiting feature it is #408.

Let's keep this issue for fixing the bug originally raised.

[2018-06-15 16:45] TomPallister commented on #407
@marcoaam all good, I will have a look at this and see what's up then feedback!

[2018-06-15 19:29] TomPallister commented on #372
@stacklesshaha Im going to merge the PR #404 because I hope it fixes this bug. Let me know if you think I have made a mistake.

[2018-06-15 19:36] jwyglendowski-precisionlender opened #409 "404 Causing request to try again and again until timing out"
When my downstream dotnet core 2.0 MVC service running in service fabric returns a 404 the request keep trying again and again until the upstream service timeouts out with a 504. If I have the same service return back a 403 it returns back without issue. I am running Ocelot 7.0.5 in dotnet core 2.0 project.

My guess is that Ocelot is automatically retrying the request but I have no empirical evid

[2018-06-15 22:54] stacklesshaha commented on #372
sorry for having no time to reply，I will have a look ASAP. ^_^

[2018-06-16 07:28] TomPallister commented on #409
@jwyglendowski-precisionlender thanks for your interest in the project. Ocelot only retries on transient errors if the user has configured it. It won’t retry on 404.

I will take a look at this ASAP and let you know if I work anything out.

I am confused by the post of the Microsoft article as that does not mention this situation? It is just about using Ocelot.

[2018-06-18 09:15] TomPallister commented on #405
@davidni ive pushed a change that should fix this, please check the PR and let me know what you think.

[2018-06-18 12:05] jwyglendowski-precisionlender commented on #409
@TomPallister Sorry if I wasn't clear about the MS article. What I was just trying to say that they were not trying to avoid 404 errors and there isn't any special handling for them. It seems strange though that the behaviour is always with 404s.

[2018-06-18 14:28] jwyglendowski-precisionlender commented on #409
@TomPallister It might be service fabric itself with the issue. Looks like there needs to be a special header added on the service end. I am going to test that out.

X-ServiceFabric : ResourceNotFound

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy

[2018-06-18 14:49] jwyglendowski-precisionlender commented on #409
@TomPallister **That was it.** I will probably just create a simple middleware on the Service Side to handle the situation. Which makes perfect sense because all the references I found were not related to SF. Maybe I can put in PR for documentation on Service Fabric.

[2018-06-19 05:45] TomPallister opened #414 "Investigate RuntimeFrameworkVersion in csproj do we need this?"
## Expected Behavior / New Feature

Investigate RuntimeFrameworkVersion in csproj do we need this? https://docs.microsoft.com/en-us/dotnet/core/tools/csproj

## Actual Behavior / Motivation for New Feautre

Seems pointless to have in file unless we need it

## Steps to Reproduce the Problem

  1. Remove from csproj files
  1. Test build process

## Specifications

  - Version:
  - Platform:
  - Su

[2018-06-19 05:53] TomPallister commented on #356
@dbarkwell finally had a chance to look at this, your code looks like a good start apart from changing Ocelot to target netcoreapp2.1, it supports netstandard so it can be used in classic .net projects. Unless something has changed that I have missed netcoreapp does not work in classic .net?

[2018-06-19 06:14] TomPallister commented on #387
@chenzhe014 I will take a look ASAP :)

[2018-06-19 06:15] TomPallister commented on #409
@jwyglendowski-precisionlender I would really appreciate a PR for this! ServiceFabric is a minefield ;(

[2018-06-19 06:45] TomPallister commented on #387
@chenzhe014 you need to have

[code]

in your ocelot.json otherwise Ocelot doesn't know which key to use to get the configuration from Consul. Give that a try and let me know if anything changes?

If it doesnt I will look again.

[2018-06-19 07:07] chenzhe014 commented on #387
@TomPallister Thank you for your reply.
 I'm sorry. the `README.md` is previous version. I forgot to update it .  I delete ConfigurationKey in json  and the key of configuration from Consul is default `InternalConfiguration`,In the latest version.

[2018-06-19 07:50] TomPallister commented on #387
@chenzhe014 please can you push those changes to that repo so I can see exactly what you are testing with!

[2018-06-19 08:00] aqa510415008 opened #415 "RPC docking APi gateway"
Excuse me. We have a requirement that requires RPC to also connect to the APi gateway. Is there a corresponding document?

[2018-06-19 14:24] danpdc opened #417 "BaseUrl always http://localhost:5000"
## Expected Behavior
I have configured a basic API gateway using Ocelot 7.0.5 and everything seems to work fine, except replacing headers with the BaseUrl. Here is a sample from my ocelot.json file:

[code]
When I am doing a request for which the downstream API also specifies a location header, I would expect to see the configured BaseUrl + the path.

## Actual Behavior / Motivation for New Feautr

[2018-06-19 17:00] TomPallister commented on #417
@danpdc what url are you actually running Ocelot under? I guess it is localhost:5000? I will take a look and let you know ASAP!

[2018-06-19 17:02] TomPallister commented on #415
@aqa510415008 Is this RPC over HTTP? If so Ocelot supports http so it should work like any other url structure in a ReRoute.

[2018-06-19 17:49] davidni commented on #405
Thanks Tom, seems reasonable. I dislike that Ocelot would behave differently on different Frameworks, but I realize I can't really blame Ocelot for it.

The alternative would be to use the least common denominator across all frameworks (i.e. always ignore body for GET, HEAD, etc). I don't feel strongly about this, especially since (1) I feel GET's with bodies are a bad idea anyway given the often

[2018-06-19 19:45] davidni opened #419 "Incorrect routing when UpstreamHost is specified and UpstreamHttpMethod is empty"
## Expected Behavior
When a reroute rule specifies `UpstreamHost`, it should only match requests with that host name. There's a bug where this check is ignored if the rule has an empty or null `UpstreamHttpMethod`

## Actual Behavior
`UpstreamHost` is ignored

## Specifications

  - Version: 7.0.5
  - Platform: all

I will submit a PR shortly that addresses this.

[2018-06-19 20:05] TomPallister commented on #419
@davidni at first glance I agree! This looks good. Let me double check by pulling your code and seeing if I get a failing test!

[2018-06-19 20:13] davidni commented on #405
Update: this is still broken after #405. `_framework.Get()` gives me `".NET Framework 4.7.3110.0"`, but the code is looking for an exact match of `".NET Framework"`. Perhaps do a regex match for `@"^\.NET Framework\b"` instead?

I have reported the doc issue on [MSDN RuntimeInformation.FrameworkDescription](https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.runtimeinformation.

[2018-06-19 20:20] TomPallister commented on #405
@davidni thanks for this, that means those docs are wrong!! so annoying :( yeh I guess just a contains will do for now -__-

[2018-06-19 20:27] davidni commented on #405
I'd stick with HttpClient unless there's a strong reason to not use it.

[2018-06-19 22:03] TomPallister commented on #405
Yeh agree!

[2018-06-20 00:04] davidni commented on #419
Please double check, thanks. FWIW, I added a test and confirmed it fails before my changes and passes after.

[2018-06-20 06:17] danpdc commented on #417
@TomPallister locally I am running it under localhost:58422
I also deployed it to Azure and there I receive the same localhost:5000 when I do the header transform.

[2018-06-20 06:57] TomPallister commented on #405
@davidni if you get time I've pushed up a change with contains, can you give it a test and see if it works? I would do this myself but I work on Ocelot while commuting to work and my laptop is a mac otherwise I will try and do it tonight.

[2018-06-20 06:58] #375 closed

[2018-06-20 07:16] SnailDev commented on #374
@TomPallister I have read your solution. but there are two problems:
1. PollingConsulServiceDiscoveryProvider init on the first request and _timer poll services from consul, so the first request will be fail.
2. _timer poll just run once. I logged in poll method and I found the log print just on first request.
[code]

please confirm it, thank you very much.

[2018-06-20 17:27] TomPallister commented on #417
@danpdc thanks for the info I will look ASAP! Sorry I have limited time to work on Ocelot :(

[2018-06-20 18:47] davidni commented on #405
Confirmed good, commit c36c7c0cd913e5a7198cf3f975569f89b202d232

[2018-06-20 19:44] TomPallister commented on #417
@danpdc if I run

[code]

I get
[code]

It looks like your service doesnt return a location header so this functionality won't work. I'm not sure if your service just isn't configured right at the moment? If it isn't would you be able to add the location header.

I then took your example to see if Ocelot was adding a Location header for some reason with your config but got the following headers ba

[2018-06-20 19:45] TomPallister commented on #405
@davidni awesome thanks

[2018-06-20 21:41] TomPallister commented on #419
@davidni really appreciate your help! Thanks 😄

[2018-06-21 00:10] davidni opened #423 "Feature: Support arbitrary downstream endpoints"
The Ocelot config schema today only really works for http(s) endpoints. I'd like to be able to write my downstream endpoint as a `fabric:/` uri, which would then be dynamically resolved by a custom `IHttpRequester` at the end of the pipeline.

## Motivation for New Feature
Ocelot cannot dynamically resolve Service Fabric endpoints today (instead, it relies on SF Reverse Proxy, which adds an unnece

[2018-06-21 05:58] TomPallister commented on #423
@davidni you don’t have to specify host and port for service fabric services. Please see docs http://ocelot.readthedocs.io/en/latest/features/servicefabric.html

[2018-06-21 06:14] danpdc commented on #417
There is an endpoint that returns a location header. Sorry for forgetting to mention it from the first time.
To get a location header one needs to make a Post request to lxtodo.azurewebsites.net/api/v1/todo with a json body like { "title": "something", "description": "something" }. The response will be 201 Created which inclues a location header.

As a workaround for now I've added a custom middle

[2018-06-21 08:48] chenzhe014 commented on #387
@TomPallister I give up storing the configuration in consul. i change configuration during runtime via an authenticated HTTP API successfully . this is more quickly.
in this issue,i add my demo to Ocelot Source Code for debug and i find it can get the configuration successfully.  I can't find a reason for 404  so far and i don't  want to continue  . my ability is limited,
but i will continue study

[2018-06-21 08:49] #387 closed

[2018-06-21 09:55] TomPallister commented on #387
@chenzhe014 OK I'm glad you were able to solve your problem.

I'm sure it would have been something small that was causing your problems! Good luck in the future :)

[2018-06-21 18:01] davidni commented on #423
Not quite. There are 3 common ways to reach Service Fabric services in a cluster:
  1. **Use SF Reverse Proxy explicitly** (default is on port 19081): make an HTTP request to http://localhost:19081/app1/service1/path
  2. **Use SF DNS Service:** make an HTTP request to http://service1.app1:8080/path which will resolve to the IP of a replica of the requested service. Downside is this can't do port

[2018-06-22 02:33] samsiu2014 commented on #387
@chenzhe014 I would like to ask did your changes saved to the local "Ocelotconfiguration".json?
I followed every steps on the ocelot documents but the configuration json is cached.

[2018-06-22 06:43] TomPallister commented on #419
Released in 7.0.6

[2018-06-22 06:43] #419 closed

[2018-06-22 06:43] TomPallister commented on #405
Released in 7.0.6

[2018-06-22 06:43] #405 closed

[2018-06-22 06:44] TomPallister commented on #400
Released in 7.0.6

[2018-06-22 06:44] #400 closed

[2018-06-22 06:45] TomPallister commented on #372
Released in 7.0.6

[2018-06-22 06:45] #372 closed

[2018-06-22 07:43] TomPallister commented on #423
@davidni thanks for more information. I’m happy to go with 3 as it has the most benefit for ServiceFabric users.

What is your solution at the moment? How would you envision doing this feature?

[2018-06-22 09:01] chenzhe014 commented on #387
@samsiu2014 i find in debug environment,it is  changed in `Ocelotconfiguration.Development.json` . if you publish your application,it is changed in 'Ocelotconfiguration.Production.json'

[2018-06-22 09:18] chenzhe014 commented on #387
@samsiu2014 maybe you would follow the [doc](http://ocelot.readthedocs.io/en/latest/features/configuration.html#multiple-environments).
`.AddJsonFile($"configuration.{hostingContext.HostingEnvironment.EnvironmentName}.json")`

[2018-06-22 09:44] Thio commented on #398
I do have the same issue. I'm using a mix between http and websocket calls.
My requirements: Load a page which then makes 70 requests to initialize the page, in the middle of all that create a ws connection to the backend which starts pushing values (~40v/s).

My Test (traced with dotmemory):
1 Client - Load page -> memory +10, +7k objects
31 Client - Load page -> memory +80, +60k objects
all clie

[2018-06-22 15:31] cletisgipson opened #428 "Consul is continually being used when it is not configured."
I am currently using the latest stable release of the product to setup a Proof Of Concept.  Every call I make, throws a Consul.GetRequest error in the logs.   Here is my configuration file.

[code]

Windows 10, Visual Studio 2017 with two very basic apis and one gateway project.  The UseServiceDiscovery flag seems to do no good.

[2018-06-22 15:37] TomPallister commented on #428
@cletisgipson thanks for your interest in the project! mmm this is very strange might be a bug!

Can you paste your program.cs and startup.cs here as well?

[2018-06-22 15:39] TomPallister commented on #428
@cletisgipson also is it possible to get the full stack trace?

[2018-06-22 15:41] TomPallister commented on #414
we do

[2018-06-22 15:41] #414 closed

[2018-06-22 15:49] TomPallister commented on #398
@Thio thanks for helping with this issue! Would it be possible to upload code that shows how to replicate this issue? Also what are you using to get the memory allocations? Is it possible to get the full output of the trace?