[2018-06-22 15:50] TomPallister commented on #398
@hbsis-fernandomedeiros @Thio it would also help if you could upload the code of your respective applications that are having the memory problems so I can run it myself.

[2018-06-22 15:59] cletisgipson commented on #428
Program.cs

[code]

Startup.cs

[code]

Stack Trace

C:\Users\cgipson\Source\Repos\OcelotProofOfConcept\APIGateway>dotnet run
Using launch settings from C:\Users\cgipson\Source\Repos\OcelotProofOfConcept\APIGateway\Properties\launchSettings.json...
Hosting environment: Development
Content root path: C:\Users\cgipson\Source\Repos\OcelotProofOfConcept\APIGateway
Now listening on: http://localhost:90

[2018-06-22 18:49] davidni commented on #423
For now I am replacing Ocelot's `IHttpRequester` implementation with a custom class in my application. DI then injects my implementation into Ocelot's Middleware, and I issue the request myself using custom name resolution.

This has a few problems:
  * I am hijacking the entire pipeline to **only** issue Service Fabric service requests. I can't currently have a different route that would just iss

[2018-06-22 20:38] vramanx opened #429 "Ocelot and FIPS"
I tried to find information around this. but could not find it. How do i enable FIPS 140.2 compliant SSL offloading in Ocelot? We want to run ocelot on windows containers

[2018-06-25 07:11] samsiu2014 commented on #387
@chenzhe014 Thanks for your reply!
After I changed the configuration during runtime via an authenticated HTTP API. The new values would not reflect in the "Ocelot.json". If I try to restart the API Gateway, the previous settings will be applied in instead of the modified one.

[2018-06-25 08:16] Rwing opened #430 "Best practice for logging?"
I noticed that will get terrible performance if logging to console via [docs](http://ocelot.readthedocs.io/en/latest/features/logging.html), so what the best practice fro logging in ocelot ?

[2018-06-25 08:58] wayne-o opened #431 "Should I be able to reRoute to a rest controller rather than a service?"
## Expected Behavior / New Feature

When I configure ocelot to resolve something like

[code]

It should be able to map to http://service.permissions/api/v1/permissions/

## Actual Behavior / Motivation for New Feautre

404

Note:
 - when I navigate to  http://service.permissions/api/v1/permissions/ it works
 - when using this config it works (Ocelot is able to re-route my request correctly):
[cod

[2018-06-25 11:53] guoming opened #432 "对于静态文件是否可以提供其他的缓存方式。"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feautre

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-06-25 13:56] wayne-o commented on #430
I would have thought that anything that doesn't block the execution of the application would be good - anything that logs loads to console is going to slow down - not just ocelot :)

[2018-06-25 15:57] kingdamian42 commented on #383
My apologies for not responding with my configuration, I'm sure it would have saved a some time and research on your end. My post was made in a bit of a rush and then as we all do I got sidetracked down another path.

Thankyou for addressing this even with the limited amount of information provided!

[2018-06-25 17:14] TomPallister commented on #383
@kingdamian42 no worries! Everyone is busy 😄

[2018-06-25 17:15] TomPallister commented on #432
Google translate this to

For static files can provide other ways to cache.

I don't know what it means though! Maybe someone who speaks Chinese can help? 😄

[2018-06-25 17:23] TomPallister commented on #431
@wayne-o  The routes `/api/v1/permissions/{everything}` and `/api/v1/permissions/` are different which is why you get a 404. A user might want one behaviour for /permissions/ and a different behaviour for /permissions/xxx which is why Ocelot works like this.

If you set up a ReRoute with `/api/v1/permissions/` then all the requests will be routed to your controller. You can then separate out diffe

[2018-06-25 17:25] TomPallister opened #433 "If using admin api updates configuration.{hostingContext.HostingEnvironment.EnvironmentName}.json which is confusing if user added ocelot.json"
## Expected Behavior / New Feature

If using admin api updates configuration.{hostingContext.HostingEnvironment.EnvironmentName}.json which is confusing if user added ocelot.json

## Actual Behavior / Motivation for New Feautre

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-06-25 17:32] TomPallister commented on #429
@vramanx Ocelot is not really designed to offload SSL. I would recommend doing this with an appliance designed for that role.

Ocelot can receive a request on HTTPS and then make a subsequent request on HTTP. It does this by the user configuring http for their request to the service. I have no idea if this is FIPS compliant, I guess you can turn FIPS mode on in Windows and see if it still works? O

[2018-06-25 17:35] TomPallister commented on #423
@davidni awesome thanks for this info! It really helps me out because I am not a ServiceFabric expert at all!! Could you share the custom IHttpRequester? I guess I would just do what I've done for all the other Ocelot things that need a different implementation and use a factory to get the ServiceFabricRequester depending on how the ReRoute is configured.

[2018-06-25 17:36] TomPallister commented on #428
@cletisgipson awesome thanks so much for this. There is one last thing I need to know 😞 Sorry for not asking originally...which version of Ocelot are you currently using?

[2018-06-25 17:43] cletisgipson commented on #428
most recent stable release

[2018-06-25 17:46] TomPallister commented on #428
@cletisgipson awesome thanks ill look into this asap! No idea why you are seeing this behaviour.

[2018-06-25 19:32] TomPallister commented on #430
@Rwing Ocelot uses standard .net core logging framework so anything that integrates with that will work fine. See the docs https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-2.1&tabs=aspnetcore2x

Hope that helps!

[2018-06-25 20:51] TomPallister commented on #428
@cletisgipson OK there are a few things going on here...

If you set your program.cs to the following your config should start working. The way you were setting up your config doesnt seem to work in .net anymore. I assume you are using 2.0+ if you are using the latest version of Ocelot. More info with the MS docs [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetc

[2018-06-25 20:52] TomPallister commented on #428
If no re routes and falling back to config log that fact so users can see it
Also not sure if we should be trying to fall back if nothing specified around service discovery in config however you could just be using consul defaults i guess.

Not sure, needs thought.

[2018-06-26 00:57] zjlhope opened #434 "install-package ocelot failed!"
I create a asp.net core empty project with vs2017 which is based on .net core 2.0.
when I try to install the ocelot with nuget tool ,it failed with the error ' install-package : NU1108: 检测到循环。
  ocelot -> ocelot (>= 7.0.6).'

why?

[2018-06-26 02:53] Rwing commented on #430
@wayne-o @TomPallister  Okay  gotcha, so according to your experience, what about best practice for logging in .net core ? thank you.

[2018-06-26 05:20] TomPallister commented on #430
@Rwing imo if you are using Windows write to event viewer and have something pull the logs from event viewer and use the ELK stack to push the logs to ElasticSearch and then view them in Kibana.

If you are using Linux use containers and write the logs into a container and again push them into an ELK stack.

All I would say is never push them to a relational database as this will cause you various

[2018-06-26 05:43] TomPallister commented on #434
@zjlhope thanks for your interest in Ocelot! 😄

I do not have the same problem as you. I have created a clean Ocelot project with version 7.0.6 [here](https://github.com/TomPallister/TestOcelotInstall) using vs2017. I suggest trying to use this project as the basis for what you are doing.

Hope that helps.

[2018-06-26 06:18] chenzhe014 commented on #432
静态文件是指Ocelot.json吗？

[2018-06-26 06:39] zjlhope commented on #434
@TomPallister  thanks for your reply.
I known what you say,when It‘s an .net core console project ,I can install it,but when it's an asp.net core empty project,I can't install it .All is based on .net core 2.0.

[2018-06-26 06:44] TomPallister commented on #434
@zjlhope the project I have linked to uses the Empty ASP.NET core template in VS2017!

Could you upload the code that isn't working so I can have a look?

[2018-06-26 06:58] zjlhope commented on #434
It's OK now!!
The project name can not be set ocelot!!
otherwise I can't work

[2018-06-26 07:01] samsiu2014 commented on #387
@TomPallister Thank you so much! However, does the administration API work on "DownstreamHostAndPorts"? It didn't have any effects if i only modified the port number.

[2018-06-26 07:52] aamuz opened #435 "System.Net.Sockets.SocketException: Connection refused"
## Expected Behavior
That the reroute process always works.

## Actual Behavior

It is working randomly. Sometimes it works, sometimes it does not. After a few refreshes the api gives 200 ok but mostly you get 500 directly. The log from ocelot looks like

[07:46:00 WRN] requestId: 0HLER738MP3NG:00000001, previousRequestId: no previous request id, message: Error making http request, exception: Syst

[2018-06-26 08:28] wayne-o commented on #430
serilog has an ELK appender

On Tue, 26 Jun 2018 at 06:20 Tom Pallister <notifications@github.com> wrote:

[2018-06-26 14:10] Thio commented on #398
Sorry for the delay. Sadly i cant provide you with the exact application. But i can provide you with the memory dump from dotmemory.

But i dont know how the error can't happen on your end, because even if i just access simple http api's without a realtime signalr connection the memory does "explode".

Testrun 1: simple config → all over HTTP requests (no SignalR)
![image](https://user-images.gith

[2018-06-26 14:15] MedAnd commented on #398
@Thio - out of interest are you running Ocelot on .Net Core runtime or the full .Net runtime? If running .Net Core applications on the full .Net runtime check that you are NOT using server GC.

[2018-06-26 15:09] aamuz commented on #435
I think i might have figured it out. Probably one of the replica in k8s was not working so the rerouting was not working. I think i better close this issue.

[2018-06-26 15:09] #435 closed

[2018-06-26 15:12] aamuz opened #436 "[Question] Authorization with external IdentityServer"
When Ocelot is used with and external IdentityServer, everything is awesome and works like expected. However, what i haven't figured out from the documentation is where can I set the authorization for the administration/configuration endpoint so that users with, lets say, admin claim only can access it.

Right now all identities that passes the authentication has access to that endpoint, means the

[2018-06-26 20:18] TomPallister commented on #436
@aamuz unfortunately you haven't missed anything simple! There is no claims based authorisation on the administration API at the moment. I take a lean approach to development so until someone asks for a feature I normally won't add it!

So I agree this is required and will add it to the backlog.

I think something like [this](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/poli

[2018-06-26 20:19] TomPallister commented on #435
@aamuz OK cool, let me know if you have anymore issues!

[2018-06-26 20:21] TomPallister commented on #398
@Thio thanks for the information and @MedAnd thanks for the help!!!

I do not see numbers like this but I will study the information more and see if I can work it out!! :(

[2018-06-26 20:56] TomPallister commented on #387
@samsiu2014 there was a bug with that until recently! What version of Ocelot are you using?

[2018-06-26 20:57] TomPallister commented on #434
@zjlhope that makes sense, if you call it Ocelot you will get namespace conflicts :)

[2018-06-26 20:57] #434 closed

[2018-06-27 01:39] samsiu2014 commented on #387
@TomPallister 7.0.5! Then, i just need to wait the new release right? Thanks!

[2018-06-27 05:40] TomPallister commented on #387
@samsiu2014 I think it was fixed in 7.0.6!

Install-Package Ocelot -Version 7.0.6

For that a go!

[2018-06-27 06:59] aamuz commented on #436
@TomPallister understood.

I will look into the code and will definitely try to see if I can add this enhancement and send you a PR.

I, however, would definitely need some ideas from you.

[2018-06-27 09:27] SnailDev opened #438 "Delegating Handler Exceptions"
## Steps to Reproduce the Problem
  1. just write delegeting handler like doc mentioned.
[code]
  2.Next you must add the handlers to Ocelot’s container either as singleton like follows.
[code]
  3. request 10 times.

Exceptions:
[code]

## Specifications

  - Version:7.0.6
  - Platform:
  - Subsystem:

[2018-06-27 12:47] cletisgipson commented on #428
That worked.  Thanks!

[2018-06-27 17:16] TomPallister commented on #436
@aamuz thats OK let me know when / if you need support!

[2018-06-27 17:17] TomPallister commented on #438
@SnailDev please can you share your Startup.cs / Program.cs / ocelot.json so I can look into this further? Thanks :D

[2018-06-27 19:56] TomPallister commented on #403
@daimeiquan sorry for not replying sooner. I will look at this again asap. I think it might have something to do with the chunked encoding. When I originally wrote Ocelot this didnt work and I never went back to check why.

[2018-06-27 21:16] TomPallister commented on #389
@ctee-cormant I'm sorry but I haven't been able to replicate this issue on windows using netcoreapp2.1.

I have a theory that when the claim is be stored something is calling ToString on a list and it is getting persisted like that in the token. I think this because Ocelot gets the claims like this

[code]

claims is of type System.Security.Claims.Claim and Value is of type string so I don't think

[2018-06-27 21:16] #389 closed

[2018-06-28 01:39] samsiu2014 commented on #387
@TomPallister It works! Thanks a lot!

[2018-06-28 02:38] ctee-cormant commented on #389
Hi @TomPallister! Sorry for not having replied sooner. I'll upload my code here on github when I get a chance. We're still early in development so multi role users have yet to come up again. Thanks again for taking the time to look into this and making our development easier with Ocelot! We really appreciate it.

[2018-06-28 02:52] SnailDev commented on #438
@TomPallister  I have create a test project https://github.com/OcelotStudy/OcelotTests which you could clone and run. just request http://localhost:5000/api001/values more times, the exception will occur.
and by the way , the doc about deleagating handler , handers may should be handlers.

![image](https://user-images.githubusercontent.com/30819423/42010464-4d5e877e-7ac1-11e8-83f1-d8ee3c87c7fa.png

[2018-06-28 03:54] guoming opened #440 "#Http Status 303 See Other"
## Expected Behavior / New Feature
304 Not Modified

## Actual Behavior / Motivation for New Feautre
303 See Other

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version: 7.0.6
  - Platform: Linux
  - Subsystem: Nodejs

[2018-06-28 04:00] guoming commented on #432
![image](https://user-images.githubusercontent.com/13638177/42012406-8d9d98a8-7aca-11e8-8c40-e3b6ee19dc0a.png)
今天发现另外一个问题，对于后端的请求如果返回304 Not Modified 状态，Ocelot 会出现303 See Other状态，这时候浏览器显示就出白屏。

[2018-06-28 05:31] TomPallister commented on #387
@samsiu2014 no worries!

[2018-06-28 05:33] TomPallister commented on #389
@ctee-cormant ok cool! When you do push the code let me know! Good luck with everything!

[2018-06-28 05:36] TomPallister commented on #438
@SnailDev awesome I’ll take a look! Yes the spelling is wrong :(

[2018-06-28 09:06] SnailDev commented on #432
@guoming 你好，能给个还原的步骤，或者示例项目出来吗？ 另，web 项目没有必要走api网关哦，直接走代理服务器就可以了。

[2018-06-28 11:31] liuyuedeyv opened #441 "a bug in HttpClientBuilder.cs"
## Expected Behavior / New Feature
 if (httpClient != null)
            {
               **_client = httpClient;**
                return httpClient;
            }

## Actual Behavior / Motivation for New Feautre
Ocelot.Requester.HttpClientBuilder.Create  has one bug. when get a httpClient from cache ,not to the httpClient to the "_client",then when call "save" method,the parms "_client" is null.

[2018-06-28 20:57] TomPallister commented on #441
@liuyuedeyv thanks for your interest in the project!!

What line is this?

All I see is line 41

[code]

[2018-06-28 22:44] vramanx commented on #429
@TomPallister - from what i understand, it depends on the openssl version. if .net core can be configured to use the right openssl version - then we should be good. but i have no clue on what that means. I will try it out.

For the second part from your post - Ocelot will terminate SSL and call the microservice endpoint on http or https. Is that right understanding?

[2018-06-29 07:06] magnificence-dream opened #443 "Pressure test return 404 - Ocelot"
hello  there

my situation:

  Pressure test  by  jemeter  ,80 users ,request 100 seconds,  At first it was normal. but sometimes,I  got many 404

configuration:

"ReRoutes": [
		{
			"DownstreamPathTemplate": "/api/v1/hear-froms",
			"DownstreamScheme": "http",
			"UpstreamPathTemplate": "/api/v1/hear-froms",
			"UpstreamHttpMethod": [ "Get" ],
			"ServiceName": "Lunz.Microservice.WebApp",
			"Lo

[2018-06-29 17:34] TomPallister commented on #441
@liuyuedeyv ahh yes I see what you mean, sorry I was confused yesterday :) had a few beers!!! It is adding a null object to the cache! Thank you very much for spotting this. I will take a look!

[2018-06-29 17:57] TomPallister commented on #403
@daimeiquan I have had a chance to look at this and I go back to my original question, is the problem here not with your downstream service? It doesn't look like your stack trace is from an Ocelot application?

Anyway I set up a test server returning your object and it works fine if you set a Content-Length and don't use the chunked encoding header. This link https://github.com/aspnet/Mvc/issues/5

[2018-06-29 17:57] #403 closed

[2018-06-29 17:59] TomPallister commented on #429
@vramanx yes correct Ocelot can receive HTTPs and proxy on HTTP. I guess this is terminating SSL!

[2018-06-29 18:00] TomPallister commented on #443
@magnificence-dream thanks for your interest in the project!!

Please could upload your source code for this test project? If you cannot do that then your program.cs / startup.cs and ocelot.json would help.

Also if you could run the tests with some logging turned on (dont log to console) and paste the logs here that would help.

I have not seen this kind of behaviour before.

[2018-06-30 09:37] magnificence-dream commented on #443
@TomPallister  thanks very much

here is the source code:
https://github.com/magnificence-dream/apigateway

the configuration is : configuration.Staging.json

[2018-06-30 11:03] TomPallister commented on #443
@magnificence-dream I will look ASAP! thanks for this 😄

[2018-06-30 14:29] liuyuedeyv commented on #441
Thank very much! Good night!

[2018-07-01 07:56] TomPallister commented on #441
@liuyuedeyv I will keep the issue open until it is released to NuGet 😄

[2018-07-02 09:26] kasitimo opened #445 "[Question] How to add custom authentication in ocelot"
Ocelot support to custom authen ?
I try to add my custom authen to ocelot but can't work.
This error

[2018-07-02 17:03] TomPallister commented on #445
@kasitimo please can you upload your source code so I can have a closer look?

If not you need to add a authentication scheme with you CustomScheme key as per the docs http://ocelot.readthedocs.io/en/latest/features/authentication.html

[2018-07-02 18:56] #409 closed

[2018-07-02 18:59] #429 closed

[2018-07-02 18:59] #430 closed

[2018-07-02 18:59] #431 closed

[2018-07-02 19:13] TomPallister commented on #441
released in nuget package 7.0.7 will be available on nuget soon!

[2018-07-02 19:13] #441 closed

[2018-07-02 19:13] TomPallister commented on #428
released in nuget package 7.0.7 will be available on nuget soon!

[2018-07-02 19:13] #428 closed

[2018-07-02 19:13] TomPallister commented on #407
released in nuget package 7.0.7 will be available on nuget soon!

[2018-07-02 19:13] #407 closed

[2018-07-03 03:02] kasitimo commented on #445
@TomPallister
https://github.com/kasitimo/MyGatewayAPI

[2018-07-03 05:56] TomPallister commented on #445
@kasitimo try setting the authentication in program.cs I will take a closer look ASAP.

[2018-07-03 07:06] kasitimo commented on #445
@TomPallister please guide to setting authentication in  program.cs

[2018-07-03 16:40] Savij opened #446 "[Question] OIDC Auth and 401"
Hello,
I have the following microservice project scheme:
- Ocelot - dotnet core 2.0 in webApi template project: port 8090
- Okta OIDC - dotnet core 2.1 mvc template project: port 8087
- Micro-Service - dotnet core 2.1 webApi template project: port 8086

(These are all in docker containers)

I'm not sure of how I am supposed to be using this, but here is what I am trying (and failing at):
1. Using

[2018-07-04 00:35] wlnh420 opened #447 "fail: Ocelot.Errors.Middleware.ExceptionHandlerMiddleware[0] requestId: 0HLF18GI14L9L:00000002, previousRequestId: no previous request id"
Hello:
there is an error as:

fail: Ocelot.Errors.Middleware.ExceptionHandlerMiddleware[0]
      requestId: 0HLF18K0RJATV:00000001, previousRequestId: no previous request id, message: Exception caught in global error handler, exception message: Index was out of range. Must be non-negative and less than the size of the collection.
[code]

[2018-07-04 05:07] wlnh420 commented on #447
sorry !
 The firewall is opened to make the error

[2018-07-04 08:04] netren20000 commented on #360
yes, i need it too!
in A/B Testing

[2018-07-04 08:56] coolincy commented on #398
I do have the same issue.  asp.net core 2.1.1 at IIS.

[2018-07-04 17:12] TomPallister commented on #360
@netren20000 cool thanks for letting me know! I will try and do this ASAP! I am very busy at the moment just answering questions and fixing bugs! Hopefully once all the bugs are sorted out I will do this feature!

[2018-07-04 17:15] TomPallister commented on #447
@wlnh420 is this still a problem?

[2018-07-04 17:23] TomPallister commented on #446
@Savij Thanks for your interest in the project and a very thorough issue report!

On step 2 where you call Ocelot from postman I assume you are setting a header Authorization: Bearer XXXXX?

Have you tried these authentication settings with a normal webapi in docker to remove Ocelot from the equation? You could just create a basic webapi project, stick [Authorize] on the ValuesController and then

[2018-07-04 17:58] TomPallister commented on #445
@kasitimo change your program.cs to this and Ocelot will start

[code]

[2018-07-04 20:45] TomPallister commented on #398
@hbsis-fernandomedeiros @MedAnd @coolincy when you are using Ocelot have you built it in release mode?

I'm so confused by this issue because I dont know enough about memory in .net core. However I profiled a basic .net core app you can see the code [here](https://github.com/TomPallister/TestApi) and the amount of memory grows over time just like you are seeing with Ocelot. I think this might be a

[2018-07-04 21:48] TomPallister commented on #398
OK I finally got somewhere with this...there was an issue building up too much memory with MemoryHttpClientCache in Ocelot. I have refactored this and the problem has gone away.

However the memory still grows quite quickly. I noticed that TlsOverPerCoreLockedStacksArrayPool seems to be creating and holding onto a lot of bytes so I looked into it more and eventually go to this issue that was fixes

[2018-07-05 00:09] wlnh420 commented on #447
@TomPallister   thanks . I have Solved the problem。

[2018-07-05 02:50] kasitimo commented on #445
It work!!
Thank you for your help

[2018-07-05 02:50] #445 closed

[2018-07-05 05:56] TomPallister commented on #445
@kasitimo no problem :)

[2018-07-05 05:57] #447 closed

[2018-07-05 06:59] kasitimo commented on #445
@TomPallister  I have some question ocelot support multiple AuthenticationProviderKey in AuthenticationOptions ?

eg.
"AuthenticationOptions": {
        "AuthenticationProviderKey": ["Auth2","Auth2"]
  }

[2018-07-05 07:09] TomPallister commented on #445
@kasitimo not at the moment, Im not sure if asp.net core can do this!

[2018-07-05 07:14] TomPallister commented on #398
@hbsis-fernandomedeiros @MedAnd @coolincy can you advise if you are using server or workstation GC?

[2018-07-05 12:53] MedAnd commented on #398
Hi @TomPallister... still kicking the tyres however for all production workloads (especially Service Fabric) have been running & recommending using workstation GC...

[2018-07-05 18:52] TomPallister commented on #398
@MedAnd so you are using workstation GC?

@MedAnd @hbsis-fernandomedeiros @coolincy are you using windows to host Ocelot?

[2018-07-05 19:22] TomPallister commented on #417
@danpdc sorry this has taken me so long to look at! Been very busy :)

So I set up the config as below and everything worked fine...

[code]

Can you give it a try and let me know if the Location header works as expected? I think your original json config had a few issues!

[2018-07-05 19:22] TomPallister commented on #423
@davidni would you be able to share your custom IHttpRequester?

[2018-07-06 06:59] TomPallister commented on #440
@guoming Sorry I cannot replicate this issue. I think there is a problem with your server that is returning 303 not 304. The only code that changes status codes in Ocelot is ErrorsToHttpStatusCodeMapper and that does not effect 303 or 304. I have added a test to show this working [here](https://github.com/ThreeMammals/Ocelot/pull/450)

Please can you upload source code showing the issue and I will

[2018-07-06 06:59] #440 closed

[2018-07-06 07:00] TomPallister commented on #432
@guoming I am very sorry I do not understand the problem and have become confused!

Please could you upload source code showing the problem and I will be able to investigate further & reopen the issue! 😄

[2018-07-06 07:00] #432 closed

[2018-07-06 07:13] TomPallister commented on #438
@SnailDev I cannot get your example to work, it is configured to call API001 on http but the service calls app.UseHttpsRedirection(); so all traffic needs to be https! Should I just remove this?

[2018-07-06 08:50] blackcoral88 commented on #438
It seems to happen when HttpClientBuilder create a new httpclient. The same HttpMessageHandler cannot set InnerHandler when it is running by another httpclient. It should be a bug here. So you can just use AddTransientDelegatingHandler instead of AddSingletonDelegatingHandler
![_20180706164955](https://user-images.githubusercontent.com/16820933/42369456-9cee96b8-813c-11e8-94bb-01b43f6db1a2.png)

[2018-07-06 13:35] fleed opened #451 "QueryString paramters templating"
I'm using version `7.0.7` of the library. I need to transform one route parameter of type Guid into a query parameter.

This is my `ocelot.config`:

[code]

I get a *404* response from the actual service. The generated url looks ok from the logs of the actual server, and if I copy&paste the url to a new Postman request, I get a successful response as expected.

Logs by the actual service for the r

[2018-07-06 13:58] MedAnd commented on #398
@TomPallister not running in production with Ocelot however running dozens of other .NET Core microservices in Service Fabric on Windows. Using the full .Net 461 run-time and have seen various memory issues when using Server GC, hence recommend using workstation GC...

[2018-07-06 17:11] TomPallister commented on #438
@blackcoral88 I think you are correct, I guess you cannot have singleton handlers ;) Whoooops!!

@SnailDev I think I will just have to remove this API! But I will look into it more closely ASAP.

[2018-07-06 17:15] TomPallister commented on #451
@fleed thanks for your interest in Ocelot! I don't think Ocelot supports transforms on the query string atm so this might be a new feature. I will look into it in more detail ASAP.

[2018-07-06 17:16] TomPallister commented on #398
@MedAnd yep workstation GC is recommended for most workloads I guess.

[2018-07-06 17:44] Savij commented on #446
sounds like a good test. Will try it on Monday when I'm back to work. Will Advise.

[2018-07-07 01:48] bao2314483 opened #452 "Ocelot能否当作反代理工具来转发网站内容呢?"
Ocelot能否当作反代理工具来转发网站内容呢?

[2018-07-08 06:57] fleed commented on #451
Thank you @TomPallister . For your information, it works if I avoid the query part and do a transformation using route parameters.. anyway, that's not how I planned to design the service api.

[2018-07-08 07:00] fleed opened #453 "Caching documentation broken"
The documentation for the caching is broken (external links are not working).
Without the example, it is hard to get it working (it is not clear if caching is enabled by default of if services should be configured to support it).

Documentation revision: `85efcf07`

[2018-07-08 07:42] TomPallister commented on #453
@fleed it is not enabled by default! I will take a look at the docs and fix them.

If you look [here](https://github.com/ThreeMammals/Ocelot/blob/develop/test/Ocelot.ManualTest/Program.cs) and the lines

[code]

Would add cacheing to the project.

Cache manager is [here](https://github.com/MichaCo/CacheManager)

Ive obviously had a brain fart when I wrote those docs.

[2018-07-08 07:44] TomPallister commented on #451
@fleed yeh this is a perfectly reasonable thing to want, Ive just never got round to query string templating or some feature around that. I will have a look at it.

[2018-07-08 07:50] fleed commented on #453
No problem @TomPallister , thank you for the great project and the support!

[2018-07-08 14:05] TomPallister commented on #452
@bao2314483 Thanks for your interest in the project! I'm sorry but I do not understand the question.

Google translates this question to..

Can I use the anti-agent tool to forward website content?

Is anybody able to help?

[2018-07-08 14:26] TomPallister opened #454 "support netcoreapp2.1"
## Expected Behavior / New Feature

support netcoreapp2.1

## Actual Behavior / Motivation for New Feautre

when using netcoreapp2.1 Ocelot uses tons of memory that grows exponentially.

## Steps to Reproduce the Problem

  1. Upgrade Ocelot project to netcoreapp2.1
  1. Hit with lots of traffic
  1. Cry

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-07-08 15:41] TomPallister commented on #454
blocked by appveyor not support sdk 2.1.301

[2018-07-09 01:11] #452 closed

[2018-07-09 07:36] Rohitwagh opened #458 "Support for rate limiting when dynamic routing is enabled"
When dynamic routing is enabled, as per the document at http://ocelot.readthedocs.io/en/latest/features/servicediscovery.html#dynamic-routing, the ReRoutes in configuration needs to be empty. Also, for features like rate limiting and tracing are only available with ReRoutes config and not dynamic routing.

While using Ocelot, we have found dynamic routing to be useful as the microservice registers

[2018-07-09 17:31] TomPallister commented on #458
Hi @Rohitwagh thanks for your interest in the project.

Ocelot does currently support rate limiting with dynamic routing as per the docs [here](http://ocelot.readthedocs.io/en/latest/features/servicediscovery.html#dynamic-routing). You can add it in the GlobalConfiguration. The limitation is that of course you cannot set the rate limiting options differently per route. However I think it is a good

[2018-07-09 17:35] #453 closed

[2018-07-09 18:32] TomPallister commented on #438
Just released 7.0.9 to GitHub which removes delegating handlers. I’ve messed up semver because it should have been a breaking change. Will fix next release.

[2018-07-09 18:32] #438 closed

[2018-07-09 19:54] Rohitwagh commented on #458
Thanks @TomPallister for the information, i have gone through the link you posted and it is helpful but i want to apply rate limiting options on per route.

I had thought of the option that you have suggested for storing configuration in consul and am looking for something ideal. Also, which can be integrated into the Ocelot and help someone with similar requirements.

[2018-07-10 01:01] TimJarvis commented on #161
Hi Tom,

I have read your reasons for not supporting swagger, and not going to argue ;-)

But the main reason we use swagger is not so much for the swagger doc and UI - though this is helpful - its mainly for being able to generate clients ( both c# and javascript ) as part of our build process.

is there an Ocelot'y way to do this ?

[2018-07-10 02:04] mogliang opened #460 "support partition routing?"
## Expected Behavior / New Feature

we have one service with several deployed instances, each instances serve a group of users. we use this way to do horizontal scaling.

Right now, we want to use gateway as the single api address for all instances, each http request will attach token with claim which indicates the instance name. I'm wondering if Ocelot can help on this scenario?

## Actual Behavi

[2018-07-10 06:40] TomPallister commented on #161
@TimJarvis thanks for your interest in the project. There isn’t currently a way to generate a client from an Ocelot config.

Again the main problem is going to be the lack of types so client wouldn’t know what it needs to post or what it is going to get. It might be possible to do it with JS / dynamics in C#.

Microsoft have just been exposing the services swagger endpoints via Ocelot if that help

[2018-07-10 06:44] TomPallister commented on #458
@Rohitwagh ok cool that makes sense, the other option might be to store rate limiting meta data against the dynamic routed service in Consul and then at least you could apply the same settings per downstream service. This doesn’t give you per route options though.

Just to clarify the global rate limiting is applied per route so a call to one doesn’t affect another. It is just the options that are

[2018-07-10 06:46] TomPallister commented on #460
@mogliang thanks for your interest in Ocelot!

At the moment you cannot do this with Ocelot. However it is an interesting idea. I will think about it and get back to you ASAP!

[2018-07-10 06:47] #417 closed

[2018-07-10 08:58] wayne-o opened #461 "Api doesn't seem to recieve any claims from Ocelot for authenticated route"
## Expected Behavior / New Feature

User ClaimsPrinciple is populated with claims

## Actual Behavior / Motivation for New Feautre

Although the user seems to get through the controller with  ` [Authorize(AuthenticationSchemes = JwtBearerDefaults.AuthenticationScheme)]` - it actually doesn't look like it is authenticated and definitely doesn't have any claims associated with it - I have no idea ho

[2018-07-10 12:17] Savij commented on #446
@TomPallister I worked on this a bunch yesterday and I was able to get it working. The problem was with Okta and NOT Ocelot. I removed Ocelot as you suggested and it still was not working. I switched over (for now) to implicit grant for the react part. Then added Ocelot and viola!

For those interested, the access_token by default from Okta OIDC is not signed by the same authority as the id_token.

[2018-07-10 17:01] TomPallister commented on #451
@fleed Ive made a change that should get your use case working. However query string params won't be supported in UpstreamPathTemplate just yet. This is quite complicated and needs a bit of thought. I will let you know when the change gets released to nuget.

If you want to test it out just pull latest develop of Ocelot!

[2018-07-10 17:03] TomPallister commented on #446
@Savij awesome thanks for the update. I might put a link to this in the docs in case anyone else is looking for something similar one day.

Let me know if you need anymore assistance with Ocelot 😄

[2018-07-10 17:06] #446 closed

[2018-07-10 18:59] TomPallister commented on #461
@wayne-o the first thing I notice is your key in Ocelot.json is FrontendBff and in your ConfigureSonatribeIdentity method it is  SonatribeFrontendBff. But Ocelot should not start up if you specify a key in the config and it doesn't exist in the container so I assume this is just a mistake.

I just want to clarify that you are expecting in your downstream service to be able to look at the identity

[2018-07-10 19:30] wayne-o commented on #461
So, my downstream controllers need to know the identity of the user making the request. How do I pass the claims along? Would this mean removing the auth stuff from the BFF?

The key was a mistake :p

[2018-07-10 20:15] TomPallister commented on #461
You don't really pass the claims along, they are lifted out of the bearer token or whatever mechanism asp.net is configured to use for authentication / authorization. If you pass a bearer token to a service and that service has a controller with authorize attribute over it and you register some authentication provider the claims should be available in the controller. I would suggest reading all of

[2018-07-10 20:16] TomPallister commented on #454
can be merged after performance issues are sorted

[2018-07-10 20:17] TomPallister commented on #443
@magnificence-dream this is the next issue I will look at, sorry for the wait.

[2018-07-10 20:47] wayne-o commented on #461
Hmmm... that’s the setup I have... in fact I’ve replaced my hand coded gateway with Ocelot and the only auth related part I changed was the key. I’ll dig some more

[2018-07-11 05:51] fleed opened #462 "Using Ocelot in front of SignalR Core"
Is it supported to load balance SignalR Core clients, eventually using different protocols (e.g. **MessagePack**)?

[2018-07-11 05:53] TomPallister commented on #443
@magnificence-dream this is a very strange one!!

If you search the log for this message

There were no services in NoLoadBalancer errors found in ResponderMiddleware. Setting error response for request path:/api/v1/hear-froms, request method: GET

These errors will return a 404 so that is probably the source of your problem. This means that Ocelot has identified your ReRoute for /api/v1/hear-from

[2018-07-11 05:54] TomPallister commented on #462
@fleed there is no signal r support at the moment!

You can track the issue [here](https://github.com/ThreeMammals/Ocelot/issues/344) if you are interested. Although there hasn't been much movement on it yet!

[2018-07-11 05:54] #462 closed

[2018-07-11 05:56] TomPallister commented on #451
Released in 8.0.0

[2018-07-11 05:56] #451 closed

[2018-07-11 05:56] TomPallister commented on #454
Released in 8.0.0

[2018-07-11 05:56] #454 closed

[2018-07-11 05:59] TomPallister commented on #382
This has been released in Ocelot 8.0.0!

[2018-07-11 05:59] #382 closed

[2018-07-11 06:07] fleed commented on #462
Thank you @TomPallister and sorry for the duplicate item

[2018-07-11 06:14] fleed commented on #451
Just tested it and it works as expected. Thank you very much!

[2018-07-11 06:28] xiaoqiuGit opened #463 "Using Admin Api update configuration successfully,but the json file not changed.when I restart the Ocelot service,the configuration was restored."
## Expected Behavior / New Feature
Using Admin Api update configuration successfully,but the json file not changed.when I restart the Ocelot service,the configuration was restored.
`        public static IWebHostBuilder CreateWebHostBuilder(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                .UseStartup<Startup>().UseUrls("http://127.0.0.1:8000")
          .ConfigureAp

[2018-07-11 07:40] TomPallister commented on #462
No worries!

[2018-07-11 07:51] Rohitwagh commented on #458
Thanks for considering this. Yes, the global configuration for rate limit is helpful, but when it comes to rate limit options like period, limit and applying these on per service, just like we can do it in ReRoute file configuration. it is not available in dynamic routing.

i'll check on your suggestion of setting rate limiting metadata against dynamic route in Consul or something for per route an

[2018-07-11 08:16] vasicvuk opened #464 "Reroute sending empty Content-Type which causes Bad request"
## Expected Behavior / New Feature

When sending Http get request from ocelot to downstream. Content-Type should not be sent.

## Actual Behavior / Motivation for New Feautre
Currently there is an empty Content-Type header sent. Also Content-Length: 0 is extra too. This causes for most APIs made in Java to give 400 Bad request since they don't have formatter for Content-Type empty string. Sample:

[2018-07-11 08:28] Ehrys opened #465 "Failing to ReRoutes leads to 404 when omitting "/api/" in get url"
As part of a test in order to later use Ocelot, I built a mock project using " https://www.c-sharpcorner.com/article/building-api-gateway-using-ocelot-in-asp-net-core/ ", updated it to work with NetCore 2.1/Ocelot 8 and started playing with it.

The project is a Core console project as gateway using 2 core web api (except for names, they're identical thanks to copy paste).

I have a problem with R

[2018-07-11 08:39] Ehrys commented on #465
Ok, I just found something using another project. There's a difference between the ocelot.json I want to use and the one used in the bin folder (looks generated).

Any help on setting this up so the file used is the one I edit please ?

THanks !

[2018-07-11 09:17] Ehrys commented on #465
Further investigation lead to a fix. Simply renamed my ocelot.json to oselot.global.json.

From the sample I've seen on github, it might be a bug. Any feedback appreciated !

Thanks !

[2018-07-11 10:03] wayne-o commented on #461
Ahhhhhhh was a typo in my audiences!

Sorry for the noise :)

[2018-07-11 23:55] licjapodaca opened #466 "[QUESTION] How to configure Ocelot to accept services with and without security? [Authorize] [AllowAnonymous]"
## Actual Behavior

Currently I have an ASP.NET Web API restful service with a controller that by default has all actions with security *[Authorize]* and a few action without security *[AllowAnonymous]*, but in my `configuration.json` Ocelot manifest I have the following specification:

[code]

What I need to do to access without security to the last service in my configuration Ocelot manifest?

T

[2018-07-12 03:40] anktsrkr commented on #465
Hi @Ehrys , I don't think, it is a bug, rather it's a feature, Please check #296  for more details, and [Here](http://ocelot.readthedocs.io/en/latest/features/configuration.html#merging-configuration-files) is the documentation.

Thanks.

[2018-07-12 04:45] magnificence-dream commented on #443
Thanks @TomPallister for the information

I didn't use load balancing until I released it to the test.
I test again after modify the url to " /api/v1/hf" and then sometimes it's okay(no 404),
unfortunately, sometimes it's not

It's just the one place (modify the UpstreamPathTemplate )to change,is there any special logic for this

Thanks！

[2018-07-12 11:13] TomPallister commented on #461
all good :)

[2018-07-12 18:39] TomPallister commented on #443
@magnificence-dream there is no special logic, you should not get random 404 errors. Please can you send me the logs while the performance tests are running?

[2018-07-12 18:45] TomPallister commented on #465
@Ehrys thanks for your interest in Ocelot.
@anktsrkr thanks for helping me!! I really appreciate the support.

You should have a ocelot.json for each environment you want to work in e.g. ocelot.development.json, ocelot.staging.json, ocelot.production.json or something.

However you should just be able to add ocelot.json and everything will work ok if you do

[code]

Let me know if you are still ha

[2018-07-12 18:52] TomPallister commented on #466
@licjapodaca I think your priority is the wrong way round. I'm not 100% sure but reading the docs [here](https://ocelot.readthedocs.io/en/latest/features/routing.html?highlight=priority) it seems that you want your catchall `	"UpstreamPathTemplate": "/backend/{route}"` to have a priority of 0 and your more specific `"UpstreamPathTemplate": "/backend/api/Parametros/obtenerParamtrosInicial"` to have

[2018-07-12 19:05] TomPallister commented on #464
@vasicvuk thanks for your interest in the project! Mmmmmmmm I didn't even realise I'm adding these on...I think the issue is in RequestMapper.cs but not 100%. It looks like the Content-Type header is added there but I cannot find where the Content-Length header is being added.

This should be pretty easy to fix and will just need some debugging to work it out.

[2018-07-12 19:06] TomPallister commented on #458
@Rohitwagh awesome if you want a challenge I would be happy to accept a PR if you have the time 😄 if not I will get round to this eventually!

[2018-07-12 19:09] TomPallister commented on #463
@xiaoqiuGit thanks for your interest in the project.

There are a few similar issues already open. The way I handle the config just isn't very good.

I think what is happening...when you edit the config using the admin api it actually updates ocelot.{environment}.json on the disk. When you then restart ocelot it reads the configuration from ocelot.json because you do `AddJsonFile("Ocelot.json")` a

[2018-07-12 19:09] TomPallister commented on #464
Ill try get it fixed asap

[2018-07-12 19:32] vasicvuk commented on #464
@TomPallister  thank you for quick response. I will try to debug it too in order to see where the problem is.

[2018-07-12 20:15] vasicvuk commented on #464
Seems like HttpRequest by default has System.IO.Stream+NullStream not null. So the headers are added anyway since request.Body is never null. https://github.com/ThreeMammals/Ocelot/blob/a15f75dda80003481661f67b2610fc42f96b1c90/src/Ocelot/Request/Mapper/RequestMapper.cs#L41

Still not sure how Content-Length is added but maybe it is added by default if Content-Type is provided.

Here is the little

[2018-07-12 20:24] TomPallister commented on #464
@vasicvuk yep as expected that is the problem area! :)

[2018-07-13 00:56] licjapodaca commented on #466
It works, but with the services that I specify without security in the `configuration.json` manifest, but not works with the services that explicitly have security in the `configuration.json` file, it returns an http status "500 - Internal Server Error" ... how can I handle errors in Ocelot ? Is there a way to do that? to found the problem... maybe I configure incorrectly the Ocelot with IdentityS

[2018-07-13 02:05] magnificence-dream commented on #443
@TomPallister  glad to  your reply~

I tested it with another interface. The problem is the same as before.

**100 users ,request 100 seconds:**
![1](https://user-images.githubusercontent.com/39826801/42668264-527eafbe-8682-11e8-8986-007edd784438.png)

**request url:**
![2](https://user-images.githubusercontent.com/39826801/42668280-5f4f7c96-8682-11e8-8f54-c2a500d90b2b.png)

**confifuration.Stagin

[2018-07-13 07:05] TomPallister commented on #466
@licjapodaca ahh could you share your program.cs and startup.cs?

[2018-07-13 07:09] TomPallister commented on #443
@magnificence-dream very strange I will again ASAP!

[2018-07-13 07:12] TomPallister commented on #463
if You manually change the file while Ocelot is running it will not pick up the updates. The reason for this is Ocelot translates the file into an internal configuration. It is a bit messy and I know it needs to be improved :(

[2018-07-13 14:49] mciureanu commented on #403
I'm getting something similar with Ocelot 7.0.0. If there is no content type in the original request, Ocelot will add an empty content type, which messes aspnet core 2.1. I'm removing the content-type for now as a quick fix...

[2018-07-13 15:48] licjapodaca commented on #466
# Program.cs

[code]

# Startup.cs

[code]

[2018-07-13 17:20] Savij opened #468 "Recommended approach to add dynamic header"
Hi,

Before I ask my question, here is my topology (by public/private I mean which endpoints can be seen by other endpoints):
**[Setup]**
- public react client
- public okta OIDC (oAuth2)
- public/private - Ocelot can be hit by public and private endpoints
- private micro services (only Ocelot has access)

I am using this on existing software that has it's own home grown authorization role system

[2018-07-13 20:29] aadupirn opened #469 "DownstreamSchema appending to address when not necessary"
## New Feature
When consul returns an address that includes the `http` or `https` prefix when providing services after a service registry query Ocelot should recognize that the `DownstreamScheme` field needs not be applied.

## Motivation for New Feautre
Ocelot will append the `DownstreamScheme` field in front of an address even if it's not necessary, resulting in downstream paths like `http://htt

[2018-07-13 20:38] g1336 opened #470 "Ocelot's customers"
I've seen that Microsoft it's one of the Ocelot's customers. Does anybody knows what do they use it for? Other than them and Tencent, are any other customers?

Thanks!

[2018-07-14 01:36] licjapodaca commented on #466
Debugging the Ocelot project with Application Insights I catch the error when trying to call the service with security and throws me this error:

[code]

The first call to generate the Token in Identity Server returns me a correct Token like this:
https://jwt.io/#debugger-io?token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjVCRTc3RkQ2MEQ4Q0FBODBFOUE4RjY5NUI3MTNEN0JDQzE1RDYzOUUiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJXLWRfMW

[2018-07-14 07:47] anktsrkr opened #471 "JSON schema for ocelot configurations."
## New Feature
Hi @TomPallister, It would be great if can give auto-complete, live documentation, validation support for ocelot.config file.

## Motivation for New Feature
Well, It is hard to remember all the configurations 😃 so was thinking if we can give mentioned support via json schema

Here is some examples:

**Auto-Complete:**

![image](https://user-images.githubusercontent.com/5505886/42722

[2018-07-14 08:47] TomPallister commented on #470
Hi, thanks for your interest in Ocelot. Microsoft use Ocelot in their eshopsoncontainers project so they can have an api gateway in k8s / service fabric.

Other than them and tencent I don’t know of anyone specifically using Ocelot.

[2018-07-14 14:04] geffzhang commented on #470
I set up a Ocelot user wechat-group in China, they have already used ocelot, and now more than 30 companies are running online. Not in my statistics range should be far more than this number, the last two years through the user's feedback, Ocelot function has been increasingly perfect

[2018-07-16 07:48] Ehrys commented on #465
@anktsrkr as per @TomPallister I was expecting having only the ocelot.json file to work (as it's supposed to work when using .AddJsonFile but seems not to be working with AddOcelot).

@TomPallister I fixed it by renaming my ocelot.json to ocelot.global.json, anyway I was expecting the AddOcelot to work with a simple ocelot.json file but I missread the doc's regex (note that "ocelot..json" matches

[2018-07-16 07:48] #465 closed

[2018-07-16 10:15] mciureanu commented on #464
The same thing happens when running Ocelot and the API in the same process with aspnet core 2.1 Ocelot adds this empty header causing the API to fail. I have added a middleware to remove this empty header to avoid this problem

[2018-07-16 16:52] licjapodaca commented on #466
My bad, I had something wrong in the IdentityServer project, I made a correction and everything it's ok for now.

Thanks for your help and time @TomPallister ... Ocelot it is a great API Gateway project ...

P.D. "By the way, It would be nice if you tell me how to handle errors in Ocelot project, some Try/Catch in the middleware..."

Greetings

[2018-07-16 20:44] xxsybreedxx commented on #471
+1, Schema would be perfect!!!

[2018-07-17 07:56] Rohitwagh commented on #458
Great!, i will write implementation for this where in there will be a default provider for dynamic reroute configuration and anyone would want to, can write an external provider and use that as the default provider for dynamic configuration. I will send a PR once done. Thanks

[2018-07-17 10:22] Rwing opened #472 "Dose it support HMAC Signature to authenticate API requests?"
Like as aws api
https://docs.aws.amazon.com/AWSECommerceService/latest/DG/rest-signature.html

[2018-07-17 10:51] aqa510415008 opened #473 "DownstreamUrlCreatorMiddleware a bug that caused a parameter loss"
## Expected Behavior / New Feature
Route conversion
Request address: http://localhost:5000/uc/Authorized/refresh?refreshToken=2288356cfb1338fdc5ff4ca558ec785118dfe1ff2864340937da8226863ff66d

## Actual Behavior / Motivation for New Feautre

[code]

## Steps to Reproduce the Problem

  1.  The  `refreshToken` parameter is missing after other routes are converted by `DownstreamUrlCreatorMiddleware`

[2018-07-17 19:40] TomPallister opened #474 "Ocelot adds spaces to headers"
I also noticed that Ocelot puts spaces in the headers, if it received this: `"Accept:text/html,application/xhtml+xml,application/xml;"`

it will forward this:

`"Accept:text/html, application/xhtml+xml, application/xml;"` (with spaces)

I would feel better and saferwithout this extra parsing and changing of headers...

[2018-07-17 19:42] TomPallister commented on #403
@mciureanu thanks for your interest in Ocelot, I'm sorry for the slow response I have been away for a few days 😄

I already have a ticket for the content-type issue so we can ignore that!
I have raised a new ticket for the spaces issue https://github.com/ThreeMammals/Ocelot/issues/474

Thanks :)

[2018-07-17 19:43] TomPallister commented on #464
@vasicvuk sorry I have not fixed this yet, I have been away for a few days! Will get on it ASAP.

[2018-07-17 19:50] TomPallister commented on #468
@Savij sorry for the slow response, I have been away for a few days 😄

So I think you could do this using a injected middleware docs are [here](http://ocelot.readthedocs.io/en/latest/features/middlewareinjection.html) the middleware you want to inject is PreQueryStringBuilderMiddleware. Before calling next in the overriding middleware you can access context.DownstreamRequest.Headers and add whatev

[2018-07-17 19:51] TomPallister commented on #469
@aadupirn thanks for your interest in Ocelot, this makes sense! I will get round to it asap. I would classify it as a bug I think which means I will do it sooner than features! Thanks for your input into the project.

[2018-07-17 19:59] TomPallister commented on #466
@licjapodaca I'm glad you got the issue fixed! I'm not sure why Ocelot didn't show the error in its own logs. It has a try catch over all middleware and logs the exceptions it finds. My guess is that under the covers this was just returning unauthenticated which is part of .net code so Ocelot doesn't see any problem other than unauthenticated? Does that make sense! I will close this issue for now.

[2018-07-17 19:59] #466 closed

[2018-07-17 20:01] TomPallister commented on #471
@anktsrkr @xxsybreedxx this looks cool! I have no idea how this works 😄 is there any documentation that shows how to do it? What tools you need etc? Is this something you could help with?

[2018-07-17 20:02] TomPallister commented on #458
@Rohitwagh Sorry for late reply, I have been away for a few days.

Awesome let me know how it goes! Looking forward to seeing the code!

[2018-07-17 20:04] TomPallister commented on #472
@Rwing this isn't supported at the moment.

Can I ask what use case you want this feature for?

[2018-07-17 20:06] TomPallister commented on #473
@aqa510415008 Which version of Ocelot are you using? I will look at this ASAP. Feels like a bug.

[2018-07-17 20:21] TomPallister commented on #464
@vasicvuk what are you hosting Ocelot with e.g. Linux / Windows? Is there anything in front of Kestrel e.g. IIS / nginx?

When I debug Ocelot I Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.FrameRequestStream as the type for a stream when I curl with GET so no body.

I think there is might be some .net core magic here to contend with!

[2018-07-17 20:22] TomPallister commented on #464
There are also ConentType and ContentLength properties on the request object...I guess I could use them to say if they don't exist then definitely don't add any content.

[2018-07-17 20:23] anktsrkr commented on #471
Hi @TomPallister yes i can help but need your input as well 😃

Please find the resources from where you will get the idea :

[Overview](http://json-schema.org/)

[Getting Started Step-By-Step](http://json-schema.org/learn/getting-started-step-by-step.html)

[Schema Store]( http://schemastore.org/json/)

[Tool We Can Use](https://jsonschema.net/)

My suggestion is to create schema using mentioned t

[2018-07-18 02:02] Rwing commented on #472
just it's simpler than jwt, oauth 🤣

[2018-07-18 02:06] aqa510415008 commented on #473
This modification can solve my problem, but I don't know if it will cause other problems, I hope to help you.

[code]

[2018-07-18 04:40] vasicvuk commented on #464
I use .Net Core 2.1 running it with IIS through Visual Studio 2017 Community.

[2018-07-18 04:42] EdwinVW opened #475 "Specify specific folder for config.AddOcelot()"
## New Feature
I use the AddOcelot extension-method on IConfigurationBuilder to configure Ocelot in a project I'm working on. The default implementation looks in the current folder for config files and combines these into an ocelot.json file.

I would like to have the ability to specify a specific folder when using config.AddOcelot.

## Motivation for New Feature
I like to define the reroutes for

[2018-07-18 05:52] TomPallister commented on #464
Ok cool, I will keep looking!

[2018-07-18 05:53] TomPallister commented on #473
@aqa510415008 thanks, I can add failing test, make the change and see if all the tests still pass!

[2018-07-18 05:55] TomPallister commented on #475
@EdwinVW thanks for your interest in Ocelot. Yes I would love a PR for this! Sounds useful.

[2018-07-18 09:07] vasicvuk commented on #464
I guess that you can trim it when Content-Length is 0 but it would be nice to know what is causing an issue

[2018-07-18 17:07] TomPallister commented on #464
@vasicvuk I think NullStream is an internal type so you cant check or instantiate it. I also think it is only set when you instantiate DefaultHttpRequest...not when you receive an actual HttpRequest!

[2018-07-18 17:42] TomPallister commented on #475
@EdwinVW awesome thanks! I will review ASAP.

[2018-07-18 20:34] LuketaD2 opened #478 "[Question] ISercviceCollection on Program.cs"
Hello, everyone!

I'm trying to update the Ocelot (8.0.0) on my project (From core 2.0 to core 2.1), but I'm stuck in this error:

**Program.cs**
`  .ConfigureServices(s => {
                   s.AddOcelot();
               })`

This line give the following error:
'IServiceCollection' does not contain a definition for 'AddOcelot' and no extension method 'AddOcelot'....

All of my packges are up-to

[2018-07-19 02:53] davidni commented on #423
There's too much other code involved in my http outgoing request pipeline that I cannot easily strip out, sorry.

That said, my current course of action is to stay with Ocelot's existing model (1) **Use SF Reverse Proxy explicitly**. If I hit any blockers or insurmountable challenges I will revisit, but for now feel free to close this as it doesn't seem like it will be necessary and I am not activ

[2018-07-19 02:53] #423 closed

[2018-07-19 02:56] davidni opened #479 "UpstreamPathTemplate hard-coded priority 0"
## Expected Behavior / New Feature
`UpstreamTemplatePatternCreator.cs:33` creates an instance of `UpstreamPathTemplate` but sets priority to `0` instead of using `reRoute.Priority`. I haven't validated whether this affects behavior, but it seems like a potential bug.

## Specifications

  - Version: 8.0.0

[2018-07-19 03:32] davidni opened #480 "Support wildcards in UpstreamHost"
## New Feature
Support routes that match wildcard sub-domains such as `*.domain.example.com` (and fix existing bugs in the process -- more on this below :))

## Motivation for New Feature
`ReRoute.UpstreamHost` uses ordinal string comparison and does not support wildcards.

## Implementation note
For reference, [here's what Nginx supports](http://nginx.org/en/docs/http/server_names.html). My sugge

[2018-07-19 12:15] LuketaD2 commented on #478
It worked!!!

But all my routing is returning 404.

It was all working before core 2.1 (was running on 2.0).

![image](https://user-images.githubusercontent.com/6198950/42941757-28f660b8-8b34-11e8-936e-566c8787656a.png)

And my routing (only a part):

`{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/product/",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [

[2018-07-19 16:36] TomPallister commented on #478
@LuketaD2 awesome :) no problem.

[2018-07-19 16:36] #478 closed

[2018-07-19 16:40] TomPallister commented on #423
@davidni OK cool, maybe we will come back to this one day :)

[2018-07-19 16:43] TomPallister commented on #480
@davidni awesome this all sounds good to me, with PR lets just make sure there are tests for all the functionality you are going to add :D If you can be bothered updating the docs with all of this would also be awesome but I can do that if you dont want to! Really appreciate your contributions.

[2018-07-19 16:43] TomPallister commented on #479
@davidni its probably a mistake that doesnt affect the logic. Will check ASAP. Fixing a bunch of bugs atm 😄

[2018-07-19 16:50] TomPallister commented on #475
@EdwinVW good PR thank you very much. I will release this with next version of Ocelot.

[2018-07-19 16:58] EdwinVW commented on #475
Great, thanks for the fast review and merge!

[2018-07-20 01:31] aqa510415008 commented on #473
@TomPallister  Is there any progress on this issue?

[2018-07-20 01:37] #415 closed

[2018-07-20 05:47] TomPallister commented on #473
@aqa510415008 sorry I haven’t been able to do this yet. Will try ASAP.

[2018-07-21 04:58] moyotalero opened #484 "Access to the path Denied"
In production I have the following error, the file exists and although it is not resolved

![sin titulo](https://user-images.githubusercontent.com/12578428/43032280-c48780b2-8c78-11e8-8838-5b5acc1a1f7e.png)

.Net core 2.1

[2018-07-21 07:17] TomPallister commented on #473
@aqa510415008 I will close this when it is in the main nuget package 😄

[2018-07-21 07:19] TomPallister commented on #484
@moyotalero this is most likely because Ocelot does not have permission to write to disk.

There is already an issue open https://github.com/ThreeMammals/Ocelot/issues/373 to not write to disk unless using the admin API.

Short term fix is probably to give Ocelot permission to write to that file on disk (nothing else)

[2018-07-21 07:20] TomPallister commented on #484
Closing as duplicate, reopen if this is not the case!

[2018-07-21 07:20] #484 closed

[2018-07-21 08:05] TomPallister commented on #469
@aadupirn I had a look into this issue and tracking back the changes I can see that in a previous issue we decided not to support http or https in the Consul Address. I've updated the Ocelot docs to show this.

The main problem is what takes priority if a user sets both, this will always be different for different users :/ so it is probably better for Ocelot to just no allow it. Also reading Consu

[2018-07-21 08:05] #469 closed

[2018-07-21 08:29] TomPallister commented on #475
Released in version 8.0.1

[2018-07-21 08:29] #475 closed

[2018-07-21 08:30] TomPallister commented on #474
So it turns out there was nothing to fix with this, I added some tests to show how this works..

[2018-07-21 08:30] #474 closed

[2018-07-21 08:30] TomPallister commented on #473
Released in version 8.0.1

[2018-07-21 08:30] #473 closed

[2018-07-21 08:30] TomPallister commented on #464
Released in version 8.0.1

[2018-07-21 08:30] #464 closed

[2018-07-21 09:41] aqa510415008 commented on #473
@TomPallister Thank you for your efforts

[2018-07-21 09:43] vasicvuk commented on #464
Confirming that everything works now! 👍

[2018-07-21 10:03] TomPallister commented on #464
sweet

[2018-07-21 10:03] TomPallister commented on #473
no problem, let me know if it doesnt work!

[2018-07-21 10:05] TomPallister opened #487 "fix coveralls"
Doesnt seem to have worked since 11 APR 2018 - 7:05 probably something to do with using old version in cake.net

[2018-07-23 12:52] Savij commented on #468
No worries, I was actually away for the week so it works out. I think the second solution sounds better. I can hook the DelegatingHandler and maybe setup a redis cache with the userId's. Might be a good place to also cache the user roles.

[2018-07-23 14:47] margaale opened #490 "Error 502 after updating to Ocelot 8.0.1"
## Steps to Reproduce the Problem

  I have ocelot 8.0.0 working, today i was trying to update to 8.0.1 and after running it in my workstation i got an 502 http errorcode.
I tried it in our development server too and got the same results.
Has something been changed between versions?

## Specifications

  - Version: 8.0.1
  - Platform: Windows 8.1/2016
  - Subsystem: Core 2.1.2

[2018-07-23 17:16] TomPallister commented on #487
wont fix, no idea

[2018-07-23 17:16] #487 closed

[2018-07-23 17:21] TomPallister commented on #490
@margaale yes their were changes, looks like GitHub hasn't picked them up correctly :( We added support for query string parameters in upstream path templates, added a way to setup your initial ocelot state from a folder with config files in it, added a way to branch the ocelot pipeline with your own middleware.

Can you share your json configuration and program.cs / startup.cs and I will take a l

[2018-07-23 17:42] TomPallister commented on #443
@magnificence-dream it looks like Ocelot doesnt think there are any services available hence the 404...the log example is below.

```2018-07-13 09:09:57.8836||WARN|Ocelot.LoadBalancer.Middleware.LoadBalancingMiddleware|requestId: 0HLF8B81520JR:00000024, previousRequestId: no previous request id, message: There were no services in NoLoadBalancer ```

Either there is a bug in Ocelot where it can bre

[2018-07-23 17:43] TomPallister commented on #468
@Savij awesome, let me know if you have any problems!

[2018-07-23 17:43] #468 closed

[2018-07-23 17:46] TomPallister commented on #479
This is intentional because I've hardcoded the use case /{url} to always be the lowest priority which i think is OK for most cases. However in the future I guess this could be controlled by users...not sure...

 I'm not super happy with how the config translates to the functionality at the moment...but Im not sure how it can be made better without massively over complicating it.

I should probably

[2018-07-23 19:44] margaale commented on #490
Thanks for your reposnse.
I just removed the domain form all urls in the config.

[files.zip](https://github.com/ThreeMammals/Ocelot/files/2220779/files.zip)

[2018-07-23 20:56] TomPallister commented on #490
Ok cool I will check it out asap.

[2018-07-23 20:59] TomPallister commented on #490
@margaale which routes do you get 502 on? Is it all of them?

[2018-07-23 21:04] margaale commented on #490
No, only the one not using oauth. It's pretty simple because we are just starting with microservices..

[2018-07-23 21:09] margaale commented on #490
The other one I got 401. But I didn't fully test it passing the token

[2018-07-24 02:22] Rwing commented on #472
Is there any plan to add this feature?

[2018-07-24 05:44] TomPallister commented on #472
@Rwing yes sure, it’s on the list!

[2018-07-24 09:21] michajas commented on #389
I've had the same problem (Ocelot v7.0.6). I've managed to solve it by setting in ocelot config:
`"RouteClaimsRequirement": {
        "role": "superuser"
      }`
Name of claim should be LOWERCASE as in my JWT token. Now it works how it should :)

[2018-07-24 11:23] tungphuong opened #492 "How to log error/exception from other services"
Hello,

I have just used it. It works well but I have one concern that how to log exception (Http code 500) from downstream services. Currently, if I switch log level to "error", I cannot receive anything. However, if log level is "trace", there is some below info

trce: Ocelot.Logging.OcelotDiagnosticListener[0]
      => RequestId:0HLFHAF0APTOQ:00000002 RequestPath:/api/r/xxx/countries => Request

[2018-07-24 12:53] shao200 opened #493 "No errors in 8.0.0, change to 8.0.1 Error"
I follow the case instructions on the 8.0.1 and always make an error. It's OK to replace the 8.0.0.
## Specifications

  - Version:8.01
  - Platform:windows10
  - Subsystem:

[2018-07-24 13:02] zjlhope opened #494 "HttpRequesterMiddleware error!"
8001 is my api service,8000 is the gateway.when the route fit,the application has an error and process exit,I have found the error in code:
try
            {
                var response = await
                httpClient.SendAsync(context.DownstreamRequest.ToHttpRequestMessage());
                return new OkResponse<HttpResponseMessage>(response);
            }

the error is following,why?

inf

[2018-07-24 14:31] Rohitwagh commented on #458
@TomPallister i have written the implementation and tested it, it is working fine for rate limit options. i have been busy with other stuff so could get much time on it, that is why the delay.

However, i am not able to push the feature branch on this repository to create PR. Throws the authentication failed issue, while my Github credentials are working fine. Am i missing something or there is so

[2018-07-24 17:56] tungphuong opened #495 "Monitoring - can we support zipkin or jaeger?"
HI,

About tracing feature, can we integrate to zipkin or jaeger? Becase Butterfly is still preview version, we cannot use it for production.

Thanks,

[2018-07-24 19:33] davidni commented on #479
Isn't this problematic for routes with different UpstreamHosts? Or at least it would be once I've added support for wildcards in host names. Overriding the priority of a route based on its pathTemplate seems undesirable.

Side note: it seems in fact that there are still assumptions in place from before Ocelot supported custom UpstreamHost names. For example, the fluent config validator tries to en

[2018-07-24 20:01] tungphuong opened #496 "Error when AddDelegatingHandler"
Hi,

I want to add one handler to trace but it throws exception

warn: Ocelot.Responder.Middleware.ResponderMiddleware[0]
      => ConnectionId:0HLFHJV2SU5QA => RequestId:0HLFHJV2SU5QA:00000002 RequestPath:/api/r/userprofile/countries
      requestId: 0HLFHJV2SU5QA:00000002, previousRequestId: no previous request id, message: Error Code: UnableToCompleteRequestError Message: Error making http requ

[2018-07-25 04:41] tungphuong opened #497 "HttpClientHttpRequester: Suggest to get error log if httpcode response is 500"
Hi,

Currently, if downstream service throw exception with httpcode 500, but Ocelot just logs "warning" or "debug". It will not clear and difficult to trace/monitor on production. Because we cannot set log level is debug/info for production.

I suggest we should check status code. If it is 500, we wil log like error.\

Cheers,

Phuong Le

[2018-07-25 05:49] TomPallister commented on #493
@shao200 someone else has said this. I don’t understand why :( please can you share startup.cs / program.cs and Json config?

[2018-07-25 05:51] TomPallister commented on #490
@margaale can you confirm the exact url you are using to call Ocelot?

Also would it be possible to paste the logs from Ocelot when your request fails here?

[2018-07-25 06:08] TomPallister commented on #492
@tungphuong I will test this and get back to you ASAP! If you want to submit a PR that adds the logging let me know.

[2018-07-25 06:09] TomPallister commented on #493
@shao200 could you also tell me the URL you use to call Ocelot and the HTTP method?

[2018-07-25 06:11] TomPallister commented on #494
@zjlhope do you know what URL Oceot is trying to call? Is the service available?

Could you share your program.cs / startup.cs and json configuration?

[2018-07-25 06:12] TomPallister commented on #490
for debugging purposes...

https://ocelotperformancetest.azurewebsites.net/api/values - same problem, deployed latest version of Ocelot also same problem running locally on that URL.

[2018-07-25 06:17] zjlhope commented on #494
ocelot is trying to call /api/values and this service is ok.
when call the http://localhost:8000/test/001,then can be reRouted to http://localhost:8001/api/values
from above logs,you can see ocelot acturally find the downstream path correctlly

[2018-07-25 07:30] TomPallister commented on #497
@tungphuong thanks for your interest in Ocelot. There is another issue open about this problem at #492 so I will close this as a duplicate.

[2018-07-25 07:30] #497 closed

[2018-07-25 07:30] TomPallister commented on #492
from other issue

[code]

[2018-07-25 07:32] zjlhope commented on #494
{
    "ReRoutes": [
        {
            "UpstreamPathTemplate": "/test/001",
            "UpstreamHttpMethod": [
                "Get"
            ],
            "DownstreamPathTemplate": "/api/values",
            "DownstreamScheme": "http",
            "DownstreamHostAndPorts": [
                {
                    "Host": "localhost",
                    "Port": 8001
                }

[2018-07-25 07:34] TomPallister commented on #496
@tungphuong does Ocelot work without the delegating handler? Can you share your program.cs / startup.cs and json configuration? Also what URL are you calling Ocelot on?

[2018-07-25 07:34] TomPallister commented on #495
@tungphuong Ocelot doesnt support zipkin at the moment, you could probably inject middleware or use delegating handlers to add this to Ocelot. I will leave this issue open and look into if we could provide easy integration with zipkin or jaeger.

[2018-07-25 07:36] TomPallister commented on #494
@zjlhope thanks I will take a look ASAP!

[2018-07-25 07:39] TomPallister commented on #479
@davidni yep that makes sense :E

[2018-07-25 07:40] TomPallister commented on #458
@Rohitwagh that is awesome...you just need to to follow [this](https://gist.github.com/Chaser324/ce0505fbed06b947d962) process.

[2018-07-25 07:48] TomPallister commented on #490
@margaale please try new verison 8.0.2

[2018-07-25 07:49] TomPallister commented on #493
@shao200 please try new verison 8.0.2

[2018-07-25 10:09] tungphuong commented on #495
Thanks, I am trying to do like that with delegating handlers. Could you please drop me some sample code? I will try

[2018-07-25 10:12] tungphuong commented on #492
Yes, 2 items are the same. Ok, I will submit one PR :)

[2018-07-25 10:14] tungphuong commented on #495
@TomPallister I know you are ready to support Butterfly. But it is still in preview. So, it is difficult to use for production. So, I suggest we should support Jaeger.

[2018-07-25 11:33] margaale commented on #490
I will as soon as I get to work. Thanks

[2018-07-25 12:48] geffzhang commented on #495
Butterfly should be replace with skywalking-netcore https://github.com/OpenSkywalking/skywalking-netcore， This is docs https://github.com/apache/incubator-skywalking/tree/master/docs

[2018-07-25 16:56] TomPallister commented on #490
Awesome thanks for bringing this to my attention.

[2018-07-25 16:56] #490 closed

[2018-07-25 17:05] TomPallister commented on #495
OK cool, If anyone wants to pick this work up please feel free to do so!

[2018-07-25 17:17] TomPallister commented on #479
@davidni i checked the code I think it works ok if you have two /upstream path templates with different hosts.

[code]

Then I added this test to make sure

[code]

I guess the problem you will have is if it is possible to match multiple hosts with your wildcard and you have that situation occur Ocelot will choose the first listed in the ReRoutes config unless you override with priority.

[2018-07-25 17:21] TomPallister commented on #494
@zjlhope this configuration works fine for me, please can you share your program.cs and startup.cs?

[2018-07-25 20:51] Marusyk opened #499 "Question: How to implement documentation aggregator using Swashbuckle.AspNetCore"
I know that Ocelot does not support Swagger, but I need some help (or advice) how to add implementation of it by myself.

So, I have a few service (in Docker containers) that produces swagger.json on endpoint : `{ServiceBaseUrl}/swagger/v1/swagger.json`

ocelot.json is:

[code]
In gateway service I've tried to add something like aggregator that should discover all services from config and add mult

[2018-07-25 23:20] davidni commented on #479
Here's what I was thinking of:

[code]

[2018-07-26 05:39] TomPallister commented on #479
@davidni yep ok that does make sense, it is a simple change. Do you want to change it or shall I?

[2018-07-26 06:06] TomPallister commented on #499
@Marusyk Mmmmm I am not sure what the problem is. It will only be CORS related if the swagger ui in api gateway makes ajax calls to the backend services. Does that happen?

Where / when does the error actually occur?

[2018-07-26 09:02] xiaotupansy opened #500 "The format of the URI could not be determined"
## Expected Behavior / New Feature
Ocelot can work as normal.

## Actual Behavior / Motivation for New Feature
Error:
[code]

## Steps to Reproduce the Problem

  1.create consul using docker:
 first one server246:

[code]

second one server46:

[code]
  2. to register docker image as service automatically to consul using registrator
first one server246:
`docker run -d -v /var/run/docker.sock:/tmp

[2018-07-26 09:07] xiaotupansy commented on #500
When I have only one node in consul, Ocelot works.
But after register server46 into consul, Ocelot shows error.

[2018-07-26 11:15] Marusyk commented on #499
@TomPallister Yeah, you are right.  Swagger ui in api gateway makes ajax calls to the backend services. Could you please suggest any solutions?

[2018-07-26 11:18] Rohitwagh commented on #458
Thanks @TomPallister , that is an awesome getting started guide and very helpful. i have send you PR at https://github.com/ThreeMammals/Ocelot/pull/501. Please have a look at it.

[2018-07-26 19:15] TomPallister commented on #500
@xiaotupansy that is very strange. I will take a look asap!

[2018-07-26 19:16] TomPallister commented on #458
@Rohitwagh cool I will take a look asap.

[2018-07-26 20:09] davidni commented on #479
Update: I think it will make sense for me to tackle this as part of #480 since it involves rewriting the rule ordering and matching code anyway

[2018-07-27 06:43] kka-anand opened #502 "502.3 - Bad Gateway ERROR - Ocelot 8.0"
Hi All,

I use Ocelot 8.0 and asp.net core 2.1.
I have created two APIs Customers and Products with two different ports which are tested and working fine.

http://localhost:9001/api/customers
http://localhost:9002/api/products

I've created an API gateway using Ocelot 8.0 in AP.Net CORE 2.1 and when I try to execute with another port (http://localhost:9000/api/products), it throws an error as show

[2018-07-27 07:03] TomPallister commented on #502
@kka-anand can you set log level trace and paste the log here for failing requests. Also double check you are not using Ocelot 8.0.1 there was a bug in this.

[2018-07-27 09:21] rickesh123 opened #503 "Question: Globally configure the DownstreamHostAndPorts"
Hi,

I've just started to use Ocelot and it is brilliant! Everything is up and running but I had a quick question to see if it is possible to set the DownstreamHostAndPorts dynamically within code or whether you can set it globally within the GlobalConfiguration section. Our services are hosted within our own custom built service registry and it would be nice to not have to declare the DownstreamH

[2018-07-27 13:05] heymega opened #505 "UnableToFindDownstreamRouteError for Configured Route"
## Expected Behavior

Ocelot reroutes to `https://swapi.co/api/people/{id}`

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. Startup.cs
[code]

  2. ocelot.json

[code]

3. Start program and make a GET request to `http://127.0.0.1/api/people/1`

## Specifications

  - Version: Ocelot 8.0.2
  - Platform: Dotnetcore 2.0
  - Subsystem:

[2018-07-27 14:05] heymega commented on #505
Never mind I forgot to add `.UseKestrel`

Face palm

[2018-07-27 14:05] #505 closed

[2018-07-27 15:05] WrathZA commented on #471
This seems to be where the JSON Schema used in visual studio is defined.

https://github.com/SchemaStore/schemastore

[2018-07-27 17:00] TomPallister commented on #471
This all looks good, if you guys want to implement this go for it.

[2018-07-27 17:00] TomPallister commented on #505
hehe all good :)

[2018-07-27 17:06] TomPallister commented on #503
@rickesh123 thanks for your interest in Ocelot. Unfortunately there is no way to do this other than implement an IServiceDiscoveryProvider for your service registry and change the IServiceDiscoveryProviderFactory to return it. This is all custom code so you would need to fork Ocelot probably or just override Ocelots implementations of these things in the asp.net dependency injection container. Oce

[2018-07-27 22:00] TomPallister commented on #443
I will close this for now, let me know if you want to reopen it.

[2018-07-27 22:00] #443 closed

[2018-07-27 22:01] #470 closed

[2018-07-28 07:22] TomPallister commented on #463
This is fixed in version 8.0.3, please check it out!

[2018-07-28 07:22] #463 closed

[2018-07-28 07:24] #433 closed, assigned to nobody

[2018-07-28 20:16] bergmeister commented on #414
@TomPallister I was wondering the same. Can you elaborate please? As far as I understand it could only be useful to require a minimum version. If a newer version is available, it will use the newer version anyway (with or without RuntimeFrameworkVersion )

[2018-07-29 09:02] TomPallister commented on #414
@bergmeister interesting where did you learn that?

I just removed it and if I remember correctly I had problems with system.runtime dlls after that so gave up for now.

[2018-07-29 19:35] TomPallister commented on #458
@Rohitwagh I have implemented a way to set the rate limit per service when using dynamic routing for the disk and consul json configuration. The docs for this are [here](http://ocelot.readthedocs.io/en/latest/features/servicediscovery.html#dynamic-routing) basically I have added the following to the configuration...

[code]

It will now be relatively easy to implement this for Redis. All you need

[2018-07-30 06:08] TomPallister commented on #494
Let me know if you want to reopen this!

[2018-07-30 06:08] #494 closed

[2018-07-30 06:08] TomPallister commented on #496
Let me know if you want to reopen this!

[2018-07-30 06:08] #496 closed

[2018-07-30 06:10] TomPallister commented on #499
@Marusyk did that work? I don't know a better way of doing it tbh.

I think your original plan might work, but you need to proxy the ajax calls through Ocelot to your downstream service. Does that make sense?

[2018-07-30 06:32] TomPallister commented on #500
@xiaotupansy which version of Ocelot are you trying to use? I suggest latest which is 8.0.3 and see if this works. The reason I say that is the stacktrace you have pasted doesnt seem to be possible with current Ocleot so it might be an old version with a bug.

[2018-07-30 06:58] xiaotupansy commented on #500
@TomPallister tested with 8.0.2 and 7.0.9.

[2018-07-30 07:06] xiaotupansy commented on #500
Here are all my code:

Startup.cs
`using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Cors.Internal;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
using Ocelot.DependencyInjection;
using Ocelot.Middleware;

namespace OcelotExample
{
    public class Startup
    {

[2018-07-30 13:41] techaum opened #512 "How to Ignore routes?"
Hi,

I have a controller with some routes running in my ocelot project. I want these routes like `/login`, `/auth`, `/info` to be ignored and not pass in the Route process.

I tried add the endpoints with the same downstream/upstream paths and some manual handlers, but without success.

Any ideas?

[2018-07-30 21:46] TomPallister commented on #512
@techaum I think you need to use MapWhen to skip the Ocelot pipeline. You should be able to hardcode whatever routes you dont want to run in Ocleot. Docs are [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-2.1&tabs=aspnetcore2x)

[2018-07-30 22:55] Marusyk opened #514 "structured logging of Ocelot request and previous request id"
I need to get some telemetry from my services like requests, dependencies, ect.
I'm going to add ApplicationInsights to Ocelot.

I've just installed Microsoft.ApplicationInsights.AspNetCore package and added
`.UseApplicationInsights();` to WebHost

[code]
Then I enabled the feature [Request Id / Correlation Id](http://ocelot.readthedocs.io/en/latest/features/requestid.html)

[code]
results is:

Bu

[2018-07-30 22:59] Marusyk commented on #499
It works when to add this code to each service
[code]

Thanks for your time.

[2018-07-30 22:59] #499 closed

[2018-07-30 23:39] Marusyk opened #515 "Administration API doesn't work"
## Expected Behavior
Overrwrites the existing configuration

## Actual Behavior
Returns 500 Internal Server Error

## Steps to Reproduce the Problem

  1. Read [docs](http://ocelot.readthedocs.io/en/latest/features/administration.html)
  2. Download ocelot.postman_collection.json
  3. In Startup.cs add `.AddAdministration("/administration", "secret");`
  4. Run service with api gateway: dotnet run

[2018-07-31 03:32] MaiReo opened #516 "Authorisation cannot verify array value type"
I want to verify the role for user.
Here is my "ocelot.json".

[code]
When I call the api
[code]
 I found a message at the console output.

message: claim value: System.Collections.Generic.List`1[System.String] is not the same as required value: Admin for type: role

Can Ocelot do authorisation with a array value type?

[2018-07-31 04:58] MaiReo commented on #516
Later I tried to change the configuration with ,
[code]
then, the log shows
INFO  2018-07-31 12:56:12,796 [11   ] soft.AspNetCore.Hosting.Internal.WebHost - Request starting HTTP/1.1 GET http://localhost:5001/api/values
INFO  2018-07-31 12:56:12,796 [11   ] uthentication.JwtBearer.JwtBearerHandler - Successfully validated the token.
WARN  2018-07-31 12:56:12,797 [11   ] ddleware.DownstreamRouteFin

[2018-07-31 05:33] MaiReo opened #517 "Cannot parse Microsoft claim type"
## ocelot.json
The json is a valid format
[code]
## The console output.
INFO  2018-07-31 13:32:17,863 [37   ] soft.AspNetCore.Hosting.Internal.WebHost - Request starting HTTP/1.1 GET http://localhost:5001/api/values
INFO  2018-07-31 13:32:17,863 [37   ] uthentication.JwtBearer.JwtBearerHandler - Successfully validated the token.
WARN  2018-07-31 13:32:17,864 [37   ] ddleware.DownstreamRouteFinderM

[2018-07-31 06:09] TomPallister commented on #499
Awesome no worries

[2018-07-31 06:58] TomPallister commented on #514
@Marusyk I think this might be because Ocelot doesnt store the request ids as part of a structured log, it might just dump them into a string. Can you see any logs from Ocleot at all in AppInsights?

[2018-07-31 07:00] TomPallister commented on #515
@Marusyk can you share your original json config, program.cs and startup.cs please so I can look into this further?

[2018-07-31 07:03] TomPallister commented on #517
@MaiReo based on your stacktrace I dont think this is a problem with your claim? It seems to not be able to match a route for your request. Please can you share your program.cs, startup.cs and which version of Ocelot you are using?

[2018-07-31 07:39] TomPallister commented on #503
OK cool sounds good!

[2018-07-31 09:08] Marusyk commented on #514
Yes, as you can see on the screen (INORMATION logs)

[2018-07-31 09:12] Marusyk commented on #515
Thanks for quick response.

[ApiGatewayOcelot.zip](https://github.com/ThreeMammals/Ocelot/files/2244579/ApiGatewayOcelot.zip)

[2018-07-31 13:02] techaum commented on #512
Exactly that, works like a charm! Thanks sir!

[2018-07-31 17:00] TomPallister commented on #512
no problem :)

[2018-07-31 17:02] TomPallister commented on #514
@Marusyk I missed that :)

so yeh pretty sure this is because of structured logging also not sure what would happen because maybe request id is app insights own request id.

[2018-07-31 17:02] TomPallister commented on #514
I guess this feature would be support structured logging for ocelot request and previous request id scenario.

[2018-07-31 17:03] TomPallister commented on #515
I will take a look asap!

[2018-07-31 19:56] TomPallister commented on #500
@xiaotupansy after looking more closely at your services in consul

[code]
and

[code]

You can see they do not have an address so Ocelot is unable to call them. I will make a change to Ocelot so that this error is logged and Ocelot will not try to use the service.

[2018-07-31 20:28] TomPallister commented on #515
I have pushed the update to the docs, I will close this issue for now. Let me know if it needs reopening.

[2018-07-31 21:30] TomPallister commented on #495
started looking at this, im going to start breaking the depedencies like butterfly out into there own Ocelot.xxx packages e.g. first one will be Ocelot.Butterfly. I will have some kind of interface that all the tracing libraries can sustain. This is my general idea and I will see if it works before pushing new versions etc :)

[2018-08-01 05:16] xiaotupansy commented on #500
@TomPallister After some research work, I change consul output to the following:
```[{"ID":"963985de-1f8d-9bdf-a488-b41b46ee2de5","Node":"node246","Address":"192.168.1.246","Datacenter":"dc1","TaggedAddresses":{"lan":"192.168.1.246","wan":"192.168.1.246"},"NodeMeta":{"consul-network-segment":""},"ServiceKind":"","ServiceID":"registrator:webapi:80","ServiceName":"webapi","ServiceTags":[],"ServiceAd

[2018-08-01 05:48] TomPallister commented on #500
You need to set the scheme as per the documentation! Does it work now you set the scheme? If not please upload all of your code so I can check!

[2018-08-01 05:55] xiaotupansy commented on #500
Yes it can work now.
I found that original version of ocelot generates a development version of ocelot.json (my configuration file) -->ocelot.development.json.
It fails new configuration and makes ocelot always using the original version of configuration.

[2018-08-01 05:57] TomPallister commented on #500
Ok good that it is working!

[2018-08-01 09:40] Marusyk commented on #515
Thanks for help, but it still doesn't work

[2018-08-01 14:43] iderbyshev commented on #360
Hi @TomPallister .
First I'd like to thank you for this great product.

I'm currently trying to use it in a multi tenant solution which is hosted in Service Fabric.
Based on a tenant id in a HTTP header I need to route to different instances of a particular Service Fabric application (i.e. change backend ServiceName dynamically based on current request parameters).
So I implemented my custom middl

[2018-08-01 22:37] TomPallister commented on #515
@Marusyk it works fine for me with the project you uploaded :o can you upload your new code?

[2018-08-01 22:39] TomPallister commented on #360
@iderbyshev nice! doesnt feel like to bad a hack! Ocelot can't do everything :) I will bear this in mind and lets see if we can do something to make this better in the future!

[2018-08-01 22:49] TomPallister commented on #515
[ApiGatewayOcelot.zip](https://github.com/ThreeMammals/Ocelot/files/2251360/ApiGatewayOcelot.zip)

This works fine for me!

[2018-08-01 23:42] Marusyk commented on #515
I do not have any new code. Are you sure that the postman collections is up to date?

[2018-08-02 07:56] JanKolk opened #524 "Ocelot Websockets doesn't forward headers"
## Expected Behavior / New Feature
We are using ocelot with the feature websockets. We are using Signalr Core and trying to forward it to the correct server. With that we are using headers on the requests.

The headers disappear once it goes through ocelot. Is this on purpose?
We verified that the headers will be send to the signalr server when it doen't use ocelot.

Config:
[code]

## Actual Beha

[2018-08-02 12:55] margaale opened #525 "Reload config on change"
This is more like a question than an issue.

At the Program class i have this piece of code:

`public static IWebHostBuilder CreateWebHostBuilder(string[] args)
 {
            return WebHost.CreateDefaultBuilder(args)
                .ConfigureAppConfiguration((builderContext, config) => { config.AddJsonFile($"ocelot.{builderContext.HostingEnvironment.EnvironmentName}.json", false, true); })

[2018-08-02 15:04] techaum commented on #348
@AmbroiseCouissin  You solve that?

Im trying to running a SPA and ocelot, but both didnt work together.

[2018-08-02 16:30] premsai opened #526 "Help with configuring json based on web api action"
Hi
I have a complex object (parameters to the API)
an example {beginDate:"01/01/2018",endDate:01/30/2018",productIds: [1,2,3,4]} something like this to a specific action, my controller has few http get methods like
GetProductByIdAndDates(ParameterObject input)
GetProductById(ParameterObject input)  etc
How do i configure the upstreampathtemplate & downstreampathtemplate so that ocelot routes the c

[2018-08-02 17:10] TomPallister commented on #515
@Marusyk have you tried the code I uploaded?

[2018-08-02 17:16] TomPallister commented on #515
If you download the code above, then extract it, cd into the directory and call `dotnet run` then use the postman scripts below in the numbered order your app should work.

[Issue515.postman_collection.json.zip](https://github.com/ThreeMammals/Ocelot/files/2254490/Issue515.postman_collection.json.zip)

[2018-08-02 17:17] TomPallister commented on #524
@JanKolk Ocelot doesnt support this at the moment. I guess it would be part of #344 I will move the data to that and close this as a duplicate!

[2018-08-02 17:17] #524 closed

[2018-08-02 17:18] TomPallister commented on #344
from #524

Expected Behavior / New Feature
We are using ocelot with the feature websockets. We are using Signalr Core and trying to forward it to the correct server. With that we are using headers on the requests.

The headers disappear once it goes through ocelot. Is this on purpose?
We verified that the headers will be send to the signalr server when it doen't use ocelot.

Config:

"ReRoutes": [

[2018-08-02 17:47] margaale commented on #525
I didn't know that you can do that, what's that endpoint?. I've just submitted a proof of concept PR to see if you are ok with it.

[2018-08-02 17:59] premsai commented on #526
I got it to work thanks for the input, i used query string to achieve the same

[2018-08-02 17:59] #526 closed

[2018-08-02 19:01] TomPallister commented on #526
Awesome!!

[2018-08-02 19:32] TomPallister commented on #525
@margaale looks good! Left a few comments.

[2018-08-02 19:49] TomPallister commented on #495
@geffzhang from looking at Skywalking docs I dont think that you would need to do an Ocelot integration? I will see how it works.

[2018-08-02 23:47] Marusyk commented on #515
@TomPallister
YES, this exception I copied from your posted code!

[2018-08-03 07:06] TomPallister opened #529 "Break dependencies out into their own packages"
## New Feature

[x] Butterfly
[x] CacheManager
[x] Consul
[x] Pivotal.Discovery.ClientCore
[x] IdentityServer
[x] Polly
[x] Rafty (this will need updating again after IdentityServer as it depends on identity server)
[x] ServiceFabric (if i bring in libs, not sure if i do)
[x] There are a bunch of other things we prob dont need so check these too

## Motivation for New Feature

Ocelot has quite a f

[2018-08-03 07:53] JanKolk commented on #344
I created a pull request to add headers to the request.

With the following templates it works:

Target framework: 2.1.2
Microsoft.AspNetCore.SignalR.Client 1.0.2
Ocelot develop with my pull-request

[code]

ocelot.json
[code]

[2018-08-03 10:53] geffzhang commented on #495
http://www.cnblogs.com/liuhaoyang/p/skywalking-dotnet-v02-release.html

[2018-08-04 08:01] TomPallister commented on #525
Just released in 8.0.7

[2018-08-04 08:01] #525 closed

[2018-08-04 08:01] TomPallister commented on #344
Just released in 8.0.7

[2018-08-04 08:01] #344 closed

[2018-08-04 08:06] TomPallister commented on #515
@Marusyk I am sorry but I do not know what the problem is. I have tried the code I uploaded on mac, windows (dotnet cli and in visual studio) without any problems :(

The only thing I can possibly think is that for some reason Ocelot cannot loopback to itself but seems unlikely.

[2018-08-04 08:29] MaiReo commented on #517
@TomPallister  Sorry. I think that it is a json parsing problem.
If the json key contains the ":" character,  an exception will throwed by the package named
"Microsoft.Extensions.Options.ConfigurationExtensions".
The error message is "Cannot create instance of type 'System.String'...".
So the correct question may be
"How can we validate claim type which contains colon character such as Microsoft b

[2018-08-04 08:33] MaiReo commented on #517
Even there is no route information when json parsing failed. It is not a route matching issue.

[2018-08-04 13:51] Marusyk commented on #515
Thank you very much for your help.
Oh, I run it on other PC and it works fine. 👍
I'll try to find out what is the problem with that machine and let you know.

Thanks.

[2018-08-04 20:34] TomPallister commented on #515
Yey!! I was really worried because I could not replicate the problem at all.

[2018-08-05 09:55] tungphuong opened #531 "Authentication with ID4"
Hello,

I integrated Ocelot and ID4. It works well. But I have 2 questions:
- Currently, it will check "authentication" on all APIs of downstream service. So, in some situation, we have some APIs allow anonymous, how can we configure?
- Although we checked "authentication" at API gateway level (via Ocelot). But we also need to configure "UseAuthentication ..." at each service, is it correct? Becau

[2018-08-05 10:45] bremnes opened #532 "[Question] Can Ocelot redirect unauthenticated requests to IdentityServer?"
## Expected Behavior / New Feature
* Client_credentials request from services being negotiated, authenticated and routed to the downstream web application
* Authenticated requests from web browser being proxied through to the downstream web application
* Unauthenticated requests from web browser being redirected to identity server for external authentication with for instance google or microsoft.

[2018-08-05 13:16] tungphuong commented on #495
@TomPallister Do you have plan to support Jeager?

[2018-08-05 17:11] shivanka-thunderbolt opened #533 "Can Ocelot redirect request to be validated by another API endpoint."
I would like to know if it is possible to redirect the request from Ocelot API gateway to get it validated before forwarding it to downstream. I'm using JWT authentication resource owner flow.

[2018-08-05 17:14] shivanka-thunderbolt commented on #531
I'm also having the same issue, based on the example https://www.c-sharpcorner.com/article/building-api-gateway-using-ocelot-in-asp-net-core-part-two/. API gateway should handle security by itself and all the other services should not have to worry about it. I'm not sure  how it should be implemented.

[2018-08-06 14:25] Marusyk commented on #515
I've just tried to run Ocelot in Docker container and use Administration API and got the same error 😕
It doesn't work on my work PC (only on my home PC) but I hoped that it should work in isolated docker container.

[2018-08-06 17:18] Mar4eli opened #534 "Error Upstream leads to correct downstream"
## Expected Behavior / New Feature
HttpStatus 404, page not found

## Actual Behavior / Motivation for New Feature
Returns actual answer from API Server

## Steps to Reproduce the Problem
1. i have the following config:
[code]
2. i send  curl with right url request to ocelot and get httpstatus 400 with validation errors. It's ok.
Request:
`curl -X GET ocelot_service_url:port/api/v1/cards`
This req

[2018-08-07 16:20] tungphuong commented on #531
In case if service does not check token again, we cannot apply authorize on that service. Because IsAuthenticated is fail and we cannot get role, claim ...

I also expect that we can have one approach to skip to handle security at service level.

[2018-08-08 01:26] shivanka-thunderbolt commented on #531
API gateway should have the facility to check the authorisation levels before calling the downstream. so we don't have to repeat the same again in the service level. gateway should control the access.

[2018-08-10 10:56] heymega commented on #531
@shivanka-thunderbolt - I had a call with Gartner this week regarding the downstream services.

They advised that your downstream services should still verify the tokens even if they are previously verified from an API gateway. Even if the downstream services are only accessible from the API gateway.

I believe the idea is to do the auth check early but protect your services in case of a bad netwo

[2018-08-11 10:36] TomPallister commented on #534
@Mar4eli I have been away on a business trip for the last week so haven't had time to help with issues! Sorry for slow response.

Try this configuration..it worked OK for me! I got an error about invalid json when starting Ocelot.

[code]

If it still doesnt work please send me, program.cs, startup.cs and the full logs at trace level if possible.

[2018-08-11 10:38] TomPallister commented on #533
@shivanka-thunderbolt yes this is possible. For example, if you register an IdentityServer 4 authentication provider with support for reference tokens only. When Ocelot authenticates the token the request will go out to IdentityServer. All Ocelot does for authentication is delegate to whatever authentication provider has been registered. Please see the docs [here](http://ocelot.readthedocs.io/en/l

[2018-08-11 10:39] TomPallister commented on #495
@tungphuong yes in the future, it isn't something I'm working on at the moment. I need to finish #529 before I do this work because I cannot bring more dependencies into Ocelot. Users must be able to pick their dependencies more specifically.

[2018-08-11 10:48] TomPallister commented on #532
Hi @bremnes I have been away on a business trip for the last week so haven't had time to help with issues! Sorry for slow response :)

This isn't supported at the moment. Ocelot just calls authenticate on the authentication provider the user registers. I think it would need to do Challenge and then redirect the user appropriately. This is something we could consider support but I don't know enough

[2018-08-11 10:49] TomPallister commented on #515
@Marusyk what was the error from the docker container?

[2018-08-11 10:50] TomPallister commented on #517
@MaiReo from your message it is Microsoft.Extensions.Options.ConfigurationExtensions with the problem? This is not Ocelot code. Maybe the claim should just be `role`?

[2018-08-12 12:44] margaale opened #540 "Reload config again"
Hey, nice progress you are doing. Since you are introducing breaking changes can I ask what is your opinion in this?
We added reload config on file change. What if the administration api just write the file so the the internal configuration is reload with the same mechanism for both use cases? Right now the internal configuration is updated twice, one within administration and the other when the

[2018-08-12 12:53] TomPallister commented on #540
@margaale I'm not sure this would change anything.

Yeh I think this idea is fine but I'm not sure that having to specify reload on change true when using the administration API. This adds extra thing for the user to do. Is this a good idea? Is there a way to set reload true outside of the users control in the mechanism that sets up administration API maybe? That would be ideal I think. Or at leas

[2018-08-12 13:05] TomPallister commented on #529
Consul done...

[2018-08-12 15:36] TomPallister commented on #529
pivotal done

[2018-08-13 08:03] heymega opened #546 "Update Ocelot's Configuration without Restarting"
I noticed this was mentioned back in 2017 for #36 and it seemed Consul was recommended. Hoever, I'm after a simpler solution whereby we can simply change the `ocelot.json` file.

Can we use something like [IOptions](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.options.ioptions-1?view=aspnetcore-2.1) and [IOptionsSnapshot](https://docs.microsoft.com/en-us/dotnet/api/microsoft.ex

[2018-08-13 17:14] TomPallister commented on #546
@heymega yes this is taken care of, yes reloading the configuration will not effect the current request.

[2018-08-13 17:16] TomPallister commented on #515
@Marusyk could you share the dockerfile you use to build the container? I can then give it a go in the container. The error message suggests the token you are trying to use wasnt issued by Ocelot which is impossible given Ocelot is creating it :(

[2018-08-13 17:16] TomPallister commented on #529
rafty done..

[2018-08-14 06:44] QuocNguyen2501 commented on #306
Could we implement like this picture ??
![capture33](https://user-images.githubusercontent.com/5207501/44075761-249acbfa-9fc8-11e8-86b9-c9406aa8cc8e.PNG)

[2018-08-14 06:46] TomPallister commented on #306
Yes but you need different endpoints on Ocelot to route to your graphql services!

[2018-08-14 07:12] QuocNguyen2501 commented on #306
Thank @TomPallister , I try it.

[2018-08-14 12:05] karthikkailash opened #548 "Issue with OData query options"
I'm trying to make Ocelot work for my gateway requirement and facing few issues. For testing purposes, I'm just trying to use gateway with "catch all" i.e. "/{all}" to reroute requests to a single microservice with OData GET endpoints. This works fine as long as there are no odata query options involved.
eg :
       http://localhost:5000/odata/customers -> This gets routed to my microservice at

[2018-08-14 13:04] Mar4eli commented on #534
Yes, my bad. I forgot one "}" in example config for ticket.
But it is not working.

I have launched locally project with this configuration.
Test 1. Correct url
result: correct downstream url
Logs:
[code]

Test2. Wrong url
result: still correct downstream url 0_o
Log:
[code]

I'm expicting that wrong url would return 404 and not some cached(**?**) correct url.

[2018-08-14 13:07] matheuswanted opened #549 "Chain requests"
Hello!

I would like your help on a situation we are having here.

We have are developing a feature were our front-end app will need to access two resources in our API to process some data, let's say **Resource A** and **Resource B**. In this case **Resource A** loads some information that **Resource B** process, is it possible to Ocelot expose one url that chain the requests to **Resource A** and

[2018-08-14 17:26] TomPallister commented on #534
@Mar4eli cool thanks for the extra info I will take a look ASAP.

[2018-08-14 17:28] TomPallister commented on #549
@matheuswanted thanks for your interest in the project. This is not currently possible with Ocelot. I would suggest either using something like GraphQL to do this logic and put Ocelot in front of that if you still want to use any of Ocelot's features.

[2018-08-14 21:15] TomPallister commented on #529
administration / identity server done, just need to release new version of rafty with this dep

[2018-08-15 22:37] ltouro commented on #549
I think you are talking about API aggregation / composition. [see here](https://microservices.io/patterns/data/api-composition.html). These scenarios are very specific and implementation-heavy, making it hard to cross-cut. Can't see how one would use a declarative model to represent the agregation needed. My guess is that you need another resource to act as the aggregator in this case.

Just for t

[2018-08-16 02:53] matheuswanted commented on #549
Thanks @TomPallister and @ltouro I'll give a look into graphQL and nginx

But indeed I was talking about API aggregation.
It would be good to have a way to configure a chain of requests to avoid scripting or programming it like the example of @ltouro. We also thought in making a http request inside the definedAggregator but it would break his responsibility.

thanks for your help :)

[2018-08-16 06:43] stamatiagk opened #553 "[New Features] Custom limits per api/client, Subscription plans per api/client, Billing, Analytics"
## Expected Behavior / New Feature
1. api limits per client per api, per endpoint in x minutes or in one month
2. subscription plans per api, per client
3. api billing
4. api analytics

## Actual Behavior / Motivation for New Feature
rate limiting

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-08-16 10:30] tungphuong opened #554 "How to bypass authentication for anonymous API"
Hello,

After we configure "Authentication" for one service, it will check token or apply "authentication" for all API of that service. However, in many case, there is anonymous API in this service. So, how can configure to ignore or allow "anonymous" for specific API.

Thanks,

[2018-08-17 03:49] davidni commented on #480
@TomPallister quick update since it's been a while. I haven't given up on this issue, but priorities changed a bit and I haven't been able to get to it. I still want to get to it asap, but there's other stuff on the way.

As a side note, I'm very happy with the 10.* release and that so many dependencies are gone. Makes it a lot easier for us to consume! Thanks and keep it up.

[2018-08-17 03:56] davidni opened #555 "Query params aren't proxied correctly (Service Fabric)"
## Expected Behavior
Query params should be proxied correctly.

## Actual Behavior
When using Service Fabric, an incoming request to `https://example.com/a?b=c` ends up being sent to `https://localhost:19081/a??b=c&cmd=instance`. I suspect the duplicated `??` problem exists without Service Fabric too.

I'm surprised this hasn't been caught before since it seems very easy to encounter. Perhaps ther

[2018-08-17 04:02] davidni opened #556 "SetResponseOnHttpContext can throw - Improper use of content.Length"
## Expected Behavior / New Feature
Proxying should work with a custom `IHttpRequester`

## Actual Behavior / Motivation for New Feature
Proxying fails if the custom `IHttpRequester` returns a response whose content isn't wrapping a `MemoryStream`. Things work by default because `HttpClient.SendAsync`'s default is to buffer the entire response into an internal `MemoryStream`, which supports `Stream

[2018-08-17 04:08] davidni commented on #555
1. Root cause of the `??` issue: `DownstreamRequest.ToHttpRequestMessage()`.
[code]

  It probably shouldn't just assign to `UriBuilder.Query`, and should instead remove leading `?` itself. [MSDN docs](https://docs.microsoft.com/en-us/dotnet/api/system.uribuilder.query?view=netframework-4.7.2) have a not-very-obvious remark about this:

2. Root cause of the `cmd=instance` query param: `DownstreamU

[2018-08-17 06:33] stamatiagk commented on #553
@TomPallister I am very interested in helping with this feature!

[2018-08-17 06:43] TomPallister commented on #549
OK cool, Yeh I think you need another service for aggregation :) hope thats OK! Let me know if you want to reopen this.

[2018-08-17 06:43] #549 closed

[2018-08-17 06:43] tungphuong commented on #554
Thanks @TomPallister I know it, but my situation that in one controller, almost API need to be authorize, just some APIs allow anonymous. So, if we follow doc, we need to configure "reroute" for those APIs without authentication? It means that there is many reroute on one service.

Can we have any way to add APIs into reroute to skip authentication?

[2018-08-17 06:46] TomPallister commented on #548
@karthikkailash OK cool yep this should work as you expect. I guess we are missing a test. I will take a look ASAP.

[2018-08-17 06:47] TomPallister commented on #531
OK cool, let me know if you need to re-open this issue.

[2018-08-17 06:47] #531 closed

[2018-08-17 06:49] TomPallister commented on #480
@davidni all good! I'm going to take out everything from Ocelot apart from FluentValidation and see where things are. I want to try and make the whole thing more extensible so people can spin up their own packages to get stuff done / maybe override Ocelot's default behaviour.

[2018-08-17 06:50] TomPallister commented on #495
No worries, while you are waiting you might be able to implement for your use case using DelegatingHandlers feature in Ocelot but im not 100% sure.

[2018-08-17 06:54] TomPallister commented on #556
@davidni what do you think the best fix is here? I guess I need a failing test first! But was thinking...

[code]

[2018-08-17 06:58] TomPallister commented on #555
@davidni there is a similar issue with query string params on the ```"/{everything}"``` route. I guess there is a lack of tests here :/

With regards to cmd=instance are you asking why this is being added?

[2018-08-17 07:01] davidni commented on #555
Indeed. Service Fabric Reverse Proxy doesn't seem to care about this query param, and it gets passed transparently all the way to the target service.

It is problematic because it means a service behind Ocelot cannot provide functionality that relies on a query param called `cmd`. I was curious why this was added in the beginning, and I am suggesting that it be removed.

Makes sense?

[2018-08-17 07:01] TomPallister commented on #408
duplicate #553

[2018-08-17 07:01] #408 closed

[2018-08-17 07:02] TomPallister commented on #553
OK cool, I need to have a think about it and finish #529 then clear up all the current bugs before we an go further. I would probably look to take inspiration from aws, azure, apigee, kong and tyk for this feature. I think a bucket based rate limiter probably needs to be implemented. This will be a lot of work I think :) but a really good feature.

[2018-08-17 07:04] TomPallister commented on #554
@tungphuong unfortunately this is not possible. You need to have multiple ReRoutes. I hope that this is OK.

[2018-08-17 07:06] TomPallister commented on #555
@davidni I think I added it because when originally making Ocelot work with SF I saw that the sf client was appending it for requests to instance services. I actually don't know SF that well so if you know we don't need it more than happy to remove!!

[2018-08-17 07:06] tungphuong commented on #554
Ok thanks @TomPallister but I suggest that we can configure some specific API to ignore. It will help to have a clear configuration.

[2018-08-17 07:07] TomPallister commented on #554
@tungphuong how do you think the model could be changed to represent this use case?

[2018-08-17 07:10] davidni commented on #555
Yes, let's remove it. Documentation is [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reverseproxy)

A call to Reverse Proxy takes this shape:
`http(s)://<Cluster FQDN | internal IP>:Port/<ServiceInstanceName>/<Suffix path>?PartitionKey=<key>&PartitionKind=<partitionkind>&ListenerName=<listenerName>&TargetReplicaSelector=<targetReplicaSelector>&Timeout=<timeout_in_seco

[2018-08-17 07:11] davidni commented on #555
To summarize, there are 2 specific asks for this issue:
1. Fix the double question mark `??`
2. Remove `cmd=instance` for Service Fabric.

You mentioned (1) might be a dupe of another issue. Do you recall which one?

[2018-08-17 10:03] 511568420 opened #557 "线上环境并发大httpclient提交到下游服务偶尔报错"
报错的代码： Ocelot.Requester.HttpClientHttpRequester  类中
var response = await httpClient.SendAsync(context.DownstreamRequest.ToHttpRequestMessage())

错误信息：Ocelot.Responder.Middleware.ResponderMiddleware|ERROR|requestId: no request id, previousRequestId: no previous request id, message: Error making http request, exception: System.Net.Http.HttpRequestException: Error while copying content to a stream. -

[2018-08-17 11:57] MikeBogsy commented on #534
@TomPallister @Mar4eli I reproduced this problem and found, that regexp of variable named RegExMatchOneOrMoreOfEverything in UpstreamTemplatePatternCreator class has a value ".+". In this case we accept any value, but i think , we should ignore /(slash) when passing values in url

[2018-08-17 12:02] margaale commented on #554
Sorry to step in the conversation. I was asked yesterday if ocelot was able to handle this. I know it can with prioroties but i think it would be useful to have something like:
"DownstreamPathTemplate": "/actions/{all}",
"AuthenticationOptions": {
        "AuthenticationProviderKey": "Bearer",
        "AllowedScopes": [],
        "ExcludedActions": ["anonymous1", "anonymous2"
      }
where all act

[2018-08-17 12:15] stamatiagk opened #558 "[Question] Custom headers to apis from HttpContext.Current.Request.Headers"
## Expected Behavior / New Feature
How to add custom headers to api by retrieving its value from the HttpContext.Current.Request.Headers?

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-08-17 17:31] TomPallister commented on #555
1. Might be related to #548

[2018-08-17 17:33] TomPallister commented on #557
@511568420 thanks for your interest in the project. Can you confirm this error happens when Ocelot is under heavy load?

google translate : Online environment concurrent large httpclient submitted to downstream service occasionally error

[2018-08-17 17:34] TomPallister commented on #534
@MikeBogsy awesome, please submit the PR and I will take a look!!!

[2018-08-17 17:40] TomPallister commented on #554
@margaale no worries jump in, I wouldn't add an exclusion list like that, I'm really not a fan of exclusion style designs. I prefer to just model what I want..the cognitive load to go back and see what has been excluded doesnt make sense to me!

[2018-08-17 17:41] TomPallister commented on #558
@stamatiagk can you be more explicit here?

You want to get values from HttpContext.Current.Request.Headers and use them for what?

[2018-08-17 22:37] snb83 opened #559 "Infinite configuration file growth when ASPNETCORE_ENVIRONMENT is defined"
## Expected Behavior

Ocelot should be able to read and merge multiple configuration files (ocelot.*.json).

## Symptom

Merged configuration files are growing in size (in an arithmetic progression) on each API Gateway restart.
2nd and all subsequent API Gateway app runs have broken configuration.

## Problem

**When**

_ASPNETCORE_ENVIRONMENT_ environment variable is defined

**and**
Ocelot has a

[2018-08-18 07:02] TomPallister commented on #559
@snb83 thanks for this, I really appreciate it.

I will review ASAP.

[2018-08-19 12:58] TomPallister commented on #529
all done, lets see how this goes...if it gets too faffy will need to work out a way to work with ocelot source locally and packages at build time!

[2018-08-19 12:58] #529 closed

[2018-08-20 02:53] tungphuong commented on #554
@TomPallister I know your point but for this situation, I also prefer approach of @margaale. Because from API gateway side, we dont know which downstream API is anonymous. Besides, just few anonymous API need to configure for one "authorize" controller.

In case, there are many anonymous API in one controller, I suggest that we move them to one separated controller and set up "reroute" for it.

[2018-08-20 06:45] TomPallister commented on #285
they work now...

[2018-08-20 06:45] #285 closed

[2018-08-20 07:08] stamatiagk commented on #558
Good morning @TomPallister , I want to forward for example the HttpContext.Current.Request.UserAgent to the apis

[2018-08-20 14:25] twilly86 opened #564 "Routing based on value in claim"
## Expected Behavior / New Feature

I'm looking for direction on how to route to a specific downtream resource based on a value in .net identity claim.  Ex) user has claim    TenantId = "xxx" and this would route them to a specic downstream resource I have setup.

## Actual Behavior / Motivation for New Feature

Need to support multi tenant multi site routing with single enpoint visible to user

#

[2018-08-20 19:17] TomPallister commented on #564
@twilly86 thanks for your interest in Ocelot, this isn't possible at the moment. There are some issues open for different ways of doing routing that I intend to look at after doing some refactoring to make Ocelot better. I will take a look at this when I get round to them...it isn't something I will be able to do super quick. This will be a big change to Ocelot because the routing happens before a

[2018-08-20 19:17] TomPallister commented on #558
@stamatiagk this should be forwarded already (I think).

[2018-08-20 21:29] TomPallister commented on #548
will close when in nuget package

[2018-08-21 03:19] thicktao opened #566 "Problems with use of scenarios"
I've always had a question.  The kestrel is just a application server not a web server. So  it  is nessary to  erect a nginx in front of ocelot.
But all of them have load balance, all of them  have service discovery... I don't kown the ocelot‘s use of scenarios
In fact I have some api to exposed to the outer net. And I need service discovery and  load balance.

[2018-08-21 03:30] 511568420 commented on #557
@TomPallister    The Ocelot cluster is deployed in the Linux environment, using Docker deployment, and the downstream service cluster is also deployed in the Linux environment using Docker. Now each Ocelot service has a failure rate of 0.8% to 1% per hour to access the downstream service. However, millions of visits to the test environment are normal, except that the test environment is deployed o

[2018-08-21 05:16] TomPallister commented on #566
@thicktao thanks for your interest in the project.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.1&tabs=aspnetcore2x

Kestrel is a webserver.

[2018-08-21 05:16] #566 closed

[2018-08-21 05:34] thicktao commented on #566
I am so happy to receive your reply!  In fact, I am the one who don't want to use nginx. So I get the ocelot. And my main concern is whether Ocelot can be exposed to the Internet? Such as Security?

[2018-08-21 05:36] thicktao commented on #566
I found the microsoft official recommendation to erect nginx before kestrel.

[2018-08-21 06:02] TomPallister commented on #566
I’m not sure if you need to put nginx in front of kestrel anymore. Might be worth asking on the kestrel GitHub page!

Btw I would recommend using nginx unless you really really really want to use Ocelot :)

[2018-08-21 06:15] thicktao commented on #566
Thanks a lot !

[2018-08-22 01:14] Varorbc opened #567 "Chinese is not decoded correctly in query string"
## Steps to Reproduce the Problem

  1.test?abc=无牌车
  2.test?abc=\xC3\xA6\xC2\x97\xC2\xA0\xC3\xA8\xC2\xBD\xC2\xA6\xC3\xA7\xC2\x89\xC2\x8C

[2018-08-22 05:28] deadmandrive opened #568 "Ocelot with Eureka Middleware Error"
## Expected Behavior / New Feature

HttpStatus 500, Unable to Handle Request

I checked output log it said

[code]

## Actual Behavior / Motivation for New Feature

Returns actual answer from API Server

## Steps to Reproduce the Problem
Hi. I try to use ocelot with eureka service Discovery this is how i set it up.
  1. ocelot Startup

[code]

  2. ocelot.json

[code]

3. appsettings.json

[code]

[2018-08-22 09:36] Marusyk commented on #515
Hello, any news?

[2018-08-22 10:26] REPRESSION opened #569 "Send Authentication request prior to a request"
Hi,

I trying to setup your gateway but I am facing a problem, I would like to send an HTTP request to validate a token before a ReRoute. I did not understand the Authentication part of your documentation.

For example:

- client sends request
- gateway sends the token from the client to an other microservice using HTTP.
- If the microservice validates the client's identity, The ReRoute takes plac

[2018-08-22 18:15] TomPallister commented on #567
@Varorbc thanks for this I will take a look. I don't think I do anything to break this but obviously do!

[2018-08-22 18:15] TomPallister commented on #515
@Marusyk not had a chance to look at this issue yet I'm afraid!

[2018-08-22 18:17] TomPallister commented on #569
@REPRESSION yes this is possible, Ocelot just uses whatever authentication provider you register with asp.net. I assume you mean [these](https://ocelot.readthedocs.io/en/latest/features/authentication.html) docs? What is it that doesn't make sense?

[2018-08-22 18:32] TomPallister commented on #555
@davidni can you share your json config for this issue? I'm having trouble replicating the problem.

[2018-08-22 18:46] TomPallister commented on #555
If you can point me in the right direction with the commit above that could also help!

[2018-08-22 21:58] davidni commented on #555
1) I'll be out of office for a few days, and unfortunately I won't have time to look into this before I leave -- sorry.

2) I briefly looked at your PR, seems reasonable and nothing stood out on initial review. I wonder if there could be a behavior change between .NET Core Vs. .NET Framework re. how `System.Uri` works. For reference, my repro was on .NET Framework 4.6.1

Thanks again for your effo

[2018-08-23 00:43] Varorbc commented on #567
@TomPallister thanks

# log:

2018-08-21 17:21:33.657 +08:00 [INF] Connection id "0HLG77R7Q71PB" bad request data: "Invalid request target: '/test?abc=\xC3\xA6\xC2\x97\xC2\xA0\xC3\xA8\xC2\xBD\xC2\xA6\xC3\xA7\xC2\x89\xC2\x8C'"
Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Invalid request target: '/test?abc=\xC3\xA6\xC2\x97\xC2\xA0\xC3\xA8\xC2\xBD\xC2\xA6\xC3\xA7\xC2\x89\xC2\x8C'

[2018-08-23 00:48] Varorbc commented on #567
https://github.com/aspnet/KestrelHttpServer/issues/2842

[2018-08-23 05:51] TomPallister commented on #555
No worries I’m away all weekend as well so won’t be too much movement. I will try on Windows classic .net and see what happens. I really hope that is not the case!

[2018-08-23 08:14] CliffordSimak commented on #403
I had the same issue. Because my controller method

[code]
had this attribute

[code]

I removed this attribute and it all worked!

[2018-08-23 11:01] Varorbc commented on #567
https://github.com/aspnet/KestrelHttpServer/issues/1144

[2018-08-23 11:01] #567 closed

[2018-08-23 12:08] stamatiagk opened #571 "Support being hosted on IIS sub application"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature
It adds the application name to the downstream request uri

## Steps to Reproduce the Problem

  1. Desired downstream: localhost:8081/api.gatway/targeruri
  1.Actual downastreamhost:port:/api.gateway/downloadtemplate
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-08-24 01:28] 28467353 opened #572 "consul"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-08-24 07:30] TomPallister commented on #403
thanks for the tip @CliffordSimak!

[2018-08-24 07:36] TomPallister commented on #567
Thanks for the update!

[2018-08-24 07:37] TomPallister commented on #571
@stamatiagk please can you share your configuration json, program.cs / startup.cs so we can look into this further?

I don't understand your the issue you have raised :(

[2018-08-24 07:38] #572 closed

[2018-08-24 07:38] TomPallister commented on #572
Sorry there is no information with this issue, let me know if you want to reopen it with more information.

[2018-08-24 08:12] winlj opened #573 "Ocelot.Errors.Middleware.ExceptionHandlerMiddleware"
fail: Ocelot.Errors.Middleware.ExceptionHandlerMiddleware[0]
      requestId: 0HLG9IP6SGU2K:00000004, previousRequestId: no previous request id, message: Exception caught in global error handler, exception message: Object reference not set to an instance of an object., exception stack:    at Ocelot.LoadBalancer.LoadBalancers.LoadBalancerFactory.<>c__DisplayClass2_0.<<Get>b__0>d.MoveNext()
      --

[2018-08-24 09:49] 511568420 opened #574 ".NET Core HttpClient Defects"
## Expected Behavior / New Feature
Looking at the httpclient data, it is recommended to instantiate httpclient only once, and the entire application uses only one httpclient instance. Is this what Oclot does? My own gateway is using ocelot, and now it's wrong to reward a large amount of concurrency, Error while copying content to a stream，suspected that the httpclient connection pool has run out o

[2018-08-24 10:59] stamatiagk commented on #571
Hi @TomPallister I noticed that when you a have an application under the default IIS site and you create a subapplication  appA in www.xxx.com/appA/ it does not add the app basePath or respects the global BaseUrl :(

Also, it does not merge several config files. For example:
   var builder = new Microsoft.Extensions.Configuration.ConfigurationBuilder();
            builder.SetBasePath(env.ContentR

[2018-08-25 11:28] TomPallister commented on #571
@stamatiagk that is because this scenario is not supported. I don't think there is a way for Ocelot to know it is being hosted in an IIS sub application! I suggest just not hosting Ocelot like this :o there might be a way to support it but I don't know how.

[2018-08-25 11:29] TomPallister commented on #574
@511568420 Ocelot instantiates a HttpClient for each route and then this is shared between all requests to this route. Do not worry HttpClient use is OK :)

We cannot share just one HttpClient because each route can have different delegating handlers, cookie container etc but it is limited to your count of routes. Normally this is a very small number.

[2018-08-25 11:32] TomPallister commented on #573
@winlj please can you share the json from consul when you request the services e.g. consulservice:8500/v1/health/service/{serviceName}

[2018-08-25 12:25] #503 closed

[2018-08-26 10:30] TomPallister commented on #515
@Marusyk does your application work if you just do dotnet run in the main folder? I had to change the ports from 5000 to 80 on my mac to get it working but after doing that everything was fine, I could get a token and use it on the API.

[2018-08-26 10:57] #533 closed

[2018-08-26 10:59] TomPallister commented on #568
@deadmandrive the eureka sample is out of date now :( it needs to be moved to the Ocelot.Provider.Eureka repo I think.

All I can think of is get the Oceot source code and use this and do some debugging to see if you can work out what the problem is.

[2018-08-26 12:14] TomPallister commented on #517
@MaiReo Ive looked into this more and it turns out you cannot use ```:``` is a string in a dictionary configuration in asp.net core. I changed the object and was able to get a claim type of http://schemas.microsoft.com/ws/2008/06/identity/claims/role into RouteClaimsRequirement but then it turned out that microsofts claim code wont parse ```http://schemas.microsoft.com/ws/2008/06/identity/claims/r

[2018-08-26 12:14] #517 closed

[2018-08-27 01:44] deadmandrive commented on #568
@TomPallister  Thank you for your reply.

[2018-08-27 01:54] 511568420 commented on #574
@TomPallister  But it turns out that httpclient reuse uses request. RequestUri. OriginalString as the key to store in the cache, but each request may have a timestamp that causes a different request. RequestUri. OriginalString. Does this result in a lot of httpclient production?

[2018-08-27 03:27] deadmandrive commented on #568
@TomPallister Hi Tom I think i found the problem.  I try remove
[code]

from every route and now it working. just wonder why is this happening?
but i guess i try using it for now.

[2018-08-27 06:10] winlj commented on #573
use  ID4   jwt  token

[2018-08-27 06:10] winlj commented on #573
use  postman
content：
Authorization:Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjljMTIzOTM2MmE1ZTllMDNkMGQ0OGNlZmYwNGQyYzQwIiwidHlwIjoiSldUIn0.eyJuYmYiOjE1MzUzNDkxNDYsImV4cCI6MTUzNTM4NTE0NiwiaXNzIjoiaHR0cDovL29hdXRoc2VydmljZTo2MDEzIiwiYXVkIjpbImh0dHA6Ly9vYXV0aHNlcnZpY2U6NjAxMy9yZXNvdXJjZXMiLCJhcGkxIl0sImNsaWVudF9pZCI6IkpRUHJvamVjdC5PcmcuV2ViQVBJIiwic3ViIjoibGlqaWFuIiwiYXV0aF90aW1lIjoxNTM1MzQ5MTQ2LCJpZHAiO

[2018-08-27 07:26] winlj commented on #573
2018/08/27 07:03:55 [INFO] serf: EventMemberJoin: consulservice 172.18.0.2
    2018/08/27 07:03:55 [INFO] serf: EventMemberJoin: consulservice.dc1 172.18.0.2
    2018/08/27 07:03:55 [INFO] raft: Node at 172.18.0.2:8300 [Follower] entering Follower state
    2018/08/27 07:03:55 [INFO] consul: adding server consulservice (Addr: 172.18.0.2:8300) (DC: dc1)
    2018/08/27 07:03:55 [INFO] consul: adding

[2018-08-27 07:26] TomPallister commented on #573
Also these docs might help
https://ocelot.readthedocs.io/en/latest/features/servicediscovery.html

[2018-08-27 07:26] winlj commented on #573
ok  i try

[2018-08-27 07:57] TomPallister commented on #573
Also do you have the Ocelot.Provider.Consul package referenced with AddConsul ?

[2018-08-27 07:59] winlj commented on #573
yes，nuget-consul  --version--0.7.2.6

[2018-08-27 07:59] winlj commented on #573
register：
public static IApplicationBuilder RegisterConsul(this IApplicationBuilder app, IApplicationLifetime lifetime, ServiceEntity serviceEntity)
        {
            var consulClient = new ConsulClient(x => x.Address = new Uri($"http://{serviceEntity.ConsulIP}:{serviceEntity.ConsulPort}"));//请求注册的 Consul 地址
            var httpCheck = new AgentServiceCheck()
            {
                Dere

[2018-08-27 08:03] winlj commented on #573
as below is  good

    {
      "UseServiceDiscovery": false,
      "DownstreamPathTemplate": "/org/{url}",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "organizationservice",
          "Port": "6001"
        }
      ],
      //"ServiceName": "OrganizationService",
      "LoadBalancerOptions": {
        "Type": "RoundRobin"
      },
      "Upstream

[2018-08-27 08:06] deadmandrive commented on #568
@TomPallister Oh. I see it now. it was my mistake to reference the wrong package thank again Tom

[2018-08-27 08:57] karthikkailash commented on #548
Thank you @TomPallister Will check and let you know.

[2018-08-27 09:39] REPRESSION commented on #569
Well I don't understand the 'workflow' of the authentication in ocelot.

For example I don't get how this works:

`    var authenticationProviderKey = "TestKey";     `

  `  services.AddAuthentication()
        .AddJwtBearer(authenticationProviderKey, x =>
        {
        });`

How does this and the corresponding part in ocelot.json can be used as authentication ?

[2018-08-27 10:58] stamatiagk commented on #571
@TomPallister I was thinking of considering the BaseUrl or the PathBase when forming the upstreamhost variable maybe...

[2018-08-27 11:05] Deilan commented on #574
Might be worth looking at [HttpClientFactory](https://github.com/aspnet/HttpClientFactory).

[2018-08-27 15:37] TomPallister commented on #573
@winlj I meant are you using this package https://github.com/ThreeMammals/Ocelot.Provider.Consul? If you are using a newer version of Ocelot you have to have this.

[2018-08-27 15:37] TomPallister commented on #571
@stamatiagk do you know where I could see some documentation on how this works with IIS? I don't know much about this.

[2018-08-27 15:39] TomPallister commented on #569
@REPRESSION Ocelot uses the key in AuthenticationMiddleware.cs to authenticate the request against the authentication provider registered with the key. Check out that class and it should make more sense.

[2018-08-27 16:43] TomPallister commented on #574
@Deilan, unfortunately, using this will break a lot of Ocelot functionality as everything is wired up on Startup with HttpClientFactory (last time I checked). At the moment Ocelot can dynamically build HttpClients during runtime. This is important because Ocelot has an administration API which lets you change config on the fly / if you change the config file the internal configuration is rebuilt u

[2018-08-27 16:46] TomPallister commented on #574
Think the fix is, if the user isnt using a ReRoute with a query string then dont use the query string in the cache key. If the user is using a query string in their ReRoute then use it...

[2018-08-28 02:10] anlem12 opened #577 "The Ocelot Service discovery USES Service Fabric"
The Ocelot Service discovery USES Service Fabric, and I have a question: if the Service Fabric master node address I provided to Ocelot fails, the entire gateway will be unable to find the Service. Can I provide multiple Service Fabric node addresses when the Service discovery is made? This enables one node to continue to discover services through other nodes.

[2018-08-28 02:15] winlj commented on #573
i use docker      ,--network

[2018-08-28 02:39] miemengniao commented on #265
Hi ,

how can I configure DownstramReRote.Key?
my json file like below, but I cannot get the key's value in the middleware.
{
  "ReRoutes": [
    {
   .....
      "Key": "Laura",
      "RequestIdKey": "abcd",
     ......
    }
  ],

  "GlobalConfiguration": {
    "RequestIdKey": "Request-Id",
    "ServiceDiscoveryProvider": {
      "Host": "localhost",
      "Port": 8500
    },
    "BaseUrl": "htt

[2018-08-28 02:55] winlj commented on #573
The problem is resolved,
I use the  --version 8.0.2  is ok
other version   is bad
I hope to find the reason, thank you

[2018-08-28 03:42] 511568420 commented on #574
@TomPallister  It is recommended that cached keys do not use query strings, so that the same URl shares a key cache.

[2018-08-28 05:48] TomPallister commented on #574
It’s is the ReRoute that shares the HttpClient not the url, some reroutes can have query string params.

[2018-08-28 05:50] TomPallister commented on #573
Ok cool, guess it was a bug fix!

[2018-08-28 05:50] #573 closed

[2018-08-28 05:52] TomPallister commented on #265
@miemengniao what does your middleware look like?

[2018-08-28 05:53] TomPallister commented on #577
@anlem12 at the moment you cannot do this, Ocelot uses the naming service, doesn’t service fabric keep this up?

[2018-08-28 06:06] anlem12 commented on #577
https://ocelot.readthedocs.io/en/latest/features/servicefabric.html

I mean, there is a failure of Host in ServiceDiscoveryProvider, could you please fill in a few more Host addresses for round hunting
 "Host": "localhost",
`
"ServiceDiscoveryProvider": {
            "Host": "localhost",
            "Port": 19081,
            "Type": "ServiceFabric"
        }

`

[2018-08-28 06:28] TomPallister commented on #577
@anlem12 this could certainly be a new feature! @davidni is this needed? I don't know service fabric that well?

[2018-08-28 07:42] deadmandrive opened #579 "Ocelot container problem"
Hi Tom
it work really well when test it on Visual Studio but when i try to build it to container,
it dosn't working. it registered with eureka discovery service but when i try access test api it return

This page isn’t working
localhost didn’t send any data.

if i call the other service (in container too) it return correctly.
not sure how can i track down this problem.

Thank you.

[2018-08-28 09:02] REPRESSION commented on #569
@TomPallister Let's assume that my authentication service lives at 192.168.1.2:80/ValidateToken?token=xxx and i am trying to access mygateway:80/getInfos?token=xxx. I want Ocelot to verify that I am authenticated before Rerouting the request. I really don't get how I can archive this, all examples use either an Identity Server (which I don't) or check the token themselves.

On example I can find u

[2018-08-28 09:49] stamatiagk commented on #571
@TomPallister maybe something on https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/troubleshoot?view=aspnetcore-2.1 but I think the best way would be to consider the baseUrl on the upstream urls instead of the Host

[2018-08-28 13:47] REPRESSION commented on #569
Even trying to validate a simple JWT doesn't work for me.

[code]

[code]

[2018-08-28 14:12] REPRESSION commented on #569
Finally got the last part (with JWT) working. I was missing this in my header:

Authorization: bearer MYTOKEN

[2018-08-28 17:46] TomPallister commented on #579
@deadmandrive set the logger level to trace and get the logs from your container, easiest way is probably use console logger (stdout) in asp.net and then do docker logs {containername/id} and you can see them on the terminal...or you can write to disk etc up to you. This might help you track the issue down.

Most of the time docker problems are because the networking isn't set up correctly and one

[2018-08-28 17:52] TomPallister commented on #571
@stamatiagk what is baseUrl? What object is it on? What does it represent? Will this break existing functionality? If you want to have a go at implementing this please do because I do not have time for new features at the moment...busy fixing bugs and dealing with questions! :(

[2018-08-28 17:54] TomPallister commented on #571
I will set this issue to new feature and if I get time I will look at it but would be awesome if you could asses and make the changes to Ocelot!

[2018-08-28 17:57] TomPallister commented on #569
@REPRESSION ahh Ocelot only integrates with existing authentication providers that are part of asp.net core or other people have already implemented. You would pull their NuGet packages and do the integration that way in Ocelot.

All ocelot does is map the authentication provider you provide with a ReRoute. In your case if you have some custom authentication then you will need to write a custom au

[2018-08-28 17:59] TomPallister opened #580 "Ocelot should not startup if user specifies use service discovery but has not registered service discovery provider delegate and we need to handle mapping from delegates to string in config better"
## Expected Behavior

ocelot should fail to start and tell the user why
also maybe get rid of UseServiceDiscovery on ReRoute and use ServiceName?

## Actual Behavior

ocelot starts

## Steps to Reproduce the Problem

  1. ocelot config with service discovery settings
  1. start ocelot with no service discovery delegate
  1. ocelot starts

Also

Need to map from string in ocelot json config to type

[2018-08-29 01:28] deadmandrive commented on #579
@TomPallister Thank you. will try it out.

[2018-08-29 06:15] deadmandrive commented on #579
@TomPallister i set the logger level to trace but don't understand "use console logger (stdout) in asp.net" part. Do you have some example that i can take a look?
Now i got new error

This page isn’t working
localhost is currently unable to handle this request.
HTTP ERROR 500

[2018-08-29 06:32] TomPallister commented on #579
I mean something like

[code]
but you can use any type of logger you want.

[2018-08-29 06:40] deadmandrive commented on #579
@TomPallister Ok. Got it will do.

[2018-08-29 08:13] REPRESSION commented on #569
@TomPallister Got it working with a custom authentication providers, this issue helped me a lot :
https://github.com/ThreeMammals/Ocelot/issues/445

[2018-08-29 09:34] iexapl opened #581 "Configuration can do a little bit"
## Expected Behavior / New Feature
1, Reroutes elements can be added to the Title describes what this route is a micro-service, easy to generate Swagger route and its description;
2, Request aggregation configuration can do a little bit, do not rely on reroutes node, Reroutekeys refactoring as:
    {
         "Key": {
         "ServiceName":  "string",//value corresponds to ServiceName in reroutes

[2018-08-29 14:07] REPRESSION opened #582 "Aggregator is not used by ocelot"
Hello,

I followed the documentation on how to implement a custom Aggregator, but for some reasons it isn't used by ocelot. Here is what I've done :

ocelot.json
[code]

Aggregator file
[code]

Startup.cs
[code]

I always get the Result of the first ReRouteKey, even if I change `return responses[0]` tu `return null` in the Aggregator file. It seems like the line `"Aggregator": "SwaggerFilesAggrega

[2018-08-30 03:08] iexapl opened #585 "Dynamic routing global configuration"
## New Features
The `GlobalConfiguration` JSON section and the [Global Configuration Schema](https://ocelot.readthedocs.io/en/latest/features/configuration.html#global-configuration-schema) include subsections like `HttpHandlerOptions`, `LoadBalancerOptions`, `QoSOptions`, and `RateLimitOptions`, which can configure [Dynamic Routing](https://ocelot.readthedocs.io/en/latest/features/servicediscover

[2018-08-30 03:17] deadmandrive commented on #579
@TomPallister I check the connection between Ocelot Gateway and each service containers. they all working find.
I test by ping from Ocelot Gateway container to each service containers.

[code]

So right  now. I'm not quit sure what the problem is?
But something wrong with this.

[code]

[2018-08-30 05:52] TomPallister commented on #579
@deadmandrive interesting, Ocelot is using ```http://localhost:9600/api/values``` as downstream url in your logs but you are pinging service-a is there something wrong with the config?

[2018-08-30 05:53] TomPallister commented on #585
@iexapl please can you explain what you mean by it didn't work? They will only work if you are using dynamic routing feature with a service discovery provider.

If you can share your whole source code or program.cs / startup.cs and json configuration I can look more!

[2018-08-30 05:56] deadmandrive commented on #579
@TomPallister Well i use the same setting when i ran in visual studio debug mode and it worked.
It only not working when run it in docker mode. and i see that in the process ocelot ask the eureka for a list of api that requested and eureka seem like to give it a correct routing.

Here is my ocelot.json config
[code]

[2018-08-30 05:58] TomPallister commented on #582
@REPRESSION mmmm can you share your source code or at least program.cs, startup.cs and json config and I will look further.

[2018-08-30 08:53] iexapl commented on #585
For example:

[2018-08-30 08:55] iexapl commented on #585
For example:

{
  "ReRoutes": [
    {
      "ServiceName": "News",
      "DownstreamPathTemplate": "/{url}",
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "/News/{url}",
      "UpstreamHttpMethod": [ "Get", "Post", "Delete", "Put" ],
      "UseServiceDiscovery": true,
      "AuthenticationOptions": {
        "AuthenticationProviderKey": "Bearer",
        "AllowedScopes": []

[2018-08-30 08:56] iexapl commented on #585
For example:

{
  "ReRoutes": [
    {
      "ServiceName": "News",
      "DownstreamPathTemplate": "/{url}",
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "/News/{url}",
      "UpstreamHttpMethod": [ "Get", "Post", "Delete", "Put" ],
      "UseServiceDiscovery": true,
      "AuthenticationOptions": {
        "AuthenticationProviderKey": "Bearer",
        "AllowedScopes": []

[2018-08-30 09:57] REPRESSION commented on #582
I found out what my problem was, I had only one entry in ReRouteKeys.

[2018-08-30 09:57] #582 closed

[2018-08-30 09:57] #569 closed

[2018-08-30 11:00] TomPallister commented on #582
OK cool, glad its sorted :)

[2018-08-30 12:39] TomPallister commented on #569
awesome good stuff :)

[2018-08-30 14:35] kka-anand opened #586 "API Gateway using Ocelot - JWT Token Authentication (Asp.Net Core 2.1)"
## Expected Behavior / New Feature
I've followed the below article link to authenticate API gateway using Ocelot. I use .Net core 2.1 When I  run the application it API wasn't authenticated. It shows the result as **NOTFOUND**
https://www.c-sharpcorner.com/article/building-api-gateway-using-ocelot-in-asp-net-core-part-two/

_________________________Start of Result__________________________________

[2018-08-30 20:22] michiwib opened #588 "Routing to multiple Views, not just APIs"
## Expected Behavior / New Feature

I am trying to set up Ocelot to route to separate views, but have only seen examples of routing to different apis (makes sense, it is an API Gateway after all). Is there a way for Ocelot to have two downstream hosts, for example Google.com and Bing.com. set to the Ocelot URL, localhost:5000. In this example, I want to connect to Google with the UpstreamPathTempl

[2018-08-31 08:59] stamatiagk commented on #571
@TomPallister  I will try and commit new code :)

[2018-09-01 09:09] TomPallister commented on #588
@michiwib this should work OK there are people who use Ocelot to route to pages that return HTML etc, there might be an issue loading subsequent assets though. Can you share your program.cs / startup.cs and full json configuration so I can take a closer look?

[2018-09-01 09:09] TomPallister commented on #571
awesome, let me know if you need any advice.

[2018-09-01 09:12] TomPallister commented on #586
@kka-anand could you set your logging level to trace and paste the log of the request here?

[2018-09-01 12:47] TomPallister commented on #515
@Marusyk I finally had a chance to try your dockerfile on windows.

Log from building and running the container

[code]

Response from app

[code]

SSH onto the container and call your asp.net app works fine

[code]

In my opinion there is something wrong with the dockerfile setup because no requests from outside docker are hitting the asp.net app (set log level to trace) and make requests from br

[2018-09-01 12:47] #515 closed

[2018-09-01 17:56] kka-anand commented on #586
Hi Tom,

No log has been traced thru API Gateway (port 9000),
Yes, log has been captured with direct request with port 9002.

**Log Details:**
-----------------
info: Microsoft.AspNetCore.DataProtection.KeyManagement.XmlKeyManager[0]
      User profile is available. Using 'C:\Test\AppData\Local\ASP.NET\DataProtection-Keys' as key repository and Windows DPAPI to encrypt keys at rest.
Hosting enviro

[2018-09-02 09:16] #540 closed

[2018-09-02 14:05] deadmandrive commented on #579
@TomPallister I see. That might be a hint. Thank you Tom. I will try to solve it and tell you later what the problem is.

[2018-09-03 01:14] iexapl commented on #581
Lower configuration costs without having to configure multiple nodes in reroutes for each aggregation request

[2018-09-03 04:29] deadmandrive commented on #579
@TomPallister Tom, I think i made some progress but still got a new error. now i can get the right url for routing in docker

[code]

The load Balancing is working and it Downstream url is correct. Some how this happen.

[code]

Then I try to install curl and check that api is working from testocelot container.

[code]

I will try to find out more about Connection Refused Issue. But if you have so

[2018-09-03 05:51] TomPallister commented on #579
@deadmandrive it might be something to do with TLS, are you using https to connect to the services from Ocelot?

[2018-09-03 05:53] TomPallister commented on #581
@iexapl could you do a full example of how this would work?

[2018-09-03 06:39] TomPallister opened #591 "Removed AddAndDelete method from interface which is used by Ocelot.Provider.Consul"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-09-03 17:29] TomPallister commented on #591
released in 11.0.1, will be on NuGet soon

[2018-09-03 17:29] #591 closed

[2018-09-03 20:20] TomPallister opened #593 "UpstreamPathTemplate is null when using dynamic routing"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-09-03 20:31] #593 closed

[2018-09-04 01:39] arielmoraes commented on #377
The solution we have for this is to create a configuration that points to the same server (or maybe another) and create the controllers needed for the aggregation. Inside the action you can then create several tasks and wait all of them and even create new requests that are dependant of any of the previous requests made.

**Now for a possible solution @TomPallister**
We could have another kind of

[2018-09-04 05:57] TomPallister commented on #579
Ok cool, do you use docker compose btw?

[2018-09-04 06:00] TomPallister commented on #377
@arielmoraes that in an interesting idea and would be pretty easy to implement I guess.

[2018-09-04 06:43] deadmandrive commented on #579
@TomPallister I use docker-compose on some services (eureka-server , config-server ,rabbitmq,zipkinserver) and some in docker command in power-shell (dotnet core service,Ocelot-Gateway)

[2018-09-04 06:44] TomPallister commented on #579
@deadmandrive I would put everything into docker compose if I was you because that will set up all the networking between the services correctly. Not sure if there is a reason you cant do this though!!

[2018-09-04 07:34] deadmandrive commented on #579
@TomPallister I try that before and found problem that all dotnet service not register with eureka-server but I might give it a try again.

[2018-09-04 13:13] michiwib commented on #588
Thanks for getting back to me about this, it is good to know that this is possible. The browser developer tools show that some of the files are missing, so I may be having issues loading associated assets.

Here is my ocelot.json:
`{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/{url}",
      "UpstreamPathTemplate": "/service1/{url}",
      "UpstreamHttpMethod": [ "Get", "Post", "Put

[2018-09-04 21:54] TomPallister commented on #588
@michiwib there could be a few things causing you issues here.

If you change your config to say

[code]

and then call http://localhost:5000/service1/ocelot you should see the Ocelot site load but some things will be broken such as images etc.

if you call http://localhost:5000/service1/ you will get a 404 because Ocelot will only match on /service1/something when you have configured /service1/{u

[2018-09-05 18:29] michiwib commented on #588
Ah, that makes sense. I was able to get this working with a similar config to what you suggested, and I could get multiple downstream hosts to work by adding another reroute that handles the static assets for each of them.

[2018-09-06 05:46] TomPallister commented on #588
OK awesome :D

[2018-09-06 05:46] #588 closed

[2018-09-06 07:44] pengzhisun opened #595 "Unable to config downstream host to an Azure App Service domain name, error message: 502 - Web server received an invalid response while acting as a gateway or proxy server."
Dear all, I have a remote aspnet core web api which was deployed in Azure App Service, and I want to use it as a downstream server from my localhost Ocelot gateway, but I've only got the response as HTTP error code 502 and find nothing useful from the ocelot console logs, is this an ocelot known issue and any guidances/tips are appreciated.

## Expected Behavior / New Feature

The ocelot gateway s

[2018-09-06 12:37] Marusyk opened #596 "Unable to start Ocelot because using ServiceDiscoveryOptions but no ServiceDiscoveryFinderDelegate"
I've just updated package from 8.0.0 to 11.0.2 and got this error:

I do not use ServiceDiscovery feature. My config is

[code]

## Specifications

  - Version: 11.0,2
  - Platform: Win10
  - Subsystem: ASP.NET CORE  2.1

[2018-09-06 12:57] Marusyk commented on #596
I found

`var useServiceDiscovery = !string.IsNullOrEmpty(fileReRoute.ServiceName);`

So, now if I add `ServiceName` property then I need to use ServiceDiscovery. But why? I'm using that property for name service (for swagger documentations). It's not obvious that property  `ServiceName`
 enables ServiceDiscovery , isn't it? Where is `UseServiceDiscovery`?

[2018-09-06 17:38] Pradeepkumar-kn opened #597 "Duplicate response in aggregation if reRouteKeys are common b/w aggregation sets"
## Expected Behavior / New Feature
If
reRoutes keys are [a,b,c,d]
And
Aggregates is[ { "ReRouteKeys":[a,b,c,d], "UpstreamPathTemplate": "/EmpDetail/IN/{userid}" }, { "ReRouteKeys":[a,b], "UpstreamPathTemplate": "/EmpDetail/US/{userid}" }  ]

if upstream request url is http://ocelotservice/EmpDetail/US/pradeep then expected response is response of key a,b

## Actual Behavior / Motivation for New Fe

[2018-09-06 17:43] TomPallister commented on #595
@pengzhisun thanks for your interest in Ocelot! :)

What happens if you run the Ocelot asp.net application locally and point it at Azure?

I had a similar problem in Azure App Services and it was because I did not have a web.config in my project.

[2018-09-06 17:44] TomPallister commented on #596
@Marusyk Yeh maybe it is not a good name, I might change it to KeyForServiceDiscovery, There is a Key property on the ReRoute you can use for swagger maybe?

[2018-09-06 17:47] TomPallister commented on #597
@Pradeepkumar-kn mmmm this looks like a genuine issue I will check ASAP! Thanks :)

[2018-09-06 17:48] TomPallister commented on #597
@Pradeepkumar-kn would you be able to share your json config to save me time making one? :()

[2018-09-06 17:55] Pradeepkumar-kn commented on #597
Hi,

Please find sample ocelot.json that i am using.

Thanks
Pradeep

On Thu, Sep 6, 2018 at 11:19 PM Tom Pallister <notifications@github.com>
wrote:

[2018-09-06 18:07] TomPallister commented on #597
Yep sorry I missed that :( long day!

[2018-09-06 19:49] davidni commented on #577
@anlem12 @TomPallister this seems unnecessary. Service Fabric's Reverse Proxy on localhost:19081 is expected to be always available as long as the node is up. If it ever goes down (for whatever reason), you're better off treating the entire node as unhealthy and **removing the node from your backend pool**, and stop routing incoming traffic to it. Trying to complete your gateway requests through a

[2018-09-06 21:14] jlcarpenter opened #598 "[QUESTION] Adding UseOcelot().Wait() causes 404"
I am trying to implement a basic project using Ocelot.  I have my default controller that works.  My oscelot.json is below

`{
  "ReRoutes": [],
  "GlobalConfiguration": {}
}
`
When I add `app.UseOscelot().Wait()` in my Configure I get a 404 error.  If I comment out this line I get the results from my controller.   Is this expected behavior?

[2018-09-06 21:30] #598 closed

[2018-09-06 22:43] Marusyk commented on #596
@TomPallister, thanks for quick response.
Yes, Key property will help.  Thx

[2018-09-06 22:43] #596 closed

[2018-09-06 22:45] Marusyk commented on #515
@TomPallister
Could you please suggest if should POST request to overrwrite the existing configuration make change in appconfig.json file?

[2018-09-07 01:10] davidni opened #599 "HttpResponseMessage.ReasonPhrase isn't proxied"
## Expected Behavior
ReasonPhrase received from downstream should be propagated back to the client.

## Actual Behavior
ReasonPhase is ignored, and a new one i created by HttpResponseMessage according to the Http status code.

## Specifications

  - Version: 11.0.2

[2018-09-07 06:45] TomPallister commented on #597
@Pradeepkumar-kn I had already started refactoring this code in #600 and fixed the bug :o

I will get the release out ASAP and let you know when fixed. For now I suggest just fork Ocelot and use that until fix is in NuGet package.

[2018-09-07 06:52] TomPallister commented on #577
@davidni thanks for this advice, you obviously know Service Fabric very well :)

I will close this ticket then as I don't think it is needed.

[2018-09-07 06:52] #577 closed

[2018-09-07 06:54] TomPallister commented on #599
@davidni I will take a look ASAP!

[2018-09-07 06:58] TomPallister commented on #515
@Marusyk which file on disk are you checking?

Ocelot won't change your appsettings.json (I noticed you use this to load the configuration). It will create an ocelot.{env}.json file on disk and use this as like a datastore.

You can get your initial configuration into Ocelot using appsettings.json because it just uses .net options API but after this all the other features need to write to file and

[2018-09-07 12:19] dimitridaras opened #602 "Url transformation in response"
## New Feature
It would be great if Ocelot could include built-in support for url transformation in response bodies and the location header (called, for instance, [Mask Urls](https://docs.microsoft.com/en-us/azure/api-management/api-management-transformation-policies#MaskURLSContent) in Azure Api Management). Ie, a downstream service url in the response is converted to the upstream gateway url.

#

[2018-09-07 15:27] Deilan opened #603 "Respond with an error on no connection to downstream service"
## New Feature
Respond with a reasonable error message in a case when _No connection could be made because the target machine actively refused it_. And add an extension point to override the message and status code (e. g. 502 Bad Gateway) for this case of course.

The error usually looks like the following in logs:
[code]

## Motivation for New Feature
More smooth UX.

## Steps to Reproduce the Pr

[2018-09-07 15:49] Deilan opened #604 "QosOptions.TimeoutValue is not being taken into account"
## Steps to Reproduce the Problem
As per [QoS docs section](https://ocelot.readthedocs.io/en/latest/features/qualityofservice.html):
1. Install `Ocelot.Provider.Polly`
2. Add to `Startup#ConfigureServices` the following: `services.AddOcelot().AddPolly();`
3. Add a section into `ocelot.json`:
[code]
4. Send a request via Ocelot.
5. Wait for a response

## Expected Behavior
Downstream response time

[2018-09-07 15:55] Deilan opened #605 "Configurable timeout without using Polly"
## New Feature
Please let configurable timeout without using Polly provider.

## Motivation for New Feature
Polly is not always needed.

[2018-09-07 20:04] davidni commented on #602
On a related note, there are cases where a service would still have to know its public endpoint that the client used to reach it through the Gateway (Ocelot). A common mechanism is that the gateway would add the non-standardized headers `X-Forwarded-Proto`. `X-Forwarded-Host`, `X-Forwarded-Port`, etc. More recently there have been attempts at standardizing a newer form of those as the `Forwarded`

[2018-09-07 23:06] pessimca opened #606 "Can i run SPA and gateway in one project"
I am new to Ocelot and just started exploring it. I have a SPA (.NET Core Angular) and I have call multiple API's. We were asked to use .NET Core controller to call API's using HttpClient. Found your source as great help to overcome duplicating controllers. But could not able to run SPA and gateway using one project.

Do we have any options to do it? Please let me know.

Below is the my configurat

[2018-09-08 06:59] TomPallister commented on #606
@pessimca I am not aware of anyone using Ocelot for this purpose and it is not a scenario we "support" however you might be able to do it using Map middleware. If you wrap app.UseOcelot.Wait() in a Map middleware say on the path "/ocelot-routes" then asp.net will send any calls to /ocelot-routes to the Ocelot middleware. You can read more about this [here](https://docs.microsoft.com/en-us/aspnet/c

[2018-09-08 07:03] TomPallister commented on #602
@dimitridaras Ocelot can already transform the Location header, see the docs [here](https://ocelot.readthedocs.io/en/latest/features/headerstransformation.html#handling-302-redirects).

@dimitridaras @davidni I agree this would be a good feature, one day I might get round to it but for now I don't have time :(.

I am so busy with work, life and just fixing bugs and answering questions. At the mome

[2018-09-08 07:04] TomPallister commented on #605
@Deilan this would be a new feature, I will mark it as such but I do not have time to work on it at the moment.

However I would suggest just using Polly as I won't have time to do it anytime soon, unless you want to have a go yourself!

[2018-09-08 07:08] TomPallister commented on #604
@Deilan I will check this out asap, should be working but might have been broken :( There is a test for this isn the Ocelot.Provider.Polly projet but who knows.

[2018-09-08 07:09] TomPallister commented on #603
@Deilan what would you suggest for the error message?

[2018-09-08 11:07] Deilan commented on #603
@TomPallister
"_No connection could be made because the target machine actively refused it_" would be pretty good,
This error does get returned to users, the message and status could be overrided, and message could be omitted at all (like how it works now).

[2018-09-08 19:05] allrameest opened #607 "Always 200 response code in middlewares"
I'm trying to catch errors both with the built in middlewares and custom middlewares. But `context.Response.StatusCode` is always 200.

This issue seems to be about the same thing and should be solved: https://github.com/ThreeMammals/Ocelot/issues/370
But for me it doesn't work.

I've reproduced it in this repository:
https://github.com/allrameest/OcelotErrorHandling
If you start it and browse to

[2018-09-09 16:37] MikeFH commented on #472
@TomPallister Would this be materialized as an `AuthenticationHandler<T>` ?
Also would it use the Amazon way of signing requests or another method like https://github.com/w3c-dvcg/http-signatures ?

[2018-09-10 12:00] dimitridaras commented on #602
I am still quote new to Ocelot. In the mean time, what is the best workaround? A delegating handler?

[2018-09-10 21:34] pessimca commented on #606
I am able to make by adding below code:

public void Configure(IApplicationBuilder app, IHostingEnvironment env)
        {
            if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
            }
            else
            {
                app.UseExceptionHandler("/Error");
                app.UseHsts();
            }

            app.UseHttpsRedirection

[2018-09-11 03:26] rocgao opened #609 "The Rate Limiting feature doesn't work when use DistributedCache"
## Expected Behavior
External http request should be blocked when quota exceeded.

## Actual Behavior
External http request was forwarded to downstream servers always.

## Steps to Reproduce the Problem

  1. Adding DistributedCache. Such as RedisCache, which is supplied by Microsoft.Extensions.Caching.Redis nuget package.
  1.  Enabling DistributedCache. Refer to following code:
[code]
  3.  Conf

[2018-09-11 05:09] rocgao commented on #609
I have found out the bug. The DistributedCacheRateLimitCounterHanlder.Get will be called, when the RedisCache is enabled. Within the method, call JsonConvert.DeserializeObject funtion to load RateLimitCounter instance from json string. But both Timestamp  and TotalRequests are readonly of the RateLimitCounter structor.  So to fix this bug, should apply the JsonConstructorAttribute to RateLimitCoun

[2018-09-11 11:56] Preetham-D opened #611 "how to count number of requests served ??"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-09-11 11:59] ICLBS opened #612 "Ocelot automatically redirects to micro service"
can you force when to downstream a url instead when a request is sent to the gateway with ocelot? ex first validate that the parameters inserted by the user are correct and if validation is correct then downstream the url?

[2018-09-12 06:30] TomPallister commented on #603
@Deilan can you give me an example of where this error gets returned to a user? I cannot replicate the issue! When Ocelot records an error it appends to a list of errors internally and then before returning it logs the errors, maps the errors into a status code and returns an empty response.

[2018-09-12 06:36] TomPallister commented on #607
@allrameest thanks for this, change was made before and it looks like ive somehow just steamrolled it :/ no idea why.

Will release this to NuGet ASAP.

[2018-09-12 06:40] TomPallister commented on #472
@MikeFH yes it would almost certainly be some kind of .net authentication handler.

I haven't looked at this issue yet. I would imagine someone has already created a middleware for HMAC signing in asp.net and I would just use this. Infact I don't even think it needs to be anything to do with Ocelot......you just need to add it as the first middleware before Ocelot. I will leave this open for now b

[2018-09-12 06:42] TomPallister commented on #602
@dimitridaras you can either use a delegating handler [here](https://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html), [inject middleware](https://ocelot.readthedocs.io/en/latest/features/middlewareinjection.html) or just a middleware before the Ocelot pipeline, I think you can manipulate the HttpContext object Ocelot will return. Though I'm not 100% sure of that.

[2018-09-12 06:46] TomPallister commented on #609
@rocgao thanks for this issue and the fix. I really appreciate it. I will merge this into NuGet package ASAP.

[2018-09-12 06:48] TomPallister commented on #606
@pessimca interesting! I never thought anyone would use Ocelot like this!

I think @Kevin-Deason advice is pretty good :)

I will close this for now :)

[2018-09-12 06:48] #606 closed

[2018-09-12 06:49] TomPallister commented on #611
@Preetham-D you can just add a middleware above Ocelot and count the requests? Does that work for you? Let me know if not and we can re-open this issue!

[2018-09-12 06:49] #611 closed

[2018-09-12 06:50] TomPallister commented on #612
@ICLBS Im not 100% sure what you mean but Ocelot supports [authentication](https://ocelot.readthedocs.io/en/latest/features/authentication.html) and basic [authorisation](https://ocelot.readthedocs.io/en/latest/features/authorisation.html)..this might help?

[2018-09-12 09:47] aqa510415008 opened #614 "Add a grayscale release feature"
I think it's possible to add a grayscale publishing feature, similar to the UpstreamHost configuration, to add an UpstreamIP configuration for grayscale publishing.

[2018-09-12 09:50] #614 closed

[2018-09-12 12:20] fablacky opened #615 "Set up ocelot.json depending on Build configuration"
## Expected Behavior / New Feature
Hi,
I'd like to edit at compile time my ocelot.json (mostly my DownstreamHostAndPorts parameter) depending on the build configuration currently active (Debug, Release, etc..), I couldn't find any reference in the documentation and I suppose I can't treat it like a normal appsettings.json. Is there any feature included in ocelot which could help me achieve that?

[2018-09-12 13:02] dimitridaras opened #616 "[Question] Are API Keys supported?"
## Expected Behavior / New Feature
Can the gateway can be configured to allow access to downstream urls only if an api key is provided? A key would be generated for each client that need acess to the the gateway

## Actual Behavior / Motivation for New Feature
We would like to secure our endpoints so that only clients (_not users_) that provide the correct key can use them.
This is pretty common b

[2018-09-12 14:31] svipandi commented on #468
@TomPallister

I need to call auth server from my api gateway. Auth server return the token. I need to cache the token in the gateway itself. next subsequent request i need to attach the token and forward the request to the corresponding micro service. How we can implement in the gateway

[2018-09-12 14:48] #615 closed

[2018-09-12 15:51] jlcarpenter opened #617 "Support scheme in service discovery address"
I'm using version 11.0.2 of Ocelot and Ocelot.Provider.Consul.  Below is my ocelot.json file.

`

{
	  "ReRoutes": [
		{
		  "DownstreamPathTemplate": "/v1/vaults",

		  "ServiceName": "testservice",
		  //"LoadBalancer": "LeastConnection",
		  //"LoadBalancerOptions": {
		  //  "Type": "LeastConnection"
		  //},
		  "UpstreamPathTemplate": "/api/values",
		  "UpstreamHttpMethod": [ "Get" ]
		}

[2018-09-12 16:56] TomPallister commented on #616
@dimitridaras not at the moment, this would be a new feature. I will leave this issue open to record the fact it has been requested.

If you wanted to try and implement this yourself as a middleware you can give it a go and then we could add it to Ocelot later maybe?

[2018-09-12 16:58] TomPallister commented on #468
@svipandi Why do you need to cache the token? I think you probably just need to implement an authentication handler that does all your logic and then use this in Ocelot...should work! But I don't really know what your scenario is.

[2018-09-12 17:02] TomPallister commented on #617
@jlcarpenter it looks like your service registered in Consul has http:// in the consul address field. Ocelot doesn't support this at the moment. The services just need the host. More info [here](https://ocelot.readthedocs.io/en/latest/features/servicediscovery.html#consul).

Let me know if that helps.

[2018-09-12 18:49] jlcarpenter commented on #617
I think I have removed the http:// from the consul address field.  Now when I call the api I get the following log.

`
dbug: Ocelot.Requester.Middleware.HttpRequesterMiddleware[0]
      requestId: 80000013-0006-ff00-b63f-84710c7967bb, previousRequestId: no previous request id, message: IHttpRequester returned an error, setting pipeline error
warndbug: Ocelot.Requester.Middleware.HttpRequesterMiddl

[2018-09-12 18:52] TomPallister commented on #617
@jlcarpenter you need DownstreamScheme in your ReRoute config as per the docs..but annoying but how it works at the moment!

[2018-09-12 18:54] jlcarpenter commented on #617
Thanks.  I thought that could be removed when using ServiceDiscovery

[2018-09-12 21:27] Deilan commented on #603
@TomPallister It's a feature request, not a bug report. Currently the user just receives an empty body and 500 status code.

[2018-09-13 02:03] allanchua101 opened #619 "Intention to Contribute for Adding Support for Redis"
## Inquiry and not a bug at all
Hi Guys,

Can I politely ask how can I contribute by adding support for Redis-based rate limiting?

Would love to help out this wonderful project!

Regards,
Allan

[2018-09-13 05:59] gencay opened #620 "Running Ocelot on Service Fabric with ReverseProxy SSL enabled"
## Expected Behavior / New Feature
When SF is running the reverseProxy(`HttpApplicationGatewayEndpoint`) on `https` I expect Ocelot to figure it out. Maybe I am missing a configuration, however the [documentation ](https://ocelot.readthedocs.io/en/latest/features/servicefabric.html)doesn't mention anything about it, either. @davidni I saw your comment on this issue #555. Were you actually able to

[2018-09-13 06:33] TomPallister commented on #617
Yeh I will leave this issue open to take a look at it.

Rule could be, if you are using service discovery and havent set downstreamscheme then we expect it in the address. If you have set it then we don't expect it in the address.

[2018-09-13 06:48] TomPallister commented on #603
@Deilan I understand that it is a feature request but I don't have much free time so I try and get straight to the point!

I don't fully understand what it is you are suggesting.

I get that you want a smoother error message, but in the logs surely you want everything? Not just the message e.g. "No connection could be made because the target machine actively refused it", you want the stack etc. Wh

[2018-09-13 06:53] TomPallister commented on #616
duplicate of #553

[2018-09-13 06:53] #616 closed

[2018-09-13 06:56] TomPallister commented on #553
copied from previous issue

At the moment we only support basic rate limiting. Implement something more complex re discussion in #372 such as https://en.wikipedia.org/wiki/Token_bucket, https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/SmoothRateLimiter.java

[2018-09-13 07:01] TomPallister commented on #619
@allanchua101 first thanks for your interest in the project. It is really appreciated.

The first thing we were thinking of doing with rate limiting is improving our basic implementation....this is not really documented yet but the issue is #553. The general idea was to move our rate limiting to a bucket algorithm.

After that the idea is it will be much easier to implement different providers bec

[2018-09-13 16:55] jlcarpenter opened #621 "[Question] How does authentication work?"
I'm now trying to integrate authentication using auth0.  I have followed documentation provided by adding the following to the configuration file.

       "AuthenticationOptions": {
        "AuthenticationProviderKey": "Auth0",
        "AllowedScopes": ["read:item" ]
      }

and the audience and authority provided by Auth0 to Startup when calling AddJwtBearer.  I still get a 401.  I am using post

[2018-09-13 17:09] TomPallister commented on #620
@gencay Ocelot uses DownstreamScheme to decide if it calls on https or http at the moment. In your config you have set http at the moment!

Try changing it to https and hopefully it will work!

[2018-09-13 17:11] TomPallister commented on #621
@jlcarpenter set your log level to trace and see what gets output by Ocelot. Paste it here if it doesnt make any sense!

If you could paste the code where you add the auth0 stuff to startup minus any secrets as well that might help.

[2018-09-13 17:44] TomPallister commented on #597
fixed in 11.0.3, any problems let me know

[2018-09-13 17:44] #597 closed

[2018-09-13 17:44] TomPallister commented on #599
fixed in 11.0.3, any problems let me know

[2018-09-13 17:44] #599 closed

[2018-09-13 17:44] TomPallister commented on #607
fixed in 11.0.3, any problems let me know

[2018-09-13 17:44] #607 closed

[2018-09-13 17:44] TomPallister commented on #609
fixed in 11.0.3, any problems let me know

[2018-09-13 17:44] #609 closed

[2018-09-13 18:13] jlcarpenter commented on #621
@TomPallister Here is my log

      requestId: 80000008-0005-fe00-b63f-84710c7967bb, previousRequestId: no previous request id, message: Upstream url path is /api/values
dbug: Ocelot.DownstreamRouteFinder.Middleware.DownstreamRouteFinderMiddleware[0]
      requestId: 80000008-0005-fe00-b63f-84710c7967bb, previousRequestId: no previous request id, message: downstream templates are /v1/{everything}

[2018-09-13 21:40] jlcarpenter commented on #621
It looks like my problem that right now I am trying to short circuit the authentication process.  I have not authenticated the user at this point, but was trying to simply take the bearer token provided in the Quick Start API by Auth0 and pass it along in the request.

[2018-09-14 09:18] bulentrahimkazanci opened #622 "Routing to Downstream Root Problem with {everything}"
## Expected Behavior / New Feature

I expect that every url should match.

## Actual Behavior / Motivation for New Feature

When I send a post request, I got "Unable to find downstream route for path" error.

## Steps to Reproduce the Problem

I have the routing definition as follows:

`    {
      "DownstreamPathTemplate": "/api/schedules/{everything}",
      "UpstreamPathTemplate": "/ib/schedule

[2018-09-14 16:46] TomPallister commented on #621
@jlcarpenter Your config has `Auth0` as your `AuthenticationProviderKey` and you are registering your auth handler with the key `Auth0-KeyVault`, Is this correct? Ocelot should fail to start under these conditions.

I'm not sure what you mean by short circuit? Have you solved this issue? :O

[2018-09-14 16:55] TomPallister commented on #622
@bulentrahimkazanci this is the current behaviour of Ocelot.

When you post to /api/schedules it doesn't match because your catch all is /api/schedules/{everything} so Ocelot will only match on /api/schedules/something.

That is why in the docs /{everything} is recommended if you want to catch everything!

[2018-09-14 16:56] #557 closed

[2018-09-14 16:59] #595 closed

[2018-09-14 17:00] #579 closed

[2018-09-14 17:00] #581 closed

[2018-09-14 17:00] #586 closed

[2018-09-14 18:13] jlcarpenter commented on #621
I have not resolved the issue.  When I say short circuit, I was saying that at this point I have not authenticated the user.  I am simply taking the bearer token provided by Auth0 and using it in the request.  I believe the problem by looking at the response and the code is that I do not have a user (much less one that has been authenticated) in the request.

[2018-09-14 19:41] davidni commented on #620
There's really no reason to call Reverse Proxy over https -- the communication happens on the loopback interface and will never leave your machine. I don't think Reverse Proxy even supports listening on localhost over https. It is analogous to trying to encrypt the HttpRequestMessage before sending it to HttpClient.SendAsync. If you cannot trust your local execution environment to process private

[2018-09-17 06:32] #622 closed

[2018-09-17 08:32] bishopjun11 opened #623 "How to get RemoteIPAddress in Asp.Net core 2.1 Service behind ocelot"
## Expected Behavior / New Feature
Get User Real IP Address

## Actual Behavior / Motivation for New Feature
Get Ocelot gateway IP Address

## Steps to Reproduce the Problem

  1.Ocelot route http request to my asp.net core 2.1 service;
  2.In asp.net core 2.1 controller get remoteIPAddress from method "var ipAddress = _httpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString();"

## Sp

[2018-09-17 15:31] jlcarpenter commented on #621
Was able to resolve the problem! I included some code for AD authentication without realizing it.

[2018-09-18 06:35] TomPallister commented on #620
@davidni thanks for your insight!

[2018-09-18 06:35] #620 closed

[2018-09-18 06:36] TomPallister commented on #621
@jlcarpenter good stuff :)

[2018-09-18 06:36] #621 closed

[2018-09-18 06:41] TomPallister commented on #623
@bishopjun11 the best way for this to happen would be an x forwarded for header. I think this is a new feature. I will get round to it eventually but for now if you want this you would have to implement it yourself either your own piece of middleware that adds it as a header and then ocelot will automatically forward it.

[2018-09-18 06:41] TomPallister commented on #623
In terms of implementing this use the header placeholder stuff

[2018-09-18 20:34] TomPallister commented on #623
@bishopjun11 Yep that should work fine, good idea. Btw if you are using nginx already you might not need Ocelot! What are you using it for?

[2018-09-19 05:32] aringlot opened #624 "ReRoute by header value"
## Expected Behavior / New Feature
ReRoute discovery by header value in addition to path.

## Actual Behavior / Motivation for New Feature
I am working on versioning problem for API, that is already running in production.
By the current moment version is passed with every request|response via headers.

I would like to configure Ocelot in a such way, so that v1 will be routed to Api 1, v2 to Api 2

[2018-09-19 06:38] TomPallister commented on #624
@aringlot I think this is a duplicate of #360. I will copy your content over and reference this ticket.

Please share your middleware? Perhaps we can use this as a basis for the feature!

[2018-09-19 06:38] #624 closed

[2018-09-19 06:39] TomPallister commented on #360
Expected Behavior / New Feature
ReRoute discovery by header value in addition to path.

Actual Behavior / Motivation for New Feature
I am working on versioning problem for API, that is already running in production.
By the current moment version is passed with every request|response via headers.

I would like to configure Ocelot in a such way, so that v1 will be routed to Api 1, v2 to Api 2 an so

[2018-09-19 06:39] hongwei7458 opened #625 "when i install Ocelot version 11.0.3 why App.Metrics can not get any log.."
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature
 a website with App.Metrics   is work  ,when i add Ocelot ,  Ocelot is work, but  App.Metrics can not get
request log...

## Steps to Reproduce the Problem

  1.  getway solution  add App.Metrics.  is work
  1. when i add Ocelot   is not work ,
  1

## Specifications

  - Version: Ocelot :11.0.3
  - Platform: windo

[2018-09-19 06:40] TomPallister commented on #564
Turns out this is a duplicate of #460

[2018-09-19 06:40] #564 closed

[2018-09-19 06:40] TomPallister commented on #460
Expected Behavior / New Feature
I'm looking for direction on how to route to a specific downtream resource based on a value in .net identity claim. Ex) user has claim TenantId = "xxx" and this would route them to a specic downstream resource I have setup.

Actual Behavior / Motivation for New Feature
Need to support multi tenant multi site routing with single enpoint visible to user

Steps to Repr

[2018-09-19 06:45] TomPallister commented on #625
@hongwei7458 I don't anything about App.Metrics I'm afraid. Ocelot is just a normal asp.net core app so I don't know why there framework doesnt work with it.

My best guess might be because Ocelot implements its own DiagnosticListener for tracing and maybe they need to register a version of this for App.Metrics to work?

[2018-09-19 07:01] TomPallister commented on #604
@Deilan this is a bug the code that is wrong is QoSOptions.cs

[code]

When you have your config Ocelot doesnt load the QosProvider because ExceptionsAllowedBeforeBreaking is 0.

I will get this fixed ASAP as it is a bug. If you want a quick fix try set ExceptionsAllowedBeforeBreaking to something and it should work :/

[2018-09-19 07:13] hongwei7458 commented on #625
[App.Metrics](https://www.app-metrics.io/)    it  gathering request log and  Insert  InfluxDB
when i request  gateway site  ,  the request how to tracing.

[2018-09-19 07:34] aringlot commented on #624
@TomPallister Thank you for you feed back!
I went through #360. It seems that mine solution is even worth than #360.

[code]
In addition to that there is a ReRoute configuration, that looks like following /{version}/{path}

I am also thinking about doing some coding to add headers to ReRoute configuration and modify your ReRoute discovery routine. But I need your approval.

[2018-09-19 08:18] hongwei7458 commented on #625
i find the demo with App.Metrics and ocelot    but  it use Ocelot 2.0

[2018-09-20 02:32] aqa510415008 opened #626 "It is recommended to add the attribute of Name to the routing configuration"
It is recommended to add the attribute of Name to the routing configuration.
Security protection can be done according to name, grayscale release extension

[2018-09-20 04:13] #626 closed

[2018-09-20 06:03] TomPallister commented on #624
@aringlot I would welcome a PR, if you do make one please have unit and acceptance tests and if possible update the docs. I’m. How would you make the JSON look?

[2018-09-20 06:56] TomPallister commented on #625
@hongwei7458 can you send me a link to the demo for Ocelot 2.0? I might be able to identify what has changed.

[2018-09-20 08:10] aqa510415008 opened #628 "Is it possible to add a security module"
Is it possible to add a security module?
IP whitelist, blacklist
AuthorizationToken blacklist

[2018-09-20 12:34] aringlot commented on #624
I am thinking about adding additional field to ReRoute like following:
[code]

there is a problem with such approach - all headers should be present to much ReRoute. Probably there should be another field to specify either it should be AND or OR operand. By adding such field I try to reduce amount of ReRoutes needed for different sets of headers.

[2018-09-20 17:15] TomPallister commented on #624
You want something where you can use the header values in the UpstreamPathTemplate I think...not sure how it would look.

[2018-09-20 17:16] TomPallister commented on #628
@aqa510415008 yes it would be possible. This would be a new feature!

You could have a go at implementing this as a piece of middleware and seeing if it works in your project. Then maybe we could add it to Ocelot?

[2018-09-20 17:53] TomPallister commented on #604
fixed in 12.0.0, just released to NuGet

[2018-09-20 17:53] #604 closed

[2018-09-20 17:53] TomPallister commented on #559
fixed in 12.0.0, just released to NuGet

[2018-09-20 17:53] #559 closed

[2018-09-20 17:54] #612 closed

[2018-09-20 17:54] #619 closed

[2018-09-21 01:43] aqa510415008 commented on #628
@TomPallister  I have started to integrate Ocelot. I discussed feasibility with @geffzhang yesterday. IP whitelists and blacklists are configured through Ocelot, and other security components are extensible. When I submit the PR, you can see if it works.

[2018-09-21 06:40] TomPallister commented on #628
I have reviewed the PR, looks good, changes requested!

Thank you for this. I really appreciate it.

[2018-09-21 09:19] aqa510415008 opened #630 "I would suggest an error if StatusCode or Response.Body is set for other middleware downstream."
I would suggest an error if StatusCode or Response.Body is set for other middleware downstream.

[code]

https://github.com/ThreeMammals/Ocelot/blob/f16d201906f996f49effe83c86fd527292aff21a/src/Ocelot/Responder/HttpContextResponder.cs#L60

![image](https://user-images.githubusercontent.com/28291464/45872371-6e803080-bdc2-11e8-8442-7d5488950718.png)

[2018-09-21 20:49] davidni commented on #620
@gencay my previous comment may have been incorrect (pending investigation -- I'll update this once I have more clarity on the subject). I have learned that Reverse Proxy might refuse to connect to https services unless Reverse Proxy itself has been configured to listen on https. If that turns out to be true, you will be able to create a custom `IHttpRequester` that modifies the outgoing request t

[2018-09-22 06:38] TomPallister commented on #630
@aqa510415008 I don't understand how the exception links to the log you have uploaded :(

However the change does seem to make sense?

[2018-09-22 06:41] TomPallister commented on #628
Ok I will wait for tests :)

[2018-09-22 07:51] #630 closed

[2018-09-24 05:37] arielmoraes opened #633 "Preflight requests are being handled by the Authentication Pipeline"
According to the W3 spec, prefights requests should not send Authentication headers, but if Authentication is added to a ReRoute configuration with an OPTIONS mapping the request fails with a 401 response.

![image](https://user-images.githubusercontent.com/6741634/45938694-b1006380-bfa2-11e8-9a34-3f30ecb0b5a7.png)

I tried to create another ReRoute config with the same UpstreamRoute but with only

[2018-09-24 06:57] TomPallister commented on #633
@arielmoraes Thanks for this....all this make sense to me! I guess it hasn't come up before because people normally use the asp.net cors middleware before Ocelot so it never get's down the Ocelot pipeline...not 100% sure though.

I really appreciate your interest in Ocelot and the fact you have submitted this PR :) thank you!!!!!!!! I will get it merged an released in the NuGet package ASAP.

[2018-09-24 14:06] arielmoraes commented on #633
@TomPallister No problem, I tried to put the CORS middleware before ocelot and the problem persists. Waiting for the stable versions to update Ocelot.

[2018-09-25 14:26] adamsproul opened #635 "Auth0 - JWT Token Validation - Request for authenticated route was unauthenticated"
I am having issues validating an Auth0 access token when sent to Ocelot. I want to wrap Ocelot behind Auth0 so only authenticated users can call Ocelot.

Workflow is:
--**issue**--
SPA -- ( Authorization: Bearer {access_token from Auth0} ) --> Ocelot
--**working**--
Ocelot -- ( Authorization: Bearer {basic auth} --> External service

## Expected Behavior / New Feature
Sending an Auth0 JWT access t

[2018-09-25 14:38] adamsproul commented on #635
As a side note, if I remove the "AuthenticationOptions" from the ReRoute then everything flows through as intended.

But for security I want Ocelot to validate the Auth0 JWT tokens when an SPA makes a request to the API gateway.

[2018-09-25 14:57] adamsproul commented on #635
Code was transforming the request header and replacing Auth0 token with the basic token intended for the downstream.

"UpstreamHeaderTransform": {
"Authorization": "Basic {basic_auth credentials}"
},

Removed this code and will look at transforming the request header after auth.

[2018-09-25 14:57] #635 closed

[2018-09-25 18:31] adamsproul commented on #635
DownstreamHeaderTransform wouldn't replace the existing Auth0 authorization header. Maybe because the header was already set.

Thank you for your quick response @TomPallister. Very much appreciate the hard work you have put in to this repo.

In the end I added a DelegatingHandler to do the work, feels cleaner and more control, as below:

    namespace APIGateway.Handlers
    {
        public class

[2018-09-25 19:27] TomPallister commented on #635
Yeh that looks good!! Thanks for your interest in Ocelot :)

[2018-09-26 01:42] aqa510415008 commented on #628
Ocelot AuthorizationToken的安全保护扩展

Ocelot.Security.AuthorizationToken.EntityFramework

[2018-09-26 07:28] hongwei7458 opened #638 "ocelot in docker refused to connect."
## Expected Behavior / New Feature

hi @TomPallister ,   i have a problem,
a gateway , and two services .
gateway not work in docker , but it is work on my  computer.
i do not   how to fix it.
 docker logs -----
[dev@slave1 work]$ sudo docker logs gateway_2
Hosting environment: Production
Content root path: /app/
Now listening on: http://localhost:9000
Application started. Press Ctrl+C to shut dow

[2018-09-26 09:44] hongwei7458 commented on #638
i find the error ..
` fail: Ocelot.Provider.Polly.PollyCircuitBreakingDelegatingHandler[0]
      requestId: 0HLH3IGILNL7I:00000001, previousRequestId: no previous request id, message: Error in CircuitBreakingDelegatingHandler.SendAync, exception: System.Net.Http.HttpRequestException: No route to host ---> System.Net.Sockets.SocketException: No route to host
         at System.Net.Http.ConnectHelpe

[2018-09-26 10:36] carloslozano commented on #638
Hi,

My recommendation would be to run your APIs in named containers (with ```--name``` parameter);
* ```docker run -d --name myapi1 my-api1-image```, and,
* ```docker run -d --name myapi2 my-api2-image```, etc.

Then run your ocelot with docker and link its container to the others (with ```--link```parameter;
* ```docker run -d -p 8080:5000 --link myapi1:myapi1 --link myapi2:myapi2 my-ocelot-imag

[2018-09-26 11:37] hongwei7458 commented on #638
@carloslozano
thanks,  this is  all container .
my ocelot and services in one server
![qq 20180926193348](https://user-images.githubusercontent.com/31685551/46077316-03b86600-c1c3-11e8-888f-684e2df947c4.png)
  in my ocelot  configuration.json  host =localhost  or host =127.0.0.1 or host=server ip
both not work..
 here is docker logs
`Ocelot.Requester.Middleware.HttpRequesterMiddleware[0]
      req

[2018-09-27 03:47] hongwei7458 commented on #638
i fix  error

[2018-09-27 03:47] #638 closed

[2018-09-27 05:38] TomPallister commented on #638
Good work! Well done :)

[2018-09-27 07:34] vasicvuk opened #639 "Issue with Sec-WebSocket-Protocol on WS middleware"
## Expected Behavior / New Feature

I wanted to add downstream WS to Active MQ Artemis STOMP.

I added reroute configuration.
Reroute configuration:
[code]

It is expected to work like this but.

## Actual Behavior / Motivation for New Feature

Actual behavior is that i get in browser:
Error during WebSocket handshake: Sent non-empty 'Sec-WebSocket-Protocol' header but no response was received.

R

[2018-09-27 13:47] vasicvuk commented on #639
I've debugged a code a little and i found out that it is hanging at line:
[code]
I am not sure what is problem why it won't connect since. Maybe it is issue with ClientWebSocket. With nginx same works.

[2018-09-28 01:57] knowhoper opened #640 "Request Aggregation fails OOTB v12.0.0.0"
Hi,

The request aggregation in its most basic form throws an exception (this is a slightly modified version of the documented basic example, but I have also tried that and it produces the same error).

ocelot.json
[code]

Code

[code]
Error

Is there any obvious reason this should / shouldn't work?

Thanks for your help.

[2018-09-28 03:05] q315523275 opened #641 "store configuration in consul problem on v12.0.0"
## Expected Behavior / New Feature
hi

When the configuration is stored in consul, restarting the application causes local ocelot. json information to be synchronized to consul, resulting in loss of consul configuration data;

I find that every restart application is executed.

`if(AdministrationApiInUse(adminPath))`
`{`
    `   var fileConfigSetter = builder.ApplicationServices.GetService<IFileCo

[2018-09-28 04:34] #640 closed

[2018-09-28 06:49] vasicvuk commented on #639
I created a pull request solving this issue #642 .

Ocelot WebSockets Middleware didn't copy all the headers and protocols needed for communication to happen. I used  https://github.com/aspnet/Proxy/blob/3015029f5169b699dfa16bcf85cfc7ca0aaddae7/src/Microsoft.AspNetCore.Proxy/ProxyAdvancedExtensions.cs as a reference for implementation.

With this middleware i don't have an issue anymore.

[2018-09-28 09:45] tungphuong opened #643 "Do you have plan to support gRPC?"
Hello,

I dont know that do you have any plan to support gRPC besides http?

Thanks,

[2018-09-28 11:05] gfelot opened #645 "API Administration - 404 not found"
## Expected Behavior
Be able to get access to all the API endpoints

## Actual Behavior / Motivation for New Feature
I got a 404 on each route.

## Steps to Reproduce the Problem

  1. Build a simple API Gw with Ocelot
  2. Test your Ocelot sample app with a working service. Check !
  3. Read the doc : https://ocelot.readthedocs.io/en/latest/features/administration.html
  4. Install : Ocelot.Admin

[2018-09-28 17:43] TomPallister commented on #639
@vasicvuk thanks for your efforts on this and the PR, I will review ASAP.

[2018-09-28 17:43] TomPallister commented on #641
@q315523275 mmmmm I will check this out ASAP, I thought I fixed this already.

[2018-09-28 17:45] TomPallister commented on #643
@tungphuong I don't think gRPC is compatible with the idea of an API gateway like Ocelot. Ocelot has no schema whereas gRPC enforces a schema between upstream and downstream services. Also gRPC can use http as a transport so its not really besides :o

[2018-09-28 17:45] TomPallister commented on #645
@gfelot I will take a look at this ASAP!

[2018-09-29 21:39] lucianoscastro opened #646 "How to add check helth method to my Gateway project .net core"
#Feature

Is there any way to enforce requests to a project controller with Ocelet (my GatewayApi project) for example create the check url to register in the Consul.
URL to check the integrity of my GatewayAPI in the .NET core.

When I make any request for a controller in my GatewayApi project, I always get an error with the message "Could not find the downstream route to the path"

## Steps to R

[2018-09-30 01:13] KenWang007 opened #647 "Do we have portal to maintain the configurations for ocelot?"
Currently we use the ocelot.json to config the api routes in ocelot, but if you have lot of apis in your application(more than 100), it's hard to maintain the json file in ocelot , so do we have portal to maintain the configuration file in ocelot ? or do we have a plan to build it ?

[2018-09-30 01:18] q315523275 commented on #646
网关的健康检查，可以在预留中间件里添加健康检查地址，不过一半这个地址都是给ngnix使用的

                    var conf = new OcelotPipelineConfiguration()
                    {
                        PreErrorResponderMiddleware = async (ctx, next) =>
                        {
                            if (ctx.HttpContext.Request.Path.Equals(new PathString("/")))
                            {
                                await ctx.Htt

[2018-09-30 07:08] TomPallister commented on #647
@KenWang007 at the moment the only help for this is using [multiple configuration files](https://ocelot.readthedocs.io/en/latest/features/configuration.html#merging-configuration-files). There is also the [administration API](https://ocelot.readthedocs.io/en/latest/features/administration.html) that might be useful to you.

I don't personally intent to build a UI over the configuration at the mome