[2018-09-30 07:13] TomPallister commented on #646
@lucianoscastro "Could not find the downstream route to the path" means that Ocelot cannot find your anything in json configuration for your requested route.

Can you share your configuration json?

Ocelot doesn't do health checks at the moment. I would suggest using Consul if you want that functionality.

[2018-09-30 07:14] TomPallister commented on #645
@gfelot can you set your logger level to trace and paste the Ocelot log here when you make the request?

[2018-09-30 07:56] TomPallister commented on #647
@KenWang007 thank you for your kind words :)

I will keep this issue open as I might get time to build the feature in the future :)

[2018-09-30 08:40] vasicvuk commented on #639
@TomPallister  Thank you Tom for fast review :). I will close the issue since it is fixed and merged. Hope there will be release with the fix soon :)

[2018-09-30 08:40] #639 closed

[2018-09-30 09:16] TomPallister commented on #639
Released in 12.0.1, should be on NuGet soon :)

[2018-09-30 09:17] TomPallister commented on #633
Released in 12.0.1, should be on NuGet soon :)

[2018-09-30 09:17] #633 closed

[2018-09-30 09:17] TomPallister commented on #628
Released in 12.0.1, should be on NuGet soon :)

[2018-09-30 09:17] #628 closed

[2018-09-30 09:17] TomPallister commented on #623
Released in 12.0.1, should be on NuGet soon :)

[2018-09-30 09:17] #623 closed

[2018-10-01 08:51] gfelot commented on #645
I followed this tutorial  : https://www.c-sharpcorner.com/article/building-api-gateway-using-ocelot-in-asp-net-core-part-three-logging2/

I'm stuck at part 2 because I don't have any logging on the console.
Do I have to do something else ? (New to .Net Core).

[2018-10-01 17:01] pliolis commented on #360
yes, i need it too in a multi tenant scenario.

[2018-10-02 08:23] PureKrome opened #649 "Upstream route templates that end in a slash are not 'found'."
## Expected Behavior / New Feature
When I map a specific route and it ends with a `/` I expect it to match to the same route if there was no ending `/`.

## Actual Behavior / Motivation for New Feature
Given two upstream routes where one differ's only with the last character being an `/` then the Router fails to map to the route and returns a `404`.

## Steps to Reproduce the Problem

First, lets

[2018-10-02 08:36] PureKrome opened #650 "Possibly better logging messages when failing to find/match upstream routes"
## Expected Behavior / New Feature

Currently, if I incorrectly enter an upstream route into Postman/curl I get the following logging message: `Unable to find downstream route for path: /searchProducts, verb: GET`

e.g.
[code]

For a long time while I was first learning/experimenting with this framework, I kept reading that message as:
- Successfully mapped your upstream template to one of the ReR

[2018-10-02 11:31] geffzhang commented on #643
@tungphuong support grpc  https://github.com/BuiltCloud/Ocelot.GrpcHttpGateway

[2018-10-02 17:39] TomPallister commented on #649
@PureKrome thanks for your interest in Ocelot, we can take a look at making this work but for now I would suggest just adding the same ReRoute with a / at the end!

[2018-10-02 17:41] TomPallister commented on #650
@PureKrome yep agree this could definitely be made better :) I would welcome a PR for this or I will get round to it when I have time! :)

[2018-10-02 17:43] TomPallister commented on #645
@gfelot the log suggests that Ocelot is trying to route your request to http://localhost:5000/administration/connect/token into the normal Ocelot middleware not the administration middleware :/

Could you share your csproj file to make sure the dependencies are correct?

[2018-10-02 17:45] TomPallister commented on #643
@geffzhang that is awesome :)

[2018-10-02 17:47] TomPallister commented on #643
@tungphuong I would suggest looking at that! I will keep this issue open and reference that project in the Ocelot docs for anyone else looking to use grpc.

[2018-10-02 20:16] gfelot commented on #645
Sure.

[code]

[2018-10-03 08:47] dbarkwell commented on #647
@KenWang007 you could use this: https://github.com/dbarkwell/Ocelot.ConfigEditor

[2018-10-03 12:11] nurhat opened #651 "Extending ReRoute Configuration"
## Expected Behavior / New Feature
 We need a way to access the custom properties defined for ReRoutes when using Ocelot configuration merge option.

## Actual Behavior / Motivation for New Feature
When having multiple ocelot configuration files and using Ocelot configuration merge option, custom configurations defined for ReRoutes are lost in the merged Ocelot.json.

## Steps to Reproduce the Pro

[2018-10-04 11:37] geffzhang commented on #643
This is an article about grpc gateway https://www.cnblogs.com/kingreatwill/p/9722963.html

[2018-10-04 14:00] tbprince opened #652 "UpstreamHost problem : not considered"
Hello,

first of all thank you for this project. I recently discovered it and I was testing it on Service Fabric or in standalone mode. However, it seems that I cannot make the UpstreamHost parameter work. It is simply ignored. The forwarding scheme I have on my mind requires to route things based on the domain that has been used so my routes would almost always have a UpstreamHost parameter set.

[2018-10-07 15:10] TomPallister commented on #652
@tbprince everything you are describing should work fine :(

You are correct re /assets you would need /{url}.

Can you share your configuration json and I can take a closer look?

[2018-10-07 15:12] TomPallister commented on #651
@nurhat this isn't something I intend to change at the moment, however happy to accept a PR :)

I will keep the issue open!

[2018-10-07 15:16] TomPallister commented on #645
@gfelot how does your configure method look? The part with app.UseOcelot.Wait();

[2018-10-07 16:47] ogomaemmanuel commented on #191
http://localhost:9008/CheckoutOption: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8100' is therefore not allowed access.

[2018-10-07 19:58] TomPallister commented on #191
@ogomaemmanuel can you share your json configuration and startup / program.cs?

[2018-10-07 20:28] ogomaemmanuel commented on #191
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Authentication.JwtBearer;
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Ocelot.DependencyInjection;
using Ocelot.Middleware;
using Ocelot.Provider.Polly;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;

[2018-10-07 20:28] ogomaemmanuel commented on #191
{
  "ReRoutes": [
    //Basket  reroutes config
    {
      "DownstreamPathTemplate": "/api/Basket",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "basketservice",
          "Port": 80
        }
      ],
      "UpstreamPathTemplate": "/api/Basket",
      "UpstreamHttpMethod": [ "Options", "Post", "Get" ]

    },
    {
      "DownstreamPathTemplate"

[2018-10-07 20:31] ogomaemmanuel commented on #191
checkoutoption path works on postman but not on browser

[2018-10-07 20:34] ogomaemmanuel commented on #191
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Hosting;
using Microsoft.Extensions.DependencyInjection;
using Microsoft.Extensions.Configuration;
using Ocelot.DependencyInjection;
using Ocelot.Middleware;
using Ocelot.Provider.Polly;
using Microsoft.Extensions.Logging;
using ConfigurationBuilder = Microsoft.Extensions.Configuration.ConfigurationBuilder;
using System.IO;

namespace

[2018-10-08 04:55] yilezhu opened #653 "An exception is thrown when the middleware is rewritten and then blocked back."
I tried to focus on a stream-limiting middleware, but when I returned, I threw an exception with code like this
![image](https://user-images.githubusercontent.com/18655233/46592730-118db580-caf8-11e8-8cec-bfc0c5c106d6.png)
The code is very simple, that is, meet the conditions directly after return.
However, the exception shown in the following figure appears.
![image](https://user-images.githubuse

[2018-10-08 12:43] gfelot commented on #645
Startup.cs
[code]

Program.cs
[code]

[2018-10-09 06:47] stamatiagk opened #654 "Ocelot configuration on DFS"
## Expected Behavior / New Feature
When the gateway is installed in multiple servers with distributed file system (DFS) and in front of those servers a load balancer exists that manages the traffic, the ocelot.json needs write permission in each server and when updating it with the admin Api it ends up having different files in each server. How it is possible to have a common ocelot.json in this c

[2018-10-10 01:34] KenWang007 commented on #647
@TomPallister Thanks a lot

[2018-10-10 17:37] mikejr83 opened #655 "Consul Service Discovery Not Working With Dynamic Routing"
## Expected Behavior

Use Ocelot and Consul for service discovery and dynamic routing.

## Actual Behavior

Without defining `ReRoutes` an error occurs.

## Steps to Reproduce the Problem

  1. Setup Consul and register a service
  1. Setup Ocelot and provide configuration to talk to Consul with `Ocelot.Provider.Consul`
  1. Attempt to go to the route which should be dynamically routed.

## Specif

[2018-10-11 06:05] soumaz opened #657 "Ocelot not working with a Windows Authentication"
## Expected Behavior / New Feature
Ocelot should be working with Windows Authentication

## Actual Behavior / Motivation for New Feature
Ocelot should be working with Windows Authentication

## Steps to Reproduce the Problem
My gateway is a virtual directory hosted under default site with anonymous access.
And my services are hosted under another virtual directory with windows authentication enabl

[2018-10-11 13:31] skyflyer opened #658 "Routing question: placeholders vs slash"
## Expected Behavior

* Request to `/api/` would go to `/` downstream
* Request to `/api/test` would go to `/test` downstream

## Actual Behavior / Motivation for New Feature

* Reqeust to `/api/` is not resolved (see error below)
* Request to `/api/test` goes to downstream `/test

## Steps to Reproduce the Problem

  1. Have something listening on localhost:8000
  1. Configure ocelot to listen on

[2018-10-11 13:48] skyflyer opened #659 "Errors when using rate limiting"
## Expected Behavior / New Feature

No errors present in the log file (stdout output)

## Actual Behavior / Motivation for New Feature

An error is present in the log output:

[code]

## Steps to Reproduce the Problem

I have configured a ReRoute with the following config:
[code]

I then sent several successive requests to the ocelot gateway and observed the error in the log file: `for i in {1..5}

[2018-10-13 10:32] TomPallister commented on #653
@yilezhu hi thanks for your interest in Ocelot. It is not really a bug. I guess it isnt set because you are skipping the middleware that sets it in the PreQueryStringBuilderMiddleware.

I guess you need to set it in your middleware.

[2018-10-13 10:34] TomPallister commented on #645
@gfelot sorry I have been really busy and haven't had a chance to look at this yet. I cannot really see anything wrong with your setup. I will try and take a look asap.

[2018-10-13 10:36] TomPallister commented on #654
@stamatiagk hey, someone needs to implement IFileConfigurationRepository for some kind of shared storage e.g. database or you can store your configuration in consul. You can see how that has been done [here](https://github.com/ThreeMammals/Ocelot.Provider.Consul). I would suggest just implementing it for yourself and see if you can get it working. Then we get can get a PR afterwards.

[2018-10-13 10:38] TomPallister commented on #239
@soumaz I am not sure why this doesn't work, can you debug and submit a PR to fix?

Unfortunately I don't have time to debug learn and fix this issue :(

[2018-10-13 10:41] TomPallister commented on #655
@mikejr83 thanks for your PR! I will merge it ASAP.

[2018-10-13 10:42] TomPallister commented on #657
@soumaz please can you debug and work out why this is. Unfortunately I do not have time to work the problem out at the moment.

[2018-10-13 10:52] TomPallister commented on #658
@skyflyer

```Request to /api/ would go to / downstream```

This doesn't work because /{everything} expects something after the slash, you need a reroute that is just /

```Request to /api/test goes to downstream `/test```

Not sure if this is a typo? I assume it's working?

[2018-10-13 10:53] TomPallister commented on #659
@skyflyer can you share your program / startup.cs

[2018-10-13 10:54] #625 closed

[2018-10-13 16:40] #646 closed

[2018-10-13 16:44] TomPallister commented on #641
@q315523275 Ive had a chance to look at this issue, it looks like expected behaviour. If you are using the administration API when Ocelot starts up it writes to ocelot.json and ocelot.{env}.json because users expect both of these configs to be in sync.

If you are using consul instead of using DiskFileConfigurationRepository to do the save it uses the Consul version and hence it saves to your cons

[2018-10-13 16:48] #645 closed

[2018-10-13 16:49] TomPallister commented on #645
@gfelot I have pushed a sample administration project to [https://github.com/ThreeMammals/Ocelot/tree/develop/samples/AdministrationApi](https://github.com/ThreeMammals/Ocelot/tree/develop/samples/AdministrationApi).

Please try and use this and see if it works for you! I tested it locally and it was working fine. Please note I am not using IIS, nginx or anything. Just Kestrel and using the postma

[2018-10-13 18:29] skyflyer commented on #658
So here is what is puzzling me (it is unexpected).

### Scenario 1

<details>
<summary>Config 1</summary>

[code]
</details>

Config1, where I configure that everything coming to ocelot, goes to `localhost:8000` works. So here, the pattern is `/{everything}` and it matches even `/` and also `/ocelot.json` and all works as one would expect.

* request to http://localhost:5000/ returns content from

[2018-10-13 18:47] skyflyer commented on #659
@TomPallister,

here is a simple repro program:
[ocelotratelimiterror.zip](https://github.com/ThreeMammals/Ocelot/files/2475729/ocelotratelimiterror.zip)

I'm running a server on `localhost:8000` so that Ocelot can proxy it. And I'm issuing requests from bash with `for i in {1..5} ; do curl -i http://localhost:5000/api/ocelot.json ; done`. Alternatively, `wrk http://localhost:5000/api/ocelot.json`

[2018-10-13 22:46] abooraja opened #661 "Smarter Aggregate base on ForeignKey fields"
currently Aggregate feature is awesome.
It would be very nice if ocelot can act as composite based on main/first Downstream response. then load related data from other micro service.
for example Imagine that we have three tiny micro service.
1-comment
2-post
3-profile
we want in one request get list of comments, and get related post and writer too
can ocelot do this?
thanks

[2018-10-14 04:18] Loongle commented on #655
I have the same problem, please kindly release the new version as soon as possible

[2018-10-14 18:19] gfelot commented on #645
I make it work thanks to your sample and I figure it out how to reproduce my errors, but it's maybe my lack of knowledge in this stack that make me write something wrong. (hope my English will be good enough to explain)

In your doc for administration (or how to add cache), the sample code we have to write is sayed to be inside the function `ConfigureServices` in `Startup.cs`file.
So I follow like

[2018-10-14 21:51] osmansonmez opened #662 "Rate Limiting After Authentication"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem
I want to use RateLimiting but i want to take requestid from claims. I see RateLimiting  handler runs before authentication handler and ClaimsToHeadersMiddleware handler.   I think we should change order RateLimiting and authentication . I dont trust clear haeder value. Client can

[2018-10-15 01:50] q315523275 commented on #641
@TomPallister Thank you very much for your reply. I will use API management in another way.

[2018-10-15 01:50] #641 closed

[2018-10-15 02:59] yilezhu commented on #653
Thank you for your reply. First of all, I want to implement permission judgment after the request comes in, and interrupt and return the request without the corresponding permission. So here I'm just simulating a request interrupt, and it shouldn't go down to the middleware after the interrupt. You should respond directly to the client.I am using the code to rewrite your code, so I won't report it

[2018-10-15 07:19] Loongle commented on #655
Dude, I can't wait for your version

[2018-10-15 07:56] stg609 opened #663 "Configuration reload is not working"
## Expected Behavior / New Feature
If I change the load balance option, the ocelot should using the updated option from next request.

## Actual Behavior / Motivation for New Feature
The next requests still use the original option.

## Steps to Reproduce the Problem
program.cs
[code]
configuration/configuration.json, the load balancer option is **RoundRobin**
[code]

1. Build a docker image using

[2018-10-15 12:48] mikejr83 commented on #655
LOL. I've been just building it and replacing the binary in the NuGet path. It was driving me bonkers on this PoC I'm working on.

[2018-10-15 13:02] Loongle commented on #655
@mikejr83 Thank you for your hard work

[2018-10-15 19:32] csharmath commented on #657
@soumaz did you try setting the authPersistSingleRequest to True in your services windowsAuth settings?

https://docs.microsoft.com/en-us/iis/configuration/system.webserver/security/authentication/windowsauthentication/#configuration

So it all depends on how connections are being kept open or not between ocelot and the service ( didn't check). If they are kept open and you are on the defaults, th

[2018-10-16 08:09] PKompis commented on #654
Hi @TomPallister, together with @stamatiagk we implemented an IFileConfigurationRepository for an SQL Server using Dapper.
In order to implement it we made three changes.
1.	In Ocelot Administration package, we added one more parameter in AddAdministration Method in order to pass the IDbConnection and then inject it in builder services. We chose this method because the dbconnection is used in the

[2018-10-16 09:05] AbolfazlRajabpour commented on #661
hi @TomPallister  @binarymash
Do not have a comment?

[2018-10-16 09:11] PKompis opened #664 "Ocelot caching in multiple servers"
## Expected Behavior / New Feature
When the gateway is installed in multiple servers and in front of those servers a load balancer exists that manages the traffic, there is a need for shared cache, in order to share the same routings between the servers in case of an update (Administration API). Does Ocelot currently supports this feauture? If yes how?

## Actual Behavior / Motivation for New Feat

[2018-10-17 06:39] tungphuong commented on #643
Many thanks

[2018-10-17 11:58] gfelot opened #666 "Do Caching working on my setup ?"
I have followed this part of the doc literally : https://ocelot.readthedocs.io/en/latest/features/caching.html

Then if I spam a request my first tough was to get a log like this :
`ConnectionId:**OcRequestId** => RequestId:**OcRequestId**:00000001 RequestPath:/api/stats/collected`

and get a response from this cached request for the number of time I set it up.

Instead I got something like :
`Oce

[2018-10-17 13:51] Loongle commented on #655
When will it be updated to the nuget repository?

[2018-10-17 16:31] jlcarpenter opened #667 "Multiple Authentication Schemes"
I am using Auth0 as my authentication provider.  I have an intranet site where the users log-in to Auth0 and store the bearer token.  I am in the early processes of implementing my Ocelot gateway so I have some of my API controllers still in my intranet code and am moving others to Ocelot.  Below is my Startup code in my Gateway

`
services
        .AddAuthentication(options =>
        {

[2018-10-17 20:39] jlcarpenter commented on #667
I have also looked at delegating handlers but my code is not being called. I saw a comment that they might have been removed.  Below is my handler.

`public class AlertHandler : DelegatingHandler
  {
    public AlertHandler()
    {
      int i = 0;
    }

    protected override async Task<HttpResponseMessage> SendAsync(HttpRequestMessage request, CancellationToken cancellationToken)
    {
      //

[2018-10-18 10:21] ruimaciel opened #668 "System.Exception : Unable to start Ocelot, errors are reRoute has duplicate"
While trying to run a project based on [Ocelot's Configuration example](https://ocelot.readthedocs.io/en/latest/features/configuration.html) on Ubuntu 16.04 with dotnet 2.1.403, the following exception is thrown:

[code]

Here are the contents of ocelot.json:

[code]

The remaining contents of the project consist of the definitions stated in [Ocelot's gettting started examples](https://ocelot.read

[2018-10-19 13:20] helzgate opened #669 "Ocelot doesn't really authenticate does it?"
Ocelot documentation says that it performs authentication but it doesn't correct?  It can only very that the user has already been authenticated.

Currently I'm using Ocelot to verify my external apps have been authenticated through Azure B2C.

The only reason I'm asking is that I'm about to make a presentation on Ocelot and I want to make sure I'm understanding this correctly when my boss asks me

[2018-10-21 16:43] TomPallister commented on #659
@skyflyer i think this is probably a bug, maybe when Ocelot does the rate limiting it isn't setting something required by the responder middleware.

[2018-10-21 16:45] TomPallister commented on #658
@skyflyer yeh i think I might be wrong. This probably should work the way you expect but I don't know why it doesnt :/ I will mark this as a bug and see if we can get a fix!

[2018-10-21 16:47] TomPallister commented on #653
@yilezhu yes this makes sense, do you want to submit a PR to fix this? I will mark this ticket as a bug to be looked at.

[2018-10-21 16:47] #652 closed

[2018-10-21 16:49] TomPallister commented on #661
@AbolfazlRajabpour at the moment Ocelot cannot do this you probably want to use GraphQL. Ocelot can integrate with GraphQL docs are [here](https://ocelot.readthedocs.io/en/latest/features/graphql.html) but you don't need to use Ocelot you could just use GraphQL with nginx in front of it would be my recommendation.

[2018-10-21 16:50] TomPallister commented on #662
@osmansonmez yes this makes sense I think, I would accept a PR for this but don't have time to do the work myself atm. I will mark this issue as a new feature.

[2018-10-21 16:53] TomPallister commented on #663
@stg609 I think that this should work but i guess it doesnt ;(

In LoadBalancerHouse line 31 there is logic to rebuild the load balancer if it doesnt match the name in the ReRoute. I guess this is a bug that will need looking at.

[2018-10-21 16:57] TomPallister commented on #664
@PKompis at the moment the only option you would have it use consul to store the Ocelot configuration and set it up for the config is shared correctly. Ocelot doesnt keep file configurations in sink (you could make something to do this, I tried using raft but havent had time to make it work properly).

A few people have asked for redis, databases etc but no one has added the feature yet as far as

[2018-10-21 16:57] TomPallister commented on #664
I will close this as a duplicate of #654

[2018-10-21 16:57] #664 closed

[2018-10-21 17:03] TomPallister commented on #667
@jlcarpenter delegating handlers have not been removed and that should work as far as I'm aware :/

All Ocelot does is call
[code]

Which delegates authorisation to your given key so I'm not sure if your error is Ocelot specific...does it work if you use the auth scheme in a non Ocelot project? E.g. authorize over a controller on normal web api?

[2018-10-21 17:04] TomPallister commented on #668
@ruimaciel someone has had this error before but I don't think we worked out why. I would suggest getting the Ocelot source code in your project and debugging it to see if you can work out why.

[2018-10-21 17:07] TomPallister commented on #669
@helzgate I dont really understand your question.

Ocelot calls

[code]

in AuthenticationMiddleware.cs this uses asp.net code to authenticate the given http context against the given authentication provider. The code has nothing to do with Ocelot. Ocleot just calls the asp.net authentication stuff. So Ocelot does authentication but nothing other than calling asp.net authentication code.

[2018-10-21 17:08] TomPallister opened #670 "fix security alert from github"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-10-22 14:41] gfelot commented on #638
Hi @hongwei7458 and @TomPallister.

I have the same issue.

@carloslozano solution is not working and `--link` is deprecated.
So I decided to use a bridged network `--network`.

This is how I launch my 2 dotnet projects

`Mock Service` (for testing) :
`docker build -t apigateway.mock . && docker run --rm -p 5100:5100 --network apigateway-net --env ASPNETCORE_URLS=http://0.0.0.0:5100 --env ASPNETCO

[2018-10-23 12:40] jducobu commented on #191
Is it possible to implements CORS by application using the file ocelot.json  ?

[2018-10-23 17:42] shirishgadre commented on #355
Tom,
I am having trouble setting up ID Server and Ocelot. Ocelot creates its own ID server path even if I tell it http://localhost:5000. My ID Server is running on that Port but I see Ocelot going to a different Port and using the /administration path in the URL. Here are the Logs from executing a GET on the first URL.

APIGateway>       Request starting HTTP/1.1 GET http://localhost:9000/api/cust

[2018-10-24 14:58] gfelot commented on #666
Yes I put the caching configuration for each route and it's working now.
But it cache the response only by the checking the url. On a POST if I modify the JSON body, Ocelot send me the last response.

[2018-10-24 15:01] shirishgadre commented on #355
Tom,
Does Ocelot support anything other than Bearer Tokens from Identity Server? For example Resource Owner or OpenID Connect? I did not see any examples on the site. Are they located elsewhere?

Thanks,
Shirish

[2018-10-26 12:59] jediwarpraptor commented on #471
@anktsrkr - are you doing anything with this?

[2018-10-27 09:20] ogomaemmanuel opened #673 "ArgumentOutOfRangeException"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature
![oceloterror](https://user-images.githubusercontent.com/5557095/47602066-ebb24d00-d9e1-11e8-82eb-eb6e29e71d53.PNG)
I keep getting argumentoutofrange exception in the newer version of Ocelot while using asp net core 2.1. Ealier version of the eg 5.3.0 with asp net core 2.0 have no problems, I need to use the websoc

[2018-10-29 15:51] victormartinsantiago opened #674 "Websocket not propagating close event"
## Expected Behavior / New Feature
When a socket is closed between ocelot and the destination service, the onclose event is not propagated from Ocelot to the client, so the client is never aware that the socket is no longer usable

## Actual Behavior / Motivation for New Feature

When the onclose event happens in Ocelot, the respective socket between Ocelot and the client should be closed as well

[2018-10-30 10:04] yamaritta commented on #357
Hello! I have a similar scenario. How I can deal with it?

[2018-10-31 13:45] helzgate opened #675 "Client Credentials"
Is there some way to generate and serve up client credentials from the Ocelot itself, or do I have to use an external identity provider for this?

[2018-11-02 03:32] cwbcheng opened #676 "Sometimes Health Check is Very Slow, or Throw Exception"
Halo!
Before reroute request to real service, Ocelot will request Consul's Health Check Api. Sometimes it is very slow, or throw exception like below.
When I can't recieve response, I request the realy health check url(http://localhost:8500/v1/health/service/WebApiServer?passing=1
), and it is work. I guess there is something wrong with the Health Check in Ocelot(ver 11.0.3, ver 12.0.1).

2018-11-

[2018-11-02 12:25] VenkateshSrini opened #677 "Is it possible to create long running workflow with Ocelot?"
Hi,

Is it possible to create long running workflow with Ocelot something like Azure Durable Function

Thanks and regards
Venkatesh

[2018-11-05 09:10] thiagoloureiro commented on #655
Guys any plan to release new Nuget Package ? I need urgently use dynamic routes and this is blocking me! Thanks a lot!

[2018-11-05 15:30] Loongle commented on #655
me too. @thiagoloureiro

[2018-11-05 22:41] kdrummond commented on #555
I am experiencing the same behavior reported by @davidni wrt item 1, running Ocelot v12.0.1.  I can see that the DownstreamRequest constructor sets Query = _request.RequestUri.Query, and ToHttpRequestMessage() and ToUri() both pass those values as-is to UriBuilder.  The issue is that the value carries the '?' as the first character, and per the MSDN quote David referenced above, this must be manua

[2018-11-06 18:06] rodineijf commented on #655
me too

[2018-11-07 12:36] dmitriifilonenko opened #678 "Wrong string representation of the List<T>"
In method Ocelot.Authorisation.Authorise(...):
if claims do not contain required value then an ErrorResponse will be created:

[code]
But values.Data is of type List<string>. So implicit convertation of values.Data to string gives _"System.Collections.Generic.List`1[System.String]"_ instead of sequence of items in the list like "Item1, Item2, Item3".

As a result I see the following error in the l

[2018-11-07 13:06] dmitriifilonenko opened #679 "Ocelot doesn't handle correctly RouteClaimsRequirement with a key as an Url"
While creating JWT for a user in my authentication service I use `System.Security.Claims.ClaimTypes` static class with defined string constants for various claims. So, `ClaimTypes.Role == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"`:
[code]
Then, when for some Route in **RouteClaimsRequirement** I write: `"http://schemas.microsoft.com/ws/2008/06/identity/claims/role" : "Admin"`

[2018-11-08 02:05] cwbcheng commented on #676
I've solved it.
![image](https://user-images.githubusercontent.com/34067983/48173106-63b33800-e33d-11e8-9db2-7b50385166a0.png)

{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/{url}",
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "/WebApiServer/{url}",
      "UpstreamHttpMethod": [ "Get", "Post" ],
      "ServiceName": "WebApiServer",
      "UseServiceDiscovery": tr

[2018-11-08 07:57] WeihanLi commented on #311
Is there a performance comparison with kong, zuul or other api gateway products?

[2018-11-08 08:18] WeihanLi opened #680 "Question: is there a trigger or hook to record rate limit info"
I wanna record the rate limit user ip or specific user info to the db when some user access my web illegally.
So is there a trigger or something I can use?
Or if I can use a custom service that implements `IRateLimitCounterHandler` to do this?

[2018-11-08 14:40] ChrisSwinchatt opened #681 "Handle some requests in the gateway (to support the Kubernetes liveness probe)"
Hi there,

I'm not sure if Ocelot can already do this, but I have an endpoint in my API gateway which is supposed to respond 200 whenever it gets a request, proving that the service is alive. We normally configure K8S to hit that endpoint every 30 seconds, but I can't find a way to do this with Ocelot. Any endpoint that doesn't match a reroute responds 404, and if you try to reroute it to itself,

[2018-11-08 19:41] robbihun opened #682 "Question: Deploying Multiple Instances Behind Load Balancer - Configuration API"
I would be glad to submit a PR to update the documentation with whatever the answer I get here is. We're planning on deploying Ocelot in a [multi-server configuration behind a load balancer](https://ocelot.readthedocs.io/en/latest/introduction/bigpicture.html#multiple-instances), I have a few questions about the ocelot.json configuration and updating through the administration API.

For our initia

[2018-11-09 09:33] ChrisSwinchatt commented on #681
@philproctor

Oh, that's neat. Thanks!

[2018-11-09 09:46] #681 closed

[2018-11-09 17:34] DominicCooke commented on #389
FWIW, I found that I was getting this error and thought that something was going wrong with my claims. However after implementing my own version of the ClaismAuthoriser so I could debug it - I found that the error message code was what was giving me that List.ToString() rubbish.

My error was that the list didn't contain my claim I was requiring, and not that the claims were in the wrong format.

[2018-11-10 11:45] lalocarbone commented on #360
Excellent and amazing work Tom. Need it too for a multi tenant scenario as well !!!!

[2018-11-10 20:55] AbolfazlRajabpour commented on #661
@TomPallister
any idea?

[2018-11-12 15:11] ChrisSwinchatt opened #683 "Ocelot crashes if there are same-named Catch-Alls e.g. `foo/{bar}/{bar}`"
## Expected Behavior

An informative exception which tells you you can't reuse catch-all names within a path.

## Actual Behavior

This exception, which doesn't tell you what is wrong and looks like a bug in Ocelot:

[code]

## Steps to Reproduce the Problem

  1. Create an ocelot.json which contains the following re-route:

[code]

  1. Tell Ocelot to load it
  1. Get the above exception

## Spec

[2018-11-12 23:30] Marusyk opened #684 "Doesn't reload config file in k8s"
I'm using k8s to deploy image with Ocelot. I need to change route configs without restart Ocelot. So, from docs I found that:
[code]
should work, but it doesn't.

## Steps to Reproduce the Problem

  1. Program.cs
[code]
  2. Create ConfigMap
[code]
  3. A part of my Deployment

[code]
  4. Run. Everything works. But now I need to change a route in configMap and apply
[code]
5. The mounted file is

[2018-11-14 10:37] Ivony opened #685 "why not return a IOcelotPipelineBuilder?"
https://github.com/ThreeMammals/Ocelot/blob/41d4f9c6dfa3069dc9035e2e82d0c46f7f08cf56/src/Ocelot/Middleware/Pipeline/IOcelotPipelineBuilder.cs#L12

[2018-11-15 01:44] U1171012527 opened #686 "ReRoutes has double //"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2018-11-15 01:44] #686 closed

[2018-11-15 01:44] U1171012527 commented on #686
mistake

[2018-11-15 01:57] Ivony opened #687 "How to Insert a middleware into the ocelot pipeline? it's implement as a branch. we need insert a middleware into exists pipeline. it's useful."
https://github.com/ThreeMammals/Ocelot/blob/41d4f9c6dfa3069dc9035e2e82d0c46f7f08cf56/src/Ocelot/Middleware/Pipeline/OcelotPipelineBuilderExtensions.cs#L174

[2018-11-15 01:58] U1171012527 opened #688 "reroute has to many //"
gateway:host 6007

[code]

post http://localhost:6007/Web/swagger.json
I want to http://localhost:6007/swagger.json

but reroute http://localhost:6007//swagger.json   and cause 404

how to do to get my expectation url  http://localhost:6007/swagger.json

[2018-11-16 04:34] yun738243875 opened #689 "Suggestion: Can add Circuit Breaker for any reroute, use http://steeltoe.io/docs/steeltoe-circuitbreaker/"

[2018-11-16 14:18] helzgate opened #690 "RouteClaimsRequirement conundrum"
## Expected Behavior / New Feature
RouteClaimsRequirement should work with IdentityServer4 + AddJwtBearer
or
IdentityServer4 + Action<IdentityServerAuthenticationOptions> should have token validated event

## Actual Behavior
Currently, when using IdentityServer4 you have to choose whether you want to use multiple roles along with RouteClaimsRequirement, or if you want to be able to capture additio

[2018-11-16 15:14] helzgate commented on #690
I can add the following to the bottom scheme shown above ("IDP2") but the events never get raised:

    Action<IdentityServerAuthenticationOptions> isoptions = o =>
            {
                //o.Authority = "https://intapi.smpcorp.com/testing/idp01/v1.0";
                o.Authority = $"{ Configuration["IDP:Authority"]}";
                o.ApiName = Configuration["IDP:ClientId"];

[2018-11-16 21:43] mariotacke opened #692 "Question: DownstreamHostAndPorts alias"
My team and I are test-driving Ocelot for a new project. We are wondering if it is possible to alias the `DownstreamHostAndPorts` somehow without having to repeat it for many endpoints. This is especially important to us when we think about overriding host and port per environment.

For example, for development purposes, we want to have Host and Port set to localhost and 5005, but for staging and

[2018-11-20 08:43] kvskranthikumar opened #693 "Cannot pass JSON array in AddHeadersToRequest"
## Expected Behavior / New Feature
I have the configuration for Ocelot as below -

{
            "DownstreamPathTemplate": "/api/v{version}/users",
            "DownstreamScheme": "http",
            "DownstreamHostAndPorts": [
                {
                    "Host": "localhost",
                    "Port": 7002
                }
            ],
            "UpstreamPathTemplate": "/v{version

[2018-11-20 14:24] bvkeersop opened #694 "Documentation for .NET Core 2.1 Authentication."
Hey all,

First of all, thanks for making this project! I'm sure all of you are busy.
This isn't a huge deal but it was a bit unclear for me. I followed the start up at for .NET Core 2.1: https://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html

When I tried to implement authentication, I did it in my startup file like in the documentation:
https://ocelot.readthedocs.io/en/latest/f

[2018-11-22 14:40] petargg commented on #238
Is it possible to provide example for configuration.json for stateful service

[2018-11-23 10:00] sbeckmann opened #695 "Streaming of request and response payloads"
Hi,
we tested ocelot in front of a dotnet core API for uploading files. The setup is WebApp (Razor Page) -> Ocelot -> API, each part running in its own linux docker container on Windows. Apparently, uploaded files are buffered entirely in memory in Ocelot before they are passed on to the backend. I recon responses are treated the same way, although we didn't test that yet. I couldn't find any conf

[2018-11-23 14:52] ricofritzsche commented on #655
Is there a new version? Have the same problem :(

[2018-11-23 17:00] REPRESSION opened #696 "Websocket reroute fails"
## Expected Behavior / New Feature
Client should be able to connect to microservice with WS through Ocelot

## Actual Behavior / Motivation for New Feature
WS doesn't stays open, microservice gets a connection event on the websocket, but everything stops working after that point. Direct connection between client and microservice is working.

ocelot.json:
[code]

server side logs :
[code]

[2018-11-23 17:32] etiennemtl opened #697 "Use a custom pipeline middleware implemented as a class instead of a delagate function."
## Expected Behavior / New Feature
Be able to create a custom middleware implemantation like:
[code]

## Actual Behavior / Motivation for New Feature
[code]

## Specifications

  - Version: 12.0.1
  - Platform: macos
  - Subsystem:

[2018-11-24 20:44] Marusyk commented on #684
any suggestions?

[2018-11-26 09:49] #689 closed

[2018-11-27 11:08] stephanonline opened #699 "Pass on QueryString from Upstream to Downstream"
## Expected Behavior / New Feature
I want to forward the queryString parameters passed on the original request to the downstream.

## Actual Behavior / Motivation for New Feature
When using the following configuration:
[code]
I want to pass on optional queryStrings as well.
So when navigating to:
http://localhost:6992/messaging/api/v1/messages?contractId=86
I want it to be passed on like:
http://l

[2018-11-28 20:57] #682 closed

[2018-11-29 00:32] davidni commented on #673
@ogomaemmanuel can you copy the full output of your `exception.ToString()`? The stack trace might help pinpoint where it's coming from.

[2018-11-29 00:37] davidni opened #701 "WebSockets broken on .NET framework (unhandled ArgumentException when setting outgoing headers)"
## Expected Behavior
Web Sockets support should work when running Ocelot under .NET Framework. It doesn't , due to a bug in .NET Framework (the bug doesn't occur in .NET Core).

## Actual Behavior
Web Socket connection fails to upgrade because an exception is unhandled while preparing the web socket client for the target service. Setting restricted headers such as `User-Agent` results in an `Argum

[2018-11-29 00:40] davidni commented on #701
Root cause (.NET Framework bug) is discussed here: [corefx/#26627](https://github.com/dotnet/corefx/issues/26627).

[2018-11-29 07:07] mickeygo commented on #655
The same problem，I have to downgrade from 12.0.1 version to 12.0.0

[2018-11-29 10:34] thiagoloureiro commented on #694
@bvkeersop  I have implemented authentication with JWT with .NET Core 2.1, I can help you with that and do a PR with this :)
In my repo I have it running, please check if is that you need.

https://github.com/thiagoloureiro/APIGatewayOcelot

[2018-11-29 11:07] thiagoloureiro commented on #670
Fixed here: https://github.com/ThreeMammals/Ocelot/pull/703

[2018-12-03 18:31] TomPallister opened #705 "Help wanted"
Hi Everyone,

You may have noticed that over the last few months I have not been responding to issues or merging PRs etc. The reason for this is that I have started a new job and it takes a **LOT** of my time. In addition to this my family circumstances are changing (good news!!) so I don't have the time to invest in Ocelot like I used to.

That being said I am hoping to do some work over the holi

[2018-12-04 00:01] geffzhang commented on #705
It's nice to see what you're saying good news, and although I'm busy too, I'd be happy to help you.

[2018-12-04 01:59] yangzhongke commented on #705
As, you may recall,I had donated Ocelot a few months before.https://github.com/ThreeMammals/Ocelot/issues/375
My profile as following:
1)I have been working using .Net framework for more than 8 years.
2)I have made the first online course of .net core  in China.
3)I have made a course of Ocelot and .net core microservice architecture in Chinese.Honestly,I haven't studied Ocelot in depth yet.

If I

[2018-12-04 20:33] TomPallister commented on #705
@geffzhang @yangzhongke I would love for you to help out! If I invite you to the Ocelot team will you accept?

[2018-12-05 01:35] yangzhongke commented on #705
@TomPallister  Sure,It would be better if you could continue to be the Leader of Ocelot,just like Linus be the Leader of Linux.Because you are the key man of Ocelot.

[2018-12-05 01:43] yangzhongke commented on #705
I have accepted the invitation，would you let me know what to do?

[2018-12-05 04:33] yangzhongke commented on #676
I have encountered this problem too,see https://bbs.rupeng.com/Post/Index/4100
I would try to solve it after I start to work in the team.

[2018-12-05 06:58] preddy4690 opened #706 "I get the error : Message "Method not found: 'FluentValidation.IRuleBuilderOptions`2<!0,!1> FluentValidation.IRuleBuilder`2.SetValidator(FluentValidation.IValidator`1<!1>)'." string"
I just got the latest version of Ocelot and I'm trying to use it.

I'm getting the error 👍
Message	"Method not found: 'FluentValidation.IRuleBuilderOptions`2<!0,!1> FluentValidation.IRuleBuilder`2.SetValidator(FluentValidation.IValidator`1<!1>)'.

What am I doing wrong?

Here's my ocelot.json file.

{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/{everything}",
      "DownstreamScheme":

[2018-12-05 08:44] dorgold opened #707 "Cache keys should take added query params into account"
## Expected Behavior
Cache entries should take new query params into account (when creating cache keys)

## Actual Behavior
Currently the output cache is using the following key:
`var downstreamUrlKey = $"{context.DownstreamRequest.Method}-{context.DownstreamRequest.OriginalString}";` [(Link to line)](https://github.com/ThreeMammals/Ocelot/blob/41d4f9c6dfa3069dc9035e2e82d0c46f7f08cf56/src/Ocelot/C

[2018-12-05 11:54] Stians92 commented on #679
I'm having this problem as well and was about to open a new issue before I found this one. I am using ClaimsIdentity.DefaultRoleClaimType.

`claims.AddRange((await this.userManager.GetRolesAsync(user)).Select(o => new Claim(ClaimsIdentity.DefaultRoleClaimType, o)));`

I have verified that my claim is working as intended by inspecting my token with https://jwt.io/.

Commenting to bring attention to

[2018-12-05 16:40] Stians92 commented on #679
After doing a lot of digging in the Ocelot code it looks like this isn't caused by Ocelot, but is a limitation in how Microsoft parses json files.

I also found this relevant issue on Stackoverflow: https://stackoverflow.com/questions/50788190/is-there-a-way-to-escape-colon-in-appsetting-json-dictionary-key-in-aspnetcore-c

[2018-12-05 18:48] renatodecampos opened #708 "With Network Proxy First time return Error 407"
## Expected Behavior / New Feature
Gateway should to return http 200

## Actual Behavior / Motivation for New Feature
In my company we've network proxy, and I setup my call with proxy in browser and when I do the first call, the ocelot returns 407, and when I do the second one it returns http 200 that I expected. See the log below.

--- Start Gateway Log ---
[code]
--- End Gateway Log ---

## Step

[2018-12-06 08:20] wtf-boy opened #709 "Setting QuotaExceededMessage is invalid"
## Expected Behavior / New Feature
Setting QuotaExceededMessage is invalid
"RateLimitOptions": {
        "EnableRateLimiting": true,
        "Period": "1s",
        "QuotaExceededMessage": "请求太多!!!",
        "PeriodTimespan": 1,
        "Limit": 1
      }
## Actual Behavior / Motivation for New Feature
return message is:
API calls quota exceeded! maximum admitted 1 per 1s.

## Steps to Reproduce t

[2018-12-06 08:46] przemekwojcik opened #710 "can't reach IdentityServer4 with Ocelot route"
Perhaps i'm doing something wrong, but i'm completely stuck and don't know how to resolve this problem.

## Expected Behavior / New Feature

i expect to reach to identityserver instance at desired url route defined in ocelot configuration file.

## Actual Behavior / Motivation for New Feature

We're building a bigger apps deployed to Kubernetes with Ingress in-front. I struggle a lot to make to ma

[2018-12-06 11:12] margaale commented on #705
Hey Tom, i would be glad to help you guys. I've contributed to ocelot in the past and i would love to continue doing it. I don't need to be on the team but take me into account for any task you want...
Thanks for your efforts to keep this project alive.

[2018-12-06 20:52] philproctor commented on #705
Hey Tom, I could also potentially help out. Although my time is somewhat limited, I've already written some extensions to Ocelot that we use internally at my company and was planning to contribute them back to the project (such as Redis caching and similar). I have a lot of ideas for the project and although I may not have the time to be a full time maintainer, I could potentially put in quite a f

[2018-12-07 00:13] anktsrkr commented on #705
Hi @TomPallister  would love to help!

[2018-12-07 09:35] renatodecampos commented on #708
I resolved my problem creating delegatin handler, but I don't know if I did the best solution.

///Program.cs
.ConfigureServices(s => {
                    s.AddOcelot()
                        .AddDelegatingHandler<ProxyHandler>(true)
                        .AddAdministration("/administration", "secret");
                })

public class ProxyHandler : DelegatingHandler {

///ProxyHandler.cs
pro

[2018-12-07 18:57] briansantura commented on #678
@dmitriifilonenko I have created a pull request for this issue.

[2018-12-08 19:35] Burgyn commented on #161
@TomPallister thank you for a great project.
For our  is very important to have a documentation for our API.

I've created a package that covers our scenarios [MMLib.SwaggerForOcelot](https://github.com/Burgyn/MMLib.SwaggerForOcelot).
The idea is as follows:
In the first step, it is necessary to define a Swagger generator in downstream services. Next, in the API Gateway project, we define SwaggerU

[2018-12-10 03:34] leechow007 opened #712 "Any suggestion for changing config runtime"
I plan to use RabbitMQ to receive the message  to change gateway config. I need update the config by itself microservice. From what I've seen, There are two ways  to reload config on change.
1. when recevied something new, update  ocelot.json file manually, then use the following code:
`config.AddJsonFile("ocelot.json", optional: false, reloadOnChange: true);`
2. via an HTTP API like this :
`AddAd

[2018-12-10 17:13] Stians92 commented on #706
This seems to be an issue with the newest versions of FluentValidation. I had this problem after updating my nuget packages. Downgrading FluentValidation to v7.6.105 should get you up and running while waiting for an updated version of Ocelot.

[2018-12-10 17:18] AbolfazlRajabpour commented on #705
I have accepted the invitation.

[2018-12-10 20:11] briansantura commented on #712
@leechow007 Simply adding `reloadOnChange: true` won't actually update the configuration unless you add the property to the IoC container.

Every configuration file specified gets loaded into `IConfigurationRoot`. You can do this in order to see the changes made to the configuration file in runtime.

`services.AddSingleton(_ => Configuration);`

Does this answer your question?

[2018-12-10 21:36] briansantura commented on #663
@stg609 Have you tried extracting the configurations out into `IConfigurationRoot`?

Something such as this.
`        public IConfigurationRoot Configuration { get; }

        public Startup(IHostingEnvironment environment)
        {
            var builder = new ConfigurationBuilder()
                .SetBasePath(Directory.GetCurrentDirectory())
                .AddJsonFile("ocelot.json", optiona

[2018-12-11 05:49] briansantura commented on #471
This is done. Here is the pull request for SchemaStore.
https://github.com/SchemaStore/schemastore/pull/595

[2018-12-11 07:08] briansantura commented on #684
@Marusyk Simply adding reloadOnChange: true won't actually update the configuration unless you add the property to the IoC container.

Every configuration file specified gets loaded into IConfigurationRoot. You can do this in order to see the changes made to the configuration file in runtime.

services.AddSingleton(_ => Configuration);

Does this answer your question?

[2018-12-11 07:14] briansantura commented on #684
Please also see https://github.com/ThreeMammals/Ocelot/issues/663

[2018-12-11 11:20] EdwinVanRooij opened #714 "Multipart/form-data is not rerouted (error 404)"
## Expected Behavior
A multipart/form-data http POST request is redirected to the desired endpoint.

## Actual Behavior
An error 404 - not found http response is given.

## Description
I won't include steps to reproduce the problem etc, because I'm pretty sure the feature is just not implemented (yet - or intentional).

## Question
Is rerouting a file upload using multipart/form-data desired funct

[2018-12-11 12:07] leechow007 commented on #712
Thank u so much!!!

I tried the first method, and its routing rules changed immediately while i manually modifed the ocelot.json file. So I guess maybe it works cause .netcore help me did what you said.

And the later method you mentioned, could you give me more details? I wanna to modify the settings, but it seems like I can only get the settings info and change nothing.

[2018-12-11 15:33] briansantura commented on #712
Glad I could help!

This document offers great insight into dependency injection in .netcore and the lifetime of each operation.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2#service-lifetimes

May I close this issue?

[2018-12-11 16:22] #471 closed

[2018-12-11 22:46] Marusyk commented on #684
@briansantura Thanks but it still not working when I change ConfigMap 😕

[2018-12-12 01:48] leechow007 commented on #712
Thanks a lot.
I'll try it.

[2018-12-12 04:40] #712 closed

[2018-12-12 13:48] LukasSefcik opened #716 "Aggregates response compressed"
## Expected Behavior
![ocelot_aggregation_encoding](https://user-images.githubusercontent.com/24602626/49872926-d3c04c80-fe1a-11e8-9996-518c776bb568.png)

## Actual Behavior

When using request aggregation we are getting response which looks like it's compressed two times.
First time is compressed whole response and second time is compressed content of each endpoint response.

When added `Accept-E

[2018-12-13 05:51] kinglionsoft commented on #684
/k8s

[2018-12-13 08:38] REPRESSION commented on #696
Solved my problem: I forgot to add    ``` app.UseWebSockets();``` to the gateway...

[2018-12-13 08:39] #696 closed

[2018-12-14 14:12] Rakiah opened #718 "Websocket authentication token"
Hello, I'm currently using the websocket proxying feature which is working correctly but I would require my system to run a bit of code to check for token validity and token existence, from what I understand this is not implemented, where should I start to implement this kind of feature myself, or is someone already working on something similar ?

I was planning to use a query parameter retrieved

[2018-12-14 22:01] preddy4690 commented on #706
Thank you. That worked!

[2018-12-16 15:15] azeebazy opened #719 "Dynamic downstream port assignment"
Is it possible to assign downstream port dynamically from the upstream url parameter

For example if I have two instance of same microservice (say ServiceA) running in port 4444 and 4323.
Is it possible to reroute a url (say http://-url-/ServiceA/{port} dynamically. I was looking something like

[code]

[2018-12-16 16:20] thiagoloureiro commented on #705
Im in! :)

[2018-12-16 23:43] anktsrkr commented on #719
Hi @azeebazy Thanks for reaching us! Your requirement is more about load balancing between two instances of same microservice, if yes then sure! you can do it using ocelot. I will suggest to check [Documentation](https://ocelot.readthedocs.io/en/latest/features/loadbalancer.html#load-balancer) for more details.
Please note, Ocelot Load balancer does not support dynamic port assignment like your ex

[2018-12-16 23:52] Marusyk commented on #684
what does it mean?

[2018-12-17 11:47] Stians92 commented on #706
I agree with dimitridaras. This issue should stay open and Ocelot should be updated to work with the newer versions of FluentValidation.

Keeping it open also makes it easier to find for anyone else who run into this issue.

[2018-12-17 11:48] anktsrkr commented on #719
Hi @azeebazy If I understand correctly, requested feature is not available yet. However we would like to know what's the purpose of passing port in the url? Isn't nice if you can configure it dynamically, something like this
[code]

[2018-12-17 11:59] preddy4690 commented on #706
Agreed. I'm reopening it until this issue is resolved.

[2018-12-17 13:02] Rakiah commented on #718
Merge request opened for this issue

[2018-12-17 13:59] FelixBoers opened #721 "Variable version in ServiceFabric service name"
## Expected Behavior / New Feature
It should be possible to have placeholders in ServiceFabric service names.

[code]

**Request**: GET http://gateway/api/1.0/products
**Internal**: GET http://localhost:19081/Service_1.0/Api/products

## Actual Behavior / Motivation for New Feature
Placeholders are not supported in ServiceFabric service names

[2018-12-17 14:18] NicolasPrivatViseo commented on #659
Hi all,

I am facing the same issue, I have an error in the logs when reaching the rate limit.
There is a `NullReferenceException `in the `SetResponseOnHttpContext` method of `Ocelot.Responder.HttpContextResponder` class. The `response`parameter is null.

Here is the stacktrace I got:

[code]
I guess the method should not be called when response is null (in the `Invoke` method of the `Ocelot.Respo

[2018-12-17 19:37] #650 closed

[2018-12-17 19:39] #701 closed

[2018-12-18 08:50] FelixBoers commented on #721
@TomPallister Should I create a pull request for a different branch in order to make a quick release possible? I'd love to see this feature available, soon :)
Thanks

[2018-12-18 11:01] azeebazy commented on #719
Thanks for the response. I guess I need  to change my design to meet my requirement. :)

[2018-12-18 11:01] #719 closed

[2018-12-18 17:24] SimantoR commented on #313
I'm wondering if this is possible programmatically? I need to be able to pass user id and I was thinking maybe I could plug it somewhere within Ocelot's pipeline to add name from Principle to the header before passing it downstream.

[2018-12-18 17:55] FelixBoers commented on #313
@SimantoR I'm not exactly sure if I'm understanding you right but I think this will get you there: https://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html

So I would suggest to write a DelegatingHandler which manipulates the downstream request and then calls the base handler.

As far as I know there is no direct whay for achieving this functionality.

[2018-12-19 09:03] KantJoe opened #723 "How can i design my own Authentication logic"
## Expected Behavior / New Feature
eventhought,i design my own authentication module and i prepare to use ocelot for our compay apidns gateway,but now for our company products are use custom way to do authentication logic,i hope u can help me to doing this.btw i found "JwtBearerEvents" this class on code,and can i use this for my code instead urs?

i mean i'd design couples module of authenticatio

[2018-12-20 19:25] fleed opened #725 "HealthChecks integration?"
Are there any "utility" methods to easily integrate health checks?

I would like to expose an "aggregated" health status that considers all the health status information coming from the services behind the gateway.

I would expect to configure the health endpoints in the ocelot configuration together with the routes.

[2018-12-20 19:29] ifyonyekpe opened #726 "Placeholder in DownstreamHostAndPorts"
Is it possible to achieve this with Ocelot?

Environment Variables
`ApiName` : `account`
`EnvironmentName` : `dev`

[code]

[2018-12-21 14:46] felpasl commented on #161
@Burgyn I submitted a PR to make a replace on swagger better with JObject.

@TomPallister On this aproach just make a new swagger downStream Based with rules on configuration.json is more easy to expose downStreamSwagger configuration. and easy to expose swaggerUI and capapacities of Gateway Services.

Sry for my poor english.

[2018-12-28 10:30] GlennArens commented on #693
i'm also interest in this.
I have a list of project in the claim which says which account is allowed to access which projects.

[2018-12-29 11:02] MartinCarpentier opened #729 "Support sticky sessions for ServiceDiscoveryProviders"
## Expected Behavior / New Feature
Support sticky sessions for ServiceDiscoveryProviders

## Actual Behavior / Motivation for New Feature
When using websockets with ocelot in a distributed system, problem can arise since ocelot, as far as i know, doesn't support sticky sessions when working with service discovery providers.

The functionality could be great if it worked with both consul and servic

[2018-12-30 04:44] redplane opened #730 "Redirect to gateway api"
## Expected Behavior / New Feature
When I make request to ocelot gateway, I want the request to be redirected to the api comes from controller in Ocelot.

## Actual Behavior / Motivation for New Feature
404 Not found returned.

## Steps to Reproduce the Problem

  1. Configure ocelot.json

[code]

  2. Make request to `http://localhost:51981/api/survey-gateway`

(http://localhost:51981/api/gateway

[2019-01-02 10:13] SamYuann opened #731 "Microsoft.AspNetCore.Server.Kestrel|Connection id "0HLJBPGDC9PUI" stopped"
I set QoSOptions TimeoutValue 60s: "QoSOptions": {
        "ExceptionsAllowedBeforeBreaking": 3,
        "DurationOfBreak": 5,
        "TimeoutValue": 60000
      }

And my respose complete with 33.78s,but webclient catch “gateway timeout”，this's ocelot  log：
2019-01-02 09:14:25.3196|2|INFO|Microsoft.AspNetCore.Hosting.Internal.WebHost|Request finished in 34134.0082ms 200 application/vnd.openxmlfo

[2019-01-02 20:08] margaale commented on #730
The request should be made to http://localhost/api/gateway/survey acording to your config...

[2019-01-02 21:30] philproctor commented on #730
Agreed with Margaale -- I think you are bypassing Ocelot and going directly to the downstream host unless there is something I am missing here.

[2019-01-02 21:35] philproctor commented on #723
Authentication is handled by ASP.NET, so you can easily customize your own authentication modules by setting up the modules there.

See here: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-2.2&tabs=visual-studio

The only thing you need to do to integrate is make sure the UseAuthentication() and similar modules are added before Ocelot.

[2019-01-02 21:35] #723 closed

[2019-01-03 04:56] redplane commented on #730
I tried, but got `NotFound` status.
Here is my postman request:

![not-found](https://user-images.githubusercontent.com/7974095/50624032-e11eb180-0f56-11e9-958c-87c3d8d48009.png)

And here is my output in **asp.net core**:

[code]

[2019-01-03 11:03] margaale commented on #730
Do not use por 51891 thas the API port, your gateway port is different, probably 80 if you didn't touch the defaults

[2019-01-03 12:15] MartinCarpentier commented on #729
It's true that sticky sessions are generally not favorable. But in some cases the underlying technology needs it. (Sadly)

If I understand your documentation correctly it's not supported. I might be mistaken though and if i am that would be great.

The reason why I would like sticky sessions is that we plan to use SignalR.
SignalR requires sticky sessions, so that the initial negotiations with the

[2019-01-03 15:22] margaale commented on #730
Wait, are you running your api and the gateway in the same app?

[2019-01-03 15:35] FerAguilarR93 opened #732 "Multiple ocelot.json configuration"
## Multiple ocelot.json configurations

## Steps to Reproduce the Problem

  1. have development, qa and production environments
  2. I am working with docker containers
  3. when I create a docker image i want that ocelot only take ocelo.{environment}.json depending on ASPNETCORE_ENVIRONMENT variable

Is there any way of doing this?... I tried with merging files but does not working because I hav

[2019-01-03 15:36] margaale commented on #730
Could you post your configuration file with all the routes?

[2019-01-03 15:39] redplane commented on #730
This is my **GateWayController.cs**

[code]

This is my **Startup.cs**

[code]

My **ocelot.json**

[code]

[2019-01-03 15:46] philproctor commented on #732
I have a module that I plan on pushing that will address this issue, but it is currently in progress. It will allow you to treat DownstreamHostAndPorts as a ServiceName instead and you can load the service hosts as an environment specific configuration. Until then, there are a couple of workarounds:

- Use DNS and make sure the DNS entries return environment specific servers
- Use DNS and pass in

[2019-01-03 16:40] #732 closed

[2019-01-03 16:58] margaale commented on #730
And program.cs please

[2019-01-03 20:51] margaale commented on #694
@bvkeersop I have something like
[code]
That way you can setup your services in the Startup class...

[2019-01-04 03:03] redplane commented on #730
Here you are, my **program.cs**

[code]

[2019-01-04 12:06] margaale commented on #730
Ohh. I see. Unless I'm mistaken this can't be achieved. Both Middlewares are final in the pipeline. @philproctor what do you think? Can we modify the code to allow ocelot call the next Middleware if the route isn't found in the configuration? Just an idea, I haven't inspect that part of the code yet

[2019-01-04 18:32] istvan2015 opened #733 "Question: Middleware injection ideas"
I have a question regarding middleware injection. I would need a simple way of injecting middleware (to be used as part of the configuration in Startup.cs of a simple ASP.NET Core Gateway). The purpose of the middleware would be to simply intercept and log information about the user that is attempting to access it.

Note: I do **not** intend to do this in a controller, hence mentioned doing it in

[2019-01-04 18:38] philproctor commented on #733
Two possibilities:

1. Implement an ASP.NET middleware that logs the request prior to passing to the Ocelot pipeline. This will catch all the requests before processing and you can log whatever you want there.
2. Use the OcelotPipelineConfiguration as you've mentioned above with something like the sample below.

[code]

[2019-01-04 19:14] philproctor commented on #730
No need for that -- the ordering is controlled by Configure() and ConfigureServices() in Startup.cs -- MVC will continue the pipeline if no controller handles the request. Ocelot is intended to be the last middleware in the chain.

@redplane your code will work if you move AddMvc() and UseMvc() to before AddOcelot() and UseOcelot() respectively in your Startup.cs

[2019-01-04 19:54] margaale commented on #730
You are absolutly correct. I was trying to achive that with nancy and was not able to... Sorry for the confusion.  Your startup.cs should look like:

    public class Startup
    {
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public IConfiguration Configuration { get; }

        // This method gets called by the runtim

[2019-01-04 20:30] sharpn commented on #684
In kubernetes a change to a config map isn't seen by any running pods until they are restarted, therefore updating it wont take effect until ocelot is restarted

[2019-01-04 22:55] philproctor commented on #730
Safe to close this issue?

[2019-01-05 00:16] margaale commented on #730
I would say so. But I was waiting for his confirmation

On Fri, Jan 4, 2019, 19:55 Phil Proctor <notifications@github.com wrote:

[2019-01-06 09:56] raime910 commented on #357
Any update on this one? I have a similar issue where I can't reach my downstream host due to invalid cert returning "The remote certificate is invalid according to the validation procedure"

[code]

certificate.json
[code]

[2019-01-07 05:35] raime910 opened #735 "Redirects browser to downstreamhost url"
I am setting up a gateway for my microservice using docker, my image names are pim.services.<name>. And I could not figure out why my browser redirects me to the downstream url that I have in my config.

It takes me to "https://pim.services.patient.api:44302/api/routes/list" when I try to load https://localhost:44300/p/routes/list? What am I missing here?

in my Program.cs I have

[code]

and in m

[2019-01-07 14:43] sharpn commented on #663
please see my comment on https://github.com/ThreeMammals/Ocelot/issues/684#issuecomment-451559874

[2019-01-07 19:22] walterfranssen opened #736 "Is there any support for basic authentication?"
Is there any support for basic authentication? and is there an example for it?

[2019-01-07 21:03] TomPallister commented on #655
available in version 13.0.0 on nuget

[2019-01-07 21:03] #655 closed

[2019-01-08 04:10] philproctor commented on #736
Ocelot will work with any .NET Core authentication, just add the authentication to your .NET Core Pipeline before Ocelot and refer to the scheme in your reroute. Something like this would work: http://jasonwatmore.com/post/2018/09/08/aspnet-core-21-basic-authentication-tutorial-with-example-api#users-controller-cs

[2019-01-08 04:10] #736 closed

[2019-01-08 04:23] philproctor opened #737 "Proposal: Pluggable route variables"
## New Feature
Downstream route variables could pull from a pluggable architecture. I have implemented a similar mechanism in our companies usage of Ocelot, where downstream variables could be of the format {claim->UserID} to replace a variable with the first UserID claim and similar for request headers, cookies, and other variables. It also allows operations such as concatenating variables or sim

[2019-01-08 04:31] philproctor opened #738 "Configuration for use by extensions, custom pipelines, or other extensions"
## New Feature
Add some container for storing configuration values into the configuration container into both the GlobalConfiguration and into the individual ReRoute configurations. Additionally, the creator methods for reroutes and possibly other configurations (such as service discovery) should have hooks that provide a mechanism for reloading these configurations on configuration change and add

[2019-01-08 04:44] philproctor opened #739 "Proposal: Authorize routes based off of variable matching"
## Expected Behavior / New Feature
Authorize routes based off some variable from the request, including those from #737

## Motivation for New Feature
If route claim authorizations allowed authorization based off of some upstream route variable, when combined with #737, a request can check for a claim for the specified resource before ensuring that the request is routed. This allows greater flexib

[2019-01-08 04:50] philproctor opened #740 "Enhancement: Allow a reroute to specify more than one authentication scheme"
##  New Feature
Allow a reroute to specify more than one authentication scheme for a reroute.  Specification could either be JSON array or comma separated.

## Motivation for New Feature
Sometimes more than one authentication scheme may be allowed for an API (e.g. JWT + Client Certificates). This feature would allow more than one scheme to be use on a single reroute eithout requiring a custom over

[2019-01-08 08:41] narcis-pv commented on #706
This was fixed in the current code base, but it requires to publish a new nuget.

[2019-01-08 20:16] philproctor commented on #735
You are using app.UseHttpsRedirection(); on the service behind, but you have downstream scheme set to HTTP, so the service is trying to redirect the HTTP request to HTTPS, but the location header is not being rewritten on the redirect.

[2019-01-09 03:31] philproctor commented on #707
I would approve this, seems to be an oversight to not cache the query params with the key

[2019-01-09 14:46] nurhat opened #741 "output caching issue"
Hi,
An endpoint with caching enabled caches output even if downstream request returns anything other than httpstatus code with 200. Is it by design, or a bug?

[2019-01-09 15:41] philproctor commented on #741
@nurhat is this happening with 4xx and 5xx requests? Success isn't 200 only.

If so, it sounds like a bug to me -- @TomPallister is there something I'm missing as to why non-success would still be cached?

[2019-01-09 15:54] nurhat commented on #741
@philproctor  yes,  if you check OutputCacheMiddleware.cs line 55, it does not check http status code. Caching only disabled when http request fails with exception.

[2019-01-09 16:34] philproctor commented on #741
Got it -- I'll keep this open as a bug.

[2019-01-09 17:11] margaale commented on #741
I think this was intentional and i wouldn't call it a bug. Why, for example, wouldn't you cache a 404 response if the api behind is telling you that the resource doesn't exist?

[2019-01-09 19:09] philproctor commented on #741
404 is a response type that might make sense to cache, but there's also a lot of other 4xx and 5xx responses that don't make sense to cache. Pretty much anything in the 5xx series shouldn't be cached, and some 4xx responses may be made due to current state of the services or similar.

Perhaps if response is not .IsSuccessStatusCode(), we should check against a configured whitelist of cacheable res

[2019-01-09 19:21] margaale commented on #741
Yep, it was just an example. You mean configured by the user?

[2019-01-09 19:33] philproctor commented on #733
Closing this issue, please re-open if my response did not resolve the problem.

[2019-01-09 19:33] #733 closed

[2019-01-09 19:36] margaale commented on #741
mmmm, i don't like that. What if someone wants to disable one code for a downstream but not for another?

[2019-01-09 21:36] philproctor commented on #735
Closing this for now, reopen if my answer did not address the issue.

[2019-01-09 21:36] #735 closed

[2019-01-09 22:18] philproctor commented on #710
Any updates on this? Sorry for the slow response.

I don't see anything obvious from what you've posted here or with the sample code, though I do see you've made some changes since raising this issue.

[2019-01-09 22:45] philproctor opened #742 "Developer Contribution Documentation"
## Expected Behavior / New Feature
Need to update documentation for contribution/development guidelines and criteria. Also need to add information on Linux builds.

## Actual Behavior / Motivation for New Feature
Existing documentation is pretty basic.

[2019-01-09 22:59] margaale commented on #741
Ohhhhhh that's better, but I think it's going to be kinda painful to declare all the routes explicitly. Maybe some global whitelist configuration with exceptions per route would be easier

[2019-01-10 00:16] philproctor commented on #666
That last part looks like a bug to me, converting this issue.

[2019-01-10 00:21] philproctor commented on #667
#740 will resolve this.

[2019-01-10 00:21] #667 closed

[2019-01-10 00:42] #669 closed

[2019-01-10 09:55] sharpn commented on #684
seen the note about subpaths here https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap#mounted-configmaps-are-updated-automatically

[2019-01-10 12:09] margaale commented on #738
I really like this feature

[2019-01-10 14:04] philproctor commented on #684
Thanks for the info @sharpn I will close this issue now.

[2019-01-10 14:04] #684 closed

[2019-01-10 14:07] philproctor commented on #663
Closing for the same reason as #684 , if this is a mistake please reopen

[2019-01-10 14:07] #663 closed

[2019-01-10 14:14] philproctor commented on #738
@margaale Any ideas as to what that configuration container should look like? That's where I'm a bit unsure as we need some way of providing a JSON Scheme onto FileConfiguration.

My initial thought is it would be a Dictionary<string, Dictionary<string, object>> and the "extension" would receive the Dictionary<string, object> from the key that matches the extension name. So it would be something l

[2019-01-10 17:05] margaale commented on #738
That would be my first choice too, but probably we could Json.Deserialize the configuration into an user defined class

[2019-01-10 18:07] philproctor commented on #738
The ASP.NET configuration used doesn't allow that out of the box without defining the structure up front, that I'm aware of. I think in order to do that we'd have to implement our own way of loading the configuration from disk instead of relying on ASP.NET's

[2019-01-10 20:06] philproctor commented on #738
In OcelotMiddlewareExtensions.cs we have this:

[code]

As you can see, it's already been noted that config could be made from the filesystem. If we did that instead, we could deserialize into a JObject easily and allow extensions to define their own configuration structured.

However, this comes with at least two costs... Cons to this approach are:

- We would have to implement our own file chang

[2019-01-10 21:50] margaale commented on #738
I know that part of the code, the optionmonitor was my contribution :-)
There's is an administration API where you are able to modify the
configuration and save it to the filesystem.
We can load the configuration as your original idea and then add an extra
layer where we transform it to the desired class.
I don't want that the extension have to use the options extension. They
would have to use tha

[2019-01-11 14:17] philproctor commented on #738
I'm leaning towards providing the Dictionary with options, at least with the initial implementation. Perhaps we could allow some further customization in an update, but doing it with the Dictionary requires the least amount of disruption with the current configuration system.

The transform layer would be difficult for any configuration that is not flat, we would need to reload the raw configurati

[2019-01-11 17:39] philproctor commented on #738
Sounds good, I'll start work on this one soon. I'll probably also pick up #737 as I have found that one would resolve a number of other issues/requests in the backlog.

[2019-01-11 17:40] philproctor commented on #741
I agree on the global + per route

[2019-01-12 19:08] lokeshbrahmvar opened #744 "Unable to find downstream route for path: /, verb"
Hello,

I am new in Ocelot & IdentityServer.
I am using .NET core API & using Identityserver4.  I am getting below exception. Can you help me to fix it? The API is depoyed as Azure App service. Please let me know if you need more information on it.
[code]

Below is **ocelot.iis.json**
[code]

[2019-01-13 12:09] TomPallister commented on #740
@philproctor can you already do this when you provide the authentication scheme to .NET? E.g. you provide a scheme with a key that works with JWT + Client Certificates? If not I would say this is more something the .NET authentication world should support? Not something we should look to add to Ocelot?

[2019-01-13 12:15] TomPallister commented on #739
@philproctor I think the approach to take here would be integrate whatever .NET provides for authorisation into Ocelot in a nice way. At the moment I have written some custom logic that just checks claims against a list from the config. We probably need to think more holistically. Integrating with .NET and allowing users to provide whatever schemes for authorisation in the standard format would be

[2019-01-13 12:17] TomPallister commented on #738
This is interesting, I am not really clear what problem it is solving in my head or what it would look like though!

[2019-01-13 12:19] TomPallister commented on #737
@philproctor this is a great feature.

My only comment is that Ocelot already has a bunch of request manipulation / transform capabilities..and these are all a bit disperate and hacky. It might be a good idea to pull them all together so the code is clear and concise but maybe that is a larger refactor than what you are planning.

Also make sure no acceptance tests break as I guess you will deffo

[2019-01-13 12:39] TomPallister commented on #706
released in 13.0.0

[2019-01-13 12:39] #706 closed

[2019-01-13 12:39] TomPallister commented on #670
released in 13.0.0

[2019-01-13 12:39] #670 closed

[2019-01-14 16:30] Stians92 opened #746 "Multiple values for single key in RouteClaimsRequirement"
##  New Feature
Allow claims to have an array value and not just a string value.

##  Motivation for New Feature
I have an application where I have multiple roles for my users. For endpoints that should **only** be reached by admins, I can use the following:

[code]
For endpoints that should **only** be reached by users, I can use the following:

[code]

For endpoints that should be reached by **b

[2019-01-14 18:06] nagybalint001 opened #747 "Query params start with ??"
## Expected Behavior / New Feature
Query params should not start with double question marks

## Actual Behavior / Motivation for New Feature
The same bug (and a solution) is mentioned in this issue: https://github.com/ThreeMammals/Ocelot/issues/555#issuecomment-436063081

Now the downstream request contains an extra question mark, which causes unexpected behaviour on the backend server, because th

[2019-01-14 19:42] satano opened #748 "Empty placeholders: Failed to match Route configuration for upstream path"
## Expected Behavior

Match upstream path with empty placeholder and map it correctly to downstream.

## Actual Behavior / Motivation for New Feature

Upstream path with placeholder is not working as expected when placeholder is empty. It fails with error:

```UnableToFindDownstreamRouteError Message: Failed to match ReRoute configuration for upstream path: /test```

## Steps to Reproduce the Prob

[2019-01-14 21:09] margaale commented on #748
I always thought that it was designed to work this way, let's see if we can get some clarification...

[2019-01-14 22:05] davidni opened #749 "Bad error handling for IOException while reading incoming request body"
## Expected Behavior

If an `IOException` happens while reading the incoming request body (in `RequestMapper.MapContent` [here](https://github.com/ThreeMammals/Ocelot/blob/02e5cea7b1bdd3d78cfe1a5bb688383f54a809fc/src/Ocelot/Request/Mapper/RequestMapper.cs#L24)), Ocelot fails the request with an `UnmappableRequestError` and status code 404.

404 is not appropriate, and the error logged by ocelot sh

[2019-01-15 15:40] ChrisSwinchatt commented on #673
@davidni @philproctor

I've just gotten the same error. Here's the full exception details:

[code]

This was triggered after updating a K8S configmap and restarting the pod (POSTing to the administration API didn't trigger it; in fact it didn't seem to do anything despite returning a 200 response). There doesn't appear to be anything wrong with the config. (I can't post it here because it's 2000 l

[2019-01-15 15:41] ChrisSwinchatt commented on #673
@davidni @philproctor

I've just gotten the same error. Here's the full exception details:

[code]

This was triggered after updating a K8S configmap and restarting the pod (POSTing to the administration API didn't trigger it; in fact it didn't seem to do anything despite returning a 200 response). There doesn't appear to be anything wrong with the config. (I can't post it here because it's 2000 l

[2019-01-15 16:06] ChrisSwinchatt opened #750 "Configure reroutes at runtime"
## New Feature

It would be useful if we could generate reroutes configuration at runtime. It seems like it would be fairly simple to expose Ocelot's internal API. It's already possible to create reroutes, but there is no exposed way to pass them to Ocelot. Ocelot is able to update its configuration dynamically (currently as a hack it's possible for a gateway to generate a new configuration and PO

[2019-01-15 21:14] rwestonbutler opened #751 "Question: Access Ocelot config outside of Ocelot pipeline"
Is there a way to access the strongly typed Ocelot configuration from outside of the Ocelot pipeline in a delegating handler or middleware, maybe have it injected via DI?

I've run into a situation where I need to grab a config value based on a part of the upstream path.

[2019-01-15 21:16] margaale commented on #751
We have the issue #738 exactly for that, is gonna take a while though...

[2019-01-15 21:19] rwestonbutler commented on #751
Gotcha, thank you!

[2019-01-16 04:41] miqh opened #753 "Path template configuration with regular expressions"
Hello,

I went through the [documentation page on routing][1] and didn't notice any mention for using regular expressions in path template properties.

After haphazardly experimenting with different expressions for `UpstreamPathTemplate`, I noticed a simple expression like `(.+)` appeared to be able to match against input, but I couldn't figure out whether the captured group could be used in `Down

[2019-01-16 10:16] ChrisSwinchatt opened #754 "Match catch-all file extension in upstream path template"
## Expected Behavior

When using a reroute like the following:

[code]

Ocelot should forward a request such as `/foo/bar.json` to `foo.svc/bar.json`

## Actual Behavior

Ocelot forwards the request to `foo.svc/bar.json.json`

Log:
[code]

## Steps to Reproduce the Problem

  1. Have a reroute like `/foo/{bar}.json`
  2. Try to access it
  3. Get a 400 and the downstream service logs a message lik

[2019-01-16 10:32] ChrisSwinchatt commented on #754
Going to try to fix this myself.

[2019-01-16 14:07] philproctor commented on #753
This will be resolved as part of my work on https://github.com/ThreeMammals/Ocelot/issues/737

Currently regex will work in the path, but the capture groups cannot be sent to the downstream. After this work, this will be possible.

[2019-01-16 14:13] philproctor commented on #754
@ChrisSwinchatt I believe my in progress work on #737 already resolves this. I will add this test before merge to verify before I merge it in.

[2019-01-16 14:18] philproctor commented on #748
#737 changes the way the matching templates are created and used, I did not change this behavior as it appeared to be by design. A few days ago I tried having the catch all catch 0 or more if it's the last segment of the pattern, but this caused some acceptance tests to fail which were explicitly verifying that did not happen. As such, I believe this is an intended behavior, but I think as part of

[2019-01-16 19:14] ChrisSwinchatt commented on #754
Alright, I did some work on it today and wrote a few more tests. I’ll add the rest of them because there are some gotchas that my first attempt didn’t handle.

[2019-01-16 21:17] rwestonbutler commented on #659
FWIW, I'm getting a similar exception when trying to return an Unauthorized HttpResponseMessage from a delegating handler.

**Code:**
[code]

[2019-01-16 23:42] miqh commented on #753
@philproctor, that's great to hear! Thanks for the update. :raised_hands:

[2019-01-18 08:42] barron9 opened #755 "web site tutorial for ocelot/consul not working"
web site tutorial for ocelot/consul not working

Consul The first thing you need to do is install the NuGet package that provides Consul support in Ocelot.

Install-Package Ocelot.Provider.Consul
Then add the following to your ConfigureServices method.

s.AddOcelot()
    .AddConsul();
https://ocelot.readthedocs.io/en/latest/features/servicediscovery.html

Severity	Code	Description	Project	File	Lin

[2019-01-18 08:53] thiagoloureiro commented on #755
Baron, can you check in my repo is  there is any difference that you're trying to do ?

https://github.com/thiagoloureiro/APIGatewayOcelot

I have Consul implemented, but anyway I will try the tutorial.

[2019-01-18 09:10] #755 closed

[2019-01-18 09:39] barron9 commented on #755
yes unfortunately my conf is not showing up on consol ui

{
    "ReRoutes": [
        {
            "DownstreamPathTemplate": "/api/values",
            "DownstreamScheme": "http",
            "DownstreamHostAndPorts": [
                    {
                        "Host": "localhost",
                        "Port": 5002
                    }
                ],
            "UpstreamPathTemplate"

[2019-01-18 14:12] nagybalint001 commented on #747
### More info about the bug:

It seems to me that there is difference between the .NET Framework and .NET Standard/Core behavior.

If I host the application over .NET Framework, the UriBuilder will append an extra question mark, but over .NET Core this will not happen (if you remove the leading question mark from the query, it will also give the correct Uri, so in the .NET Core case the leading qu

[2019-01-18 21:38] k-u-s commented on #357
Hi. I have created to branches that targets this issue. First:
https://github.com/k-u-s/Ocelot/tree/feature/primary_http_client_handler_basic
This just wrapps new HttpClientHandler() in interface that can by then raplaced in DI
And second:
https://github.com/k-u-s/Ocelot/tree/feature/primary_http_client_handler_basic
That allows to register functions that returns HttpClientHandler under key and th

[2019-01-21 10:00] pjjwpc opened #757 "Errors when using MapWhenOcelotPipeline"
## Steps to Reproduce the Problem

  `app.UseOcelot(r=>r.MapWhenOcelotPipeline.Add(s=> { s.UseMiddleware<xxxxxMiddleware>();return t => true; `})).Wait();`
  error Object reference not set to an instance of an object.  DownstreamResponse is null.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2019-01-21 10:19] mrauter opened #758 "Service discovery/Dynamic routing with dynamic DownstreamScheme"
Nice project!

Question: We use Consul and "Dynamic routing" as described in https://ocelot.readthedocs.io/en/latest/features/servicediscovery.html#dynamic-routing

It seems not possible to have different "DownstreamScheme" for different services. For example service1 = "https" and service2 = "ws" if dynamic routing is used. So I would need to change the configuration to manually defined ReRoutes

[2019-01-22 16:27] TechnicalFreak opened #759 "Docker-Compose scale not working"
## Expected Behavior / New Feature
Ocelot should allow "loadbalancing" in docker-compose and not redirect to the same container for a long time.

How I solved it locally:
I copied the "ClientHttpRequester" and the "HttpClientBuilder" in my project, gave them new names and replaced the interfaces in the servicecontainer.

In my "HttpClientBuilder" I deleted the content of the Save() Method.

## Act

[2019-01-25 02:45] redplane opened #760 "Dynamic routing with request body supported ?"
## Expected Behavior / New Feature
**New feature**

## Actual Behavior / Motivation for New Feature
I have read [Ocelot dynamic routing](https://ocelot.readthedocs.io/en/latest/features/routing.html).
So far, I don't see any documents about passing request body from **Upstream** to **Downstream** with **POST** or **PUT** method.

### Current implementation:

[code]

I have to pass parameter throug

[2019-01-25 05:15] redplane commented on #760
Sorry for misconfigured the ocelot.
I have tested the dynamic routing and it can help me to pass the body.

[2019-01-25 05:15] #760 closed

[2019-01-25 08:23] redplane opened #761 "Ocelot aggregate interceptor"
## New Feature
## Motivation for New Feature

Let say, I have 2 micro services, called as **CustomerMicroService** and **OrderMicroService**
**CustomerMicroService** is in charge of managing customer information.
**OrderMicroService** manages orders that a customer has made.

Let me talk about 2 api end-point from **Customer** micro-service and **Order** micro service first.

### api/customer/sear

[2019-01-25 08:44] ipbharaj opened #762 "Post with large binary file throws net::ERR_SPDY_STREAM_CLOSED error."
## Expected Behavior
I have a REST API which accepts post call and uploads the binary file into data base, which is hosted in IIS
I set up Ocelot API Gateway with basic configurations:
[code]
It should complete my request as it is doing if I call the Upload API directly.

## Actual Behavior

When calling through Api gate way it gives net::ERR_SPDY_STREAM_CLOSED error if the file size is anything m

[2019-01-28 11:57] unosbaghaie opened #769 "Log any exception that occurs in Upstreams"
Hi
How can I log any exception that occurs in Upstreams ?

[2019-01-28 20:07] lokeshbrahmvar opened #770 "After login it redirect to 404-Not found"
## Expected Behavior / New Feature
It should redirect to correct page (dashboard page)

## Actual Behavior / Motivation for New Feature
It is showing 404 - File or directory not found.

## Steps to Reproduce the Problem

  1.Login using correct user name and password
  2.Logout
  3.Login again

When I am trying to login again it redirect to - 404 - File or directory not found. And I can see very l

[2019-01-29 03:47] AugustCai opened #771 "no QosHandler found in DI container"
## Expected Behavior
Because gateway requests will be timed out in more than 100 seconds, i want to set the timeout time so that requests do not report errors.

## Actual Behavior
ReRoute Ocelot.Values.UpstreamPathTemplate specifies use QoS but no QosHandler found in DI container. Will use not use a QosHandler, please check your setup!

## Steps to Reproduce the Problem

1. Install Ocelot.Provider

[2019-01-29 15:45] ioritzalberdi opened #773 "Use of non ASCII characters in the header"
## Expected Behavior

Use of non ASCII characters in the header of a http request, for example ñ.

## Actual Behavior

I’m getting these exceptions:

**HttpRequesterMiddleware**

      warn: Ocelot.Requester.Middleware.HttpRequesterMiddleware[0]

      requestId: 0HLK5V6HTDSH7:00000001, previousRequestId: no previous request id, message: Error making http request, exception: System.Net.Http.HttpRe

[2019-01-29 16:13] kKen94 opened #774 "Automatic Host Detect"
Is it possible to have something like this?
[code]
I have a microservices application and i have to install this application on my customers' servers.
On IIS microservices are application under an unique site.
I would like that in downstreamhostandport the gateway recognize automatically the host, to avoid specifying the host name for each customer

[2019-01-30 09:38] margaale commented on #773
This has nothing to do with ocelot, the http standard defines that only ASCII characters are valid in the headers. Closing.

[2019-01-30 09:38] #773 closed

[2019-01-30 12:15] jurgi commented on #773
Are you sure it only supports ASCII?

The HTTP header field values may contain characters other than ASCII characters:
https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2
https://www.w3.org/Protocols/rfc2616/rfc2616-sec2.html#sec2.2

[2019-01-30 14:14] margaale commented on #773
Maybe the standard leaves a door open for anothers encoding, but as the exception says, net core only allows headers encoded as ascii. Until they don't change the framework we can't do anything from our side. Sorry

[2019-02-01 02:35] geffzhang opened #775 "I created a project that brings together Ocelot related resources"
I created a project that brings together Ocelot related resources ：https://github.com/geffzhang/awesome-ocelot

[2019-02-01 06:53] redplane commented on #761
Hello?

[2019-02-01 09:15] AbolfazlRajabpour commented on #761
hi @redplane
I have a PR #704 and wait to b confirmed by other team. this PR solve your requirement.

@philproctor  @TomPallister

[2019-02-05 00:26] allanchua101 opened #777 "[Question] Support for Swagger.yml"
## Expected Behavior / New Feature

Hi, this is more of a question and not a bug, does Ocelot support YAML files instead of JSON for Swagger configuration?

[2019-02-06 09:23] Kaffeekaethe opened #779 "Ocelot returning 307 instead of rerouting the request"
## Prerequisites / Expected Behavior

Running a frontend based on VueJS / TypeScript in Chrome and sending a GET-Request with an Authentication header set to a token. Thus, Chromse sends an OPTIONS-Request, retaining that the Authentication header is allowed, and then sends the GET-Request. I except that GET-Request to be forwarded the same way.

## Actual Behavior

Instead of rerouting the Reques

[2019-02-06 18:30] williamwsmith opened #781 "Add URL/Request/Response rewriting to ocelot config"
## New Feature
Leverage aspnet core rewrite middle ware components to get re-writing of requests (and responses).
Both IIS and modrewrite styles are supported in aspnet core.  The internal rewrite rules
can be supported directly in the ocelot configs upstream  and downstream sections.
The actual aspnet middleware does not need to be used, just the classes responsibile for
parsing the rules languag

[2019-02-07 02:16] rajput81 opened #782 "High availability?"
##  High availability out of box feature??

## Current load balancing does not validate for dead/unavailable hosts unless i am missing some configuration. I have defined multiple hosts and if one of those hosts are down - the request still gets routed to the dead host raising an exception.

## Steps to Reproduce the Problem

  1.  Define multiple downstream hosts and ports under Reroute config as:

[2019-02-07 04:47] chuaxiangjie commented on #668
I encountered the duplicate reroute error while starting the application. It turns out that the code to add OceletServices was called once in Program.cs and another in Startup.cs. Removed the redundant code in Startup.cs and it works fine.

[2019-02-07 09:24] thiagoloureiro commented on #782
AFAIK there is no checks for this, what I do in my scenario I use Consul for service discovery and then when the service is unhealthy is automatically unregistered and Ocelot will not hit anymore :)

[2019-02-07 13:07] stefankip opened #783 "AddOcelot writes to wrong directory with IIS and InProcess hostingModel"
I've recently updated a ASP.NET Core project to v2.2.1 and I'm using IIS with the `hostingModel` set to `InProcess`.
The problem is with the AddOcelot method, to be precise this line:
`File.WriteAllText("ocelot.json", json);` (https://github.com/EdwinVW/Ocelot/blob/develop/src/Ocelot/DependencyInjection/ConfigurationBuilderExtensions.cs#L72)
The CurrentDirectory is set to the `inetserv` folder, in

[2019-02-10 10:38] xxsybreedxx commented on #706
Any updates here? Ocelot v13 still has a reference to FluentValidation 7.6.

[2019-02-11 15:02] stefankip commented on #356
Any updates regarding this?

[2019-02-12 09:21] redplane commented on #761
Any release for this ?
For now, the latest release I have seen is `13.0.0`

[2019-02-12 09:28] thiagoloureiro commented on #761
@AbolfazlRajabpour @redplane  your PR was already merged, what needs to be done it's release a new nuget package, I'll ping @TomPallister  to release new version :)

[2019-02-12 09:30] redplane commented on #761
Thank you for you reply.
I'm waiting for that release, coz my project needs that function :)

[2019-02-12 22:47] wrakocy opened #784 "Support for .Net Core 2.2"
Hi all,

Wondering if someone could provide guidance regards to future support for .Net Core 2.2.

Cheers!

[2019-02-13 00:24] geffzhang commented on #784
Ocelot is an net standard 2.0 library， It support .NET Core 2.2

[2019-02-13 02:22] thiagoloureiro commented on #784
What the issue with .net core 2.2 and Ocelot? Please clarify

[2019-02-13 17:31] wrakocy commented on #784
@thiagoloureiro, yes, fair enough. We're in the process of migrating from .Net Core 2.1 to 2.2 and have been plagued by an intractable "ANCM In-Process Handler Load Failure" on a single assembly - our Ocelot-driven gateway (which runs perfectly on 2.1). As the gateway is extremely light weight, and all other assemblies load fine within 2.2, I had attributed the problem to an Ocelot-related conflic

[2019-02-13 23:31] geffzhang commented on #784
This should be a read config problem caused by changes in the ANCM process model？ @wrakocy

[2019-02-14 06:17] yuft commented on #784
@wrakocy , I believe it is not relevant to Ocelot.
Did you take a look at https://github.com/aspnet/AspNetCore/issues/6111#issuecomment-451294361

make sure you have modified web.config to use AspNetCoreModuleV2 and you may find useful information in windows event logs.

[2019-02-14 14:46] #782 closed

[2019-02-14 19:17] wrakocy commented on #784
@yuft yes, thanks for the pointer. I had read that thread (and various others) regards to web.config changes, windows event log clues, etc. None of them have panned out. That said, I suspect the consensus on this thread is correct: this problem is not specific to Ocelot. If I find otherwise, I will update the thread. Cheers all!

[2019-02-14 20:19] wrakocy commented on #784
just to confirm, we've sorted this out. yes, Ocelot had absolutely nothing to do with it :/ root cause was a runtime versioning issue (we had 2.2.1 installed and 2.2.2 was required to get ANCMV2 working). closing this out and thanks all!

[2019-02-14 20:19] #784 closed

[2019-02-15 10:54] ChrisSwinchatt opened #785 "Null dereference when delegating handler returns a content-less HttpResponseMessage"
## Expected Behavior

A different exception or no exception.

## Actual Behavior

Ocelot throws/triggers the following error:

[code]

## Steps to Reproduce the Problem

  1. Create a DelegatingHandler
  2. Return a new HttpResponseMessage with the Content property unset
  3. Get the above error

## Specifications

  - Version: 13.0.0
  - Platform: ASP.Net Core 2.2
  - Subsystem:

[2019-02-17 18:07] xxsybreedxx opened #787 "Error: Method not found: 'Void FluentValidation.AbstractValidator`1.When(System.Func`2<!0,Boolean>, System.Action)'"
Hello, i'm getting an error when when trying to use FluentValidation 8.1.3 together with Ocelot v13.

Method not found: 'Void FluentValidation.AbstractValidator`1.When(System.Func`2<!0,Boolean>, System.Action)'

[code]

[2019-02-18 13:12] geffzhang opened #788 "publish package Ocelot.Provider.Kubernetes"
With #345 of the code, you need to publish the NuGet package Ocelot.Provider.Kubernetes

[2019-02-20 11:21] li517451737 commented on #758
Hello, how do you solve this problem?

[2019-02-20 13:22] linuxchata commented on #357
We tried to adjust HttpClientBuilder class and add client certificate from the initial request to the request to the target URL
[code]

However, our API is still not getting the client certificate. The issue might be with the fact that the client certificate from `context.HttpContext.Connection.ClientCertificate` does not have private key (https://serverfault.com/questions/709812/client-certificat

[2019-02-20 14:16] #785 closed

[2019-02-20 18:42] mrauter commented on #758
Currently it seems not possible with dynamic routing

[2019-02-20 20:49] HakanKaraoglu opened #789 "Support for the use of Consul with Ocelot"
I have a question. One Api Gateway project and two application(catalog,order) service, I have total three project. Catalog and Order services use Api Gateway . Simple a gateway project. The project is working

However, when I added a consul to this project, ApiGateway not working. Only Consul working. I want to both application run. How can I do that?

You can see project detail : https://github.c

[2019-02-21 03:28] redplane commented on #761
Any updates ?

[2019-02-21 12:40] stefankip commented on #659
Same issue here:

[code]

Line 158 is inside the `PreErrorResponderMiddleware`:
`await next.Invoke();`

[2019-02-22 07:11] DukeCheng opened #791 "Pollkube not work when LoadBalancerOptions.Type set to empty string which in Kubernets provider"
## Expected Behavior / New Feature
Pollkube can work in default config mode(without specify LoadBalancerOptions in default)

## Actual Behavior / Motivation for New Feature
Pollkube always create a new instance for same route

## Steps to Reproduce the Problem

  1. Specify a route's LoadBalancerOptions.Type to empty string, not null
  2. debug in visual studio, it can work, but after publish and

[2019-02-22 22:53] CoviloMilos opened #792 "Problem with forwarding body of post method over OCELOT to asp.net API"
## Expected Behavior / New Feature
I am sending post method with body (Content-Type application/json) to asp.net Web API over Ocelot. Web API is working fine when I am testing it by sending request directly to him.

## Actual Behavior / Motivation for New Feature
My request is received by asp.net Web API but with body which is null.

## Steps to Reproduce the Problem

 1. Sending request with post

[2019-02-23 03:19] raime910 opened #793 "Getting a 404 when Consul is enabled"
I am able to successfully request data from an API when Consul is not enabled but when I turn on Consul, all I get is 404.

My Startup.cs looks like;
[code]

Then my configuration looks like this in Consul.

[code]

1. I don't have a load balancer but I still LeastConnection specified, is that OK?
2. In Consul web interface, I only get 1 service which is "consul". How do I add my other services in

[2019-02-23 03:40] nhapentor commented on #789
Not sure if your case is same as mine but by changing the Configure method in Startup.cs to not using async/await as follow works for me.

[code]
N.B. My case seems similar to https://github.com/ThreeMammals/Ocelot/issues/387 that I got 404 when send request to the API Gateway

[2019-02-23 21:35] HakanKaraoglu commented on #789
I tried but the application gave the following error

![image](https://user-images.githubusercontent.com/12962730/53291920-d0a6ec80-37cb-11e9-983c-698ca6cf0daa.png)

[2019-02-24 02:49] nhapentor commented on #789
Delete these 2 lines from ocelot.json should work if you just want to use Consul to store configuration

- "ServiceName": "catalog",
- "ServiceName": "order",

[2019-02-24 15:12] HakanKaraoglu commented on #789
does not work, gives the same error

[2019-02-25 01:26] nhapentor commented on #789
hmmm, strange. I checked out your code and made changes as I wrote here, then it works.

[2019-02-25 14:35] osovitskiy commented on #792
I encountered the same issue. This happens when other middleware triggers request buffering before Ocelot.
I created sample solution to demonstrate problem: https://github.com/osovitskiy/ocelot-sample

[2019-02-25 15:36] #791 closed

[2019-02-26 09:32] WeihanLi commented on #693
Any update on this?

[2019-02-26 12:39] #747 closed

[2019-02-28 02:05] sheng-jie opened #797 "Is it possible to support reroute like this {controller=Home}/{action=Index}/{id?}？"
## Expected Behavior / New Feature
Currently, Ocelot just support strict route mapping.  I think it would be better if support optional parameter and default parameter.

[2019-03-01 15:20] cguyonnet commented on #697
I really needed that myself and ended up building some tooling for it that you can find here : https://gist.github.com/cguyonnet/650ca02ac87e33ea24814f0cb3e7e852

Basically it will generate an OcelotPipelineConfiguration that will encapsulate your class-based middleware...

[2019-03-01 15:29] etiennemtl commented on #697
Sweet! Thanks a lot

[2019-03-05 15:09] ChrisSwinchatt opened #799 "Handle OPTIONS requests in gateway"
(This is kind of a combined bug report and feature request; apologies if it's confusing.)

When using CORS with Ocelot and a bunch of microservices, we would like to have Ocelot handle all the CORS stuff and disable it in the downstream services.

I've tried to achieve this a few ways:

   1. Have Ocelot restrict CORS to desired origins and the downstream services allow everything
   2. Have Ocelo

[2019-03-06 08:54] eit520 opened #800 "at Ocelot.Errors.Middleware.ExceptionHandlerMiddleware.Invoke(DownstreamContext context), inner exception message The format of value 'MicroMessenger/7.0.3(0x17000321) NetType/WIFI Language/zh_CN' is invalid., inner exception"
## Expected Behavior / New Feature
Ocelot.Errors.Middleware.ExceptionHandlerMiddleware:Error: requestId: 80004aa4-0000-9b00-b63f-84710c7967bb, previousRequestId: no previous request id, message:
 Exception caught in global error handler, exception message: Unable to connect to the remote server, exception stack:
 at System.Net.WebSockets.WebSocketHandle.ConnectAsyncCore(Uri uri, CancellationToken

[2019-03-06 09:14] ChrisSwinchatt commented on #799
I've solved this problem using a `PreErrorResponderMiddleware`.

Code for anyone else with the same problem: https://pastebin.com/T2rMDPuT

[2019-03-08 00:42] #797 closed

[2019-03-08 09:36] jmezach opened #802 "Templating configuration"
## New Feature
Currently Ocelots reroutes contain all the configuration for a specific combination of upstream and downstream API's. While this provides great flexibility, it can also become fairly repetitive. It also makes configuring new upstream/downstream API combinations more difficult than it has to be IMHO.

For example, I'm currently looking into using Ocelot to create an abstraction layer

[2019-03-08 10:55] aford22 commented on #787
Yes me too. Same issue

[2019-03-08 22:09] MattMinke opened #803 "Allow downstream host to contain placeholders"
## New Feature
Allow the Host configuration element to have placeholders that can be replaced by values from the upstream template.
[code]

To work around this limitation we need to create a series of configurations like this

[code]

## Motivation for New Feature
This provides additional configurability that Ocelot currently does not have that would help in our migration efforts from our current

[2019-03-11 02:08] #788 closed

[2019-03-11 09:19] vinujosey opened #805 "Not Re-routing after Authentication"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2019-03-11 09:22] vinujosey opened #806 "Not Re-routing after Authentication"
We have micro-service architecture (service fabric) with multiple services within an application as below
 - counterparty service
 - Web API service which provide all the API to counterparty service

Similar to the above structure there are different services and corresponding Web API

We are creating a API Gateway to provide a common interface to all the services. For that we have created .Net We

[2019-03-11 09:26] vinujosey commented on #805
We have micorservice architecture with multiple services within an application as below
 - countertparty service
 - Web API service which provide all the API to countertparty service

Similar to the above structure there are different services and corresponding Web API

We are creating a API Gateway to provide a common interface to all the services. For that we have created .Net Web appilicaiton a

[2019-03-11 09:26] #805 closed

[2019-03-11 09:27] vinujosey commented on #805
Duplicate

[2019-03-11 11:19] SychevIgor commented on #446
Okta from official sample:
Startup.cs:
ConfigureServices method

[code]
and method Configure
[code]

[2019-03-11 13:55] #693 closed

[2019-03-11 23:48] #761 closed

[2019-03-11 23:49] #757 closed

[2019-03-11 23:50] thiagoloureiro commented on #800
please, need more details, just the error message didn't help.

[2019-03-12 02:38] eit520 commented on #800
WeChat small program when establishing a WebSocket request. The request that is made will fail when the connection is established. The exception information is as I sent it above.

[2019-03-12 02:38] eit520 commented on #800
WeChat small program when establishing a WebSocket request. The request that is made will fail when the connection is established. The exception information is as I sent it above.

[2019-03-12 02:49] eit520 commented on #800
When using Ocelot Api Gateway, User-agent is "MicroMessenger/7.0.3(0x17000321) NetType/WIFI Language/zh_CN" throw an exception
It's OK to connect directly to ASP.net core WebAPI

[2019-03-12 09:17] Zirias opened #812 "Custom Certificate validation logic"
We'd like to use certificates for backend services that don't match the host names of the machines they are deployed to. Still, we'd like to verify them against the name we expect and a valid chain. Right now, Ocelot only offers default validation or no validation at all. To implement a custom validation, we'd need a custom `HttpClientHandler` (or at least a way to provide an implementation for `H

[2019-03-12 09:22] Zirias opened #813 "Documentation: Why does passing Host headers "break everything"?"
According to [this documentation page](https://ocelot.readthedocs.io/en/latest/introduction/notsupported.html), forwarding a Host header "obviously breaks everything". Unfortunately, it isn't so obvious to me. Just for experimentation, I added

                PreAuthorisationMiddleware = async (ctx, next) =>
                {
                    ctx.DownstreamRequest.Headers.Host = ctx.HttpContex

[2019-03-12 13:04] GuiguiMtl opened #814 "Passing DateTime with TimeZone indicator "+" in Query String transfers "0001-01-01 12:00""
## Expected Behavior / New Feature

I would expect that when a query containing a date time in the query string with a Time Zone "+" indicator is routed from Upsteam to receive the same date on the down Stream.

## Actual Behavior / Motivation for New Feature

Right now when a Date Time in the format "2019-03-12 13:00+01:00" is routed, Down Stream I receive "0001-01-01 12:00pm"

It works fine for

[2019-03-12 13:25] #814 closed

[2019-03-12 13:25] GuiguiMtl commented on #814
Did some more Debugging turns out Ocelot is transferring the correct data

[2019-03-12 23:07] #659 closed

[2019-03-14 06:26] zpc870921 commented on #773
the latest .net core 2.2 support non-ascii characters, we hope ocelot can support too!!!!

[2019-03-14 06:27] zpc870921 opened #815 "request headers contains chinese characters"
Expected Behavior
Use of non ASCII characters in the header of a http request, for example ñ.

Actual Behavior
I’m getting these exceptions:

HttpRequesterMiddleware

  warn: Ocelot.Requester.Middleware.HttpRequesterMiddleware[0]

  requestId: 0HLK5V6HTDSH7:00000001, previousRequestId: no previous request id, message: Error making http request, exception: System.Net.Http.HttpRequestException: Requ

[2019-03-14 06:27] zpc870921 commented on #815
the latest .net core 2.2 support non-ascii characters, we hope ocelot can support too!!!!

[2019-03-14 06:37] zpc870921 commented on #815
![11](https://user-images.githubusercontent.com/9030696/54336309-b0e64400-4666-11e9-86f7-81fe3b7473fa.png)
![22](https://user-images.githubusercontent.com/9030696/54336310-b0e64400-4666-11e9-9422-0a4710e635f6.png)

[2019-03-14 06:48] anyedage commented on #815
楼上所言甚是

[2019-03-14 09:45] thiagoloureiro commented on #815
@zpc870921 you're using .NET Core 2.2 in you Ocelot API right? I need to recreate the scenario here to test it out.

[2019-03-14 12:41] zpc870921 commented on #815
yes, I'm sure my ocelot api is .net core 2.2 !

[2019-03-15 00:52] zpc870921 commented on #815
@thiagoloureiro
yes, I'm sure my ocelot api is .net core 2.2 !

[2019-03-15 02:26] anyedage commented on #815
如之奈何？

[2019-03-15 08:21] thiagoloureiro commented on #815
@anyedage  ????please can you write in english?

[2019-03-15 09:34] anyedage commented on #815
@thiagoloureiro help! Who can help us?

[2019-03-15 09:38] zpc870921 commented on #815
@thiagoloureiro    he  has  the  same  issue!

[2019-03-15 12:42] jmezach commented on #783
This is probably related to aspnet/AspNetCore#4206 which was fixed with ASP.NET Core 2.2.2.

[2019-03-18 12:36] sunburntstrat opened #817 "Unexplained Http 50x Errors Under Load"
Hi we are currently performing some basic load tests using Ocelot as a Gateway to backend APIs. For the most part it's working well however we have found that once we cross a certain threshold of requests per second (around 40 rps), we start seeing unexplained 500 responses with the following error message raised in Ocelot (in HttpClientHttpRequester).

## Exception Stack Trace
Error Code: UnableT

[2019-03-18 13:44] sunburntstrat commented on #817
So it turns out this was an issue with the configuration of the test runner rather than the Gateway.
Oddly the problem did not manifest when going direct to the APIs.

[2019-03-18 13:44] #817 closed

[2019-03-18 14:21] thiagoloureiro opened #818 "Public Ocelot for Testing Purposes"
## Expected Behavior / New Feature
We have a public / testing ocelot for testing on the develop branch / feature branches

## Actual Behavior / Motivation for New Feature
For testing purposes with current issues to replicate will be easier

## Steps to Reproduce the Problem

N/A

## Specifications

- Droplet on DigitalOcean with API Gateway and few Sample API's Published for specific scenarios, to

[2019-03-18 21:34] zoinkydoink commented on #787
I have the same problem, I cant remove fluentvalidation because i am referencing a library in my ocelot project that references fluent validation

[2019-03-19 11:17] salmaniqbal92 opened #820 "Ocelot not forwarding request if the RouteClaimsRequirement contains multiple roles"
# Expected Behavior / New Feature
The request should forward to the downstream path if it contains the role in **RouteClaimsRequirement**

## Actual Behavior / Motivation for New Feature
When we send the request to the upstream path with valid roles it does not forward the request and give the response 403 Forbidden. We have one role in claims and an array of roles in **RouteClaimsRequirement**.

[2019-03-19 22:45] thiagoloureiro opened #824 "Create Ocelot.Provider.Kubernetes on Nuget Feed"
## Expected Behavior / New Feature
Have Ocelot.Provider.Kubernetes on Nuget Feed

## Actual Behavior / Motivation for New Feature
Package doesn't exist, build/release issues:
[code]

## Steps to Reproduce the Problem

  1. Run the Build on AppVeyor

@TomPallister
please can you add the package over there? Thanks!

[2019-03-20 07:24] vuchl opened #826 "Eureka ServiceDiscovery with a peered environment"
## Expected Behavior / New Feature
Ocelot being able to connect to a peered environment of multiple Eureka instances

## Actual Behavior / Motivation for New Feature
Ocelot not able to connect and fail over between instances of Eureka

## Steps to Reproduce the Problem

  1. run multiple instances of Eureka in a peered mode, e.g.
      peer 1: `docker run --publish 8761:8761 -d steeltoeoss/eureka-

[2019-03-20 12:37] OrihuelaConde commented on #824
I was following the documentation until I noted that the "Ocelot.Provider.Kubernetes" package didn't exist.

[2019-03-20 13:14] OrihuelaConde commented on #758
We have the same issue. We are going to run two instance of Ocelot, one targeting "http" and the second one "ws". It isn't the best solution but Ocelot doesn't support this behaviour.

[2019-03-20 20:13] Rakiah opened #827 "Low performance even with logging disabled"
Hello, I've been getting bad performance using Ocelot using bombardier as a benchmark:

I'm capping at 1194.93 req/s even though I disabled logging like so:
[code]
I'm actually wondering, if I am doing wrong or not? The gateway runs inside a container that is assigned 8 CPU core running at 2.4 GHz using docker stats. I see that the Gateway goes up to 280% CPU usage (2.8 cores basically) while the

[2019-03-21 03:56] Ifthekhar opened #829 "can we use UseOcelot().GetAwaiter().GetResult() instead of UseOcelot().Wait()?"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2019-03-22 07:54] stefankip commented on #783
Yes you're right. Meanwhile I was already using v2.2.2 and I removed the manual call to set the current directory and everything's fine. Thanks!

[2019-03-22 07:54] #783 closed

[2019-03-22 14:49] Rick45 commented on #657
I, I got the same issue and the "authPersistSingleRequest=True" also solved my problem

[2019-03-22 21:50] emiliovmq opened #832 "Upgrade to FluentValidation 8.x"
## Expected Behavior / New Feature
Upgrade to FluentValidation 8.1.3

## Actual Behavior / Motivation for New Feature
Ocelot is currently using FluentValidation 7.6.104
<PackageReference Include="FluentValidation" Version="7.6.104" />
If I use a package or reference a project using FluentValidation with a version greater than 7.6.104, like 8.1.3, the Ocelot starts throwing the exception:

System.A

[2019-03-22 22:16] thiagoloureiro commented on #832
I will update the package and release soon.

[2019-03-22 22:26] #832 closed

[2019-03-23 16:37] emiliovmq commented on #832
Thank you, sir.

[2019-03-23 17:48] emiliovmq opened #837 "Stable release for 13.x.x"
Any idea on how much it's gonna take to produce a final stable release for version 13.x.x (NuGet package)?  Let me clarify, I know there is a release (with its respective NuGet package) already available and fixing the issues I submitted a day ago, but unfortunately, in our company, there are certain rules (as UAT constraints, integration, security, and others) that make impossible for us to relea

[2019-03-23 20:35] thiagoloureiro commented on #837
I created a branch release 13.2.0 yesterday But I didn't had enough permissions to publish.
@TomPallister  I followed the requirements but the part of GitHub Release didn't worked out, and the ocelot-release was not triggered.

Can you help us with that? thanks!

[2019-03-23 20:40] thiagoloureiro commented on #837
Edit, Didn't worked, @TomPallister  need your input please

[2019-03-23 21:57] thiagoloureiro commented on #837
Release 13.4.1

[2019-03-23 21:57] #837 closed

[2019-03-24 00:32] Weidaicheng commented on #815
@zpc870921 Can you please tell me the reason why you want to use non ASCII characters in request headers? I haven't seen a single one situation that needs to use non ASCII in headers.

[2019-03-24 00:52] Weidaicheng commented on #793
@raime910 Are you sure you configured consul correct? I mean consul configurations. And BTW the `DownstreamHostAndPorts` section is not needed when you turn on consul.

[2019-03-24 12:42] WisemanIka opened #839 "Ocelot with IdentityServer4"
Hello,

I want to use Ocelot with IdentityServer4 to implement authentication, but I have problem with error 401 Unauthorized...

I registered ocelot as a ApiResource in IdentityServer

IdentityServer Configuration Startup.cs:

            services.AddIdentityServer()
                .AddDeveloperSigningCredential()
                .AddInMemoryIdentityResources(IdentityServerConfigurations.GetIden

[2019-03-25 07:49] yekanthkola commented on #499
but This is not working when service is running independently in Local

[2019-03-25 12:48] mchenx opened #840 "Force https request only on gateway"
## Expected Behavior / New Feature
There is RequireHttpsAttribute in ASP.Net MVC, am wondering if we can have UpStreamScheme  that can be defined as https in reroute, so that when the client side sends request with http instead of https protocol, the gateway can refuse it.

I just want to get rid of the RequireHttpsAttribute on the web api service that is running behind the gateway, I don't want t

[2019-03-25 16:00] sliekens opened #841 "Unhandled NullReferenceException at startup"
I encountered an unhandled NullReferenceException when trying to set up a new gateway with Ocelot. I'm sure this is my fault, but it should be made explicit.

## Expected Behavior

Throw a custom exception when the user configuration is wrong or missing.

## Actual Behavior / Motivation for New Feature

`app.UseOcelot().Wait()` blows up

[code]

## Steps to Reproduce the Problem

Program.cs
[code]

[2019-03-25 16:36] StevenLiekens commented on #841
By the way my error was forgetting to add Ocelot to the IServiceCollection, which was easy to fix on my side, but the point is that the exception should have told me what was wrong.

[2019-03-26 11:53] StevenLiekens commented on #841
Possible fix: replace occurrences of `ApplicationServices.GetService<T>()` with `ApplicationServices.GetRequiredService<T>()`.

[2019-03-26 14:10] thiagoloureiro commented on #841
@StevenLiekens  I see, do you want to test it  create a PR and we close it ? Thanks!

[2019-03-26 17:13] StevenLiekens commented on #841
Yes unfortunately I don't know which services are required... there are quite a few.

[2019-03-28 08:50] zpc870921 commented on #815
@Weidaicheng 我们有很多的ios和安卓app,打包的时候有些包名包含中文，这些app发送到ocelot的请求中user-agent中就含有中文了！

[2019-03-28 20:26] faultcode opened #842 "New `AuthenticationOptions` property in global configuration"
Is it possible to use `AuthenticationOptions` in the `GlobalConfiguration`? Like this:

[code]
The reason why I would do that is: the `Routes` configuration is coming from a Service Discovery, and I want all of them to be authenticated via IdentityServer with key `TestKey`.

Also, is it possible to add `AllowedScopes` to a service registered to Consul, and then map it to Ocelot Routes dynamically

[2019-03-29 16:27] macsux opened #843 "Can't submit PR to Eureka due to repo being Archived"
I wanted to update the service discovery for Eureka to use latest Steeltoe packages (as there are some fixes and incompatibility with the newest version), but it seems that Ocelot.Provider.Eureka is archived so I can't even submit a PR. Can you bring it out of retirement, please?

Context: I work for Pivotal as client facing enablement role and building a new workshop for microservices with ocelot

[2019-03-29 17:24] #843 closed

[2019-03-29 17:24] macsux commented on #843
Just realized it's part of main repo now

[2019-03-29 19:57] macsux opened #846 "Dynamic service routing not working with Eureka"
## Expected Behavior / New Feature
Configuring Ocelot for dynamic routing as per https://ocelot.readthedocs.io/en/latest/features/routing.html#dynamic-routing with Eureka should allow routing to /SERVICE-NAME/*

## Actual Behavior / Motivation for New Feature
Unable to find the route
Service Discovery works if service is configured explicitly as a route (non-dynamic)

## Steps to Reproduce the Pro

[2019-03-30 13:03] thiagoloureiro commented on #824
Created and released on 13.5.0
@OrihuelaConde @geffzhang

[2019-03-30 13:03] #824 closed

[2019-03-31 08:43] #345 closed

[2019-03-31 12:50] arquehi opened #848 "Device not configured"
## Expected Behavior / New Feature
Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 GET http://localhost:7000/api/values
[40m[32minfo[39m[22m[49m: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request starting HTTP/1.1 GET http://localhost:7000/api/values
[40m[37mdbug[39m[22m[49m: Ocelot.Errors.Middleware.ExceptionHandlerMiddleware[0]
      re

[2019-03-31 13:06] arquehi commented on #848
I`m learning ocelot in the past two days within visual studio for mac. dev for the demo with API and get some problem. finally, I find the DNS was set to 8.8.8.8. so I del it and the application running well.

[2019-03-31 13:06] #848 closed

[2019-04-01 08:10] nurhat commented on #741
@philproctor , any progress for the issue? thx

[2019-04-01 11:04] thiagoloureiro commented on #846
We had an similar issue:
https://github.com/ThreeMammals/Ocelot/issues/655

Can you confirm if this is something related? then will be easier to investigate. thanks!

[2019-04-01 11:24] thiagoloureiro commented on #846
![image](https://user-images.githubusercontent.com/29433794/55323939-d5248c00-5480-11e9-8b91-e14fa35b97f8.png)

I want to understand why this /x/  ? (attached)

I removed the x and worked ok!

![image](https://user-images.githubusercontent.com/29433794/55323951-e2da1180-5480-11e9-8e5c-9690c2e31313.png)

More info:

![image](https://user-images.githubusercontent.com/29433794/55324135-76134700-5481-

[2019-04-01 14:57] macsux commented on #846
That's not dynamic routing. Clear out the routes section (I updated the sample so it's empty). The routes should be coming from eureka - I should not have to declare them at all. This is how the config should look look like according to docs for dynamic routes to work:

[code]

[2019-04-01 15:02] thiagoloureiro commented on #846
@macsux  let me check now :) will get back to you soon

[2019-04-02 11:03] wtf-boy opened #849 "When I use Consul service discovery `UpstreamHost` property isn't working"
## Expected Behavior / New Feature
When I use DownstreamHostAndPorts directly it works,The following two links point to different services.
article services: [http://gateway.afuyy.com/test](url)
live service: [http://test.gateway.afuyy.com/test](url)
![image](https://user-images.githubusercontent.com/11848141/55397265-69bde580-5578-11e9-8775-73db1a3369f8.png)

when i use consul serviceDiscovery  U

[2019-04-04 07:28] stefankip commented on #799
With latest ocelot it doesn't work in the `PreErrorResponderMiddleware` delegate, because the `context.DownstreamReRoute` property is null.
I used the `PreQueryStringBuilderMiddleware` delegate instead.

[2019-04-04 08:15] mvdburght commented on #460
I managed to get this working with the current version of Ocelot, just by adding a custom AspNetCore middleware before Ocelot in the pipeline:

[code]
In your Ocelot.json you can use the `UpstreamHost` to supply different configurations per tenant.

It should be easy to change this to substract the TenantId from a claim.

[2019-04-04 08:27] thiagoloureiro commented on #849
Where is your consul configuration on ocelot.json ?

[2019-04-04 08:27] thiagoloureiro commented on #849
example:

[code]

[2019-04-04 09:27] ChrisSwinchatt commented on #799
Thanks @stefankip

[2019-04-04 17:03] Phiph commented on #360
Yeah header based routing would also be useful for me :)

[2019-04-04 22:37] MichelPWeber opened #850 "WS Federation, not being redirected to it"
We’re in a .Net Core 2.2 environment that uses an SSO based on WS-Federation.
When going to https://localhost:5001/api/app/Method - we are expected to be redirected to the SSO site to log in, but get a 500 error.

ocelot.json:
[code]

Program.cs:
[code]

Any suggestions as to what we could be doing wrong?
There are some thoughts that WS-Fed way of doing authentication is not supported.

[2019-04-07 07:37] #759 closed

[2019-04-07 12:25] Varorbc commented on #735
@philproctor how to rewritten the location header on the redirect

[2019-04-08 01:19] mingyangzhu opened #851 "raft support"
Excuse me, raft support ready to give up?

[2019-04-08 07:49] Jizhangben commented on #815
base64 转码
[code]

[2019-04-08 09:28] vahidarr opened #852 "Integrate Identityserver4, SignalR, and consul"
I use Identityserver4 for Auth, and Consul as discovery. I wonder whether or not I can integrate it with both Ocelot and SignalR. [The documentation](https://ocelot.readthedocs.io/en/latest/features/websockets.html) says :

But that's not clear to me. Would anybody help me with a clear answer with this question:
 Can the Identity server be integrated with Ocelot and SignalR and Consul?
And if yes,

[2019-04-09 08:52] rujianwang commented on #815
@Jizhangben Invoke是重写中间件吗？

[2019-04-09 23:21] yuft commented on #787
updated Ocelot to latest 13.5.0 and problem solved.

[2019-04-10 00:14] thiagoloureiro commented on #787
Yes, this works, because we updated some packages and fluentvalidator we used the latest now :)

[2019-04-10 00:14] #787 closed

[2019-04-10 08:39] embix opened #854 "Let's enable dynamic route variables in RouteClaimsRequirement"
## New Feature: Dynamic `RouteClaimsRequirement`

## Motivation for New Feature

Currently, I have to add a route for each user (well, actually two: GET with other claims)

    {
      "DownstreamPathTemplate": "/api/user/{userId}/file/{fileName}",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "files.internal.mycompany.com",
          "Port": 80

[2019-04-11 07:45] embix commented on #854
If you broaden the `IClaimsAuthoriser` interface to include the `urlPathPlaceholderNameAndValues` the following code might work:

[code]

[2019-04-12 05:04] Jizhangben commented on #815
是的

[2019-04-12 06:27] kandasamy-maruthapillai commented on #569
Hi Tom,

I am getting same kind of issue what @REPRESSION faced.  can you please help me on this.

@REPRESSION can you please share where you added  Authorization: bearer MYTOKEN

[2019-04-12 06:43] cpiock opened #856 "Cannot assign requested address"
I have done my first example with oclet with docker. I have 2 images 1 is my ocelot apigateway running on localhost:6002 and one is my api running on localhost:6001

`  my.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
      - ConnectionString=${AuthenticationDB_PROD:-Server=sql.data;Database=AuthenticationDb;User Id=SA;Password=Pass@word

[2019-04-12 08:22] Tom-Hobson commented on #856
I'm also experiencing this issue. This is specifically with a dockerized gateway. I have run a standard gateway and can get it to reach the apis fine. with an exact duplicate config.json.

it seems to be resolving the downstream urls correctly, I can copy and paste them from the console into postman and they run just fine.

Here's my config.json
`{
  "ReRoutes": [
    {
      "DownstreamPathTempla

[2019-04-13 19:11] Rakiah commented on #827
bump

[2019-04-13 19:11] Rakiah commented on #827
Anyone had the same problem ?

[2019-04-16 08:48] kvskranthikumar opened #859 "UnableToFindDownstreamRouteError when the UpstreamPathTemplate contains $"
I have this configuration in ReRoutes -

[code]
Which works perfectly, but I have a requirement where the UpstreamPathTemplate is "/Users/**$**metadata"

I observed that if the UpstreamPathTemplate has a dollar ($) then we get an error -

Ocelot.Responder.Middleware.ResponderMiddleware:Warning: requestId: 800000b2-0003-f500-b63f-84710c7967bb, previousRequestId: no previous request id, message: Err

[2019-04-16 10:23] KaasiJasti commented on #595
Hi,
I am facing 500 internal server issue. I am facing same issue in local as well. Could you please tell me what i need to do. If i want to add web.config, what i need to add in that.

[2019-04-16 13:04] satishviswanathan opened #860 "Ocelot Authorization using Keyclock"
Do you have any samples implementing authorization using Keyclock and  then forward the request to downstream services.

[2019-04-17 03:25] satishviswanathan opened #861 "Ocelot Authorization using Identity server"
## Expected Behavior / New Feature

Authorize and forward the request to downstream server.

## Actual Behavior / Motivation for New Feature

[22:11:50 INF] Request starting HTTP/1.1 POST http://localhost:64021/api/MyService/test application/json 218
[22:11:50 INF] CORS policy execution successful.
[22:11:50 INF] requestId: 0HLM2S9NIJPHS:00000001, previousRequestId: no previous request id, message

[2019-04-17 06:14] vahidarr commented on #758
I set DownstreamScheme to ws and unexpectedly it also support http.

[2019-04-17 07:43] nurhat opened #862 "Cache keys should take added header params into account"
## Expected Behavior / New Feature
Upon configuration,  cache keys should be calculated using headers.  Especially for localization issues, an endpoint can output different results  upon the Content-Language header.

## Actual Behavior / Motivation for New Feature

  cache keys are calculated using http method & http request path

  1.Add Content-Language to header
## Specifications

  - Version:

[2019-04-17 07:53] duszekmestre opened #863 "UpstreamHost different but ReRoutes has duplicate"
## Expected Behavior / New Feature
UpstreamHost must be used as key in comparing reroutes.

## Actual Behavior / Motivation for New Feature
Now - uUpstreamHost make any difference when UpstreamPathTemplate are the same.

## Steps to Reproduce the Problem

  1. Make two (or more) configurations for ReRouteslike sample:
[code]
  1. Try to run
  1. Unhandled Exception: System.AggregateException: One

[2019-04-18 08:20] Mortana89 commented on #861
I suppose the actual Identity server backend/store is hosted in a seperate service? If this is the case, can you try the following, this is how we do this (also with IdentityServer hosted seperately):

[code]
Don't forget to replace the Configuration["Authentication-Authority"] with your authority endpoint.
You also need to install IdentityServer4.AccessTokenValidation package to have the .AddIden

[2019-04-18 15:53] satishviswanathan commented on #861
@Mortana89 Thank you for your quick response.

I've modified the code according, but still getting the same error.

[2019-04-19 03:06] macsux commented on #846
Any update on this?

[2019-04-19 03:11] wtf-boy commented on #849
on ocelot.global.json
![image](https://user-images.githubusercontent.com/11848141/56403403-c23cf480-6293-11e9-85c6-d933f1f45ffa.png)

[2019-04-19 06:18] plukawski commented on #863
I totally agree - this is an important bug that prevents using the Ocelot in certain environments and should be introduced with high priority.

[2019-04-19 14:42] walterfranssen opened #865 "Get 404 with a long query"
## Expected Behavior / New Feature
Get a 200 response but i get a 404
The url i try is:
http://localhost:5000/clients/fda5a247-09b0-4712-8df5-27312e00dae6/timeslots?tenantId=c513fe59-17cc-45a9-aecc-2b3238e0bdf6&appointmentTypeId=215f9781-b56d-4001-93f7-6d55133881dc&selectionPeriodStartDateTimeUtc=2019-04-19&selectionPeriodEndDateTimeUtc=2019-04-25

I see in the log that Ocelot parse the url to the

[2019-04-20 18:55] Tadimsky commented on #620
@davidni did you ever come to a conclusion on this one?

[2019-04-22 09:17] shubham0990 commented on #387
how can i update downstreampath and upstreampath of configuration.json file

[2019-04-22 09:19] shubham0990 commented on #387
how can i update downstreampath and upstreampath of configuration.json file with the help of angular

[2019-04-22 09:29] shubham0990 commented on #387
how can i update upstreampath and downstreampath of ocelot configuration.json file

[2019-04-22 09:36] WeihanLi commented on #387
you may need [this](https://www.cnblogs.com/weihanli/p/reload-ocelot-configuration.html) @shubham0990

sample here:

[code]

[2019-04-23 02:26] davidni commented on #620
@Tadimsky  It seems like i made a wrong assumption before -- apparently for reverse Proxy to proxy over https, it must also listen on https. I don't see why it was designed this way since localhost encryption adds no security, but that doesn't matter here. Getting that to work with Ocelot will likely require some (scoped) brain surgery to issue https requests to localhost:19081 and ignore cert val

[2019-04-23 04:16] rider11-dev opened #866 "app exit after consul down"
Hello,I'm using configuration in consul.
And I see the FileConfigurationPoller  fetch data from consul as IHostedService.
My problom is ,after my app start normally for a while,I close the consul server,and got the error blow:
 at System.Net.Http.ConnectHelper.ConnectAsync(String host, Int32 port, CancellationToken cancellationToken)
   --- End of inner exception stack trace ---
   at System.Net.H

[2019-04-23 09:37] vahidarr commented on #515
I have same problem and in this url:
 **ocelot_base_address/administration/.well-known/openid-configuration**

Result contain wrong issuer:
**"issuer":"Ocelot"** this must be **"issuer":"ocelot_base_address/administration"**

*** remember: @TomPallister postman collection link need modify header and it work.**

This is result of request:
`{"issuer":"Ocelot","jwks_uri":"http://localhost:5009/admini

[2019-04-23 14:38] rafaelcaviquioli commented on #480
I need wildcards to work with multiple staging environments

[2019-04-23 17:08] jinyuttt opened #867 "etcd join"
## Expected Behavior / New Feature

Can you join the integration of etcd? At present, the Eureka license has been modified, Consul seems to me a little biased, etcd may be suitable for most projects, I hope the author can consider my proposal

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsys

[2019-04-24 00:07] catcherwong commented on #867
Here is a provider that provides Etcd integration with Ocelot.

https://github.com/BuiltCloud/Ocelot.Provider.Etcd

[2019-04-24 05:19] ambertino commented on #744
@lokeshbrahmvar could you specify an actual URL that fails? Also, it would be great if you format the output and the configuration as a code block.

[2019-04-24 05:30] ambertino opened #868 "Is there a way to restrict {catchAll}?"
I am very sorry if this is a dumb question but I could not figure this out from reading docs...
Let's say we have this configuration:

[code]
... and we have internal user service that has endpoint `/{id}/metadata` that is for internal use only.

Does this mean that if I make a call `/api/user/{id}/metadata` it will be accessible? Is there any way around this?

Thanks!

[2019-04-24 20:34] luber opened #869 "Handle HTTP 307 Temporary Redirect with Authorization header"
Not sure if that is related to Ocelot or app.UseHttpsRedirection() middleware.

## Expected Behavior / New Feature
When downstream service responses with 307 http status code, ocelot should not lose http headers when following the redirection.

## Actual Behavior / Motivation for New Feature
Authorization header is lost when Ocelot follows temporary redirection to downstream service.

## Steps to

[2019-04-26 08:49] garybond commented on #231
@TomPallister I'm commenting here rather than opening a new issue, as I have the same question over clarification of this. I'm not sure the answer given, nor the documentation matches the actual functionality. The documentation clearly states that ALL of the scopes declared in the Route AllowedScopes should be present in the user's scope claim, however, as I understand the code [ScopesAuthoriser](

[2019-04-26 09:40] milannankov opened #870 "Custom load balancing scheme"
Hello,

I am wondering if there is a way to implement custom load balancing scheme where requests are sent using round-robin but if the request count to a particular server reaches some value (say 100 requests per second) that server is excluded from the list of downstream hosts.

Does this make sense?

[2019-04-26 22:41] MartinTeichler opened #871 "Using claims with Ocelot"
I am trying to setup Ocelot in an Api Gateway and I am stuck on Authorization. I have managed to setup claims and I can authorize with them inside my controllers. I add a claim to a user like this:

`await userManager.AddClaimAsync(user, new Claim(ClaimTypes.Role, configuration["InitialAdmin:Role"]));`

Then I setup Ocelot with the following config:

[code]

Here is my ConfigureServices method:

[

[2019-04-27 17:46] jinyuttt commented on #867
OK, but etcd does not have a standard service registration discovery, so to use it is to register services in its way? Or is etcd already recognized as a service registry discovery

[2019-04-29 03:35] jinyuttt commented on #867
The etcd I see is a bound IP and port. If etcd is a cluster deployment, will it be processed automatically? Or does Ocelot handle it? Will Ocelot use cluster query services?

[2019-04-29 05:51] ambertino commented on #868
Seems like I found the answer myself - just need to append `/` to `UpstreamPathTemplate`
[code]

[2019-04-29 05:51] #868 closed

[2019-04-29 06:01] cybertino opened #872 "Reload merged configuration files"
Is there any plan to add automatic reload when configuration was combined from multiple files?
https://github.com/ThreeMammals/Ocelot/blob/develop/src/Ocelot/DependencyInjection/ConfigurationBuilderExtensions.cs#L80

[2019-04-29 08:16] cpiock commented on #856
Any suggestions?

[2019-04-29 08:19] Tom-Hobson commented on #856
I think it has something to do with the docker routing. Might be worth trying to point to the actual container IP while this issue gets fixed.

`docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' container_name_or_id`
(gets you the docker container ip)

[2019-04-30 09:30] Lybr4 commented on #695
We are having the same issue with our API providing access to both uploading and downloading files. The request/response is buffered entirely into memory, causing heavy issues in our cloud environment with limited resources.

[2019-04-30 12:30] jinyuttt opened #873 "cluster discovery"
## Expected Behavior / New Feature
Service discovery uses cluster configuration. How does Ocelot run? I see that Ocelot configuration is only an IP and port, so there is no cluster configuration using service discovery. For example, consul is clustered. How does Ocelot use consul cluster to discover services?

## Actual Behavior / Motivation for New Feature
Service discovery uses cluster configura

[2019-05-03 08:20] TimmyGilissen opened #874 "how does AddClaimsToRequest work"
Hi,

I'm trying to figure out how AddClaimsToRequest actualy works and how I can use it in my client api.

The 'AddHeadersToRequest' works perfectly and i can see the headers that are passed to the client api.

Does anyone have some experience that they can share with me ?

Thx.

[2019-05-03 09:51] WeihanLi commented on #874
you may wanna see the [docs](https://ocelot.readthedocs.io/en/latest/) firstly, if you wanna get a deep understand for how claims transform work,you may wanna have a look at the source code.

When you access a api, the `Ocelot` will check authentication, and if the user have a permission for the api. If authenticated successfully, Ocelot will get the claims of the user, and if you config ClaimsToR

[2019-05-04 06:24] nironixon opened #876 "Modify content?"
## New Feature / Existing Feature?
Hi there, ALL new to Ocelot but seems very promising!

I need to transform the jsonresponse from a upstream server to better fit the capabilities of a given client. Is it possible to inject some kind of callback for a given route so i can modify the content?

[2019-05-04 06:27] #685 closed

[2019-05-04 06:28] #863 closed

[2019-05-06 11:56] juli516b opened #878 "Only 'http' and 'https' schemes are allowed"
## Expected Behavior / New Feature
Returning a list of JSON objects

## Actual Behavior / Motivation for New Feature
Returning 500

## Following LOG
`Request starting HTTP/1.1 GET http://localhost:7000/requests
dbug: Ocelot.Errors.Middleware.ExceptionHandlerMiddleware[0]
      requestId: 0HLMI34GM19DC:00000002, previousRequestId: no previous request id, message: ocelot pipeline started
dbug: Ocelo

[2019-05-06 12:31] #878 closed

[2019-05-06 12:31] juli516b commented on #878
Fixed after type

[2019-05-06 20:04] msadikkose opened #879 "How to set up ocelot with azure active directory"
Using ocelot with azure active directory authorisation is possible or not!

I followed [this](https://github.com/Azure-Samples/active-directory-dotnet-native-aspnetcore-v2/tree/master/1.%20Desktop%20app%20calls%20Web%20API) tutorial and managed to use api with Azure Active Directory authentication & authorization.

However I would like to consume the api from behind the Ocelot Api Gateway. I could

[2019-05-07 13:06] msadikkose commented on #879
I did it. I put the solution link if anyone needs it.
You can find it from [here](https://stackoverflow.com/questions/56004750/how-set-up-ocelot-api-gateway-with-azure-active-directory?answertab=active#tab-top).

Thanks a lot.

[2019-05-07 13:06] #879 closed

[2019-05-07 21:42] faultcode commented on #842
Can anyone please provide me with an answer?

[2019-05-09 14:19] mayrand opened #881 "Can't pass through large responses"
## Expected Behavior / New Feature

Implement option to pass through response without loading it to memory to be able to work with large responses.

## Actual Behavior / Motivation for New Feature

Response limit is 2GB.

## My quick solution
[code]

[2019-05-10 05:48] manojchugh4u opened #883 "Advance Request aggregator using IDefinedAggregator is hanging the request"
## Expected Behavior / New Feature
I am trying to use Request aggregator implementing IDefinedAggregator but once aggregator is hit and returns the response back, my request gets hanged, process keeps on running in the browser and request remains in pending state. As soon as I remove configuration of  aggregator from "Startup.cs" it works fine and shows the aggregated response. I am looking to tra

[2019-05-10 06:21] #883 closed

[2019-05-10 06:23] manojchugh4u commented on #883
Seems there was a problem with the implementation of Aggregator Class
Task <DownstreamResponse>IDefinedAggregator.Aggregate(List<DownstreamResponse> responses)
{
var dst = new DownstreamResponse(new HttpResponseMessage(System.Net.HttpStatusCode.OK));
return new Task<DownstreamResponse>(() =>
{
return dst;
});

[2019-05-10 10:20] dmitriifilonenko opened #884 "Problem with POSTing big files"
Currently Ocelot doesn't allow POST requests with big bodies. Effectively it forbids uploading relatively big files.

This can be worked around on the application level:
[code]
But it would be much better if it was possible on request level, preferebely as a part of ReRoute configuration.

Also it's not completely clear if Ocelot manages to resend request with big content. I face another issue:

T

[2019-05-13 12:03] yrox opened #886 "Ocelot Authorization using custom auth"
Hi,

**[Setup]**
i'm trying to run this sample https://github.com/kasitimo/MyGatewayAPI

with next Program.cs:
[code]
**[Problem]**
but i'm getting next error:

here is the whole output:

[code]
**[Question]**
Is it something wrong with the setup or this is about ocelot issue itself?

Thanks for any help!

[2019-05-13 14:00] markosmilja commented on #856
I had a similar problem, i think docker has an internal DNS server or something and "localhost" doesn't mean the same thing to a native and a dockerized app.
Anyway, if you are using docker-compose you can use their service names as their ip addresses.
So in the ocelot.conf file insted of:
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 6001
        }

[2019-05-14 10:34] tle5 opened #888 "Pattern"
I try to set a Route in ocelot config file with information:
"UpstreamPathTemplate": "/app1/{version}/{z}/{x}/{y}.{all}",
"DownstreamPathTemplate": "/{version}/{z}/{x}/{y}.png

With expectation it will match with : /app1/1/2/3/4.png
But it doesn't work.

[2019-05-14 10:36] #886 closed

[2019-05-14 10:37] yrox commented on #886
The problem was with the interior setup :)

[2019-05-15 08:58] jasongm86 opened #890 "IDefinedAggregator can't handle error codes from downstream requests"
## Expected Behavior / New Feature
I'm using a custom aggregator and have authentication on the downstream requests. I'm struggling to find a way to handle authentication errors because the IDefinedAggregator takes a list of type DownstreamResponse which in the case where the downstream request is **un**authenticated, these responses will be null and this isn't handled before .Aggregate() is calle

[2019-05-15 19:06] jnormen opened #891 "AddHeadersToRequest with Claims[sub] and Claims[roles]"
## Expected Behavior / New Feature
When pass this:
"AddHeadersToRequest": {
   "tenantId": "Claims[tenantId] > value",
    "caller": "Claims[sub] > value",
    "roles": "Claims[roles] > value"

with this token:
"sub": "8723c40a-0b57-4447-b1a5-d3c15f7ca9ea",
  "typ": "Bearer",
"roles": ["Admin","User"]

Expect to have 3 header values.

## Actual Behavior / Motivation for New Feature
  "tenantId": "

[2019-05-15 19:29] jnormen commented on #891
I see now that JwtBearer settings in ASP .Net with the Jwt Schema change sub and roles to namespaces like this: {http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier: 8723c40a-0b57-4447-b1a5-d3c15f7ca9ea}

so my sub I pass in is transformed to "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"

To fix this I need to do:
var claimValues = claims.Where(c => c.Type

[2019-05-17 15:09] jurgi opened #893 "Problems to cancel a request (CancellationToken)"
## Expected Behavior
The action of the api does not correctly receive the cancellation token when aborting a request through Ocelot.

## Actual Behavior
By calling the api directly and while it is running, I cancel the request. The *CancellationToken* parameter takes the correct value and the appropriate exception is thrown.
On the other hand, if I make the same request through Ocelot, the excepti

[2019-05-17 17:01] atadhani opened #894 "How to pass json data in POST request"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem
i would like to pass JASON data in body not as parameter in url. How can I do it?
{
     'UserId': '1',
     'Name': 'John Doe',
     'BirthDate': '02-15-2001'
}
I know there is dynamic routing but it accepts parameter with url.  I would like to pass it in a body to forward the sa

[2019-05-17 21:08] atadhani commented on #894
I was passing with single quote. It was the issue. It is fixed now

[2019-05-17 21:08] #894 closed

[2019-05-17 21:48] briansantura commented on #894
@atadhani Cool!

[2019-05-18 04:55] WeihanLi commented on #893
maybe `HttpContext.RequestAborted` can be used for Ocelot inner handle

[2019-05-21 04:59] Tadimsky opened #897 "Best way to inject custom request handling logic?"
We're looking at using Ocelot as a frontend to our services, but one of the things we'd like to be able to do is to take take over the request at some point if it matches certain criteria.

We need to do this to support data residency for our services. If a user's data location is set as some other country, then we need to be able to proxy the request to that country instead.
We need the user to h

[2019-05-21 11:12] kapilepatel commented on #827
@Rakiah Please share available memory and memory usage also, it will be useful for us.

[2019-05-21 18:11] jurgi commented on #893
I have tried to use that property in the API and the result is the same :-(
Any other idea?

[2019-05-22 01:41] WeihanLi commented on #893
Sorry @jurgi, I'd not elaborated clearly ,that's not been implemented by `Ocelot` for now, just a mind on Ocelot.

[2019-05-22 02:02] WeihanLi commented on #799
You can define a custom Middleware to set cors reponse header behine the `HttpRequester`.

sample code here:

`CorsMiddleware`:

[code]
Ocelot Pipeline:

[code]

[2019-05-22 14:13] #890 closed

[2019-05-24 06:03] heyixiaoran opened #901 "How to disable string escape"
Hi:
I deploy a API program and a ocelot program in IIS.

The API with a string parameter . The parameter is like 'Test\abc' .
I make the parameter to 'Test%5Cabc'. I can get the right value.

If I give the parameter through ocelot to request .  The parameter changed to 'Test%255Cabc'.
So I want to how to disable string escape in ocelot?

Thanks

[2019-05-27 10:29] Fabiest commented on #622
Hello,

I don't agree with this approach:

if i want to forward /foodRecipes* to /api/recipes*, the configuration you suggest means /* -> /api/recipes right? So it doesn't matter if i do /xyz, it will be forwarded to /api/recipes...

I was expecting to be able to configure it like /foodRecipes{everything} to /api/recipes{everything}.

This is needed if i want to hide the name in the backend or mak

[2019-05-28 10:25] Abhith opened #904 "Website (http://threemammals.com/ocelot) down - 403"
## Actual Behavior / Motivation for New Feature
Error 403 - This web app is stopped.

[2019-05-28 12:51] TomPallister commented on #904
I ran out of money in Azure, it will come back up in a few days

[2019-05-29 13:58] NorekZ commented on #803
I would also very appreciate this feature.

[2019-05-31 02:29] ankitvijay opened #908 "Quality of Service - Configuration"
## Background
- As per the [Quality of Service](https://ocelot.readthedocs.io/en/latest/features/qualityofservice.html), documentation we can set up `TimeoutValue` in isolation of the `ExceptionsAllowedBeforeBreaking` and `DurationOfBreak` options. I'm trying to only use `TimeoutValue` property without the other two.

## Expected Behavior
- Expected Behavior is that if I have just configure `Timeo

[2019-06-01 14:35] royayan1988 commented on #746
Is this fixed?

[2019-06-01 14:37] royayan1988 commented on #820
@TomPallister is this fixed?

[2019-06-03 07:01] markjiang7m2 opened #910 "Questions for Rate Limiting"
## Expected Behavior
I setup a demo for Ocelot Rate Limiting function. Period: 1m, PeriodTimespan: 10, Limit: 5. As per the [Documentation for Rate Limiting](https://ocelot.readthedocs.io/en/latest/features/ratelimiting.html), The count of request should be limitted as 5 in 1 min, and then after 10 seconds, it will works again.

## Actual Behavior
I setup a console project for sending the request.

[2019-06-03 15:17] NicolasREY69330 commented on #879
Hi @msadikkose : I'm sorry but I'm not able to build the solution following your link.

I get the following error on launch :

_System.AggregateException: 'One or more errors occurred. (Unable to start Ocelot, errors are: Authentication Options AuthenticationProviderKey:AzureADJwtBearer,AllowedScopes:[] is unsupported authentication provider)'_

Do you have a full tutorial which I could follow to

[2019-06-03 16:05] NicolasREY69330 opened #911 "How to integrate 'Azure Active Directory' Authentication ?"
Hi,

Could someone tell me how to authenticate through Azure Ad (ie application registered in Azure AD) which will authenticate against  https://login.microsoftonline.com/ providing a client_id, client_secret and resource then giving a Bearer to each request header made to Ocelot gateway ?

I know how to do it in a classical way, not behind Ocelot gw...

Thanks for your help

[2019-06-04 08:31] Abhith commented on #904
Website is up now.

If it is a static website, there are free hosting providers like [netlify](https://www.netlify.com/) that we can make use of.

[2019-06-04 08:31] #904 closed

[2019-06-04 08:43] WeihanLi commented on #904
@Abhith  Good suggestion 👍
Maybe the website could rewrite with angular(or react/vue etc...) and hosted by github pages @TomPallister

[2019-06-04 09:31] #911 closed

[2019-06-04 09:40] NicolasREY69330 commented on #911
My mistake I followed the tutorial of @msadikkose

Here is his solution :
https://github.com/ThreeMammals/Ocelot/issues/879
https://stackoverflow.com/questions/56004750/how-set-up-ocelot-api-gateway-with-azure-active-directory?answertab=active#tab-top

I've just missed the part relative to Microsoft.Identity.Web that is mandatory to use AddProtectWebApiWithMicrosoftIdentityPlatformV2 method.
The l

[2019-06-04 15:00] dborzouei opened #912 "The handshake failed due to an unexpected packet format"
## Expected Behavior / New Feature
When I change the `DownstreamScheme `config to https as in follows  the routing must be accomplished
[code]
## Actual Behavior / Motivation for New Feature
I get an error
[code]
## Steps to Reproduce the Problem

changing http to https in DownstreamScheme config

## Specifications

  - Platform: .net core 2.1

[2019-06-04 15:05] fsmullinslc opened #913 "AllowedScopes does not match string array in JWT scope claim"
## Expected Behavior / New Feature
Expected AllowedScopes to parse scope claim and match one or more values in string array similar to RouteClaimsRequirement.  For example JWT scope claim value has two scopes, space delimited by whitespace: `Values.Read Values.Write`

## Actual Behavior / Motivation for New Feature
`ScopesAuthoriser` compares the entire claim value to the AllowedScopes array causi

[2019-06-05 03:04] markjiang7m2 commented on #910
One more question. I am trying to use the LoadBalancer in this demo, so I change the reroute as below.
[code]

As the document say that
`RoundRobin - loops through available services and sends requests. `

I do the test as below.
Firstly, both downstream services are running correctly, and the results are correct. Then I try stopping the `8001` service, Ocelot will still transfer request to `8001`

[2019-06-05 07:52] dborzouei commented on #912
I found the problem
When we use `HTTPS`, we need to change the port to 443!

[code]

[2019-06-05 07:53] #912 closed

[2019-06-05 09:39] RedzRedz opened #914 "request body size"
Is the ocelet has the limitation of request body size?
I have api to upload file, the file size less than 20MB, the ocelet is ok.when the file size bigger, the ocelet will reponse 404.

[2019-06-05 18:53] akaramanapp commented on #638
@carloslozano thanks you. good job.

[2019-06-06 08:16] ChrisSwinchatt opened #915 "GET /administration/configuration => 404"
## Expected Behavior

GET /administration/configuration would return the current configuration.

## Actual Behavior

* GET /administration/configuration returns 404
 * GET /configuration returns 401 (even with Bearer token issued by /administration/connect/token)
 * GET /administration/connect/token with API secret returns a Bearer token (so administration API is running)

## Steps to Reproduce th

[2019-06-06 14:46] SinghChandrabhan opened #916 "QOS with Aggregates"
Configure QOS for one of your ReRoutes.

## Expected Behavior / New Feature
This service in question should also behave well in Aggregates.

## Actual Behavior / Motivation for New Feature
Calling an aggregate service  gives "503 error"

## Steps to Reproduce the Problem
Use below ocelot.json:

[code]
## Specifications

Ocelot.Provider.Polly

[2019-06-07 13:44] Simonsimu opened #917 "Throughput to the server haven't exceeded after reaching 2.7k requests per minute"
Hi, I am testing the gateway using apache jmeter

1) With 10 users up for a  second and hitting 8 requests for 100 times I am able to produce 700-800 rpm constantly

2) With 20 users up for a  second and hitting 8 requests for 100 times I am able to produce 1400-1600rpm constantly

3) With 50 users up for a  second and hitting 8 requests for 100 times, I am able to produce 2400-2500 rpm

4) With 1

[2019-06-07 13:48] Simonsimu commented on #917
![image](https://user-images.githubusercontent.com/31171345/59108620-f7db9100-8958-11e9-8beb-543f3ba808eb.png)

[2019-06-08 15:46] kuzdu commented on #746
I'm interested too. Does another workaround exist?

[2019-06-11 10:58] #917 closed

[2019-06-11 16:40] MoBe3 opened #918 "Default host downstream"
## My problem
Hello !

I'd like to be able to reroute everything without having to specify explicitly the host downstream.
Something like : http//:0.0.0.0:PORT. I've tried and didn't work. Using localhost works just fine, but, if the service is hosted somewhere else, I'd have to use an IP address (in the ocelot.json) and that's exactly what i'd like to avoid. I want to allow the DowstreamHost to b

[2019-06-12 00:28] yuft opened #919 "Join .NET foundation"
#705 mentioned that Ocelot will be joining .NET foundation, it is good to have support/governance from it.

Any progress on this?

Thanks.

[2019-06-12 03:56] jonny-xhl opened #920 "The SSL connection could not be established"
I local debug is ok,but publish to IIS is error.
Don't use ocelot is ok,when I use upstream to get is error.
## My  logs details
[code]
## ocelot.json
[code]

[2019-06-12 05:48] thiagoloureiro commented on #919
Agreed! We should go! :D

[2019-06-12 09:26] rocleegithub opened #921 "Why not use the Consul PollConsul timing interval acquisition and only health passing = true service entry?"
@philiahe Why not use the Consul PollConsul timing interval acquisition and only  health passing = true service entry?

## PollConsul you need to set the following configuration:
`
 "GlobalConfiguration": {
    "ServiceDiscoveryProvider": {
      "Host": "localhost",
      "Port": 8500,
      "Type": "PollConsul",
      "PollingInterval": 100
    }
  }
`
The polling interval is in milliseconds and

[2019-06-12 13:36] yuft commented on #921
I have concerns on #810 as well.

My answer will be:
If the registered Consul node is unexpectedly down and not restarted immediately, that means 'other services' on the same box or in the same pod are unhealthy as well, they should be restarted(re-created) with Consul client.

#810 is a breaking change, what's the point that client sending request to a known unhealthy downstream endpoint? it brea

[2019-06-12 13:41] yuft commented on #920
it clearly says 'The remote certificate is invalid according to the validation procedure'.

Did you check if SSL certificate is valid or not?

E.g.  open a endpoint with Chrome and see what Chrome says. https://localhost:5001

[2019-06-12 13:46] yuft commented on #918
Here should be a perfect example for you. https://github.com/Liu-Alan/Ocelot-Consul

[2019-06-12 13:52] CQJonnyLin commented on #920
I open a endpoint with Chrome is not an effective secure connection,but I can get data by clicking on Continue Link.

[2019-06-12 13:57] yuft commented on #920
see #309 #325 ,

[2019-06-12 14:00] CQJonnyLin commented on #920
I set DangerousAcceptAnyServerCertificateValidator false,but also error.

[2019-06-12 18:21] IvanFarkas opened #922 "Would Ocelot work with SOAP Web Services?"
## Would Ocelot work with SOAP Web Services?

I am wondering if addition to REST API, would Ocelot work with SOAP Web Services as well?

[2019-06-13 01:15] leeon201314 opened #923 "限流部分有明显的BUG"
Ocelot.RateLimit.RateLimitCore 第37行
if (entry.Value.Timestamp + TimeSpan.FromSeconds(rule.PeriodTimespan) >= DateTime.UtcNow)
应该是
if (entry.Value.Timestamp + ConvertToTimeSpan(rule.Period) >= DateTime.UtcNow)

[2019-06-13 08:24] #901 closed

[2019-06-13 08:40] jonny-xhl opened #925 "Error making http request"
## logs
[code]
## consul server config
[code]
## ocelot application server config
[code]
1、when I request http://192.168.1.139:1001/auth/token and then response 500 httpstatuscode.

[2019-06-13 08:53] CQJonnyLin commented on #925
Config ReRoutes use DownstreamHostAndPorts can success,but use ServiceName throw exception.

[2019-06-13 09:08] MoBe3 commented on #918
Thanks ! Still there's quite a lot stuff going on my head after taking a look at the example.
1) Do i need to have a whole Consul project too ? I thought the idea of using ocelot.provider.consul package is to avoid it. Because I skipped that whole part. I just went directly adding consul via ocelot in the ConfigureServices() and "overriding" the reroute in the "Global Configuration" of my json fil

[2019-06-13 12:34] karinehovhannisyan opened #926 "The status code in the response is incorrect"
## Expected Behavior / New Feature
I'd love to see the Unauthorized error status code set in the Response headers instead of modifying the Request Header status Code.
## Actual Behavior / Motivation for New Feature
In case of a 401 Error, the system is modifying the Request header statusCode, even if I add an error to `context.Errors`.

## Specifications

  - Version: 13.5.0
  - Platform: Windows

[2019-06-13 12:58] yuft commented on #918
I am not sure why you require 'default host', but I guess you could take a look at https://github.com/damianh/ProxyKit which is a reverse proxy implemented with .Net core. It may fit you easily with 'default host'.

For ocelot, I suggest you to read more about big picture. https://ocelot.readthedocs.io/en/latest/introduction/bigpicture.html

[2019-06-13 13:03] yuft commented on #925
I guess this is more of a Consul health check definition problem, not Ocelot related.

https://www.consul.io/docs/agent/checks.html

[2019-06-13 13:07] yuft commented on #922
In my experience, Ocelot can blindly forward SOAP request to downstream. If you need to manipulate payload such as SOAP header/body, you can have custom middleware.

However, Ocelot is a modern microservice gateway, we would not expect it to support it.

[2019-06-13 13:13] yuft commented on #897
Seems like you need a proxy, maybe take a look at https://github.com/damianh/ProxyKit instead.

[2019-06-13 13:19] CQJonnyLin commented on #925
I try setting tls_skip_verify field to true,but also throw the exception

[2019-06-13 13:36] jmezach commented on #919
Would love to see this happen as well. I've been using Ocelot on a project for a while now and I'm really happy about it. I'm also a .NET Foundation Member ;). Note: not a board member, but if there's anything I can do to help out here, let me know.

[2019-06-14 01:20] CQJonnyLin commented on #925
@yuft ,Can you tell me Consul health check definetion where is problem.
The  ![consul web ui](https://user-images.githubusercontent.com/29520329/59476942-9a2dd400-8e85-11e9-8990-8a92198f246f.png) show check success.

[2019-06-14 01:41] yuft commented on #925
Just saw you had  "UseServiceDiscovery": false, maybe you can remove it and see if it makes any difference.

[2019-06-14 01:50] CQJonnyLin commented on #925
Now,I setting sigle Consul server can success.
Don't change Ocelot config.
![consul web ui](https://user-images.githubusercontent.com/29520329/59477786-59d05500-8e89-11e9-8c23-c39b953bbc46.png)

![Post](https://user-images.githubusercontent.com/29520329/59477887-cc413500-8e89-11e9-81f9-688ba4fbb782.png)

[2019-06-14 07:14] jonny-xhl opened #927 "invalid config key log_file"
## I use configuration files to start agent and not invalid log_file key.
![log_file](https://user-images.githubusercontent.com/29520329/59490118-72a32f80-8eb6-11e9-9fe8-af61f45d93f3.png)
## docs
![log_file_filed](https://user-images.githubusercontent.com/29520329/59490360-0e34a000-8eb7-11e9-9834-a3f8f1074a9f.png)

[2019-06-14 10:01] MoBe3 commented on #918
Well, the services to retrieve might not be in my machine. So it would be nice to forward them to the right location without having to specify every single host responsible for a service, which means that i'd have to  specify manually all the routes leading to the services. If it were for just one or two, that'd be ok, but there are just too many, it wouldn't be convenient. Or ... maybe I'm just c

[2019-06-14 11:25] szilardd opened #928 "Chunked encoding"
## Expected Behavior / New Feature

Chunked encoding

## Actual Behavior / Motivation for New Feature

Would be great to have support for chunked encoding, to be used in case of endpoints that stream (download) large files in chunks (instead of storing the whole file in memory and then downloading it).

My team is interested in integrating this functionality if it is doable.

Based on this [commen

[2019-06-14 13:12] MoBe3 commented on #918
@yuft Oh my !
I was right and wrong ... but mostly wrong.
What I was trying to do was kind of impossible and thanks to you I could see it. There was no way I could have been forwarded to some url without knowing the IP address. Because either way, the services I'm trying to have access to will always be accessible from anywhere I'd like to (I hope so).
So I took the problem in the reverse way : be

[2019-06-14 22:06] denious opened #929 "Re-Routing 404 with Service Fabric"
## Expected Behavior / New Feature
Trying to get Ocelot running in Service Fabric and cannot get re-routing to correctly resolve to any request route.

I'm not sure what information to provide, but here's a repo with all the code:
https://github.com/denious/sf-ocelot

## Actual Behavior / Motivation for New Feature
**ocelot.json**
[code]
**exception log**
[code]

## Steps to Reproduce the Problem

[2019-06-15 07:48] li517451737 opened #930 "The WebSocket is in an invalid state ('Aborted') for this operation. Valid states are: 'Open, CloseReceived'"
When connecting SignalR through Ocelot, after refreshing the webpage, an exception will be prompted, but the normal function will not be affected.

`[Error] requestId: "0HLNHC6Q0APB3:00000001", previousRequestId: "no previous request id", message: "Exception caught in global error handler, exception message: The WebSocket is in an invalid state ('Aborted') for this operation. Valid states are: 'Op

[2019-06-15 19:04] CESARDELATORRE commented on #643
@TomPallister - Hey Tom, any plan to support Ocelot? - I'm thinking it'd be a great feature to be able to use Ocelot as a gateway (in addition to pure gRPC re-directions).
Gateway meaning that external communication from Ocelot to client apps could be using HTTP, but from Ocelot to the internal microservices it'd be using gRPC.

Thoughts?

[2019-06-17 07:42] ztzsws1 commented on #881
![image](https://user-images.githubusercontent.com/5999059/59586690-12aac400-9116-11e9-8d0b-981cf48d3a83.png)
I have same issue, can not download file which larger that 2G.
If I change ocelot code like @mayrand , it works fine. I am not sure if this will cause other problems.
Is there any suggestion?

[2019-06-17 12:47] ztzsws1 commented on #881
Can we support to config which route use the option ResponseHeadersRead, and which one used option Default?
Maybe like this,
`{
      "DownstreamPathTemplate": "/api/{everything}",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 12345
        }
      ],
      "UpstreamPathTemplate": "/common/api/{everything}",
      "Up

[2019-06-17 20:14] nitrat7 commented on #446
@SychevIgor can you provide Sample-Code for Octa-Integration with Okta.AspNetCore?
I'm a little bit lost on reroute-config.

[2019-06-17 21:10] denious commented on #929
Updated all versions, followed as much of the sample code as I could (some is different from the latest boilerplate), still getting the same behavior. Downstream service URL is not getting resolved. 😢

[2019-06-17 22:24] denious commented on #929
My bad, had the wrong discovery service port, all good now!

[2019-06-17 22:24] #929 closed

[2019-06-18 05:33] SychevIgor commented on #446
@nitrat7 to be fair- almost all code already mentioned.
But regarding reroute configs - you will need 2 extra fields inside AuthenticationOptions :
{
      "DownstreamPathTemplate": "/api/trades",
      "DownstreamScheme": "",
      "DownstreamHostAndPorts": [
      ],
      "UpstreamPathTemplate": "/api/trades",
      "UpstreamHttpMethod": [],
      "DangerousAcceptAnyServerCertificateValidator":

[2019-06-18 06:46] DrVaskee opened #932 "Routing with different Upstream Hosts"
## Expected Behavior / New Feature
The API-Gateway is listening for multiple hosts. For a few endpoints the routing is based on the host. For example the frontend for each host is different. Though the business logic is exactly the same. So the configuration has entries which contain no upstreamhost and entries with upstream host.

I expect that the endpoints without upstream host get routet reaga

[2019-06-18 07:04] DevinChen1 opened #933 "Service Discovery failed use Consul for V-13.5.2"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2019-06-18 07:41] DrVaskee commented on #932
I checked out the code and looked around a little.
I found that routes that are with a upstreamHost are priorizied.
Maybe the function should consider the Priority Value from the config.

In the DownstreamRouteFinder i got two "applicableReRoutes". The one that i need and the default one.
Because the default one has a host assigned it always picks the default route over the better matching one.

[

[2019-06-19 03:48] fuxuejun opened #934 "use ocelot in docker can't route to raw service"
## Expected Behavior / New Feature

change Ocelot.Provider.Consul.Consul Line 60:

//                new ServiceHostAndPort(serviceNode == null ? serviceEntry.Service.Address : serviceNode.Name, serviceEntry.Service.Port),

new ServiceHostAndPort(serviceEntry.Service.Address, serviceEntry.Service.Port),

Ocelot.DownstreamUrlCreator.Middleware.DownstreamUrlCreatorMiddleware:Debug: requestId: 0HLNKD

[2019-06-19 05:53] WuAiDeng commented on #934
I also have this problem. But, why is it designed like this?

[2019-06-19 06:02] WuAiDeng commented on #933
why?

[2019-06-19 06:08] DevinChen1 commented on #933
Service discovery is not available in version 13.5.2 and Consul

[2019-06-19 06:10] WuAiDeng commented on #933
no,I can

[2019-06-19 06:13] DevinChen1 commented on #933
你亲试可以吗？ocelot V13.5.2

[2019-06-19 06:16] WuAiDeng commented on #933
可以，只不过有段代码不知道为什么作者要那么些，就是作者用了consul的node节点名称作为host访问。我准备改掉这个代码，直接用address。

代码如下：new ServiceHostAndPort(serviceNode == null ? serviceEntry.Service.Address : serviceNode.Name, serviceEntry.Service.Port),

[2019-06-19 06:17] WuAiDeng commented on #933
或者把报错信息贴出来？

[2019-06-19 06:21] DevinChen1 commented on #933
部署调用时发生错误

[2019-06-19 06:23] WuAiDeng commented on #933
你的consul node name设置的是什么？发出来看看

[2019-06-19 06:24] WuAiDeng commented on #933
一点错误信息都没有？日志？

[2019-06-19 06:25] DevinChen1 commented on #933
加qq聊吧

------------------ 原始邮件 ------------------
发件人: "Wilson"<notifications@github.com>;
发送时间: 2019年6月19日(星期三) 下午2:24
收件人: "ThreeMammals/Ocelot"<Ocelot@noreply.github.com>;
抄送: "Code--可乐"<1750453097@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [ThreeMammals/Ocelot] Service Discovery failed use Consul for V-13.5.2   (#933)

一点错误信息都没有？日志？

—
You are receiving this because you authored the

[2019-06-19 06:28] WuAiDeng commented on #933
你的QQ？

[2019-06-19 06:29] DevinChen1 commented on #933
1750453097

------------------ 原始邮件 ------------------
发件人: "Wilson"<notifications@github.com>;
发送时间: 2019年6月19日(星期三) 下午2:28
收件人: "ThreeMammals/Ocelot"<Ocelot@noreply.github.com>;
抄送: "Code--可乐"<1750453097@qq.com>;"Author"<author@noreply.github.com>;
主题: Re: [ThreeMammals/Ocelot] Service Discovery failed use Consul for V-13.5.2   (#933)

你的QQ？

—
You are receiving this because you authored the thr

[2019-06-19 14:41] TorMartin74 opened #935 "return 503 Service Unavailable instead on 500 Internal Server Error"
## Expected Behavior / New Feature
It would be nice if Ocelot returned 503 when Ocelot cannot connect to the downstream service, e.g. when a connection is refused.

When running in docker or other container environments, a service can be stopped temporarily due to updates or other things. In such cases 500 might be misleading.

[2019-06-20 10:16] jasongm86 opened #936 "Kubernetes service discovery provider doesn't allow cross-namespace discovery"
When using Kubernetes service discovery the namespace for the service being looked up is taken from the ServiceDiscoveryProvider in the GlobalConfiguration. It's likely that people will need to discover and make downstream requests to services in different namespaces.

I have implemented functionality in a fork to allow the namespace to be overridden by using string tokenization on the ServiceName

[2019-06-20 12:20] crack-haddock opened #937 "Question on Custom Request Aggregation"
## Expected Behavior / New Feature
Referring to my config (see below). I have two aggregate routes - an "automatic" one, and one using a custom aggregator. The automatic/internal one calls both internal APIs and combines the two result sets into one as expected.

I wish to return a customised/filtered set of results given the individual results of each internal call, and expected that using a cust

[2019-06-20 12:53] jasongm86 commented on #937
I am using something like this:

[code]

Make sure you check your status codes before accessing any the downstream content though!

[2019-06-21 03:27] Kimchou123 commented on #815
我靠，我也碰到了。只能把方法改为post了

[2019-06-21 17:59] CesarD commented on #296
Hello, people.
I think I'm hitting a bug with this feature.

I have `ocelot.Development.json`, `ocelot.Testing.json` and `ocelot.global.json`.
When I run the app on debug from VS, which should stick to the `Development` environment, it loads the `Testing` configuration in ocelot.json.

After taking a look at Ocelot's source code, I see this [line](https://github.com/ThreeMammals/Ocelot/blob/959a92

[2019-06-21 18:03] CesarD commented on #296
BTW, and sorry for the double post, it would be great to extend this feature into detecting file naming as the following:
[code]

This way this would allow us to better isolate groups of APIs also for each environment.

[2019-06-24 01:17] #921 closed

[2019-06-24 05:00] RamjotSingh opened #939 "Support dynamic routing configuration in Service Fabric"
## New Feature
Having to deploy Ocelot every time routing changes is tedious. Ocelot allows for modifying the routes using json reload but without deployment it is not really possible to do this either. This increases the cost of managing services in general. The target of this feature is to modify\extend Ocelot in a way that once deployed, ocelot can adapt to changes in services behind the scene.

[2019-06-24 07:14] jmezach commented on #356
Is anyone working on this? This would be a really great addition to Ocelot and could help with performance as well. I don't think it's necessary to change the target framework to netcoreapp2.1, because the [Microsoft.Extensions.Http](https://www.nuget.org/packages/Microsoft.Extensions.Http/2.1.0) package seems to target netstandard2.0.

[2019-06-24 07:37] dingfengwu opened #941 "Server-sent events protocol"
## Documentation
- [Server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events) - Web APIs | MDN
- [Server-sent events](https://learn.microsoft.com/en-us/azure/application-gateway/for-containers/server-sent-events) and Application Gateway for Containers | Microsoft Learn
- [Using Server-sent events with Application Gateway (Preview)](https://learn.microsoft.com/en-us/a

[2019-06-25 03:08] #936 closed

[2019-06-25 10:25] ildoc opened #942 "How can I stop a request in the PreAuthenticationMiddleware?"
I have to do some checks on the request's jwt before ocelot authentication, so I'm doing them within the [PreAuthenticationMiddleware](https://ocelot.readthedocs.io/en/latest/features/middlewareinjection.html) like this:

    var config = new OcelotPipelineConfiguration
    {
        PreAuthenticationMiddleware = async (ctx, next) =>
        {
            var jwt = ctx.HttpContext.Request.Headers[

[2019-06-26 02:10] zpc870921 commented on #815
@Kimchou123  post不也一样吗，你header里不能带，目前根据中文编码一下吧

[2019-06-26 02:10] #815 closed

[2019-06-26 10:29] AlexHarper commented on #532
Hi @TomPallister, have you had any more thoughts on this?
This would be a killer feature for us (and a lot of people I imagine) as we could run our entire stack behind Ocelot.

[2019-06-27 11:50] szilardd commented on #928
any tips would be appreciated. thanks

[2019-06-27 13:23] crack-haddock commented on #937
Thank you very much, that's exactly what I was looking for!

[2019-06-27 13:23] #937 closed

[2019-06-27 16:36] jsheely opened #944 "SignalR"
I'm trying to use the documented feature listed https://ocelot.readthedocs.io/en/latest/features/websockets.html but the configuration provided does not appear to work out of the box

Initially when I tried to use the default configuration I got an error that it couldn't communicate to the ```/hubName/negotiate``` path

So I added this configuration

[code]

Which got me closer. Now I just get an

[2019-06-27 19:20] jsheely commented on #944
Nevermind. Dumb user moment. I forgot that I changed it to only support https not http so ws is not available only wss.  just had to change the DownstreamScheme to

```"DownstreamScheme": "ws",``` and everything is fine

[2019-06-27 19:20] #944 closed

[2019-06-27 19:31] EasyMilos commented on #891
Or you use
`JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();`
in Startup and claims are back normal.

[2019-06-27 19:55] EasyMilos opened #945 "ClaimsParser bug"
## Expected Behavior / New Feature
If I have
`"AddHeadersToRequest": {
    "CustomerId": "Claims[sub] > value[1] > |"
}`
and claim is in "wrong" format (not "usertypevalue|useridvalue" but without "|") or missing, I expect to receive "handled" exception message from `CannotFindClaimError` in the log.

## Actual Behavior / Motivation for New Feature
Wrong exception message is logged with full stack

[2019-06-28 06:01] ernoli opened #947 "Is it possible with Ocelot to pass GET parameters of gateway endpoint to POST backend method as body application/x-www-form-urlencoded"
Hello

I am sorry I am writing right here, I just can't find much of community resources for Ocelot save from some stackoverflow

So here's question

My target API backend methods expects parameters to be passed in body as content-type of ```application/x-www-form-urlencoded```

So, basically I need to transform my GET request to my gateway endpoint ```/gw/test/?param1={param1}&param={param2}``` t

[2019-06-28 06:14] WeihanLi commented on #888
It seemed the `UpstreamPathTemplate` ignored the `.` character , [UrlPathPlaceholderNameAndValueFinder](https://github.com/ThreeMammals/Ocelot/blob/develop/src/Ocelot/DownstreamRouteFinder/UrlMatcher/UrlPathPlaceholderNameAndValueFinder.cs#L6)

[2019-06-28 09:13] wtf-boy opened #948 "remove querystring parameters that have been used in template Bug?"
## Expected Behavior / New Feature
[code]
RequestPath:

http://localhost:5000/form/3235?code=161_3235_3c6aada4&notifyurl=http%3a%2f%2fwww.afuyy.com

Since my UpstreamPathTemplate PlaceholderName happens to be {url}, and the request address contains the "notifyurl" parameter, and the "code" parameter contains 3235(which is actually formId), the result is forwarded downstream to the address becomes:

[2019-07-01 05:40] wangfengjun404 opened #951 "provide offical support for zookeeper version service discovery."
provide offical support for zookeeper version service discovery.
thanks

[2019-07-01 07:57] #709 closed

[2019-07-01 15:51] webley opened #952 "Query string parameters are not correctly removed from downstream template"
## Expected Behavior
I want to be able to map a query parameter on my gateway API to a query parameter with a different name on my downstream API.

[code]
When calling `/users?userId=webley`, I would expect the downstream call to be `/persons?personId=webley`

## Actual Behavior
The downstream route generated is `/persons?userId=webley&personId=webley`

## Steps to Reproduce the Problem
  1. Creat

[2019-07-01 23:06] WuyanLee opened #953 "UpstreamHeaderTransform"
"UpstreamHeaderTransform": {
    "Host": "www.bbc.co.uk"
}

这样做不行，请问该怎么做
That's not good. What should I do?

[2019-07-02 08:25] g00fy- commented on #357
temporary workaround:
[code]

[2019-07-02 08:57] thomaslevesque commented on #603
Any news on this? This is a pretty important thing for a gateway to implement properly.
Returning **500 Internal Error** tells nothing useful to the client; Ocelot should really return **502 Bad Gateway** when it can't reach the downstream server.

[2019-07-03 01:56] ghost opened #954 "Connection errors when Consul node names are not real DNS hosts"
## Expected Behavior / New Feature
Ocelot.Provider.Consul   version 13.5.2

## Actual Behavior / Motivation for New Feature
I used `Ocelot.Provider.Consul`  and Consul, but when I make an API request，
the console display error
[code]

But when I use `Ocelot.Provider.Consul` version 13.5.0 there is no problem

## Steps to Reproduce the Problem

  1. ocelot.json configuration:
[code]
  consul server

[2019-07-03 10:04] WuyanLee commented on #953
我发现 “Mapper.IRequestMapper” 去掉了了“Host”，但是我不明白为什么要移除
I found that "Mapper. IRequestMapper" removed "Host", but I don't understand why it should be removed.

[2019-07-03 14:15] garybond commented on #947
I've had to do the same thing recently to take a GET request with parameters and assemble some json to be POSTed to the back-end service,
I ended up using the [DelegatingHandler](https://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html).

This should get you off in the right direction...
[code]

Of course, I'd be happy to get another opinion...

[2019-07-04 23:38] AdnanInayat opened #955 "405 Method not allowed in prod env using ocelot with eureka service discovery"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1. Do a "POST" request

## Specifications

  - Platform: .net core 2.2 with ocelot and eureka
  - Subsystem:

[2019-07-04 23:40] AdnanInayat commented on #955
I am using Ocelot and Eureka for my project. Everything is working perfecetly in development enviornment. By dev env I mean running everything on localhost. But when I try to run it on production, "GET" request is working perfectly but "POST" request is giving me "405 not allowed".
Any help will be appreciated :)

[2019-07-08 09:37] gfx687 opened #956 "Case sensitive AddQueriesToRequest parameters (500 error)"
## Premise
I configured an app to add query parameter `PID` from claims (using `AddQueriesToRequest`, and it works just fine)

## Expected Behavior / New Feature
I expected Ocelot to ignore query parameters that already configured in `AddQueriesToRequest` section without any errors no matter what case is used

## Actual Behavior / Motivation for New Feature
I tried to send a request to Ocelot with

[2019-07-08 12:47] adamlepkowski commented on #298
@maartenmensink  How did you solve your problem with basket and suggestions? I have similar issue right now.

[2019-07-08 12:59] maartenmensink commented on #298
At this moment we have dedicated WebApi Controllers that handle request that handle data composition. This way we can handle complex cases and later on create the right plumbing to handle it genericly.

[2019-07-08 16:30] Leandropintogit opened #957 "Consul service discovery error 500"
The issue #909 added a option to resolve hostname of consul node using its name, but the name of consul node is a arbitrary string and not always a valid hostname.

I created a new node on consul called services and registred my services in this node. when ocelot query for services, it binds service to services:9091 for example and off course, this fail.

## Specifications

  - Version: 13.5.2
  -

[2019-07-09 17:57] kvansaders opened #958 "Ocelot Application with own Controllers/Actions"
## Need implementation example

## Trying to create API gateway which also uses it's own Web API Controllers to handle mashups and any other custom code, using Ocelot for pipeline items like rate limiting, Authorization, and caching.

I am trying to put together an API gateway that also serves the purpose of mashing up calls to multiple APIs. I would also like to have autogenerated Swagger, so I'd

[2019-07-10 15:53] DavidLievrouw opened #959 "Specify Scheme of ServiceProviderConfiguration"
## New Feature
Add ability to specify Scheme of ServiceProviderConfiguration, for use in the ConsulClientFactory.

## Actual Behavior / Motivation for New Feature
In the ConsulClientFactory class, the scheme of the Consul server address is hard-coded to "http". In our environment, Consul is not hosted over http, only over https. Currently, we are working around this issue by overriding the service

[2019-07-10 17:50] DavidLievrouw opened #961 "Add ability to register custom load balancers"
## New Feature
Add ability to register custom load balancers.

## Motivation for New Feature
We are using the Consul provider. We would like to add a custom load balancer that decides which service to route to, based on our custom metrics that are known in Consul.

E.g. we would like to give preference to services that have no "critical" or "warn" health checks. Or give preference to service insta

[2019-07-11 23:55] allyn-psyonix commented on #773
Do you have a reference for this? I am getting the same error as OP with .net core 2.2 and am having trouble finding anything confirming your statement.

[2019-07-12 14:50] mrclayman commented on #360
Hi all,
I started working on this feature a few days ago since this is something we want to leverage in our deployment of Ocelot.
The idea is that I want to be able to have a set of headers, each with a set of acceptable values, and be able to define whether a request should contain any or all of the defined headers to be accepted for routing to that downroute. Essentially, to say something like t

[2019-07-12 15:08] TarasKovalyk opened #963 "DelegatingHandler"
Hello,
We are using ocelot framework to handle routes to some services. And we want to implement the following behavior:
- from front end’s part we send request with some payload
- on the router side we need to add an additional parameter to json and redirect request to other service.
As I understand we can use DelegatingHandler for that, it is necessary to define DelegatingHandler: [“SomeHandler”

[2019-07-14 11:01] ducle83 commented on #695
Our team having the same issue too, when trying to upload large files (e.g.: video).

[2019-07-18 16:22] Tadimsky commented on #897
@yuft Yeah, that's what we're using right now actually and it's pretty good. Just a little more entangled with our services than we want it to be.
But yeah, definitely seems like Ocelot would be better as something to sit behind our Proxykit reverse proxy for traffic into the cluster.

[2019-07-19 13:48] romina2001 opened #965 "Ocelot Configuration"
Hello,

I am trying to access another service fabric service from the gateway service, but I get the following error. This is happening in cloud, on a 5 node Service Fabric cluster. Locally all things run OK. Why do I get this error and what I have missconfigured?
Many thanks

19 10:53:23|WARN|requestId: 0HLOC3FF3H082:00000001, previousRequestId: no previous request id, message: DownstreamRouteFin

[2019-07-21 15:51] mubarok-iqbal opened #967 "Ocelot with Jwt Auth"
I have ConfigureServices like this

[code]

But I don't know to set middleware auth in ocelot.json.
can anyone help me?

[2019-07-22 14:45] feugen24 commented on #740
@TomPallister we use 3 authentications: AddCookie, AddOpenIdConnect, AddJwtBearer
and some code so that they are applied automatically with [Authorisation] attribute
[code]
If I try to register all of them with the same scheme name in AddCookie(...), AddXXX(...), I get an error: InvalidOperationException: Scheme already exists. So I don't know if it's possible for ocelot to forward requests with m

[2019-07-23 08:46] upadhyaychandan commented on #748
Hi Team,
I want to validate Placeholder  value how we can  do that
Example:-
Api/test1/{Id}
api/test1/{Id}/test
api/test1/{id}/test/{id2}

Request Url:-
api/test1/{EmptyValue/test
So in Placeholder it is coming {EmptyValue}/test , it should be only {emptyvalue}

[2019-07-23 13:04] garybond commented on #967
There is an overload on .AddJwtBearer that takes a string as first parameter. That allows you to set a name for your Jwt Bearer scheme.
Then in your Ocelot config, assign that name to your re-route:
[code]

The [docs](https://ocelot.readthedocs.io/en/latest/features/authentication.html) actually describe this pretty well.

[2019-07-24 08:31] ChrisSwinchatt commented on #915
Discovered that this is caused by having MVC in the pipeline before Ocelot

[2019-07-24 08:31] #915 closed

[2019-07-24 08:37] ChrisSwinchatt opened #969 "Can't access Ocelot administration API with MVC earlier in the pipeline"
## Expected Behavior

GET /administration/{x} would reach the Ocelot administration API

## Actual Behavior

The response is 404 for all values of {x}

## Steps to Reproduce the Problem

  1. Create an MVC project
  2. Add MVC to the pipeline before Ocelot
  3. Try to access any Ocelot administration endpoint

## Specifications

  - Version: 13.5.2
  - Platform: .Net Core 2.2 on Windows 10
  - Sub

[2019-07-24 08:42] feugen24 commented on #265
downstream key is simply a key for rereoute and it works if it hits a reroute with a key, it took me a while to find it in the [docs](https://ocelot.readthedocs.io/en/latest/features/requestaggregation.html)

[2019-07-24 08:43] feugen24 commented on #746
as workaround override authorisation middleware for claims or policy based with claims in policies [as suggested here](https://github.com/ThreeMammals/Ocelot/issues/265)

[2019-07-24 09:19] ChrisSwinchatt commented on #969
Related: #915

[2019-07-24 14:51] svipandi commented on #343
I am not having any kind of configuration for rate limit in configuration.json.
When i try to make more than 5000 request per minute request is not reaching the api gateway.

Is ocelot handles any default rate limit ?

[2019-07-25 14:13] balarvs2002 commented on #311
Will there be any performance issue , If I use elascticSearch appender with warnings/Error log level ?

[2019-07-26 06:40] dafeifei0218 commented on #954
My framework is. NetCore 2.2
I think it's a bug. No problem with 13.5.1. Or I don't know how to write code.

[2019-07-29 11:45] thangchung commented on #643
@CESARDELATORRE I agreed with you. Because of .NET Core 3.0 comes a long with gRPC out of the box so that we need to have some way to forward the gRPC Request into the internal microservices. Just like envoy-filter with `grpc trancode`. Let me know how do you think? @TomPallister

[2019-07-29 12:24] romina2001 commented on #577
@davidni what if we have a website that we want to expose through ocelot from  inside sf that requires SSL to connect to ?  We then get this in firefox when trying to access the website how ocelot acesses it :
[code]
Inside Ocelot we get  :
[code]
Do you have an idea on how could we do this with ocelot ? (we already tried `"SkipSslValidation": true` but the behavior is the same : SSL validation er

[2019-07-30 15:24] fienol opened #975 "503 error in load balance when two many requests"
## Expected Behavior / New Feature
I used JMeter to test my service. There are two services in load balance - round robin. In JMeter, it will send 400 requests in 2 seconds  to get very simple Json back. I hope all the response code is 200

## Actual Behavior / Motivation for New Feature
In the beginning, the http code is 200, but after 3 or 4 seconds, it is 503 in a row.
I removed 1 service in th

[2019-07-31 18:35] atadhani commented on #446
@SychevIgor I am getting an error  ArgumentNullException: Your Okta URL is missing. You can copy your domain from the Okta Developer Console. Follow these instructions to find it: https://bit.ly/finding-okta-domain

[2019-07-31 20:54] atadhani opened #976 "Pass through Okta Token from Client App to Web API using Ocelot Gateway"
## Expected Behavior / New Feature
Pass through Okta Token from Client App to Web API using Ocelot Gateway

## Actual Behavior / Motivation for New Feature
Not sure how can I simply pass Okta Token coming in header

## Steps to Reproduce the Problem

  1. Client App configured to call API using Okta Authentication
  1. Gateway - takes request from client and passes to secure WebAPI
  1. WebAPI is

[2019-08-01 10:53] SychevIgor commented on #446
@atadhani a bit confused from message. What do you expect as an answer?
Of course you need configure okta url. In my snippet, application reading okta domain url in a following line:
OktaDomain = _cfg["Okta:OktaDomain"]
If you need more info about .net core configuration https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.2

[2019-08-01 11:07] Marusyk opened #977 "Cannot resolve scoped service `KubeClient.IKubeApiClient` from root provider"
## Expected Behavior / New Feature

redirect to service in k8s cluster

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

Follow this docs https://ocelot.readthedocs.io/en/latest/features/kubernetes.html

`services.AddOcelot(_configuration).AddKubernetes(false); // or true`

My service in k8s: devices-api.dev:10010

Config:
[code]

## Specifications

  - Version:

[2019-08-01 11:55] atadhani commented on #446
Sorry for confusion.  I was trying _cfg["Okta:OktaDomain"] as _cfg["Okta:<my domain>"] so it gave me an error when I passed  OktaDomain = "<my domain>" it works now. Thanks for quick response

[2019-08-01 16:51] atadhani commented on #976
Getting unauthenticated error crossroad-gateway_1  |       requestId: 0HLOMJVI4GG2T:00000001, previousRequestId: no previous request id, message: Error Code: UnauthenticatedError Message: Request for authenticated route /SystemAdminServices/api/v2/Network/UnfilteredNetworkLiteList by  was unauthenticated errors found in ResponderMiddleware. Setting error response for request path:/SystemAdminServi

[2019-08-02 10:06] saitejaprattipati commented on #271
I have similar issue and i have tried solution @NicoKno above but had no luck and getting same error as mentioned at beginning .

My configuration file:
		{
  			"ReRoutes": [
    			{
      				"DownstreamPathTemplate": "/api/{everything}",
      				"DownstreamScheme": "http",
      				"DownstreamHostAndPorts": [
        				{
          					"Host": "authoradmin.command.api",
          					"Po

[2019-08-03 13:07] saitejaprattipati commented on #271
@TomPallister  Can you please help me regarding the issue i have commented above.

[2019-08-04 14:07] saitejaprattipati commented on #138
@Cglvzh Hi, I am getting same error can you please tell me the solution that you have done to solve it.

[2019-08-05 02:07] saitejaprattipati opened #978 "I have asp.net core based microservices project. In this project I am implementing API Gateway using Ocelot nuget package. This project is hosted in linux based docker container in my local development environment. On testing the microservice url via the api gateway I am getting error 400 not found."
My configuration file:
{
"ReRoutes": [
{
"DownstreamPathTemplate": "/api/{everything}",
"DownstreamScheme": "http",
"DownstreamHostAndPorts": [
{
"Host": "authoradmin.command.api",
"Port": 80
}
],
"UpstreamPathTemplate": "/api/ad/{everything}",
"UpstreamHttpMethod": [ "POST", "PUT", "GET" ]
}
],
"GlobalConfiguration": {
"RequestIdKey": null,
"AdministrationPath": null
}
}

my Docker file is follow