[2019-08-05 02:08] saitejaprattipati commented on #978
My configuration file:
{
"ReRoutes": [
{
"DownstreamPathTemplate": "/api/{everything}",
"DownstreamScheme": "http",
"DownstreamHostAndPorts": [
{
"Host": "authoradmin.command.api",
"Port": 80
}
],
"UpstreamPathTemplate": "/api/ad/{everything}",
"UpstreamHttpMethod": [ "POST", "PUT", "GET" ]
}
],
"GlobalConfiguration": {
"RequestIdKey": null,
"AdministrationPath": null
}
}

my Docker file is follow

[2019-08-05 21:55] Marusyk commented on #977
@TomPallister could you please suggest

[2019-08-06 01:29] saber-wang opened #980 "Supporting netcoreapp3.0/netstandard2.1?"
Unhandled exception. System.TypeLoadException: Could not load type 'Microsoft.Extensions.DependencyInjection.MvcJsonMvcCoreBuilderExtensions' from assembly 'Microsoft.AspNetCore.Mvc.Formatters.Json, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.
   at Ocelot.DependencyInjection.OcelotBuilder..ctor(IServiceCollection services, IConfiguration configurationRoot)
   at Ocelot.Depe

[2019-08-06 04:06] thangchung commented on #980
I have got the same issue. I used `Ocelot` `v13.8.0-alpha0010` with .NET Core `netcoreapp3.0` template and .NET SDK `v3.0.100-preview7-012821` on my machine. @TomPallister Could you tell us how to work-around or fix it?

[2019-08-06 10:50] cqkisyouq opened #981 "ClaimsToClaims bug？"
public Response SetClaimsOnContext(List<ClaimToThing> claimsToThings, HttpContext context)
 {
     foreach (var config in claimsToThings)
            {
                var value = _claimsParser.GetValue(xxxxxx);
                if (value.IsError)
                {
                    return new ErrorResponse(value.Errors);
                }
                var exists = context.User.Claims.FirstOrD

[2019-08-06 10:54] cqkisyouq commented on #981
I hope so ->  Claims[role]=1,Claims[role]=2,Claims[role]=3
to Claims[scope]=1,Claims[scope]=2,Claims[scope]=3

[2019-08-06 12:43] garethrpratt opened #982 "Consul Proxy Configuration"
## Expected Behavior / New Feature
It would be really nice if we could change proxy settings used by Ocelot to communicate with Consul.  The `ConsulClientFactory` class currently instantiates the `ConsulClient` class, but does not use the overload which allows us to modify the HttpHandler.

In our case, I've recreated the factory to simply disable the proxy.

## Actual Behavior / Motivation for Ne

[2019-08-06 12:47] jamieomaguire commented on #982
This seems like a wise idea!

[2019-08-06 15:50] coleman-c commented on #820
Hitting the same issue here.  Removing the Route claims requirement make it find the route.

- Ocelot 13.5.2
- .net core 2.2

Found:
`
[40m[32minfo[39m[22m[49m: idunno.Authentication.Certificate.CertificateAuthenticationHandler[8]
      AuthenticationScheme: Certificate was successfully authenticated.
idunno.Authentication.Certificate.CertificateAuthenticationHandler:Information: Authenticati

[2019-08-07 12:57] cinqart1 opened #983 "Question about Ocelot and Consul"
Hello! I´m using ocelot with consul service discovery, but I dont know how to configure ocelot to not request a service in consul that have two instance, but one of them is down.
In consul I have created a check to verify any instance and one of them is down...but ocelot continue to send request in LoadBalance mode to that service instance!
Someone could help me?
Coul be a link or a explanation...

[2019-08-07 14:15] mjehle82 commented on #779
Hi

Just in case, this is still relevant to you (or somebody else).

I had the same problem. It was caused by the target micro-service where the .UseHttpsRedirection() was enabled. So the request ended up at the correct target service but was redirected there from http to https.

Cheers, Mike

[2019-08-08 12:47] scottrangerio opened #985 "ClaimsToQueryString Bug"
## Expected Behavior / New Feature

Hey all, I've come across what I believe is a bug with the ClaimsToQueryString handler.

## Actual Behavior / Motivation for New Feature

If the query string has url encoded parameters (at the very least, url encoded ampersands), they end up getting decoded by this handler which will cause problems for downstream services.

Doing some brief investigation, I beli

[2019-08-09 06:36] thangchung commented on #980
I have found the issue is because of .NET Core 3.x used the new json lib. The same issue at https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1030

[2019-08-09 07:55] winlj commented on #954
楼主,这个问题你解决了吗?

[2019-08-09 08:00] MangoWHL commented on #954
还没有解决，目前恢复到了13.5.0版本在使用。一直没有时间去解决这个问题，项目比较紧急。

[2019-08-09 09:18] forgotten-warrior commented on #792
Any update on this topic, I encountered the same issue. This happens when other middleware triggers request buffering before Ocelot.

[2019-08-09 11:08] saber-wang commented on #980
@thangchung Yes, just add netcoreapp 3.0 to the targetFramework,I compiled it myself for the time being.

[2019-08-10 04:57] mubarokiqbal opened #986 "How to set up dynamic API_Key based on user login"
I want to set up dynamic API_Key based on user login.
I want to create conditional in startup.cs, but i have trouble doing that.

[code]

[2019-08-10 14:31] thangchung commented on #643
@TomPallister @CESARDELATORRE Because I have got this issue in my project in company so that I have added the filter which can do a transcode for JSON to gRPC, the code can be found at https://github.com/thangchung/GrpcJsonTranscoder. It will help to add the aggregation layer that config the endpoint of all down stream gRPC services

[2019-08-10 15:38] haninm opened #987 "Process request and Change Configuration"
Hello ThreeMammals !
i looking for one Middleware that provide Extra Action on each Request (Action Defined by Developer who use ocelot) .
For example change Downstream Host Address depend on Query params and some data stored on DataBase.

do u want to add some thing like this ?

[2019-08-12 02:47] winlj commented on #933
兄弟们,解决了的话,这里回复一下奥,谢谢了,急等

[2019-08-12 16:12] RobKraft opened #988 "I'm New to Ocelot And Most of the Documentation Seems Out of Date"
I could really use an API Gateway and what I read about Ocelot is very promising, but I think a recent release of Ocelot has caused most of the documentation to be irrelevant.

1) Logging - I figured out how to turn on logging.AddConsole(), but don't see how I can now use NLog for logging.

2) Authentication.  I picked Ocelot because we use Identity Server, but the IdentityServer examples in the d

[2019-08-12 16:25] thiagoloureiro commented on #988
Hi Rob, can you share your code/repo here in GitHub? (If it’s possible) I can take a look
Thanks

Sent from my iPhone

[2019-08-12 16:36] RobKraft commented on #988
Thanks for the quick response.  Here are the files.  I have changed very little from the default so far.  This is using the Nuget for Ocelot 13.5.2
[APIGateway.zip](https://github.com/ThreeMammals/Ocelot/files/3493465/APIGateway.zip)

[2019-08-12 16:56] thiagoloureiro commented on #988
Hi @RobKraft  thanks for sharing the files.

Can you take a look in my repo? I've just updated to 13.5.2 and it's working fine.

You can use it as a start point
(remove consul stuff if you don't need it!)

Cheers mate.

[2019-08-12 17:00] #945 closed

[2019-08-12 17:10] RobKraft commented on #988
Thank you sir, that is working for me after I modeled your repo.  I removed the value from my AuthenticationProviderKey, which I don't expect to need anyway: "AuthenticationProviderKey": ""

[2019-08-12 17:11] thiagoloureiro commented on #985
Hi, I think it's related to this no?

https://stackoverflow.com/questions/15572682/how-to-correct-parse-query-string-in-c-sharp-if-value-contains-ampersand

If I understood correctly you need a ampersand in the querystring right?

from StackOverflow:

[2019-08-13 17:07] scottrangerio commented on #985
Hey,

Apologies, after rereading my initial post it definitely could of been clearer. The problem is that my query string has been correctly url encoded but the ClaimsToQueryString is removing said encoding.

Lets imagine I have a route setup which uses the ClaimsToQuery functionality to add the subject claim to the query string

Expected behaviour:

If I have a query string of `"?searchTerm=m%26s

[2019-08-13 22:15] Marusyk opened #989 "Hide FileConfiguration and OutputCache controller from Swagger"
## Expected Behavior / New Feature
I do not need to display FileConfigurationController and OutputCacheController in my swagger of API Geteway.

## Actual Behavior / Motivation for New Feature
![Screenshot_1](https://user-images.githubusercontent.com/9221694/62981007-d1424680-be30-11e9-8897-c016b83e1273.png)

## Steps to Reproduce the Problem

  1. Install-Package Ocelot -Version 13.5.2

How to hi

[2019-08-13 22:18] #514 closed

[2019-08-13 22:56] pablosistemas commented on #396
@licjapodaca Great, man! You saved the day!

[2019-08-13 23:04] licjapodaca commented on #396
You're welcome :)

[2019-08-15 06:04] beachwalker commented on #438
... unable to get DelegationHandlers to work. Does this feature still exist?

[2019-08-15 12:40] darcon77 commented on #989
Implement custom API Explorer like so:
[code]

Then replace the instance of IApiExplorer class in DI container with the custom one: `Services.Replace(typeof(IApiExplorer), new FilteredApiExplorer(apiExplorer));`

[2019-08-15 15:09] Marusyk commented on #989
Thanks @darcon77,
I know how to do it in swagger, but I hope that there are some setting in Ocelot for this.

For now I've solved it in this way

[code]
then
[code]
it's tricky, I'm looking for another way

[2019-08-17 09:35] thangchung commented on #438
@beachwalker I have got the same issue. The DelegationHandlers could not work, I did the same with the documentation suggested, but no luck

[2019-08-18 09:42] beachwalker commented on #915
… so what did you changed then? Not able to get it working even with just having
[code]
as config.

[2019-08-18 15:08] fdjvf commented on #859
how did you manage to solve this? I have the same problem

[2019-08-19 18:06] andersondepaiva opened #993 "403 - Http Options - AllowedScopes"
## Expected Behavior / New Feature
Return 200 - OK, in the cases that http method is OPTIONS in the route with AllowedScopes configured.

## Actual Behavior / Motivation for New Feature
Returned 403 - Forbbiden

## Steps to Reproduce the Problem
1. Ocelot-Confg
{
      "UpstreamPathTemplate": "/api/service-test/{everything}",
      "DownstreamPathTemplate": "/{everything}",
      "DownstreamScheme

[2019-08-23 15:07] ToeToeAung commented on #447
@TomPallister  May I know what is the solution for this?

[2019-08-23 15:09] ToeToeAung opened #995 "Ocelot.Errors.Middleware.ExceptionHandlerMiddleware"
I am getting error in ocelot and consul api gateway. Please take a look.
 Ocelot.Errors.Middleware.ExceptionHandlerMiddleware[0]
      requestId: 0HLP7RAM3DIPM:00000002, previousRequestId: no previous request id, message: Exception caught in global error handler, exception message: No such host is known, exception stack:    at System.Net.Http.ConnectHelper.ConnectAsync(String host, Int32 port, Can

[2019-08-24 03:35] ToeToeAung commented on #995
1.Consul Service Discovery

![image](https://user-images.githubusercontent.com/5344377/63632097-f752bc80-c662-11e9-8d77-544700c7b036.png)

2.API

API is working well.

![image](https://user-images.githubusercontent.com/5344377/63632102-02a5e800-c663-11e9-9746-433ad50ab263.png)

3. API Gateway

API call in postman : http://localhost:7000/api/getnerateconfigservice/GetClientID

{
    "ReRoutes": [

[2019-08-24 07:32] djrhodes commented on #995
What is ‘consul’ in the Host? Is that in you hostfile? If I’m running
consul locally i’ll point to localhost or 127.0.0.1

On Sat, 24 Aug 2019 at 04:35, ToeToeAung <notifications@github.com> wrote:

[2019-08-24 08:40] ToeToeAung commented on #995
Hi @djrhodes ,

I have tried with localhost & 127.0.0.1 as well, It is still getting error.
I am following the sample as

[2019-08-24 10:27] ToeToeAung commented on #995
Hi @TomPallister,

Could you take a look this. Thanks in advance.

[2019-08-26 07:15] winlj commented on #995
ocelot version  is 13.5.2???

[2019-08-26 07:21] ToeToeAung commented on #995
Yes. @winlj  I tried test with 13.5.2 and 13.5.0.

[2019-08-26 07:23] winlj commented on #995
13.5.1 ok

you  try

[2019-08-26 07:24] ToeToeAung commented on #995
Is it because of json file and client call? http://localhost:7000/generateconfigservice/apiname

{
    "ReRoutes": [
        {
            "DownstreamPathTemplate": "/api/{everything}",
            "DownstreamScheme": "http",
            "DownstreamPort": 7104,
            "UseServiceDiscovery": true,
            "LoadBalancerOptions": { "Type": "RoundRobin" },
            "ServiceName": "generate

[2019-08-26 07:25] ToeToeAung commented on #995
7000 port is the for the base Url

[2019-08-26 07:45] ToeToeAung commented on #995
Yes. Now I am trying with 13.5.1 and still getting error.

[2019-08-26 07:51] winlj commented on #995
o my god

[2019-08-26 07:59] ToeToeAung commented on #995
Any error found?

[2019-08-26 08:00] ToeToeAung commented on #995
Any issue?

[2019-08-26 09:01] djrhodes commented on #995
Hi, sorry you’re still having issues with this. A couple of things don’t seem right. Firstly, the address in your service instance config in Consul is pointing to generateconfigservice:80 (but looks like you’re running the downstream service on localhost:7104)? Though it looks healthy in consul so wouldn’t expect an error. Can you post your consul config including the healthcheck endpoint?

Second

[2019-08-27 03:24] ToeToeAung commented on #995
Hi djrhodes,

How can we made a call service using service name?

On Mon, Aug 26, 2019 at 5:02 PM djrhodes <notifications@github.com> wrote:

[2019-08-27 03:26] ToeToeAung commented on #995
http://localhost:7000/generateconfigservice/apiname. is it correct way to call?

[2019-08-27 17:18] djrhodes commented on #995
Looking at your route config, assuming your gateway is on localhost:7000 it
would be  http://localhost:7000/api/generateconfigservice/getconfigid

On Tue, 27 Aug 2019 at 04:26, ToeToeAung <notifications@github.com> wrote:

[2019-08-28 12:45] tdejong-tools4ever commented on #674
When trying to use ocelot to proxy between my service and client I have also encountered the issue of the connection not closing properly after the service shuts down. This, however, seems to be an issue in the WampSharp library as it does not send a proper WebSocket closed event.

I do however assume that when the service WebSocket gives an exception with error ConnectionClosedPrematurely somethi

[2019-08-28 13:40] timmyyyyy opened #999 "Problem with modify request content/body"
Hello, I'm trying to modify the request body in ocelot 'PreAuthenticationMiddleware'. Simple code example below.

[code]

It seems like ocelot is ignoring changes and passing the 'old' unmodified request to the downstream. From the logical point of view if 'DownstreamRequest.Content' has setter, there should be possibility to modify it. Is there a bug or I'm doing something wrong? I have to modify

[2019-08-28 17:57] pathakravee opened #1000 "when passing query params, the routed URL removes '?' and has a single space. Not working with POST methods sending data in the request body. 404 error being thrown."
## Expected Behavior / New Feature
1) /ApiGateway/person/GetPersonDetails?id=1 = > /Api/person/GetPersonDetails?id=1

## Actual Behavior / Motivation for New Feature
1) /ApiGateway/person/GetPersonDetails?id=1 = > /Api/person/GetPersonDetails id=1

## Steps to Reproduce the Problem

  1. configure reroute options with {catchAll} or {everything}
  2. have APIs POST methods with data or GET with que

[2019-08-28 23:01] jsantanders opened #1001 "Ocelot is not working with .NET Core 3"
## Expected Behavior

the following method  extension
[code]
add the Ocelot Gateway to the AspNetCore project.

## Actual Behavior
throws an exception

[code]
possible related to [this](https://github.com/aspnet/AspNetCore/issues/7220)

## Steps to Reproduce the Problem

  1. Try to add ocelot with the method extension.

## Specifications

  - Version: 13.5.2
  - Platform: Windows, .NET Core SDK 3

[2019-08-28 23:42] rynowak commented on #1001
ASP.NET Core team here - this was API was moved to another assembly as part of removing Newtonsoft.Json from the core of the platform.

If you want to keep using this you still can by referencing https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.NewtonsoftJson/3.0.0-preview8.19405.7 but you'll have to cross compile. Please ping me or @pranavkm if you need help with migration to 3.0

[2019-08-29 13:58] tulde23 opened #1002 "Asp.Net Core Identity Authentication With Cookies"
If anyone is looking to use cookies based authentication with .net core Identity here is some config to get you going.

[code]
The important thing to notice here is "Identity.Application" passed for "AuthenticationProviderKey".  I found this value at Microsoft.AspNetCore.Identity.IdentityConstants.ApplicationScheme in netcore 2.2

## Startup.cs ##
[code]
## AuthController ##
[code]

[2019-08-30 14:59] Fabman08 commented on #396
@licjapodaca I'm trying to forward some claims value to route parameter, but in the destination api service these values has the placeholder name instead of the claim value.

My ocelot.json
` "ReRoutes": [
{
	"DownstreamPathTemplate": "/api/test/{company}/{customerCode}",
	"ChangeDownstreamPathTemplate": {
		"company": "Claims[company] > value > |",
		"customerCode": "Claims[customerCode] > value

[2019-08-30 17:59] licjapodaca commented on #396
@Fabman08 Hi there, first of all, try to use the same Business Logic I used in this issue, check my `configuration.json` file that correspond to your `ocelot.json` file, and use the same properties to transform your Claims into Request Headers, be based on this resource link ([**Claims Transformation**](https://ocelot.readthedocs.io/en/latest/features/claimstransformation.html)), and in the API se

[2019-09-02 06:45] jmezach commented on #919
Just so you know, there is now an open and transparent process for joining the .NET Foundation using this repo: https://github.com/dotnet-foundation/projects.

[2019-09-02 07:13] thiagoloureiro commented on #919
That's cool, i've joined .net foundation this month, I think we should push into it.

[2019-09-02 13:32] ovidiubuligan opened #1003 "Service Fabric DownstreamHeaderTransform "{DownstreamBaseUrl}, {BaseUrl}" config not working."
## Expected Behavior / New Feature
It should be possible to handle 302 redirects from within **Service Fabric** with the config taken from the documentation:

[code]

Returning a Redirect from a service behind ocelot will give Location : `http://10.0.0.4/newLocation` . problem is that {DownstreamBaseUrl} is resolved with the naming service Url .

## Actual Behavior / Motivation for New Feature

Lo

[2019-09-02 19:55] hiredgunhouse opened #1004 "Merging configuration and multiple environments"
What is the point of this line
`string excludeConfigName = env?.EnvironmentName != null ? $"ocelot.{env.EnvironmentName}.json" : string.Empty;` ?
Assuming I can have multiple configuration files for different environments  (i.e. Development, Staging, etc.) this means that the configuration for my current environment is ignored while configurations for other environments are actually loaded.
Isn't

[2019-09-03 14:51] dnx231 opened #1005 "RegEx in ReRoutes"
Hi,
is it possible to use RegEx in UpstreamPathTemplate?

[code]

The First Downstream Host only returns Reports from ID 1-3, the second from 4-5...

[2019-09-04 01:53] ggoyal-Axum opened #1006 "Ability to return status code other than 200 via Aggregation process"
Hi,
By default ocelot will return 200 even if any of the down streams returns 404, 401 etc during aggregation process. Is there a way to customize that behaviour?

Our UI-client will make decision based on returned API status code.
for example, if the status code is 401 then show a unauthorize screen
or if the status code is 400 then may be a different screen to show the issue and so on.

I have l

[2019-09-04 07:23] #980 closed

[2019-09-06 07:02] ggoyal-Axum opened #1007 "token exchange"
is there still no support for this feature?
https://github.com/ThreeMammals/Ocelot/issues/101

[2019-09-06 07:03] ggoyal-Axum commented on #1007
typo

[2019-09-06 07:05] ggoyal-Axum commented on #101
is there still no support for this feature?

[2019-09-06 08:13] ggoyal-Axum commented on #1007
I came across this solution which could be a promising option
https://github.com/clawrenceks/ReferenceTokenExchange

[2019-09-06 08:21] ggoyal-Axum commented on #1004
interesting, i recently came across the same. It may not answer your question but here is my take on it.
In order to support environment specific config via config merge, i think we will need
ocelot.([a-zA-Z0-9]*).{env.EnvrionmentName}.json

[2019-09-06 09:45] NicolasPrivatViseo opened #1008 "Ability to have RemoteIpAddress in logs"
## Expected Behavior / New Feature
Add RemoteIpAddress in log message (IP of caller)

## Actual Behavior / Motivation for New Feature
Current log message is
`_logger.Log[Level]("requestId: {requestId}, previousRequestId: {previousRequestId}, message: {message}", requestId, previousRequestId, message);`

New log message could be
`_logger.Log[Level]("remoteIpAddress: {remoteIpAddress}, requestId: {r

[2019-09-06 15:09] arro000 commented on #746
I've tried  the override authorisation middleware method , but the claims are strictly converted in a Dictionary<string,string> format before the middleware was called ;

This format break the Route because the value cannot be converted into a string;
<pre>"RouteClaimsRequirement": {
	"Role": ["User", "Admin"]
}</pre>

This format also don't work because the Role key in dictionary will be ovverrid

[2019-09-06 15:32] arro000 commented on #746
((AUTHORIZATION LOGIC)) <b> Example</b>
<pre>
                Regex reor = new Regex(@"[^,\s+$ ][^\,]*[^,\s+$ ]");
                MatchCollection matches;

                Regex reand = new Regex(@"[^&\s+$ ][^\&]*[^&\s+$ ]");
                MatchCollection matchesand;
                foreach (KeyValuePair<string,string> claim in required)
                {
                    matches = reor.Matc

[2019-09-08 12:32] hiredgunhouse commented on #1004
@ggoyal-Axum yes, I think your solution is actually what makes sense and what I need.

Are you, Ocelot guys, fine with that approach? Would like a PR?

[2019-09-09 10:29] Fabman08 opened #1010 "Missing claimsToDownstreamPath in releases code"
Hi guys,

I'm trying to use the "ChangeDownstreamPathTemplate" to forward some claims value to destination api following your instruction on your [Documentation](https://ocelot.readthedocs.io/en/latest/features/claimstransformation.html), but actually it doesn't work.
I've cloned the Development branch and it works; I've took a look in the code and I've found in ReRouteCreator class at the SetUpDo

[2019-09-09 18:43] AmadorSV commented on #977
Have you managed to solve this? I'm having the same issue.

[2019-09-10 13:30] trickreich commented on #941
Maybe we could add here some more information:
SSE (Server-Sent Events) isn't working for me

[2019-09-10 22:51] ysris commented on #815
For those who came accross this post for trying to send not extended ascii characters (as french accents, chinese characters etc...), here is a resume :

Modify you code from :
`client.DefaultRequestHeaders.Add("YOUR_HTTP_HEADER", "yourvàluewithspécialcharacters");`
To :
`client.DefaultRequestHeaders.Add("YOUR_HTTP_HEADER", Convert.ToBase64String(Encoding.UTF8.GetBytes("yourvàluewithspécialcharact

[2019-09-11 14:10] dennismdejong commented on #1001
This is still an issue, just tried the following combination:

- Ocelot 13.8.0-alpha0016
- Microsoft.AspNetCore.Mvc.NewtonsoftJson 3.0.0-preview9.19424.4
- Microsoft.NETCore.App 3.0.0-preview7-27912-14

[2019-09-14 02:02] jrsanbornjr commented on #360
I'm looking for this functionality also. Described spot on earlier " v1 will be routed to Api 1, v2 to Api 2". Any recent news on how this effort is going?? Thanks

[2019-09-14 22:42] jsantanders commented on #1001
Just following the instructions that @rynowak mention, is straightforward run the project with net core 3. I suppose the Ocelot team want to use the new Json native library, but if it help I can do a PR with the project using the Newtonsoft library.

[2019-09-15 07:15] hamedmaleki1366 opened #1011 "Can't get User requested host and port in Microservices"
hi all.

## How can i get user requested Url in Microservices?

i have ocelot in domain.com and also i set sub1.domain.com and sub2.domain.com to domain.com.

now i want get sub1.domain.com or sub2.domain.com in ASP.Net Core Microservice to know what data user wants.

what should i do ?

how can i pass dynamic subdomain name to internal microservice throght Ocelot??

this is my ReRoutes :
 `"Downs

[2019-09-15 13:17] rasoulian opened #1012 "Why cannot add nested config?"
Hi,
sometimes we need to add nested file and manage files on solution such as:
ocelot.identity.json
ocelot.identity.mob.json
ocelot.identity.spa.json
ocelot.identity.web.json

https://github.com/ThreeMammals/Ocelot/blob/60e3a3737a7f8fd285f7969713fb0f925d5e6aaa/src/Ocelot/DependencyInjection/ConfigurationBuilderExtensions.cs#L43

[2019-09-16 07:12] huanbd opened #1013 "Can't use UseTracing in GlobalConfiguration"
## Steps to Reproduce the Problem

  1. Set UseTracing in HttpHandlerOptions of GlobalConfiguration

   Have not log trace inserted to Butterfly

[2019-09-17 10:19] kvskranthikumar commented on #908
Any solution?
I am also facing the same issue.

[2019-09-17 16:28] hikalkan commented on #1001
Hi all. Any plan to move asp.net core 3.0 without @rynowak's temporary solution..?

[2019-09-17 17:06] rwin opened #1016 "Ocelot is not routing the request correctlym in Docker containers"
## Expected Behavior
I have a solution with two projects. One project is the WebApi and the  other one is the WebGateway (Ocelot). With the Docker-Compose file i start the services and also Consul.

In the WebGateway project I have two Ocelot configuration files. One is working properly (configurationWorking.json) and the other one unfortunately not (configurationNOTworking.json). You can switch t

[2019-09-18 02:51] daisen commented on #954
这是7月一次[#909](https://github.com/ThreeMammals/Ocelot/pull/909)，支持SSL认证加入的处理。如果有node，下游地址使用node.name。但是dns肯定不认识的。我也反映了下，不知道这边应该怎么做，consul本身是有dns服务器的

[2019-09-18 03:10] daisen commented on #995
@ToeToeAung this error is because of  new pull request(#909 ) for ssl failure which changing address to node name

[2019-09-18 03:43] daisen commented on #1016
#909

[2019-09-19 03:57] winlj opened #1017 "No such device or address --version13.5.2"
Ocelot.Requester.Middleware.HttpRequesterMiddleware[0]
      requestId: 0HLPSMKAMRU0A:00000007, previousRequestId: no previous request id, message: Error making http request, exception: System.Net.Http.HttpRequestException: No such device or address ---> System.Net.Sockets.SocketException: No such device or address
         at System.Net.Http.ConnectHelper.ConnectAsync(String host, Int32 port, Can

[2019-09-19 08:27] Yavari opened #1018 "Dynamic re-reoutes getting System.NullReferenceException"
## Expected Behavior
I am getting the exception bellow when I try to setup Ocelot with Eureka and dynamic re-routes following the documentation at https://ocelot.readthedocs.io/en/latest/features/servicediscovery.html

The expected behavior is that dynamic routing would working without throwing an exception.

## Actual Behavior / Motivation for New Feature

	fail: Ocelot.Errors.Middleware.Exceptio

[2019-09-20 08:06] MinhMit opened #1020 "Can't request to endpoint with dynamic PathTemplate"
## Expected Behavior / New Feature
Need request to endpoint when use dynamic {everythings}

## Actual Behavior / Motivation for New Feature
I have a service with url:

http://logging.mydomain.com/api/logs
http://logging.mydomain.com/api/logs/trace
http://logging.mydomain.com/api/logs/write
And a api gateway with url:
http://api.mydomain.com

in ocelot configuration file:
[code]
I just can redirect

[2019-09-20 15:09] cjsmith26 commented on #657
Can you please show how you have Ocelot configured to get NTLM working. Startup.cs and configuration file for ReRoutes

[2019-09-21 09:15] EngRajabi opened #1021 "asp api controller post method from body"
run ocelot 13.5.2
microservice 2.2
post method, from body parameter
error : {
    "type": "https://tools.ietf.org/html/rfc7231#section-6.5.13",
    "title": "Unsupported Media Type",
    "status": 415,
    "traceId": "0HLPUDC9Q7B3O:00000004"
}

[2019-09-21 10:12] geffzhang commented on #1001
@hikalkan  https://github.com/geffzhang/Ocelot/tree/netcore3.0 I'm working on upgrading .net core 3.0 and there are still several unit tests that haven't passed

[2019-09-21 14:56] hikalkan commented on #1001
Thank you @geffzhang for informing me and the community :)

[2019-09-22 06:53] EngRajabi commented on #1021
if used nuget package https://github.com/getsentry/sentry-dotnet, this bug will occur

[2019-09-22 11:18] usama-azakaw opened #1022 "Does Ocelot support conditional routing ?"
I want to route the request only if there's a bearer token present in the header of the request. (I don't want to validate the token at Ocelot).

[2019-09-23 02:42] dalyl commented on #603
I have more than one machine, one of which is out of order, how to find the available machine automatically（Using static routing tables）

[2019-09-23 03:02] dalyl opened #1023 "System.Net.Sockets.SocketException: Connection refused"
## Disaster tolerance and duplication

I have more than one machine, one of which is out of order, how to find the available machine automatically（Using static routing tables）

##  Next Service

For example: Nginx  => proxy_next_upstream

[2019-09-23 08:20] catcherwong opened #1024 "Mark Issues With Meaningful Labels"
Hi all,

Maybe adding some labels for the issues can help people to find out what they need quickly.

Creating some new labels, such as `area-Routing`, `area-RequestAggregation`, `area-RateLimiting` . ect.

After labeling the issues, people can know the main topic of an issue in the issues page.

Here is a sample of AspNetCore

https://github.com/aspnet/AspNetCore/issues?q=is%3Aissue+is%3Aopen+lab

[2019-09-23 15:03] mrclayman commented on #360
Hi @jrsanbornjr , I created a pull request #964 a few months ago for the guys to have a look at what I had done. I haven't received any feedback so I do not know if they had a look at it in the meantime.

However, I have gotten to the point where I would prefer being able to route based on claim values so I will likely look into that. Therefore, it might be preferable if my pull request was not ac

[2019-09-24 04:06] winlj opened #1026 "read Downstream url error"
message: Downstream url is http://business-a:3007/code/api/test/printf
uri is nodename   ,   why    not Downstream ip address?

 Version:13.5.2  uri is nodename
 Version:13.5.1  uri is Downstream ip

consul client reg:---->consul agent -bind=192.168.0.78 -client=192.168.0.78 -data-dir=/home/tmp/consul -node=business-a -join 192.168.0.26

## Specifications

  - Version:13.5.2
  - Platform:
  - Subs

[2019-09-24 05:26] winlj commented on #954
这个问题你解决了吗?

[2019-09-24 07:33] Mortana89 commented on #980
I still see this issue with even changing the target framework of our application to netcoreapp 3.0

[2019-09-24 09:08] winlj commented on #954
这个问题我尝试着解决了一下,我也不会英语.
13.5.1的版本或者以前的版本  ocelot都是读取的 consul 客户端节点的ip地址,但是13.5.2以后的 版本就开始读取consul 客户端节点的node名称,由于我是centos系统,我在run consul 非server端的时候 我把节点名称设置成了  计算机的hostname名称,然后在centos里把所有的hostname跟ip进行了绑定

经过以上的处理,就解决了这个问题,希望能到你们帮助.

[2019-09-24 09:09] winlj commented on #954
补充一下,如果大家使用的是docker容器,一般就不会有这种情况发生.

[2019-09-24 09:13] daisen commented on #954
改主机名是没问题的，这跟ocelot无关，只是dns根据hostname能够解析出主机ip

[2019-09-24 09:15] winlj commented on #954
但是我感觉改主机名还是不对的,不应该这样,ocelot既然能访问,还是应该按照以前的ip方式去访问才对.

[2019-09-24 09:21] winlj commented on #954
对的,看后续作者如何处理了.我就先这么用着了.

[2019-09-24 09:26] thiagoloureiro commented on #954
Guys, please it’s possible to use English?

Sent from my iPhone

[2019-09-24 09:27] thiagoloureiro commented on #954
We can’t understand to help you guys.

[2019-09-24 09:31] daisen commented on #954
ocelot with  consul dynamic reroute use node name instead of service host ip after pr (#909). but the node name is not always host name. so our code get error of host error of dns.

[2019-09-24 09:48] saber-wang commented on #980
@Mortana89  You need to compile Ocelot yourself and modify incompatibilities，You can see #1025 .

[2019-09-25 01:32] winlj opened #1028 ".net core 3.0 with ocelot loadtype error"
.net core 3.0 last version

ocelot not run

error:
System.TypeLoadException:“Could not load type 'Microsoft.Extensions.DependencyInjection.MvcJsonMvcCoreBuilderExtensions' from assembly 'Microsoft.AspNetCore.Mvc.Formatters.Json, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.”

startup.cs
services.AddControllers().AddNewtonsoftJson();
services.AddOcelot().AddConsul();

[2019-09-25 14:59] pablopioli commented on #1028
See
https://github.com/ThreeMammals/Ocelot/issues/1001

this is a known problem caused by Net Core changing the default Json encoder

[2019-09-25 18:12] sachinjagdale commented on #360
I am also waiting for this functionality to support my legacy v1 api and v2 microservice. Will need to have unique gateway route which only be differentiated on header.

[2019-09-25 19:04] jrsanbornjr commented on #360
Claims could also be good. I was looking to differentiate V1 / V2 for a
service by a header value, but I think claims could do the same thing. my
V1 service requires no authentication or authorization, but I'd like to add
a bearer token requirement to V2 to restrict / log client activity.

On Mon, Sep 23, 2019 at 10:04 AM mrclayman <notifications@github.com> wrote:

[2019-09-25 19:39] sachinjagdale commented on #360
Thanks jrsanbornjr for suggestion. Seems good option if routes differentiated on claims as well. Either header or claims feature support needed to differentiate v1 or v2 routes . Will also check on how to extend ocelot in my code for forwarding requesr to correct downstream routes based on header/claims. Please suggest if you have done something like that?

[2019-09-26 06:56] jmezach commented on #705
@TomPallister I realise that this issue is closed for quite a while now, but I would love to take on a more active role in this project. Is there some place that the maintainers hang out in?

[2019-09-26 10:38] Ramakrish opened #1029 "How to call the Ocelot API Gateway (using dot net core) from angular 7"
Hi Team

We are implemented the Ocelot in dot net core project..

We are created the reroutes for two different kind of API's.

While running the  Ocelot with reroutes in my browsers it provide the expected result.

We need to call the same Ocelot API gateway reroute URL from angular 7 project.

Is it possible to call Ocelot APIGateway URL from angular 7??
Kindly help me on that..

[2019-09-26 14:08] RobKraft commented on #417
I have the same problem.  I can't seem to get my deployed site to listen on anything other than Localhost:5000.  My design is that I expect apps calling my REST api to first hit our ocelot gateway and it will reroute to the correct paths in our actual API.  It works on my local machine, but not when I deploy to our servers.  My config looks like this:
{
  "ReRoutes": [
    {
      "DownstreamPathT

[2019-09-26 20:53] RobKraft commented on #417
For the record here, I got this resolved.  First, after finding an issue mentioned in ASP.Net Core - but the better fix is further below.  Here was my first fix:
`            new WebHostBuilder()
                .UseContentRoot(Directory.GetCurrentDirectory())
                .UseKestrel()
                .UseIIS()
                .UseIISIntegration()
                //I added this configure servi

[2019-09-26 20:54] RobKraft commented on #417
Then I changed the entire start of my app to this:
[code]

[2019-09-27 05:59] embix commented on #854
Closing as the feature is already merged.

[2019-09-27 05:59] #854 closed

[2019-09-27 08:32] Loongle commented on #1029
you need configuration your stratup. additional cors configuration

[2019-09-27 08:49] winlj commented on #1028
I set it exactly the same way, but still prompted the same error.

Microsoft.AspNetCore.Mvc.NewtonsoftJson3.0.0
Ocelot13.8.0-alpha0019

[2019-09-27 16:26] Leandropintogit commented on #1011
Hi

I solved it that way

var configuration = new OcelotPipelineConfiguration
            {
                PreQueryStringBuilderMiddleware = async (context, next) =>
                {
                    var host = $"{context.HttpContext.Request.Scheme}://{context.HttpContext.Request.Host.Value}";
                    context.DownstreamRequest.Headers.Add("OriginalHost", host);

[2019-09-27 17:25] #1011 closed

[2019-09-27 17:56] Leandropintogit commented on #1026
Hi

Its a known issue

#909

[2019-09-27 18:05] Leandropintogit commented on #934
#909

[2019-09-28 13:14] YarolsavZinchenko commented on #1001
Hi all! Do you know when upgrade to .net core 3.0 will be ready? I think not only I wait for this really important update

[2019-09-30 02:46] zhanghaiboshiwo commented on #1028
I also have this problem, setting up NewtonsoftJson3.0.0 is also useless

[2019-10-01 09:31] osovitskiy commented on #792
@serjebulavsky
You can workaround problem by using delegating handler like this without turning off buffering
https://github.com/osovitskiy/ocelot-sample/blob/master/Gateway/MissingBodyDelegatingHandler.cs

[2019-10-01 09:40] serjebulavsky commented on #792
Thank you @osovitskiy, will have a look

[2019-10-01 13:23] osueboy opened #1031 "Ocelot with Jwt authorization doesnt forward token to endpoint"
Update: Disregard this, https redirection was losing the authentication header. Everything works

This seems to work on 2.0.2

Hi, sorry to post question like this, i just dont know what else to do, ive read docs, i ve read examples, nothing works.

both config in startup send the same data as seen in catcherwong examples.
Everything is correct, but it seems gateway is not forwarding the authoriza

[2019-10-04 03:23] Zero-Xiong commented on #1001
same issue faced. waiting for the final solution

[2019-10-06 07:07] EngRajabi commented on #1010
ChangeDownstreamPathTemplate not working
version 13.5.2

[2019-10-07 11:33] JakubSlonka commented on #1010
Any news on this issue? It seems like it could be easily fixed for next release? It would be really helpful to have this functionality.

[2019-10-07 11:56] mehranzand commented on #1001
I have same issue! is anybody knows .net core 3 version update when will be ready?

[2019-10-07 18:26] vip32 commented on #1001
yes issue also appears in final 3.0.100

[2019-10-08 01:37] wswind commented on #566
I think the concern is from this document:

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2#when-to-use-kestrel-with-a-reverse-proxy-1

It encourages you to use reverse proxy . But ocelot is a reverse proxy too.

[2019-10-08 18:42] hikalkan commented on #1001
I have a talk on a Microservice solution in ~2 weeks and the solution is using Ocelot with ASP.NET Core 3.0 (https://net.developerdays.pl/microservice-implementation-tools-patterns-practices/).

I don't want to rollback to .net core 2.2 😄

Any estimation about the first .net core 3.0 compatible release?
I know this is an open source project. Just kindly asking. Thanks.

[2019-10-08 18:54] martincostello commented on #1001
Try tracking #1025 for updates.

[2019-10-08 23:28] geffzhang commented on #1028
Try tracking #1025 for updates.

[2019-10-09 05:00] myesn commented on #953
你好，请问现在有解决方案吗？

[2019-10-09 05:03] WuyanLee commented on #953
可以重写Mapper. IRequestMapper这个接口的类，并去掉Host实现

[2019-10-09 05:10] myesn commented on #953
好的，谢谢你

[2019-10-09 05:20] #953 closed

[2019-10-09 08:23] wast commented on #1029
Yes you can. Read [documentation ](https://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html).

Close this. It's not an issue. Use Stack Overflow if you can't manage to do it.

[2019-10-10 03:50] esofar commented on #1028
In other words, the .net core 3.0 still can't use ocelot now?

[2019-10-10 15:45] letrung-it commented on #1028
Hi, did we already fixed this issue yet? or do we have any plans to update to Net Core 3.0?

[2019-10-10 16:29] jondmcelroy commented on #1028
Currently Ocelot does not work with DotNet Core 3.0, look at #1025 for status.

[2019-10-12 01:04] wswind commented on #1031
hi check this out, hope it helps
https://github.com/wswind/OcelotAuthenticationDemo

[2019-10-12 02:47] aioloswong opened #1034 "Replace butterfly with skywalking"
## Expected Behavior / New Feature
As butterfly is no longer being maintained，please replace it with apache skywalking.
https://github.com/SkyAPM/SkyAPM-dotnet
https://github.com/apache/skywalking

[2019-10-12 08:25] mingyangzhu opened #1035 "net consul client Stopped maintenance"
now ,.net consul  client stopped maintenance :https://github.com/PlayFab/consuldotnet

ocelot  considered  switch .net consul client?
e.g: https://github.com/Drawaes/CondenserDotNet

[2019-10-12 09:15] fawdlstty commented on #1001
Is this the problem of dotnetcore3?

[2019-10-12 14:30] midco-tylerjo commented on #908
Same issue for me.  Appear to be getting the same error even with all 3 options provided.  Would like to be able to only set TimeoutValue.

"QoSOptions": {
    "ExceptionsAllowedBeforeBreaking":3,
    "DurationOfBreak":1000,
    "TimeoutValue":5000
}

[2019-10-14 13:52] ChrisSwinchatt opened #1036 "Trigger an event or `ChangeToken` when the Ocelot configuration changes"
## New Feature

I'd like to be able to react when Ocelot's internal configuration changes. I'd like to develop this myself but I want to know if it's likely to be accepted (it will be a small change and won't introduce any new dependencies) and if you have any preferences/concerns about the implementation ~~before I get started on it~~.

## Motivation for New Feature

See: https://github.com/Burgy

[2019-10-14 15:09] ChrisSwinchatt commented on #1036
Here's a preview pull request on my fork: https://github.com/ChrisSwinchatt/Ocelot/pull/1

[2019-10-14 15:55] viveksinghnegi7 commented on #849
Facing similar issue.

[2019-10-15 09:46] sweetodev opened #1038 "Similar subrouting"
How would you re-reoute following two set of routes to different machines.

## - machine name: `customer`

[code]

## - machine name: `customerproduct`
[code]

ocelot.json

     {
      "ReRoutes": [
           // /products doesn't work, /products/4 works
        {  // /products (GET, POST), /products/4 (PUT, DELETE)
          "DownstreamPathTemplate": "/products/{id}",
          "DownstreamScheme

[2019-10-16 02:57] jiahengaa opened #1039 "Which nuget package version support netcore3.0？"
Which nuget package version support netcore3.0？

[2019-10-16 08:21] IMJacky commented on #1039
System.TypeLoadException:“Could not load type 'Microsoft.Extensions.DependencyInjection.MvcJsonMvcCoreBuilderExtensions' from assembly 'Microsoft.AspNetCore.Mvc.Formatters.Json, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.”

[2019-10-16 09:29] LGinC commented on #1039
目测今天应该发个预览版出来，支持3.0的

[2019-10-16 09:51] 690486439 commented on #1039
I am also waiting !!!

[2019-10-16 11:54] mkanakis opened #1040 "Authentication with SignalR"
Thanks for the good work!

##  New Feature
Is authentication for signalR on the plans? We are using signalR with IdentityServer4, to send data over to authenticated users, but I don't think Ocelot is supporting it currently, as stated in documentation.

## Motivation for New Feature
I am not sure of people who would use signalR without user authentication.

[2019-10-17 07:27] uvcreation opened #1041 "How to avoid calling down service in load balancer option"
## Expected Behavior / New Feature
Load balancer should able to recognize the down service and stop calling service or up the service.

## Actual Behavior / Motivation for New Feature
Load balancer is calling the service although the service is down and returning 500 internal server on every call.

## Steps to Reproduce the Problem

  1. Created two instance of the same module and run on different

[2019-10-17 07:35] catcherwong commented on #1041
Maybe you should use `Service Discovery` to solve this problem.

[2019-10-17 08:21] uvcreation commented on #1041
@catcherwong Is it possible without Service Discovery?

[2019-10-17 08:45] catcherwong commented on #1041
Without Service Discovery, you should remove the down service from the configuration by yourself.

[2019-10-17 09:27] uvcreation commented on #1041
@catcherwong Thanks for your prompt reply but I don't think it will solved my problem.
A QoS will just manipulate the status code to 503 from 500 but I want the Ocelot should able to UP the down service.

Do you know any other open source "API Gateway" which could help me with this situation?

[2019-10-17 12:46] catcherwong commented on #1041
Ocelot just forwards the requests to the downstream service.

If a service is not working properly, Ocelot can stop calling or enable `CircuitBreaker` to reduce the pressure on this service.

But Ocelot has no way to restore a down service to normal service.

[2019-10-18 07:03] GadgetGeekUK commented on #753
Would this allow routing restrictions, so that if certain values appear in the upstream route they will go to destination 1, if others appear go to destination 2?

Defining 2 ReRoutes is fine, but I want to have something like:

myurl/customer/(Bob|Andy)/accounts go to destination 1,
myurl/customer/(Other|Any|None)/accounts go to destination 2

Thanks.

[2019-10-18 07:54] danielearrighi commented on #827
Hello, we are having the exact same problem: point blank, usual traffic, usual requests per seconds, it started using 2 CPU.

I can only add some log from our IT management:
`procs -----------memory---------- ---swap-- -----io---- -system-- ------cpu-----
 r  b   swpd   free   buff  cache   si   so    bi    bo   in   cs us sy id wa st
 1  0      0 4572576   4172 25245588    0    0     0     0  753

[2019-10-18 08:23] winlj commented on #1039
除了预览版,依旧不好使

[2019-10-18 08:24] LGinC commented on #1039
最新的预览版也不好使啊

[2019-10-18 08:26] winlj commented on #1039
我打错字了,是出了.

[2019-10-18 22:00] Hbib-drif commented on #1039
Also waiting !

[2019-10-18 22:01] Hbib-drif commented on #1028
Same problem

[2019-10-21 00:33] winlj commented on #1039
Waiting in a hurry

[2019-10-21 07:40] Jarvan333 commented on #1039
still not working

[2019-10-21 08:26] allanhboy commented on #1039
引用13.8.0-alpha0019,并重写OcelotBuilder中添加AddNewtonsoftJson()方法,并重写ServiceCollectionExtensions,使其引用刚重写的类,目前没有发现问题

[2019-10-21 08:31] winlj commented on #1039
能贴下实现的代码吗?

[2019-10-21 10:41] allanhboy commented on #1039
在自己的Ocelot项目中添加将源码中OcelotBuilder类和ServiceCollectionExtensions类复制过来,并修改
OcelotBuilder类构造器方法中此段代码

this.MvcCoreBuilder = Services.AddMvcCore()
                  .AddApplicationPart(assembly)
                  .AddControllersAsServices()
                  .AddAuthorization()
                  .AddJsonFormatters();
替换成
this.MvcCoreBuilder = Services.AddMvcCore()
                  .AddApplicationPart(a

[2019-10-21 14:00] jiahengaa commented on #1039
@allanhboy That's not good idea.

[2019-10-21 22:26] JakubSlonka commented on #977
Any news regarding this issue? I am also having this problem.

[2019-10-22 09:05] mrclayman commented on #360
@sachinjagdale, are you going to try to implement this? I think I will finally be able to look into adding claim-based routing and placeholder support for claims and headers, so that we don't end up messing with the same code.

[2019-10-22 13:43] sunahr commented on #1039
when to expect this release?

[2019-10-23 22:24] Mo-ha-mmed commented on #1039
Still waiting guys

[2019-10-24 10:51] brook-w opened #1042 "... Unless I rolled my own Swagger implementation. ..."
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2019-10-25 00:50] winlj commented on #1028
Does anyone know when the author can solve this problem?

[2019-10-25 08:33] Jarvan333 commented on #1039
可行，先将就着用，等更新

[2019-10-25 09:59] jmezach commented on #1028
@winlj We have pull request #1025 ready to go which should fix this issue. We'll have to wait until one of the maintainers can merge it though.

[2019-10-28 07:24] #1001 closed

[2019-10-28 07:44] TomPallister commented on #1039
Ocelot.13.8.0.nupkg
Ocelot.Administration.13.8.0.nupkg
Ocelot.Cache.CacheManager.13.8.0.nupkg
Ocelot.Provider.Consul.13.8.0.nupkg
Ocelot.Provider.Eureka.13.8.0.nupkg
Ocelot.Provider.Kubernetes.13.8.0.nupkg
Ocelot.Provider.Polly.13.8.0.nupkg
Ocelot.Provider.Rafty.13.8.0.nupkg
Ocelot.Tracing.Butterfly.13.8.0.nupkg

I have just released....will be available on NuGet in 30 minutes

[2019-10-28 07:44] #1039 closed

[2019-10-28 07:45] TomPallister commented on #1028
Ocelot.13.8.0.nupkg
Ocelot.Administration.13.8.0.nupkg
Ocelot.Cache.CacheManager.13.8.0.nupkg
Ocelot.Provider.Consul.13.8.0.nupkg
Ocelot.Provider.Eureka.13.8.0.nupkg
Ocelot.Provider.Kubernetes.13.8.0.nupkg
Ocelot.Provider.Polly.13.8.0.nupkg
Ocelot.Provider.Rafty.13.8.0.nupkg
Ocelot.Tracing.Butterfly.13.8.0.nupkg

Have just released these to NuGet. Should be available in 30 minutes.

[2019-10-28 07:45] #1028 closed

[2019-10-28 09:45] SebastianMajewski commented on #360
@mrclayman great job. Are you planning add header value matching? I need it for my scenario.
Something like:
`"UpstreamRoutingHeaders": {
  "Headers": {
    "MyHeader": [ "value-{everything}" ]
  }
}`

[2019-10-28 14:25] jrsanbornjr commented on #360
Apologies! I've been sidetracked lately. I will have a look at this today.

On Mon, Sep 23, 2019 at 10:04 AM mrclayman <notifications@github.com> wrote:

[2019-10-29 05:32] bodagovalex commented on #657
Good afternoon, I have 2 site in IIS. 1- ocelot api gateway. 2-i microservices.

When authorizing directly through site 2, I easily go to it and log in.

When using ocelot, the authorization window constantly creeps out and is not authorized.

the above tips did not help

[2019-10-29 07:52] soumaz commented on #657
Hi,

Make the Authentication for Microservices as Windows and Ocelot as
anonymous. Let me know if this works for you.

On Tue, Oct 29, 2019 at 11:02 AM NoSkillNoLuck <notifications@github.com>
wrote:

--
*Thanks & Regards,*
Souvik Mazumdar
Mobile: +91-8861955677

[2019-10-29 08:15] colinangusmackay opened #1044 "13.8 is a breaking change from 13.5.2 (SemVer should have bumped this to 14.0)"
## Expected Behavior / New Feature

A minor version bump should contain new features or bug fixes only and not break existing builds. If a breaking change is introduced then perform a major version bump. For clarity and disambiguation my definition is `major`.`minor`.`patch`

If this can retarget to .netstandard 2.0 again then that would likely fix the breaking change. If there is a reason that fo

[2019-10-29 08:22] TomPallister commented on #1044
Yeh the contributors didn’t bump the commits as specified by gitversion. This wasn’t identified in code review.

Says you need to do this in the docs!!!!!!

I just came back to the project to do the release last night forgot about this part of the process.

Best case is someone ships a PR with a breaking change semver commit.

[2019-10-29 08:44] colinangusmackay commented on #1044
Mainly, I don't get why .NET Core 3.0 was targeted at all. To me it doesn't make sense for a class library. The only projects that I've seen target .NET Core x.x are application entry points and tests (which are arguably a type of application entry point anyway). Class libraries should typically target .netstandard in order to be more flexible.

Looking through the repo it looks like #1025 introdu

[2019-10-29 09:25] TomPallister commented on #1044
@colinangusmackay you know what work needs to happen to get it back to standard?

[2019-10-29 14:55] ahmadtec commented on #445
When I apply your code I got an error on that line of code
"IServiceCollection" does not contain a definition for "AddCustomAuth"

[2019-10-30 06:27] 2821840032 commented on #849
Same, so I came.

[2019-10-30 06:29] 2821840032 commented on #849
Use the same upstream pathtemplate
That's the problem.

[2019-10-30 12:33] ghost opened #1045 "Unexpecte behavior on cancelled request"
## Expected Behavior
On a cancelled request I would expect to find a single logged item and have RequestCanceled as error code. Also I would expect to have no stack trace information given the context, just the error code and the request path.

## Actual Behavior
I have 2 identical log items and the error code is UnableToCompleteRequestError. Below is how a log item looks.

[code]
## Steps to Repr

[2019-10-30 15:30] gurelsoycaner opened #1047 "Ocelot IHostBuilder and IWebHostBuilder issues"
## Expected Behavior / New Feature
Hi,

I'm having this issue after updating my system to .Net Core 3.0

![image](https://user-images.githubusercontent.com/5128170/67872155-a10e6800-fb42-11e9-8d40-ca2c88a79baf.png)

I need to dynamically create ocelot.json base on my environment but I'm getting this error
**"cannot convert from Microsoft.Extension.Hosting.IHostEnvironment to Microsoft.AspNetCore.H

[2019-10-30 21:59] gchadid commented on #738
hi, this feature would be great, any update?

[2019-10-31 00:23] catcherwong commented on #1047
You can use `ConfigureWebHostDefaults` to do that.

Here is a sample that you can take a look.

[code]

[2019-10-31 06:45] gurelsoycaner commented on #1047
Thanks, you've saved my day.

[2019-11-01 09:29] JayChuah95 opened #1049 "Ocelot Load Balancer Not Working with Eureka Service Discovery Provider"
## Expected Behavior
Ocelot to reroute to correct downstream instance

## Actual Behavior
Hit "localhost is currently unable to handle this request."
"HTTP ERROR 500"

## Steps to Reproduce the Problem
  1. I had register the two instance to eureka service discovery by using the json shown as below
Service 1
[code]
Service 2
[code]
  2. My ocelot.json shown as below
[code]

## Specifications
  - F

[2019-11-01 09:55] JayChuah95 commented on #1049
[https://github.com/JayChuah95/ApiGateway](url)
Project Linked Here

[2019-11-01 09:59] JayChuah95 commented on #1049
My Program.cs
[code]

[2019-11-01 14:46] snb83 commented on #941
I've faced with same problem. Our .NET Core backend sits behind API Gateway (Ocelot) and I've added SignalR hub recently. We only need one-way communication from backend to SPA (front-end app). Server-Sent Event (SSE) transport is one of three options SignalR provides and it looks like a perfect lightweight candiate. Client app works flawlesly when it is connected direcetly to the backend (which i

[2019-11-01 22:45] souchprod commented on #1040
Definitely interested by it, that's the only issue in my architecture :-(

[2019-11-02 16:26] mkanakis commented on #1040
I guess the easiest way up till now, is to abstract SignalR from your service and deploy it as a separate one, without the use of a gateway, since .netcore provides token authentication for SignalR.

[2019-11-02 23:42] souchprod commented on #344
Hi, sorry to ask as it may be a stupid question but i don't really get how it fix the original issue **"Fails on the handshake due to inability to map websockets and xhr requests for the same upstream url"**.
For the http(s) negociate part, should be still add an http(s) DownstreamScheme plus a ws DownstreamScheme for the same route ?

[2019-11-03 01:46] jmezach commented on #1044
@colinangusmackay @TomPallister I believe that if you want to reference ASP.NET Core 3.0 parts you can only do that by targeting netcoreapp3.0 as far as I know. See also [this section](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio#framework-reference) in the migration doc.

We did discuss multitargetting Ocelot to both netstandard2.0 and net

[2019-11-04 08:15] souchprod commented on #1040
I do, however, I'm forced to have a second port open on the server, which is complicated on prod. Better have only the 443 to get through the firewall :-(

[2019-11-04 11:12] EngRajabi opened #1050 "Rate limit with RemoteIpAddress"
## New Feature
- add rate limit with ip address
- add StackBlockedRequests
- add custom rate limit store(sql server, redis,...)
read header key in config
add IpWhitelist in config
read StackBlockedRequests in config

[2019-11-05 00:33] catcherwong commented on #1050
For a custom rate limit store, you can write a handler that implements `IRateLimitCounterHandler` interface.

Then you can replace the default implementation `MemoryCacheRateLimitCounterHandler` with your own handler.

https://github.com/ThreeMammals/Ocelot/blob/fbd9c01a425a0a3bda46717efda423883543fb76/src/Ocelot/DependencyInjection/OcelotBuilder.cs#L108

[2019-11-05 02:54] catcherwong commented on #1045
When the exception is `OperationCanceledException` the error code will be `RequestCanceled`.

https://github.com/ThreeMammals/Ocelot/blob/fbd9c01a425a0a3bda46717efda423883543fb76/src/Ocelot/Requester/HttpExeptionToErrorMapper.cs#L17-L32

`System.Threading.Tasks.TaskCanceledException` is a subclass of `OperationCanceledException` and it can not trigger the `RequestCanceledError`.

But I think it sh

[2019-11-05 03:06] catcherwong commented on #1045
I send a PR to fix this problem.

Here is the new log information.

[code]

[2019-11-05 08:19] #1049 closed

[2019-11-05 14:32] akritikos opened #1052 "Support of Unix Sockets in downstream uri"
## Expected Behavior / New Feature

Support unix sockets as downstream connection uri

## Actual Behavior / Motivation for New Feature

Hassle free setup in unix-based systems, direct usage of existing sockets-based setup instead of having to assign ports

[2019-11-05 14:39] akasexdev commented on #1042
https://github.com/Burgyn/MMLib.SwaggerForOcelot

[2019-11-05 17:53] raime910 commented on #617
I get the same issue and I dont have the http/https shemes. The weird thing about this is that after getting ServicesAreEmptyError, I wait for 10-15 seconds, send the request again and it will go through.

[code]

[2019-11-07 09:21] mrclayman commented on #360
I also apologize for the delay, other more important tasks got in the way. I managed to clear my backlog a little, so hopefully I will finally have more time now.

@SebastianMajewski it was not planned intially, but I will give some time to research how difficult it would be. :slightly_smiling_face:

[2019-11-08 07:03] JayChuah95 opened #1053 "Bad Request with Ocelot ReRoute using Eureka as Service Provider at LocalHost"
## Expected Behavior
Reroute to /api/User/GetStuff

## Actual Behavior
Bad Request - Invalid Hostname
HTTP Error 400. The request hostname is invalid.

## Steps to Reproduce the Problem
Project Link: https://github.com/JayChuah95/AntyChatty/tree/master/AntyChatty
  1. Startup multiple project and go to url 'localhost:10000/Auth/GetStuff'

## My ocelot.json
[code]

## AuthService appsettings.json
[

[2019-11-08 07:05] JayChuah95 commented on #1053
Output Message
[code]

[2019-11-11 01:02] JayChuah95 commented on #1053
@catcherwong
May I know is there any issue on my configuration?
Thanks for the help

[2019-11-11 01:58] catcherwong commented on #1053
@JayChuah95 Based on your sample, it seems that all things run well.

![bb](https://user-images.githubusercontent.com/8394988/68555627-97053700-0469-11ea-95ee-7a4e07bbe180.png)

[2019-11-11 02:07] JayChuah95 commented on #1053
It seem like there is some issue on my localhost networking routing.
Could you help with this?
As I check on my httperr.log, it doesn't route to my localhost > ::1%0 20000
![image](https://user-images.githubusercontent.com/57252943/68555928-029bd400-046b-11ea-97df-0c0169ee5878.png)

[2019-11-11 02:32] JayChuah95 commented on #1053
It turn up is a networking issue in my pc.
I have solved it.
Thanks.

[2019-11-11 02:42] catcherwong commented on #1053
I am not quite sure what the cause of this problem, But based on your log message, I guess it may be a request for an IPV6 address.

https://stackoverflow.com/questions/19676265/using-ipv6-address-to-connect-to-a-server-using-httpclient-using-ipv6-address-t/19676640

Can you record the full URL address from API Gateway to downstream services?

[2019-11-11 02:56] JayChuah95 commented on #1053
Hi @catcherwong
It turn up is a networking issue.
The fe80::xxxx:xxxx:xxxx:xxxx%20 is my link-local ipv6 address.

It seem like the ipv6 address is not working.
May I know what is the means by "record the full URL address from API Gateway to downstream services"?

[2019-11-11 03:14] catcherwong commented on #1053
API Gateway will send HTTP requests to the downstream services, in your sample is `AuthService`.

And what is the request URL here?  `http://localhost:30000/api/User/GetStuff` or `http://fe80::xxxx:xxxx:xxxx:xxxx%20:30000/api/User/GetStuff` or others.

[2019-11-11 03:29] JayChuah95 commented on #1053
@catcherwong
It suppose to be like the following example:
Upstream > http://localhost:10000/Auth/GetStuff
Then route to > http://localhost:20000/api/User/GetStuff

The output when I call http://localhost:10000/Auth/GetStuff
![image](https://user-images.githubusercontent.com/57252943/68559057-8c9d6a00-0476-11ea-9d94-52b093984b83.png)

[2019-11-11 03:43] catcherwong commented on #1053
Maybe you can change the default Log Level to Debug, ocelot will show more information for the request.

![cc](https://user-images.githubusercontent.com/8394988/68559559-6b3d7d80-0478-11ea-97b5-a769f1b56b33.png)

[code]

[2019-11-11 03:55] JayChuah95 commented on #1053
@catcherwong
![image](https://user-images.githubusercontent.com/57252943/68559970-f79c7000-0479-11ea-89ce-98196b7335af.png)
The Downstream url is http://obest157:20000/api/User/GetStuff

obest157 is my computer name

[2019-11-11 04:17] catcherwong commented on #1053
When you access `http://obest157:20000/api/User/GetStuff`, can you get the right result or `Bad Request `?

[2019-11-11 05:11] JayChuah95 commented on #1053
@catcherwong
![image](https://user-images.githubusercontent.com/57252943/68562481-cb3a2100-0484-11ea-88e7-a5fec8e4bce8.png)
Bad Result on the url

[2019-11-11 06:11] catcherwong commented on #1053
You should resolve this problem at first, why you can not access this url normally?

[2019-11-11 06:13] JayChuah95 commented on #1053
@catcherwong
I think this is a networking issue?
It can be access if I changed it to localhost:20000 instead of the computer name

[2019-11-12 17:26] acheriya commented on #396
AddHeadersToRequest add to headers, but AddClaimsToRequest is not adding to claims. see the below example

AddClaimsToRequest: {
        "claims_Email": "Claims[Email] > value > |",
        "claims_Name": "Claims[Name] > value > |"
      }

In API project

(ClaimsIdentity)User.Identity doesn't have any claims.

[2019-11-13 00:40] catcherwong commented on #1053
I guess this could be a issue for some network settings as well.

[2019-11-13 05:27] JayChuah95 commented on #1053
Temperary Solution
go to \.vs\config
and change the applicationhost.config
Modify from
`<binding protocol="http" bindingInformation="*:20000:localhost" />`
to
`<binding protocol="http" bindingInformation="*:20000:*" />`

[2019-11-13 08:31] Rubbiroid commented on #930
Have similar issue. With mqtt.js over websockets and after disconnecting network connection. Page refresh works as expexted

[2019-11-14 00:44] catcherwong commented on #930
#1030 may fix this issue.

[2019-11-14 06:43] JayChuah95 opened #1056 "Service is not registered after deployment on virtual machine"
## Expected Behavior
Eureka Server should show the instance to be UP after deployment.

## Actual Behavior
Instance was registered DOWN and disappear from the Eureka Server

## Steps to Reproduce the Problem
  1. Deploy the microservice to a virtual machine with IIS
  2. The Eureka show
[code]
  3. The service is start in IIS but didn't registered with Eureka unless MANUALLY browse the service in

[2019-11-14 14:46] csnance opened #1057 "Kubernetes and Consul Integration question"
Hello,

I am using Ocelot as an API gateway in AKS with Consul deployed inside the cluster for service discovery. I am using connect sidecar injection with ACL tokens for my pods. So my question is how to best integrate Ocelot with Consul in this scenario. This [issue](https://github.com/ThreeMammals/Ocelot/issues/332) references what I am trying to do but doesn't lay out a preferred route. I see

[2019-11-15 01:38] maradonasu commented on #1010
Version13.8.0 is fixed

[2019-11-18 18:03] masanand commented on #958
Is this sorted? Can we have custom logic in ocelet's own controller? Let's say I want to call 2nd downstream API based on the response of the 1st..

[2019-11-20 05:44] brook-w opened #1058 "Docs and Trancing"
## Steps to Reproduce the Problem

  1.When is the document updated and still in net core 2.1
  2.The Trancing Nuget package is still updating but butterfly has stopped maintaining how to use link tracing properly

[2019-11-20 15:49] TheSpazzyDev opened #1059 "SignalR/Websockets in IIS"
## Expected Behavior / New Feature
Per the documentation, it was expected that in order for SignalR traffic to be passed downstream, that the WebSockets feature in IIS should not be installed.

## Actual Behavior / Motivation for New Feature
Without the WebSockets feature in IIS installed, the application was not able to properly make a a SignalR connection.

## Steps to Reproduce the Problem

  1

[2019-11-20 16:42] tekbyts opened #1060 "How to cover both http and https downstream schemes in a reroute?"
If i want to define reroutes for both http and https, how can i do that?

Should i add two different sections for a reroute one for http and one for https as shown below?

[code]

[2019-11-21 13:47] Alpheusms opened #1061 "Ocelot using Ocelot.Provider.Consul Service Discovery uses port 80 over https"
## Expected Behavior / New Feature
Hi There, I am new to Ocelot and Consul service discovery. So I use ocelot to get the service from consul and expect it to use port 443 over https

## Actual Behavior / Motivation for New Feature
Ocelot can locate the service but when calling the webapi via the discovered service it uses port 80 over https.

Completed GET request to 'https://1.1.1.1/api/v1/namesp

[2019-11-24 17:26] vuminhquang opened #1062 "Cache to file"
Hello,
If I want to use CacheManager to cache to file, instead of memory, do anyone know where to start to code this?

Thank you

[2019-11-25 01:19] catcherwong commented on #1062
At first, you should ensure that CacheManager can write cache data to file, if not, you should do this by yourself.

What's more, overwrite `Ocelot.Cache.CacheManager` this project, to change the `ExpirationMode`

https://github.com/ThreeMammals/Ocelot/blob/41519b1e5649f1ae85be81353f9f8b7c0aef85b7/src/Ocelot.Cache.CacheManager/OcelotCacheManagerCache.cs#L15-L18

[2019-11-25 04:48] vuminhquang commented on #1062
@catcherwong : thank you for answering me. Seems that  CacheManager don't have feature which writes cache data to file, I will try to write a new CacheManager service for Ocelot.
Since I am not familiar with IoC, I am very appreciate if you could show me (when you have spare time) how to inject the new service in Startup.cs. Thank you.

[2019-11-25 05:56] catcherwong commented on #1062
You can take a look on the following repository, it may help you how to do.

https://github.com/catcherwong/Ocelot.Cache.EasyCaching

[2019-11-25 15:41] vuminhquang commented on #1062
Thank you very much @catcherwong , brilliant code.
I'll study it.

[2019-11-26 08:40] mrauter commented on #758
I can confirm this - is this an expected behavior?

[2019-11-26 11:05] jords1987 commented on #913
Hi, @fsmullinslc @marctalary  will this feature be supported in upcoming versions?

[2019-11-26 16:55] fsmullin commented on #913
Hi @jords1987 @marctalary, I am not part of the development team that manages the pull requests.  I worked around the issue by using dependency injection.  I added a function that is called from ConfigureServices()

`        protected void CustomizeOcelot(IServiceCollection services)
        {
            services.RemoveAll<IScopesAuthoriser>();
            services.TryAddSingleton<IScopesAuthoris

[2019-11-26 22:30] jords1987 commented on #913
@fsmullinslc thanks for sharing, I decided to just live with it and put single allowed scope and an allowed scope that reflects how the token looks but this may be another option. Maybe @TomPallister would know if this feature will be merged?

[2019-11-27 10:25] linuxchata opened #1063 "Multiple template URLs in UpstreamPathTemplate"
Is there a way to set multiple template URLs in UpstreamPathTemplate?

## New Feature
{
  "DownstreamPathTemplate": "/url/people/{everything}",
  "DownstreamScheme": "https",
  "DownstreamHostAndPorts": [
    {
      "Host": "host.name",
      "Port": 9000
    }
  ],
  "UpstreamPathTemplate": [ "/url/people/{everything}", "/url/{everything}" ],
  "UpstreamHttpMethod": [ "GET" ]
}

## Specification

[2019-11-27 17:11] Panos80 opened #1064 "Error: Failed to match ReRoute configuration for upstream path: /"
## Expected Behavior
We are using ocelot to create an API gateway for microservices / APIs which are deployed in Azure Kubernetes.  We use a global configuration:
[code]

## Actual Behavior
Everything works find but we are seeing continuously the following error:

previousRequestId: no previous request id, message: Error Code: UnableToFindDownstreamRouteError Message: Failed to match ReRoute confi

[2019-11-28 02:15] catcherwong commented on #1063
It don't support multiple template URLs in UpstreamPathTemplate now.

You can add another section with different UpstreamPathTemplate or use [Catch All](https://ocelot.readthedocs.io/en/latest/features/routing.html#catch-all) to do this job.

[2019-11-28 05:11] burningg opened #1065 "Using k8s for service discovery，Host wrong"
## Expected Behavior
I am using ocelot to create an API gateway for microservices / APIs which are deployed in Aliyun Kubernetes. I use kubernetes to realize service discovery Consul.
We use a global configuration:
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/v2/email",
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "/api/v2/email",
      "UpstreamHttpMethod": [

[2019-11-28 07:26] karthik51 commented on #1017
Pls check your service name and hostname are same, if both are different, get this error message.

[2019-11-28 10:19] papugamichal opened #1066 "Ocelot forward ReRoute when userScopes contains Any from routeAllowedScopes, but docs says that it should contains all of them"
## Expected Behavior / New Feature

Documentation says:

[
Ocelot/src/Ocelot/Authorisation/ScopesAuthoriser.cs](
Ocelot/src/Ocelot/Authorisation/ScopesAuthoriser.cs)
[code]

Example:
Token contains Scope: "A".
Defined ReRoute AllowedScopes: "A", "B"

Ocelot **should reject** request.

## Actual Behavior / Motivation for New Feature

Example:
Token contains Scope: "A".
Defined ReRoute AllowedScopes

[2019-11-28 11:02] #1063 closed

[2019-11-28 11:37] surajsingh30 opened #1067 "{everything} placeholder in between the url"
## Expected Behavior / New Feature
Is it possible to put {everything} placeholder in UpStreamPath and DownStreamPath like below?
"/api/al/{everything}/auditlog"

## Actual Behavior / Motivation for New Feature
Right now it is not working if I place as above.

## Steps to Reproduce the Problem

I am configuring Api Gateway as below -
[code]

[2019-11-28 13:46] catcherwong commented on #1067
It runs well based on your configuration.

![image](https://user-images.githubusercontent.com/8394988/69811034-28c1c200-1228-11ea-861b-7e4feee1668d.png)

Could you provide more information for this issue?

[2019-11-28 14:13] surajsingh30 commented on #1067
Yes this works, if I pass like this. But In my case, I want something like below
![image](https://user-images.githubusercontent.com/16236075/69812903-1d19cf80-1217-11ea-9ef1-204fa972ae24.png)

I don't want to specify 2 route in api gateway and need to keep the auditlog suffix as well.

[2019-11-29 02:19] catcherwong commented on #1067
Some limitation here!

Ocelot generate below regular expression for  Downstream URL.

[code]

But `/api/al/youapp/youtype/auditlog` can not match.

[2019-11-29 05:28] surajsingh30 commented on #1067
What you suggest for this case?

[2019-12-02 08:49] ToeToeAung opened #1068 "Unable to see consul service discovery is working in Docker Overlay Network"
Docker Overlay Network

I tried to create docker service using docker overlay network in SIT environment.
The docker detail infor is as below. How to check docker overlay network and how to see the service is working or not. Please let me know.

Client:
 Debug Mode: false
 Plugins:
  cluster: Manage Docker clusters (Docker Inc., v1.0.1)

Server:
 Containers: 68
  Running: 1
  Paused: 0
  Stopped:

[2019-12-02 16:51] stefanvoicila opened #1069 "Custom Request Aggregation"
## Expected Behavior / New Feature

I am trying to aggregate two requests in a way in which a value from the first response is used in the second response as a parameter.

I want to return the results from both requests in a way that resembles something like this:
"Response": [
       FirstResponse_FirstItem:{
               "Key": 1,
               SecondResponse_Item1: {

[2019-12-03 09:18] budi-wijaya-febetech-com opened #1070 "Is it possible to request multiple downstreams in sequence ?"
## Expected Behavior / New Feature
I have 2 microservices : identity (A) and credit (B).
In the ocelot gateway, I need to call 2 api to both microservices above  (A and B) but in sequence, and pass the response data from 1st api call (A) as parameter to 2nd api call (B).

## Actual Behavior / Motivation for New Feature
is it possible to do as expected above? and How?

## Steps to Reproduce the Pro

[2019-12-03 12:07] uopeydel opened #1071 "LoadBalancerOptions not skip DownstreamHostAndPorts is not work."
I have "DownstreamHostAndPorts" start in my server 3 port 8001 , 8003 , 8004
It can have any accident once day 8003 is stop work.
I need to let it auto skip / auto call to another DownstreamHostAndPorts index is work fine , It doesn't. Now it will call success 2 time , return 500 one time when it call to  8003  and  loop.
`
 {
  "ReRoutes": [
    {
      "DownstreamPathTemplate": “/test/{version}/

[2019-12-04 11:16] ramesh26 opened #1072 "Ocelot API gateway returns invalid data in dotnet core"
I have received below invalid data when using API gateway in dotnet core

![image](https://user-images.githubusercontent.com/13754399/70138132-99982c80-16b5-11ea-892e-1d5ac6032687.png)

**Ocelot Code:**
![image](https://user-images.githubusercontent.com/13754399/70138150-a3219480-16b5-11ea-9901-2b9e289a7f81.png)

**POSTMAN Error:**

![image](https://user-images.githubusercontent.com/13754399/70138

[2019-12-04 12:19] SindelarPetr commented on #747
hi guys, is there any work-around for this? Which would not include upgrading to a higher version?

[2019-12-04 12:37] nagybalint001 commented on #747
@SindelarPetr we used this message handler:
[code]

you can add this message handler with this code snippet:
[code]

Maybe it would be cleaner (and safer) to use the same logic that is part of the newer Ocelot nuget:
https://github.com/ThreeMammals/Ocelot/pull/794/files

[2019-12-04 13:55] jmezach opened #1073 "BadRequest from Consul when Ocelot has no ReRoutes"
## Expected Behavior
I'm storing my configuration for Ocelot in Consul. That means that I have a ServiceDiscoveryProvider section in my ocelot.json using Consul (as per the documentation). Without configuring any re-routes, dynamic re-routes or aggregates, I would expect a request going to `/` to result in an HTTP 404.

## Actual Behavior
A request going to `/` results in a 500 Internal Server Err

[2019-12-04 14:42] SindelarPetr commented on #747
@nagybalint001 thanks a lot for your quick reply! Your solution led to fixing the problem. I just had to tweak it a bit, because this method removed only one '?', but then UriBuilder added it again, so I ended up getting 2 again. I am not sure if every time this method receives a URL with either one or two question marks, so the following semi-nasty code makes the trick.

`
/// <summary>
    /// T

[2019-12-06 15:24] grahambunce opened #1075 "Injected routing to DownStream path based on content within request body"
## New Feature

We are migrating a Java RPC based service api running in Glassfish to a SOA/Microservice api. The URL path for the incoming request is always the same (e.g. /rpc). The request body contains details that we can interrogate to identify the actual request content, e.g.
{ "method" : "internal class reference" } where we can use the "internal class reference" to decide which service(s)

[2019-12-07 14:55] ToeToeAung commented on #995
Sorry for late reply. This issue has been solved.

[2019-12-07 14:57] ToeToeAung commented on #995
I have fixed by using with correct service registry with specific port and call that service from ocelot api gateway.

[2019-12-07 14:57] #995 closed

[2019-12-09 06:18] dianond opened #1076 "ocelot return 500 when consul and micro-service on the same host"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1. run consul on 192.168.1.100
  2. run micro-service 1 on 192.168.1.100 port 20000
  3. run micro-service 2 on 192.168.1.101 port 20000
  4. ocelot UseServiceDiscovery
  5. micro-service 1 can not receive from ocelot , micro-service 2 work normal

## Specifications

  - Versio

[2019-12-09 12:35] uopeydel commented on #1041
Have any way to skip DownstreamHostAndPorts is not work?  I have 5 port in DownstreamHostAndPorts and port at index 4 or else is not work(service stop  by any problem). I need to let it skip that index automatically.

[2019-12-10 10:37] ramesh26 commented on #716
@LukasSefcik @philproctor ,

Hi, I've also faced the same issue which I reported below. Can you please provide solution for this issue

https://github.com/ThreeMammals/Ocelot/issues/1072

[2019-12-10 11:58] buretjph opened #1077 "allow to limit the number of concurrent tcp connection to a downstream service"
## New Feature
limit the number of concurrent tcp connection to a downstream service

## Motivation for New Feature
We are using Ocelot to route http traffic to different http service of our own.
Some of these servjces limit the number of concurrent tcp connection. When the number of allowed connection is reach, requests are rejected.
By default, Ocelot instanciate one HttpClient per Downstream ro

[2019-12-10 12:00] buretjph commented on #1077
I've done the work and about to push the PR

[2019-12-11 09:43] trickreich commented on #941
@snb83 That means it's not working for you, right?

[2019-12-11 10:55] pierre-seiitra opened #1079 "Provide Route informations (ReRoute Key, input request context) in User defined aggregators."
## Expected Behavior / New Feature
Provide Route informations (ReRoute Key, input request context) in User defined aggregators.

Task<DownstreamResponse> Aggregate(List<DownstreamResponse> responses, List<string> rerouteKeys, List<HttpContext> inputRequests)

## Actual Behavior / Motivation for New Feature
I want to enrich the results of a fowarded request with the results of some other requests (

[2019-12-11 11:12] snb83 commented on #941
Yes, SSE transport does not work for me when notifications are routed via Ocelot API Gateway.

[2019-12-11 12:12] pierre-seiitra commented on #1079
Linked to [issue  1069](https://github.com/ThreeMammals/Ocelot/issues/1069)

[2019-12-13 16:14] tenfortyeight opened #1081 "New feature: Provide reroute configuration via Consul instead of manually managing a local config"
## New Feature
Being new to Ocelot it has already proven to be quite simpel and straightforward. But I have been searching far and wide for a way to provide reroute configuration from Consul but have found none so far.

Since one of the key benefits that you want from microservices is speed and flexibility, I would like to see a way to provide the reroute information directly from the originating

[2019-12-16 17:58] k-u-s opened #1082 "Support for SocketsHttpHandler"
## Expected Behavior / New Feature
Any plans on supporting [SocketsHttpHandler](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.socketshttphandler?view=netcore-3.1) announced in https://devblogs.microsoft.com/dotnet/announcing-net-core-2-1/ section "Networking Performance Improvements" instead of HttpClientHandler when targeting net core 2.1+

## Actual Behavior / Motivation for New Fe

[2019-12-18 05:12] tonymathewt commented on #606
@TomPallister Is there a way we could skip the UseOcelot() call in Startup's Configure() and we can explicitly specify in the Action/Controller (or anywhere else) when manually invoking another API call that it should go through Ocelot?
Intention is, don't want to modify the existing pipeline of SPA

[2019-12-19 05:58] malekmakan opened #1084 "Big Config files cause failure in IIS"
The issue is due to size of config file, I have added couple of new rule in config and Ocelot started to complain as below:

`2019-12-19 04:59:30.7319 - ERROR: Connection ID "17365880169046218111", Request ID "80001580-0001-f100-b63f-84710c7967bb": An unhandled exception was thrown by the application.
EXCEPTION: System.InvalidOperationException: No writing operation. Make sure GetMemory() was call

[2019-12-19 08:03] malekmakan commented on #1084
not a good question I am closing it...

[2019-12-19 08:03] #1084 closed

[2019-12-20 14:10] icebergdelphi opened #1085 "Integrate Opentracing(Jaeger)"
Hi  I have a doubt , I wonder myself if is possible integrate OpenTracing (Jaeger) due I need to Monitoring The request From APIGateway to Final API? Thank you.

[2019-12-24 03:18] pengweiqhca opened #1086 "Use 'Dynamic Routing' exception"
## Expected Behavior
No exception

## Actual Behavior / Motivation for New Feature
[code]

## Steps to Reproduce the Problem

  1. AddEureka
  1. Browse service
  1.

## Specifications

  - Version: develop source
  - Platform: Windows
  - Subsystem: Windows 10

## Reason
DownstreamRequest.Scheme not use registered service scheme, `Ocelot.Values.Service` should add `Scheme` property and use it
htt

[2019-12-24 03:41] pengweiqhca commented on #1082
.net core 2.1+ HttpClientHandler internal use SocketsHttpHandler

[2019-12-26 18:29] k-u-s commented on #1082
Probably enforcing it isn't the best Idea

[2019-12-26 18:29] #1082 closed

[2019-12-28 23:37] CesarD opened #1088 "Ocelot Administration doesn't work with .NET Core 3.x"
## Expected Behavior / New Feature
Administration API should work after being properly configured in a .NET Core 3.x project.

## Actual Behavior / Motivation for New Feature
Ocelot throws error when executed in pipeline claiming that `.UseMvc` method should not be used on .NET Core 3.x projects.

## Steps to Reproduce the Problem

  1. Create a .NET Core 3.x project
  1. Install and configure Oce

[2019-12-29 01:28] ghost opened #1089 "Issues between app.UseOcelot() and app.UseSpa()"
As both middlewares should be at the end of the pipeline, they cannot work together.

## Expected Behavior / New Feature

It is expected to allow Ocelot to "bypass" the calls if they do not match a pattern, for example. That way, the request could go to the next middleware. In this case, the dotnet Spa middleware.

This could be a parameter in the configuration when adding Ocelot

## Actual Behavi

[2019-12-29 10:52] Esi1984 commented on #579
same problem for me!
I got this Error on log:

info: Ocelot.RateLimit.Middleware.ClientRateLimitMiddleware[0]
      requestId: 0HLSC9H156ML7:00000001, previousRequestId: no previous request id, message: EndpointRateLimiting is not enabled for /api/Hello
info: Ocelot.Authentication.Middleware.AuthenticationMiddleware[0]
      requestId: 0HLSC9H156ML7:00000001, previousRequestId: no previous request

[2019-12-29 10:59] Esi1984 commented on #579
My Ocelot GateWay Can't assign requested address through the Docker
but it works correct when I run containers out of Docker
**has Ocelot any problem on Docker?**

[2020-01-02 00:37] zee85 commented on #1040
Using the provided docs I was able to get the authentication working using signalR. The only probably I'm running into is that the contextual user id isn't set unless I add back the authentication code to the hub service itself. I'm thinking though there is an easy way to force a login which can be used.

[2020-01-02 01:38] zee85 commented on #1040
I was able to get by hub to work using the below work around.

[code]

[2020-01-02 01:56] zee85 commented on #1040
The messages are being sent but not received. I think that has something to do with my back plane though which is using mass transit and rabbitmq.

[2020-01-02 02:19] zee85 commented on #1040
I reverted all this code. The only thing that needs to be done is to handle authentication in the hub service as well. The hub service needs to run authentication so all the user info gets properly set.

[2020-01-03 12:39] wast commented on #952
When this gets fixed, it will be Major change because it could break apps that used this as a feature.

[2020-01-06 19:28] gmedinaArkus commented on #760
Hi @redplane can I know how you made this possible using the dynamic routing? I want to pass a single field with a pre-defined value to the re route.

[2020-01-07 08:33] lovachen opened #1090 "LeastConnection performance is poor"
Why every time？
   var services = await _services.Invoke();
   why no callback  PollConsul.

[2020-01-07 13:08] mylesjj commented on #911
Any idea when it will be under Nuget?  Your lkast post was over 6 months ago

[2020-01-08 19:29] squoyster commented on #1088
Same issue as above.

[2020-01-09 15:23] shiro997 opened #1092 ""IServiceCollection" doesn't contain any definition for "AddOcelot""
i'm trying to implement Api GateWay using ocelot and .Net Core 3.0 but in Program class when i try to add ocelot VS2019 shows me this error: "IServiceCollection" doesn't contain a definition for "AddOcelot" or an accessible extension method "AddOcelot" that accepts a first argument of type "IServiceCollection" (is any directive using or an assembly reference missing?)

[2020-01-10 14:03] OPavlinOBILOG commented on #1072
![image](https://user-images.githubusercontent.com/57350327/72158075-aea16300-33b9-11ea-9c0c-40c60b09262c.png)
![image](https://user-images.githubusercontent.com/57350327/72158362-561e9580-33ba-11ea-9cfa-d66700f44a41.png)

Same problem here but without aggregation. Only simple 3 projects API solution, when requesting directly the API i get a correct JSON format, when requesting through ocelot port

[2020-01-10 16:17] masterdimar opened #1093 "Retry calls to downstream"
Hi!

Like Ocelot is already using Polly. Is there a way to retry X times the calls to downstream to prevent occasionally fails?

[2020-01-11 19:46] jlukawska commented on #1092
using Ocelot.DependencyInjection;

;)

[2020-01-13 01:34] golavr commented on #692
@philproctor any update on this enhancement?
this feature will save a lot of configuration changes as @mariotacke mentioned
thanks

[2020-01-13 22:49] BorisSokolov opened #1094 "Unable to start Ocelot, errors are: Authentication Options AuthenticationProviderKey:TestKey,AllowedScopes:[] is unsupported authentication provider"
## Expected Behavior / New Feature
Ocelot starts and works with IdentityServer4 Authentication

## Actual Behavior / Motivation for New Feature
Ocelot crashes with:

![image](https://user-images.githubusercontent.com/7326054/72298583-28aa4400-3667-11ea-950a-e3d6967f6379.png)

## Steps to Reproduce the Problem

  1. [Follow the steps for IdentityServer 4](https://ocelot.readthedocs.io/en/latest/fea

[2020-01-14 17:35] ToygarVarli opened #1096 "DownStream Response Null in CustomAggregator"
## Expected Behavior / New Feature
Hi there ,

I'm using custom aggregator class for aggregation my multiple responses.

Here is my configuration file.

[code]

When i send get request to /get all stub without token ocelot says not authenticated request in

aggregator class. But downstream property is empty.

Here is my startup file,

[code]

[2020-01-15 07:29] Sascha89 commented on #915
ChrisSwinchatt means, that you propably have ```app.UseMVC()``` in your startup... remove this and it should work.

[2020-01-15 13:30] tkhametov opened #1097 "Flexible placeholders endpoints settings"
Hi everyone.

I use Ocelot in my Routing Service and I love this library so much! It's a truly powerful library that allows me to develop microservices and not care about routings.

I store all my configuration related to Ocelot in `routing.json`. Also, I use this file to build documentation for API of all microservices.

But recently I ran into a problem that I have to copy-paste a lot of configu

[2020-01-16 06:57] bc4250 commented on #793
Is your issue resolved? I encounter the same problem, and remove upper code resolved my issue.

[2020-01-18 09:58] Buzzology commented on #1094
Same problem.

[2020-01-20 00:55] #1086 closed

[2020-01-20 07:46] senthilcsk opened #1107 "Ocelot Rerouting is not working properly with .Net Core 3.1"
Hi Team,

I building API with Ocelot microservices. Unfortunately, I'm facing a problem with rerouting. I've created 3 projects[API Gateway, Products, and Customers] based on the attached reference URL [https://www.c-sharpcorner.com/article/building-api-gateway-using-ocelot-in-asp-net-core-part-two/].

On parallel Run the 3 projects. Now I can get the response of customers and products but the API

[2020-01-20 11:34] wast opened #1108 "HTTP response 500 is cached"
## Expected Behavior / New Feature
Errors 500 shouldn't be cached.

## Actual Behavior / Motivation for New Feature
Errors 500 are cached.

## Steps to Reproduce the Problem

  1. Add Caching
`.AddCacheManager(x =>
                {
                    x.WithDictionaryHandle();
                });`
  2. Add FileCacheOptions in ocelot.json for service.
  3. Make a HTTP 500 response from service.

[2020-01-20 15:20] dreamfalcon commented on #695
Same problem here with content_type="text/event-stream".
The gateway only returns the full response at the end.

[2020-01-20 20:02] PirasannaRavi commented on #735
@philproctor even if I comment the app.UseHttpsRedirection() the app still redirects to https instead of http. Can you help me further on how to stop this auto redirection?

[2020-01-20 20:21] TomPallister commented on #695
Yeh I agree this needs to be changed and has been annoying me ever since I made Ocelot!

The problem is that Ocelot expects data to be there to do transformations etc anyone got any ideas how we get around this e.g. certain use cases use a stream, and only read it if you need to mess with the data?

[2020-01-20 23:27] rusodan opened #1109 "Aggregation not working when the Downstream has authentication"
## Expected Behavior
Get  an unique result in one call from different microservices

## Actual Behavior
The result of microservices is empty because are unauthorized. With microservices that has no security, the aggregation is working fine.

## Example
If I try any microservice individually, they return the expected result (I have authentication in both microservices):

![image](https://user-image

[2020-01-21 21:44] PirasannaRavi opened #1111 "Ocelot + Asp.Net Core 3.1 Web API Redirects Http Downstream URL to Https URL"
Below is my Ocelot.json
[code]
And when I make a call to http://localhost:7000/karma-api/karma/get, I expect the call will be forwarded to http://localhost:7001/api/karma/get but the call actually forwards to the Https URL instead that is https://localhost:7001/api/karma/get.

I commented the app.UseHttpsRedirection(); in the Configure method of Startup class. Still the issue continues.

How to fi

[2020-01-22 13:54] damirci opened #1112 "How to disable changing ocelot config on runtime"
I want to disable this '/configuration' route of Ocelot that is using for changing and reading configuration on runtime.
I tried to ignore this route by asp.net APIs but it seems that Ocelot rewrite my configuration.

also using [administration auth configs](https://ocelot.readthedocs.io/en/latest/features/administration.html#administration-api) do not effect on /configuration route

## Specificat

[2020-01-22 16:48] icebergdelphi commented on #48
Hi guys, it is possible to establish RateLimiter by ClientId from DataBase?, I mean, for example, I have a database with 1000 clients so what I need is set a different rate limit for every client from my database.
I understand that Ocelot config.json has the value ClientIdHeader, but I would like to do it dynamically.

Thank you.

[2020-01-22 20:29] MSeifAllah commented on #716
I had the problem . You have the problem because the responses from ReRoutes are
compressed (  Content-Encoding : gzip )

to fixed it you have two solution  :

1 -  add a delegate to your aggregator and add
        protected override async Task<HttpResponseMessage> SendAsync(HttpRequestMessage request, CancellationToken cancellationToken)
{
            request.Headers.AcceptEncoding.Clear();

[2020-01-23 09:14] MSeifAllah commented on #1072
Resolved
@ramesh26 , @OPavlinOBILOG
[](https://github.com/ThreeMammals/Ocelot/issues/716#issuecomment-577371572)

[2020-01-24 09:15] jurgi opened #1113 "Asp.Net Core 3.1 Web API Redirect localhost -->locahost (301_loopback_error)"
With .netCore 2.2 and Ocelot 13.5.2 version, simple routing works well.
With .netCore 3.1 and Ocelot 14.0.3 I get the following answer:
[code]

## Steps to Reproduce the Problem
To do the test I created a solution with a project with Ocelot and a basic aspnet core mvc project.
Make a GET request https://localhost: 3300/Home/Privacy

### Ocelot logging
Now listening on: https://localhost:3300
Appli

[2020-01-24 13:18] ripebananas commented on #1089
Bump. I would like to see such Ocelot feature as well.
@jparaya, thanks for sharing your solution.

[2020-01-24 18:17] Cloudmersive opened #1114 "[Feature Request] Add Health Check to Load Balancing"
For the load balancing feature to be useful in production, it really needs to have a configurable healthcheck:

- Health Check Period
- Health Check Endpoint
- Health Check Response Code

[2020-01-24 20:18] jlukawska opened #1115 "SocketException on binding to localhost using several ports when running Ocelot acceptance tests"
## Expected Behavior / New Feature

All acceptance tests can be run successfully independently from Windows configuration.

## Actual Behavior / Motivation for New Feature

Since I installed Docker and Hyper-V on my machine, several acceptance tests crash on binding to localhost. The exception is:

[code]

First, I thought that something opened these ports, but they are not opened (netstat does no

[2020-01-29 11:47] wast commented on #396
@acheriya you have to parse token in order to use User.Identity with Claims.
In startup.cs of your microservice:

`            services.AddAuthentication(x =>
            {
                x.DefaultAuthenticateScheme = JwtBearerDefaults.AuthenticationScheme;
                x.DefaultChallengeScheme = JwtBearerDefaults.AuthenticationScheme;
            })
            .AddJwtBearer(x =>

[2020-01-29 14:58] diego81b opened #1116 "ReRoute with query params"
## Expected Behavior / New Feature
I want to be able to use downstream base path + query params to match a controller
## Actual Behavior / Motivation for New Feature
using this configuration:
[code]

on `UserContoller` the Action is not matched and fail with 404 not found
[code]

instead with this Action works
[code]

## Specifications

  - Version: 14.0.3
  - Platform: .Net Core 3.1
  - Subsystem

[2020-02-02 13:30] mohamed-mohamed2563 opened #1118 "Ocelot on IIS"
hello everybody,
 i have 2 apps, each app in different directory in IIS , when call any api return 404 and apps as the following :

- first app called "OcelotGateway" in directory "localhost/XYZ/OcelotGateway"

- second app calld "Authentication" in directory "localhost/XYZ/Authentication"

how to write configuration of Reroutes to handle something like this

my ocelot.json file is

[code]

thanks

[2020-02-03 12:53] slashersvk commented on #1070
I am also looking for this feature.

[2020-02-04 12:13] kaktuspalme commented on #913
I have exactly the same problem. I get the following error message from ocelot:
[code]
I looked into ScopesAuthoriser.cs and it looks like Ocelot doesn't split the scopes claim and so just compares the whole string.

Therefore I forked ScopesAuthoriser locally and changed:
`var userScopes = values.Data;`
to
`var userScopes = values.Data[0].Split(" ");`

To let ocelot use my ScopesAuthoriser i adde

[2020-02-04 12:55] ussamoo commented on #1088
Same issue as above

[2020-02-05 11:43] ussamoo commented on #1088
I confirm it's fixed with the last version.

[2020-02-07 08:46] frank-ozgul commented on #240
I do not know about  the old version (3.1.6) in which you say the problem had been fixed,  the latest version (14.0.5)  of Ocelot has the same problem. I cannot assign an array of roles in ocelot.json file:
for example "role": ["user","admin"]  , I get "not found" result.

[2020-02-08 19:49] ussamoo commented on #977
Same issue here!

[2020-02-09 12:57] andreatosato opened #1124 "Http/2 support"
Do you have plan to supporto http/2 for REST Api?
No for gRPC, only https and http/2 rest api.
Thanks a lot

[2020-02-09 16:56] andreatosato commented on #1124
https://github.com/ThreeMammals/Ocelot/blob/65710f4a94c8175669e5f5818a7ac002bc48db27/src/Ocelot/Requester/HttpClientBuilder.cs#L61-L64

HttpClient must declare:

`Version = new Version(2, 0)` in HttpRequestMessage
or
`DefaultRequestVersion = new Version(2, 0)`

[2020-02-09 16:58] TomPallister commented on #1124
Is this a breaking change?

[2020-02-09 17:00] andreatosato commented on #1124
No, I think that user must configure HTTP version.
In json (better way, each API must configure correct HTTP) or via Startup file (generic config for all API).

[2020-02-09 17:04] TomPallister commented on #1124
OK cool! I guess the user would setup if the Ocelot webserver is handling HTTP2 connections so this is just for the downstream request?

[2020-02-09 17:06] andreatosato commented on #1124
Yes, only for downstream request

[2020-02-09 17:10] TomPallister commented on #1124
This should be simple enough to do, add an option in the config probably per ReRoute and globally. Then pass this down to where the HttpClient is instantiated. Ocelot creates a HttpClient per ReRoute would this need to change?

[2020-02-09 17:13] andreatosato commented on #1124
I think that option per ReRoute fit better for this case.
Globally options is not very useful.

My particular case:
I host in Kestrel API and gRPC service.
For gRPC I need Kestrel HTTP2 so, my API must use HTTP2.

[2020-02-09 17:13] TomPallister commented on #1124
OK cool, if I have time I will give it a go.

If you need this feature quickly maybe try and submit a PR with the required changed!

[2020-02-09 17:17] andreatosato commented on #1124
I must implement this feature for internal workshop.
This week I'm very busy but I can try next week.

[2020-02-09 18:54] andreatosato commented on #1124
Quickly fix:
https://github.com/ThreeMammals/Ocelot/blob/fc3b6fdb8b7ee00e16e8f9e3d73992de98fab191/src/Ocelot/Request/Mapper/RequestMapper.cs#L23-L28

[code]

[2020-02-10 14:15] ussamoo commented on #977
This happen when the KubeClient is not able to load the KUBECONFIG from the cluster during his instantiation (Injection), for example when you are running on a local machine.

[2020-02-10 14:52] ussamoo opened #1126 "Question about Ocelot LoadBalancer and Kubernetes Service Discovery Provider"
## Expected Behavior / New Feature

When using Kubernetes service discovery and LoadBalancer of type RoundRobin, Ocelot balance traffic beteween running pods.

## Actual Behavior / Motivation for New Feature

Ocelot send traffic to the same pod without balancing.

## Steps to Reproduce the Problem

  1. Use the configuration below
   {
  "GlobalConfiguration": {
    "ServiceDiscoveryProvider": {

[2020-02-11 20:16] eoware commented on #605
I know this is an old feature request, but I needed the same functionality. You can do this without having to do your own Ocelot fork/build. Copy and paste the HttpClientBuilder and HttpClientHttpRequester classes from the Github branch you are using into your project and rename the classes (MyHttpClientBuilder and MyHttpClientHttpRequester, for example).

In HttpClientHttpRequester change this li

[2020-02-11 20:17] eoware commented on #771
If you want to just do timeouts, you can do this without having to do your own Ocelot fork/build or add Polly.

Copy and paste the HttpClientBuilder and HttpClientHttpRequester classes from the Github branch you are using into your project and rename the classes (MyHttpClientBuilder and MyHttpClientHttpRequester, for example).

In HttpClientHttpRequester change this line to create your custom Http

[2020-02-12 10:09] navinv789 opened #1129 "CookieStickySessions is not working with Kubernetes service discovery"
## Steps to Reproduce the Problem

I am using Kubernetes service discovery to discover the pods and  CookieStickySessions load balancer.
CookieStickySessions  is working fine if we are adding pod ip's in DownstreamHostAndPorts but when we are using Kubernetes service discovery the traffic is not been send to the desired pods. pods are selected randomly.

Due to some business requirement we cant us

[2020-02-12 13:34] ussamoo commented on #1129
I think it's related to this issue #1126

[2020-02-12 13:45] geffzhang commented on #356
This does help improve performance

[2020-02-12 14:01] jmezach commented on #356
Wouldn't mind taking a stab at this, although I don't necessarily know where to get started. If someone can point me in the right direction that would be great. Otherwise I would have to find some time to dig into how things currently work to figure out how we can change that to incorporate the Http Client Factory.

[2020-02-13 17:22] AlexaCodex opened #1130 "Not able to forward client certificate and receiving error"
## Expected Behavior / New Feature
Ocelot forward private and public cert added in web request by up stream service to down steam service

## Actual Behavior / Motivation for New Feature
Ocelot throw an error

## Steps to Reproduce the Problem

  1. Set soemthing like below in config
{
  "DownstreamPathTemplate": "/say/test1.ks/",
  "DownstreamScheme": "https",
  "DownstreamHostAndPorts": [
    {

[2020-02-13 21:20] pedramrezaei opened #1131 ".netstandard"
## New Feature
Readme.md mentions that the library supports .netstandard. However, I see that it is compiled and packaged only to target .netcoreapp3.1. Is there a specific reason for that? Could it multi-target **.netstandard2.0** and .netcoreapp3.X?

Thanks

[2020-02-14 18:26] pedramrezaei commented on #1131
I guess given you are targeting AspNetCore MVC 3.X, you have no option but to only compile against netcoreapp3.X. More info: https://github.com/aspnet/Announcements/issues/324

[2020-02-14 18:26] #1131 closed

[2020-02-14 20:19] murdockpeter commented on #249
Tom P. - Thank you for your suggestions above (two years later - but never too late!). This post helped me out greatly today. Ocelot is wonderful. I assume there is no new and easier way to accomplish this in one ocelot.json file?

[2020-02-14 23:49] pedramrezaei opened #1132 "Update to the latest NuGet version of the dependencies"

[2020-02-17 18:34] cooperdramsey opened #1135 "[Question] How can I authenticate using Azure AD? Am I understanding the process correctly?"
I am trying to authenticate using my ocelot gateway via azure active directory. All of the downstream APIs have azure authentication, so I was hoping to have all users route through the gateway, the gateway would issue an authorization request (at which point the user enters username and password) and then stores the resulting bearer token for the requested resource. I have included a link to my q

[2020-02-17 19:52] alionur07 commented on #579
hi i have same issue.

My Ocelot Gateway doesn't work but my service who works in the k8 pod is work.

does any one solve

[2020-02-17 21:04] elvishsu66 commented on #532
I would really love this feature... In fact, I am desperately to have this feature at the moment 🙏

[2020-02-18 09:41] TheElectricCo opened #1136 "Ocelot not depending on .net standard"
## Expected Behavior / New Feature

As stated in the ReadMe, Ocelot depends on .net standard 2.0 and should be usable with full .net framework

## Actual Behavior / Motivation for New Feature

Nuget states that Ocelot 14.0.9 depends on .net core 3.1

![image](https://user-images.githubusercontent.com/8233632/74723598-25dcd900-523b-11ea-9798-12b8e31bf164.png)

[2020-02-18 11:00] #1010 closed

[2020-02-18 11:13] Fabman08 commented on #932
Hi, I've the same problem.
I also add _Priority_ to the route before digging into the source code and finding the same code reported by @DrVaskee .
I think _Priority_ property should have a higher "priority" than _UpstreamHost_ property, isn't it?
Thank you

[2020-02-18 13:20] daxnet opened #1137 "Got HTTP 404 if builderAction parameter is specified when calling app.UseOcelot method"
## Expected Behavior / New Feature
When I specifies the builderAction parameter in app.UseOcelot method, run the api gateway and navigate to the upstream URL, I would expect that api gateway can return me the API response from downstream.

## Actual Behavior / Motivation for New Feature
I got HTTP 404 error.

## Steps to Reproduce the Problem
ocelot.configuration.json:
[code]
Program.cs:
[code]
St

[2020-02-18 16:45] jmezach commented on #1107
I think I see a couple of potential problems with your code that could cause it not to work:

- You construct your configuration inside of the constructor of your `Startup` class, but you only put the configuration into the `Configuration` property on that class. It never gets added to the dependency injection container, so Ocelot can't read it. Have a look through [configuration](https://docs.mic

[2020-02-18 16:50] jmezach commented on #1136
This was changed as part of the .NET Core 3.0 upgrade (see #1025). I remember we discussed this at the time and decided that it was fine to switch to using netcoreapp3.1 and figured that folks who want to keep using it on older versions of .NET should stick with the older versions of Ocelot.

We should at least update the documentation to point this out, but  I'm wondering if you have a particular

[2020-02-18 16:52] jmezach commented on #1132
Hi @pedramrezaei could you please clarify your request? Why do you need Ocelot to update its dependencies? And what dependencies would you like to see updated?

[2020-02-18 17:20] TheElectricCo commented on #1136
Hi @jmezach,

thanks for the reply!

No, I don't have an actual use case, but I was following the MS Microservices architecture paper and it also stated that Ocelot targets .net standard 2.0 and you could use it with .net core or full .net. I was experimenting with a asp.net core application targeting the full .net framework (net48), noticing that my Ocelot package was complaining.

meanwhile I ch

[2020-02-18 18:39] jmezach commented on #1136
I see. Not sure what we can about the Microsoft docs to be honest, I'll have to check with @TomPallister. And its really him you should be thanking, since he wrote most of the code here.

We'll update the README here though so that folks know that we do not target .NET Standard anymore ;)

[2020-02-18 18:57] jmezach commented on #1118
@mohamed-mohamed2563 Okay, so the `DownstreamPathTemplate`, `DownstreamScheme` and `DownstreamHostAndPorts` refer to what will essentially be behind your API gateway, while the `UpstreamPathTemplate` and `UpstreamHttpMethod` properties refer to what the client will be calling on your API gateway.

So assuming that `http://localhost:5000/XYZ/OcelotGateway` is the base URI of your API gateway and yo

[2020-02-18 19:03] jmezach commented on #1135
Typically with an API gateway you wouldn't do interactive authentication by redirecting the user to a login page. This should be handled by the client instead who will redirect the user to the Azure AD login page and get a token back. You can then use that token to access your API gateway which can then validate the token, usually by validating the signature. If the token isn't valid it will retur

[2020-02-18 20:23] cooperdramsey commented on #1135
Yes I think so,
In my senario, I would like to authenticate once (so I can have the client do this to get a single token) then use that one token for all of my services. So in this case, I would want to create a new Azure Registration specifically for my Gateway so that the user can get a single access token for the gateway resource? Then once it verifies my token is valid, it allows access to wha

[2020-02-18 20:39] cooperdramsey commented on #1135
I'm attempting to use the azure integration in ocelot i.e the AzureADJwtBearer scheme. This called the AuthenticateAsync method from the Http Context, so what is the purpose of this method? I'm using the Microsoft Identity library.

[2020-02-19 07:30] jmezach commented on #1135
Yes, you would indeed make a registration for your API gateway in Azure AD and then have the client request a token from Azure AD and have it send that along for requests to your gateway. It will validate the token and depending on whether it is valid allow access to whatever backend API's you expose through your gateway. You can use scopes to control if the user has access to all API's exposed th

[2020-02-19 09:03] jords1987 opened #1139 "Failed Auth Alerting"
## New Feature
Alerting of failed auth events

## Motivation for New Feature
Would be nice to be able to easily push out an alert for a failed auth event, currently these are logged in the log files. This could be very useful information for attack/intrusion notification. Maybe this could be done in custom middleware?

Looking for others suggestions or if anyone has an implementation, awesome.

[2020-02-19 10:01] jmezach commented on #1139
I like this idea, although I guess you could already create this by centralising your logging into something like the Elastic Stack and putting alerts on it there. But I agree that having something built-in would be nice. I am curious as to where we would sent those notifications though. Do you have something in mind already?

[2020-02-19 10:41] jmezach commented on #1094
Would you mind sharing a repro of this issue so we can investigate what's going wrong here?

[2020-02-19 11:14] jords1987 commented on #1139
Thanks @jmezach... If this feature existed already, I would fire it into our opsgenie probably (https://www.atlassian.com/software/opsgenie) through a webhook or similar.

Ideally would include some sort of limit threshold, or not and we aggregate them into an alerting threshold somewhere else (app insights maybe?)

[2020-02-19 11:59] jmezach commented on #1139
Makes sense, although I don't think we'll want to have all kinds of integrations with different products in Ocelot itself, nor would we probably want to build and maintain all of them.

I could imagine defining some kind of interface though that users of Ocelot can implement themselves as needed and register with DI. We can then call into that implementation from Ocelot when we have some auditable

[2020-02-19 12:31] jords1987 commented on #1139
Yeah totally agree implementation would be with the app rather than in ocelot itself.

Not really sure what info, the basics:
- datetime
- request source
- upstream path

Do you have any other ideas?

[2020-02-19 14:03] jmezach commented on #1092
@shiro997 What @jlukawska suggested should fix your issue so I'm closing this for now. Do not hesitate to re-open if it is still an issue for you and I'll be happy to help you out.

[2020-02-19 14:03] #1092 closed

[2020-02-19 14:07] jmezach commented on #1137
Hmm, that's interesting. I've tried this a while back and it was working, although I agree that the documentation isn't very clear on how this should work. But I wasn't getting any 404's as far as I can recall. Do you have some logging that you can share so we can figure out what's going on here?

[2020-02-19 14:15] jmezach commented on #1139
I guess we could add something like this:

[code]

@jords1987 Would that work for you?
@TomPallister Curious to hear your thoughts on this. Is this something you'd like to see in Ocelot?

[2020-02-19 15:53] cooperdramsey commented on #1135
Sure!
Startup.cs
[code]

Program.cs
[code]

ocelot.json
[code]

[2020-02-19 16:06] jords1987 commented on #1139
@jmezach that would work for me brilliantly, what do you think to including the whole HttpContext so people can take from it what they need to? maybe thats overkill? could probably just use IHttpContextAccessor if they really want to see that.

[2020-02-19 16:15] cooperdramsey commented on #1135
I just tried a few things out and I think I understand better. What helps me understand is to think of ocelots authentication as simply doing token validation, so whatever client ID I provide ocelot is the ID that is being validated against. For example, I set up my gateway to validate against one of the APIs inside my system (lets say client id A). So in this case, I can set the authorize tag on

[2020-02-19 17:25] pedramrezaei commented on #1132
Thanks. Yes, it is pill request #1133. Thanks a bunch!

[2020-02-19 17:55] pedramrezaei opened #1140 "ci/circleci: builds seem to fail for most/all with "Coveralls repo token not found. Set environment variable OCELOT_COVERALLS_TOKEN""
Any ideas? @TomPallister ?

[2020-02-21 20:06] PeymanDinani opened #1141 "Ocelot lifetime/http context question."
Hi,
I have Ocelot gateway running on IIS, and there are multiple services such as Authentication behind it.
My problem is when user one starts to call the services through ocelot, The next user (user two) from a different computer connects to services with user one's token. I tried to authenticate directly through Authentication Service without going through the gateway. Once I get the token and u

[2020-02-22 08:18] dongphh opened #1142 "[Question] Ocelot jwt authentication with web api (not .net core api)"
Hi,

How do i using bearer jtw authication with my web api 2 ?

I have setup ocelot with jwt auth, it run ok.
Now I have 1 web api 2 (not .net core api) that I want to authenticate using ocelot auth. How to configure in web api 2 to auth token request.Can you give me example.

My system diagram

client ---> ocelot gateway <---  auth using jwt token -- > web api 2
 ocelot include ( Logging,jwt bear

[2020-02-22 12:32] TomPallister commented on #1140
just merged a PR to fix this, should be OK now. Just made it only push to coveralls when we are on master.

[2020-02-22 12:32] #1140 closed

[2020-02-23 11:17] horato opened #1144 "AuthenticationHandler<TOptions>.ChallengeAsync isn't called"
I am not entierly sure how to fill the issue template, I am sorry.
Is there any reason why AuthenticationHandler<TOptions>.ChallengeAsync doesn't get called when auth fails? Is this by design or am I doing something wrong? Is this implemented?

Thank you

[2020-02-24 12:00] matsch01 opened #1145 "[Question] Please clarify ServiceDiscoveryProvider settings in Kubernetes scenario."
1. Can you please clarify what the ServiceDiscoveryProvider refers to?
- Does it map to an existing resource in the Kubernetes environment? Like the kube-dns service or a user defined service? Which one?
- Or is this used to configure something internal to Ocelot?

2. If this refers to an existing Kubernetes resource, please clarify what the values for Host, Port, and Token refer to on the artifac

[2020-02-24 15:28] jmezach commented on #1144
Hi @horato. I think that ChallengeAsync is typically used when interactive authentication needs to happen for the user. This is not a typical scenario for API's. Perhaps you could explain a little bit more about what you're trying to do so we can help you out?

[2020-02-24 16:07] horato commented on #1144
Hi,
Our ocelot gateway has two endpoints - /domain/* and /client/*. Domain route uses basic auth and client route uses NTLM. We have one AuthHandler for basic auth.
We used HttpSys for NTLM auth, but it seems that it always validates basic auth login:password with local active directory. This results in the account being permanently locked because basic auth password does not match the domain pass

[2020-02-24 18:12] jmezach commented on #1144
Could you share your Program.cs, Startup.cs and configuration? Maybe I can figure out what's going wrong.

[2020-02-24 20:30] PeymanDinani commented on #1141
I just found a workaround for now. Setting AuthPresisSingleRequest to true fixed it for now. IIS has AuthPresisSingleRequest to false by default for performance reasons therefore authentication persisted for the remaining session. By setting AuthPresisSingleRequest to true in IIS, the user will be authenticated per request and no authentication info will be persisted. Now I need to make sure the s

[2020-02-24 20:30] #1141 closed

[2020-02-25 06:48] jmezach commented on #1135
No worries, I'm glad I could help out. Good luck building your API gateway.

[2020-02-25 12:24] horato commented on #1144
Here is a quick and dirty sample that seems to ilustrate my issue. If you call GET on http://localhost:10000/gateway/test you will end up in NtlmAuthHandler.HandleAuthenticateAsync, which fails auth. Code in HandleChallengeAsync doesn't get called and the response is plain 401 without any additional data.
When you edit the HandleAuthenticateAsync like this:
[code]
Then it works as expected: One re

[2020-02-27 06:56] fadem commented on #606
hi, I have a question about the request to aggregates from Angular CLI.
I set the configuration that I needed for "Aggregates". Normally this Route work on the requested URL but when I try to this on Angular CLI it was returned response "Cors Origin Error". I set the configuration for "Cors Origin Error" and those are work one by one without returned response "Cors Origin Error".

[2020-02-27 07:09] fadem commented on #716
hi, I have a question about the request to aggregates from Angular CLI.
I set the configuration that I needed for "Aggregates". Normally this Route work on the requested URL but when I try to this on Angular CLI it was returned response "Cors Origin Error". I set the configuration for "Cors Origin Error" and those are work one by one without returned response "Cors Origin Error".

[2020-02-27 07:10] fadem commented on #79
hi, I have a question about the request to aggregates from Angular CLI.
I set the configuration that I needed for "Aggregates". Normally this Route work on the requested URL but when I try to this on Angular CLI it was returned response "Cors Origin Error". I set the configuration for "Cors Origin Error" and those are work one by one without returned response "Cors Origin Error".

[2020-02-27 11:12] kvskranthikumar commented on #695
Today we hit this issue, any update on how will this be handled.

Uploading a huge file (2GB +) to an API through Gateway throws an exception as
exception: System.IO.IOException: Stream was too long.

[2020-02-27 12:54] TomPallister commented on #695
Yes we should have a way of doing a stream if no transforms are required. If someone submits a PR for this we can accept it.

[2020-02-28 09:36] daxnet commented on #1137
Hi @jmezach ,
Thanks for the feedback.
I made a very simple example app and pushed to github:
[https://github.com/daxnet/OcelotDemo](https://github.com/daxnet/OcelotDemo)
You can have a test by first running `OcelotDemo.API` then `OcelotDemo.Gateway`, you will see everything works fine. But if you comment the line:
`app.UseOcelot().Wait();`
and uncomment the line:
`app.UseOcelot((builder, config)

[2020-02-28 11:24] HariSittu opened #1146 "Instead of merging, why we cannot extend the environment configuration with global configuration reroutes"
In my project, the count of reroutes is quite more. In case of new environment, the changes to the global configuration is DownstreamPath. But what i have to do is, copy the whole configuration and change the DownstreamPath of each route.
Instead why can't we implement below like example,

global json,
[code]
my new environment json,
[code]
For Creating json, extending by key would help more

[2020-03-01 01:52] CwjXFH opened #1147 "UpstreamHeaderTransform doesn't work"
Hi,

The [doc](https://ocelot.readthedocs.io/en/latest/features/headerstransformation.html) said, can use **UpstreanHeaderTransform** to add header to upstream request.
I configure ocelot like this:
[code]
But the **UpstreamHeaderTransform** doesn't add headers to the upstream request.

![](https://user-images.githubusercontent.com/11468733/75617992-231aa600-5ba2-11ea-9e11-1a0bd4206b76.PNG)

My de

[2020-03-03 10:49] Misiu commented on #1040
@zee85 I'm planning architecture for the next project and I want to use Ocelot and SignalR.
So you removed the `GetUserId` method from your hub's and you are doing authentication logic inside the SignalR project?
Is your code available somewhere? I'd like to see Ocelot, SignalR, IdentityServer, and RabbitMQ working together.

[2020-03-03 13:20] zee85 commented on #1040
You know I really rather keep my project private. In the essence though of sharing given all the open source stuff I'm using… here you go.

https://github.com/zee85/Classifieds

[2020-03-03 13:29] zee85 commented on #1040
Ocelot doesn't handle authentication.

https://ocelot.readthedocs.io/en/latest/features/websockets.html

You need to authenticate in the startup. See my Startup file in Classifieds.Chat.

[2020-03-03 13:31] Misiu commented on #1040
@zee85 thank you for sharing 🙂
I plan to build my project on GitHub so it will be open-sourced as well :) Your code will help me a lot to get started with Ocelot, SignalR, and others.
I always wanted to build a project based on microservices, now I have an opportunity.

I saw in ocelot docs that it doesn't handle authentication for SignalR (WebSockets). Hopefully, someday it will

[2020-03-03 13:44] zee85 commented on #1040
Ocelot does not handle authentication using SignalR. However, it is very easy to add into your project fronted by the api gateway. The auth won't be handled at the gateway level but ocelot does a good job supporting web sockets. Before implementing Ocelot I struggled to find a way to support websockets across multiple hosts. Ocelot though has load balancing part of its SignalR integration.

[2020-03-03 15:59] HorjeaCosmin commented on #1118
Hi @jmezach,

I have a similar approach / issue on my staging server, using IIS.

This is my ocelot.json file:

{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/commonFolder/api1/api/products/{everything}",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 80
        }
      ],
      "UpstreamPathTemplate": "/api

[2020-03-03 23:15] jmezach commented on #1118
The ANCM Failed To Start Within Startup Time Limit error suggests that something is going wrong during startup of your API gateway application. You could try enabling logging through the Web.config as documented [here[(https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-3.1#log-creation-and-redirection) to figure out what's going wrong.

[2020-03-04 08:32] HorjeaCosmin commented on #1118
This is what I get on log:

[aspnetcorev2.dll] Initializing logs for 'C:\Program Files\IIS\Asp.Net Core Module\V2\aspnetcorev2.dll'. Process Id: 7864.. File Version: 13.1.20018.2. Description: IIS ASP.NET Core Module V2. Commit: c3acdcac86dad91c3d3fbc3b93ecc6b7ba494bdc.
[aspnetcorev2.dll] Resolving hostfxr parameters for application: '.\APIGateway.exe' arguments: '' path: 'C:\mydomain.com\commonFo

[2020-03-04 08:41] HorjeaCosmin commented on #1118
Hi again,

I found a solution based on "failed dto load creclr" exception and now everything works fine if I switch from inprocess to outOfProcess hostingModel.

Thank you very much for your time @jmezach!

Regards,
C

[2020-03-04 08:41] jmezach commented on #1118
Cool! No problem. Glad I could help you out. I'll go ahead and close this issue.

[2020-03-04 08:41] #1118 closed

[2020-03-07 15:24] garora commented on #585
@TomPallister - is this feature still under development?

[2020-03-09 11:42] zaheershk commented on #695
Hi @TomPallister we would like to submit a PR for this. Let us know if the suggested fix below looks ok.

**File:** src\Ocelot\Request\Mapper\RequestMapper.cs
**Line:** 46
**Change:** Modify the content-mapping as below (commented previous code for reference)

`//// Never change this to StreamContent again, I forgot it doesnt work in #464.
 //var content = new ByteArrayContent(await ToByteArray(re

[2020-03-09 11:59] zaheershk commented on #695
@TomPallister when you say "if no transforms are required", could you guide me as to where the "transforms" are being handled within Ocelot? I'd like to submit a PR for this fix.

[2020-03-11 20:14] TomPallister commented on #1115
this is now merged into master

[2020-03-11 20:14] #1115 closed

[2020-03-11 20:41] TomPallister commented on #695
@zaheershk

Ocelot does a bunch of processing on the incoming HTTP request and HTTP response from the server such as working with headers, changing the path & content. All of this is optional based on configuration. Ocelot just assumes this functionality is being used so always reads the HTTP request / response stream into memory even if it isn't doing anything interesting with it. If the user doe

[2020-03-11 20:42] TomPallister commented on #1040
Can anyone point me to how the identityserver and signal r authentication works? I thought signalr only supported basic auth? :o I might be behind the times as have not worked much in dotnet recently :)

[2020-03-11 20:46] TomPallister commented on #585
This feature might have been done by the community while I was away from the project. Maybe try test it and let me know.

[2020-03-12 10:09] ARM-Source commented on #341
Hi! I cant get the OcelotApiGw to merge all configuration.json/ocelot.json file in the solution. Every link you guys posted does not work anymore. I also created a question on https://stackoverflow.com/questions/60636040/ocelot-not-finding-reroutes-files.

I hope you can help me to get the OcelotApiGw Service to find and merge all configuration files.

[2020-03-12 18:12] redplane commented on #737
Any update on this ?

[2020-03-12 18:15] redplane commented on #754
Same problem happened to me.
Any solutions please ?

[2020-03-13 15:03] mphelt opened #1153 "Unexpected behavior of Polly"
## Expected Behavior
Having:
[code]
and no Polly everything works as expected - timeout is respected as per #604 .
I would expect everything to work exactly the same after .AddPolly() is added.

## Actual Behavior
Unfortunatelly after .AddPolly() is added it doesn't work anymore.
The following error is logged: "Error in CircuitBreakingDelegatingHandler.SendAync".
It starts to work again with the f

[2020-03-13 18:37] dwayne-walters commented on #240
Hi All, I'm having similar issues with 14.1.0; I cannot assign an array of roles in ocelot.json file:
for example "role": ["user","admin"]. "claim value:  is not the same as required value: TestR for type: Role errors found in ResponderMiddleware" this in turn returns a **403 Forbidden**

[2020-03-19 09:09] JHeLiu opened #1156 "Why have I been making 500 errors under.net CORE 3.1"
Why have I been making 500 errors under.net CORE 3.1

[2020-03-19 10:52] jmezach commented on #1156
Hi @JHeLiu, could you elaborate a little bit about your setup? What kind of errors are you seeing? Do you see anything in the logs? What does your Program.cs and/or Startup.cs and configuration look like?

[2020-03-19 12:24] seancarmichael opened #1157 "Multiple routes, 2nd with no UpstreamHost causes a validation failure"
## Expected Behavior / New Feature
Route should be correctly mapped

## Actual Behavior / Motivation for New Feature
Validation failure

## Steps to Reproduce the Problem

  1. Use this configuration:
[code]

2. The mapping will work if specifying for the 2nd route:
           ` "UpstreamHost": ""`

## Specifications

  - Version: 14.0.5
  - Platform: Windows/Linux

[2020-03-19 14:44] pilgren commented on #697
@cguyonnet Thanks a lot! This really helped in my case.
I needed to update the headers of the downstream calls with values I get from other services. The ability to get dependencies injected into the Ocelot middleware was crucial for this flow and your code works like a charm for this.
Thanks again 😄

[2020-03-20 05:37] ihoeysun opened #1158 "Error making http request"
## question
  I use consul + ocelot, when the Kestrel at the same time open HTTP and HTTPS, when make consul server found gateway distribution of ocelot do will throw an Error: message: Error Code: UnableToCompleteRequestError message: Error making HTTP request

## ocelot logs
[code]
## kestrel config
[code]
## register consul config
[code]
## consul
![image](https://user-images.githubusercontent.

[2020-03-20 14:51] RomainHautefeuille opened #1159 "Add list of authorization policies to route configuration"
## New Feature
[code]
The policy would be injected in DI as a standard asp.net service and would only expose a single method called during the **PreAuthorizationMiddleware** phase:
[code]
The pipeline calls all registered policies for the ReRoute and stops if any returns false.

## Motivation for New Feature
Provide an easier way to configure additional authorization checks.
Today there is a worka

[2020-03-20 15:36] zzs89117920 opened #1160 "响应的数据时间格式增加上了时区"
## Expected Behavior / New Feature

响应的数据时间格式增加上了时区
## Actual Behavior / Motivation for New Feature
原始数据
[{"Date":"2020-03-21 23:29:10","TemperatureC":37,"TemperatureF":98,"Summary":"Cool"},{"Date":"2020-03-22 23:29:10","TemperatureC":0,"TemperatureF":32,"Summary":"Mild"},{"Date":"2020-03-23 23:29:10","TemperatureC":-5,"TemperatureF":24,"Summary":"Freezing"},{"Date":"2020-03-24 23:29:10","Temperat

[2020-03-20 17:32] RomainHautefeuille commented on #1147
I suspect vscode-restclient displaying only the request headers that it generates (User-Agent & accept-encoding).
Ocelot being a proxy, there is no way for vscode-restclient to know which headers are added to the request by the proxy and display them, at least none that I am aware of.
Are you sure that the headers are not correctly received by the webapi? I would suspect they actually are.
Also mi

[2020-03-20 20:20] jlukawska commented on #1147
Hello,

UpstreamHeaderTransform adds a header to the request. As I see you expect your headers in the response.

If you want add headers to responses you should use DownstreamHeaderTransform.

If you want to use UpstreamHeaderTransform and check if headers are added in the request, you can find them e.g. in service controller actions using Request.Headers["ocelot"].

[2020-03-21 00:54] JHeLiu commented on #1156
@jmezach Sorry, I saved it directly with browser access, if I can request it with program, may this be my problem?Maybe you can turn it off,
Another question I would like to ask is can the upstream server carry the request header to the downstream service?

[2020-03-21 06:23] CwjXFH commented on #1147
@RomainHautefeuille @jlukawska
You're right, thanks!

[2020-03-21 06:23] #1147 closed

[2020-03-22 01:23] #1160 closed

[2020-03-22 06:20] gebiWangshushu commented on #1114
Service Discovery with Consul can helps you

[2020-03-22 08:48] jmezach commented on #1156
Headers coming into your API gateway should be forwarded to the downstream service by default yes. This should work out of the box and should not require any configuration. Have a look at the [docs](https://ocelot.readthedocs.io/en/latest/features/headerstransformation.html) if you need some kind of transformation.

[2020-03-22 09:25] jason0100 opened #1161 "Caching not working with .NET Core 3.1"
Hello, I am new to Ocelot , and I followed the document at https://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html
My project SDK is .NET core 3.1, I install Ocelot 14.1 and cacheManager,
But the Api service still return current datetime instead of cache same time.
I append my project, can someone help me.

Thank you very much.

in Starup.cs
[code]
and in ocelot.json

[code]

[2020-03-22 17:16] gionapaolini commented on #1145
I agree with you the documentation for this is not clear.
Also I don't understand why it won't work by using the service name as host, that is the way in which services communicates in kubernetes (at least in the same namespace).

[2020-03-22 18:57] HorjeaCosmin opened #1163 "Mutiple SignalR hubs failed"
## Expected Behavior / New Feature
Using bellow config:
[code]
I was expected to be able to connect on both hubs.

## Actual Behavior / Motivation for New Feature

I was able to connect only to project1Hub, but on the second hub I get 404 error.

## Steps to Reproduce the Problem

## Specifications

  - Versions: Ocelot v.14.0.11 & net core 3.1 solution

[2020-03-22 19:43] jlukawska commented on #1161
Hello,
Please remove spaces from `" FileCacheOptions "` and `" TtlSeconds "`. It should look like this:

[code]

It should work then ;)

[2020-03-22 20:00] jlukawska commented on #1163
Hello,

There seems to be a typo in the following line before "project2/":

"DownstreamPathTemplate": "/rootFolder/**l**project2/hubs/{project2Hub}"

[2020-03-22 23:47] jason0100 commented on #1161
Thank yo. Unbeliveable that I copy text and paste without notice these sapce.

[2020-03-22 23:47] #1161 closed

[2020-03-23 05:35] HorjeaCosmin commented on #1163
Kidding right?

Used names are demo only, in production everything is configured fine.

One more hint, it seams that if I do switch project1 with project2, now project2 is running and the other throw 404.

[2020-03-23 06:08] ahofman opened #1164 "Rate Limiting - allow limits per downstream route"
##  New Feature

Add a new boolean configuration option to global rate limiting options called `counterPerDownStreamReRoute` . When set to true, call counts for rate limiting will be counted per down stream reroute, rather than per http verb/path.

## Actual Behavior / Motivation for New Feature

In the current implementation of rate limiting a counter is maintained for every unique combination of

[2020-03-23 09:59] JHeLiu opened #1165 "Can I return the response header from the downstream service site?"
Can I return the response header from the downstream service site?

[2020-03-23 10:05] pilgren opened #1166 "Response body is empty on unauthorised responses"
## Expected Behavior
When creating a custom authentication handler the failure message is not returned in the 401 response from Ocelot. I would expect this failure message to be in the response body so that the API consumer could get a hint of why the authentication failed.

**The authentication handler**
[code]
**The startup configuration**
[code]
**ReRoute configuration**
[code]
## Actual Behavi

[2020-03-23 12:53] neetra opened #1168 "Autogenerated swagger contents"
## Expected Behavior / New Feature
autogenerated swagger contents are generated under models.

![image](https://user-images.githubusercontent.com/30404609/77318708-7f9d5b00-6d33-11ea-8e71-da72c4bb4946.png)

  - Version: 13.0.0
  - Platform: .Net core 2.1

[2020-03-23 20:29] jlukawska commented on #1157
Hello,
I'm not sure why you're receiving 404 (any proxy in front of the Ocelot api?). Using the given example I'm receiving 500 (instead of 404) because of the configuration validation failure. The reason is that these two reRoutes are considered as duplicate when one of them has no UpstreamHost. I think I've found the problem and I'll create a PR with the fix.

Have you checked the logs if there

[2020-03-23 22:12] seancarmichael commented on #1157
Thanks @jlukawska.  I've update the description to refer to a validation failure.

[2020-03-24 07:43] hifeamin commented on #1068
Hi.
Can anyone solve this problem? Or any idea to use consul service discovery in docker container?

[2020-03-24 10:12] HorjeaCosmin commented on #1163
Any clue / workaround, anybody?

Regards,
Cosmin

[2020-03-24 11:44] jlukawska commented on #1163
Hello,
Both your reRoutes are the same: they have the same `UpstreamPathTemplate` ("/hubs/{whatever}") and `UpstreamHttpMethod`, but maybe it is only one more simplification in your example?

I can imagine the situation where the routing would work as you wrote... If your example is ok and a request is to '/hubs/project2Hub' then the first reroute will work, so the downstream path will be look lik

[2020-03-24 11:57] HorjeaCosmin commented on #1163
Hi,

My initial idea was to have all hubs together under the same upstreamPath (/hubs). One solution would  be if I could configure to match exactly upstreamPath to downstreamPath but I think this is not possible. If there is not other option I will change the upstreamPath for the second project.

[2020-03-24 18:29] FrankGasparotto opened #1170 "Ocelot with JWT .NETCORE 3.0 - ERROR"
Hi there, please i need a little help, i´ve followed the documentation and i´ve configured my JWT and app to run BUT, i´m getting this message: "Unable to start Ocelot, errors are: Authentication Options AuthenticationProviderKey:TestKey,AllowedScopes:[] is unsupported authentication provider" everytime i try to run the service.

I´m using:
.net core 3.0;
AspNetCore.Authentication.JwtBearer (3.1);

[2020-03-25 04:31] EngRajabi opened #1171 "route cache with custom header or claim"
add cache in route with custome header or claims

like:
[code]

[2020-03-25 14:53] Mar4eli commented on #311
Sorry for the necroposting. But i was able to find this project: https://gitee.com/hongjun45/Ocelot

Maybe it would help. But use it on your own risk. I haven't checked this code for vulnerabilities

[2020-03-25 18:35] kjellegafvelin commented on #495
I'm currently looking in to add OpenTracing support to Ocelot. Is there anyone else doing this too?

[2020-03-26 03:25] Cloudmersive commented on #1114
But why not just add Health Check like other load balancers?

https://docs.nginx.com/nginx/admin-guide/load-balancer/http-health-check/

[2020-03-27 11:15] gebiWangshushu commented on #1114
You are right.

[2020-03-29 17:16] sunilk3 opened #1174 "Query string parameter getting duplicated in downstream path"
## Expected Behavior
Query string parameter should not duplicate.

1.

Upstream Request: `contracts?projectNumber=45&startDate=2019-12-12&endDate=2019-12-12`
Downstream Request: `api/contracts?projectNumber=45&startDate=2019-12-12&endDate=2019-12-12`

2.

Upstream Request: `contracts?$filter=ProjectNumber eq 45 and DateOfSale ge 2020-03-01T00:00:00z and DateOfSale le 2020-03-15T00:00:00z`
Downstre

[2020-03-30 15:32] mkanakis commented on #1040
Hi @TomPallister

Here is an example of what I have been using with my Hubs project:

[code]

Taken from [here](https://stackoverflow.com/questions/55925741/signalr-using-identityserver-bearer-wont-receive-any-jwtbearerevents-from-hub)

Hope this helps.

[2020-03-31 09:05] ArminNaish commented on #657
Hello everybody,
we have also struggeled with getting Windows Authentication (Kerberos) working with Ocelot. At first we received 401 unauthorized constantly. In order to fix that we changed the implementation of the HttpClientBuilder class. After we added *UseDefaultCredentials=true* to the HttpClientHandler, we no longer received 401 unauthorized errors:

[code]
I guess setting UseDefaultCredent

[2020-03-31 14:59] sachinjagdale opened #1176 "Rate limiting based on client id from token"
**New feature**

Requirement is as follows

Rate limit as per client id from auth token. (Bearer token for e.g)
Need white listing based on client id in token

I need to use client id from token instead of header.  header based implementation not suitable in cases where user can make requests by changing client id .

Is there way to do this ClientRateLimitingMiddleware? I can see some code coupled

[2020-04-01 06:27] saitejaprattipati commented on #643
@thangchung  I have same issue so i have followed your approach and implemented exactly but getting error as 404 not found.
**Message:** `message: 404 (Not Found) status code, request uri: http://authorcommandgrpcservice/greet.Greeter/addArticle`

[2020-04-01 11:36] sunszl opened #1177 "Can not reroutes to url with more slash"
## Expected Behavior / New Feature
I want to reroute upstream:  /reroute/api/method
to downStream: /api/method

## Actual Behavior / Motivation for New Feature

It's Ok if there is only the api part.  "/reroute/api"  will be rerouted to "/api/"
But if the method part is added. Ocelot failed to recognize this pattter.
put  "/reroute/api/method" in ,and it will not trigger the reroute role.

## Step

[2020-04-01 12:48] kvskranthikumar commented on #695
Any timeline to get this fixed near future?

[2020-04-01 14:04] pmjaleel opened #1178 "How to Validate a JWT token from the API?"
We are creating an application where Ocelot Gateway is going to be used for the API Gateway. How will we validate a JWT token at the Gateway?

Regards
Parvez

[2020-04-01 15:33] wast commented on #1178
Same as in any other application.
In Startup - ConfigureServices

`            var key = Encoding.ASCII.GetBytes(Configuration.GetValue<string>("Token:Secret"));
            services.AddAuthentication(x =>
            {
                x.DefaultAuthenticateScheme = "Jwt";
                x.DefaultChallengeScheme = "Jwt";
            })
            .AddJwtBearer("ApiSecurity", x =>
            {

[2020-04-01 18:47] wast commented on #1174
@TomPallister what is the purpose of this line exactly?
`context.DownstreamRequest.Query += GetQueryString(dsPath).Replace('?', '&');`

[2020-04-01 19:06] wast commented on #948
Wow this is unbelievable. Can you still reproduce it?

[2020-04-01 19:09] wast commented on #699
Isn't this already working? https://ocelot.readthedocs.io/en/latest/features/routing.html#routing

![image](https://user-images.githubusercontent.com/9076227/78176616-10271a00-745d-11ea-9e11-f5e2321b9546.png)

[2020-04-01 20:10] wast commented on #707
I can confirm that these are successfully cached.

Config:
[code]

[code]

[2020-04-01 20:19] wast commented on #1177
That should work. Move BaseUrl to GlobalConfiguration (read the docs).
Also set log level to Trace and check logs from Ocelot.

[2020-04-01 21:40] wast commented on #1116
Remove /{everything} and querystring will be available in downstream.

[2020-04-01 21:40] wast commented on #1000
Please paste your ocelot ReRoute config.

[2020-04-01 21:43] wast commented on #1170
`.AddJwtBearer("TestKey", x =>`
must match
`"AuthenticationProviderKey": "TestKey"`

[2020-04-02 01:20] sunszl commented on #1177
[code]
this is full version of my ocelot.json.
I tried many times, it works  for  'https://localhost:44315/api'.
But it doesn't works for  'https://localhost:44315/api/method'.

[2020-04-02 01:39] pmjaleel commented on #1178
@wast

[2020-04-02 01:39] #1178 closed

[2020-04-02 07:01] GarethBalfour commented on #48
@icebergdelphi did you get anywhere with the request above?

[2020-04-02 07:07] wast commented on #1177
I just tested it and it works.

[code]

Running https://localhost:5001/**posts/todos/3**
Routes to httos://jsonplaceholder.typicode.com/**todos/3**

[2020-04-02 09:08] sunszl commented on #1177
I forgot to set the downstreamRoute. It has nothing to do with ocelot.
Ignore this issuse.
Anyway thanks for your help.

[2020-04-02 09:08] #1177 closed

[2020-04-02 09:49] wast commented on #1165
All headers are returned from downstream response to upstream.

[2020-04-02 11:00] wtf-boy commented on #948
The placeholders in my UpstreamPathTemplate now try to avoid using the characters that appear in Query

[2020-04-02 16:04] enriko-riba commented on #1126
I know this is old and you already provided a PR but just to clarify the issue.

There is nothing wrong in sending the traffic to the virtual service IP but above the TCP/IP routing is the HTTP layer with the connection concept.
Basically once you establish a HTTP connection with an endpoint you are stuck with the same connection/endpoint. The connection is kept alive until the pod resets it (whic

[2020-04-02 16:29] sunilk3 commented on #1174
@wast Removing this causes the following unit test to fail but resolves the issue I am facing.

`DownstreamUrlCreatorMiddlewareTests.issue_473_should_not_remove_additional_query_string`

[2020-04-03 12:54] ussamoo commented on #1126
Thanks @enriko-riba , so what do you recommend ?

[2020-04-04 23:18] sam9291 opened #1179 "Missing documentation for Secured WebSocket downstream scheme (wss) with SignalR"
## Expected Behavior / New Feature
When using SignalR with secure web sockets, we must use the `wss` downstream scheme to have a successful web socket connection.

## Actual Behavior / Motivation for New Feature
The documentation only mentions to use the `ws` scheme, it should contain instructions for `wss`

## Steps to Reproduce the Problem

https://ocelot.readthedocs.io/en/latest/features/websoc

[2020-04-05 05:28] EngRajabi commented on #1021
Using UseSentry next to Ocelot api gateway is problematic

[2020-04-05 16:38] tungphuong commented on #495
Currently, I am using "OpenTelemetry" in my project. It is quite good; I will update link then

[2020-04-05 18:40] forfront commented on #357
Hi,

I am trying to get downstream certificates to work. I simply want to add a certificate to the request received by ocelot and have the downstream service verify the certificate.

I have registered a DelegatingHandler with almost the same code as presented by @g00fy. I see the call to the SendAsync method adding the certificate to httpClientHandler.ClientCertificates. The downstream service is

[2020-04-06 00:44] jr-araujo commented on #1069
Hi,

I think that you are missing something in your Ocelot configuration.

In the picture below is showing the Ocelot version which has configured in my project:
![image](https://user-images.githubusercontent.com/11546614/78514001-0d9f2a00-77a7-11ea-94ec-5feb9da87e2b.png)

Here is my **Program.cs** configuration. And here is your missing point, take a look:
![image](https://user-images.githubuserc

[2020-04-06 01:02] jr-araujo opened #1181 "Aggregation routing configuration does not allow configuring URL parameter in a different spot"
## Expected Behavior / New Feature

I've been using Ocelot for a while and I have pretty much appreciated for this package. However, I see that the configuration in the Aggregation section doesn't allow to do something like this as depicted in the image below:

![image](https://user-images.githubusercontent.com/11546614/78514473-72f41a80-77a9-11ea-8b9f-b8a70e035eac.png)

So, it would be very inter

[2020-04-06 15:12] wast commented on #948
Use {everything} and it will work.

[2020-04-08 09:45] pmjaleel opened #1184 "Claims to Claims Transformation - Important query"
Hi There,

Without explicitly writing the below configuration:

"AddClaimsToRequest": {
    "UserType": "Claims[sub] > value[0] > |",
    "UserId": "Claims[sub] > value[1] > |"
}

Is there a way that all the claims automatically gets transformed to the outgoing requests?
As there could be frequent change in the claims implementation, configuring each and every claims for every request could be a t

[2020-04-08 10:16] mrmartan opened #1185 "Add sample/documentation for using Ocelot with .NET core Generic Host"
## New Feature
What the title says and basically what is shown here - https://github.com/ThreeMammals/Ocelot/issues/1047#issuecomment-548166528

## Motivation for New Feature
The current samples and documentation are outdated to a previous best practice valid for ASP.NET Core 2.x, and not for ASP.NET Core 3.x

[2020-04-08 13:41] JakubSlonka opened #1186 "Reading Multiple Configuration Files from Specific Folder - throwing: Unable to start Ocelot, errors are reRoute has duplicate"
Hello,

I have encountered some strange behaviour while loading and merging multiple ocelot configuration files from specific folder.

## Background Description:
We have a big project that has tens of microservices on the backend. Since we want to ease the development for out frontend developers we have decided to implement Ocelot Gateway as a single point of contact between frontend and backend.

[2020-04-09 05:40] Weidaicheng commented on #1186
I believe Ocelot doesn't support multiple configurations yet.
Maybe a new feature required.

[2020-04-09 06:23] pmjaleel commented on #1184
Anyone with this information. As I need to get this implemented.

[2020-04-09 07:24] JakubSlonka commented on #1186
Hello, the multi config was requested quite a long time ago and was already Implemented.

The issue here is if config files are placed in specific folder.

 If you place them into the root folder it works fine.

Documentation:
![image](https://user-images.githubusercontent.com/46593282/78868758-c2ee0e00-7a43-11ea-84fe-5182638adce5.png)

[2020-04-09 07:58] ped-suzanto opened #1187 "Always get unauthorized access when setting up an openid authentication"
## Expected Behavior
Authentication using openId should work properly

## Actual Behavior
it always returns 401, no matter if the authority exists or not

## Steps to Reproduce the Problem
my ConfigureServices is:
[code]
  1. the authentication is working fine if I'm not using ocelot
  2. I am suspecting the cookie authentication is the source of the unauthorized error

## Specifications

  - Vers

[2020-04-09 19:29] jlukawska commented on #1186
I prepared a sample project that uses merging multiple config files from a specific folder and everything works fine.

There are two extension methods AddOcelot: IConfigurationBuilder.AddOcelot() and IServiceCollection.AddOcelot(), so it's not the same method call.

Have you checked the result ocelot.json file? Is the whole content of the files really duplicated?

[2020-04-09 19:53] RupenAnjaria commented on #161
is it working? any example please?

[2020-04-10 10:49] JakubSlonka commented on #1186
Ok guys, so I have found out what was causing the strange behaviour.

It was the folder structure that we are using in Kubernetes for our configuration files.

Generally placing configuration files in the folder structure described below will cause described issue.

Folder structure:
etc/config/

[2020-04-10 12:41] mantasaudickas opened #1188 "I would like to add a possibility to change service name dynamically"
Hello,

at the moment service name is chosen based on first segment in the path.
I would like to be able to map one (or multiple) path segments to service name in consul.

Few examples:
authorization => would mapped to authorization.service.web
authorization/api => would be mapped to authorization.service.api

Reason for this, that my routes are defined in consul tags and I would like to use them

[2020-04-11 09:00] #1132 closed

[2020-04-11 10:50] TomPallister commented on #1126
fixed by #1134

[2020-04-11 10:50] TomPallister commented on #1129
fixed by #1134

[2020-04-11 18:48] TomPallister commented on #603
fixed by #1149

[2020-04-11 18:48] #603 closed

[2020-04-12 17:56] TomPallister opened #1193 "validate FileServiceDiscoveryProvider data"
## Expected Behavior / New Feature

you can stick any old data into this object via json config

## Actual Behavior / Motivation for New Feature

it should be validated

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2020-04-12 18:26] TomPallister commented on #959
fixed by #1154

[2020-04-12 18:26] #959 closed

[2020-04-13 08:00] evertonrds opened #1194 "websocket from Jupyter notebook does not work"
## Expected Behavior / New Feature
use the ocelot as a gateway for jupyter notebook

## Actual Behavior / Motivation for New Feature
The Http is working fine, but when I start a notebook, the kernel does not connect and I can not use the notebook.

## Steps to Reproduce the Problem
### 1
Use the jupyter notebook without any gateway and it works fine
### 2 Configure the gateway
[code]
### 3
Try to

[2020-04-13 10:44] zhutoutou commented on #296
Can this method support IHostEnvironment Or How transform IHostEnvironment to IWebHostEnvironment ?

[2020-04-13 11:04] TomPallister opened #1195 "check OcelotErrorCodes seems some are not being used"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2020-04-13 11:49] TomPallister commented on #961
fixed by #1155

[2020-04-13 17:41] TomPallister opened #1196 "look at the output caching story as MS have some stuff Ocelot could just use"
## Expected Behavior / New Feature

https://docs.microsoft.com/en-us/aspnet/core/performance/caching/response?view=aspnetcore-3.1

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2020-04-13 17:43] #1157 closed

[2020-04-13 20:38] vkishorekumar80 opened #1197 "Getting status 200cannot return from aggregate..which reason phrase would you use?"
## ## Expected Behavior / New Feature
Should return the  response after aggregation {"product":... , "payment":...}

##Actual Behavior / Motivation for New Feature
Returns 200cannot return from aggregate..which reason phrase would you use? while running in Postman with response
{
    "product": ,
    "payment":
}

## Steps to Reproduce the Problem
If I query the indivisual request using https://lo

[2020-04-14 02:05] zhutoutou commented on #296
Can this method support IHostEnvironment Or How transform IHostEnvironment to IWebHostEnvironment ?

[2020-04-14 11:10] redplane commented on #754
This is actually a bug.
I think the library should support url regex instead of using { } template.

[2020-04-14 19:44] jlukawska commented on #1181
Hello,

Could you provide more details? How do you know that it's not allowed? Do you have any validation failures? Have you checked the application log?

[2020-04-14 20:50] jr-araujo commented on #1181
Hi @jlukawska

for all your questions, there is one answer: take a look at in all scenarios before, try to reproduce and you'll see that what I tried to show doesn't work.

[2020-04-14 22:13] rakkum opened #1199 "After updating to kube 15.0.6, no redirect working"
## Expected Behavior / New Feature
We had 14.0.11 installed for our gateway service running in Azure K8s, version 1.15.7. After updating to 15.0.6 no reroutes are working. There should be no regressions when doing this update.

## Actual Behavior / Motivation for New Feature
Looking at the logs, it shows these errors:  Unable to find service discovery provider for type: kube

Here is the Global co

[2020-04-15 05:34] jlukawska commented on #1181
I've tried to reproduce the problem and it seems to work fine. That's why I'm asking for details what exactly does not work.

[2020-04-15 15:30] molesinski commented on #1199
The way I see it, this commit https://github.com/ThreeMammals/Ocelot/commit/6e5471a714dddb0a3a40fbb97eac2810cee1c78d renamed service discovery providers and now they are rejected here https://github.com/ThreeMammals/Ocelot/blob/master/src/Ocelot/ServiceDiscovery/ServiceDiscoveryProviderFactory.cs#L57. This should be broken for all service discovery providers as they were renamed in multiple places

[2020-04-15 16:49] rakkum commented on #1199
Thanks for the solution! Looks like a pretty major bug to me.

Looking at it briefly, would setting the type in GlobalConfiguration to KubernetesServiceDiscoveryProvider work? Guess is should right?

[2020-04-15 20:23] AnthonySteele commented on #311
What are the performance _characteristics_ of Ocelot? What load and what throughput does it support?
What is the typical time to first byte of a downstream service from when Ocelot gets the first byte? Does the downstream service always get first byte after Ocelot gets last byte, or can it be before?

I don't want to talk in terms of "issue" because that's not a meaningful phrase in general. YMMV.

[2020-04-15 21:38] molesinski commented on #1199
No, it wouldn't, because here it still is looking for old type name, which is "pollkube":
https://github.com/ThreeMammals/Ocelot/blob/master/src/Ocelot.Provider.Kubernetes/KubernetesProviderFactory.cs#L30

[2020-04-16 02:23] AraiYuno opened #1200 "Response Header Location Attribute Issue"

[2020-04-16 03:49] #1200 closed

[2020-04-16 10:04] rakkum commented on #1199
Ok, pollkube will remain broken but the default implementation should work or am i overlooking something?

[2020-04-16 12:13] ML13 opened #1201 "Does it support "dynamic" headres?"
## Expected Behavior / New Feature
I need add dynamic Authorization header:
"HMAC-SHA256 Credential=" + credential + "&SignedHeaders=" + signedHeaders + "&Signature=" + signature
Is there any way how to do it?

[2020-04-16 12:25] tkggusraqk opened #1202 "Limit current for a single ip,"
Limit the amount of one ip access over a period of time, is this solution https://github.com/ThreeMammals/Ocelot/issues/1050?

[2020-04-16 14:18] candreouTrade opened #1203 "LoadBalancer causes 401 Unauthorized error"
## Expected Behavior / New Feature
When adding the Roundrobin Loadbalancer option to the ocelot.config.
The gateway should reroute to the downstream microservice without an authorization error

## Actual Behavior / Motivation for New Feature
When adding the Roundrobin Loadbalancer option to the ocelot.config.
I get an 401 authorization error when being routed to the downstream microservice

## Ste

[2020-04-16 22:39] jords1987 commented on #1139
Any more thoughts on this one @jmezach @TomPallister ?

[2020-04-17 01:35] tkggusraqk commented on #1202
@binarymash

[2020-04-17 06:29] rakkum commented on #1199
I can confirm that molesinski's solution works. I will still keep this open though because this should be fixed at library level.

[2020-04-17 13:17] candreouTrade commented on #1031
Did you get this working in the end?

[2020-04-17 13:20] osueboy commented on #1031
The problem i had seemed to be server redirecting from http to https, if you force every call to be https it wont redirect from http to https and should work

[2020-04-17 15:04] mejsin opened #1204 "HEAD warning about hostname could not be parsed"
## Actual Behavior / Motivation for New Feature
see this warning:
warn: Ocelot.Request.Middleware.DownstreamRequestInitialiserMiddleware[0]
      requestId: 0HLV2RDUF49SO:00000001, previousRequestId: no previous request id, message: Error when parsing incoming request, exception: System.UriFormatException: Invalid URI: The hostname could not be parsed.
         at System.Uri.CreateThis(String uri,

[2020-04-18 17:24] 16130586 opened #1205 "Adding basic logical on RouteClaimsRequirement"
## Expected Behavior / New Feature
I just demo something likes bellow

"RouteClaimsRequirement": {
       "UserRole": "role1 OR role2 OR role3"
}

## Actual Behavior / Motivation for New Feature
On this current version, I saw that your project only support for claim value validation is IN   user claims. I need some logical checking on claim values!

I actually navigated on the project's source cod

[2020-04-19 16:07] harshmaurya commented on #842
Yes, I think this should be an option. I have to explicitly add the AuthenticationOptions in every ReRoute which is a bit of a risky thing. Because, if it is missed in a single reroute by mistake, user would be able to access the data unauthenticated.

[2020-04-20 07:18] pmjaleel opened #1206 "Getting 502 Bad Gateway"
I have deployed the API-Gateway in Azure APP service. This was done after test this gateway in local environment.

Once we try to access the swagger page or the URL of the API-Gateway, we are getting 502 bad gateway.

Is there something that we would have missed. The Ocelot version that we are using is 14.1

[2020-04-20 10:47] AvasarGithub opened #1207 "Need sample for How to work with Response in advanced register your own Aggregators"
As per the below documentation :
https://ocelot.readthedocs.io/en/latest/features/requestaggregation.html
I want to implement own aggregator but i did not find any releated document that worked with own aggregator and handle response with custom code.
Thank You
Ramesh Dhandhukiya.

[2020-04-20 12:41] 16130586 commented on #1205
Thanks to your team that the project used same DI container with host project. I have been working hardly for 2 days and now I get the answer.
* First:
- Adding mycustom IClaimsAuthoriser with RPN or anything like syntax parser
* Second:
- In startup.cs file, inside ConfigureServices method, you adding your new claimsAuthorizer by  services.TryAddSingleton<IClaimsAuthoriser , YourCusomClaimAuthori

[2020-04-20 12:41] #1205 closed

[2020-04-20 13:41] candreouTrade commented on #1203
I've looked into this further and it seems that the load balancer (Round Robin) gets called muliple times for one GET request.  This is causing the URL Re-Route to keep changing. Any idea why this happens?

[2020-04-20 15:15] jcfore21 commented on #1199
I'm also receiving this issue trying out the latest version of Ocelot.  I agree this seems like a major bug that should be fixed asap.

[2020-04-20 16:52] RomainHautefeuille commented on #1159
Hi, do you have any feedback on the relevance of this feature request?
Should I try a PR, or do you think it would not be worth it?
Would consider including and supporting it in Ocelot?
Best regards.

[2020-04-20 17:08] lery12 commented on #1199
I can indeed confirm that version 15.x doesn't work.
When going back to 14.1.3 all works fine!

[2020-04-20 19:27] sunilk3 commented on #1174
Using DelegatingHandler I was able to workaround this problem.

[2020-04-21 23:40] candreouTrade commented on #1144
Any luck with getting windows auth working with http.sys?  I've been trying but not had much success. Is there somewhere with a quick example on how to get this working?

[2020-04-22 07:58] Tingtzong opened #1210 "Can not catch ocelot exception"
## Expected Behavior / New Feature
when an exception (404 NotFound exception) occur in ocelot. when we  use try-catch try to catch this exception, we should be able catch this exception.

## Actual Behavior / Motivation for New Feature
 ocelot not throw this exception, swallowed, so the try-catch did not work.

## Steps to Reproduce the Problem

  1. add a handler to ocelot.  add try-catch to this

[2020-04-22 11:35] BHARAT703 commented on #1094
any updates on this issue?
I am getting this on .Net core 3 api.

[2020-04-22 12:36] AnthonySteele commented on #311
My understanding of [code like this](https://github.com/ThreeMammals/Ocelot/blob/master/src/Ocelot/Request/Mapper/RequestMapper.cs#L107) is that Ocelot cannot send the first byte to the downstream until after the last byte has reached ocelot and been read into memory.  And likely the same on the response.

So this puts constraints on how fast Ocelot can operate, and how much it can scale. and each

[2020-04-22 15:07] MasterKolka commented on #1199
Same problem. Please, fix it!

[2020-04-23 11:29] melvinduc commented on #1060
It seems like this doesn't work. I get a duplicate error.

[2020-04-23 11:31] neetra commented on #1207
**Problem **Statement****:
I am using JSONPlaceHolder Fake Rest API

- [Returns all post]( https://jsonplaceholder.typicode.com/posts ): Post have attribute id, title, userid, body.

- [Returns all users](https://jsonplaceholder.typicode.com/users): users have attributes like id, name, username etc
 Aggregate the responses of posts and users , display data in following format:
{
_username_ : [
{_p

[2020-04-24 07:41] rajeshgithub001 opened #1212 "Adminstration outputcache delete not working"
I am using .Net Core 3.1 on which ocelot integrated.
Please find below setups codes:-

StartUp Services:
[code]
Configure:
[code]
Program Hosting:
[code]

Ocelot Global Configuration
[code]

Master Region:
[code]
Now using postman I am able to get token:
URL: http://localhost:65113/administration/connect/token

Response:
[code]
When I call cache to delete it:
URL : http://localhost:65113/administr

[2020-04-24 09:04] AvasarGithub commented on #1207
@neetra .. Thanks for your answer and sharing very good example. It help me as i expected.
Regards!

[2020-04-24 11:31] joaopgrassi commented on #989
I think this shouldn't be closed. Both solutions above work but are not ideal. In essence, unless necessary I think Ocelot should hide these controllers from being "discovered" by things like Swashbuckle.

I didn't have time to look into the code, but just adding `[ApiExplorerSettings(IgnoreApi=true)]` should do the job.

[2020-04-24 12:09] neetra commented on #1207
I am glad, it helped you...!!!

[2020-04-24 12:13] neetra commented on #1072
@ramesh26 .
Ocelot return you compressed data, you need to decompress it. Decompression should happen based on the Content-Encoding header.

[Look here for sample](https://github.com/ThreeMammals/Ocelot/issues/1207#issuecomment-618895233)

[2020-04-24 12:14] neetra commented on #1069
@stefanvoicila  [here ](https://github.com/ThreeMammals/Ocelot/issues/1207#issuecomment-618895233)is the sample.

[2020-04-24 12:15] neetra commented on #716
@fadem  @LukasSefcik  @ramesh26  @MSeifAllah
[here](https://github.com/ThreeMammals/Ocelot/issues/1207#issuecomment-618895233) example how to solve this issue

[2020-04-24 12:23] neetra commented on #1210
@Tingtzong
 Could you please share the sample code?

[2020-04-25 06:26] vchy1997 commented on #1206
hi
I also triggered this problem, but eventually found that it was caused by a configuration problem. The port used for the local host test is port 80, but I did not notice that the azure application is https protocol, so I configured the port to 443 to solve the problem perfectly. Hope it helps you

[2020-04-26 22:35] jr-araujo commented on #1181
@jlukawska

I'm tried, Again, tmy project and... the result was this:

![image](https://user-images.githubusercontent.com/11546614/80321504-6ba6b680-8815-11ea-809c-07b598d41ef5.png)

![image](https://user-images.githubusercontent.com/11546614/80321509-811be080-8815-11ea-87d1-23a321ff6a52.png)

That is, this kind of route doesn't work when you are trying to configure it as an Aggregation route.

On

[2020-04-27 13:15] kcdivy opened #1213 "Intermittent Socket exception"
## Error Description

At this moment we are getting **intermittent socket exception when same request is send consecutively**,
say for example if we send /testservice/swagger/v2/swagger.json 100 times consecutively we get socket exception 2 or 3 times.

Our current deployment routing is  **nginx ingress -> ocelot gateway service -> downstream services**

The above said error is observed  only when

[2020-04-27 16:52] elvishsu66 commented on #1199
I have tried the 15.x and indeed it does not work with provider type "kube" or "pollkube" via appsettings.json. So I rolled back to 14.1.3.

I know it is a major change version. Shouldn't it have a documentation for what has changed?

[2020-04-28 09:13] rajeshgithub001 commented on #1212
Can anyone look into this.

[2020-04-28 11:37] saad569 opened #1214 "How to substitute values in Ocelot json file using Azure DevOps pipeline"
Hi i am using the ocelot json file in one of my gate way api, so i need to substitute values for the host/port for production environment which is different for DEV environment
How i can replace or substitute host/port value by using azure devops release pipeline.

[2020-04-29 12:24] ELymar commented on #620
Hi guys,
My team appears to be running into a similar issue. We have a reverse proxy in our cluster with https traffic on port 443. We can't seem to find any combination of Host, Port, and  Scheme that doesn't return a 502 status code. Config of localhost and 19081 works for a local cluster, but not in our staging cluster. @davidni or @TomPallister  did you guys happen to find a workaround or conf

[2020-04-29 12:39] Faisal-developer commented on #296
@zhutoutou use this

   public static IHostBuilder CreateHostBuilder(string[] args) =>
                 Host.CreateDefaultBuilder(args)
                    .ConfigureWebHostDefaults(webBuilder =>
                    {
                        webBuilder.ConfigureAppConfiguration((hostingContext, config) =>
                          {
                              config.AddOcelot("Routes", hostingC

[2020-04-29 13:37] ELymar commented on #620
It appears we found a configuration that works.
Host: our fully qualified domain name
Port: 443
Scheme: https
DownstreamScheme: https
Not sure if this is ideal, but this seems to be working.

[2020-04-29 20:27] ebjornset opened #1216 "Use merged `ocelot.json` directly from memory instead of from file"
## New Feature
The `ConfigurationBuilderExtensions.AddOcelot` method merges the **ocelot.*.json** files into one **ocelot.json** file that is written back to disk and then added to the `IConfigurationBuilder`.

Would it be possible to make another `AddOcelot` method that adds the merged JSON directly from memory into the `IConfigurationBuilder` using `builder.AddJsonStream` instead?

## Motivation

[2020-04-29 20:46] aspramsh opened #1217 "RouteClaimsRequirement value from header?"
Hi there,

I have a question if there is a possibility to get `RouteClaimsRequirement` claim value from header, I mean :
[code]
but userId is from upstream header and not from the URL?

[2020-04-30 14:47] mosteadman commented on #871
I suspect the problem lies in this line of code

`userManager.AddClaimAsync(user, new Claim(ClaimTypes.Role, configuration["InitialAdmin:Role"]));`

The System.Security.Claims module defines `ClaimTypes.Role` as:

`http://schemas.microsoft.com/ws/2008/06/identity/claims/role`

So this is what Ocelot is expecting as a RouteClaimRequirement

The line below should resolve the issue without needing to

[2020-05-01 07:09] rajeshgithub001 opened #1218 "How to log request json in case of error in ocelot"
I am serilog to log error from ocelot in case of downstream giving any error.
Using serilog i am sending the exception details to Application Insight.

Serilog configuration:-

"Serilog": {
    "Using": [ "Serilog.Sinks.ApplicationInsights" ],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning"
      }
    },
    "WriteTo": [
      {
        "Na

[2020-05-02 08:53] yangbocheng opened #1219 "Need a way to pre-check the request after the route-matched by myself in ocelot.json"
## Want to check the request before ocelot turns to downstream
I want to check the requset-headers by myself after the ocelot matches the url, but before going to the down stream.

-- It's there anyway to add a pre-check Class before upstream to downstream?
-- I can add middleware for some url check, but it's better to config it in ocelot.json so i don't need to re-analyse the url-route

Forexampl

[2020-05-04 10:44] hrishikeshtt commented on #746
@arro000 It helped.
May I please know any update on this?

[2020-05-04 13:14] mitti2000 opened #1220 "How to work with WCF"
## Expected Behavior / New Feature
I'd like to use Ocelot with an existing WCF endpoint but I can't get it to work.

## Actual Behavior / Motivation for New Feature
Following setup:
The ReRoute for the WCF Service
`{
      "DownstreamPathTemplate": "/UpdateService",
      "DownstreamScheme": "ws",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 9000

[2020-05-04 15:42] tnc1997 commented on #1214
Hi @saad569, one solution to differing hosts/ports could be to use an `ocelot.json` configuration file per environment, in a similar way to how the `appsettings.json` files work.

`ocelot.json` (default)
[code]

`ocelot.Development.json` (development)
[code]

`Program.cs`
[code]

`Startup.cs`
[code]

[2020-05-05 15:07] joaopgrassi commented on #649
This is not great.. and I don't think the suggestion above is good enough.

For example with this re-route:

[code]

This works:
`GET: https://localhost:44321/services/v1/tags/id`

This this doesn't (because of the /{everything})
`POST: https://localhost:44321/services/v1/tags`

[2020-05-06 11:21] sergiomcalzada commented on #977
That happens because `ServiceDiscoveryFinderDelegate` is registered as a singleton and the `IKubeApiClient` is registered as a scoped.
That error happens on AspNetCore 3.x

[2020-05-06 15:06] pmjaleel opened #1222 "Can we create or Merge the Identity server 4 and Ocelot into one project?"
While thinking of the architecture of the newly developing application with microservice, we would like to know is it possible that we can have one project for Identity Server 4 and Ocelot Gateway?

[2020-05-06 15:32] bc4250 commented on #311
With Ocelot in K8S docker, .netcore 3.1 runtime,  set serilog level to "Error", use consul as service registry, test one simple echo api service, just get 20% throughput compare to direct API,  more concurency worse performance; but test with Kong, get much better, nearly the same with direct api calling.

Could someone tell me a clue to finetune the performance of Ocelot? thank you in advance! Be

[2020-05-07 06:38] #1184 closed

[2020-05-07 07:27] xyfy commented on #1187
I got a similar question.

when I pass `bearer` token  on the header.

the ocelot does not validate the token if the url do not need authorize.

I want the ocelot go check it ,when I pass the token.        if I do not pass it ,do nothing is ok

[code]

[2020-05-07 10:59] gubdar opened #1223 "DownstreamUrlCreatorMiddleware fails to map query when query parameter value contains ')'"
## Expected Behavior / New Feature
Request is forwarded to downstream service.

## Actual Behavior / Motivation for New Feature
Ocelot throws:
[code]

## Steps to Reproduce the Problem
  1. Create ocelot json with following re-route
[code]
  2. Invoke `GET /api/assets?assetId=105955_4_065822019_%26)%E7%BB%87%C3%93%25`

## Specifications
  - Version: Ocelot 13.5.2
  - Platform: .NET Core 2.2

[2020-05-07 21:58] schwede opened #1225 "Is Custom Service Discovery or Dynamic Route Registration Supported?"
If you are not using Consul or Eureka and you have routes that are not static but still need to registered dynamically, is this possible with the current release?

[2020-05-08 18:30] sachinjagdale opened #1226 "Rate limit enhancement"
## Expected Behavior / New Feature
**Feature**: [Rate Limiting](../blob/develop/docs/features/ratelimiting.rst)

 [IRateLimitCounterHandler](/search?q=repo%3AThreeMammals%2FOcelot%20IRateLimitCounterHandler&type=code) contract should have async methods support.

## Actual Behavior / Motivation for New Feature

[IRateLimitCounterHandler](../blob/develop/src/Ocelot/RateLimit/IRateLimitCounterHandler

[2020-05-11 06:18] neetra opened #1228 "Dynamically set/add Configuration for rate limiting"
## Expected Behavior / New Feature
For every re-route, we need to add
 "RateLimitOptions": {
        "ClientWhitelist": [],
        "EnableRateLimiting": true,
        "Period": "10s",
        "PeriodTimespan": 3,
        "Limit": 1
      }

Now, if I want to fetch this configuration from a database or any file at run time and assign it for specific routes

For eg"
Startup.cs
[code]

[2020-05-11 06:30] neetra opened #1229 "Global rate limiting for all, multiple routes instead of every route"
## Expected Behavior / New Feature
Add rate limit options for all requests in common
[code]
## Actual Behavior / Motivation for New Feature
We add rate-limiting options for every route :
For e.g:
[code]

[2020-05-11 08:06] Melchy opened #1230 "AddOcelot() excludes selected enviroment"
## Expected Behavior / New Feature

`ConfigurationBuilderExtensions.AddOcelot(config,"Development");` should load ocelot.Development.json.

## Actual Behavior / Motivation for New Feature

I have ocelot.Development.json, ocelot.Testing.json. When I use  `ConfigurationBuilderExtensions.AddOcelot(config,"Development");` ocelot.Testing.json is loaded instead of ocelot.Development.json.

Looking at th

[2020-05-11 15:35] pmjaleel commented on #1222
Can anyone help me in information on this?

[2020-05-11 19:16] jmezach commented on #1222
Although I haven't necessarily tried this myself, I can tell you that I've managed to combine Ocelot with some handwritten API controllers as part of the same project, which suggests to me that there shouldn't be a reason why this wouldn't work. You would probably have to follow the guides for setting up both Ocelot and IdentityServer and make the necessary changes to your `Startup.cs`, but I can'

[2020-05-12 05:36] EngRajabi commented on #495
support jaeger and zipkin.
These two pamphlets are the best tools

[2020-05-12 07:19] sachinjagdale commented on #1226
Can we update IRateLimitCounterHandler ? to return Task insted of void

[2020-05-12 12:25] emoji-m opened #1231 "Always getting a 404 Not found"
## Expected Behavior / New Feature
Call will be forwarded after positive authentication to the destination route

## Actual Behavior / Motivation for New Feature
Request is positive authenticated in self-made authentication middleware within HandleAuthetnicateAsync() but crashes with a 404 Not found

## Steps to Reproduce the Problem
  1. Send via Postman: https://localhost:44329/api/v1/gateway/wh

[2020-05-13 11:08] jlukawska commented on #1181
Hi,
I still can't reproduce this problem based on your code, but... I can guess. If your ocelot.json contains a ReRoute with `UpstreamPathTemplate="/customers/{id}"`, the result can be 404, because this reroute will be will be used first (id will be: "your_guid/orders").

If this is the reason, to make it work you can add a priority (value should be greater than 1) for the aggregate config e.g.
`"

[2020-05-14 09:54] pmjaleel commented on #1222
We did it.

[2020-05-15 15:57] Zavix210 opened #1233 "Custom Authentication Handler - Unable to retrieve Body"
## Expected Behavior
Be able to read the Request.Body from the HTTP Request.

## Actual Behavior / Motivation for New Feature
Unable to retrieve the body. The reason for doing this is I'm implementing an API Key setup with HMAC and would like to verify the body data against the HMAC headers.

##Notes
I'm unsure if this is by design or not however i can't find a way to actually retrieve the body re

[2020-05-18 21:57] falcoprescher commented on #360
Is there some update about this feature?
It would be very beneficial to have this feature since depending on http header data the response from the server will change, like authentication.
I saw that there was a closed Pull-Request about this: https://github.com/ThreeMammals/Ocelot/pull/964/files
But somehow the progress got stuck.

[2020-05-19 11:51] rajeshgithub001 commented on #666
Do caching working in your setup ?
if yes , pls help me i am not able flush the cache , please see this https://github.com/ThreeMammals/Ocelot/issues/1212

Please help ?

[2020-05-22 07:07] christoff85 opened #1235 "Extend AddOcelot to EnumerateFiles in subfdirectories"
## Expected Behavior / New Feature
Search ocelot.json files in given directory and all subdirectories.

## Actual Behavior / Motivation for New Feature
Currently AddOcelot only enumerates files in top directory only.

 I would like to add even more structure to my ocelot files and keep them as small and maintainable as possible.

## Steps to Reproduce the Problem
Only one piece of code would need

[2020-05-22 15:22] softwareguy74 opened #1236 "Are code based routes possible?"
Rather than hard coding routes, we'd like to inspect the incoming host/path and through code determine the route.

[2020-05-22 16:42] ggleo08 commented on #920
maybe  you need to set DangerousAcceptAnyServerCertificateValidator = true,if you want to ignore SSL validation

[2020-05-22 17:19] v2codes opened #1237 "Is there anyway to ignore SSL validation?"
In my case：
At the development environment, I use the dynamic routing with Consul，and all Services start up with HTTPS。
I got SSL connection error， like this：
![image](https://user-images.githubusercontent.com/32858631/82692863-0c608880-9c93-11ea-95fc-c165e7602808.png)

## Steps to Reproduce the Problem
ocelot.json config ：
![image](https://user-images.githubusercontent.com/32858631/82693048-5cd7e

[2020-05-22 19:09] ggleo08 commented on #1237
I tried resolve like this, and it worked.
By the way, In multiple configuration file case , just need to configure "DangerousAcceptAnyServerCertificateValidator" to "true" for this problem. But it doesn't work for dynamic routing.
So I‘m not sure it's the best way to resolve it.
I'm looking forward to your help, tks very much.

**Here is my way.**

**Startup file**

`
services.AddOcelot(Configurat

[2020-05-22 23:17] natiox commented on #716
Here's more detail on solution 1 from @MSeifAllah.

That solution is talking about a [Delegating Handler](https://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html) in Ocelot.  I preferred that because it didn't involve a bunch of custom C# code for each aggregate request.  However, I don't know what the side effects might be as far as replacing gzip compression with other types of

[2020-05-23 04:11] AdwardNguyen opened #1238 "Ocelot support gRPC services?"
I have a plan to change rest api to grpc but i can't find grpc configuration documentation from ocelot.
.Net core 3.1 / Windows / gRPC

[2020-05-23 21:56] gilsdav commented on #861
@satishviswanathan I got the same issue.
How do you fix the problem ?

[2020-05-23 22:07] gilsdav commented on #839
@WisemanIka Hello, did you fix it ? If yes, can you explain how ? I got same issue

[2020-05-24 08:52] Flave1 opened #1241 "HTTP ERROR 404 This localhost page can’t be found"
I Have Configured my API gateway to be accessed using "/cast", Still does not seem to work

This is my startup file

     public class Startup
    {
        public IConfiguration Configuration { get; }
        public Startup(IConfiguration configuration)
        {
            Configuration = configuration;
        }

        public void ConfigureServices(IServiceCollection services)
        {

[2020-05-24 08:54] TomPallister commented on #1241
https://ocelot.readthedocs.io/en/latest/features/configuration.html Reroutes is now called routes

[2020-05-24 13:56] Flave1 commented on #1241
Thanks for this, I actually tried it sometime this year using ReRoute Object and it worked fine.
I never new changes were made

[2020-05-24 13:56] #1241 closed

[2020-05-24 14:57] djrhodes commented on #861
@gilsdav not sure if the OP solved his issue, but another thing to check in this scenario is that the Identity Server token itself is valid, you can verify this by hitting the IdSrv introspection endpoint with your token, and checking the response.

[2020-05-24 16:33] gilsdav commented on #861
@djrhodes I got a blazor app that is accessible under `/` route on Ocelot and manage authentication with IdentityServer4 and save the code as cookie. This app works fine. You can see blazor app config [here](https://github.com/gilsdav/ocelot-workshop/blob/authentication-on-ocelot/apps/login-app/Startup.cs)
I configured the API Gateway the same way under same Ocelot but with authentication in the O

[2020-05-24 20:41] gilsdav commented on #861
It seems to only work with Bearer header so I used http://docs.identityserver.io/en/release/quickstarts/5_hybrid_and_api_access.html

[2020-05-24 22:41] Flave1 commented on #296
Hi,
Please how do you then make the program.cs file identify this json files

[2020-05-25 19:04] 51tharea commented on #1231
Could you try  "ReRoutes" to "Routers"?
[https://ocelot.readthedocs.io/en/latest/features/configuration.html](url)

[2020-05-26 06:11] emoji-m commented on #1231
Thank`s for your reply. I played a bit arround with the provided example solution and encountered a Bad Gateway issue. Therefore I moved to another proxy approach (https://github.com/damianh/ProxyKit). At the end I get a Bad Gateway as well :-| So decided to implement a referse proxy by my own. Anyway, the ocelot project is pretty cool 👍

[2020-05-26 06:11] #1231 closed

[2020-05-27 07:20] water1st opened #1245 "About OcelotManager"
## New Feature

If the API gateway needs to be serve multiple teams, each team can only manage its own services, so we need a management UI. Each team can manage its own services in the management UI, and there is no need to modify the API gateway JSON configuration file.I want to develop a management UI, it can automatically notify all API gateway nodes to update the configuration, but when I loo

[2020-05-27 08:47] artyomabrahamyan opened #1246 "When using Aggregates, "Key" is automatically set on reRoute without key."
## Expected Behavior
I have a config json, with aggregate section and some reRoutes with keys to use in aggregates.
Whenever I do not add a key on reRoute in .json file reRoute should have a **null** key.

## Actual Behavior
Some of reRoutes get an existing key from another reRoute gets added to another reRoute with the missing key whenever I read json file, and later **FileConfigurationFluentVali

[2020-05-27 13:07] mkanakis commented on #1040
Any updates?

Best, Marios.

[2020-05-27 13:36] kjellegafvelin commented on #1245
You could either use the Consul integration https://ocelot.readthedocs.io/en/latest/features/configuration.html#store-configuration-in-consul or the Administration API to change the configuration.

[2020-05-27 13:51] mkanakis opened #1247 "Upgrade to 3.1 produces empty ocelot.json"
## Expected Behavior

In .NET Core 2.2, inside the _Startup_ constructor we have the following configuration:

[code]

In ConfigureServices we use the following line to add Ocelot as a middleware:

[code]

As you can see, we specify a certain path for merging ocelot files for different environments.

After upgrading to .NET Core 3.1 the only difference is in _Configure_ method:

[code]

The above

[2020-05-27 14:18] mkanakis commented on #1247
Update:

If I downgrade Ocelot to latest ***15*** version (v15.0.7), the configuration (ocelot.json) is back again, with **_.NET Core 3.1_**.

So narrowing down the problem, the empty configuration only occurs in:  **_v16.0.0 & v16.0.1_**

[2020-05-27 15:04] absentik commented on #1233
I have similar problem. I made custom authentication handler (based on `Microsoft.AspNetCore.Authentication.AuthenticationHandler`) which checks api key.

When I call **controller method** without api key or with wrong api key I got 401 with body.
When I call **ocelot method** without api key or with wrong api key I got 401 without body.
I noticed that in case of ocelot method `HandleChallengeAsyn

[2020-05-28 03:14] pgviyer commented on #1107
I am also facing a similar issue. I was able to create my microservice successfully. Created an API gateway using Ocelot. Though, my web api is running and getting accessed without any issues, am unable to reroute to them using the gateway. Can you please guide me ? I am new to microservices and Ocelot API Gateway. Attaching the following files.
1. ocelot.json
2. Startup.cs and Program.cs ( api ga

[2020-05-28 06:49] Gluchito commented on #1247
Thank you for sharing, i spent a lot of time resolving this bug

[2020-05-28 07:15] mkanakis commented on #1247
@Gluchito how did you fix it ? Or you didn't?

[2020-05-28 13:52] pgviyer commented on #1107
Well. I could fix it. I installed an older version of Ocelot API Gateway for my solution that is in ASP.NET Core 3.1. It started working. Thank you.

[2020-05-28 23:38] mattburkedl commented on #1130
This is pretty basic, but functional:

[code]

[2020-05-29 08:06] billyhiuwali commented on #1113
Hi , i am facing this loopback problem.
May i know if you have already found the solution or the cause?

[2020-05-29 09:47] billyhiuwali opened #1248 "have some diffculty while following in Ocelot tutorial."
## Expected Behavior / New Feature

i am following  Ocelot Offical document to build up a API gateway under .Net Core 3.1.
https://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html

i expected that i browse "http://localhost:65307/todos/1" in Browser
then, i would get the result from http://jsonplaceholder.typicode.com/todos/1

My Project repo is here : https://github.com/billyhiuwa

[2020-05-29 11:42] neetra commented on #977
@Marusyk  did you found any solution for this, I am facing this same issue

[2020-05-29 12:41] Marusyk commented on #977
@neetra
no, I just don't use it. I run Ocelot in kubernetes but without `AddKubernetes`

[2020-05-29 12:47] amweiss commented on #1247
I've also found the 16 versions have an issue where it seems to break JWT authentication. Running 15.0.7 everything was fine. If I upgrade to 16.0.x and rename "ReRoutes" to "Routes" in the appsettings.json, the basic routes seem ok but when I inspect the Identity in the context it's not translating claims correctly. I don't have a simple case to post yet, but it seems like there's a step missing

[2020-05-29 12:52] sergiomcalzada commented on #977
Hello, you cant register your own IServiceDiscoveryProvider that initiates a scope before resolving the IKubeApiClient.

Not so elegant because a scope is created every time but It works :)

Another option is to register manually the `IKubeApiClient` as a singleton, but it was a difficult task :/

[code]

[2020-05-29 19:29] helzgate commented on #1094
I had this issue because of my `appsettings.<environment>.json` file wasn't getting imported properly so therefore the ocelot had no matching configuration.  I was importing my config as an ExpandoObject and c# didn't like that one of my properties was an array.  So I changed it from an array to a serialzed string array and my code was happy.

[2020-05-29 19:31] jlukawska commented on #1248
Hello,
Please try to change "Routes" to "ReRoutes" in ocelot.json or upgrade Ocelot to the newest version. It seems that Ocelot has changed this key word somewhere between 15.0 and 16.0.1 versions...

And another thing: are you sure that your project is starting using the right port? I suggest to add logging to the project (e.g. serilog) to see what happens.

[2020-05-31 03:58] jcastropizzo opened #1250 "Gateway as a sequential proxy"
Hello!
I'm in need of this feature for a personal project!

I'm looking forward for something like this
https://www.krakend.io/docs/endpoints/sequential-proxy/

I'll do it anyway and since I'm using Ocelot in my gateway, I thought that it'd be nice if we could get it in the library!

[2020-06-01 01:17] ggleo08 commented on #697
Nice~~

[2020-06-01 03:27] maobiwen opened #1251 "it doesn't work in vision 16.0.0 ?Failed to mach Route configuration for upstream path:/demo1/api/youlu/get"
I want catch all url  and then send to  "127.0.0.1:8081"
or
catch url witch like this "xxxxx.com/demo1/get"  then send to "127.0.0.1:9002"
but ,It works on ocelot version 15.0.0 but it doesn't work on 16.0.0 ,
the app give me an warn, message: Failed to mat
ch Route configuration for upstream path: /demo1/api/youlu/get, verb: POST. erro
rs found in ResponderMiddleware

who can tell me why?
Apologi

[2020-06-01 06:12] billyhiuwali commented on #1248
@jlukawska  Thank you so much . i have updated it. now it works.

[2020-06-01 08:41] kjellegafvelin commented on #495
With the Open Tracing support I added you can use Jaeger, Zipkin or any other tracing tool as long as it has a .Net client with the Open Tracing interfaces.

[2020-06-01 08:55] maobiwen commented on #1251
I had solve this problem
edit the ocelot config json,
![image](https://user-images.githubusercontent.com/11902441/83392991-9ee9f000-a428-11ea-9b24-f960086d7653.png)

[2020-06-01 17:11] amweiss opened #1252 "Context lost between HttpClientWrapper and DelegatingHandler as of 15.0.7"
## Expected Behavior / New Feature
A DelegatingHandler with `IHttpContextAccessor` injected can access the current context correctly.

## Actual Behavior / Motivation for New Feature
As of version 15.0.7, a custom `DelegatingHandler` we use now only has access to an empty context and thus `httpContextAccessor.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier)?.Value` is now null instead of the

[2020-06-01 17:23] natiox commented on #1094
In my case, I called the wrong .AddJwtBearer without the provider key like this:
[code]

Should have been
[code]

[2020-06-02 02:30] LouieGuo commented on #1063
is it updated for this problem?

[2020-06-02 06:56] davipsr commented on #1252
Same issue here, version 16.0.1

[2020-06-02 22:29] natiox commented on #679
Our authentication system has colons in all claim keys due to its naming scheme, so it looks like we can't use claims with Ocelot.

[2020-06-03 10:42] zisiszaverdas opened #1253 "RequestIdKey Header Fallback value not set correctly to TraceIdentifier in downstream"
## Expected Behavior / New Feature
If RequestIdKey header was not found in the request, the default fallback was to use httpContext.TraceIdentifier and add it to downstream request headers.

## Actual Behavior / Motivation for New Feature
After upgrading to 15.0.7 i get something as "0HM07JSN2G9K0" which is not the current httpContext.TraceIdentifier.

After attempting to debugging i think the cha

[2020-06-03 14:38] Ashish1662 commented on #874
I am facing same issue. AddHeadersToRequest works perfectly fine, but when I try AddClaimsToRequest it adds nothing in the downstream request User.Claims.

Am I missing something? Also, when I try to access Claims in ocelot gateway middleware, then Claims are also empty. Below is my start up code:

public void ConfigureServices(IServiceCollection services)
        {
            services.AddOcelot(

[2020-06-03 15:22] hiwjcn commented on #340
how to deal with the api start with “api”
Like api/product/xxx
We use second segment to look up the upstream
Then proxy to upstream.com/api/product/xxx

[2020-06-03 15:56] ig-sinicyn opened #1254 "[Question] Proper way to add custom authorization logic?"
## Expected Behavior / New Feature
We want to add a custom logic to be performed exactly after current authorization step (IClaimsAuthoriser/IScopesAuthoriser check) but before rest of the ocelot pipeline.

As far as I can see it can be achieved in multiple ways:
1. Replace/wrap default `AuthorisationMiddleware`. Bad idea as it will break if the AuthorisationMiddleware will become internal or chan

[2020-06-04 07:22] olihofmann opened #1255 "ServicesAreEmptyError Message: There were no services in NoLoadBalancer"
## Actual Behavior / Motivation for New Feature
I'm using version 16.0.1 of Ocelot and Ocelot.Provider.Consul. Below is my ocelot.json file

[code]
When I submit the request, I get the following log information.

[code]
I checked with "consul monitor" and found the request of Ocelot to check the Service.
[code]
Did I configure something wrong?

[2020-06-04 09:56] arcsoft-ro opened #1256 "Custom aggregator always called with 404 responses from downstream API calls"
## Expected Behavior
Custom aggregator to return actual result of the downstream requests

## Actual Behavior
The Aggregate method is always called with a list of results with 404 status and empty response data

## Steps to Reproduce the Problem

  1. Implement new custom aggregator
  2. Configure downstream routes
  3. Fetch from the custom aggregate route

## Specifications

  - Version: 16.0.1

[2020-06-04 10:56] arcsoft-ro commented on #1256
Found the downstream response status and content in the context Items collection.

[2020-06-04 10:56] #1256 closed

[2020-06-04 11:15] AminEsmaeily opened #1257 "Upstream match problem in a simple scenario"
## Main Scenario
I have developed a WebAPI application that is accessible via this **http://localhost:5930** link and am able to call its actions using the _Postman_ and a console DotNet core application.
I created a Web application too to host the Ocelot and API Gateway. This application runs on the following URLs:
**http://localhost:2700/** and **https://localhost:44381/**
The Ocelot configurati

[2020-06-04 13:23] amweiss commented on #1257
As of version 16.0.0 `ReRoutes` was renamed to `Routes`. Try updating that and see if it works.

[2020-06-04 13:24] amweiss commented on #1255
As of version 16.0.0 `ReRoutes` was renamed to `Routes`. Try updating that and see if it works.

[2020-06-04 22:35] danadesrosiers opened #1258 "Claims are missing in PreAuthorisationMiddleware in v16.0.0"
## Expected Behavior
In a PreAuthorisationMiddleware, the claims should exist on the ClaimsPrinciple on the HttpContext.  This is needed for custom Authorization logic.

## Actual Behavior
There are no Claims.

## Steps to Reproduce the Problem

Using Ocelot 15.0.7, set up the pipeline with a custom PreAuthorisationMiddleware:
[code]
Value of `claimCount` is 13 (at least for my case).

Upgrade to

[2020-06-05 02:22] akashbakshi commented on #1107
Hi i'm getting the same problem, solution works in .net core 2.2 with ocelot 13.5 but I spent 6 hours trying to get it to work in .net core 3.1, which version of Ocelot did you use?

[2020-06-05 04:52] olihofmann commented on #1255
Thanks for your help, this has solved my problem. I find the error message very confusing

[2020-06-05 06:07] AminEsmaeily commented on #1257
Yes, It worked. Thank you.

[2020-06-05 06:07] #1257 closed

[2020-06-05 07:23] #1255 closed

[2020-06-05 08:39] OrionDevelopment commented on #340
As far as I know that is not possible at the moment.

[2020-06-05 09:11] ig-sinicyn opened #1259 "[Question] Detailed response on ocelot errors?"
## Expected Behavior / New Feature
We have custom ocelot middleware that performs custom request validation and want to write an integration test for it.

Is there a option like [JwtBearerOptions.IncludeErrorDetails](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.jwtbearer.jwtbeareroptions.includeerrordetails)?

if no, is there a way to add desired behavior via cus

[2020-06-05 09:36] Rupture13 commented on #1107
I had the same problem. I had installed latest Ocelot version (16.0.1), which didn't work.
This was fixed when I downgraded my Ocelot version to 15.0.6. My .NET Core version is still 3.1.
I'm not sure if other versions between 15.0.6 might work, as I downgraded the version to this specific version because of another project I looked at.

It seems to me that at least something in the latest Ocelot

[2020-06-05 11:10] akashbakshi commented on #1107
Hey all so it seems it’s not an Ocelot issue it’s within the config, ReRoutes has been renamed to Routes in version 16.*.+ so that’s why our routing doesn’t work properly.

I can confirm I downgraded to 15 and it worked but then after reading  I changed it back to 16 and changed ReRoutes in my config to be Routes and it worked

[2020-06-05 20:32] TeodorKawecki commented on #1107
Thanks @akashbakshi :) Changing from ReRoutes to Routes solves the problem.

[2020-06-06 00:16] amweiss commented on #1258
I believe this is the same as: https://github.com/ThreeMammals/Ocelot/issues/1252 it started in 15.0.7 for me.

[2020-06-06 14:34] vankhanhpr opened #1260 "Call api error(401) with axios"
I have some problem  when I call api with axios (client). It is success if I using postman to get,
I add Cor to my ocelot.json file below:
![image](https://user-images.githubusercontent.com/22538732/83946675-86207680-a83c-11ea-90b7-33914f607aaa.png)
![image](https://user-images.githubusercontent.com/22538732/83946753-ec0cfe00-a83c-11ea-8475-0612dd4807f2.png)

My error below:
![image](https://user-