[2020-06-06 15:38] suadev commented on #1093
@TomPallister hi,

I see "Retry policies" feature in the readme but I could not find it in docs. Any sample or explanation about it?

[2020-06-06 19:38] danadesrosiers commented on #1258
@amweiss, it does seem related, but this is working for me in 15.0.7, so maybe not the same issue.

[2020-06-07 04:16] vankhanhpr commented on #191
I have some problem, so I config my code as above. It's not working and have some error 401.
Can anyone show your project. Help help , please!

[2020-06-07 09:08] vankhanhpr commented on #191
I have some problem with CorsPolicy, can you show your code to help me , please!

[2020-06-08 11:58] evgslyusar opened #1262 "Error when downloading a large file (>2Gb)"
## Expected Behavior
Download a large file (> 2 GB)

## Actual Behavior
An error occurs: Cannot write more bytes to the buffer than the configured maximum buffer size: 2147483647

## Steps to Reproduce the Problem
1. The HTTP service returns a file larger than 2 GB.

## Notes
When I download a large file (> 2 GB), an error occurs: Cannot write more bytes to the buffer than the configured maximum b

[2020-06-08 13:24] neetra commented on #1246
@artyomabrahamyan can you please share your configuration file?

[2020-06-09 11:18] neetra commented on #977
@sergiomcalzada

I created a file named KubeKubernetesServiceDiscoveryProvider and pasted above code, but not able to compile, can you please help me with the which version you are using (I am using Version=2.3.11.0)

_

_

[2020-06-09 11:21] neetra commented on #977
@ussamoo  how do you come to know, how it is loaded?

[2020-06-09 11:22] neetra commented on #977
@Marusyk  what about service discovery?

[2020-06-09 11:41] sergiomcalzada commented on #977
Sorry, I have a custom "kube-api-envelop" and the code was copied from it and modified. But it is based in the original [file](https://github.com/ThreeMammals/Ocelot/blob/master/src/Ocelot.Provider.Kubernetes/KubeProvider.cs). Instead injecting the "IKubeApiClient", inject the "IServiceProvider" and resolve in a new scope before using it. Something like this

[code]

[2020-06-09 11:50] sergiomcalzada commented on #977
The kube-client library is [dotnet-kube-client](https://github.com/tintoy/dotnet-kube-client) and the file that register the IKubeClient in the injector is [that extension](https://github.com/tintoy/dotnet-kube-client/blob/develop/src/KubeClient.Extensions.DependencyInjection/ClientRegistrationExtensions.cs)

Here you can check from where it reads the configuration and that is registered a scoped

[2020-06-09 12:48] brettwinters commented on #360
I also think I need this feature for my multi-tenant application. I'm using different subdomains for my clients and basically I want to use the "origin" header to switch authentication schemes

route uses Finbuckle to configure via http call to a tenant service
[code]
and this route for admins
[code]
Unless anyone has a better suggestion. Plus I can also think of many other uses for header routing

[2020-06-09 13:03] a-jackson commented on #1199
I just started a new project with 16.0.1 and am getting this error so still not fixed. Should I downgrade to 14.1.3? The documentation is also wrong, I just wasted a whole day because I assumed I must be doing something wrong because it's never worked for me.

[2020-06-09 13:25] rakkum commented on #1199
If you dont use k8s you can downgrade to 14.x otherwise you should use 16.x and apply the fix that is described in this thread. Otherwise the traffic load balancing will not work correctly.

[2020-06-09 13:33] a-jackson commented on #1199
Thanks. I missed the fix on first read through. I'll give that a go.

[2020-06-10 03:04] jrsanbornjr commented on #360
My apologies! I've been buried in other projects in recent months and
haven't had a chance to get back to this issue. But it is still important!
I will try my best to dig back into this very soon. Thanks again!

On Mon, Sep 23, 2019 at 10:04 AM mrclayman <notifications@github.com> wrote:

[2020-06-10 05:19] brettwinters commented on #360
I'm not sure of the implications, but maybe a better option might be a "delegate route strategy" which I think is the idea here #1236  - I'm thinking of the Delegate Strategy as used [here](https://www.finbuckle.com/MultiTenant/Docs/Strategies)

In that way your users could use any type of logic to return a delegate value which then can be used in the routing config to determine the route

[code]

[2020-06-10 11:41] mrclayman commented on #360
I owe you guys an apology, too. :disappointed: I was the creator of PR #964 back when we (at the company I work for) thought we would make use of that feature. However, we have since made the decision to go a different route that would not require this change and I just have not had the time to finish this so I had to essentially abandon all work done on the task.

I have been hoping to return to

[2020-06-11 13:38] RomainHautefeuille commented on #1159
@TomPallister any thoughts/opinion on the relevance of this feature request would be appreciated! 😃

[2020-06-11 16:13] dack94 opened #1263 "Can't use Ocelot in IIS"
Hi :)

i'm using Ocelot with a microservices arch.
there are 2 ApiS :

- AuthenticationApi

- StudentApi

![image](https://user-images.githubusercontent.com/25100552/84409527-d79a7e00-ac0d-11ea-8c00-d7312bb31774.png)

**this is my Ocelot config file**

/*configuration gateway*/
{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/{everything}",
      "DownstreamScheme": "https",
      "Downst

[2020-06-15 07:59] dongphh commented on #1071
same my prob

[2020-06-15 13:30] SuricateCan commented on #792
@osovitskiy I used your workaround for some time, and it worked.
But when I needed to upload a file, it failed with `System.FormatException: The format of value 'multipart/form-data; boundary=--------------------------263426338817896429400771' is invalid.`.
I ended up rolling back and preventing Sentry to enable buffering, using this tip: https://github.com/getsentry/sentry-dotnet/issues/387#issue

[2020-06-15 19:51] Rakiah commented on #512
Could you post the code that you've used to do that ?

I can't really seem to find the way @techaum @TomPallister

[2020-06-16 15:35] labarilem commented on #803
This would be very useful indeed.

[2020-06-17 06:20] cecilphillip commented on #1068
I'm running into this problem as well

[2020-06-17 12:31] CyberDNS opened #1264 "Matching "everything" is only matching if at least one additional character is requested"
## Expected Behavior / New Feature
When matching "everything" like "UpstreamPathTemplate": "/inventory/cars{everything}", calling e.g. http://localhost:5000/inventory/cars should match the upstream template, too.

Otherwise, every API must be rerouted always two times:
1.  /inventory/cars
2.  /inventory/cars{everything}

## Actual Behavior / Motivation for New Feature
If a placeholder is used, at

[2020-06-18 15:15] ELymar opened #1265 "How to add placeholder value to header?"
## Expected Behavior / New Feature
I need to take a part of the route like `api/subscriber/{guid}` and create a header value that gets passed to the downstream services.

I'm trying to do the following as part of `PreQueryStringBuilderMiddleware`:
[code]

## Actual Behavior / Motivation for New Feature
I don't see the header in the context of the request at the downstream controller. Is there anot

[2020-06-19 15:44] joe127123 opened #1266 "How to replace host before final middleware call?"
Introducing a new gateway that will reference an existing implementation of Ocelot, this existing implementation of ocelot has a custom middleware call in OcelotPipelineExtensions.cs that edits the host based on specific rules as here:

`            //custom code - route to specific host
            builder.UseDownstreamHostFinderMiddleware();

            // Not sure if this is the best place for

[2020-06-20 17:26] artyomabrahamyan commented on #1254
You may use Pre-Authorization middleware.

[2020-06-21 09:45] jeroenvheel opened #1267 "Manipulate headers to downstream hosts"
Hi is was playing with Ocelot and was wondering if it was possible to add information in the headers for the downstream hosts

I'm trying to add the subdomain to the headers so my back end logic can switch things based on a tenant domain.

I found this in the closed issues https://github.com/ThreeMammals/Ocelot/issues/1011

            var configuration = new OcelotPipelineConfiguration()

[2020-06-21 15:12] ig-sinicyn commented on #1254
@artyomabrahamyan, we need to have access to the authorization results (current principal, parsed token etc). These are filled by AuthorisationMiddleware. so our code has be registered after it.

[2020-06-22 18:08] jeroenvheel commented on #1267
I reverted back to 15.0.6 and found out the above code is working.
Sinds version 15.0.7 the solution is broken.

[2020-06-22 22:49] labarilem commented on #803
Would you guys be interested in a PR for this feature? 🤔

[2020-06-23 07:53] Preetham-P commented on #445
@TomPallister i have a doubt the above same code doesn't work with Azure AD JWT provider with "AzureAdJWTBearer" as provider key, it says unsupported authentication provider key and doesn't start the ocelot.

[2020-06-23 11:29] jlukawska commented on #1252
Hello,
The reason is that after changes done in fe3e8bd23a666daa31ed2e8b00dce2c4630c23a7 a new HttpContext instance is created for every request (or even more instances for aggregated routes). AuthenticationMiddleware (and others) receives a new HttpContext instance, but HttpContextAccessor still has a reference to the original instance. That's why HttpContext obtained by HttpContextAccessor doesn

[2020-06-23 11:30] neoAnkit opened #1269 "Ocelot not detecting confguration via json"
## Expected Behavior / New Feature
Ocelot should read from ocelot.config and process incoming requests accordingly.

## Actual Behavior / Motivation for New Feature
No upstream mapping is detected even after providing json file. Hence API gateway is not working.

## Steps to Reproduce the Problem
  1. Please clone sample code from https://github.com/neoAnkit/My-Microservice.git
  2. The code conta

[2020-06-23 20:09] MirzaMerdovic commented on #1266
Have you tried going about your problem using [Delegating Handlers](https://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html), we use that approach at work when we want to change the request's host value before the request gets send to the downstream service?

[2020-06-23 20:55] MirzaMerdovic commented on #1218
Maybe using [DelegatingHandler](https://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html) can solve your problem?
For example:
[code]

[2020-06-23 20:59] MirzaMerdovic commented on #1259
Since you have implemented your customer middleware shouldn't you be able to interrupt the pipeline right there and just return 400 with all the details you need?

[2020-06-23 23:28] joe127123 commented on #1266
This is great, thank you @MirzaMerdovic. I didn't realize this functionality existed. I take it you use it something like this also:
                                      `var newUri = new UriBuilder(request.RequestUri);
                                       newUri.Host = "newhost";
                                        request.RequestUri = newUri.Uri;
                                        re

[2020-06-23 23:28] #1266 closed

[2020-06-24 04:18] jstafford5380 commented on #1207
This appears to have been completely changed in recent versions. Where can I find the route data/key in version 16.0.1??

[2020-06-24 05:00] jstafford5380 opened #1270 "[Question] : Is there simple content transform?"
Is there a way to declare a transform in the configuration file? For example, I would implement some interface like `IResponseTransform` and then specify it in the route similar to how you specify an aggregator. This would allow me to intercept the response of a single downstream route and change it. I could probably do this with a delegating handler, but I was wondering if there was a more "first

[2020-06-24 11:09] #1269 closed

[2020-06-25 07:19] rh101 commented on #1267
@jeroenvheel This may be an alternative solution for you:

[code]

In Startup.cs, add the handler like this:
[code]

[2020-06-25 15:34] ig-sinicyn commented on #1259
We've done this for errors returned by our middleware, but there are standard middlewares ([such as AuthenticationMiddleware](https://github.com/ThreeMammals/Ocelot/blob/master/src/Ocelot/Authentication/Middleware/AuthenticationMiddleware.cs#L41)) that do not include error details into service response.

[2020-06-26 09:08] Danielku15 opened #1271 "Feature Request: Dynamic Service Registration via Reverse Connection"
## Expected Behavior / New Feature
It would be great if Ocelot would support a mechanism where microservices in the system, could connect "outbound" to a service running Ocelot. As part of this outbound connect the microservice would register the routes it is offering and Ocelot would start handling this route. If multiple services register the same route, Ocelot would load balance the calls betwe

[2020-06-26 10:27] elvishsu66 commented on #1199
Um, I am trying to use @molesinski's fix for v16.0.1, but it doesn't work for me.

What I've done is - Added OcelotBuilderExtensions molesinski's from to my solution, then
[code]
Am I missing something?

[2020-06-26 12:02] elvishsu66 commented on #1199
Found out the reason from https://github.com/ThreeMammals/Ocelot/commit/3439be89271bb37b170429d69ca74978c941432e
It turns out that v16.0.1 has changed the **ReRoutes** to **Routes**.

[2020-06-26 12:28] dataangel opened #1272 "Ocelot 16.0.1 Ocelot.Errors.Middleware.ExceptionHandlerMiddleware"
fail: Ocelot.Errors.Middleware.ExceptionHandlerMiddleware[0]
      requestId: 0HM0PP2NRN3Q2:00000001, previousRequestId: no previous request id, message: Exception caught in global error handler, exception message: Index was out of range. Must be non-negative and less than the size of the collection. (Parameter 'index'), exception stack:    at System.Collections.Generic.List`1.get_Item(Int32 index

[2020-06-26 12:28] dataangel commented on #1272
{
  "Routes": [
    {
      "DownstreamPathTemplate": "api/{url}",
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "T/{url}",
      "UpstreamHttpMethod": [ "Get" ],
      "ServiceName": "APIService",
      "LoadBalancerOptions": {
        "Type": "LeastConnection"
      },
      "UseServiceDiscovery": true
    }
  ],
  "GlobalConfiguration": {
    "ServiceDiscoveryProvider": {

[2020-06-26 12:36] rakkum commented on #1199
@elvishsu66  so you used ReRoutes in the config instead of Routes? If so its not a related issue. It was a breaking change from older versions to v16.

[2020-06-26 12:55] dataangel commented on #1272
Application startup exception: System.AggregateException: One or more errors occurred. (Unable to start Ocelot, errors are: Downstream Path Template api/{url} doesnt start with forward slash,Upstream Path Template T/{url} doesnt start with forward slash)

[2020-06-26 13:02] dataangel commented on #1272
{
  "Routes": [
    {
      "RouteIsCaseSensitive": false,
      "DownstreamPathTemplate": "/api/{url}",
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "/T/{url}",
      "UpstreamHttpMethod": [ "Get" ],
      "ServiceName": "APIService",
      "LoadBalancerOptions": {
        "Type": "LeastConnection"
      },
      "UseServiceDiscovery": true
    }
  ],
  "GlobalConfiguration": {

[2020-06-26 13:43] #1272 closed

[2020-06-26 13:43] dataangel commented on #1272
问题解决

[2020-06-26 13:45] dataangel commented on #1272
problem solved

[2020-06-26 14:12] jeroenvheel commented on #1267
@rh101 Thanks ! this is working perfect.

[2020-06-26 14:12] #1267 closed

[2020-06-26 19:47] MirzaMerdovic commented on #1259
As far as I can see in the [docs](https://ocelot.readthedocs.io/en/latest/features/authentication.html) you can configure your authentication the way you want for example I will just expand the example from the docs:
[code]
You can also completely override the [Authentication middleware](https://ocelot.readthedocs.io/en/latest/features/middlewareinjection.html)

[2020-06-27 17:36] ig-sinicyn opened #1275 "[Proposal] Final placeholder must work as a catch-all mask"
Good day here:)

I have meet multiple issues with route templates that seems to be widespread (#1264, #1067, #649 etc).

As a workaround I've implemented custom logic for route template handling. As far as I can see from reading the code and documentation there is almost no changes in logic. The only difference is, last placeholder in the template path part is treated as `.*`, not `.+`.If you're i

[2020-06-30 01:52] manishtiwari25 opened #1276 "Configuration is restoring after restart"
## Expected Behavior / New Feature
As per #463 if we change anything from admin API it should update the config file(this part is working fine), but when I restart my service it is overwriting the whole configuration file.

## Actual Behavior / Motivation for New Feature
while using admin API it should not restore the configuration file.

## Steps to Reproduce the Problem
project files are availab

[2020-06-30 03:51] gebiWangshushu opened #1277 "Run in Kubernetes got error: Unable to find service discovery provider for type: kube"
## Steps to Reproduce the Problem
My Ocelot gateway was runing in k8s(version:v1.18.4), the following is my package version：
[code]
My Ocelot.json
[code]
My C# StartUP.cs
[code]
## Actual Behavior / Motivation for New Feature

**When i visit http://172.16.1.30:31000/api/values  always get HTTP ERROR 404  (31000 is my ocelot gateway nodePort values)
Looking the kubectl  logs, it shows these errors:

[2020-06-30 11:07] jlukawska commented on #1258
Hello,
The breaking change in 16.0.0 was changing names ReRoutes to Routes (it should be changed in ocelot.json), but it shouldn't cause such problems I think.
I've tried to reproduce it basing on the code you showed but the claims exist in my case. Maybe you have (or can prepare) a full simple example of application with this problem?

Do you

[2020-06-30 11:22] ig-sinicyn commented on #1275
Up?:)

[2020-07-01 05:23] MuhammadSohaibSultan commented on #746
by using @arro000 's trick I changed a few things to make it work for me on .Net Core 3.1 & Ocelot 16.0.1.
My answer on Stackoverflow.
[https://stackoverflow.com/questions/60300349/how-to-check-claim-value-in-array-or-any-in-ocelot-gateway/62390542#62390542](url)

[2020-07-02 11:50] jlukawska commented on #1230
Hello,
the explanation is in the docs here: https://ocelot.readthedocs.io/en/latest/features/configuration.html?highlight=addocelot#merging-configuration-files

[2020-07-02 17:00] jcfore21 commented on #1277
Honestly this seems like a repeat of an already open issue: https://github.com/ThreeMammals/Ocelot/issues/1199#issuecomment-614109530

There was a work around in that but I agree this needs to be fixed for future versions.

[2020-07-02 19:25] luccasmf commented on #869
I'm having barely the same issue when the request came from ie11. But I'm using the last ocelot version. Have you found any solution already ?

[2020-07-02 19:41] luccasmf opened #1280 "Requests on ie11 are not successfully forwarded after HTTP 307 (Temporary Redirection)(v16.0.1)"
For every browser but ie11 the requests are working but, with ie11 I get an HTTP 401 response

I'm using the Ocelot v16.0.1.

![image](https://user-images.githubusercontent.com/5990448/86402312-00002000-bc82-11ea-9618-27ef0c5c012a.png)

The headers on ie11 after the Redirection are:

![image](https://user-images.githubusercontent.com/5990448/86402527-5c633f80-bc82-11ea-94f8-55c4d5490180.png)

The

[2020-07-03 08:15] gebiWangshushu commented on #1277
@jcfore21  You are right,i follow @molesinski 's  solution （https://gist.github.com/molesinski/c949264d2d287e13c8c7477eb0632221），It works！ thankyou~

[2020-07-03 08:15] #1277 closed

[2020-07-03 08:15] gebiWangshushu commented on #1277
Duplicate of #1199

[2020-07-03 11:29] jigneshnarain opened #1281 "The swagger not working when hosting gateway in a virtual directory on IIS"
The swagger endpoint does not update to the virtual hosted gateway. The endpoint remain "/swagger/docs". When clicking on the it open a link to the service swagger without the virtual host name.

**Expected** /gateway/swagger/docs/v1/servicename
**Actual** /swagger/docs/v1/servicename

However, when I manually navigate to the path /gateway/swagger/docs/v1/servicename, the json renders as expected.

[2020-07-03 12:33] xisket commented on #944
@jsheely  could you please paste your working code? I'm not able to make it work, it would be nice to have a working sample helloWorld to test signalR

[2020-07-05 17:47] rudar23 opened #1282 "Redirection to the API is not working"
## Expected Behavior / New Feature

I have configured Ocelot and it should redirect to the API's
## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1. Program.cs

     public class Program
    {
        public static void Main(string[] args)
        {
            CreateHostBuilder(args).Build().Run();
        }

        public static IHostBuilder CreateHostBuilde

[2020-07-05 18:19] ig-sinicyn commented on #1275
Up again :)

[2020-07-05 19:59] jlukawska commented on #1282
Hello,
Change "ReRoutes" to "Routes" in ocelot.json. It has been changed in the recent versions.

[2020-07-05 23:38] Rimbik commented on #1107
These are terrible, the framework simply changes the element name in Json.

For Ocelot: v16.0.1
1: "ReRoutes": Changed to "Routes" : [
2: In "DownstreamHostAndPorts" Hosts changed to Host

[2020-07-06 04:13] rudar23 commented on #1282
Now I am getting
This page isn’t workinglocalhost is currently unable to handle this request.
HTTP ERROR 502

[2020-07-06 10:22] Melchy commented on #1230
Thanks, I didn't noticed the last line.

[2020-07-06 10:22] #1230 closed

[2020-07-06 10:42] jlukawska commented on #1282
502 status code means that the service is unavailable. Are you sure that the downstream service is listening?

[2020-07-08 02:07] anh072 commented on #373
hey can you solve this for merging config files as well? I deployed it to an IIS server, and I have this problem

[2020-07-08 02:47] xingwen1987 opened #1283 "Ocelot 16.0.1 routing failed when SignalR during WebSocket handshake"
## Steps to Reproduce the Problem

  1.Use the recommended [configuration of SignalR](https://ocelot.readthedocs.io/en/latest/features/websockets.html?highlight=websocket#websockets) in the official document
![image](https://user-images.githubusercontent.com/15207100/86871041-15ef6400-c10c-11ea-8056-8fc610ea372c.png)
  2.Make sure the SignalR server is available
![image](https://user-images.github

[2020-07-08 22:27] elvishsu66 commented on #1199
Yes, @rakkum, that was my mistake. @molesinski's fix works for me as well.

[2020-07-09 15:56] luheorga commented on #941
Hi, ¿there are some update about that?

[2020-07-10 14:51] ig-sinicyn commented on #1275
Up

[2020-07-10 21:27] suadev commented on #908
@TomPallister Did you archived this project or not?

[2020-07-10 22:50] dev-fatih-erol opened #1285 "Ocelot as file upload api gateway"
Did anyone use Ocelot in the context of file upload Api Gateway?
I wanna use ocelot for file uploading directly to the microservice but im not sure if its the right way

[2020-07-12 06:20] chaitanyaphanikumar opened #1286 "Ocelot Authorization -- How to provide access to a Microservice for Admin Role via Ocelot Gateway"
I'm new to Ocelot and trying to implement. I have 3 Microservices which I've configured the routes in Ocelot. I have a requirement that **Admin** login can create customers but not **User** login.  So, I've created custom **role** Claim in JWT token generation. My Authentication is successful and customer creation is working. But it is working for both **Admin** token and **User** token.

I'm not

[2020-07-13 10:30] MJeorrett commented on #859
+1

I am also working with Ocelot and OData and trying to create an aggregated /$metadata endpoint in ocelot.  There are a few problems to solve and I have just come across this one.  Would love to know if there is a work around?

Thanks

Matthew

[2020-07-13 11:24] MJeorrett commented on #859
To answer my own question, you can use the escape sequence '[$]' e.g. '/odata/[$]metadata' in the UpstreamPathTemplate.

[2020-07-13 13:56] rh101 commented on #1265
Try the solution described here:  https://github.com/ThreeMammals/Ocelot/issues/1267#issuecomment-649299048

[2020-07-13 14:56] MJeorrett opened #1287 "Custom Aggregator does not receive downstream responses."
## Expected Behavior
The content of the responses is passed to the custom aggregator with 200 status codes.

## Actual Behavior
Responses passed to custom aggregator are 404 and their bodies are empty (despite the actual downstream requests apparently succeeding).  Perhaps I am missing something blatantly obvious but I am stumped.  Could be that the documentation just hasn't quite caught up yet as

[2020-07-14 06:55] yangbocheng opened #1288 "route -url char missing"
# Route Bug

## Steps to Reproduce the Problem
1. Ocelot run at **localhost:9999** with configuration:
[code]
2. Then call `http://localhost:9999/safe/3?id1=2312`  then log is:
[code]
it should be `xxxx?id1=2312` , **The char `i` disappeared, id1 &rarr; d1**

## Specifications

  - Version: Ocelot **16.0.1**
  - Platform: **win10**

[2020-07-14 15:01] vladnech opened #1289 "Question: How to mask some json response fields?"
Hi guys

I am not sure where to ask the question for the Ocelot team.

We have to mask some PII data coming from our API Services to vue.js client (public website).
For example, Mobile: 0123456789 to return as xxxx6789.

At this stage, before creating specific methods for this (reluctant of doing it because API can be used by other clients, where the mask is not going to be used), is there any way

[2020-07-14 20:12] danadesrosiers commented on #1258
@jlukawska, thank you for taking the time to look into this.  When I came back to this and attempted to reproduce the error, it was working this time.  I'm not sure what was going on before, but I'm all set now.  Sorry to waste your time.

[2020-07-14 20:12] #1258 closed

[2020-07-15 08:54] rh101 commented on #930
I've managed to fix this in my local version, but I'm not entirely sure if it's the correct way to do so.

In WebSocketsProxyMiddleware.cs:

[code]

The problem seemed to be that the destination was already closed or aborted, and yet a close request is sent to it anyway, which results in another WebSocketException.

[2020-07-15 15:26] ig-sinicyn commented on #1275
Up

[2020-07-16 12:34] wast commented on #1285
What do you mean in the context of file upload Api Gateway?

I use Ocelot and there is one route that is uploading a file and it works.

[2020-07-16 12:36] wast commented on #1286
Use RouteClaimsRequirement

Read here https://ocelot.readthedocs.io/en/latest/features/authorisation.html

[2020-07-16 22:20] yoramda opened #1291 "ServiceDiscoveryProvider kubernetes provider"
## Expected Behavior
Can you please clarify how to get the, host, port. and token info from the Kubernetes environment ?
"GlobalConfiguration": {
    "ServiceDiscoveryProvider": {
      "Host": "10.10.12.225",
      "Port": 443,
      "Token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXX",
      "Namespace": "dev-ns",
      "Type": "kube"
    }
  }

Thanks.

## Specifications

  - Version: 16.0.1
  - Platform: n

[2020-07-17 06:30] yiyecao commented on #954
现在的版本还有这个问题,大家怎么解决的啊? 我修改hosts文件没成功.所以就投机把node设置成127.0.0.1,可以运行.

[2020-07-17 14:07] #1285 closed

[2020-07-18 15:19] #1282 closed

[2020-07-18 15:19] #1286 closed

[2020-07-19 07:53] Dheerajmentor opened #1293 "Integrating Identity Server4 with Ocelot for Hybrid and other granttypes"
Dear,

requesting you to kindly write a blog for Integrating Ocelot with Identity server 4 for authenticating different client (SPA, Mobile, Wapp-  at least Hybrid Grant type ) on docker

i am looking for help for last 3 days and not able to make web application authenticate on Gateway(Ocelot) with Identity server 4 and if request authenticated and authorized and pass on to api behind gateway.

it

[2020-07-20 07:04] chaitanyaphanikumar opened #1294 "Ocelot returns 500 from Consul for the first request"
I have registered 3 services in Consul. (IdentityService is one of them). While trying to access this service through Ocelot, I had the below exception and Postman response returned 500 Internal server error.

Second request to this service returned 503 Service Unavailable.

Third request was Success and returned 200 OK.

Did I miss something to configure ?

Ocelot Configuration.json

{
      "Dow

[2020-07-20 08:52] ig-sinicyn commented on #1275
Ok, feel free to tag me if you're still interested in the PR

[2020-07-20 17:22] gurutcr commented on #265
I am new to Ocelot. I have a question. The following is the scenario.

I call an authentication web api from Ocelot using the configuration.json as below.

      "AuthenticationOptions": {
        "AuthenticationProviderKey": "TestKey",
        "AllowedScopes": []
      }

That authentication web api project has the following code

            var claims = new[]
            {
                    n

[2020-07-21 09:40] rathga commented on #1275
Is there a PR to go with this?

I'm certainly interested in fixing the `/api/blah/{everything}` vs `/api/blah{everything}` duplication issue

[2020-07-21 12:19] ig-sinicyn commented on #1275
I have working implementation but I do not want to spend time on a PR it is of no interest.

[2020-07-21 12:25] ig-sinicyn commented on #1275
Here's [a raw code](https://github.com/ig-sinicyn/Ocelot/tree/feature/catch-all-templates). I did not backport tests yet so there may be silly typos added at backporting time:)

[2020-07-21 13:32] gurutcr opened #1295 "Policy based authorization that needs to evaluated on the ocelot gateway project supported?"
I am developing a micro services  based application using ocelot as API gateway. When incoming requests come to the ocelot, it will call an authentication service that will return a JWT token upon successful authentication. Now before it calls the downstream API, I need to check some things to allow that call or not. For this I think the following middleware code is needed in the ocelot startup.cs

[2020-07-22 09:46] zhanghaiboshiwo commented on #920
Is there an answer to this question?

[2020-07-22 09:48] zhanghaiboshiwo commented on #920
![微信图片_20200722174716](https://user-images.githubusercontent.com/43592384/88162125-7d94cb80-cc43-11ea-9f1f-557b6b1f3a6e.png)

[2020-07-22 23:47] mybirthname opened #1296 "RouteClaimsRequirement does not work properly, My request returns 403 Forbidden"
## Expected Behavior / New Feature
I make a request to the specific endpoint I expect when the token contains role Administrator to have access to the resource.

## Actual Behavior / Motivation for New Feature
I receive 403 Forbidden response

## Steps to Reproduce the Problem
How the microservice is configured in ocelot.json:
[code]

How Startup.cs looks like:

        public void ConfigureServic

[2020-07-23 01:17] daoye commented on #749
This behavior is confusing.

[2020-07-23 01:51] daoye commented on #884
I have the same problem.

But, when I set the Ocelot and  Upstream's  "options.Limits.MaxRequestBodySize = null;"

It's fixed.

[2020-07-23 09:19] tmvan commented on #679
If we configure `RouteClaimsRequirement` like this:
[code]
The real result looks like:
[code]
That why claims checking is failed. So the solution is do not use colons. I met it and solved it. Here I want explain so you could try it.
1. Create a decorator of `ClaimsAuthoriser`. In the method `Authorise`, we have to preprocess `routeClaimsRequirement` before pass it to real authorizer. For safety, I

[2020-07-24 08:29] tmvan commented on #1296
The key in `RouteClaimsRequirement` is case sensitive. Did you try to change the key from `Role` to `role`? Just like this:
[code]

[2020-07-24 08:32] 842549829 opened #1298 "Ocelot.Provider.Consul Support Tag"
## Expected Behavior / New Feature
`var queryResult = await _consul.Health.Service(_config.KeyOfServiceInConsul, string.Empty, true);`
Tag is string.Empty
## Actual Behavior / Motivation for New Feature
Old
[code]
New
[code]

[2020-07-24 14:19] pmjaleel opened #1299 "Issue loading Hangfire Dashboard page of each microservice"
I have built Microservice with .NET Web API. All the API's are implementing hangfire background jobs. After implementing API gateway using ocelot, the Web page of the Hangfire dashboard is not loading.

Is there a solution?

[2020-07-26 13:43] minskiter opened #1301 "Ocelet proxy Grpc-Web Get Cors Blocked Information"
## Expected Behavior / New Feature

Support http proxy for envoy grpc-web

## Actual Behavior / Motivation for New Feature

I get Access to XMLHttpRequest at 'http://192.168.0.127:5000/sas.NLPService/Similar' from origin 'http://localhost:8080' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the

[2020-07-27 02:45] 344089386 opened #1302 "I can't access my service through the gateway. Am I mismatched"
![image](https://user-images.githubusercontent.com/22017199/88498596-28b3d500-cff6-11ea-9746-fd7d9cbe62b9.png)
![image](https://user-images.githubusercontent.com/22017199/88498620-35382d80-cff6-11ea-8f80-f41cfccb9413.png)
![image](https://user-images.githubusercontent.com/22017199/88498643-3f5a2c00-cff6-11ea-818f-7ddc9efde406.png)

[2020-07-27 08:52] HonghuiHu opened #1303 "Add:Support for load balancing on Consul cluster"
## Expected Behavior / New Feature
At present, the configuration file only supports a single point of Consul address configuration, cannot access Consul to achieve load balancing

## Actual Behavior / Motivation for New Feature
Consul  Server-Client cluster

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2020-07-28 09:40] cdyhj opened #1304 "Two problems in Ocelot Service Discovery using Consul"
## Expected Behavior / New Feature

Ocelot uses Consul for service discovery.

## Actual Behavior / Motivation for New Feature
Ocelot uses Consul for service discovery.

## Steps to Reproduce the Problem

1. Using Ocelot and `Ocelot.Provider.Consul`  Version 16.0.1
2. The IP address obtained from the service is the name value of the node, not the actual IP address of the service
3. The address of

[2020-07-28 16:26] pmjaleel commented on #1293
We have done this in our project

[2020-07-28 23:09] mybirthname commented on #679
Big thanks @tmvan I started on your path and find your solution midway. Great approach and thanks for your sharing !

[2020-07-28 23:10] mybirthname commented on #1296
@tmvan  the problem is the same like in https://github.com/ThreeMammals/Ocelot/issues/679#issuecomment-662905004. Thanks for your solution !

[2020-07-28 23:10] #1296 closed

[2020-07-29 06:59] neetra opened #1305 "`"DisableRateLimitHeaders": false` is not showing `X-Rate-Limit` and `Retry-After` headers in response"
## Expected Behavior / New Feature
configuration file:
[code]
**Response headers should contain X-Rate-Limit and Retry-After headers as mentioned in [document]**(https://ocelot.readthedocs.io/en/latest/features/ratelimiting.html)
## Actual Behavior / Motivation for New Feature

![image](https://user-images.githubusercontent.com/30404609/88767127-ce05af00-d196-11ea-9732-4801635ecaa0.png)
 It does n

[2020-07-30 06:24] Dheerajmentor commented on #1293
@pmjaleel , how does your comment helps here ?

[2020-07-30 09:40] sadanand0033 opened #1306 "Hi ,i have created the mvc application using auth0 using OPIC flow when user logged in getting token and i am sending to API Gateway to reroute to other service ,but i am unable to get that token validated in ai gate way"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature
.AddOpenIdConnect("Auth0", options =>
          {
              // Set the authority to your Auth0 domain
              options.Authority = $"https://{Configuration["Auth0:Domain"]}";

              options.TokenValidationParameters = new TokenValidationParameters
              {
                  ValidAudiences =n

[2020-07-30 12:36] jlukawska commented on #1305
Hello,
as I see the problem is caused by the recent changes in the code. Now httpcontext is used in a different way than before, more: there is a new httpcontext created for each request...
I have an idea how to fix it, so I'm going to create a PR soon.

[2020-07-30 13:12] pmjaleel commented on #1293
Sorry,
I was hoping if I could be any helpful in promoting this implementation. If you still think that this is of no use, you could let me know. I would delete them.

[2020-07-31 13:04] nkovacic commented on #1060
Also getting a duplicate error, this issue is preventing SignalR integration with both websocket and long polling support. They both have the same PathTemplate but different DownstreamScheme.

[2020-08-01 05:18] Dheerajmentor commented on #1293
You need not to be sorry, if you have insight how can it be help then please

[2020-08-03 13:17] winromulus commented on #1275
@ig-sinicyn - I'm also interested in seeing this as a PR. Currently hit this exact issue.

[2020-08-03 13:54] winromulus commented on #1275
@ig-sinicyn Would it make sense to mark the optional placeholder as {?name} so we can differentiate between optional and hard requirement?

[2020-08-03 22:33] ghorsey opened #1308 "Alternate array syntax to resolve : issue in key names for RouteClaimsRequirement option in configuration"
## New Feature
Add an alternate syntax to the `RouteClaimsRequirement` configuration.  Instead of the current shorter (and nicer) current syntax of:

[code]

Support a more verbose array syntax as well:
[code]

## Motivation for New Feature

Microsoft uses a <kbd>:</kbd> to signify hierarchy in configuration files.
See https://github.com/dotnet/extensions/issues/782

There is a great workaround [o

[2020-08-05 06:27] neetra commented on #1305
Thanks @jlukawska

[2020-08-06 11:42] stann1 commented on #1304
I can confirm. I have Ocelot configured with Consul as service discovery. I have one service configured for load-balancing with ` "LoadBalancerOptions": {
        "Type": "RoundRobin"
      } `

When I start the service it always gives 404 `Error Code: ServicesAreEmptyError Message: There were no services in NoLoadBalancer errors found in ResponderMiddleware`

Note - this issue SOMETIMES disappear

[2020-08-07 11:39] trendfollowerpl commented on #1107
Hello.

Ocelot.{Environment}.json files need to be updated in order to work with v.16.+.

**Simply update all ReRoute sub-strings to Route.**

Details can be founf here: https://github.com/ThreeMammals/Ocelot/commit/3439be89271bb37b170429d69ca74978c941432e#diff-f7f837f4fb4071b7bebdc5c611229011

[2020-08-07 11:50] ildoc opened #1309 "Forwarded authenticated request are unauthorized"
I managed to authenticate my api calls to ocelot with identityserver4 as described [here](https://ocelot.readthedocs.io/en/latest/features/authentication.html#identity-server-bearer-tokens) but when the request arrives to the target service, the authorization header seems to be there but it fails to check for scopes, claims, etc.

When from my SPA I make an authenticated call to /test/weatherforec

[2020-08-10 08:43] tayfunuyar opened #1310 "swagger/docs/v1/... undefined in API Gateway."
Hi Guys,
I have a problem with read microservice swagger json.
My problem is below.
Can you help me please?
Version : 2.5.0
![image](https://user-images.githubusercontent.com/27923376/89765120-5e7cb180-dafe-11ea-9c76-af103b03510b.png)

[2020-08-10 09:00] #1310 closed

[2020-08-11 03:09] gebiWangshushu commented on #1276
same issue.

[2020-08-11 03:19] 344089386 commented on #1199
Run into the same problem.Hope to repair as soon as possible.

[2020-08-11 13:22] #1096 closed

[2020-08-13 01:42] CacoCode commented on #1272
How to solve it？

[2020-08-13 01:42] CacoCode commented on #1272
How to solve it

[2020-08-13 08:19] futsystems commented on #1233
yes same issue, i am trying to  make a HMAC authentication, so need to check hash of the request body, but i can not get request body in custom AuthenticationHandler, how to work around this

[2020-08-13 14:01] natiox commented on #1207
@jstafford5380 See [AggregateTests.cs](https://github.com/ThreeMammals/Ocelot/blob/master/test/Ocelot.AcceptanceTests/AggregateTests.cs) FakeDefinedAggregator class.  It might help a bit.

[2020-08-14 04:10] foreverhot1019 commented on #1049
cloud you tell me how to solve this issue

[2020-08-14 05:36] neetra commented on #1207
@jstafford5380  agreed it is changed in newer version
I have updated FakeDefinedAggregator

[2020-08-14 13:10] neetra opened #1311 "When upstream and downstream path are same, ocelot does not act as a proxy, tried using catch all"
@TomPallister , @binarymash , @geffzhang , @thiagoloureiro
As we are planning to use ocelot.
 I need this 1-1 mapping feature(especially ratelimiting, caching ) for my project, and I am using ocelot in many areas of my project.
Thanks in advance.

I would be very very grateful if you help me with this.

##  New Feature
 ocelot **do not act as proxy** when  upstream and downstream path are same, an

[2020-08-14 13:15] neetra commented on #1311
@jlukawska  have you faced this?

[2020-08-15 04:46] sc1994 opened #1313 "expect to be able to poll immediately after program initialization is complete consul"
## Expected Behavior / New Feature
- expect to be able to poll immediately after program initialization is complete `consul`

## Steps to Reproduce the Problem

  1. global configuration `PollConsul`  set a long delay
[code]
  1. The initiator accesses the service during the delay
[code]

## Specifications

  - Version:
         1. ocelot 16.0.1
         2. ocelot.provider.consul 16.0.1
         3

[2020-08-17 09:29] danielcandea opened #1314 "Make default timeout for HttpClientBuilder configurable"
## New Feature
Make default timeout for [HttpClientBuilder](https://github.com/ThreeMammals/Ocelot/blob/master/src/Ocelot/Requester/HttpClientBuilder.cs) configurable.

## Motivation for New Feature
It is easier to set a custom default global timeout than adding QoS settings for each handler, especially if there are more than one handlers defined.

[2020-08-17 11:43] marrop commented on #384
This might be slightly off topic but here goes. Is it possible via Ocelot to read a consul value from Consul's Key/Value store? Or is the only value one may read from Consul the configuration ("InternalConfiguration" or set by "GlobalConfiguration/ConfigurationKey"?

[2020-08-18 00:51] daudihusbands commented on #657
@ArminNaish Can you provide a basic working demo. I'm struggling to get ocelot working with windows authentication. I keep getting the windows signin prompt.

[2020-08-18 09:12] neetra opened #1317 "Question: reloadOnChange: true, how to configure for multiple ocelot files?"
For using [multiple configuration files](https://ocelot.readthedocs.io/en/latest/features/configuration.html#merging-configuration-files) , we use addOcelot, how to allow [ Reload JSON config on change](https://ocelot.readthedocs.io/en/latest/features/configuration.html#reload-json-config-on-change)

[2020-08-18 14:41] soumaz commented on #657
Please use version 15.0.6. Versions after that don't work well with Windows
Authentication.

Thanks & Regards

On Tue 18 Aug, 2020, 6:21 AM Daudi Husbands, <notifications@github.com>
wrote:

[2020-08-18 16:38] mejsin commented on #1204
Hi

Any updates on this?

[2020-08-19 01:27] lommez commented on #1311
I got the same problem...
When DownstreamPathTemplate and UpstreamPathTemplate starts with "/api", ocelot can redirect the requests:

Here is my ocelot configuration, is very simple:

[code]

If i change the UpstreamPathTemplate value to anything that doesnt starts with "/api" everything works fine.
Is that a limitation or a bug?

[2020-08-19 06:35] neetra commented on #1311
My use case is i am using same upstreampath and downstream path, ocelot not act as proxy
   {
      "DownstreamPathTemplate": "/WeatherForecast",
      "DownstreamScheme": "https",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 44360
        }
      ],

      "UpstreamPathTemplate": "/WeatherForecast"

    }

[2020-08-19 07:08] neetra commented on #1311
I will be very thankful @lommez  if you try same on your side and let me know if it is working at your end

[2020-08-19 12:55] lommez commented on #1311
@neetra , I have made a test with the same path for Down and Upstream and didn't work.
Only works if the first word between the "/" is different.

[2020-08-20 11:58] ig-sinicyn commented on #1275
@winromulus such decisions have to be made by ocelot team. There are no new commits or merged PRs since end of May so I do not expect any progress here:(

[2020-08-20 14:37] MitchWenceInfocorp opened #1318 "Question Ocelot and Blazor"
## Expected Behavior / New Feature
Having a Blazor microservice routing via Ocelot work by going to `https://myOcelotMicroserviceIP:Port/myBlazorRoute`

## Actual Behavior / Motivation for New Feature
Going to the Ocelot route gives an error page and opening up the dev console returns this:

[code]
It should be noted that the Blazor app does load correctly on its own.  The Ocelot is able to route

[2020-08-21 15:19] phungxuanvuong opened #1319 "System.AggregateException: 'string key"
Ocelot

[code]

Program:

[code]

ocelot.json:

[code]

**Exception:**

**System.AggregateException: 'string key, QueryOptions q, CancellationToken ctessage request, CancellationTokenSource cts, bool disposeCtsnd after a period of time, or established connection failed because connected host has failed to respond.)'**

[2020-08-22 10:20] #1319 closed, assigned to nobody

[2020-08-23 07:01] EngRajabi opened #1321 "add prometheus metrics"
## New Feature
prometheus metrics route

[2020-08-23 12:33] vuggg opened #1322 "How to using authentication middleware in Ocelot as a Webapi does"
I have a middleware handle authentication in Web API like that:

[code]

And In Ocelot gateway I do the same, but It doesn't work:

[code]

What I'm doing wrong here?

[2020-08-23 13:04] d4046949 opened #1323 "Cycle deteched when using dotnet add package ocelot or nuget"
## Expected Behavior / New Feature
Package should install correctly

## Actual Behavior / Motivation for New Feature
Instead, I'm geting a circular dependency issue reported.
`
S C:\Users\xxx\source\repos\Ocelot\Ocelot> dotnet add package ocelot
  Determining projects to restore...
  Writing C:\Users\xxx\AppData\Local\Temp\tmp14EA.tmp
info : Adding PackageReference for package 'ocelot' into projec

[2020-08-25 10:15] jlukawska commented on #1323
Hello, try to name your project with a name other than "Ocelot".

[2020-08-26 07:00] thiagoloureiro commented on #1085
https://ocelot.readthedocs.io/en/latest/features/tracing.html

[2020-08-26 07:00] #1085 closed

[2020-08-27 19:45] Nadav-Revuze opened #1324 "add option to define mandatory headers"
in headers transformation add the option to define mandatory headers

[2020-08-28 13:54] gabor182 commented on #813
Same question raised here. Nginx and other reverse proxies can forward the original host header (at least in the X-Forwarded-Host header key). Why is it a problem in Ocelot? A lot of the times the back-end services behind the API Gateway need the original Host header value (i.e. for generating URLs in the response) so I don't know why his feature has not been implemented here yet.

[2020-08-28 18:03] nemanjapyr opened #1325 "Bad Gateway (502) Error with Service Discovery - Docker / Consul"
Set up API Gateway to accept HTTPS messages, but passing on to services running HTTP, using Consul and Docker configuration.

Service discovery only works when sending HTTP requests to API Gateway. When trying to use HTTPS, get 502 Bad Gateway error.

Error Code: ConnectionToDownstreamServiceError Message: **Error connecting to downstream service**, exception: System.Net.Http.HttpRequestException:

[2020-08-29 15:09] sgkalyans opened #1326 "Client certificate authentication"
Any idea how to authenticate a client request using certificate ?

[2020-08-30 09:42] yashadsingh opened #1327 "Failing to ReRoutes leads to 404 when using UpstreamPath in get url"
I have to implement Ocelot in my project. I was working around a sample project to get the basic structure/information/workflow of Ocelot. I am unable to hit the API via Ocelot API gateway. For reference I have added my sample project
[repos.zip](https://github.com/ThreeMammals/Ocelot/files/5146557/repos.zip)

[2020-08-30 11:01] yashadsingh commented on #1327
This one is resolved when I used "Routes" instead of "ReRoutes". But now I another issue. When I am trying to hit my Web API via gateway, it is saying

This page isn’t working
localhost is currently unable to handle this request.
HTTP ERROR 500

Can any help?

[2020-08-30 11:10] yashadsingh commented on #1204
Hi,

I am facing the same issue. Did you find any solution?

[2020-08-31 06:26] mejsin commented on #1204
Hi,
Sorry no, and still no answer on this...

[2020-08-31 11:54] jlukawska commented on #1287
Hello,
I've looked at the Ocelot tests and I've found that the responses in the custom aggregator are accessed differently.

[code]

And it actually works, both in the acceptance tests and in my sample program.

I think the docs should be updated with the sample Custom Aggregator. I'll try to make a PR soon.

[2020-08-31 14:19] luciapeixoto54 opened #1328 "Is this repo safe to go production environment?"
I know that contributors to this repository are not obliged to support the problems presented by a library that is free and they work in their spare time but I am very concerned about adopting a library that is not supported or is not ready for go to production.
There are issues open since 2018 and this is very worrying in my point of view.
I would like to get opinions from those who already use t

[2020-09-01 06:27] johha86 commented on #1325
@nemanjapyr had you tried run the API Gateway and services in a console for each project? Sometimes this kind of issues come up because to something related to the Docker Network between the containers.

[2020-09-01 07:07] johha86 opened #1329 "Not Found (404) Error with Service Discovery - Docker / Consul"
## Expected Behavior
Reroute to the downstream path.

## Actual Behavior
Any request return a **Not Found Error(404)** with the following message in the VS output window:
[code]

## Steps to Reproduce the Problem

I created two ASP Net Core Web API projects. The first one implement a API Gateway using Ocelot with Consul and the second one is a simple Web API Service with a endpoint routed to **/ap

[2020-09-01 11:23] dimitridaras commented on #646
I think the idea behind this is to add a healthcheck endpoint to the ocelot gateway itself, so that you can check that it's up and running.

[2020-09-02 00:41] #1322 closed

[2020-09-02 07:54] gboder commented on #1004
@ggoyal-Axum I would suggest if you have already implemented the solution on your side please submit a PR with the change to allow Ocelot guys reviewing it and eventually merge into the codebase.

Thanks

[2020-09-02 20:10] jinsaini opened #1331 "Ocelot APIGateway error 502 when running in docker containers"
Hi I am new to .net core/docker/ocelot so please forgive my basic knowledge regarding these technologies.
I have tried to create a test solution consisting of 2 microservices and an API gateway using .net core 3.1 and Ocelot 16.0.1

## Expected Behavior / New Feature
Ocelot 16.0.1 .net core 3.1
APIGateway should redirect upstream requests to downstream template

## Actual Behavior / Motivation for

[2020-09-03 15:43] sliekens opened #1332 "Improve wording for catch-all routes"
I found some paragraphs that seem to contradict each other in the routing documentation: <https://ocelot.readthedocs.io/en/latest/features/routing.html>

The behavior I'm seeing is closer to what the last paragraph describes, which is that order matters when no Priority is explicitly assigned.

What's the expected behavior? What's the default priorty for routes without a catch-all token?

PS I'm u

[2020-09-03 15:57] StevenLiekens commented on #1332
I did a little more digging and I think my problem is that this route is not prioritized as a catch-all route?

❌`/goods/{catchAll}`

Only this route gets de-prioritized:

✔`/{catchAll}`

[2020-09-04 01:42] ben-bartholomew commented on #653
I was running into this issue as well after using some custom logic to quit early under certain circumstances in PreQueryStringBuilderMiddleware.

The other PR addressing this looks like it got closed due to inactivity so I figured I would submit one as well.

[2020-09-04 06:35] nemanjapyr commented on #1325
hi @johha86,

i tried to run only a single service, along with consul (in docker) and the API gateway running in console mode. this seems to work, even with consul exposed via http only (port 8500), and the API and underlying service exposing https.

so it seems that your hunch was correct - but the question is, how does one then configure it so that this works when everything is in docker? they a

[2020-09-04 08:37] DeminAO commented on #344
![image](https://user-images.githubusercontent.com/57270583/92219125-d0001380-eea2-11ea-9ca8-25fa8d67c255.png)

hi, there's no typo here?

[2020-09-04 17:24] johha86 commented on #1325
Hi @nemanjapyr
You are right about run everything in console mode. I did that test once. In my side I have a **500 error instead a 502 error** when I run everything with docker and docker composer. But, after some test I tried to use **Consul without ocelot**, I mean, just create a Web API project with a controller that works as an API Gateway, and inside the actions perform the Downstream call us

[2020-09-06 19:47] nemanjapyr commented on #920
have you managed to get around this issue yet?

i seem to be running into the same issue and using DangerousAcceptAnyServerCertificateValidator = true doesn't resolve it either.

[2020-09-06 19:55] nemanjapyr commented on #1325
thanks for that @johha86 - unfortunately this doesn't seem to be making much of a difference on my side.

the issue seems to be that, for whatever reason, when ocelot receives calls via HTTPS, it seems unable to route them onwards to the downstream services via consul service discovery. i've tried a number of different configurations and it seems to identify the correct services, and attempt to co

[2020-09-07 01:37] zhanghaiboshiwo commented on #920
I also set DangerousAcceptAnyServerCertificateValidator = true, but it has no effect

[2020-09-08 12:40] jawand commented on #1170
@FrankGasparotto any solution you found?

[2020-09-08 12:43] jawand commented on #1094
@BorisSokolov & @jmezach did you guys found any solution around it?

[2020-09-08 12:55] Zavix210 commented on #1233
So i went through the source code more thourhgly and

[2020-09-08 12:55] #1233 closed

[2020-09-08 13:44] Bonsai12345 commented on #1328
My impression is no. The docs and examples are outdated and there seems to be little to no support. I read somewhere to check out YARP instead.

[2020-09-09 05:32] jawand commented on #1094
@jmezach here are updates from my side.

if **Ocelot Version is >= 16.0.0** Then, it is throwing this issue exception.

Platform: .Net Core 3.1 on Windows 10 x64

So, I am using **15.0.7** and it is not giving me an exception.

[2020-09-09 12:41] matteoPhre commented on #1304
Same problem here. When I hit an API for the first time, always returns 404 ` ServicesAreEmptyError Message: services were empty for UsersService errors found in ResponderMiddleware.`. If I try to call again the same api, with same headers and same body..everythings fine.

[2020-09-09 13:30] goldmannyc commented on #1325
This error normally indicated errors of sending https over http port.

What downstream url ocelot received from consul when processing the request? Make sure ocelot sends https to https port and http to http port accordingly.  There might be an issue if your api services registers both http and https,  and ocelot just uses the https scheme on http, which could cause the above error. In my case I j

[2020-09-09 13:36] nemanjapyr commented on #1325
hi @goldmannyc , thanks for the answer. it does sound like it may be something along these lines.

when you say:

'What downstream url ocelot received from consul when processing the request? '

how does one determine this? i also thought it would be helpful to see how it is trying to redirect, but was unable to find the logs that would show what url it was actually sending the requests to.

'Ther

[2020-09-10 01:27] lianxue7851 opened #1338 "Not Found (404) Error with version 16.0.1"
## Expected Behavior / New Feature
Reroute to the downstream path

## Actual Behavior / Motivation for New Feature
Any requests report a 404 error

 ## Steps to Reproduce the Problem
### describe

###   1.Ocelot config

### System startup configuration

## Specifications
  - Version:16.0.1 .net core3.1
  - Platform:Windows
  - Subsystem:

[2020-09-10 07:32] stann1 commented on #1328
I would definitely say: No, it is not suitable for prod

[2020-09-10 10:03] jlukawska commented on #1338
Hello, change the word "ReRoutes" to "Routes" in ocelot.config.

[2020-09-10 20:12] BorisSokolov commented on #1094
@jawand, nope :) I am currently switched to another project that is not using Ocelot.

[2020-09-11 01:24] lianxue7851 commented on #1338
Thank you very much for your answer. It solves my problem.

[2020-09-11 01:24] #1338 closed

[2020-09-11 09:19] vankhanhpr opened #1339 "Don't get file in wwwroot in service"
How to get file in wwwroot's forder . Try link  https://localhost:44336/salary/combohome/demo.xlsx not working for me. Help me please!
`{
      "DownstreamPathTemplate": "/api/salary/{catchAll}",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 3003
        },
        {
          "Host": "localhost",
          "Port": 30

[2020-09-11 11:17] jlukawska commented on #1331
Hello,
publishing ports e.g. "-p 30001:80" is for Docker host only. So if you use 30001 in your ocelot.json, it will work only if the api gateway is running from the host. When the api gateway is running from the container, it communicates with other services in containers using 80 port and that port should be used in ocelot.json to work.

It is good to add some application logging to make finding

[2020-09-11 12:57] jinsaini commented on #1331
Hi, thanks for the reply, I have already fixed the issue and forgot to close but you are right, it was the ocelot downstream port I incorrectly configured. :)

[2020-09-11 12:57] #1331 closed

[2020-09-12 02:08] lufeiyuan83 commented on #1294
hi chaitanyaphanikumar
  I also have the problem, and did you fix it? any comments for me, thanks!

[2020-09-12 03:03] lufeiyuan83 commented on #1294
hi  chaitanyaphanikumar
    please update your Ocelot Configuration.json
{
"DownstreamPathTemplate": "/api/v1/identity/register",
"DownstreamScheme": "https",
"UseServiceDiscovery": true,
"ServiceName": "IdentityService",
"UpstreamPathTemplate": "/v1/identity/register",
"UpstreamHttpMethod": [ "POST" ],
"LoadBalancerOptions": {
"Type": "LeastConnection"
}
}
],
"GlobalConfiguration": {
"RequestIdKe

[2020-09-14 14:38] luciapeixoto54 commented on #1328
That's really bad!!
Are you using this library only in development or staging environments?

[2020-09-15 03:42] normarclone opened #1340 "Ocelot not working with browser access.."
Hi everyone! I'm new in Ocelot. I tried to implement some basic example from [https://github.com/catcherwong-archive/APIGatewayDemo](url), and Youtube.
I've seen them (Youtuber) accessing it (Ocelot example link) on browser but I can't do it (HTTP ERROR 502) whether I can access it by using postman.
Can anyone explain the reason to me??

  - Version: 16.0.1
  - Platform: .NetCore3.1

[2020-09-15 10:07] jlukawska commented on #1340
Hello, the first thing that might be a problem is that if you use the newest version of Ocelot in the older example, you should change the word "ReRoutes" to "Routes" in ocelot.json.

[2020-09-15 12:35] StevenLiekens commented on #1332
If someone can please confirm my suspicion then I can create a PR for the documentation to explain Priority for open-ended path templates.

[2020-09-16 04:26] normarclone commented on #1340
Yes, I'd changed it

[2020-09-16 09:09] marrop opened #1341 "Storing (almost all) config in Consul - OcelotMiddlewareExtension -> CreateConfiguration -> fileConfig.OnChange replaces from file system"
We have a setup using Ocelot, Ocelot.Provider.Consul, and Winton.Extensions.Configuration.Consul. The goal is to have all configuration in Consul and only have ServiceDiscoveryProvider configured on the file system:
[code]
Using Winton to add Consul as configuration provider we set ReloadOnChange = true. We can then change configuration settings runtime and read them in code, e.g. from Consul entr

[2020-09-16 09:55] jlukawska commented on #1340
Could you add more details? What is "Ocelot example link"? What youtube tutorial do you mean?
It is good to add some application logging to check such problems.

[2020-09-16 10:15] normarclone commented on #1340
@jlukawska Here is the tutorial  [https://www.youtube.com/watch?v=hlUGZ6Hmv6s](url)
the config
`"Routes": [
    {
      "DownstreamPathTemplate": "/api/values", //http://localhost:5002/api/values
      "DownstreamScheme": "https",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 5001
        }
      ],
      "UpstreamPathTemplate": "/getA",
      "Upstre

[2020-09-16 17:03] jlukawska commented on #1340
The browser that you use is Edge Beta, am I right? Have you tried any other browser?

[2020-09-16 17:49] normarclone commented on #1340
Sure, chrome, firefox same :(

[2020-09-17 11:25] vvalpadasu opened #1342 "Ocelot - Error Code: UnableToCompleteRequestError"
requestId: 0HM1BKJGKQNVS:00000001, previousRequestId: no previous request id, message: Error Code: UnableToCompleteRequestError Message: Error making http request, exception: System.Threading.Tasks.TaskCanceledException: The operation was canceled. ---> System.IO.IOException: Unable to read data from the transport connection: The I/O operation has been aborted because of either a thread exit or an

[2020-09-17 11:48] jlukawska commented on #1340
And can you find any errors/exceptions in the the application logs of the ocelot api?
Does this problem also occur for http?

[2020-09-18 01:49] normarclone commented on #1340
Here!
![image](https://user-images.githubusercontent.com/52033721/93545904-cb9c2600-f98b-11ea-9986-257c1852b332.png)

[2020-09-18 07:50] jlukawska commented on #1340
Here you requested https://localhost:5001 and you received 404. It is not the case from this issue. Please configure logs in your application on the information level and request the url that causes the problem.

[2020-09-18 09:31] gao-artur commented on #1326
Did you try this?
https://github.com/blowdart/idunno.Authentication

[2020-09-18 11:41] jlukawska commented on #1325
How have you set up API Gateway to accept HTTPS messages on the docker container?

I've done a sample and it works for me:
Ocelot api (docker container, configured https with a cert configured)
Consul (docker container)
service app (docker container, http)
Requests with https to ocelot api return 200 in my sample.

[2020-09-18 21:29] #721 closed

[2020-09-18 22:01] graham-settle opened #1343 "Forwarding Upstream HTTPS Request as Downstream HTTP Requests"
## Our Implementation
We have multiple tenants hosted on a single server. Each tenant has their own version of a micro-service running in docker containers. We are using Ocelot as an API gateway that forwards upstream requests from a tenant's clients to the tenant's version of the downstream micro-service.

The API gateway is using the IIS **in-process** model (the ASP.NET Core module forwards req

[2020-09-21 16:24] maxdulieu opened #1344 "404 with AWS lambda + API Gateway"
I have the most basic implementation of ocelot (the jsonplaceholder.typicode.com example). It gets deployed to a AWS lambda function with the following template

[code]

## Expected Behavior / New Feature

When hitting the endpoint I should get the todos results

## Actual Behavior / Motivation for New Feature

It works locally when running it under http://localhost:5000, but returns 404 once depl

[2020-09-21 22:53] maxdulieu commented on #1344
I fix this. Amazon.Lambda.AspNetCoreServer package has two entry points:
-  one for local development: the class Program.cs with the Main method using a Kestrel and IIS
-  one for AWS with API gateway instead of IIS and Lambda as the Kestrel

I had forgotten to add the json configuration to AWS entry point. Welp, I learned a lot

[2020-09-21 22:53] #1344 closed

[2020-09-22 10:55] jlukawska commented on #1343
Hello,
if your ocelot.json in this issue is exactly like in your application, the reason may be trivial: a typo. There should be "DownstreamSchem**e**", not "DownstreamSchem**a**".

[2020-09-23 04:16] debayanmitra002-git commented on #1069
Is this issue resolved? I am fairly new to Ocelot and what I could understand if we are aggregating two service calls and the key is same, then it can be handled via the reroute stuff.
However, if I have a requirement where I hit the first service with the parameter I am passing from client but want to use a different value from the response of first downstream service as a parameter of next downs

[2020-09-23 04:21] debayanmitra002-git commented on #1207
I am trying to create a custom defined aggregator using this example. However here I can see we are just aggregating two downstream service responses based on the same parameter passed from client. My requirement is I receive a parameter from client and pass it to my first downstream service and then use a data from response of the downstream service as a parameter to the next downstream service.

[2020-09-23 06:34] nemanjapyr commented on #1325
Hi @jlukawska ,

I've generally set it up in a similar way, except the cert configured for Ocelot. I just have a self-signed cert for development purposes.

Otherwise it was:

Ocelot API - docker container, https with a self signed cert
Consul  - in a docker container - just standard http on port 8500
Service app(s) - docker container (tried both http and https - getting different errors as descri

[2020-09-23 06:34] jasonkimberson commented on #1135
thats for posted all the code for the ocelot items.  Could you guys help me understand how I can grab a token through post man and then submit a request through authorization headers to the web service to test them out?

I am current stuck at that part

[2020-09-23 11:29] jlukawska commented on #1325
Ok, for a summary, the problem is that when you call a https request and Consul returns you the proper ip and port, the url composed by Ocelot uses "https" instead of "http"?

Could you show your ocelot.json? Do you have DownstreamScheme configured?

I use self-signed certificate also and I used instructions from [here ](https://github.com/dotnet/dotnet-docker/blob/master/samples/host-aspnetcore-h

[2020-09-23 21:17] jasonkimberson commented on #1135
Ok this is what i learned, currently as of Microsoft.Identity.Web 0.4.0-preview, the code is looking for roles, so you need to make sure you App Reg has a role or it will error out.

the other way to do this is not use Microsoft.Identity.Web.  You can just authenticate regularly.  You have to change the AuthenticationProviderKey (token name), see ocelot.json at bottom.

Added to startup.cs:

[2020-09-24 09:50] nemanjapyr commented on #1325
Hi @jlukawska ,

Thanks for the quick response and your help with this.

Yes - I *think* that may be the issue, though I don't know how to actually see the URL that Consul returns.

Here is my docker-compose.override.yaml:

    api.gateway:
        ports:
            - "7000:80"
            - "7001:443"
        environment:
            - ASPNETCORE_ENVIRONMENT=$ENV
            - ASPNETCORE_URLS=$U

[2020-09-24 11:36] jlukawska commented on #1325
Could you tell me what Ocelot version do you use? However, as I see in the latest code, the scheme is set simply from the route configuration (if it is set).
Consul doesn't return a url, it returns the (configured for a given service name) IP address and port. Ocelot combines it together with the scheme from the route configuration.
When the log level is set to Debug, you will find the result url

[2020-09-24 15:38] graham-settle commented on #1343
Doh! yes that was the reason. The typo was also in the application's ocelot.json file. After I corrected it, the API gateway behaved as expected.

Thank you so much!

[2020-09-24 15:38] #1343 closed

[2020-09-25 14:42] pateljeel commented on #746
What is `tokenValidationParameters`?

[2020-09-25 15:50] arro000 commented on #746
Is the istance of object with the bearer authentiucation rules, in my case for example:
[code]

[2020-09-25 19:06] nemanjapyr commented on #1325
Hi @jlukawska ,

The version of Ocelot I'm using is 16.0.1, which is also the version of the Ocelot.Provider.Consul package.

<ItemGroup>
    <PackageReference Include="Ocelot" Version="16.0.1" />
    <PackageReference Include="MMLib.SwaggerForOcelot" Version="2.5.0" />
    <PackageReference Include="Ocelot.Provider.Consul" Version="16.0.1" />
</ItemGroup>

Having set the debug level to trace, I c

[2020-09-25 20:13] jlukawska commented on #1325
I'll take a closer look at your answer in the next week, but... if you use 16.0.1, you should have "Routes" word in ocelot.json, not "ReRoutes" (unless it's a typo?)

[2020-09-26 08:56] nemanjapyr commented on #1325
to be honest, i had 'routes' set before and was having some issues which were resolved by changing to reroutes. however, now that you said to change it, i did, leaving everything else in place and it seems to be working!

so that seems to be what was causing it to mix them up.

out of interest, what is the difference between using routes and reroutes that would cause it to do this?

[2020-09-28 10:00] ssulleyymmann commented on #1283
hi,
I am using service discovery, consul and signalr.
I have same problem. Is there any improvement, update or suggest?

[2020-09-28 12:54] AdnanJAlloh commented on #554
what do you mean for anonymous1 ?

[2020-09-28 12:55] AdnanJAlloh commented on #554
@margaale
what do you mean by anonymous1 ?

[2020-09-28 14:26] jlukawska commented on #1283
UnableToFindDownstreamRouteError when using 16.0.1 version is often caused by "ReRoutes" word in ocelon.json file. The 16.0.1 version requires the word "Routes".

[2020-09-28 15:18] pateljeel commented on #746
With this change do you still need to add `[Authorize(Roles = "User, Admin")]` to your controllers?

[2020-09-28 17:40] nemanjapyr commented on #1325
hi @jlukawska ,

i seem to have spoken too soon...

after merging the changes i tried on saturday into the dev branch, for some reason, i'm now getting a different error, but again only with service discovery.

one of my services is called 'dbsync', and it has the following input in docker-compose:

`dbsync:
        ports:
            - "8081:80"
        environment:
            - ServiceConfig:se

[2020-09-28 19:33] pateljeel commented on #746
Also, is there an updated version of this workaround for ocelot v16.0.1

[2020-09-28 20:04] pateljeel opened #1345 "How to access DownstreamContext in the AuthorisationMiddleware."
## Expected Behavior / New Feature
I was using the AuthorisationMiddleware in OcelotPipelineConfiguration to intercept requests and only allow certain roles with custom logic. (https://github.com/ThreeMammals/Ocelot/issues/746). Here is what the code looked like.
[code]
[code]

However, I cant use `DownstreamContext` anymore because the AuthorisationMiddleware takes in an `HttpContext`. How can i

[2020-09-29 11:39] AbbasKhalili commented on #1317
I have the same problem

[2020-09-29 12:17] jlukawska commented on #1325
When you use ReRoutes instead of Routes in ocelot.json using 16.0.1 Ocelot version, the routes are not found at all and UnableToFindDownstreamRouteError appears then and I don't know how it had worked for you with different errors ;)

This word was simply replaced, so the routes in ReRoutes section when using the latest ocelot versions will not be found.

"Cannot assign requested address" error wh

[2020-09-29 13:48] nemanjapyr commented on #1325
thanks for the quick reply as always @jlukawska . much appreciated.

Regarding the Routes / ReRoutes issue, makes complete sense. I will make sure to keep that in mind going forward.

Regarding the network address issue, I did come across a few support tickets where this was the case, though from what I can tell, this is not happening here. I have attached a screen grab from the consul UI and it s

[2020-09-29 15:30] pateljeel commented on #1205
Hey, can you share your ClaimAuthorizer implementation? I am looking for something very similar and have not been able to figure it out

[2020-09-29 15:59] #1345 closed

[2020-09-30 08:47] ssulleyymmann commented on #1283
hi jlukawska,

I'm already using it as "routes" but it doesn't work.

signalr js =>
const connection = new signalR.HubConnectionBuilder()
    .withUrl("http://localhost:5000/socket/xhub", {
        skipNegotiation: true,
        transport: signalR.HttpTransportType.WebSockets
        })
        .configureLogging(signalR.LogLevel.Trace)
        .build();

startup.cs
        public void ConfigureSer

[2020-09-30 12:17] jlukawska commented on #1325
Maybe check "$CONSUL_URL". E.g. try to replace it with the proper consul ip address?

[2020-09-30 13:14] nemanjapyr commented on #1325
I tried this, but the end result is the same - this is just a variable in the .env file, which just has the basic http://consul:8500 path.

![image](https://user-images.githubusercontent.com/67321504/94689480-d3ae7b00-0326-11eb-8fd3-b525c09124cb.png)

as you can see in the docker override, i can set it explicitly and it still has the same issue.

is there any way to get ocelot to log the url it's

[2020-09-30 14:19] jlukawska commented on #1325
"consul" is not an IP address ;) I think it can be a problem with the docker networks and/or name resolution. I don't know how many networks do you use and which containers belong to which networks. I suggest to try to check IPs of the containers (ocelot api, consul and the service) and use them in the configurations, registrations etc. to see if the network names are resolved as you expect it.
It

[2020-09-30 16:09] nemanjapyr commented on #1325
my bad - i misunderstood what you meant!

in terms of the docker network configuration, i have a single network that all the containers use to talk to each other, and in every other instance, i've been able to use the container name as the network address to reference them, including ocelot, sql server and the services themselves.

i did try and get the ip address of the consul service and added i

[2020-09-30 17:38] jlukawska commented on #1325
I don't know if Consul has such logs. You can use something like tcpdump to find these information.

[2020-09-30 17:55] nemanjapyr commented on #1325
Hi - sorry I don’t think I expressed myself clearly.

It’s not the consul logs, it’s the Ocelot logs I’m looking for.

In a previous example, Ocelot logged the downstream URL it was directing to, but with this new error, it seems to fail while trying to connect to the URL or while building it up. What I meant was how can we set logging in Ocelot so that it outputs the url it’s attempting to connec

[2020-09-30 18:38] jlukawska commented on #1325
I suppose that the problem is with connecting to the consul and that's why you don't see the downstream url in the logs.

"Downstream url is ... " message is logged before sending the request to the downstream service.

[2020-10-01 18:08] nemanjapyr commented on #1325
I think you’re right - when I run it all locally, the service discovery works properly and there are no issues, but there’s something about the way that it tries to contact consul when going through docker that causes problems - though what it is I’m doing wrong specifically is mystifying at this stage.

question - does the “ServiceDiscoveryProvider” section in the ocelot.json file do anything? I

[2020-10-03 22:07] shawnwildermuth commented on #1291
The problem is that the type needs to be the complete name of the provider (the docs don't reflect this, I am going to do a PR to fix this). Put Type: "KubernetesServiceDiscoveryProvider" instead of kube.

[2020-10-03 22:23] shawnwildermuth opened #1346 "Docs/Kubernetes provider are wrong"
## Expected Behavior / New Feature
In the docs, it explains that the type should be "kube" but that means that the code will fallback to the consul type (as evidenced by the error messages saying that there is something wrong with consul).

## Actual Behavior / Motivation for New Feature
When I setup Kubernetes with this configuration snippet:

[code]

It fails with a consul error.

## Steps to Re

[2020-10-05 07:29] matjazbravc commented on #1329
I have exactly the same problem. It's obvious that Ocelot does not resolve service routes properly with Consul when deployed to Docker.

[2020-10-06 15:32] sharpn commented on #1340
postman is probably ignoring the self signed cert for localhost, where as chrome will not

[2020-10-07 03:14] yunjie-yao opened #1349 "Version16.0.0,16.0.1 Error Code: UnableToFindDownstreamRouteError"
**Same .json file,when i user version 15.0.7,it works;but when i user version 16,it doesn't work!**

warn: Ocelot.Responder.Middleware.ResponderMiddleware[0]
      requestId: 0HM352O0406QP:00000001, previousRequestId: no previous request id,
message: Error Code: **UnableToFindDownstreamRouteError**
Message: Failed to match Route configuration for upstream path: /t/topic, verb: GET.
 errors found i

[2020-10-07 05:35] jlukawska commented on #1349
see #1338

[2020-10-07 05:57] yunjie-yao commented on #1349
**change the word "ReRoutes" to "Routes" in ocelot.config.**

[2020-10-07 05:57] #1349 closed

[2020-10-08 13:28] jpj90 commented on #657
Hello @soumaz, I'm also having trouble with Windows Authentication. My setup is as following:

1. ASP.NET Core web app with Angular (SPA) and Ocelot gateway (v15.0.6.) running in IIS on server X
2. Katana self-hosted Web API running in a console app (.NET Framework 4.8) on server Y -> can't run in IIS because reasons...

When I hit one of the endpoints (/api/test or /api/hello) from my workstation

[2020-10-08 14:22] abhiphirke opened #1350 "Can common config be written in "GlobalConfiguration""
## Expected Behavior / New Feature
The documentation states:   The Global configuration is a bit hacky and allows overrides of Route specific settings. It’s useful if you don’t want to manage lots of Route specific settings.

Based on this, my understanding is that if the following few configurations are common for all the entries in `ReRoutes`, then the following way of putting it together should

[2020-10-08 14:42] neetra opened #1351 "Ocelot overides System.Text.Json parser and uses Newtonsoft"
## Expected Behavior / New Feature
When try using ocelot, Newtonsoft parser is used, but i want to use System.text.json

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2020-10-09 07:18] jpj90 commented on #1203
@candreouTrade you might be interested in the same issue as I am (also dealing with Windows Authentication): https://github.com/ThreeMammals/Ocelot/issues/657

[2020-10-12 13:53] #1340 closed

[2020-10-12 19:35] jlukawska commented on #1325
I've uploaded a simple sample [here](https://github.com/jlukawska/OcelotConsulDockerExample)

[2020-10-13 05:26] nemanjapyr commented on #1325
thanks very much! i'll take a look at this and compare to what I'm doing to see if this can help crack.

much appreciated, as always

[2020-10-13 09:24] jpj90 commented on #657
Hi @ArminNaish,

I'm wondering if this is truly the solution to the problem, in the light of [this comment](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.usedefaultcredentials?view=netcore-3.1#remarks) by Microsoft. Wouldn't that mean that credentials are set to the identity of the account under which Ocelot is running?

Regards, James

[2020-10-13 13:15] jdprigioni-stefanini commented on #1309
I have a similar problem with Azure AD B2C integration.
It's seems to the authentication is Ok but then a 401 is returned.
Did you could resolve the problem?

info: Ocelot.RateLimit.Middleware.ClientRateLimitMiddleware[0]
      requestId: 0HM3FE978D2O2:00000001, previousRequestId: no previous request id, message: EndpointRateLimiting is not enabled for /balance
Ocelot.RateLimit.Middleware.ClientRa

[2020-10-13 22:02] fauresco commented on #1350
I agree with @abhiphirke. After reading the docs I have thought that it was possible to use "AddHeadersToRequest" inside "GlobalConfiguration" in order to add common headers to all requests but it did not work.

[2020-10-14 21:56] BharathaAravind commented on #1109
seeing the same issue as well.

[2020-10-15 15:43] nadafsak commented on #813
+1

[2020-10-15 17:11] nadafsak commented on #813
Just as an update to this, I used a variation of another solution on here to manually pass the original host from the upstream request to the downstream request:

Create the handler that will replace the downstream host header with the upstream value.
[code]

Add the handler to Ocelot init:
[code]

And then on my route:
[code]

[2020-10-16 12:00] RayuduPanasakarla commented on #191
I got solution use below code in startup.cs file

    public void ConfigureServices(IServiceCollection services)
    {
            services.AddCors();
            services.AddOcelot();
    }

    public void Configure(IApplicationBuilder app, IWebHostEnvironment env)
    {
        if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
            }

            app

[2020-10-16 13:24] gboder commented on #813
I'm looking into options to allow specifying the `DownstreamRequest` Header Host value based on the route definition within the `ocelot.json` files. I can confirm that manipulation of `Host` values is breaking a lot of features. This property is used to transport some central information and is overwritten by the result of the Service Discovery implementation within the LoadBalacing middleware to

[2020-10-16 13:41] nemanjapyr commented on #1325
hi @jlukawska ,

apologies for the delay in getting back on this - i've only just now had a chance to look at your sample project.

it worked perfectly on my end, and allowed me to get my code working as well.

what appears to have been the issue, is that the "ServiceDiscoveryProvider" section in the ocelot.json was misplaced in my sample. i had it **outside** of the "GlobalConfiguration" section,

[2020-10-16 15:29] jlukawska commented on #1325
The simplest mistake is the hardest to see ;)

There are many ways to register services in Consul. It's only a simple example showing how the parts work together and I used the way of registration that is the most convenient and readable to me for this simple example.

No problem :)

[2020-10-16 16:14] metalrose24 commented on #1170
I've run into this issue as well.

Following the example in the Ocelot docs produces this error for me

[2020-10-16 16:15] metalrose24 commented on #1094
I've run into this issue as well.

Following the example in the Ocelot docs produces this error for me

[2020-10-19 04:32] #1325 closed

[2020-10-20 08:03] weiwoducui opened #1355 "使用Ocelot网关时，请求接口服务第一次404，第二次请求200成功"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature
我创建了一个网关，几个api接口，当我使用轮询方式时，
  "Type": "PollConsul", //Consul为默认类型，PollConsul是轮询状态
      "PollingInterval": 100 //轮询时间间隔以毫秒为单位
就好出现第一次请求是404，第二次200

我使用的是.Net Core 3.1,在ConfigureServices中配置
 services.AddOcelot(new ConfigurationBuilder().AddJsonFile("OcelotConfiguration.json", false,true).Build()).AddPolly().AddConsu

[2020-10-20 16:35] trendfollowerpl commented on #1260
Hello.
If it works from Postman then it has 401 error is not related with Ocelot configuration.
Please validate Axios generated request or its configuration.

[2020-10-20 16:36] trendfollowerpl commented on #1238
https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot

[2020-10-21 13:15] metalrose24 commented on #1094
I manged to solve this. For me, I had configuration in both Startup.cs and Program.cs. It wasn't using my Startup.cs for the Ocelot config. If your following the samples then the configuration for authentication needs to be under the .ConfigureServices part of the WebHostBuilder e.g. in Program.cs Main method:

            new WebHostBuilder()
                .UseKestrel()
                .UseCont

[2020-10-21 13:16] metalrose24 commented on #1170
I manged to solve this. For me, I had configuration in both Startup.cs and Program.cs. It wasn't using my Startup.cs for the Ocelot config. If your following the samples then the configuration for authentication needs to be under the .ConfigureServices part of the WebHostBuilder e.g. in Program.cs Main method:

            new WebHostBuilder()
                .UseKestrel()
                .UseCont

[2020-10-22 06:31] gopi-rm opened #1356 "This page isn’t workinglocalhost is currently unable to handle this request. HTTP ERROR 502 #131"
**Describe the bug**
I got error on publishing gateway on iis default port

my swagger json
{
  "Routes": [
    {
      "DownstreamPathTemplate": "/api/{everything}",
      "UpstreamPathTemplate": "/api/cinema.svc/{everything}",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 8100
        }
      ],
      "SwaggerKey": "cinema.svc"
    }
  ]
},{
  "Swag

[2020-10-22 10:30] jlukawska commented on #1329
Have you tried to repeat the request? I also receive the 404 status code the first time when I use PollConsul type, but subsequent requests are handled well. And it is not dependent on the use of containers.

[2020-10-22 22:48] VahidFarahmandian commented on #1197
You said that the API actually hosted via port 5001. So you should mention this port instead of 6001!
Imagine that your gateways is hosted at: _https://QWERTY.com_, so the following config says that: whenever some body sends a _GET_ request to _https://QWERTY.com/DEF_, then re route his/her request to _https://localhost:5001/ABC_.

**Downstream and Upstream path templates replaced for the sake of

[2020-10-23 13:07] HaydnDias opened #1357 "Advanced route aggregation/json batching"
## New Feature/Pointers
Looking at creating a custom kind of aggregate/delegated handler to act as something similar to [Microsoft Graph Json Batching](https://docs.microsoft.com/en-us/graph/json-batching)

Not expecting this as a feature/development done inside ocelot (although I think it'd be a really cool feature), just looking for potential pointers as I'm unfamiliar with the ocelot codebase.

[2020-10-25 13:07] gao-artur commented on #1357
I have implemented same behavior in custom middleware. This middleware should be registered before `DownstreamRouteFinderMiddleware`.

[code]

[code]

[code]

[2020-10-26 09:06] zqlovejyc opened #1358 "Request Error"
2020-10-26 13:40:31.4153 [Error] [0] Ocelot.Logging.AspDotNetLogger.LogError : requestId: 0HM3PE10MM6G2:00000001, previousRequestId: no previous request id, message: Exception caught in global error handler, exception message: An error occurred while sending the request., exception stack:    at System.Net.Http.HttpConnection.SendAsyncCore(HttpRequestMessage request, CancellationToken cancellationT

[2020-10-26 12:10] niufwshd opened #1359 "Ocelot eureka sample not work"
## Expected Behavior / New Feature
    Ocelot eureka configuration ok,and http://localhost:5000/NCORERAT/Category can return string content

## Actual Behavior / Motivation for New Feature
    http://localhost:5000/NCORERAT/Category  return 404 not found
  but   http://localhost:5000/NCORERAT/api/Category work
## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - P

[2020-10-26 18:42] Julandia opened #1360 "Ocelot WebSocketsProxyMiddleware does not handle 401 Authentication error and returns 500 Internal Server Error"
Our company plans to use Ocelot as API gateway for the company intranet services. We had below authentication problem when routing the SignalR requests using Ocelot. Is this a defect of Ocelot or do I miss some configuration?

## Expected Behavior / New Feature
I expect that when server side returns 401 authentication, Ocelot should return the error to upstream

## Actual Behavior / Motivation for

[2020-10-27 09:51] matsch01 commented on #893
Any update on this issue? I will likely need to abandon Ocelot without this feature.

[2020-10-27 14:12] HaydnDias commented on #1357
@gao-artur Wow thank you, that looks great, I think we could make that work for us with a few tweaks, amazing work.

[2020-10-28 01:55] HorstWang opened #1361 "Can Ocelot support SSO and JWT authentication both at same time"
Hello,

I have added a JWT authentication to my Ocelot gateway to verify JWT token issued by Azure Active Directory and it works fine.
But I want to do even more to add an OpenID Connect integration with Azure Active Directory, so that Ocelot can redirect to login for unauthenticated users and automatically acquire access token on custom scope and maintain this token in user's session and refresh

[2020-10-28 15:30] nedimg commented on #1350
Any updates on this? This would be a very nice feature to have...

[2020-10-30 02:45] JiangChenYang opened #1362 "two //"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.update ocelot and use dotnet core 3.1  after,we old url let http://localhost:5000//cloudviolation/ip.txt  response 404，it should be is http://localhost:5000/cloudviolation/ip.txt    ，the bug is two //。 but old project is many this，are ocelot can
use this two //

## Specificat

[2020-10-30 03:24] borisgr04 opened #1363 "gRpc in futuro?"
in the future do you plan to support gRpc or definitely not?

[2020-10-30 12:36] jlukawska commented on #893
Hello,
I've investigated this issue and I see that the pull request above added this feature, but... There was a breaking change in the Ocelot version 16.0.0 regarding HttpContext and this feature was not updated to work with these changes.
I'll try to fix it next week as a PR, but I don't know when the next release of Ocelot is planned.

[2020-10-30 12:46] gao-artur commented on #1361
I think this approach should solve your problem:

https://stackoverflow.com/questions/61020375/using-multiple-authorization-providers-cookie-auth-and-open-id-connect/61029461#61029461

You should use `"AuthenticationProviderKey" : "dynamic"` in ocelot.json

[2020-10-30 15:36] gao-artur commented on #1350
Looks like `GlobalConfiguration` section is limited for specific scenarios. Check [this file](https://github.com/ThreeMammals/Ocelot/blob/def55b3c3c43688d38c40841b922ba2544cc663a/src/Ocelot/Configuration/File/FileGlobalConfiguration.cs) to see what can be configured via `GlobalConfiguration`. But you can extend it with using `PostConfigure` trick. Check [my answer](https://stackoverflow.com/a/6360

[2020-11-03 09:48] xingwen1987 opened #1364 "Failed to match Route configuration for upstream path using catchAll, everything ..."
## Steps to Reproduce the Problem

  1. Config the ocelot.json file as follows:
      [ocelot.json](https://github.com/ThreeMammals/Ocelot/files/5480457/ocelot.txt)
  2. visit /gateway/Listen route, ocelot fine to route and return data in localhost and docker
  3. using SignalR Client to visit route, in localhost, it's fine,
![image](https://user-images.githubusercontent.com/15207100/97971936-c346

[2020-11-03 10:09] xingwen1987 commented on #1283
https://github.com/dotnet/aspnetcore/issues/10440

this issue give me some idea, in localhost, ocelot works fine, but in docker, route match faild

this is my new issue

https://github.com/ThreeMammals/Ocelot/issues/1364

[2020-11-04 15:55] marciocristian commented on #1351
It happens to me too. But when I try to use Newtonsoft parser instead, doesn't work either returning to me always the default value.

[2020-11-07 07:45] LeeStevens318 commented on #1329
I also have this issue, have you figured out how to fix it?

[2020-11-07 07:46] matjazbravc commented on #1329
Nope :(

V sob., 7. nov. 2020 08:45 je oseba LeeStevens318 <notifications@github.com>
napisala:

[2020-11-09 05:59] murongqingsi opened #1365 "Ocelot performance test"
The load balancing function of Ocelot is configured and jm5.3 is used for pressure test. It is found that the native API supports 600 per second on a single machine, and 400 per second on two servers with ocelot

[2020-11-09 10:57] Jalalx commented on #749
I think [413 Payload Too Large](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/413) is a better error code. What do you guys think?
@TomPallister

[2020-11-09 12:17] jlukawska commented on #1364
Hello, as I see in the logs it seems that you use _/gateway/notify/negotiate_ on the localhost, and _/notify/negotiate_ on the docker.

[2020-11-09 12:24] xingwen1987 commented on #1364
the address www.xxx.com:7001 is a Signalr stand-alone remote service.
The meaning of the first picture is to mount the remote Signalr service in the local environment, Ocelot can be routed and forwarded normally.
In the second picture, what I want to express is that after Ocelot is released to docker, the same configuration can no longer be routed normally.

[2020-11-10 13:15] fglo opened #1368 "Multiple Consul Node Support"
Does Ocelot support service discovery from multiple consul nodes?
I had to divide my environment into multiple machines, so I created consul datacenter with several nodes. The problem is that my gateway api that uses ocelot can't seem to reach services not registered in the same agents as itself.

In other words services from one consul agent can't reach services on the other agent using the ocelo

[2020-11-11 05:59] abhiphirke commented on #1350
I tried with the options supported in `FileGlobalConfiguration`, specifically `DownstreamScheme` and `QoSOptions`, but in vain.
I created global configuration like this:

    "GlobalConfiguration": {
        "QoSOptions": { "TimeoutValue": 30000 },
        "DownstreamScheme": "https"
    }
Am I missing something here?

Secondly, Your answer on SO is nice but it'd increase my service load time. Bes

[2020-11-11 06:53] JakubSlonka opened #1369 "Prepended Middleware Is Being Ignored On The Request finalization."
Hello,

I have found out strange behaviour, when I tried to prepend middleware before Ocelot in request pipeline.

## Context
Currently Iam working on Hybrid GraphQl-Ocelot-Gateway.
My idea was to use Ocelot for routing and to use GraphQL for object property manipulation of the final DTO.

The request chain should be follwing GraphQl Middleware -> Ocelot Middleware -> Backend Services

This issue

[2020-11-12 17:53] #1368 closed

[2020-11-13 03:07] wsjun2016 opened #1370 "16.0.1 maybe a bug or something by getting serverhost from consul"
the source code below:
`        private Service BuildService(ServiceEntry serviceEntry, Node serviceNode)
        {
 return new Service(
                serviceEntry.Service.Service,
                new ServiceHostAndPort(serviceNode == null ? serviceEntry.Service.Address : serviceNode.Name, serviceEntry.Service.Port),
                serviceEntry.Service.ID,
                GetVersionFromStrings(

[2020-11-13 07:12] larssonsun opened #1371 "Upstream and downstream delays will occur after deployment to windows server when the visit interval is long."
## Expected Behavior / New Feature
After deploying the Ocelot gateway in windows server(not using iis), use kestrel to host.

## Actual Behavior / Motivation for New Feature
The first access to the api gateway every 25 seconds or so will delay about 2 seconds, yes every 25 seconds, there is no access in between.
The console log is shown in the figure below：
![QQ图片20201113145458](https://user-image

[2020-11-13 15:34] wangfengjun404 opened #1373 "route by headers"
## like this:
[code]

[2020-11-16 14:27] kris-kater commented on #695
Bump

[2020-11-16 16:29] Keerthikan commented on #884
Reroute configuration would be a better option, than enabling this application wide.

[2020-11-17 08:50] #1371 closed

[2020-11-17 09:50] ImmortalBro opened #1374 "set “RateLimitOptions.QuotaExceededMessage” of chinese Encoding is error"
`
{
  "GlobalConfiguration": {
    "RateLimitOptions": {
    "QuotaExceededMessage": "服务请求过载",
    }
  }
}`

[2020-11-17 09:51] asd1094124012 commented on #1374
![1605606316(1)](https://user-images.githubusercontent.com/17041619/99374434-88afed80-28fd-11eb-9005-0fc06b0dda82.jpg)

[2020-11-18 08:36] zqlovejyc opened #1375 ""DangerousAcceptAnyServerCertificateValidator=true" when "DownstreamScheme=wss" does not work"
[code]

[2020-11-18 13:54] jlukawska commented on #1364
If you have:
_"UpstreamPathTemplate": "/gateway/notify/{catchAll}"_
 in configuration, Ocelot won't find _/notify/negotiate_ neither on the local machine, nor in the docker container, because there is no match. It looks like you're testing _/gateway/notify/negotiate_ on the local machine and _/notify/negotiate_ in the docker container.

[2020-11-19 00:46] patolax opened #1376 "CORS policy error for just SignalR connection"
I am trying to connect to a SignalR hub service using Ocelot gateway. Both deployed in service fabric local cluster.

The  "DownstreamScheme": "http", works for in the same service, however "DownstreamScheme": "ws" fails with.

_Access to XMLHttpRequest at 'http://localhost:9000/notification/negotiate' from origin 'http://localhost:7100' has been blocked by CORS policy: Response to preflight reque

[2020-11-19 02:21] wsjun2016 commented on #1374
配置文件编码问题

[2020-11-19 06:06] patolax commented on #1376
I was able to resolve this after changing cors to my client url
builder.WithOrigins(corsOrigins)
                    .AllowAnyMethod()
                    .AllowAnyHeader()
                    .AllowCredentials());

But now I get this
`WebSocketTransport.js:70 WebSocket connection to 'ws://localhost:9000/events?id=RhPYIkQl7s2qVcJC_ThvEw&access_token=eyJ0eXAiOiJKV1QiLCJhbG...' failed: Error during

[2020-11-19 15:59] draxtor opened #1378 "Upgrading to .NET Core 3.1 and Ocelot 16.0.1 breaks https downstream"
## Expected Behavior
We were upgrading our application using Ocelot gateway from .net core 2.2 to 3.1. Together with .Net core we upgraded Ocelot as well.
We also renamed ReRoutes to Routes in our configuration files.
 Expected behavior was that everything is running smoothly in upgraded version.

## Actual Behavior
We  started to receive 404 errors for our services.
Once we change it to http it s

[2020-11-20 06:23] gao-artur commented on #692
Check my answer on SO. It does exactly what you are asking for
https://stackoverflow.com/a/63601248/2557855

[2020-11-20 06:51] #680 closed

[2020-11-20 11:57] 173198205 opened #1379 "16.0.1"
## Expected Behavior / New Feature
services.AddConfigStoredInConsul()
The gateway operates normally. When the consul ceases operation, the gateway does not cease operation.

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.run consul server agent
  2.run gateway()
  3.close consul server agent
  4.gateway termination of the operation(AddConfigStoredInConsul t

[2020-11-26 07:26] thangnn91 opened #1380 "Response status 404 Not Found after I updated target net5.0 framework"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.I can't use ocelot in net 5.0, every action returning 404 not found, then I rolled back my project to net 3.1 and it works normally
  1.
  1.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2020-11-26 09:27] #1380 closed

[2020-11-27 11:33] rsandsand opened #1382 "Unable to download files larger than 250MB"
## Expected Behavior / New Feature

Ability to download large files through the Ocelot at least up to 1GB

## Actual Behavior / Motivation for New Feature
When tried to download files larger than 250MB, browser saves an empty file. The response headers has Content-Length= 0
This is not an issue when file size is less than 250MB. Actual API endpoint does not have issues and has correct headers

##

[2020-12-02 22:29] Faisal-developer opened #1384 "Aggregation response missing Security headers"
## Expected Behavior / New Feature
Aggregation calls should return security header.
## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.Aggregate any two calls
  2.Security headers were missing in response.

## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2020-12-03 06:20] xclw2000 commented on #737
Any update on this ?

[2020-12-03 09:55] Faisal-developer commented on #79
@TomPallister  Any update on this feature?

[2020-12-04 01:39] zqlovejyc opened #1385 "How to optimize the performance of oacelot"
The following is the wrk test results. There is a big difference between using a gateway and not using a gateway:
![image](https://user-images.githubusercontent.com/19462884/101110531-2997eb80-3614-11eb-8ac2-1c6bce45c076.png)

ocelot route:
`{
    "GlobalConfiguration": {
        "BaseUrl": "http://10.35.233.120:8000",
        "ServiceDiscoveryProvider": {
            "Scheme": "http",

[2020-12-04 11:32] #1385 closed

[2020-12-05 22:09] Crennotech commented on #1206
Thanks vchy1997. I had the same issue, spent whole day till I found this. Ocelot documentation  should have an example config file for local and production servers.

[2020-12-07 13:24] majid325 opened #1388 "can use RemoteIpAddress in RateLimit?"
## RateLimitOptions

can we use RemoteIpAddress in RateLimit?

## Specifications

  - Version:16.0.1
  - Platform:.netcore 5
  - Subsystem:

[2020-12-11 10:15] froens opened #1391 "Ocelot to hide identity server4"
## Expected Behavior / New Feature
Ocelot should mediate requests/responses between client and identityserver4 in a OAuth code flow

## Actual Behavior / Motivation for New Feature
Discovery document contains urls to identityserver4 instead of ocelot

## Steps to Reproduce the Problem

### Our setup
We have a current setup where we use IdentityServer4 as a federation gateway.
https://docs.identity

[2020-12-11 14:07] froens commented on #1391
**I found a solution**

As described above: Just forward whatever OpenId Connect requests you get on Ocelot to IS4.

On Ocelot in ocelot.json, add this:
[code]
This will add a header X-Forwarded-Host on the forwarded requests to IS4. The value is set to the host (baseUrl) of Ocelot.

On IS4 in startup.configure(), add these lines:
[code]

This will treat the value in the http header X-Forwarded-Ho

[2020-12-11 14:07] #1391 closed

[2020-12-13 13:44] raymak23 opened #1394 "Question: Kubernetes Permissive RBAC permissions"
Hello,

I came across `Ocelot` for running it as API gateway in Kubernetes cluster. I was going through `Kubernetes` documentation and I noticed that I have to execute below command to allow pod access to `api` server.

[code]

Is above command necessary to expose all service accounts to have cluster admin privileges to api server? Below is what I read from `kubernetes` site.

Bit concerned about

[2020-12-13 16:53] raymak23 commented on #1199
I am also having this same issue in version `17.0` as well. Any timeline when this will be implemented in the library?

[2020-12-13 17:01] raymak23 commented on #1199
@molesinski - your solution worked for me in new version `17.0` of Ocelot package. Thanks so much.

[2020-12-14 13:30] zTheProgrammer commented on #1060
any solution for this. I also need to use http and https for same upstream url like following:
![image](https://user-images.githubusercontent.com/75984925/102086780-6e086000-3e3a-11eb-848e-2812abc7578a.png)

[2020-12-15 02:46] decie opened #1395 "can I use both http and https in a route"
I want to use both http and https in upstream and downstream. It is possible? If possible, how can I do it?

[2020-12-15 06:15] zTheProgrammer commented on #1311
I am trying to implement both http and https for same upstream route like following but it does not for work for both as a same time. Kindly help
![image](https://user-images.githubusercontent.com/75984925/102178135-b705f600-3ec6-11eb-9de8-d36cf40adf8c.png)

[2020-12-15 17:14] doguru commented on #944
@jsheely I have been trying for weeks now trying to connect to SignalR hub through Ocelot. Please see my question on stack overflow if you could guide me. [](https://stackoverflow.com/questions/65262041/connect-to-signalr-hubs-using-ocelot-api-gateway)

[2020-12-15 19:33] jsheely commented on #944
Hey all, Just noticed this follow up. I didn't do anything much more then my example above. I don't have a project in isolation to test with. I will try and give it a try if I have time.

[2020-12-15 21:11] iaiken commented on #872
Same issue.

We need support for something like this:

`config.AddOcelot("/foo/bar", hostingContext.HostingEnvironment, reloadOnChange: true)`

Ideally we should be able to drop ocelot config files for different APIs into the folder during deployment and the gateway should pick them up.

[2020-12-16 03:18] tmkhan commented on #436
@TomPallister @aamuz
I am also struggling with the same issue. Please help me if any update on this. Thanks in advance.

[2020-12-17 06:27] tmkhan opened #1396 "How can I implement policy based authorization with Ocelot?"
## Feature
- [Request Aggregation](https://ocelot.readthedocs.io/en/latest/features/requestaggregation.html)

## Actual Behavior
Further, I tried to access claims with `HttpContext.User.Identities`, but it giving `null`.

[2020-12-18 12:17] CheckyChen commented on #1382
try change the **web.config**  **hostingModel**  value to **outofprocess** l
`
 <aspNetCore processPath=".\xxxxxx.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess"  />
`

[2020-12-20 18:43] akoken opened #1397 "Kubernetes service discovery doesn't work with ingress controller?"
## Expected Behavior / New Feature
I am using Ocelot to create an API gateway for microservices running in Kubernetes environment. There is also an Ingress Controller in front of services. I can access services over ingress controller. E.g. curl http://myserver/service-name/health. When I request to service (http://myserver:80/apigateway/service-name/health) over API Gateway, I expect Ocelot to ro

[2020-12-21 06:41] rsandsand commented on #1382
Thanks this did the trick

[2020-12-21 06:41] #1382 closed

[2020-12-21 11:51] tmkhan commented on #1184
@pmjaleel if u have resolved this issue then can u plz share me the solution. I need it urgently. Thanks in advance.

[2020-12-23 12:22] Fabman08 opened #1400 "Manage multiple patterns for allowed/blocked IPs via Security Options config section"
## New Feature
Manage multiple pattern for allowed/blocked IP

## Motivation for New Feature
This feature is designed to allow greater IP management in order to include or exclude a wide IP range via CIDR notation or IP range.

## Proposed Changes

  - Added [IpAddressRange](https://github.com/jsakamoto/ipaddressrange) package ( [MPL-2.0 License](https://github.com/jsakamoto/ipaddressrange/blob/ma

[2020-12-24 03:17] 18682788952 opened #1401 "ocelot怎么保证consul可用"
比如我consul是一个集群，ocelot对应consul节点配置只有一个，如果这个节点挂掉了，那网关不也就挂掉了么，那我搭建consul集群有何意义，怎么保证consul节点挂掉之后，网关调用其他consul节点，来实现高可用？

[2020-12-24 07:36] ysq5202121 commented on #1401
大兄第，我也有这个疑问，莫非ocelot不支持consul集群？

[2020-12-24 07:52] ysq5202121 commented on #1401
@18682788952 看了下历史的issues，发现似乎需要自己做代理，然后分发.
可以是nginx,或者IIS给集群做负载均衡，然后配置到ocelot里面去

[2020-12-24 07:53] ysq5202121 commented on #1401
有什么研究发现，请分享

[2020-12-24 15:54] akoken commented on #1397
I solved the problem by creating service account.

[2020-12-24 15:54] #1397 closed

[2020-12-25 16:27] frankvHoof93 opened #1402 "Ocelot no longer working over HTTPS after certificate renewal"
After renewing my LetsEncrypt-SSL-certificate using certbot (DNS acme challenge) and restarting my Ocelot gateway (docker container) the gateway is no longer responding over HTTPS.

## Expected Behavior
The new SSL certificate is used after replacing the certificate and restarting the docker container. The gateway responds on port 443 with the new certificate.

## Actual Behavior
Replacing my SSL

[2020-12-27 16:35] frankvHoof93 commented on #1402
Turns out this was my own error.

I had converted the certificate from .pem to .pfx by using:

`openssl pkcs12 -export -out MYSSLKEY.pfx -inkey privkey.pem -in cert.pem -certfile fullchain.pem`

However, this created an 'invalid' key. The solution was/is to abstain from using the chain cert. ie:

`openssl pkcs12 -export -out MYSSLKEY.pfx -inkey privkey.pem -in cert.pem`

Using the above command an

[2020-12-27 16:35] #1402 closed

[2020-12-28 14:20] swetha-adb opened #1404 "Version Change Problem from 15.0.6 to 16.0.1"
## Expected Behavior / New Feature
Hi Team,
My task is to update the HttpResponse's body content for a API Call.
Previously I could able do it like below in Ocelot Middleware(in version 15.0.6)

 var configuration = new OcelotPipelineConfiguration
            {
                PreQueryStringBuilderMiddleware = async (ctx, next) =>
                {
                    await next.Invoke();

[2020-12-30 19:19] jha-86 commented on #1329
Hi @jlukawska , I found exactly what you suggest time ago. After clone the project and inspect what it does in the moment to request the collection of registered services in the first async call to the Consul API the result is null, but subsequent requests return a valid collection.
Then I tried to replicate a similar behavior in a simple project but only with Consul, and the first call to the Con

[2020-12-30 19:21] johha86 commented on #1329
Hi @jlukawska , I found exactly what you suggest time ago. After clone the project and inspect what it does in the moment to request the collection of registered services in the first async call to the Consul API the result is null, but subsequent requests return a valid collection.
Then I tried to replicate a similar behavior in a simple project but only with Consul, and the first call to the Con

[2021-01-01 11:53] swetha-adb commented on #1404
Please any one can respond? I am new to this Ocelot

[2021-01-02 21:03] #1012 closed

[2021-01-02 21:03] rasoulian commented on #1012
Done.

[2021-01-04 11:38] jlukawska commented on #1404
After 16.0.1 changes there is a new instance of HttpContext created for each request. If you want to access the original HttpContext, try to use HttpContextAccessor.

[2021-01-04 12:12] jlukawska commented on #1329
@johha86 , if I remember well the problem is that the first polling starts when application starts. And application starts with the first request and that's why there is no services information yet.

[2021-01-04 12:39] EliSyrota opened #1408 "Sessions Storage for CookieStickySessions"
## Problem to solve
The current implementation of CookieStickySessions contains ConcurrentDictionary<string, StickySession> _stored where all the sessions are stored.
We faced a situation when we need to have a few Ocelot instances on-premise of the customer
and we have some services that enforces us to use CookieStickySessions for our Load Balancer (https://ocelot.readthedocs.io/en/latest/feature

[2021-01-05 15:30] WeihanLi opened #1409 "Break if we directly use httpContext.Response.WriteAsync"
## Expected Behavior

If user had started to write response, ocelot should not do anything but return the raw response

## Actual Behavior

Will throw a null reference exception in `HttpContextResponder.SetResponseOnHttpContext`

## Steps to Reproduce the Problem

  1. Configure the ocelot preauthzation middleware
[code]
  2. Access any path
      ![image](https://user-images.githubusercontent.com

[2021-01-06 05:51] cnkker opened #1410 "ocelot not support form-data?"
Does ocelot not support form-data?
I use postman post form-data use

[13:50:37 WRN] requestId: 0HM5I0Q4MLQ1G:00000004, previousRequestId: no previous request id, message: DownstreamRouteFinderMiddleware setting pipeline errors. IDownstreamRouteFinder returned Error Code: UnableToFindDownstreamRouteError Message: Failed to match Route configuration for upstream path: /test, verb: POST.
[13:50:37 WR

[2021-01-06 13:11] winlj opened #1411 "Response status 404 Not Found after I updated target net5.0 framework"
Response status 404 Not Found after I updated target net5.0 framework

.net5
consul
ocelot

{
  "GlobalConfiguration": {
    //"RequestIdKey": "OcRequestId",
    //"BaseUrl": "http://test.dayuntong.com",
    "ServiceDiscoveryProvider": {
      "Host": "192.168.2.82",
      "Port": 8500
      //"Type": "Consul"
      //"ConfigurationKey": "server-1"
    }
  },
"ReRoutes": [
    {
      "UseServiceD

[2021-01-07 04:24] WeihanLi commented on #1411
try update `ReRoute` => `Route`

[2021-01-07 07:29] #1410 closed

[2021-01-07 07:44] stretyak commented on #1166
Noticed the same issue

[2021-01-07 08:06] HonghuiHu commented on #1411
https://www.nuget.org/packages/Ocelot.Provider.Consul.Extensions/
https://github.com/ilonze/Ocelot.Extensions

[2021-01-07 19:47] berkayyerdelen opened #1413 "Ocelot microgateway hosted in IIS"
## Expected Behavior / New Feature
I was trying to implement ocelot for our experimental tests on dev. Here is the end-point of API that I want to reach via ocelot. using 443 port for both projects. but getting 502 bad gateway all the time.

end point => https://localhost/document/api/v1/Documents/XYZ

`  "ReRoutes": [
{
  "DownstreamPathTemplate": "/document/api/v1/Documents/{name}",
  "Downstrea

[2021-01-08 00:26] pthibodeaux opened #1414 "AuthenticationOptions under GlobalConfiguration?"
Is there any way to set Authentication Options globally?  Basically, want everything to go through authentication but hoping not to have to do it for each route.
I tried putting the `AuthenticationOptions` under `GlobalConfiguration`, but that did not seem to work.

Thanks

[2021-01-09 21:01] berkayyerdelen commented on #1413
Added serilog and see that I was getting "The remote certificate is invalid according to the validation procedure"
related with #309

[2021-01-09 21:07] #1413 closed

[2021-01-09 22:06] dmitriy-pisarevskiy opened #1415 "Wrong error code returned 401 => 502"
Hi! Original Swagger endpoint returned 401 (auth error) status code, but when I use Ocelot it proxy with 502 response. How I can resolve this issue to right proxy response code 401 => 401?
in Logs I saw next:

info: Ocelot.RateLimit.Middleware.ClientRateLimitMiddleware[0]
      requestId: 0HM5KT0SKJEKF:0000000F, previousRequestId: no previous request id, message: EndpointRateLimiting is not enable

[2021-01-10 00:13] nikolagudelj opened #1416 "Multiple possible roles for RouteClaimsRequirement"
In a regular type scenario, where a Route is available, say to only "Premium" users, Json would look like this:
`      "RouteClaimsRequirement" :
      {
        "Role" : "Premium"
      }`
This would get translated to a KeyValuePair<string, string>(), and it works nicely.
However, if I were to open a route to 2 types of users, eg. "Regular" and "Premium", how exactly could I achieve this?
Does it

[2021-01-10 00:56] nikolagudelj commented on #1416
I found a way through overriding of default Ocelot middleware. Here are some useful code snippets:

First, override the default AuthorizationMiddleware in Configuration() in Startup.cs:
`public void Configure(IApplicationBuilder app, IWebHostEnvironment env)
        {
            var config = new OcelotPipelineConfiguration
            {
                AuthorisationMiddleware

[2021-01-10 00:56] #1416 closed

[2021-01-10 06:24] gao-artur commented on #1415
You get 502 because Ocelot can't connect to downstream service, so the error code is correct.

Verify the `DownstreamHostAndPorts` is correct

[2021-01-10 06:35] gao-artur commented on #1414
You can use this [workaround](https://stackoverflow.com/questions/63421563/environment-variable-in-ocelot-config-file/63601248#63601248). Your `ConfigureRoute` will be something like this:
[code]

[2021-01-11 04:53] dmitriy-pisarevskiy commented on #1415
But when I refreshed JWT token all it's good 200 => 200 and check it directly. I saw problem when JWT is expired and service got 502 instead of 401

[2021-01-13 23:50] TheAnachronism opened #1417 "Fallback to further pipelines if no route is matched"
## Expected Behavior / New Feature
It would be really nice if it was possible, that when no routes are matched, ocelot just goes to the next pipeline and let it handle the request.

## Actual Behavior / Motivation for New Feature
I have this problem currently, because I'm trying to use ocelot as a gateway in the .Server project of a Blazor wasm hosted app.
The .Server projects works, that it just

[2021-01-14 10:09] #1124 closed

[2021-01-14 14:36] Angoth opened #1418 "Unexpected behaviour with subdomain in host"
I'm trying to use Ocelot for some simple redirects but it get different results when I use subdomains in the host configuration and did not find any reasons for it in the config.

I want to achieve 2 things:

- Redirect to external websites (with and without subdomains)
- Redirect to a file and start download

Some examples:
**a) Redirecting https://localhost:5001/gateway/redirect/google to https:

[2021-01-14 20:56] mustafajavid opened #1419 "Unable to connect with SignalR hub with any available transports. Error 404 "No Connection with that ID""
I have a website in **react.js** and I am trying to connect to SignalR hub created in **asp.net core 3.1** via ocelot gateway.
The negotiate call always works and returns connectionId and connectionToken
![Negotiate Response](https://user-images.githubusercontent.com/35831655/104610452-f67e5880-56a5-11eb-9fa9-02424ec41fd1.png)

But the call to hub fails with a 404.
![SignalR  Hub request](https://

[2021-01-15 10:53] SaeedEsmaeelinejad opened #1420 "Custom error message in IClaimsAuthoriser not work"
Hi, I want to use custom error when http status code was ``Forbidden(403)``, so for reach this I try this:

      public class CustomClaimsAuthoriser : IClaimsAuthoriser
       {

          public Response<bool> Authorise(ClaimsPrincipal claimsPrincipal,
            Dictionary<string, string> routeClaimsRequirement,
            List<PlaceholderNameAndValue> urlPathPlaceholderNameAndValues)

[2021-01-15 11:55] mustafajavid opened #1421 "Unable to connect with SignalR with any available transports. Error 404 "No Connection with that ID""
## Expected Behavior / New Feature
I have a react website in which I am trying to connect to SignalR hub on my .net core server via ocelot gateway.

I am unable to connect to hub and get a 404 error "No Connection with that ID". I have only one server instance running and no load balancer is involved.
![SignalR  Hub request](https://user-images.githubusercontent.com/35831655/104721101-2f263c80-574

[2021-01-18 15:15] mustafajavid commented on #1419
Duplicate with issue 1421

[2021-01-18 15:15] #1419 closed

[2021-01-19 07:01] eeefbal commented on #746
Hi, is there any push new commit for this issue?

[2021-01-19 08:27] eeefbal commented on #1345
@pateljeel hi,
i agree with you and also have a problem about multiple RouteClaimsRequirement objects.

[2021-01-23 09:54] neetra commented on #1351
@marciocristian  I found this fix by adding system.text.json input and output formatters to Startup.cs in asp net core

[2021-01-23 10:00] neetra commented on #1311
@lommez The way I fixed it was filtering the incoming request and if it configured to pass via gateway.
In asp net core I used  app.MapWhen

@zTheProgrammer  may be this approach help in your case

[2021-01-23 10:00] #1311 closed

[2021-01-23 10:01] #1168 closed

[2021-01-25 09:26] tonghu007 opened #1422 "ServiceDiscoveryFinderDelegate 委托的route得到的serviceName不是ocelot.json里面配置的ServiceName吗？"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.EurekaProviderFactory 中public static ServiceDiscoveryFinderDelegate Get = (provider, config, route) =>
        {
            var client = provider.GetService<IDiscoveryClient>();

            if (config.Type?.ToLower() == "eureka" && client != null)
            {

[2021-01-26 04:19] marciocristian commented on #1351
ty

[2021-01-27 11:04] Bonsai11 opened #1423 "An anonymous request was received in between authentication handshake requests."
I'm using this package Microsoft.AspNetCore.Authentication.Negotiate on my .NET Core 3.1 Webservice, and when directly accessing it I can authenticate using windows authentication.
But as soon as I go through Ocelot to access my webservice, I get the following error: "An anonymous request was received in between authentication handshake requests."
I wonder where this request is coming from? So rig

[2021-01-28 00:07] B6692 opened #1425 "Pass access token to the downstream without modification"
## Expected Behavior / New Feature
To have an option where in downstream a service handles authentication and authorization. The gateway should just forward the access token to the downstream service. What would be nice is to be able to configure Ocelot to allow downstream services to handle authentication and authorization.

## Actual Behavior / Motivation for New Feature
It appears Ocelot assume

[2021-01-28 09:10] wast commented on #1425
Have you tried disabling authentication on Ocelot?
Ocelot should just pass headers to downstream and what you want should work.

[2021-01-28 09:15] wast commented on #1411
Creator not responding. Most probably  ReRoute => Route

[2021-01-28 09:15] #1411 closed

[2021-01-28 09:46] #1404 closed

[2021-01-28 09:49] wast commented on #1395
Create 2 separate routes in configuration. One for http, one for https. You can't have multiple downstream options in same route. Ocelot needs to know where to route exactly.

[2021-01-28 09:49] #1395 closed

[2021-01-28 09:52] wast commented on #1328
Using in prod in intranet with 100 users daily and 20 RPM. No problems with such usage.

[2021-01-28 10:43] B6692 commented on #1425
Yes, I didn't configure authentication in the gateway before but when I send a request with an access token to the ocelot gateway it returns back with unauthorized even when the controller in the downstream is decorated with [Authorize].

How can I make token validation always pass?

[2021-01-28 10:57] B6692 commented on #1031
How can you force every call to be https and make sure bearer tokens are redirected downstream?

[2021-01-28 23:56] NicoJuicy commented on #296
A bit better formatting, it wasn't clear what changed to me ( fyi it's the part with wrapping ConfigureAppConfiguration with ConfigureWebHostDefaults

      Host.CreateDefaultBuilder(args)
                .ConfigureWebHostDefaults(webBuilder =>
                {
                    webBuilder.UseStartup<Startup>();
                })
            .ConfigureWebHostDefaults(webBuilder =>//this is a r

[2021-01-29 07:48] gedcharlton opened #1426 "Consul provider doesn't support client certificate"
## Expected Behavior / New Feature

Our Consul implementation uses mutual TLS, however the Consul provider currently doesn't support client certificates.
The ConsulClient that is used for the connection can be configured to use a client certificate (via the HttpClientHandler in the ConsulClientFactory) but there are no options to configure the client certificate name, location and store.

## Speci

[2021-01-29 07:51] wast commented on #1425
This this out https://stackoverflow.com/questions/49932596/ignore-jwt-bearer-token-signature-i-e-dont-validate-token

[2021-01-29 08:22] mot256 commented on #977
We found that the scope error only occurres when environment variable ASPNETCORE_ENVIRONMENT = Development
I dug a bit deeper and by far the easiest _workaround_ for the issue is by adding this to the host builder:

`webBuilder.UseDefaultServiceProvider(options => options.ValidateScopes = false);`

[2021-01-29 09:16] sergiomcalzada commented on #977
Hi @mot256

If you set this setting to false you are going to have an exception at runtime ;)

[2021-01-29 15:29] B6692 commented on #1425
Thanks for the link you posted. I have tried to follow the link carefully, assuming if I enable authentication and disable all validation checks at the gateway, it will forward my request to the backend service unmolested and then hopefully it will work. But alas, it doesn't . The gateway sees it as its responsibility to evaluate security authentication. It assumes, whether the backend configures

[2021-01-30 11:48] ajibodu opened #1427 "Ocelot as Reverse Proxy"
I currently use ocelot as a gateway for a number of microservice within my private network which has been working great
and I recently exposed the gateway over the internet to downstream to a microservice in my private network

The ApiGateway has all network permission for my private network.

## Expected Behavior / New Feature
The Gateway to act as a reverse proxy for all requests.
A request over

[2021-01-30 14:29] #1422 closed

[2021-01-30 14:30] tonghu007 commented on #1422
reroutes改成了routes，配置没有起作用

[2021-01-31 16:48] aliprogrammer69 commented on #1396
i have same problem. i tried to access to Claims with context.User.Claims but it return null.
i recently use version 14.0.9 and there was not problem.

[2021-02-01 01:44] zcgg2zhmm commented on #1355
我用k8s的时候，也是这样，第一次的时候，它要去k8s同步所有可用endpoint列表，第二次正好同步好了，于是成功了。
consul应该也是这样，仅供参考！！

[2021-02-01 09:09] mot256 commented on #977
Nope. Works just fine. Its _without_ setting it to false in runtime that we get an issue...

[2021-02-01 18:25] DaleyKD opened #1428 "Custom Code to Convert Parameter"
## Expected Behavior / New Feature
Is it possible to execute some kind of class or code to do some logic to tweak an Upstream parameter so that it is different for a Downstream parameter?  For example, someone consuming my API may call in to the gateway with an accountID, but my downstream path may actually need to use an accountName.  The code would hook into my database service to resolve the ID

[2021-02-02 13:41] swetha-adb commented on #1391
Hi froens.  I have the same case.  Angular is my client.  Will the above works for my solution. I will try once

[2021-02-04 23:06] Jedi0098 commented on #373
Well I do not know why, maybe host confusion but for me the issue has solve when I use this
                    webBuilder.UseUrls("http://localhost:5020", "https://localhost:5021");

[2021-02-05 18:07] codegolem opened #1430 "Issue with OData context and nextLink urls behind gateway"
I'm trying to use OData APIs behind an Ocelot gateway.
For example:

{
"DownstreamPathTemplate": "/odata/{everything}",
"UpstreamPathTemplate": "/reports/odata/v1/{everything}"
}

In this scenario, the OData APIs use the internal host and path in all metadata urls (like @odata.context and @odata.nextLink).

ex: {"@odata.context":"http://internal.host.name/reports/odata/v1/$metadata", ... }

I coul

[2021-02-08 08:53] Bonsai11 commented on #1423
Any ideas? This is either possible or it is not :(

[2021-02-08 15:24] abriening opened #1432 "Disallow body in HEAD, GET, TRACE"
## Expected Behavior / New Feature

Downstream HEAD, GET & TRACE requests should not allow a request body.

## Actual Behavior / Motivation for New Feature

If you mistakenly send a request body on HEAD, GET, TRACE requests they forward the body downstream.

More importantly if you map an upstream POST, PUT, etc with a request body to a downstream method that should not support a request body, the

[2021-02-08 16:39] abriening commented on #695
I could only find two places that read the request body.

In the `RequestMapper`:
https://github.com/ThreeMammals/Ocelot/blob/a15f75dda80003481661f67b2610fc42f96b1c90/src/Ocelot/Request/Mapper/RequestMapper.cs#L46
Which looks like a fix for https://github.com/ThreeMammals/Ocelot/issues/464. I have a fix for that in this unrelated Issue/MR https://github.com/ThreeMammals/Ocelot/issues/1432

And in

[2021-02-09 06:25] rasti90 commented on #368
How can I access DownstreamContext as the ctx object is HttpContext and doesn't have any DownstreamContext property.

[2021-02-09 10:14] KarachentsevDanil opened #1434 "Receiving 502 error on singlar/negotiation post request"
I am trying to add SignalR to the gateway.
OcelotConfiguration.json

{
      "DownstreamPathTemplate": "/{catchAll}/negotiate",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 44345
        }
      ],
      "UpstreamHttpMethod": [ "POST", "OPTIONS" ],
      "UpstreamPathTemplate": "/gateway/{catchAll}/negotiate"
    },

[2021-02-09 10:18] AntonukOM commented on #1434
Hi, @KarachentsevDanil, I have the same issue, so we have to configure skip negotiation = true on the UI side

[2021-02-09 23:09] gyula-uszkai commented on #1430
See if this helps https://github.com/OData/odata.net/issues/1694

[2021-02-10 07:58] codegolem commented on #1430
Hi @gyula-uszkai ,

thank you for your answer. I had already read that post: this is actually how I would expect to customize the urls by code in my OData implementation.

However, what I'm missing is how to retrieve the original (public) request url from the Ocelot gateway.
I was looking for some header that could be added to the upstream request, but I didn't find anything useful.

The only valu

[2021-02-10 19:29] andrei-manulife commented on #1396
I have the same problem. This has to be a bug. I cannot upgrade until I figure out why this is happening.

[2021-02-11 17:48] bmworf-lucidity opened #1435 "Can't Install Ocelot on .Net Core App via Nuget"
## Expected Behavior / New Feature
I am spinning up a new .Net Core 3.1 REST API to use in conjunction with an adjacent console application for handling callback requests from a 3rd party API (the 3rd party API sends callback responses in the form of requests to an endpoint on my API in order to provide large dataset access outside of their REST API).

## Actual Behavior / Motivation for New Featu

[2021-02-11 17:51] bmworf-lucidity commented on #1435
I have rectified my issue by changing the project version reference to .Net 5.0 (because apparently my vision sucks and I couldn't see it in the availability list).

[2021-02-11 17:51] #1435 closed

[2021-02-11 20:16] rzonta commented on #684
This is related to a problem in how dotnet detect file changes, as seen here: https://github.com/dotnet/runtime/issues/36091
Until the problem is fixed you can use a workaround like this: https://github.com/fbeltrao/ConfigMapFileProvider

[2021-02-12 04:18] abriening opened #1437 "Cake 1.0.0 release broke the build"
## Expected Behavior / New Feature

`make build` should work

## Actual Behavior / Motivation for New Feature

`make build` does not work. Looks Cake 1.0.0 release broke the build but the `cake.tool` dotnet tool seems much nicer than the old sh/ps1 scripts.

## Steps to Reproduce the Problem

run `make build`

## Specifications

  - Version: current develop branch @ 3ef6abd7
  - Platform: Any
  -

[2021-02-12 04:19] abriening commented on #1437
https://github.com/ThreeMammals/Ocelot/pull/1436

[2021-02-12 11:24] #1186 closed

[2021-02-12 20:07] pacifyin commented on #417
Ocelot Admin Still Localhost:5000 Can Not Change It. BUG. si SO SO SO.

[2021-02-13 04:04] pacifyin commented on #579
So Bad Gateway. Not Support Docker and Still Load localhost:500 .

[2021-02-14 02:58] meharNazda commented on #747
Wanted to add a custom key in Ocelot.Json something like this
    {
      "SwaggerKey": "DIAS-Server",
      "DownstreamPathTemplate": "/api/MTLS/UnSecureCheck",
      "DownstreamScheme": "https",
      "DownstreamHostAndPorts": [
        {
          "Host": "dell-gii-boilerplatesimulation-diasserver-poc.r2.pcf.dell.com",
          "Port": 443
        }
      ],
      **'CustomClaimKey": "SomeValu

[2021-02-14 09:22] aliprogrammer69 commented on #1396
i checked the source code and found the problem.
this problem accouris because of  "MultiplexingMiddleware:46" which this is inevitable. to solve the problem, read authorization infos (identities, claims and etc) use PreAuthenticationMiddleware

[2021-02-16 18:43] swetha-adb opened #1438 "Can we think Ocelot as API Resource"
Hi Tom,
My Application has Identity Server to issue the tokens to Angular Client.
Ocelot is the API Gate Way.
API Services are Product, User

Identity Server:

**API Resources:**

 public static IEnumerable<ApiResource> GetApiResources()
        {
            return new[]
            {
                new ApiResource
                {
                    Name = "Product",
                    Displ

[2021-02-16 22:28] eventaka commented on #657
Hi,
I'am using ocelot (16.0.1) in a web api core (3.1) application (ApiGateway to manage web api core apps).
Using ocelot, I request services of a few web api core applications.
Every request is sent with Bearer Token to every app that works with a bearer token.
Therefore, I have one web api core app (say X) that is based windows authentication (and not like the others apps that work with bearer t

[2021-02-17 10:56] rubenmonteiro opened #1439 "Service Discovery"
Hi all.
I have a simple question.
Is it possible to redirect a request from one endpoint to another is case of error or failure?
Example:
I have enpoint A1 and B1
A1 with route http://192.168.10.1/api/request
B1 with route http://192.168.10.2/api/request
Using service discovery or mapping the routes in the ocelot.json is it possible if the request to A1 fails make the send request to B1 before sen

[2021-02-19 06:07] skipta opened #1440 "License information in nuget package is missing"
## Expected Behavior / New Feature
It would be helpful to have the license information from license.md in the repository also available in the published nuget package.

## Actual Behavior / Motivation for New Feature
Nuget package doesn´t contain any license information. See https://www.nuget.org/packages/Ocelot/17.0.0/license

[2021-02-20 18:31] swetha-adb commented on #1438
Can any one tell the solution

[2021-02-22 14:04] rifaterdemsahin opened #1442 "Is there a user interface to list all services with ports in Ocelot"
I am coming from Consul and I expect a UI to be able to see the orchestration.

Does Ocelot have UI similar to Consul ?

[2021-02-23 16:48] hassanhgfd opened #1443 "Merging configuration files Issue"
Hi

## Expected Behavior
I followed this code for **[Merging configuration files](https://ocelot.readthedocs.io/en/latest/features/configuration.html#merging-configuration-files)** as the documentation
`.ConfigureAppConfiguration((hostingContext, config) =>
    {
        config
            .SetBasePath(hostingContext.HostingEnvironment.ContentRootPath)
            .AddJsonFile("appsettings.json",

[2021-02-24 07:30] AnkurArora007 opened #1444 "Unable to add a CORS policy dedicated only for web sockets connections not for Http"
## Expected Behavior / New Feature
There should be an option to link a separate CORS policy for only web sockets connections

## Actual Behavior / Motivation for New Feature
Currently it applies the CORS for Http and web sockets both.

## Steps to Reproduce the Problem
**ConfigureServices**
  1. services.AddSignalR();
  2. services.AddCors(o => { o.AddPolicy("policyName", policyRules); o.AddDefaul

[2021-02-25 15:54] codenewa opened #1445 "Windows Authentication to Bearer Tokens"
Hello everyone,

I have a bunch of APIs which use AD membership for authentication and authorization. We have just started building out a couple of APIs which will use Claims for authorization.

So, I am trying to find out if it's possible to use Ocelot
- to authenticate a request against AD
- Create a bearer token from the authenticated user.
- Pass it to downstream api.

I also need to be able t

[2021-02-26 09:30] Cristiano7Zhang commented on #264
Is it compatible with core 2.x？

[2021-02-28 05:11] henrysmith opened #1446 "Remove a Global DelegatingHandler from an specific Route"
I registered an auth global DelegatingHandler that applies to my routes.  However, there are a couple of routes that I need to avoid this handler.  My solution now is to set it as "no" global and add it route by route.

So, my question: is there a way to remove a Global DelegatingHandler from a specific Route?

If not, I think it would be a useful feature.

Henry

[2021-03-01 10:41] fabiomalagoli commented on #955
Hi @AdnanInayat,
I've the same problem, have you found some solution?

Tks

[2021-03-02 13:48] onahirniak commented on #1360
The same issue.

[2021-03-03 02:41] GeorGeWzw opened #1447 "Ocelot .Net 5.0 On kube message: namespace:etlbigdataservice:etl-dataresource-service Unable to use ,it is invalid"
Ocelot .Net 5.0 On kube message: namespace:etlbigdataservice:etl-dataresource-service Unable to use ,it is invalid,
The namespace{etlbigdataservice} exists and The Service {etl-dataresource-service}  exists.
![image](https://user-images.githubusercontent.com/46982191/109743998-90757280-7c0c-11eb-8ddc-3f0f935805c1.png)
![image](https://user-images.githubusercontent.com/46982191/109743999-90757280-7

[2021-03-03 02:42] GeorGeWzw commented on #1447
![image](https://user-images.githubusercontent.com/46982191/109744391-2c9f7980-7c0d-11eb-9329-d92e8222ecae.png)

[2021-03-04 10:17] unruledboy opened #1448 "Code-first routing based on http body"
Hi,

I read through the documentation (https://ocelot.readthedocs.io/en/latest/) but could not find out how to route the request to downstream service based on the content of the request within code.

For example, we have a caller application A, which consumes a web service (asmx) that provides by API application B (that exposes the APIs as SOAP).

Now we want to develop a new version to gradually

[2021-03-04 10:22] hassanhgfd commented on #1443
I found the the reason.
it is because there is subDirectory in **Routes** directory has all the configurations and ocelot just search inside it and does not find any thing matches, thus i moved all configuration files to Routes directory. and now its work well.

[2021-03-04 10:22] #1443 closed

[2021-03-05 03:09] RameshkumarJay commented on #1207
I am trying to create a custom defined aggregator using the above example.
My requirement is I receive a parameter from client and pass it to my first downstream service and then use a data from response of the downstream service as a parameter to the next downstream service.

Please provide example .Thanks

[2021-03-05 08:24] RameshkumarJay opened #1449 "Ocelot Gateway Aggregator: How can get parameter from first service and then use a data from response of the service as a parameter to next service"
My requirement is I receive a parameter from client and pass it to my first downstream service and then use a data from response of the downstream service as a parameter to the next downstream service.

is it possible or not by using Ocelot . Please provide one sample example by using .NET core with Ocelot.
I am new in microserices.
Thanks in Advance.
## Actual Behavior / Motivation for New Featur

[2021-03-08 11:51] bNobo opened #1450 "non placeholder query param not handled correctly when its name is same as a placeholder"
## Expected Behavior / New Feature
Given this downstream route : `/api/units/{subscriptionId}/{unitId}/updates`
When the request uri is `http://localhost:5000/api/subscriptions/1/updates?unitId=2&productId=2&subscriptionId=1`
Then the dowstream request URI should be `https://localhost:5000/api/units/1/2/updates?productId=2&subscriptionId=1`

## Actual Behavior / Motivation for New Feature
Actually

[2021-03-08 13:02] bNobo commented on #1450
Maybe I can solve this problem by myself ? Do you have advices for me on the easiest way to solve it ?

[2021-03-09 16:23] Rabosa616 commented on #1309
Any news?
I have the same issue with Azure AD B2C

[2021-03-10 11:37] jlukawska commented on #1450
It seems to be a similar (or the same) problem to #1288 and probably PR #1335 will solve it. Unfortunately, it's been waiting a long time...

[2021-03-10 15:00] aliprogrammer69 opened #1451 "Use Ocelot and Kubernetes at same time"
In my project I store ocelot configurations in consul key value store and also I want to use k8s as service provider.
But with current ocelot configuration struct it's impossible.

[2021-03-10 18:46] bNobo commented on #1450
I've tested the solution proposed in PR #1335 on my branch and it does not solve my problem. It seems that #1288 is a similar but not exactly the same problem.

[2021-03-10 19:07] bNobo commented on #1450
I don't see a way to fix it : if I modify the code in order to not remove the ampersand before the "regex replace", then the query string `subscriptionId=1` will be removed from URL because it is the purpose of `RemoveQueryStringParametersThatHaveBeenUsedInTemplate` to do that.

In my case I need to keep the query string in URL despite the fact it is already part of the path. It is a requirement f

[2021-03-11 17:45] Rabosa616 commented on #1309
@jdprigioni-stefanini I figure out how to solve the issue with the Azure AD B2C
I have this configuration:
`
{
  "Routes": [
    {
      "DownstreamPathTemplate": "/{everything}",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "agrira.fields",
          "Port": 80
        }
      ],
      "UpstreamPathTemplate": "/{everything}",
      "ServiceName":

[2021-03-12 10:23] karinehovhannisyan opened #1452 "Route wildcards get confused with query params"
Hi, we lately faced a weird situation with wildcards and query params in Ocelot.

## Expected Behavior
We would expect the wildcards to have no relation to anything that comes after the **?** symbol and proceed the request as is.

## Actual Behavior
If a route query parameter contains the value of the wildcard, its first symbol is truncated and the parameter name is changed.

## Steps to Reproduce

[2021-03-12 11:39] jlukawska commented on #1450
Ocelot has a collection of placeholder pairs (name, value) and it tries to remove placeholders from query string if it finds them. That's why the query param name and value cannot be the same as a placeholder name and value if you want to keep it in the query string.
If you want to keep the whole query string you can try to comment out RemoveQueryStringParametersThatHaveBeenUsedInTemplate method,

[2021-03-12 15:35] AJCADamen commented on #1206
I still have the error when using port 443

[2021-03-12 16:22] bNobo commented on #1450
Effectively I'm afraid they'd have some side effects to comment out RemoveQueryStringParametersThatHaveBeenUsedInTemplate, that's why I prefer to apply a workaround playing on routes until the legacy application is fixed.

So the root of this issue is not Ocelot but the legacy application.

I'm glad this issue helped to solve a bug, I can close it now :)

[2021-03-12 16:22] #1450 closed

[2021-03-12 19:51] AJCADamen commented on #1214
I tried your solution for using ocelot in azure. but somehow it is not working

[2021-03-12 21:56] michaelcataldo commented on #893
Hi, is there any further update on this issue?

[2021-03-13 13:32] WeihanLi commented on #893
Seemed not 😢

[2021-03-13 16:57] tnc1997 commented on #1214
Hi @AJCADamen, would you be able to elaborate on the issue that you are experiencing with this solution in more detail, for example by including your Ocelot configuration files and the build command that you are using to build the project?

[2021-03-14 10:43] AJCADamen commented on #1214
I set up everything correctly for deploying to azure. Host and port and also the baseurl. And the gateway works locally. But as soon as it is deployed it fails

[2021-03-15 07:10] zjhlovewtr opened #1453 "轮询算法缺陷"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1、轮询算法缺乏现实情况考虑，
      目前Ocelot算法中，是基于请求数和取模运算实现的，每一个集群实例，得到的请求数都相等。
      如果集群实例的并发处理能力不一致，就会出现集群奔溃的问题。
      例如：集群实例 A B C , B实例处理能力最弱，到最后所有请求都累计到B实例上，导致系统集群系统崩溃的风险。
      解决：可以使用加权轮询来解决。
## Specifications

  - Version:
  - Platform:
  - Subsystem:

[2021-03-15 09:19] tnc1997 commented on #1214
Is there any chance that you could expand on the failure that you are experiencing when it is deployed?

[2021-03-22 12:17] yoramda opened #1454 "Okd openshift support"
## Expected Behavior / New Feature
service discovery support for okd (open shift)

## Actual Behavior / Motivation for New Feature
we are going to upgrade from k8s vanilla to okd (openshift), i would like to know if it is supported ?

[2021-03-23 14:28] AmitaKhatri opened #1455 "How can I pass RequestIdKey in Identity provider?"
Hi,

My Ocelot API gateway application is using an identity server for authentication using JWT token. I am using RequestIdKey at the global level to forward the Correlation Id. The correlation id is forwarded in the header to the downstream applications but it is not forwarded while communicating with our identity provider application. Is there any way to achieve that?

[2021-03-25 10:41] marziah05 opened #1456 "Tracing"
in tracing section of Ocelot documentation, Ocelot.Tracing.Butterfly package is used. but where can I get the Butterfly documentation?

[2021-03-26 13:12] wayne-o opened #1457 "What is the status of this project?"
It seems that there are a few valid PRs that have been left to mothball and there hasn't been a release in over a year.

I really like this project and don't consider there to be a real alternative project.

Microsoft featured it a lot in their examples of BFF - eg: https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/implement-api-gatewa

[2021-03-27 04:28] Hokutosei commented on #1457
also using in production.. what's the status?

[2021-03-27 04:32] knight1219 commented on #1457
I'm about to recommend we use for a massive project at work over something
like Azure API Management because it's something Microsoft has advertised
in their docs. I'm following this because if this project is currently
supported/abandoned I'll need to make some other options available for my
higher ups.

On Fri, Mar 26, 2021, 11:28 PM jeanepaul ***@***.***> wrote:

[2021-03-28 02:45] iseejustdoit opened #1458 "How api gateway realizes real-time perception of offline services"
## Expected Behavior / New Feature

 "ServiceDiscoveryProvider": { "Type": "Eureka" }

I have two same services, one of which needs to be updated, How api gateway realizes real-time perception of offline services?

## Steps to Reproduce the Problem

![image](https://user-images.githubusercontent.com/9328155/112740814-9879c580-8fb2-11eb-932b-86992fde16a1.png)

[2021-03-30 00:32] patolax opened #1460 "Add multiple claims into RouteClaimsRequirement"
At the moment our config on .net core looks like this
[code]
Is it possible to add more claims like below.
[code]
Otherwise people with admin permissions would end up getting **403** error.

[2021-03-30 04:06] knight1219 commented on #1460
Cant you do
`
"RouteClaimsRequirement": {
     "Claim": "settings_read",
     "Claim": "settings_admin"
 },
`

It seems each value pair is evaluated individually. I haven't tried this, but this would seem to work.

[2021-03-30 04:29] patolax commented on #1460
thanks, I tried it out. It does not work. ocelot.json becomes an invalid json file. Ends up crashing the gateway.

[2021-03-31 06:53] ckapatch commented on #1434
Unfortunately, that setting cannot be used if using Azure SignalR Service
![image](https://user-images.githubusercontent.com/855721/113102636-86b73e80-91bb-11eb-8ce6-731aa12666c5.png)

[2021-04-01 15:07] knight1219 commented on #646
Did anything ever com from this? having api/controller methods in the gateway that can be called is a very usefull tool.

[2021-04-01 15:09] knight1219 commented on #1222
@pmjaleel yes, any details you could share would be super helpful. I'm thinking of having this very same setup but can seemto get controller methods from the gateway project to be exposed.

[2021-04-01 15:11] knight1219 commented on #1438
Wouldn't your 2 API servers need "APIGatewayService" as a scope for this configuration to work?

[2021-04-01 20:04] luisfernandomoraes commented on #1447
Guys, any response about this issue?

[2021-04-01 22:11] luisfernandomoraes commented on #1447
Hey @GeorGeWzw do you have some troubleshooting for this issue?

[2021-04-02 01:37] GeorGeWzw commented on #1447
@luisfernandomoraes Yes,I have fiexd the probiem , This problem is caused by kubernetes' lack of configuration permission, You can refer to it
https://ocelot.readthedocs.io/en/latest/features/kubernetes.html
https://kubernetes.io/docs/reference/access-authn-authz/rbac/#permissive -rbac-permissions
I did it in kubernetes
‘kubectl create clusterrolebinding permissive-binding \
--clusterrole=cluster-

[2021-04-03 19:57] luisfernandomoraes commented on #1447
Tks so much @GeorGeWzw! I have forget this step in my production environment.

[2021-04-03 20:02] luisfernandomoraes commented on #1447
Tks so much @GeorGeWzw! I have forget this step in my environment.

[2021-04-05 21:12] devmanzur opened #1461 "Can Ocelot forward requests to service if base routes are defined only instead of all the endpoints?"
I'm just trying out ocelot today. And I was wondering if I can skip defining all the routes for my service endpoint.

I have 2 services :
1. AuthService -> api/auth/....
2. CatalogServicer-> api/catalog/...

Both of them have other controllers but all of them have that starting route in common. So can I just route all requests matching the base service route to that service?

e.g:
For a request to

[2021-04-06 10:35] nls44 commented on #1305
+1, X-Rate-Limit and Retry-After headers are not set. Would be handy if this could get fixed since Polly supports automatic retries based on this header.

[2021-04-06 17:11] #1461 closed

[2021-04-07 12:37] Ugway77 opened #1463 "Fix Build Cake"
## Expected Behavior / New Feature
New PR are passing CircleCI
It seems https://github.com/ThreeMammals/Ocelot/pull/1436 can fix this

## Actual Behavior / Motivation for New Feature
CircleCI fail with errors - new PR checks are failed
![image](https://user-images.githubusercontent.com/82089521/113867291-08f4c380-97b7-11eb-8fa5-4a85b191afb2.png)

## Steps to Reproduce the Problem
Just add new PR

[2021-04-08 04:46] yamaritta commented on #893
Hi, are there any plans to fix this? This is really a very unpleasant error

[2021-04-12 14:52] wayne-o commented on #1457
https://blog.duendesoftware.com/posts/20210326_bff/

[2021-04-13 07:36] richard-losande commented on #999
Is this issue resolved? encountered it today.

[2021-04-15 08:47] joaopgrassi commented on #1421
Not sure this is going to help you, but in our setup we have this:

SignalR service:
[code]

Then in ocelot, we have this route:
[code]

Then, we connect from our front-end app like this (in typescript..)

[code]

And about this:

AFAIK that is how it should be. If you, for example, look at the sample app here
https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-typescript-webpack?view=a

[2021-04-16 16:29] ibmo12 commented on #912
![image](https://user-images.githubusercontent.com/77395892/115055169-6b4d7280-9ee1-11eb-9d1b-b4687cd765a9.png)
I got the same problem on my mvc project when I call api project via HttpClient..  Any thoughts ?

[2021-04-16 17:14] ibmo12 commented on #912
Damn! it worked just by removing 's' from the BaseAddress :D in my mvc project

[2021-04-19 06:18] Deilan opened #1464 "Provide documentation for previous versions of Ocelot"
Since the latest major versions:
1. have breaking changes
2. dropped off support of .NET Core 3.1-

thus some of previous versions are still in LTS, it is crucial to have documentation for previous versions of Ocelot.

## Expected Behavior / New Feature
Docs for the following versions of Ocelot are present:
* latest (17.x)
* 16.x
* 15.x
* 14.x
...

## Actual Behavior / Motivation for New Feature
D

[2021-04-20 08:14] RobertHajbok opened #1465 "Configure from code instead of config files"
## Expected Behavior / New Feature
Is there any possibility to configure Ocelot from code, maybe in Startup.cs? If not, is it in the roadmap, are you intending to add this in the future?

## Actual Behavior / Motivation for New Feature
Routes cannot be configured from the code, only from config files.

## Steps to Reproduce the Problem
Follow any setup guide from documentation.

## Specifications

[2021-04-20 10:39] arvindabes commented on #1093
@suadev , @masterdimar Did you get any solution for above query? I need same behaviour .. need to retry downstream url in case of 503/408 error codes.

[2021-04-21 01:44] davidivkovic commented on #554
A real bummer that this feature is missing.

[2021-04-21 18:49] DaleyKD commented on #1428
Bump?

[2021-04-22 23:40] CoderJason123 opened #1466 "Question: priority, same upstream host"
In hosting several microservices, the same upstream host is used.

Each microservice has its own path template, along with some routes that are anonymous.  I'm concerned that each catch all for each microservice will all have priority 0, AND, i will have to set every other route to have a specific priority.  Each microservice has 3 or 4 paths that should be numbered 1-4 on priority.  Now, i will e

[2021-04-26 09:03] bjartekh commented on #1252
I tried the code submitted in #1268 (by implementing IDelegatingHandlerWithHttpContext in my DelegatingHandler)  but I experienced that HttpContext.User.Claims were not updated after the first request (so any subsequent requests would use the same user claims).

Steps to reproduce:
* Obtain an accessToken for ClientID A (from IdentityServer4)
* Use accessToken A towards Route 1 in Ocelot
* Observe

[2021-04-27 07:56] meliky commented on #695
Is there any progress on this issue? It has been a long time. Streaming data is crucial part of our project. Is there at least a work around for this problem?

[2021-04-28 06:59] ntruongvux commented on #746
@arro000 Should used `PreAuthorizationMiddleware` and `AuthorizationMiddleware` in OcelotPipelineConfiguration to check RequirementClaims?

[2021-04-28 11:23] jlukawska commented on #1252
@bjartekh thanks, you're right. There's a problem with caching. I'll look into it if I find time.

Unfortunately Ocelot seems to be abandoned after breaking changes with HttpContext :/

[2021-04-29 10:48] knowyi opened #1467 "Call custom third party interface to complete authorization"
Hello, I'm not familiar with the deployment of ocelot. Currently, I have an SSO authentication interface. I want to use Ocelot to implement the gateway, call this interface in Ocelot to complete the authentication, and return the user information to the downstream. I don't know how to implement it, whether it can be implemented by configuration, or whether I need to write custom middleware. Are th

[2021-04-29 13:30] ahuang321 opened #1468 "FluentValidation 10.0+ breaking change"
On a project where FluentValidation 10 was forced down. Per docs this included breaking changes:

https://docs.fluentvalidation.net/en/latest/upgrading-to-10.html

Currently running Ocelot 17.0 .NET Core 5.0, which now returns this error on startup:

Method not found: 'System.Collections.Generic.IList`1<FluentValidation.Results.ValidationFailure> FluentValidation.Results.ValidationResult.get_Error

[2021-04-30 06:12] samchenws opened #1469 "About Ocelot in .net5"
## Expected Behavior / New Feature
It doesn't seem to work to configure routing in. Net5. It won't forward automatically.
I see that all the tutorials are. Net core 3.1. How do you configure. Net5?

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.
![image](https://user-images.githubusercontent.com/37535153/116655577-e9b81300-a9bd-11eb-94bb-35e8261ee7ee.png)

[2021-04-30 07:53] #1469 closed

[2021-04-30 12:07] sarvasana commented on #695
I think you have to build it yourself and submit a PR.
The issue was raised in 2018.
Tagged with (help wanted) in 2019.

[2021-05-07 02:13] nhanh9d opened #1470 "Got error when using k8s service discovery"
## Actual Behavior
- After add solution from issue [977](https://github.com/ThreeMammals/Ocelot/issues/977), I still got error when calling service through k8s service discovery:
  - ![image](https://user-images.githubusercontent.com/41713343/117387151-80328a00-af12-11eb-86fd-ba07a74b6aab.png)
  - UnableToFindLoadBalancerError Message: unabe to find load balancer for /k8s/{url}|Options,Put,Get,Del

[2021-05-07 10:50] jlukawska commented on #1252
@bjartekh if you are interested, I've just fixed the problem with cache.

[2021-05-10 08:16] #1467 closed

[2021-05-10 11:18] meliky commented on #695
I didn't pay attention to dates and tags. I am sorry. I have made two changes to solve our problem. I don't think it is a generic solution so I haven't submited PR.
Changes are:
1.
#https://github.com/ThreeMammals/Ocelot/blob/3ef6abd7465fc77632e4b2d5189fbbf47b457867/src/Ocelot/Request/Mapper/RequestMapper.cs#L48-L49
 changes to
[code]
I know that `StreamContent `has a problem with #464 therefore,

[2021-05-12 16:54] leniel commented on #912
@dborzouei thanks for posting your answer... I was having a problem to get an API call to work within the API Management service on Azure Portal. In the API settings the Web service URL had the port set to 80. Changed it to 443 and then it started working.

Before that I was getting this error:

[code]

[2021-05-13 14:42] ivonask opened #1471 "Ocelot with WebSockets returns 499 on IIS"
I'm using Ocelot as a reverse proxy in a .NET 5 application. I tried to test the WebSockets functionality with a simple route that points to the "echo.websocket.org" demo server downstream.

[code]
## Expected Behavior
Websocket connection established when using Ocelot route.

## Actual Behavior
The routing is successful when running code from Visual Studio using IISExpress, and when packing my ap

[2021-05-17 00:04] jsuag commented on #344
Hi, It works fine for me, but when I try to balance the SignalR API, the connection doesn't work, it returns 404 error. This is my configuration:
{
  "DownstreamPathTemplate": "/Hubs/{everything}",
  "DownstreamScheme": "ws",
  "ServiceName": "OrderApi",
  "UpstreamPathTemplate": "/Hubs/{everything}",
  "LoadBalancerOptions": {
    "Type": "CookieStickySessions",
    "Key": "ASP.NET_SessionId",

[2021-05-18 05:53] henrysmith opened #1472 "Erratic 502 Error ConnectionToDownstreamServiceError"
I'm routing to an X service endpoint.  On the service side, I always get the routed Ocelot's call to the endpoint, and the service returns a 400 HTTP code.  Everything is logged.

When Ocelot gets the response from the service sometimes returns 400 but other times also returns 502  (ConnectionToDownstreamServiceError exception).   I can ensure that services X gets the call and always returns a 400

[2021-05-18 07:01] eddex opened #1473 "WebSockets connection fails if UpstreamPathTemplate is not "/{everything}""
## Expected Behavior
- The `UpstreamPathTemplate` can be changed to any path that should be used for the websockets connection

## Actual Behavior
- Only with `UpstreamPathTemplate`  "/{everything}" the websockets connection works

## Steps to Reproduce the Problem

  1. Use the following config to connect to the
[code]
  2. Use the html provided on https://www.websocket.org/echo.html to test the

[2021-05-18 07:05] eddex commented on #1471
Might be related to the issue I just created: #1473
Have you tried if it works if you set the `UpstreamPathTemplate` to `/` or `/{everything}`?

[2021-05-18 08:45] eddex commented on #1473
I did some further testing and found that this configuration also works:
[code]

This doesn't work:
[code]

And this doesn't work either:
[code]

[2021-05-19 04:35] henrysmith commented on #1472
So,

We found that our service (via nginx proxy) can return Content-Length already calculated or it can return  _transfer-encoding: chunked_ .

Ocelot doesn't work well with Chunked Encoding and for some reason (I don't really know) the connection gets closed. It might be that it's trying to read it twice or more.

### Workaround

So using EnableBuffering we ensure the request is there when Ocelot

[2021-05-19 18:52] ELymar opened #1474 "More granular logging configuration"
## Expected Behavior / New Feature
Could it be possible to give more control over what gets logged? We have API keys that get passed in as query parameters, and the logger ends up storing them in plaintext in our logs. Could we disable logging query parameters, or perhaps just not logging for certain endpoints? If there is a workaround I'd also appreciate suggestions.

## Actual Behavior / Motivat

[2021-05-19 19:05] TheoGrimond commented on #417
Hi @TomPallister, I believe this issue is still opened.

I followed the tutorial material from the Docs but my server still always listens to **http://localhost:5000** even though I properly set the **_GlobalConfiguration:BaseUrl_** parameter in my **ocelot.json**.

I tried this against 2 Ocelot versions, one running with .Net 3.1 and the other running .Net 5.0
Both were having the same issue

[2021-05-19 19:10] m-hicks-OH commented on #1050
Just do an UpsteamHeaderTransorm
`      "UpstreamHeaderTransform": {
        "ClientId": "{RemoteIpAddress}"
      },`

[2021-05-19 21:54] henrysmith commented on #1472
Well, my workaround (EnableBuffering) is making many other calls fail. I'm reinventing it back! Going back to the initial problem!

Ocelot returns 502 Bad Gateway when _transfer-encoding: chunked_

[2021-05-20 12:18] default-kaas commented on #746
Is it clear when this enhancement will be added.

I am asking this question, because it has been over two years since this enhancement was requested.

[2021-05-25 12:41] bNobo opened #1475 "ArgumentException when using QoSOptions with only TimeoutValue set"
## Expected Behavior / New Feature
According to [documentation](https://ocelot.readthedocs.io/en/latest/features/qualityofservice.html?highlight=QoS), it should be possible to set only *TimeoutValue* in *QoSOptions*.

## Actual Behavior / Motivation for New Feature
When setting only *TimeoutValue* in *QoSOptions*, an *ArgumentException* occurs:

[code]

When adding *ExceptionsAllowedBeforeBreaking

[2021-05-26 07:39] default-kaas commented on #746
From where do you get the AuthorisationMiddleware, DownstreamContext and UnauthorisedError.

[2021-05-26 13:24] AhmedAssaf commented on #1220
Is there any updates?

[2021-05-26 15:36] henrysmith commented on #1472
Chunked transfer encoding is an HTTP/1.1 feature that enables keep-alive requests.  To avoid it, until we find a final solution, we can configure the routes to use HTTP/1.0, understanding that it requires a new connection for each resource downloaded.

[code]

[2021-05-27 21:37] henrysmith commented on #1472
A very important thing  I forgot to add is that this happens when the request is big.  In this case, we are sending a huge request.

[2021-05-28 08:09] eddex commented on #1473
![image](https://user-images.githubusercontent.com/5302085/119951602-6a0d6c00-bf9c-11eb-8997-8d0742dd4ec8.png)

When using the `/{everything}` wildcard it seems like the initial forwarding of the request still works, the websocket endpoint returns a `101 Switching Protocols` response but the api-gateway somehow fails to forward this to the client and runs into a timeout.

[2021-05-28 09:08] Kation commented on #1396
This is bad!!!
If MultiplexingMiddleware DO NOT Passing HttpContext.User, ClaimsToHeadersMiddleware will not work because https://github.com/ThreeMammals/Ocelot/blob/3ef6abd7465fc77632e4b2d5189fbbf47b457867/src/Ocelot/Headers/Middleware/ClaimsToHeadersMiddleware.cs#L34 get default ClaimsPrincipal and its claims is empty!

[2021-05-28 09:50] derily opened #1476 "upload file through gateway not working"
我有一个微服务实现了一个上传接口，直接访问该服务上传文件没有问题，但是通过网关就出现文件损坏的情况

[2021-05-28 09:50] Kation commented on #1421
Ccheck your signalr response time with `/hub/negotiate`
Make sure it response less than 5 secs.

[2021-05-28 09:54] #1476 closed

[2021-05-28 12:46] default-kaas commented on #1199
How do you implement this code?
How do you make ocelot use the OcelotBuilderExtensions.

[2021-05-28 12:47] default-kaas commented on #1199
How did you implement it, can simply add it to your project.
Or do you need to change a file.
Or do you need to give it to ocelot in the Startup.cs.

[2021-05-30 09:35] mcslove808 opened #1477 "When uploading a file, the file forwarded to downstream is empty"
## Expected Behavior / New Feature

## Actual Behavior / Motivation for New Feature

## Steps to Reproduce the Problem

  1.There are files in custom Ocelot middleware
![image](https://user-images.githubusercontent.com/31118200/120099244-17cf7500-c16d-11eb-9363-065c0451d812.png)

  2.There are no documents downstream
![image](https://user-images.githubusercontent.com/31118200/120099296-477e7d00-c1

[2021-05-31 10:27] Navaladi2019 commented on #891
if the claim name is nameid, it is not getting forwarded. On other names it is working fine

[2021-06-01 07:39] ShvetsovAU commented on #340
Hi! As i understand, this feature work only with Consul / Eureka? If i don't use Consul / Eureka, this setting in GlobalConfigurations don't work and then application start i get next error: "Exception: Unable to start Ocelot, errors are: When not using service discovery DownstreamHostAndPorts must be set and not empty or Ocelot cannot find your service!"

Configuration example:

{
  "Routes": [

[2021-06-01 14:40] wakm commented on #1382
I have the same issue and I think #1262 does too. neverthelesss changing the hostingmodel is not a satisfying solution for me. Are there any other solutions? Why is this an issue anyway?

[2021-06-02 06:04] yoramda commented on #1470
Hi,

1. Try to Add Type: "KubernetesServiceDiscoveryProvider" to

"GlobalConfiguration": {
 "ServiceDiscoveryProvider": {
   //Specify the host of Service Discovery
   "Host": "172.20.40.141",
   //Specify the port of Service Discovery
   "Port": 6443,
   "Token": "MyToken",
   "Type": "kube",
   "Namespace": "admin-auth-server"
   ////1. Consul, means that Ocelot will get service information from

[2021-06-07 07:25] xdqa01 opened #1480 "There is an error in OcelotBasic sample"
I downloaded this repository,and in devlop branch.
then run OcelotBasic  sample.
There is an error happened.
I changed ConfigureLogging in Program.cs to
`
               .ConfigureLogging((hostingContext, logging) =>
               {
                   logging.AddConsole();
                   //add your logging
               })
`
Then ,i get some message:
`
E:\CodeSource\Ocelot\samples\OcelotBasi

[2021-06-09 23:18] raschmitt commented on #1468
I was having a similar issue, not with `Ocelot`, but with another dependency that was also using `FluentValidation`.

I was trying to use `Fluent Validation 10.x`, while my dependency used `9.x`, ended up having to downgrade fluent on my side.

Maybe it can solve your issue until they upgrade it here.

[2021-06-10 09:03] Youvaniga-ITS commented on #779
Redirect and the browser then sends the raw request directly to the endpoint. In the target service i have commented  .UseHttpsRedirection(), but not working still.

Thanks.

[2021-06-10 14:04] default-kaas commented on #1460
It is possible to write your own middleware to fix this issue.
Here some example code, which i would recommend you to modify.

[The current middleware](https://github.com/ThreeMammals/Ocelot/blob/develop/src/Ocelot/Authorization/Middleware/AuthorizationMiddleware.cs)

### Startup.cs
[code]

### OcelotAuthorizationMiddleware.cs
[code]

[2021-06-11 11:03] default-kaas opened #1481 "Protecting /configuration endpoint with a role claim"
## Expected Behavior
I would like to protect the /configruation path (from ocelot FileConfiguration) with a role (claim), but i can't figure out how it is possible.
Between the existing issues i can't find anyone with a smiliar problem.

Ocelot does check if someone has a valid JWT.
But it won't check the role (claim) that the user has.

## Actual Behavior
I can't find a way to protect the /config

[2021-06-13 09:07] 57575 commented on #920
try modify your downStreamScheme to "http"

[2021-06-14 02:00] kg73 commented on #1075
I too am interested in modifying downstream routing based on request content.

Is there an existing extensibility point where this could be done?

My use case is a bit simpler. If a request body contains a certain JSON value, such as "ABC", I'd like to route to a different downstream than if the value was "DEF".

Is this possible?

[2021-06-14 19:39] PatGet commented on #1457
FYI:
https://twitter.com/ThreeMammals/status/1404477172341948421

[2021-06-15 02:18] johnkwaters opened #1482 "Ocelot crashes if you combine catchalls and aggregates"
The config below causes this Exception on startup

Unable to start Ocelot, errors are: Routes for aggregateRoute /tenantandcodes/{id} either do not exist or do not have correct

I want to route all calls to api/tenants/ to one microservice
I also want to create an aggregate route that has the api/tenants/{id} route plus another microservice.
Is this possible - or if ANY part of a micoservice is us

[2021-06-15 06:42] Ghyath-Serhal opened #1483 "AddJsonFile reloadOnChange is not working on azure linux app service"
I am working with Ocelot, I have a problem with **reloadOnChange** on azure linux app service. When changing the json configuration, they are not reflected until restarting the app service.

It working fine locally and when trying it on an azure windows app service.

The code is
config.AddJsonFile($"ocelot.json", false, true);

[2021-06-15 15:41] ediblecode commented on #1247
It looks like this is caused by this method:

https://github.com/ThreeMammals/Ocelot/blob/3ef6abd7465fc77632e4b2d5189fbbf47b457867/src/Ocelot/DependencyInjection/ConfigurationBuilderExtensions.cs#L37

And specifically by this line:

https://github.com/ThreeMammals/Ocelot/blob/3ef6abd7465fc77632e4b2d5189fbbf47b457867/src/Ocelot/DependencyInjection/ConfigurationBuilderExtensions.cs#L78

I followed t

[2021-06-16 08:48] Report-OSS-Security opened #1484 "Issues related with security founded"
Dear ThreeMammals.

We are Security Team at Samsung Research. We are interested in the security of open-source projects.
We'd like to inform you of security-related issues in your repository but we couldn't find a proper way to reach you.

Please follow the below steps.
1. Please send this repository url to report.oss.sec@gmail.com.
2. Leave a comment 'Confirmed' on this issue. The comment should

[2021-06-17 06:43] ctnkyrd commented on #1070
this would be really nice if we can apprehend requests one after another

[2021-06-17 13:46] ShvetsovAU commented on #1308
Don't implemented?

[2021-06-18 07:29] BazzoneRec opened #1485 "Request Body forwarding not working in .net core 3.1"
## Expected Behavior / New Feature
I make a post request with a body on my gateway and the request gets rerouted with the body to the correct endpoint.

## Actual Behavior / Motivation for New Feature
The request body is not sent correctly.

## Steps to Reproduce the Problem

  1. Make a post request with a body on postman
  2. Through the ocelot PreErrorResponderMiddleware  i can see that the req

[2021-06-20 23:48] ArchitectCat commented on #1465
We did that long time ago by just providing a custom `IOptionsMonitor<FileConfiguration>` implementation that was reading and building a custom configuration from database instead of a file.
Here is how Ocelot registers to handle its file based configuration updates:
https://github.com/ThreeMammals/Ocelot/blob/3ef6abd7465fc77632e4b2d5189fbbf47b457867/src/Ocelot/Middleware/OcelotMiddlewareExtension

[2021-06-21 00:13] ArchitectCat commented on #1448
Did you tried implementing a custom `ILoadBalancer` for this? You technically have access to a full `DownstreamContext` in there which you can use to route your requests appropriately.

[2021-06-21 01:04] ArchitectCat commented on #1271
`outbound connect the microservice would register the routes it is offering and Ocelot would start handling this route. If multiple services register the same route, Ocelot would load balance the calls between them`
Maybe I'm reading this wrong but this is literally describes definition of a service discovery, which Ocelot already supports out of the box. Sounds like all you trying to achieve is t

[2021-06-21 07:19] #1485 closed

[2021-06-21 18:34] heyruyn23 opened #1487 "Ocelot with Consul, 404 Not Found"
Hello, I am very new to Microservice architecture, and I am stuck at this problem for a week.
I really appreciate your help in advance..!

## Expected Behavior / New Feature
I am trying to use Ocelot with Consul.
I am not using docker, I am running consul in windows cli.
I have three projects in one solution,
![image](https://user-images.githubusercontent.com/46176576/122811518-93b96a80-d29e-11eb-

[2021-06-22 03:20] vuta1927 opened #1488 "Exception on middleware if not call await next.Invoke()"
## Expected Behavior
Im current working on adding a custom middleware to do some logic check after request had Authorization check success. If the logic code check fails then return a json data in response.

## Actual Behavior
Ocelot fire an exception and return http response with code 500.

Ocelot.Errors.Middleware.ExceptionHandlerMiddleware
requestId: 0HM9L483Q0PCV:00000002, previousRequestId: n

[2021-06-30 11:28] cspangge commented on #1487
Please try the following method which takes me 4 hours to fix it.

public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDefaultBuilder(args)
                .UseContentRoot(Directory.GetCurrentDirectory())
                .ConfigureAppConfiguration((hostingContext, config) =>
                {
                    config
                        .SetBasePath(hostingC

[2021-06-30 23:18] govardhankumark commented on #468
This was helpful. thanks

[2021-07-06 09:01] RavishKumar3788 commented on #579
Same issue. Please help us to solve this issue.

info: Ocelot.RateLimit.Middleware.ClientRateLimitMiddleware[0]
      requestId: 0HMA0B2J418UN:00000001, previousRequestId: no previous request id, message: EndpointRateLimiting is not enabled for /api/v1/cms142/{everything}
info: Ocelot.Authentication.Middleware.AuthenticationMiddleware[0]
      requestId: 0HMA0B2J418UN:00000001, previousRequestId:

[2021-07-06 23:53] ShannonCanTech opened #1489 "Notice: End of support for ADAL"
## Expected Behavior / New Feature
Migrate to MSAL

## Actual Behavior / Motivation for New Feature
Currently using soon-to-be deprecated SDK

## Hello from the Microsoft Authentication team!

On June 22, 2020, [we announced the end of support for Azure Active Directory Authentication Library (ADAL)](https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to

[2021-07-08 11:36] konrad682 opened #1490 "Error related to aggregate key when deploying service."
I'm using Ocelot in a .NET Core 3.1 service. Recently I encountered an error deploying a service with Ocelot configuration to k8s. During the investigation, it turned out that the problem is with the key used for aggregation, namely: 'tenant-service-api-get-tenants-upgrades'. The use of such a key did not allow the service to be deployed, which ended with the error

![image](https://user-images.gi

[2021-07-09 22:35] govardhankumark opened #1491 "How to restrict the upstream APIs to a particular url"
React App calls our API and need to make sure we restrict the upstream APIs only to this React app only. Note that both the React app and the API are on the same domain with different urls.

Was looking for options to restrict calls using Origin or other request headers but seems it can be spoofed.

Tried UpstreamHost but it did not help.

Not sure if this is possible. Appreciate help.

[2021-07-13 09:43] robertok77 opened #1492 "Request Host Header"
what are the basic overriding made by ocelet when receiving upstream ?

let's say  ocelot.json
[code]

however I am not sure how it works. I got response 403 but when I make the same request directly to hostserver.com I got response 200. (using postman I only change **host** header from localhost:5001 to hostserver.com)

[2021-07-13 16:02] vvenkataratnam opened #1493 "Use CustomAuthentication Middleware and Add Authorization token to Downstream Request Url"
Hi,
I am using Ocelot latest version and I would like to use AuthenticationMiddleware, where I need to fetch a token from 3rd Party API and would like to add that token to Downstream Url requests. Is it possible to achieve this requirement?
` public class AuthTokenMiddleware : OcelotPipelineConfiguration
    {

        public AuthTokenMiddleware()
        {

            AuthenticationMiddleware =

[2021-07-15 07:26] ahmed0304 commented on #910
@markjiang7m2, can you please tell me from where you are getting `markadmin` in `RateLimitOptions:ClientWhiteList` ?

[2021-07-16 22:03] maiconheck commented on #1047
I had this problem when I trying to split my ocelot config files per microservice, for merge configuration files.
The solution is similar as @gurelsoycaner, but in such case, I just needed this:

[https://stackoverflow.com/a/68415447/5219344](https://stackoverflow.com/a/68415447/5219344)

[2021-07-20 04:18] chitharansivasamy opened #1494 "Ocelot Cache - How do we Cache only success(200) response from micro services via API Gateway"
## Expected Behavior / New Feature

Ocelot API Gateway is supposed to caching only when gets success responses (200) from micro-services

## Actual Behavior / Motivation for New Feature
The problem is we had used the below Ocelot JSON to cache the response and it's holding the data for one full day (86400 secs). here is suppose to get some errors during the services call like(500,502,499...). what

[2021-07-20 07:52] wesonder opened #1495 "consul QoSOptions invalid"
When  I  use Ocelot only  the QoSOptions and RateLimitOptions  is  Available，but  when  I use consul  , QoSOptions and RateLimitOptions is  invalid。 i can not find a method to solve  that

[2021-07-20 12:05] andyjhall commented on #1494
Since the response is being cached with cachemanager id guess (and it is a guess) that youd need to check the response inside here and if its not successful then not add that response to the cache:

https://github.com/ThreeMammals/Ocelot/blob/develop/src/Ocelot.Cache.CacheManager/OcelotCacheManagerCache.cs

`public void Add(string key, T value, TimeSpan ttl, string region)
        {
            _c

[2021-07-20 16:47] jfbueno commented on #908
I'm using Ocelot version 17.0 (the latest on nuget) and still having this issue. Is there any workaround for this?

[2021-07-20 22:21] kirkhaines commented on #1480
The Ocelot NuGet package used by the OcelotBasic sample looks like it is on version 14 instead of 17.  If you update it to 17 it seems to work ok.

[2021-07-22 06:28] trendfollowerpl commented on #930
Issue is still present:
`requestId: 0HMAC9GC2GLQV:00000002, previousRequestId: no previous request id, message: Exception caught in global error handler, exception message: The WebSocket is in an invalid state ('Aborted') for this operation. Valid states are: 'Open, CloseReceived', exception stack:    at System.Net.WebSockets.WebSocketValidate.ThrowIfInvalidState(WebSocketState currentState, Boole

[2021-07-22 14:59] Sacrilege commented on #127
@TomPallister I'm curious if Ocelot supports OpenIddict out of the box now.

[2021-07-22 15:59] sliekens opened #1496 "Route key is not unique when using Host header for service discovery"
## Expected Behavior
The `RouteKey` format should include a route's `ServiceName` when you use service discovery: `"UpstreamPathTemplate|UpstreamHttpMethod|ServiceName"`.

## Actual Behavior

The default format is `"UpstreamPathTemplate|UpstreamHttpMethod|DownstreamHostAndPorts"`. The last section resolves to an empty string when you use service discovery: `"/some-path|GET|"`.

This leads to confl

[2021-07-23 20:52] ToTheSol commented on #465
Where the heck do you put this .addJsonFile("ocelot.json") ? Everyone says "oh yeah use this", but they never say where!

[2021-07-27 00:59] kps-promad opened #1498 "Aggregates not working : Does not call the second Route Key"
## Expected Behavior / New Feature
Aggregates should work as expected and defined in the doc

## Actual Behavior / Motivation for New Feature

info: Ocelot.RateLimit.Middleware.ClientRateLimitMiddleware[0]
      requestId: 0HMAGJ2TTS6T3:00000002, previousRequestId: no previous request id, message: EndpointRateLimiting is not enabled for /api/v1/hello
info: Ocelot.Authentication.Middleware.Authenti

[2021-08-01 08:30] computerprince commented on #465
you need to put inside the program.cs or startup.cs for example in program.cs
        public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDefaultBuilder(args)
              .ConfigureAppConfiguration((hostingContext, config) =>
               {
                   config
                       .SetBasePath(hostingContext.HostingEnvironment.ContentRootPath)

[2021-08-02 10:23] chrisbecke opened #1500 "netcoreapp3.1 support"
## Expected Behavior / New Feature

The documentation here, and on readthedocs, claims that netcoreapp3.1 and netcoreapp1 is supported. However, adding Ocelot to projects using these frameworks fails.

[code]

## Steps to Reproduce the Problem

  1. `dotnet new -o ocelot-test -f netcoreapp3.1`
  1. `dotnet add ocelot-test package Ocelot`

## Specifications

  - Version: 17.0.0

[2021-08-03 00:12] gkumar1234 opened #1501 "SPA (React) and Ocelot not working together"
SPA (React) and Ocelot not working together

Ocelot always respond with the SPA default page and does not call the downstream.

I saw one old issue and tried the same. Now i get 404 error always. Since it was posted long back thought to check if any solution now.
https://github.com/ThreeMammals/Ocelot/issues/606

Also wanted to have one website for both API and SPA instead of two.

Version:17.0.0

[2021-08-04 18:07] gkumar1234 commented on #1089
Do you have a working sample? i have same problem and i getting ambiguous error between my new class and Ocelot library,when i copy and place this code.

[2021-08-04 19:06] gkumar1234 commented on #606
Not sure what i am missing, this did not help. Always Gateway requests are giving 404 error.

[2021-08-05 18:39] NhatLeTTCU commented on #1470
@nhanh9d Hi An, have you ever successfully solved the issue? I am dealing with the same issue and also tried doing @yoramda 's suggestion but no luck.

[2021-08-06 23:17] leoshusar commented on #532
I just found this issue after literally hours of finding out why it's not redirecting... I would also really love this!

[2021-08-09 07:20] sms7182 commented on #1070
i am also looking for this feature same as pipeline but with this solution , not working

[2021-08-11 06:35] abhiphirke commented on #874
I too have the same issue: how `AddClaimsToRequest `work? how to receive claims in downstream service in case of AddClaimsToRequest? The documentation is not adequate, it seems. Also, had a look at the code, but got no hints as to how I retrieve them in downstream service or even view them in the downstream http request..

[2021-08-11 18:07] 3dotsDev commented on #1329
I have the same problem ...first call on every route get me a 404 ... second call is fine....
i cant find a solution to fix this issue... can anyone help me ?

[2021-08-13 15:41] imnotwannafire commented on #1364
Hi, have u solve this issue ? I'm struggling at this point too. Could you share how to fix it

[2021-08-14 01:40] johha86 commented on #1329
Hi, I had found the reason of the problem and how to fixe it. When you configure Ocelot to use Service Discovery as PollConsul mode, an IServiceDiscoveryProvider is created with a timer in the Constructor. In the callback of the timer, happens the Poll of the available services in Consul into a collection. But the initialization of this timer happens at the first time you call Ocelot. So, the firs

[2021-08-14 01:53] johha86 commented on #1487
@heyruyn23  Does the error appear at the first request or in any?

[2021-08-16 09:33] 3dotsDev commented on #1329
hmmmm i see your point...

But im not sure... your update is running on the first startup... then it collects the services and hold them...

but i have the 404 on every routes first call... not only initial

[2021-08-16 14:21] johha86 commented on #1329
Yes, I know. The forked repo with solution is [here](https://github.com/johha86/Ocelot.Provider.Consul/tree/issues-1329-not-found-error-with-consul). This contain the source code of Ocelot.Provider.Consul and I commited my changes into the branch **issues-1329-not-found-error-with-consul**.

[2021-08-16 18:34] aschuhardt opened #1504 "Catch-all routes don't use Priority 0 by default (despite documentation implying that they do)"
## Expected Behavior

 Refer to this part [in the documentation](https://ocelot.readthedocs.io/en/latest/features/routing.html#priority):

Based on this information, I assumed that I could omit the "Priority" option on catch-all routes  (because it's hard-coded to be zero, right?) and that route matching would work identically to if I had explicitly set the priority to 0.

Given the configuration

[2021-08-17 12:21] jmzagorski commented on #1113
I notice in IIS when I am sending the request downstream to another website's application the final status code in the "Failed Request Tracing" is a 301, even though on my client I am getting a 404. Not sure if this is related.

[2021-08-18 11:45] hsnassaad commented on #1040
@mkanakis because this feature is not available right now, and I want to implement a similar thing in my project, did you use any other methods to solve this (like using reverse proxy or other different tools?)

[2021-08-19 11:22] vnlevanduoc opened #1506 "How can I check if those requests are duplicated"
I'm using Ocelot, but I have a problem that I can't find a solution for
- My system is having a lot of requests sent at the same time
- How can I check if those requests are duplicated, can I block them
Requests submitted at the same time hh:mm:ss:sss

[2021-08-24 12:15] jyriaganitsh commented on #1504
Also there seems to be problem, if I register `"Priority: 1` route in different configuration file and load it, then "Priority: 1` routing will not trigger.

[2021-08-24 13:58] excelthoughts opened #1507 "Be able to extract route items (id) from an UpstreamPathTemplate for Authorisation"
## Expected Behavior / New Feature
Be able to extract route items (id) from an UpstreamPathTemplate for Authorisation

## Actual Behavior / Motivation for New Feature
Cannot find any examples or how to do this?

## Steps to Reproduce the Problem

Routes..
{
      "UpstreamPathTemplate": "/api/v1/persons/{id}",
      "UpstreamHttpMethod": [
        "Get"
      ],
      "DownstreamPathTemplate": "/a

[2021-08-24 23:59] #1507 closed

[2021-08-27 08:12] matsch01 opened #1508 "Adding a Target Port to Kubernetes Service Causes Service Discovery to Fail"
## Expected Behavior / New Feature
When a targetPort is added to the Kubernetes service resource there should be no impact on Service Discovery.

[code]

## Actual Behavior / Motivation for New Feature
Ocelot fails to find the service:

2021-08-27 07:57:07.753 [Warning] () requestId: 0HMB95QFS8JPS:00000004, previousRequestId: no previous request id, message: Error Code: ServicesAreEmptyError Messa

[2021-08-27 09:29] #1508 closed, assigned to nobody

[2021-08-27 11:50] abhiphirke opened #1509 "Upstream Scheme is not applied to DownstreamScheme, if latter is not specified"
## Expected Behavior / New Feature
If `DownstreamScheme` is not specified in a Route in configuration, the upstream scheme should be used to forward request to the downstream for the URLs other than http/https.

Basically, I want to support long polling as well as websockets on a SignalR hub/client in my application.
In both cases, I have to hit the same URL, except that my up and down stream sche

[2021-08-30 13:11] WajahatAliAbid opened #1510 "Issue with default Newtonsoft Serializer"
## Expected Behavior
With .net core 3.1 and above, asp.net core projects use System.Text.Json serializer by default. But when we add Ocelot in our DI, asp.net core projects start using Newtonsoft.json. I tried diagnosing this issue and found that Ocelot was adding NewtonsoftJson in the dependency tree which changed the default serializer to NewtonsoftJson instead of the expected System.Text.Json w

[2021-08-31 12:12] jpcarpanezi opened #1511 "Return custom status code"
## Expected Behavior
- Force return a custom status code in `OcelotPipelineConfiguration` for custom pre or override middleware

## Actual Behavior
- Can't return custom status code for custom middlewares. In my case, i want to return a 401 HTTP Status Code if my bearer token is in Redis blacklist, returning the follow stack trace:

[code]

## Steps to Reproduce the Problem
  1. Add OcelotPipeline

[2021-09-01 14:34] PratikPatel-Mtech opened #1512 "Placeholder value does not correctly replace when the placeholder is defined between round braces"
## Expected Behavior
The specified placeholder variable value should be replaced within the Downstream URI provided in the UpstreamPathTemplate and DownStreamPathTemplate. For instance,

Route Configurations:
[code]
When the request URI is `http://localhost:5001/v1/subscriptions(123)/updates`
Then the downstream request URI should be  `http://localhost:50110/api/subscriptions(123)/updates`

## Act

[2021-09-01 19:00] apoteet commented on #741
We're still having this problem with 500 responses being cached. Any chance a config was added and this issue just got buried?

[2021-09-02 08:33] rycho27 opened #1513 "Ocelot Load Balance using Web Socket Issue"
Hi Ocelot Team,

Please give advice for my current issue when using Load Balance configuration on Ocelot Gateway. My websocket implementation is for Microsof SignalR on my web client

\## Expected Behavior / New Feature
When one of server is down, not causing error and able redirect request to connect websocket to another server

## Actual Behavior / Motivation for New Feature
1 Backend Server dow

[2021-09-02 14:06] default-kaas commented on #1481
Is this project abboned or death?

@TomPallister

Because a question like this shouldn't be open for over 3 months,
Any body else that has dealt with this problem?

[2021-09-03 09:40] lobbo232 opened #1514 "Can Ocelot perform runtime routing?"
I am looking to see if Ocelot will fill a criteria for me.

I have an infrastructure with a Gateway API that talks to several other identical APIs that are located in different sites. I need to route to the correct API based on the current users session.

i.e., a request from User A needs to be routed to the API of Company A, and a request from User B needs to be routed to the API of Company B.

T

[2021-09-06 21:32] ThumbGen commented on #1457
So, can we consider the project dead? I guess it's too dangerous to include it in a new business product :(

[2021-09-07 21:49] Arcalise08 commented on #1501
You don't want to have your gateway serving static files. the gateway should be setup for the most part, then left alone.

You'll have your gateway link to a separate project which is what serves your react project. The routes would look similar to the following.

[code]

and your backend project routes will look like this

[code]

[2021-09-08 20:27] MarcosxDeveloper opened #1516 "Downstream Route Work Fine With Internal IP Requests But Not With Public IP Requests"
## Config

[code]

## Expected Result

Information: requestId: 8000001b-0005-f900-b63f-84710c7967bb, previousRequestId: no previous request id, message: 200 (OK) status code, request uri: https://prousuario.gob.do/educacion-financiera/blog?format=feed&type=rss

## Actual Error

DownstreamRouteFinderMiddleware setting pipeline errors. IDownstreamRouteFinder returned Error Code: UnableToFindDownstre

[2021-09-10 00:24] ggnaegi commented on #1329
@3dotsDev I'm experiencing the same issue. I'm currently reading the code and I'm trying to implement a suitable solution for me [there](https://github.com/ggnaegi/Ocelot).

We have the ConsulProviderFactory, it's a singleton. So I thought that carefully maintaining a list with the discovery providers (one discovery provider per service) would do the trick.

In the Polling class, I'm retrieving th

[2021-09-10 11:10] ggnaegi commented on #1514
Hello, maybe with [delegating handlers](https://ocelot.readthedocs.io/en/latest/features/delegatinghandlers.html)?

I'm using an handler to modify some parameters in the downstream route, according to user's reference.

[2021-09-15 16:30] ggnaegi commented on #1329
@johha86 @3dotsDev
Hello

I'm wondering if this could be a solution...

The idea is the following:

Avoiding polling, retrieving the services until they are available for each request. As soon as the services are available, waiting until "polling interval" reached.

[code]

[2021-09-15 17:18] johha86 commented on #1329
Hello @ggnaegi

If you want to "Avoid polling" I think that you only need to setup Ocelot following the instruction:
`"ServiceDiscoveryProvider": {
    "Scheme": "https",
    "Host": "localhost",
    "Port": 8500,
    "Type": "Consul"
}`
The type **Consul** retrieve the services until they are available on every request. You can found more details [here](https://ocelot.readthedocs.io/en/latest/fea

[2021-09-15 17:20] ggnaegi commented on #1329
@johha86 sure, but then it's for every request and I thought it would help if we wouldn't keep retrieving the services for every request. In my case, I can see quite a performance improvement

[2021-09-15 17:21] ArwynFr opened #1518 "Dependency Injection extensions build the service provider"
When using the default DI extension to register the Ocelot service, the library builds the service provider.
This causes problems with the dependency injection library.

- [Dependency injection in ASP.NET Core | Microsoft Learn](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-5.0#recommendations)

Source : https://github.com/ThreeMammals/Ocelot/blob/b

[2021-09-16 10:50] MSchmack commented on #1164
Encountered that behaviour when i tried to put a map tile server behind ocelot.
The expected behaviour was to limit the entire downstreampath with the added rate limit options but the current behaviour seems to limit / count each and every route independently.

e.G. image of example routes used by a tile servers added for clarity
![image](https://user-images.githubusercontent.com/37783519/13359923

[2021-09-16 11:00] MSchmack commented on #1176
Solution that seems to work for me is to add a ClientRateLimitMiddleware with modified Setidentity.

The middleware is roughly described here: https://github.com/ThreeMammals/Ocelot/tree/develop/src/Ocelot/RateLimit/Middleware
The user context value will vary depending on your auth provider.

`     public virtual ClientRequestIdentity SetIdentity(HttpContext httpContext, RateLimitOptions option)

[2021-09-17 00:18] tahayazdani opened #1519 "How Ocelot validated expired JWT token and re-send HttpContext with the new header ?"
How Ocelot validated expired JWT token and re-send HttpContext with the new header ?

Hi, I'm currently building our api gateway using Ocelot , I have services listed below
- token service (works by itself)
- api-gateway service (ocelot)
- payment-service (works under api-gateway routing)

here is the flow
- once my application is up, I do send the first request to my token (jwt) service to genera

[2021-09-17 13:57] erielpo commented on #127
Hi there. I would like to see an example of openiddict + ocelot + api-resource.

[2021-09-20 08:36] NgocThachThai commented on #668
Solved my issue. Thanks

[2021-09-22 10:24] ArwynFr commented on #1518
Looks like using the extension method with the additional `IConfiguration` parameter does not build the service provider. Give it a try ?

[2021-09-22 22:18] Sacrilege commented on #239
@TomPallister I created a PR for this as I needed it too: https://github.com/ThreeMammals/Ocelot/pull/1521

[2021-09-22 22:19] Sacrilege commented on #657
I created a PR for this: https://github.com/ThreeMammals/Ocelot/pull/1521

[2021-09-24 08:02] Gurgen commented on #1468
Could you please update `FluentValidation` to the latest version?

[2021-09-24 11:34] kurtisane opened #1522 "Multiple Keywords for UpstreamPathTemplate"
Hi,
quick question. Is it possible to give a upstreampathtemplate multiple keywords as a list ?

I'm thinking of something like :
/api/{One|Two|Three}/{everything}

Yes of cause I could just have each of these as a seperate route but I think it's slim and tidy.

Regards !

[2021-09-24 22:50] tahayazdani commented on #1519
Any help ?

[2021-09-26 17:26] abuzaforfagun commented on #327
Hi,
I have a similar question.
Here is my flow: Swagger -> Gateway -> Service 1.

When I request to the gateway. I found ```requestId: 0HMC126R3VIF8:00000007``` as the request id.
In Service 1, ```_httpContextAccessor.HttpContext.Request.Headers["OcRequestId"]``` returns 0HMC126T1OEDC.

I want to get the same correlation id in Gateway and other services.
Here is my ocolet.json:
[code]

[2021-09-27 08:17] arro000 commented on #746
I made this script for ocelot version 13, I updated my comment making it compatible with the latest version 17
AuthorisationMiddleware replaced by AuthorizationMiddleware
DownstreamContext = replaced by DownstreamRoute route = (DownstreamRoute)ctx.Items["DownstreamRoute"];
                                    you can get route information from HttpContext
UnauthorizedError  from Ocelot.Authorizatio

[2021-09-27 14:53] roselle11111 commented on #1364
having the same issue any updates? thank you

[2021-09-30 01:26] abriening commented on #695
I've found that even with updates to remove full in-memory reads of the upstream response, with very large requests (like file downloads) the memory balloons up to 5x in some quick testing. So a 20Mb response adds 100Mb at runtime. I've had much better luck with https://github.com/microsoft/reverse-proxy. It does not use the HttpClient directly, uses HttpMessageInvoker with an auto-flushing stream

[2021-09-30 21:28] souchprod commented on #1040
@hsnassaad you can use nginx as a reverse proxy, signalR is going through correctly

[2021-10-01 19:37] LukePammant commented on #1475
Looks like this PR should fix the problem: [https://github.com/ThreeMammals/Ocelot/pull/1279](https://github.com/ThreeMammals/Ocelot/pull/1279)

The documentation even says you can set the Timeout option on its own but it breaks it :\
![image](https://user-images.githubusercontent.com/3195300/135677060-8b383a5a-41fa-49a1-9210-ba18d118539f.png)