[2016-06-30 07:47] TomPallister opened #1 "Support some king of caching so we don't have to hit services"

[2016-06-30 07:47] TomPallister opened #2 "Able to Parse JWT and strip claims then forward to internal services"

[2016-06-30 07:48] TomPallister opened #3 "Able to use IdentityServer reference tokens and strip claims then forward to internal services"

[2016-06-30 07:48] TomPallister opened #4 "Able to configure external routes and map to internal routes"

[2016-07-03 19:41] TomPallister opened #6 "Able to parse OWIN bearer tokens and strip claims"

[2016-07-03 19:41] TomPallister opened #7 "Rate Limiting"

[2016-07-03 19:41] TomPallister opened #8 "Response time logging"

[2016-07-03 19:41] TomPallister opened #9 "Logging"

[2016-07-03 19:41] TomPallister opened #10 "Monitoring"

[2016-10-12 18:40] #1 closed

[2016-10-12 18:40] #2 closed

[2016-10-12 18:40] #3 closed

[2016-10-12 18:40] #4 closed

[2016-10-12 18:40] #6 closed

[2016-10-12 18:40] #7 closed

[2016-10-12 18:40] #8 closed

[2016-10-12 18:40] #9 closed

[2016-10-12 18:40] #10 closed

[2016-10-12 18:41] TomPallister opened #13 "AppVeyor CI"
https://www.appveyor.com/

Set up CI here to build the Ocelot project and run tests

[2016-10-12 18:41] #13 closed

[2017-01-10 04:42] geffzhang opened #16 "How to participate in the project contribute?"
I have a code fork, watching an article, code, I did not continue to update the last month, is used in the project. NET core 1.0, many components already RTM, such as IdentityServer4.AccessTokenValidation, next step is what I expect to be with you contributions to this project

[2017-01-11 09:23] TomPallister commented on #16
Hi @geffzhang

Please submit a pull request, I am happy for your help!

Thanks,

Tom

[2017-01-16 01:04] #16 closed

[2017-01-16 01:08] geffzhang opened #17 "Ocelot Added service discovery"
I need to add a combination of Consul (https://www.consul.io/)to Ocelot service discovery functions, Ocelot via the specific services that are currently available from Consul services and then call the service, I'm trying to implement this functionality, mainly DownstreamTemplate is dynamically modified, how the configuration item and better

[2017-01-18 10:20] TomPallister commented on #17
HI @geffzhang I don't understand what you want to do. Please would you be able to create a diagram that shows your plan?

At the moment Ocelot gets all of its configuration from a json file. The DownstreamTemplate cannot be modified after the ReRoute has been created.

I guess we need to allow this to change after the Ocelot service has started running?

[2017-01-19 01:21] geffzhang commented on #17
I thought for a few days, using these to build a micro services ASP.NET.core + Consul(https://www.consul.io/)+Fabio（https://github.com/eBay/fabio） + ocelot, raised this issue, I think: ASP.NET core + conul + ocelot,  ocelot supports load balancing , Use eBay fabio more suitable  to do routing

[2017-01-19 11:35] TomPallister commented on #17
I have not used Fabio before so I will need some time to understand it.

My idea i for Ocelot is

Load Balancer > Ocelot (cluster) > Load Balancer (fabio????) > Service Discovery (consul) > Downstream Service

Is this what you want to do?

It would be quite easy to make Ocelot load balance using queues.

[2017-01-20 01:15] geffzhang commented on #17
Fabio is optional ，Ocelot try Fabio directly under current state
more direct way is
Ocelot looks up service address from Consul ,
Ocelot makes request to downstream service load balancing across the available instances of a service

[2017-01-20 06:42] TomPallister commented on #17
Ahh..I was going to implement that feature soon. Good.

[2017-01-21 10:01] TomPallister commented on #17
@geffzhang I have split the DownstreamTemplate into parts..see pull request [here](https://github.com/TomPallister/Ocelot/pull/18)

If tests pass I will merge. Next will be service discovery integration.

[2017-01-22 06:16] geffzhang commented on #17
I pull your code, combined with service discovery,  need to add a router, similar to Fabio's role, obtained by Consul to multiple instances of the service, need to implement load balancing features ,such as  RoundRobinAddress

[2017-01-23 10:37] geffzhang opened #19 "Monitoring"
AppMetrics to achieve performance data acquisition https://github.com/geffzhang/AppMetrics

[2017-01-23 12:19] TomPallister commented on #19
@geffzhang after we have service discovery working we can implement these changes. Unless you would like to submit a pull request with the changes you want to make?

[2017-01-23 12:19] TomPallister commented on #17
@geffzhang I have started working on implementing the service discovery with consul. It will take a few days at least!

[2017-01-24 01:42] geffzhang commented on #19
Oh, I do, I still study your code, I am now the first to master the code you write, then I will try to modify, submit the pull request @TomPallister

[2017-01-24 20:08] binarymash opened #20 "Build pipeline improvements"
There's a number of improvements we can make to the build process...

- migrate build scripts to cake to encourage a more formal build pipeline that can also be easily used in AppVeyor
- SemVer versioning
- Cleaning up the nuget feed by publishing unstable builds to a separate feed.
- Hook into the github release process for stable releases, including documentation of what has changed

I have this

[2017-01-24 22:57] TomPallister commented on #20
@binarymash looks good. I'll re read the documentation as a few things I don't quite get yet. Do I need to give you access to AppVeyor?

[2017-01-25 07:07] binarymash commented on #20
There will be some changes to the current appveyor config, but lets worry about that once we've got a pull request that you're happy with. For now I'm testing it with my own appveyor project at https://ci.appveyor.com/project/binarymash/ocelot/

[2017-02-01 06:06] geffzhang commented on #17
Please @TomPallister Code reviews [Refactor load balancers and implementing Consul Service discovery](https://github.com/TomPallister/Ocelot/pull/22)

[2017-02-02 14:50] geffzhang opened #23 "implements the Circuit Breaker Pattern (using Polly from thepollyproject.org)"
HttpClientHttpRequester need implements the Circuit Breaker Pattern，I using Polly from thepollyproject.org https://github.com/App-vNext/Polly/wiki/Transient-fault-handling%3A-why-Retry-and-Circuit-Breaker%3F

[2017-02-02 15:48] #20 closed

[2017-02-02 16:01] TomPallister opened #25 "Modify cake script to allow publishing unstable and stable to the same nuget feed"

[2017-02-02 16:17] TomPallister opened #26 "Change cake build script so we dont push symbols twice"

[2017-02-02 19:36] TomPallister commented on #23
@geffzhang I know Polly so this should be quite simple. The hard part will be configuring it in the Json. Maybe have a go implementing this with a pull request.

[2017-02-03 01:33] geffzhang commented on #23
I go to implement Polly configuration which should be on the ReRoute

[2017-02-03 07:20] geffzhang commented on #23
#27 @TomPallister I have refactor polly circuit breaker pattern， config it in json：
"ExceptionsAllowedBeforeBreaking","DurationOfBreak","TimeoutValue"

[2017-02-03 12:34] TomPallister commented on #23
@geffzhang I have reviewed the code looks good, when I merge the changes I will add information to the README to tell people how to use the feature.

[2017-02-04 13:18] TomPallister commented on #17
@geffzhang I have created pull request from feature/servicediscovery. I still need to get the Consul acceptance test passing and check manually. I am implementing minimal features for ConsulServiceProvider and we can add more later.

[2017-02-05 23:21] geffzhang commented on #17
@TomPallister Very exciting, I think you've completed all of the features of the code, you need to celebrate, I want to write articles to promote this project, my English is not so good, only can write Chinese articles

[2017-02-06 04:46] geffzhang commented on #17
Today I wrote an article http://www.cnblogs.com/shanyou/p/6366360.html briefly mentioned the Ocelot, many developers are concerned that the Ocelot

[2017-02-06 06:34] TomPallister commented on #17
@geffzhang thank you very much. I will add you as collaborator.

Please feel free to merge #23

[2017-02-06 12:24] TomPallister opened #29 "Add documentation for circuit break implementation"
and maybe an acceptance test

[2017-02-06 22:13] #17 closed

[2017-02-09 00:56] geffzhang opened #32 "Upgrade to VS 2017"
Vs2017 has released RC4 release [Announcing .NET Core Tools Updates in VS 2017 RC](https://blogs.msdn.microsoft.com/dotnet/2017/02/07/announcing-net-core-tools-updates-in-vs-2017-rc/) ，NET core tooling also RC, we upgrade to the VS2017 project to develop it?

[2017-02-09 20:56] binarymash commented on #32
I expect this will require changes to the cake build scripts. It will also require changes to the AppVeyor projects to use the VS2017 image. This appveyor image isn't public yet, but they do have a private beta of the RC - you can request access for an appveyor account at https://github.com/appveyor/ci/issues/1179

[2017-02-11 07:47] TomPallister commented on #32
@geffzhang we will start looking into this after 07/03/2017 when VS 2017 is released.

[2017-02-11 07:47] TomPallister commented on #23
closing this as pull request merged

[2017-02-11 07:47] #23 closed

[2017-02-11 12:42] #25 closed

[2017-02-11 12:42] #26 closed

[2017-02-11 12:43] TomPallister opened #34 "Check logging"
I'm not really sure the logging strategy is any good so need to review it and have a think

[2017-02-11 12:43] #34 closed

[2017-02-11 12:43] TomPallister opened #35 "Better logging / Check logging"

[2017-02-11 12:44] TomPallister commented on #35
its probably a bit rubbish :(

[2017-02-11 12:53] TomPallister opened #36 "Update Ocelot configuration without downtime"
At the moment if you want to update ocelot configuration you need to edit configuration.json and restart the service. I guess if you are deploying Ocelot with docker containers updating one and throwing away the others is a viable strategy but where I work we would probably not do this.

I would like it so that you can update the configuration with no downtime. Probably going to add an API that be

[2017-02-11 12:59] geffzhang commented on #19
I Implement rate limit in #37 ，Please @TomPallister Review my code

[2017-02-11 18:43] TomPallister opened #38 "Problem with URL matching"
At the moment we match the URLs using Regex built in FileOcelotConfigurationCreator.BuildUpstreamTemplatePattern. I noticed that if you had an upstream path of / it made a regex of (?i)/$ then if you tried to match something like /working/ it would match but you were expecting a different match for /working/ :(

In the regexmatcher tests this shows the problem

[code]
So i changed the FileOcelotCo

[2017-02-11 18:49] #38 closed

[2017-02-11 19:02] TomPallister commented on #29
fixed by pull request

[2017-02-11 19:02] #29 closed

[2017-02-11 20:18] TomPallister opened #40 "Look at code coverage integration"
Look at coveralls integration might be able to get code coverage stats

[2017-02-12 14:59] TomPallister opened #41 "Get Cake build working on MacOS"
Think the problem is that cake cannot reference variables declared at top of page in private methods on macos...no idea why it can on windows!

[2017-02-13 23:15] geffzhang opened #42 "nuget pakeage"
Nuget packages plus the description and URL information, facilitate project

[2017-02-14 17:40] TomPallister commented on #42
@geffzhang agree, good idea.

[2017-02-15 07:10] TomPallister commented on #19
@geffzang rate limiting pull request merged.

[2017-02-17 06:26] kingreatwill opened #46 "HTTPS request error"
![image](https://cloud.githubusercontent.com/assets/13087689/23054787/f3962718-f51c-11e6-80c0-2b59e09e0f38.png)
![image](https://cloud.githubusercontent.com/assets/13087689/23054802/0d771714-f51d-11e6-8d16-23644b564717.png)

[2017-02-17 18:27] TomPallister commented on #46
@kingreatwill please check https://localhost/planapi/api/plan/test SSL certificate is valid. Ocelot will not allow requests to invalid SSL. This is controlled by .NET framework.

If you pull latest develop and run Ocelot.ManualTest application, request url http://localhost:5000/posts this will connect to remote server over https.

[2017-02-17 20:22] #42 closed

[2017-02-17 20:50] TomPallister opened #48 "Documentation for rate limiting"

[2017-02-18 02:03] geffzhang commented on #36
Online updates to ReRoute, needs to have a unique identity that exists in the code ReRouteKey identifies the ReRoute is now used for load balancing, it is a calculated value, I think there should be certain identification value, similar to a database table's primary key, so that we can store  ReRoute in database or Consul, it will be great storage across servers and updates In this case the local

[2017-02-18 10:22] TomPallister commented on #19
@geffzhang have changed this issue to just Monitoring as you have implemented rate limiting.

[2017-02-18 10:28] TomPallister commented on #36
@geffzhang first iteration I do not want to use any dependencies such as consul or database. I try to take a lean approach to software development and use dependencies only when I have to.

UpstreamPathTemplate and UpstreamHttpMethod must be unique in Ocelot so we do not need a specific key such as GUID.

My plan is to expose API that lets you post entire configuration and reload it. I know that t

[2017-02-19 13:34] binarymash commented on #41
Had the same problem when trying to set stuff up on my own project, and got it working... I'll pick this up now.

[2017-02-19 13:41] TomPallister commented on #41
@binarymash thanks! I spent ages trying to work this out so very interested in why it didn't just work.

[2017-02-19 15:10] binarymash commented on #41
I don't understand the difference between Mac and Windows, but the variables can be accessed from all the tasks so the solution is just to pass them into the private methods.

[2017-02-19 15:19] binarymash opened #50 "Find a replacement for TestConfiguration.cs"
The acceptance tests rely on TestConfiguration to get the path to the configuration file used by the tests. This causes a couple of problems...

1. The build configuration is hard-coded to debug
2. It currently fails if you are using osx.10.12-x64.

We should be able to replace this with dynamic code that calculates the config file path dynamically. Surely we can do something like

[code]

[2017-02-19 15:19] TomPallister opened #51 "Get the readme into read the docs style"
No idea how to do this but would be nice

https://readthedocs.org/

[2017-02-19 15:26] TomPallister commented on #50
@binarymash yeh I don't even know why i did this. Can only assume my brain left my head.

I've changed it on the branch I'm working on at the moment.

[2017-02-19 15:26] binarymash opened #52 "CI - Set up automated pipeline for mac/linux"
Like the appveyor pipeline this would kick off on each commit. However, this would just run the Build task - ie, no publishing of packages. The authoritative build pipeline would still be the appveyor pipeline, and this is what would publish the nuget packages and do the releases.

Looks like the [cake](https://github.com/cake-build/cake) project tests their osx and linux builds Travis and Bitrise

[2017-02-19 15:28] TomPallister commented on #41
Sounds good! I'm a bit embarrassed I didn't try that!

[2017-02-19 15:32] #41 closed

[2017-02-19 15:35] #46 closed

[2017-02-19 15:47] #50 closed

[2017-02-19 23:26] geffzhang commented on #51
There are docfx http://cakebuild.net/dsl/docfx/

[2017-02-25 19:17] #36 closed

[2017-02-25 19:23] TomPallister opened #55 "Cluster of Ocelots when you update one it updates them all"
started working on this probably going to try and use raft consensus to keep cluster up to date.

[2017-02-25 19:37] TomPallister commented on #51
@geffzhang does doxfx work with mac osx? It doesnt seem to be cross platform.

[2017-02-26 09:20] geffzhang opened #56 "I updated the code for you, run the test, there are three tests pass"
Ocelot.IntegrationTests have three test not pass,see pic
![integrationtestsadministration](https://cloud.githubusercontent.com/assets/439390/23338490/9d752cd0-fc47-11e6-83c8-bc104785048d.png)

[2017-02-26 10:18] geffzhang commented on #51
I Add ocelot to awesome-dotnet-core https://github.com/thangchung/awesome-dotnet-core/pull/75

[2017-02-26 10:45] TomPallister commented on #56
@geffzhang this is because the integration tests need you to set environmental variables.

I have updated readme in this commit to explain https://github.com/TomPallister/Ocelot/commit/1d216f686371bd3055dd949e03b3e2d72dfc640e

It would be better to have the test set them up but I haven't found a way of doing this yet.

[2017-02-26 10:47] TomPallister commented on #51
@geffzhang thank you!!

[2017-02-26 11:46] #56 closed

[2017-03-05 17:35] TomPallister commented on #51
Have decided to use github wiki here https://github.com/TomPallister/Ocelot/wiki

[2017-03-05 17:35] #51 closed

[2017-03-06 10:52] jsantanainel opened #60 "Thanks"
Hi, I was looking for about a Gateway for .NET for a long time. I´m very happy for found your project. I´m going to study the documentation and try to put in practice.

Do you have plans to continue this project?

Thanks for your time.

[2017-03-06 12:36] TomPallister commented on #60
@jsantanainel thanks for appreciating the effort!

I do intend to keep working on the project. It is very early days so the code isn't amazing yet. I think there are a lot more features to add and a lot of refactoring to do before it is a good product.

The next thing I'm working on is some kind of clustering so you can have multiple instances deployed and they keep themselves updated when you mak

[2017-03-07 08:49] jsantanainel opened #62 "'ConfigureDevelopment' or 'Configure' could not be found"
I´m following the documentation to build an api gateway with Ocelot. I created a simple solution with two API, the _APIGateway_ and the _API1_ (both with the Visual Studio Api template) with the target to try to redirect the requests. I have some questions:

1. My first question is about the line

`services.AddOcelot(Configuration);`

in ConfigureServices method from Startup class. This method Add

[2017-03-07 12:51] TomPallister commented on #62
@jsantanainel Please look at https://github.com/TomPallister/Ocelot/wiki/Startup for the startup class. Ocelot doesnt use  services.AddOcelotFileConfiguration(Configuration); anymore.

Im curious where did you find the documentation for that as it must be out of date.

[2017-03-07 12:56] jsantanainel commented on #62
@TomPallister Yes I´m following that wiki. But in the version 1.3.2 of Ocelot (that is the last in Nuget) is not available a AddOcelot method with parameters.

[2017-03-07 13:00] TomPallister commented on #62
@jsantanainel I  a mistake and have not updated the readme before I made the release. I might do a new release now to correct the mistake.

[2017-03-07 13:04] jsantanainel commented on #62
@TomPallister No problem. Thanks.

[2017-03-07 13:27] #60 closed

[2017-03-07 13:34] TomPallister commented on #62
@jsantanainel To answer question 4.  Yes the performance is effected by by the number of entries in configuration.json. This is something that I would like to improve.

At the moment the code goes for each reroute, does that re route match the upstream Http  request path, if it does then use it. The match is done using a regex that is built from the reroute entry in configuration.json at runtime b

[2017-03-07 15:05] jsantanainel commented on #62
Perfect, we keep in touch.

[2017-03-07 15:05] #62 closed

[2017-03-09 13:57] FryDerm opened #63 "Identity Server"
Are there any examples of using an identity server?  How do you call the gateway?  How does it interact with identity server?  Do you interact with identity server directly and then send the bearer token to ocelot or do you hit the identity server through ocelot?

[2017-03-09 15:21] FryDerm commented on #63
Ok, I think my issues may have stemmed from the fact that my identity server is running in a docker container and my url from outside the container is different than the url from inside the container.  To fix it, I setup a reroute to my identity server.  I then use ocelot to hit my identity server and get a bearer token.  Then I send the bearer token to my service (also through ocelot).  I think t

[2017-03-09 15:38] TomPallister commented on #63
@FryDerm you are correct about the use of DownstreamHost in this situation.

The tests here pretty much show what Ocelot can do with Identity Server.

https://github.com/TomPallister/Ocelot/blob/develop/test/Ocelot.AcceptanceTests/AuthenticationTests.cs

Seems like you've got it nailed though! Hope it works for you let me know if you have anymore problems.

[2017-03-10 04:26] zhangzenan opened #65 "dotnet core SDK1.0.1 build error"
![image](https://cloud.githubusercontent.com/assets/16860235/23782086/b6c05d88-058c-11e7-9061-375db8cfec0a.png)

[2017-03-10 06:48] TomPallister commented on #65
@zhangzenan please download and install runtime and SDK here  https://www.microsoft.com/net/download/core#/runtime

[2017-03-10 12:44] MarcDenman commented on #35
Any hints/suggestions for this? Are there any areas that need a bit more logging than others?

Ocelot looks a lot like something I had been to toying with about 6 months ago except far far better! Probably going to look at the codebase other the weekend so quite happy to start looking at improving the logging if that would be helpful.

[2017-03-10 13:40] TomPallister commented on #35
@MarcDenman when I started writing Ocelot I wrote a wrapper around the standard .NET core logging stack for some reason and I can't really remember now which is not good! It might have been because I wanted to allow the user to specify a request id / correlation id that their requests should log to rather than the .NET request id stuff.

Thinking about this I'm not really happy with how all that w

[2017-03-12 10:42] #32 closed

[2017-03-12 14:25] TomPallister commented on #65
@zhangzenan this will work now as I have upgraded to VS 2017.

[2017-03-12 14:25] #65 closed

[2017-03-12 14:25] #63 closed

[2017-03-12 23:07] geffzhang commented on #55
use raft consensus to keep cluster ，This feature is great

[2017-03-13 06:36] TomPallister commented on #55
@geffzhang yes this is what I am going to use.

[2017-03-13 10:24] MarcDenman commented on #35
@TomPallister That is brilliant information, thank you :)

Unless you have any huge objections, I am going to start by trying to get all the logging injection consistent (probably using the `IOcelotLoggerFactory` for now) and just make sure there are logging statements in all the right places.

Hopefully after that any refactoring for the wrapper will be a little bit easier.

[2017-03-13 13:25] zhangzenan commented on #65
Thank you,I have build success.

At 2017-03-12 22:25:47, "Tom Pallister" <notifications@github.com> wrote:

@zhangzenan this will work now as I have upgraded to VS 2017.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-13 16:44] MarcDenman opened #66 "ResponderMiddleware will never set a 500 response code"
[ResponderMiddleware.cs](https://github.com/TomPallister/Ocelot/blob/c09cec67c63a543eefbfbffafff3c2662b356c85/src/Ocelot/Responder/Middleware/ResponderMiddleware.cs#L59) looks as if it can set a 500 to be returned, however, the implementation of [ErrorsToHttpStatusCodeMapper](https://github.com/TomPallister/Ocelot/blob/c09cec67c63a543eefbfbffafff3c2662b356c85/src/Ocelot/Responder/ErrorsToHttpStatu

[2017-03-13 17:33] MarcDenman commented on #35
Just made a [commit ](https://github.com/TomPallister/Ocelot/commit/3fb83077fb8e9f27d76a69c47003df35c7955103) for some changes to the responderMiddleware.

I know it is only a little change but could someone double check and make sure it is roughly what was wanted, didn't realise there were so many middlewares and don't want to get halfway through before realising I have gone down the wrong track.

[2017-03-13 17:45] TomPallister commented on #66
@MarcDenman you are correct, I would change the ErrorsToHttpStatusCodeMapper to not return with a wrapped Response<T> value. Would be great if you could make that change otherwise just leave it here and ill get to it. Good spot.

Really grateful for the assistance. I know from experience getting a second pair of eyes on my code will pick up these kind of issues so much appreciated.

[2017-03-13 17:51] TomPallister commented on #35
@MarcDenman I've left a comment on the commits, let me know what you think.

[2017-03-14 16:24] FryDerm opened #68 "Naming"
This may be a little nit-picky, but why are you renaming ApiName (in identity server) to ScopeName (ocelot)?  The same goes for AllowedScopes (identity server) to AdditionalScopes (ocelot)?

[2017-03-14 17:08] TomPallister commented on #68
@FryDerm In a previous version of identityserver they were scopename and additionalscopes and I haven't changed it yet. Would happily accept a PR for this.

[2017-03-14 17:51] MarcDenman commented on #35
Sorry, meant to reply yesterday but forgot. Your comment sounds good, I have added a prop on the Base OcelotMiddelware class which sets the name when it is initialised.

I have just pushed some more changes up, I will probably turn that into a PR tomorrow and then in a couple days time do another with a few more changes, save the PR getting too huge.

[2017-03-14 17:55] MarcDenman commented on #66
Excellent, not a problem, happy to help out :)

I have made a PR with the changes and fixed up the unit tests

[2017-03-14 18:55] TomPallister commented on #66
@MarcDenman merged PR closing issue!

[2017-03-14 18:55] #66 closed

[2017-03-14 18:57] TomPallister commented on #35
@MarcDenman sounds like a good idea, looking forward to it.

[2017-03-14 19:15] FryDerm commented on #68
I'll get on it.  Happy to help you.

[2017-03-15 18:37] TomPallister commented on #68
@FryDerm just merged PR to fix this forgot to tag this issue.

[2017-03-15 18:37] #68 closed

[2017-03-18 08:07] TomPallister commented on #55
Small update i have been working on this but nothing to push yet, raft is very hard :) but i have a cluster starting and electing a leader!

[2017-03-18 11:44] geffzhang commented on #55
Come on, we are very much looking forward to this feature

[2017-03-18 12:08] geffzhang opened #73 "Ocelot's overall performance is not very good"
Here we used Apache Bench performance in a simple test. We simulated 1000 users, 100 requests, the following are test results, configuration of the machine is CPU:Intel i5 2 nuclear, 4G memory test on the machine:
D:\Workshop\ab>ab.exe -n 1000 -c 100 http://localhost:5000/api/values/
This is ApacheBench, Version 2.3 <$Revision: 1757674 $>
Copyright 1996 Adam Twiss, Zeus Technology Ltd, http://www.

[2017-03-18 12:10] geffzhang commented on #73
The performance should come from the HttpClient, how to optimize is a big problem

[2017-03-18 13:53] TomPallister commented on #73
@geffzhang Can you describe the system under test?

Was Apache Bench running on the same machine as Ocelot? Was the downstream service running on the same machine as Ocelot?

To confirm the results above show making a call to a downstream service proxying via Ocelot (http://localhost:5000/api/values/) and then directly to the downstream service  ( http://localhost:9030/api/values/) without Ocelot?

[2017-03-18 13:55] TomPallister commented on #55
@geffzhang 👍  it is nearly finished!

[2017-03-18 14:30] geffzhang commented on #73
yes ，on the same machine ，my test project in https://github.com/geffzhang/NanoFabric/ .  http://localhost:9030/api/values/ is   https://github.com/geffzhang/NanoFabric/blob/develop/sample/SampleService.Kestrel
and http://localhost:5000/api/values/ ocelot is https://github.com/geffzhang/NanoFabric/tree/develop/src/NanoFabric.Ocelot
 14 days ago I pull a requests https://github.com/TomPallister/Ocel

[2017-03-19 10:52] geffzhang commented on #73
Reference code https://github.com/aspnet/Proxy

[2017-03-19 13:40] TomPallister commented on #73
@geffzhang what logger level are you using in Ocelot when running the performance test?

I had the same results as you and using JetBrains dotTrace I can see the issue was with the logging level. When I set the logging to Error level only the performance was almost equal to testing downstream

Ocelot
Requests per second:    93.68 [#/sec] (mean)
Time per request:       1067.508 [ms] (mean)
Time per

[2017-03-20 00:50] geffzhang commented on #73
@TomPallister logger level is Info， I Change logger level to error is the same to you ,Log the performance impact so large

[2017-03-20 00:50] #73 closed

[2017-03-22 08:10] maradonasu opened #74 "not support two parameter？"
in my **configuration.json**
[code]
my request  **url**
`HTTP/1.1 DELETE  http://apigatway/701/Project/1`

my api server get request
`HTTP/1.1 DELETE http://localhost:5000/api/701/project/%7Bid%7D`

the second parameter {id} value was not find。

[2017-03-22 10:03] yebaoping opened #75 "Forwarding whether support of gRPC ?"
Forwarding whether support of gRPC ?

[2017-03-22 20:53] TomPallister commented on #74
@maradonasu that should work. I will test this when I get a chance.

Maybe try the config with a trailing / after the {id} parameter, if that works then there is a bug.

These tests cover your scenario if you would like to investigate this yourself.

UpstreamUrlPathTemplateVariableReplacerTests.cs
RoutingTests.cs

This is the class most likely to have a bug

UrlPathPlaceholderNameAndValueFinder.cs

[2017-03-22 20:55] TomPallister commented on #75
@yebaoping I need more information to understand your question. Ocelot supports any HTTP mechanism.

It does not use gRPC just c# HttpClient and then proxy requests to downstream service.

[2017-03-23 03:09] yebaoping commented on #75
Ok, thank you!

[2017-03-23 04:15] maradonasu commented on #74
I try the config with a trailing / after the {id} parameter, it's not work

[2017-03-26 07:40] #75 closed

[2017-03-27 10:52] juancash opened #76 "IdentityServer"
Hi,
I'm doing a project with Ocelot and IdentityServer. I dont understand the usability of some AuthenticationOptions properties.

1. For example:

[code]

Why should you indicate ApiName, ApiSecret or AllowedScopes??? My project works whether I add those data or not add them. I dont understand the usefulness of these parameters since they do not seem to be used. What does Ocelot use for these thr

[2017-03-27 12:10] TomPallister commented on #76
@jsantanainel for point one, these are properties that the identity server middleware uses when it authenticates a request that is marked as authenticated. These may or may not be required. When you write a client api that is going to use identity server tokens you set up the middleware in your client api with something like the following....Ocelot takes the properties passed in below from the Aut

[2017-03-27 16:48] abdulkaderjeelani opened #77 "Hierarchial Configuration"
Hi Tom,
Congrats and thanks for your good initiative.
IMHO, As the intention is to provide a gateway for MicroServices we shall split the reroute configuration.
New  MicroService level configuration or Downstream host level configuration, here we shall have the Authentication part.  we use identity server to protect our client API,  Instead of specifying this for each route we shall specify at top

[2017-03-28 11:04] geffzhang opened #78 "Under CentOS configuration.json is rewritten before the value"
I deployed an instance of Ocelot under centos, starting with the following configuration:
{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/values",
      "DownstreamScheme": "http",
      "DownstreamHost": "10.125.32.121",
      "DownstreamPort": 5002,
      "UpstreamPathTemplate": "/api/values",
      "UpstreamHttpMethod": "get",
      "AdditionalRequestHeaderOptions": {
        "Ena

[2017-03-28 11:40] MykhailoKyrychenko opened #79 "Downstream requests aggregation"
Hi,
Thank you for this great project. We started to look at .Net based API Getaway frameworks and it looks like yours is what we need.

According to API Getaway pattern purpose, there might be need to aggregate some downstreams into one upstream. For example, for mobile applications you can combine two downstreams like `api.yourcompany.com/posts/{id}` and `api.yourcompany.com/comments/{id}` under

[2017-03-28 21:27] TomPallister commented on #77
@abdulkaderjeelani Sounds good, when you do the pull request please do not break existing ways of configuring Ocelot. It need to support many configuration methods!

[2017-03-28 21:29] TomPallister commented on #78
@geffzhang perhaps you could write code that treats this differently when running on cent is?

[2017-03-28 21:32] TomPallister commented on #79
@MykhailoKyrychenko at the moment I don't have any specific plans to do this. I talked to a friend at work and he suggested this would be a good feature!

You can inject custom functions as middleware at various stages in the pipeline that allow you to do anything but this is probably not ideal!

[2017-03-29 08:12] #78 closed

[2017-03-29 15:38] player84 opened #80 "Ocelot in Production Environment"
Hi,
congratulations for this project!!

I did a little project with ocelot and two apis and all works fine in development, but when I publish the solution in production (with IIS) and I access to some reroute always return 404 not found. My api+ocelot has the default ValuesController (that creates Visual Studio by default) and works fine but the reroutes didn´t work in production.

It´s neccesary

[2017-03-29 16:23] TomPallister commented on #80
@player84

Thanky you very much.

I am currently just using kestrel as the webserver without IIS. You might need to do something like this to get Ocelot working behind IIS. https://weblog.west-wind.com/posts/2016/Jun/06/Publishing-and-Running-ASPNET-Core-Applications-with-IIS

Hope this helps.

[2017-03-29 17:49] player84 commented on #80
@TomPallister

Yes, I followed that steps (but by the microsoft web). My two Api´s are working. The problem it´s only than the reroute doesn´t work in production. I have two api:

Api1: it´s the api (in net core) that contains Ocelot (and contains also a TestController with GET method that return a string). In the configuration.json I have a reroute to redirect request to Api 2.
Api2: it´s a simpl

[2017-03-29 19:36] jsantanainel commented on #80
@player84 @TomPallister

Hi,

I had the same problem. I don´t know the reason but the IIS AppPool must have all grants over your app folder. You must go to your ocelot app folder in inetpub and add all permissions for your AppPool.

Follow the steps of this Microsoft´s tutorial: [https://docs.microsoft.com/en-us/aspnet/core/publishing/iis](https://docs.microsoft.com/en-us/aspnet/core/publishing/ii

[2017-03-29 21:09] TomPallister commented on #80
@juancash thanks for the info! Much appreciated.

[2017-03-30 06:21] player84 commented on #80
@juancash @TomPallister

It works.

Thanks!!!!

[2017-03-30 06:21] #80 closed

[2017-03-30 07:14] TomPallister commented on #55
_Short update_

Features Working

- Leader election
- Log replication
- New election after election timeout
- Add new server to active cluster

Not working

- Log replication after new leader election - bug in my code
- Forward commands from nodes to leader - should be easy
- Add new server to active cluster and all logs are replicated - havent tested this yet.

[2017-03-30 23:16] geffzhang commented on #55
@TomPallister  pull your newest code  ,I am learning to test together

[2017-03-31 09:36] MykhailoKyrychenko commented on #79
@TomPallister, thank you for your answer. It looks like current implementation of middleware injection is not very flexible, since there is no possibility to use DI as I can see (without ServiceLocator pattern). For now I am going to give a try with MVC controllers and routing which is not a very good solution since the only option for routing in this case is with attributes, so it won't be possib

[2017-03-31 10:01] MykhailoKyrychenko commented on #79
@TomPallister thank you for your answer! It looks like the only way to have some complex logic inside of injected middleware is to use Service Locator pattern. The other option is to use MVC, but it is not that good at all, because it will support routing only via attributes, so there is no chance to have everything in configuration file. I am going to check possibility of using middleware injecti

[2017-03-31 10:25] TomPallister commented on #79
@MykhailoKyrychenko Yeah service locator sucks :( this annoys me that it is the only way you can inject middleware into Ocelot.

Can you explain how you would see this feature working?

From my point of view you would need to describe in the ocelot configuration that you want to call multiple endpoints and map the results from each into some kind of object to return?

e.g.

I have a mobile app cli

[2017-03-31 11:55] MykhailoKyrychenko commented on #79
@TomPallister yes, I have seen that article and I liked it very much. The problem is that F# in our current solution would be yet one more new thing for half of team, so we have to skip it. At least for now.

Regarding of how I see the feature itself:

As for me, aggregation of downstream requests can be freely applied only to GET requests, since in PUT and POST you need to provide some additional

[2017-03-31 12:17] TomPallister commented on #79
@MykhailoKyrychenko Yep makes sense, I guess we will make this next!

[2017-03-31 12:23] MykhailoKyrychenko commented on #79
@TomPallister great news! Do you need any help with that?

[2017-03-31 12:25] TomPallister commented on #79
@MykhailoKyrychenko yes, at the moment I'm working on another feature which is quite complex. If you have the time it would be great if you could look at implementing this feature. Dont worry if you dont have time!

[2017-03-31 12:29] MykhailoKyrychenko commented on #79
@TomPallister I have been trying to implement this particular feature inside Ocelot for a while now. But I am still not sure about architecture: should it be a separate execution flow starting from point when upstream path was matched or should it be just a unified flow. In case of unified flow all current configurations have to be updated to support multiple downstreams with restriction on config

[2017-03-31 14:05] TomPallister commented on #55
@geffzhang I have invited you to the repository..I'm doing it in a separate project at the moment. Ocelot will take a dependency on raft implementation rather than code being in Ocleot project.

[2017-03-31 17:10] TomPallister commented on #79
@MykhailoKyrychenko Yeah its pretty complicated.

I would add a new piece of middleware somewhere that says...OK this person wants to call two different downstream re routes to compose their return object. That would then call into the ocelot stack for each downstream re route in parallel....wait and then compose the return object.

Add the new middleware after DownstreamRouteFinderMiddleware

In

[2017-03-31 21:54] TomPallister commented on #55
@geffzhang the raft implementation can be found at https://github.com/TomPallister/Rafty I will work on this package seperately and Ocelot will use it as a dependency to agree on configuration values across a cluster. This also means Ocelot can now be a service discovery provider.

The code in Rafty is not very good. I build this really quickly just to try and get something working. I intend to im

[2017-04-01 08:02] geffzhang commented on #55
@TomPallister This is awesome

[2017-04-04 09:55] kuncevic opened #83 "Is it production ready? Distribution and hosting options."
1. Is Ocelot is production ready?
2. If so, are you guys using docker containers to distribute your .net core solutions with Ocelot?
3. Are you using Azure, AWS, Linux VM or something else?

p.s
Just thinking to go with .net core for my next project and currently in research mode thinking about the architecture, distribution and hosting options, etc.

[2017-04-05 11:39] TomPallister commented on #83
@kuncevic

1. I can't say if it is production ready yet. I would like to use it where I work but we need something from NET Standard 2.0 which has not been released yet. When this is released I'm hoping where I work would be interested in trying Ocleot out.

2. I am using docker but haven't put up an image yet.

3. You can use anything to host your containers, Azure, AWS, VMs etc are all fine.

[2017-04-05 11:47] kuncevic commented on #83
I would like to try it out at some point soon. Form the description it is sounds like it is handles the IdentityServer tokens which is making a lot of sense as I am already using IdentityServer.

What exactly it is missing from NET Standard 2.0? Can you give a bit more light on that?

[2017-04-10 06:53] MichaCo commented on #55
Hi @TomPallister, maybe a stupid question, but, why can you not use existing service discovery and key/value servers/tools, like Consul for example?
All this stuff is not easy to build and, more importantly, to test and get right. Just wondering what the motivation is to roll your own.

[2017-04-10 07:48] TomPallister commented on #55
@MichaCo I agree :(

[2017-04-10 08:01] MichaCo commented on #55
@TomPallister yup, learning those things is totally cool ofc :)

[2017-04-10 08:31] TomPallister commented on #55
Because of the abstractions around getting and setting the Ocelot config I think its pretty trivial to persist it in Consuls KVP store. I might can this PR for a little while and work on that instead.

[2017-04-12 04:40] geffzhang commented on #83
@kuncevic I have applied it to the product environment, in the process of using ocelot to improve the functional characteristics

[2017-04-16 12:32] binarymash opened #84 "Random thoughts on middleware"
Hey @TomPallister,

Just been looking through the code trying to understand how it all works. I've got a few thoughts about the middleware implementation...

1. Is there any reason for `ExceptionHandlingMiddleware` to not implement `OcelotMiddleware`?

2. Any reason for not defining `abstract Task Invoke(HttpContext context)` on `OcelotMiddleware`? Adding this would give extra compile-time check t

[2017-04-16 12:58] TomPallister commented on #84
@binarymash makes sense, I tried to stuff all the classes below a relevant feature such as Authentication has all the code for authentication and anything cross cutting I just dumped in a catch all..probably called Infrastructure.

I find the code quite hard to follow myself because it is not directly procedural in the sense that you can go this method calls that and that calls this. Due to the fa

[2017-04-16 13:10] binarymash commented on #84
Cool bananas. That's my Easter Sunday afternoon sorted out then :)

I noticed a few naming inconsistencies between the folders and the middleware classes. I'll have a look at making everything consistent.

Oh yeah there's definitely still a need for the cross cutting stuff, no problem with that.

[2017-04-16 13:41] TomPallister commented on #84
@binarymash awesome thanks! I'm painting and decorating. It's harder than I thought to select a colour.

[2017-04-16 13:45] binarymash commented on #84
My advice is just go with white ;)

[2017-04-16 14:24] TomPallister commented on #84
Thats what Im trying to tell the Mrs! Nevermind.

[2017-04-16 18:57] TomPallister commented on #83
@kuncevic at my work we would need a custom middleware injected into Ocelot that uses something from .NET Standard 2.0. I cant really say what it is as work related and not sure if Im allowed!

[2017-04-16 18:57] #76 closed

[2017-04-16 18:58] TomPallister commented on #55
@MichaCo i have just merged a PR that lets you use Consul KV store as persistence for the Ocelot configuration. Was pretty rushed but acceptance test for it passed so should work. Im going to leave this open as I would like to work on the raft feature when I have the time!

[2017-04-16 19:00] binarymash commented on #84
Ok, I think you might finish the decorating before I finish this... it's a bit more complex than I first thought, because I naively assumed that each of the middleware implementations was isolated from the others, but now I see that there's shared code between some of them, and some of them rely on each other. Some of this might be solved by extracting code out into a common model, and other parts

[2017-04-16 19:03] binarymash commented on #84
Oops. Forgot to say, for future reference here's the dependencies I see between the middleware...

DownstreamRouteFinder is referenced by:
- DownstreamUrlCreator (UrlMatcher.IDownstreamPathPlaceholderReplacer, UrlMatcher.UrlPathPlaceholderNameAndValue)
- Authentication (DownstreamRoute.ReRoute())
- Authorisation (DownstreamRoute.ReRoute())
- Headers (DownstreamRoute, UrlMatcher.UrlPathPlaceholderN

[2017-04-16 20:39] danny-waite opened #86 "Path Prefix"
Hi Tom, I'm in the process of evaluating Ocelot, looks great, nice work.  In my architecture I have several microservices each with their own REST API, some simple, some more complex.  I looks like in Ocelot I have to define each HTTP request I want to map, which doesn't feel right and would add quite a lot of development overhead.  Traefik for example supports a PathPrefix, can this kind of thing

[2017-04-17 07:10] TomPallister commented on #84
@binarymash sorry Phil!  Yeh some of the middleware are dependent on others I think I mentioned above it might better to just refactor them into one procedural style stack! Not sure.

Obviously they cannot be pulled apart without some refactoring. Also I'm not sure you get any value from them unless they are a together so no point being middleware. They all need that scoped data repository which i

[2017-04-17 07:13] TomPallister commented on #86
@danny-waite I had a look at that pathprefix and tbh didn't really get it :( I can be a bit stupid. Could you explain to me exactly what you want to do?

I'm thinking rather than defining all your incoming requests with the API gateway you want to have some kind of easy to define convention that just works for most / all of your incoming requests?

Ocelot wasn't designed with that in mind initiall

[2017-04-17 15:19] binarymash commented on #84
Just been looking through the code a bit more to understand what each of the middleware does. So, in general, they do one of the following...

1. Modifying the request that we've received (downstream route finder, request id, claims builder, request headers, query string, load balancing, downstream url creator)

2. Applying some cross-cutting functionality (exception handler, authentication, autho

[2017-04-17 20:37] binarymash commented on #84
I've hacked together a poc of this which decouples each bit of middleware... work in progress, not fully wired up yet so no idea if it works, and I've broken lots of tests, but it compiles ;)  My initial thoughts are that it reduces the amount of code and complexity. I'll try to spend a bit more time on this in the next day or two to see if it is worth pursuing.

https://github.com/binarymash/Ocel

[2017-04-17 20:38] TomPallister commented on #84
@binarymash I'll have a look tomorrow! Thanks man. Went with jasmine white in the end.

[2017-04-19 09:23] juancash commented on #86
In my case I have 3 api and I only want redirect the traffic via Ocelot, I thinked in the following configuration:

[code]
The requests to:

/api/api1 is redirected to port 5001
/api/api2 is redirected to port 5002
/api/api3 is redirected to port 5003

 I think this is possible.
Could exists problems with some type of request?

[2017-04-20 10:13] juancash commented on #86
Hi @TomPallister

I created a fork of your project and created a branch to add this functionality. The changes are only a couple of lines. I don´t know if you want add this to your project. In affirmative case, say me what I must to do, because it´s my first time on github.

Thanks.

[2017-04-20 10:37] MarcDenman commented on #55
@TomPallister Unrelated but thought it might be useful for you [https://twitter.com/aphyr/status/854909543255613440 ](https://twitter.com/aphyr/status/854909543255613440 ) - A nice little tool for testing raft implementations!

[2017-04-21 15:22] TomPallister commented on #86
@juancash looks good, i left a comment on the PR if you could take a look. Thanks very much for your efforts!!

[2017-04-22 21:12] juancash commented on #86
@Tom Acceptance test added to the PR #89.
Thanks to you for this great project.

[2017-04-23 14:41] TomPallister commented on #86
@juancash thank you once again, I really liked the way you made this change! Very simple 👍

[2017-04-23 14:41] #86 closed

[2017-04-26 19:09] piyey opened #90 "Can't make run my Gateway"
I don't get Ocelot to work, I do create a new project, update all references and install Ocelot to the project, then I create the configuration.json file with one route to one of my service, but when I run the project (gateway), it keep loading. What am I doing wrong?
Sorry if this doesn't go here, but I didn't find where to post my question.
Regards!

[2017-04-26 19:10] TomPallister commented on #90
Hi @piyey can you post your configuration.json here? Hide anything that might be sensitive! Also are you using the latest nuget package or Ocelot from source?

[2017-04-26 19:28] piyey commented on #90
Hi @TomPallister ,thanks for your answer.
This is my configuration.json file:

[code]

[2017-04-26 19:38] piyey commented on #90
I got this error in debug:

Excepción producida: 'System.DllNotFoundException' en System.Private.CoreLib.ni.dll
System.DllNotFoundException: Unable to load DLL 'combase.dll': No se puede encontrar el módulo especificado. (Exception from HRESULT: 0x8007007E)
   at Microsoft.Win32.UnsafeNativeMethods.RoGetActivationFactory(String activatableClassId, Guid& iid, Object& factory)
   at System.Threading

[2017-04-26 20:36] TomPallister commented on #90
I have no idea what that exception is! What OS are you using?

[2017-04-26 21:03] piyey commented on #90
Windows 7

[2017-04-27 05:08] somusun3 commented on #90
I had a similar issue when I try o run the Ocelot.ManualTest project. Where the gateway is struck in host.Run(); and all the internal request threads are exited.

So I just created a new project with new startup file

`public class Startup
    {
        public Startup(IHostingEnvironment env)
        {
            var builder = new ConfigurationBuilder()
                .SetBasePath(env.ContentRoo

[2017-04-27 06:36] TomPallister commented on #90
I wonder if its something to do with the app.UseOcelot().Wait(). I possibly need to stick ConfigureAwait(false) on all the calls down the stack from this point. I wasn't sure how .NET core was going to work with calling .Wait() on a task during Startup in terms of deadlocking and I have had no problems with deadlocking myself.

[2017-04-27 06:40] TomPallister commented on #90
Further research shows
http://stackoverflow.com/questions/41128131/task-start-net-core-unable-to-load-dll-combase-dll-error-windows-7

and

https://social.msdn.microsoft.com/Forums/vstudio/en-US/9ad1dcb7-3521-4e80-9023-fd26ccb76a0c/taskstart-on-net-core-throws-missing-combasedll-error-on-windows-7-dev-machine?forum=netfxbcl

seems to be a win7 / .net core issue not specific to Ocelot :(

[2017-04-27 06:53] hanyubao opened #91 "how to configure to support different api？"
I am new to Ocelot and have created a demo gateway project successfully.
The question is how to support many different api(s).
For example:
**webapi A**  on  http://a.com
/api/product
/api/user
... other 10 resources.

**webapi B** on http://b.com
/api/order
/api/address
....other 20 resources.
not only  get or put。
so is there any good way to configure ？

or we can configure  as this:

"ReRoutes"

[2017-04-27 06:54] TomPallister commented on #84
@binarymash we keeping this open? just doing some house cleaning?

[2017-04-27 07:09] juancash commented on #91
Hi @hanyubao,
with the current version you must map all resources, but recently was made a modification to manage many api(s) more easyly (#89). I guess this changes will be available soon in Nuget package but @TomPallister can say you with more exactly. While you can use the code of the master branch if you are in a hurry.

[2017-04-27 07:19] hanyubao commented on #91
thank you @juancash

[2017-04-27 07:45] TomPallister commented on #91
@juancash I can release a new version now I think..give me a few minutes! Just enough time before work starts! :)

[2017-04-27 08:00] TomPallister commented on #91
@juancash Ive just released 1.4.3, your change will be in it! :D

[2017-04-27 08:06] juancash commented on #91
@TomPallister Excellent, thank you very much :D

@hanyubao you can use the new version to implement your scenario.

[2017-04-27 08:30] hanyubao commented on #91
@TomPallister @juancash
That's great! Thanks for all your effort.

[2017-04-27 08:40] binarymash commented on #84
Yeah now that #88 has made the middleware pretty much independent of each other I want to try this again. Job for the bank holiday weekend :)

[2017-04-27 15:12] juancash commented on #91
@TomPallister
Hi again, I´m using the version 1.4.3 but seems something works different or something is wrong, because now my "POST" requests are not working. Seems something about the headers, but I´m not sure. I´m trying to debug to found where is the problem. If I use the version 1.4.2 or the branch that I pushed in #89 all works fine. Do you know if has changed the way of process the request t

[2017-04-27 16:35] piyey commented on #90
Thanks @somusun3 , I have tried your solution, but I still get errors:

[code]
@TomPallister , Thanks for your answer, I have read that posts and I see is a problem with combase.dll, I have avoided to use await, but now I get error cited before.

Regards!

[2017-04-27 16:37] juancash commented on #91
@TomPallister It seems that at least the content-type comes empty to the api (after pass by the gateway).

[2017-04-27 16:50] juancash commented on #90
@piyey I´ve seen that you are fromNicaragua. I´m from Spain. If you want you can write me by private in Spanish to explain me better what is your problem in order to try to help you. I have done some mini projects with ocelot to test it and I didn´t have any problems. You should be able to create a simple web api project with only ocelot dll without problems too.

[2017-04-27 17:41] piyey commented on #90
Hello @juancash , thanks for your interest in help.
I fiinally find where was my problem, looks like it was me.

I just copy all configuration from the guide in Getting Started site in Startup section on wich it remove `.UseIISIntegration()` from Program Class. Looks like it is required in my enviroment to run the application. I created a new project and included this configuration and now it work

[2017-04-27 17:43] #90 closed

[2017-04-28 08:20] TomPallister commented on #91
@juancash I will look at it asap! might be something to do with recent refactoring!

[2017-04-28 08:20] TomPallister commented on #90
@piyey Don't worry about time :) It's good to have people interested in the project.

[2017-04-28 12:04] TomPallister commented on #91
Ive found the issue and am fixing atm!

[2017-04-28 12:21] TomPallister commented on #91
@juancash @hanyubao I have pushed version 1.4.4, this should fix the issue with no content type when using POST. It was a regression brought in after some refactoring.

I have only written a failing unit test and made it pass, I have not had time to manually test yet but I'm confident this is the problem and it will work now -_-

[2017-04-28 12:27] binarymash commented on #91
Sorry, looks like it was my refactoring in #88 that broke this!

[2017-04-28 12:30] TomPallister commented on #91
Easy to miss and there should have already been a unit test around it so my fault! Its nice to work on a code base where you can just add a failing test though :)

[2017-04-28 13:45] juancash commented on #91
@binarymash @TomPallister
No problem ;) . Thanks to both of you for your effort and speed.

[2017-04-29 00:26] piyey opened #92 "Does IdentityServer works in a stand alone WebApi?"
Hello,
This is more a question than an issue.
I need to implement Authentication and Authorisation in my services. I see that Ocelot have the functionality using IdentityServer, but I can't find how do I have to do it.

Do I have to create a WebApi for IdentityServer and call it from the Gateway? then, send the token in each request to my other services (webapi)?

Do I have to include IdentityServ

[2017-04-29 10:58] TomPallister opened #93 "Need a way to add IdentityServer signing creds for Administration area"
Note this only relates to the ocelot administration area.

Given ocelot a and ocelot b running in separate processes
And you get a token from ocelot a
When you try and use the token on ocelot b to get ocelot configuration
Then your request is not unauthenticated

At the moment we just do..

[code]
This means a token from one ocelot cannot be used on another.

I would write an acceptance test where

[2017-04-29 11:01] TomPallister commented on #92
Hi @piyey :)

I think it is better to have your identity server running in a separate process (another webapi, owin, kestrel etc).

You then register this IdentityServer in your Ocelot configuration and Ocelot will refer to your IdentityServer when validating tokens etc.

You can still route the calls to your IdentityServer to get tokens etc through Ocelot so you keep one single point of entry int

[2017-05-02 21:09] piyey commented on #92
Thanks for your answer Tom,
I'm new with IdentityServer and I would like to implement it in my project. The point is, I want to create Microservices (let's talk about 10 services by now), so I created one project to my IdentityServer, one project to my gateway (ocelot), and 10 projects to my microservices. My question is, I am able to use this arquitecture to protect my services with Ocelot and Id

[2017-05-03 11:05] juancash commented on #93
@TomPallister

I don´t know if I understand well the scenario, but I think not must be a new feature. In my opinion you only need create a self signed certificate (with IIS for example) and use it in your IdentityServer configuration like:

[code]

[code]

In this way, both Ocelot will sign tokens with the same key and both can check the tokens regardless of which gateway it has generated the toke

[2017-05-03 16:47] TomPallister commented on #93
@juancash in Ocelot there is an API that allows you to configure Ocelot while it is running. This is the part of the system I'm talking about. I think the change is pretty easy and basically what you suggested :)

https://github.com/TomPallister/Ocelot/wiki/Administration

I need to add documentation around calling the administration api.

I just need to do the change, make sure all the tests work

[2017-05-03 16:48] TomPallister commented on #92
@piyey this architecture is exactly what ocelot was designed for.

The code in these tests might help explain how this works...

https://github.com/TomPallister/Ocelot/blob/develop/test/Ocelot.AcceptanceTests/AuthenticationTests.cs

Maybe I need to draw a diagram to explain this!

[2017-05-05 15:39] piyey commented on #92
Hello @TomPallister ,
Wow, this is very spectacular!!! :D I'm so excited with this.
I have made run IdentityServer, this is the first time I'm using it. Now, when I try to call a method from the gateway it doesn't return nothing.

If I configure a ReRoute without IdentityServer it works pretty well, but if I configure a ReRoute with IdSrv i dont recibe any response.

This is my configuration.json

[2017-05-05 21:54] piyey commented on #92
I have solve last error, looks like It was by my certificate (refering to IdSrv).

Now I just have an Ocelot error.

`Ocelot.Responder.Middleware.ResponderMiddleware:Error: 1 pipeline errors found in ResponderMiddleware. Setting error response status code : OcelotRequestId - not set`

This is the full trace:

[code]
And finally, my last noob question, Do I need to create the token (and create a Re

[2017-05-06 08:49] TomPallister commented on #92
@piyey mmmmmmmmmmmmmmmmm I'm really not sure what this error could be. From the stack trace it looks like your request is getting through the IdentityServer middleware and then coming back to the Ocelot code. Seems the error is in the Ocelot code somewhere but I cannot work out where. If you set the logging level to trace you should get more information to show the problem.

I'm not sure why the e

[2017-05-06 16:06] binarymash commented on #40
I have this running now one one of my repos... uses opencover to generate the report, and report generator to build a nice html report, and fails the build if coverage falls below a certain level. If you're running on the build server it also uploads to coveralls.io.

Have a look at https://github.com/binarymash/responses/pull/28 and https://coveralls.io/github/binarymash/responses

Happy to pick

[2017-05-06 17:03] binarymash commented on #40
work in progress.... https://coveralls.io/github/binarymash/Ocelot  :)

you'll need to create an environment variable on the appveryor build, 'coveralls-repo-token-ocelot', which contains the coveralls repo key for https://coveralls.io/github/TomPallister/Ocelot. This is a private key so we shouldnt commit it to the repo.

I'm not going to create a pull request yet, cos most of this work is a cut

[2017-05-08 07:46] TomPallister commented on #40
@binarymash looks cool!!! Will have to have a go at this when I get a chance. Probably not going to be until June. You have write access on this repo btw so you can be the boss while im away if you want!

[2017-05-08 07:46] TomPallister opened #95 "Going on holiday for 3 weeks does anybody want to maintain the project while I'm away? :)"
Going on holiday for 3 weeks does anybody want to maintain the project while I'm away? :)

[2017-05-08 13:26] binarymash commented on #40
The links above are for the code on my branch, so there shouldn't be anything you need to do once I've created the PR other than review it (and set the environment variable in AppVeyor).

Not sure I've got the time to look after everything while you're away, but I'll keep an eye on things. When are you off?

[2017-05-09 21:00] TomPallister commented on #91
Going to close this issue now i think @juancash changes have solved the problem. It is much easier to configure re route ;)

Massive thanks for the work @juancash !!

[2017-05-09 21:00] #91 closed

[2017-05-09 21:00] #83 closed

[2017-05-10 06:42] juancash commented on #95
I´ll try to help as much as I can to people with doubts, but i cant cover all the project.

[2017-05-10 14:34] binarymash commented on #40
Merged in 1.5.0-unstable.79.build.199

[2017-05-10 14:34] #40 closed

[2017-05-10 19:54] binarymash opened #98 "Command line build is broken again on Mac"
I noticed the other day that building on Mac is broken. This appears to be because commit efec217c undid some or all of the changes from #41

[2017-05-10 20:05] binarymash commented on #98
@TomPallister I assume that this was accidental rather than any intentional change?

[2017-05-10 20:09] TomPallister commented on #98
Think this might be a fuck up on my behalf

[2017-05-10 20:20] binarymash commented on #98
heh! just about to create a PR... looks like integration tests are failing on the mac but I'll look into that separately.

[2017-05-11 14:57] JBuenoG opened #100 "Problem with ocelot + identity server (wrong token lets me go)"
Hi there,
congratulations for this great project, it's being useful for me.

Let me talk about something about it. I think there is a problem with the authentication and authorization features.

If I have the following scenario:

[code]

and I install and configure the IdentityServer4 Nuget packages in Api1 and Api2, when I request a token to access to Api1 and I try access to Api2 with this token

[2017-05-11 19:29] TomPallister commented on #95
Thanks @juancash !

[2017-05-15 19:18] tempworks opened #101 "IdentityServer reference token to JWT exchange"
I have a need to exchange a public IdSvr reference token for an internal only JWT. I've created and deployed a custom grant type on my IdSvr that does the exchange. Are there plans to expand Ocelot to allow custom grant types during the upstream request authentication phase and inject the new bearer token (JWT) in the downstream request? If not, I can start coming up with something and submit a PR

[2017-05-15 19:48] binarymash commented on #52
I now have one of my own projects running through a build pipeline on Ubuntu in Travis, so with what I've learnt it shouldn't be much effort to get this set up for Ocelot.

[2017-05-16 06:55] hanyubao commented on #91
@juancash   thx for your help,but is there a nuget release or version for this issue? any  final document for multipe verbs is welcome.
@TomPallister have a good holiday^_^

[2017-05-16 17:26] juancash commented on #91
@hanyubao yes, you can download the project and use the code in master until a new version is published in the nuget. Remember that now the UpstreamHttpMehtod property is a list.

You can see an example in the PR # 94.

[2017-05-16 18:01] juancash commented on #101
@tempworks
Sorry, you'll have to wait for Tom (the project owner) to come back on vacation, but I believe there isn't any problem if you want start to work in a solution.

[2017-05-18 10:10] hanyubao opened #102 "how to support cors?"
Thanks for the Ocelot team's effort!

Two api(s) A and B.They all support cors and be tested well.
Then a put a gateway using ocelot in front of them. a problem appears.
so my question is how to support cors using ocelot.
@juancash
or perhaps I disable cors support in A &B,and do something in the gateway?

[2017-05-18 13:13] hanyubao commented on #102
so it's my mistake,the function of cors requires **options** verb.
after added the verb,api(s) works well.
sorry to post such a foolish issue.

[2017-05-18 13:13] #102 closed

[2017-05-18 15:05] haptear opened #103 "loadBalancer Config Error"
this is my laodbalancer config,but run throw the exception  [System.Exception:“Unable to start Ocelot..configuration, errors were ”]
what wrong with the config?
{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/web/cms/{urlPath}",
      "DownstreamScheme": "http",
      "DownstreamHost": "localhost",
      "DownstreamPort": 8901,
      "UpstreamPathTemplate": "/cms/{urlPath}",
      "U

[2017-05-19 12:02] juancash commented on #100
@JBuenoG I created the PR #104 to work on this.

The problem is with an older version of the package IdentityServer4.AccessTokenValidation. If I update this package to the last version works fine, but I have found another problem with the property AllowedScopes which doesn't works correctly.

[2017-05-31 18:13] juancash commented on #103
@haptear What version of Ocelot are you using?

[2017-06-03 15:06] geffzhang commented on #103
This is a bug, I have fixed , see https://github.com/TomPallister/Ocelot/pull/105

[2017-06-07 05:27] david0718 opened #106 "The ReRoute configuration object is too large.(idea on solving this?)"
Hi guy
I have An idea on this. I came to this idea from java platform api management tool,though I am a .net developer and fan.
The idea is that how about we put reroute config into a web application, who is responsible to manage apis towards projects, modules, so we could manage apis with category, and easily test all envs,like dev, stage and prod.
Thanks
David

[2017-06-09 14:18] TomPallister commented on #95
Im back! thanks for all the help.

[2017-06-09 14:18] #95 closed

[2017-06-10 13:06] TomPallister commented on #52
@binarymash right im back will pick this up in due course! :)

[2017-06-10 15:10] TomPallister commented on #98
@binarymash not sure if this is related but after merging these changes no artifacts are getting pushed to GitHub releases...see this in AppVeyor.

Creating "1.4.5+30.build.214" release for repository "TomPallister/Ocelot" tag "1.4.5+30.build.214" commit "6c1b95f95ba9926cf6f6fb83a5f7c4ce609bb0be"...OK
No artifacts were published. Make sure you have specified correct artifacts filter.

I'm looking

[2017-06-10 15:14] TomPallister commented on #98
There is a input

Artifact(s) to deploy

In AppVeyor for the release preparation environment. This doesn't have anything in it. Trying to work out if I'm in the right area!

[2017-06-11 11:03] binarymash commented on #98
Sorry, only just saw this. Did you get it working? I'll need to familiarise myself with the build process again to investigate.

[2017-06-12 07:33] TomPallister commented on #98
@binarymash no worries!! Nope I didn't get it working.

[2017-06-12 12:04] binarymash commented on #98
Looking in appveyor the first build to not have artifacts seems to be 1.4.5-PullRequest.104+7.build.202 (see https://ci.appveyor.com/project/TomPallister/ocelot-fcfpb/build/1.4.5-PullRequest.104+7.build.202)

[2017-06-12 12:16] binarymash commented on #98
Oh, hang on, looking into the actual build logs, we're generally not seeing artifacts because the build is failing in the CreatePackages step. Not sure why the build shows up as successful. Looks like it's something to do with generating the release notes.

[code]

[2017-06-12 16:19] juancash commented on #100
@JBuenoG The PR #104 has been already merged into master.

[2017-06-12 16:19] #100 closed

[2017-06-16 15:13] TomPallister commented on #98
ive removed the release notes publishing for now, trying to get a build out without them!

[2017-06-17 13:44] TomPallister commented on #98
@binarymash i removed the releasenotes code and now get an error when trying to push the release artifacts from AppVeyor to GitHub.

Creating "1.4.5+33.build.222" release for repository "TomPallister/Ocelot" tag "1.4.5+33.build.222" commit "6786b5b0afa4fc6b9ad1253e76f1e8ad02f19703"...Skipped - release with tag "1.4.5+33.build.222" already exists
Uploading "artifacts.txt" to release assets...An err

[2017-06-17 13:53] TomPallister commented on #98
@binarymash also created this on AppVeyor forums...

http://help.appveyor.com/discussions/problems/6892-cant-publish-artifacts-to-github-release

[2017-06-17 14:42] binarymash commented on #98
Gonna have a quick look at this now. Does it generate the release notes when you build locally?

[2017-06-17 16:01] binarymash commented on #98
Looks like you've got some strange branching going on. I noticed that build 1.4.5+3.build.200 (sha 89375), which is on master, appears to be a merge of a pull request sha. This build also fails with the release notes failing. The whole build/release process assumes we're using gitflow branching, so merging from PR to master isn't allowed - should be merged to develop, and then a release branch cut

[2017-06-17 16:22] binarymash commented on #98
Looks like you already have a draft release for 1.4.5+33.build.222 in github - see https://github.com/TomPallister/Ocelot/releases . If you're trying to deploy this again from AppVeyor then you'll need to delete the draft first.

[2017-06-17 19:45] TomPallister commented on #98
@binarymash turns out its an AppVeyor/GitHub issue in terms of not being able to publish artifacts.

AppVeyor have raised it with GitHub. Thanks for looking at it for me...feel like I wasted your time.

I thought I was doing my branching correctly. I have pushing my commits to develop and then creating a release branch...push that to remote. Then I merge that release branch into master and that's

[2017-06-17 19:50] TomPallister commented on #98
@binarymash I do get release notes when I build locally.

[2017-06-17 20:17] binarymash commented on #98
ah ok no worries.

Yeah sounds like your branching is generally correct - merges to develop and master, commits to features and release. I'd definitely create the release branches with the version number of what you're actually going to release, as it's pretty confusing otherwise. I think once you've created the release branch this would also potentially affect the versioning on subsequent commits

[2017-06-24 12:11] #93 closed

[2017-06-24 17:13] amituna opened #108 "Identity Server integration"
I have configured a separate instance hosted at http://localhost:5000 for identity server.

Question#1: Can I make the Gateway Api a client for IS4(identity server 4). If yes, please help me with the settings given I have following client created in the identity server:

ClientId = "mvc",
AllowedGrantTypes = GrantTypes.Implicit,
RequireConsent = false,
EnableLocalLogin = false,
RedirectUris = { "h

[2017-06-25 19:50] #74 closed

[2017-06-25 19:51] #92 closed

[2017-06-25 19:53] TomPallister commented on #101
@tempworks sorry for not replying sooner. I don't have plans to add this feature at the moment however I would welcome a pull request. I'm not even sure how you do the thing you want to do! :(

[2017-06-25 19:53] #103 closed

[2017-06-25 19:56] TomPallister commented on #106
@david0718 I'm not quite sure what you mean.

At the moment the Ocelot configuration is a flat file (JSON) that gets parsed and turned into a big config object in memory.

You can change this object at runtime using the [http administration API.](https://github.com/TomPallister/Ocelot/wiki/Administration)

You could make a web application that calls into the admin api to manage config, is this wha

[2017-06-25 20:02] TomPallister commented on #108
@amituna please read [auth docs](https://github.com/TomPallister/Ocelot/wiki/Authentication) to see what how Ocelot currently integrates with identity server. It is very basic integration at the moment and it is not really a client of IdentityServer!

Hope that helps...happy to discuss any improvements we could make!

[2017-06-25 21:15] #35 closed

[2017-06-25 23:01] david0718 commented on #106
Hi Tom
Yes, I think a web application could be a good way to manage this.

Some user story considered:
1.Admin could be login to the application.
2.Basic settings, permission(using orchard or abp)
3.Could create project, could create modules under project(or category),then create api route data.
4.api denifinition could be added for each item,mock data could be returned for each api.
This is what

[2017-06-26 13:07] amituna commented on #108
Please let me start from the very beginning, let me explain what I have done and please review it and tell me what I am missing. I am using implicit flow and Windows Authentication in Identity Server 4.

Startup looks like following:

public async void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory loggerFactory)
        {
            loggerFactory.AddConsole(Configurat

[2017-06-26 14:49] amituna commented on #108
I am not sure if it helps, but I do not see any traffic where web api gateway, tries to communicate with IS4.

[2017-06-30 12:08] TomPallister commented on #108
Hi @amituna,

 I havent had a chance to look at this yet but will get round to it soon!

[2017-06-30 12:09] TomPallister commented on #106
Hi @david0718 ,

I have thought about building an administration UI (we already have an API) but don't have the time yet!

[2017-07-25 14:39] ArrorShine opened #112 "The interface is stored in the database"
Interfaces are stored in configuration files, some of which are inconvenient for the processing and interfacing of multiple systems. They want to configure the interface in the database and operate with the interface configuration

[2017-07-30 01:28] pjjwpc opened #113 "Questions about using RateLimitOptions"
My first configuration file：
"RateLimitOptions": {
        "RateLimitRule": {
          "Period": "1s",
          "PeriodTimespan": 100,
          "Limit": 5
        },
        "ClientIdHeader": "mvc",
        "HttpStatusCode": 429,
        "QuotaExceededMessage": "你想玩死我么？",
        "RateLimitCounterPrefix": "OrderAPI",
        "EnableRateLimiting": true,
        "DisableRateLimitHeaders": false

[2017-07-30 10:11] TomPallister commented on #113
Ohh no! Sorry you are having problems I will try and debug this ASAP!

[2017-07-30 15:36] jzarob commented on #106
What if we added support for something like Swagger, so downstream services could automatically register all their endpoints as ReRoutes instead of having to manually specify them?

[2017-07-31 01:55] pjjwpc commented on #113
I think an API  corresponds to multiple Client,  each Client should have the related Rate limit

[2017-08-02 06:16] geffzhang commented on #113
Please send out your complete configuration, for example：
  {
  "ReRoutes": [
  {
      "DownstreamPathTemplate": "/api/tof/staffleader/{engname}",
      "DownstreamScheme": "http",
      "ServiceName": "FITRightWayAPI",
      "LoadBalancer": "LeastConnection",
      "UpstreamPathTemplate": "/api/tof/staffleader/{engname}",
      "UpstreamHttpMethod": "get",
      "AuthenticationOptions": {

[2017-08-04 06:12] TomPallister commented on #112
Hi @ArrorShine do you mean implementing a way to store the ocelot configuration in a database rather than in memory / flat file?

This is of course possible and I could work on it one day but I am still working on Ocelot clustering at the moment.

Please feel free to study the code and submit a PR for the feature if you have time!

[2017-08-04 06:13] TomPallister commented on #106
@jzarob how would you envisage this working? I don't have much experience with swagger!!

[2017-08-04 12:16] jzarob commented on #106
I would say add a config option that contains a list of downstream services. Each element in the list would contain default reroute configuration for all of the routes it registers, and a url to the swagger endpoint supported by the service.

You can checkout an example of the docs generated by swagger here:
[Swagger Editor](http://editor.swagger.io/)

[2017-08-06 10:37] geffzhang opened #114 "update .net core 2.0"
@TomPallister @binarymash  we upgrade to the .net core 2.0  and VS 2017 15.4  project to develop it?

[2017-08-09 05:55] TomPallister commented on #114
Hi @geffzhang sounds like a good idea, might do this on a branch to see if AppVeyor can build it! I'm away for a few days but will look at it when I get back!

[2017-08-15 21:09] TomPallister commented on #114
OK I'm back! I will try and do this tomorrow 😄

[2017-08-16 08:28] binarymash commented on #114
Not sure if the build image has been updated yet in AppVeyor. For now you might need to change the build worked image in appveyor to "vs2017 preview" to pull in the 2.0 sdk - see https://andrewlock.net/building-asp-net-core-2-0-preview-2-packages-on-appveyor/.

There's possibly some optimisation that can be done on the cake scripts now that restore is an implicit command.

I'll try to find some ti

[2017-08-17 04:40] haptear opened #115 "update fileConfiguration validate error"
[code]
this update action when i post the configuration as blow
[code]
error in the file "FileConfigurationValidator.cs"
**var hasDuplicateSpecificHttpVerbs = reRoutesWithUpstreamPathTemplate.SelectMany(x => x.UpstreamHttpMethod).GroupBy(x => x.ToLower()).SelectMany(x => x.Skip(1)).Any();** this check will be true
[code]

[2017-08-17 19:03] TomPallister commented on #114
Still haven't got round to this hopefully at the weekend!

[2017-08-17 20:04] albertosam opened #116 "Configuration generator"
Hey guys!

I have been make some experiences with Ocelot and a feature that I guess interesting is a configuration json generator. So, I did think in to create a class library project that when imported by a webapi project existent, load a inner controller for read all api controllers and actions and build a json with the reroutes.

Do you think this is useful?

[2017-08-19 07:44] TomPallister commented on #114
@geffzhang this seems to be harder than I first thought it would be.

The main problem is that there seems to be conflicts with the new .net core authentication apis and how the current IdentityServerpackage works. I may need to wait until IdentityServer supports .net core 2.0 before I can upgrade.

I also have a problem where the tests no longer run, they just timeout and complain they cannot fin

[2017-08-19 08:10] TomPallister commented on #115
@haptear thanks for submitting this issue! I appreciate your interest in the project :D

I have looked into this and the behaviour is currently intended. Let me know if you disagree with my assessment! I often make mistakes.

In your configuration you have said any requests that come into ocelot on this url /api/device/acs/v1/{url} with the following verbs "GET", "POST", "PUT", "DELETE", "PATCH" s

[2017-08-19 08:12] TomPallister commented on #116
@albertosam thank you for your interest in the project.

I think this might be useful! It would save people time creating the configurations. I'm not sure how it would work though but you seem to have a good idea.

[2017-08-19 08:14] TomPallister commented on #106
@jzarob this seems like a good idea..I have added it to the backlog.

Thanks for your interest!

[2017-08-21 11:49] danny-waite opened #117 "trailing slash"
Just returned to looking at Ocelot after a few months, good to see things have been progressing nicely.

Main thing I wanted to look at was the ability to work with prefixes as outlined here #86

I'm seeing a trailing slash being sent to the downstream service which results in a 404 and can't see why.

Here is my config:
[code]

Original Request: `/api/alert/f346bdd5-9d4c-4aea-88d9-3f35c557554d`
P

[2017-08-22 05:59] TomPallister commented on #117
@danny-waite I think this might be something in .net we are using that adds the trailing slash. I'll take a look. Thanks for the interest in the project!!

[2017-08-22 07:15] alexinea opened #118 "There are six '{'s and seven '}'s in the Startup example"
hi @TomPallister . As this issue's title, there are six '{'s and seven '}'s in the first [Startup example](https://github.com/TomPallister/Ocelot/wiki/Startup) in Wiki.

Pls fix it.  😄

[2017-08-22 17:07] TomPallister commented on #118
@alexinea ohhhh sorry! I'll get on it! Thanks for the info.

[2017-08-23 05:58] TomPallister commented on #118
@alexinea Ive just changed it, thanks for the help!

[2017-08-23 05:58] #118 closed

[2017-08-23 11:16] danny-waite commented on #117
no worries Tom, let me know when you've had chance to look, I don't mind digging deeper but thought it best to relay to you first since it seems like a fairly key issue. Would also be interested to know if Ocelot is being used in production and to what scale. Keep up the good work.

[2017-08-23 19:51] TomPallister commented on #117
Ive had a look and for some reason I'm always setting the last character of the downstream path as / can't remember why so i'll figure that out and make it work properly..

[2017-08-23 19:52] TomPallister commented on #117
I doubt anyone is using Ocelot in production. I'm hoping to use it at work one day. I did some performance testing and didn't notice any memory leaks...Ocelot adds a few ms to each http request in the environment I was testing on in Azure.

[2017-08-28 02:23] aqa510415008 opened #120 "Is it possible to upgrade .Net Standard 2.0?"
@TomPallister @binarymash @geffzhang 友善大神
Looking forward to Ocelot upgrade to .Net Standard 2.0?

[2017-08-29 07:45] aqa510415008 opened #121 "OcelotRequestId - not set"
@TomPallister @binarymash @geffzhang
Why "OcelotRequestId - not set"? Will OcelotRequestId set up where?

I did not find that place added RequestId？
[code]

[code]

[2017-08-29 09:48] geffzhang commented on #121
@aqa510415008 See wiki https://github.com/TomPallister/Ocelot/wiki/RequestId

[2017-08-29 09:55] aqa510415008 commented on #121
@geffzhang 明白了，友善你的意思说，RequestId需要客户端头部一起带过去是吧？

[2017-08-29 14:21] geffzhang commented on #121
@aqa510415008 yes，"Requestidkey" in the Global configuration: "RequestID", which tells the gateway to find a header and use its value as a request/correlation identifier for the requested trace

[2017-08-29 18:54] TomPallister commented on #120
Hi @aqa510415008 thanks for contributing! This is a duplicate of #114

I am going to start working on the upgrade asap. Unfortunately it is not going to be simple.

[2017-08-29 18:54] #120 closed

[2017-08-29 18:56] TomPallister commented on #121
@aqa510415008 thanks for the question.

@geffzhang thank you for helping! I really appreciate the support.

[2017-08-29 20:00] TomPallister commented on #117
@danny-waite I've got a fix for this on a PR, just waiting for checks to finish and I'll merge it and create a build!

[2017-08-30 01:52] aqa510415008 commented on #121
@TomPallister @geffzhang
What is the difference between "Requestidkey" and RequestIdMiddleware set in the global configuration? I debug found that the middleware can get the RequestID。

[code]

[2017-08-30 19:41] TomPallister commented on #117
@danny-waite Ive just pushed a fix for this to nuget....Install-Package Ocelot -Version 1.4.10

I'm going to close the issue now as I think it is fixed...if you run into further problems let me know and I can feel like an idiot! :)

Thanks for submitting this issue :D

[2017-08-30 19:41] #117 closed

[2017-09-08 15:03] wangshifeng opened #123 "AddOcelotStoreConfigurationInConsul can not work"
When i try to use consul to store configuration

`var consulConfig = new ConsulRegistryConfiguration("localhost", 9500, "Ocelot");`
`s.AddOcelotStoreConfigurationInConsul(consulConfig);`

It dose, I can see the configuration persisted on Consul UI KEY/VALUE.

But, every request get 404 http response, It's weird. So, I disable every middleware in the OcelotMiddlewareExtensions.UseOcelot .
Finally,

[2017-09-26 09:57] msvaillant opened #127 "Question: ocelot OpenIddict Auth integration"
Good day!

I have got some questions about current Ocelot state and plans. Does Ocelot support work with separated auth and resource server?

Does Ocelot supports auth except of IdentityServer?

For example: I have an Example.Auth solution with OpenIddict issuing JWT and other identity stuff, I have an Example.Core - resource server, Ocelot is ApiGateway for this two services. My scenario: I want

[2017-09-26 10:18] TomPallister commented on #114
Ive tried doing this again...was blocked because I dont think IdentitySever middleware is upgraded yet.

Also have to do this https://github.com/aspnet/Home/issues/2214 to fix authentication for re routes which is a lot of work.

Getting closer but still waiting on id server.

[2017-09-26 12:34] stuartsaltzman commented on #114
@TomPallister - re: IdentityServer and .NET Core 2.0 support - IdentityServer4 has a RC for .NET Standard 2.0 (links below). I have also been trying to migrate Ocelot to .NET Core 2.0 on my fork and have been running into an issue to dynamically build the auth pipeline per a request now that Configure/ConfigureServices is done differently in 2.0.

Link: https://github.com/IdentityServer/IdentitySe

[2017-09-26 15:29] TomPallister commented on #114
@stuartsaltzman check this for the answer to auth pipeline https://github.com/aspnet/Home/issues/2214

I havent been able to get the IdentityServer RC packages to work using Bearer tokens on a sample project. Have you? Thanks for the help!

[2017-09-26 15:32] TomPallister commented on #127
Hi @msvaillant Ocelot could support your scenario but it might need some changes to add a new authentication provider. We would need to add an OpenIddict provider. Im dont know about OpenIddict so maybe you could submit a pull request.  This is a PR where @sharpn added a new provider...https://github.com/TomPallister/Ocelot/pull/110.

I do intend to upgrade but its quite complicated and I am waiti

[2017-09-28 06:17] aringlot opened #128 "Cookie proxying and auto redirect configuration"
Greetings!

I am adopting Ocelot API gateway solution in current project.

According to my business requirements, I have to set up response cookie from one of my downstreams. Unfortunately, I found out that Ocelot caches cookie inside HttpClient's cookie container. Additional investigation has shown that Ocelot doesn't allow to pass through redirect from API to client, which might be needed in som

[2017-09-30 10:00] TomPallister opened #130 "Fix Ocelot build pipeline"
https://ci.appveyor.com/project/TomPallister/ocelot-fcfpb

 Cake.Json the bane of my life...

Could not find any assemblies compatible with .NETFramework,Version=v4.5.
Error: Failed to install addin 'Cake.Json'.

Happens locally and with AppVeyor..

[2017-09-30 10:11] #123 closed

[2017-10-01 16:32] dbarkwell commented on #130
Update build.ps1 (https://github.com/cake-build/cake) and in build.cake add both:

#addin nuget:?package=Cake.Json
#addin nuget:?package=Newtonsoft.Json&version=9.0.1

[2017-10-03 16:18] TomPallister commented on #130
@dbarkwell thanks I'll give this a shot!

[2017-10-06 12:36] geffzhang commented on #114
https://www.nuget.org/packages/IdentityServer4/2.0.0 has release

[2017-10-06 15:35] gdyrrahitis opened #131 "Slow performance"
Hello,

I am experimenting with Ocelot these days. I tried Ocelot on an ASP.NET Core 1.1, with a 2.0 runtime.
I have declared the downstreams in localhost, all good so far. Testing in IIS Express from Visual Studio, seems to work just fine.
Then I publish to IIS. It still works, but the responses are slow, it might take many seconds to respond or just hangs, and there is not such performance issue

[2017-10-06 16:03] TomPallister commented on #131
@gdyrrahitis thanks for contributing! I've had this reported previously and the issue was logging out to the console. What kind of logging do you have Ocelot set up to use? If you set it to errors only and console it shouldn't be too slow!

It could also be something to do with IIS. I haven't tested Ocelot with IIS :( or it could just be Ocelot!

[2017-10-06 16:04] TomPallister commented on #114
Thanks @geffzhang

[2017-10-06 16:19] gdyrrahitis commented on #131
I am following wiki's instructions on Startup. https://github.com/TomPallister/Ocelot/wiki/Startup

You say you haven't tested Ocelot with IIS. Do you suggest self hosting in a windows service? What is recommended, and working, for you?

[2017-10-07 14:44] stuartsaltzman commented on #130
@TomPallister - I changed the version of  Newtonsoft.Json to **9.0.1** but I now receive a different error, details below.

Error message: "The type 'Dictionary<,>' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Collections, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."

Caused by:  _ToDictionary()_  within method _PublishPacka

[2017-10-09 10:12] TomPallister commented on #131
@gdyrrahitis the startup adds console logging which is slow so that is probably why you are experiencing performance problems. The startup is just an example of how to get Ocelot up and running and is not recommended for production use. Consulting asp.net core docs should help with this! My apologies for any confusion!! :(

I have hosted Ocelot using Azure web apps and AWS ElasticBeanstalk (assume

[2017-10-09 10:22] TomPallister commented on #130
@stuartsaltzman https://github.com/TomPallister/Ocelot/pull/132 fixed the build...give it a try.

@dbarkwell thanks for the help! Seems to have worked.

[2017-10-09 12:16] #130 closed

[2017-10-09 12:36] #128 closed

[2017-10-09 12:44] stuartsaltzman commented on #130
@TomPallister - just pulled down your changes and gave it a try. Same error. Note, I am on a mac os.

Output from running ./build.sh is below. The only way I am able to remedy the problem is the workaround I described above. I also pulled down Cake.net's example template and tried the _.ToDictionary()_ extension and received the same error therefore the issue is unrelated to Ocelot. However, the b

[2017-10-09 13:15] gdyrrahitis commented on #131
Thanks for clearing this out.
There is definitely an issue with IIS + Kestrel. Might be the machine's setup/configuration at fault, I am not sure. I have to test it on my terminal as well. Logging has nothing to do with that. If I serve the application through Kestrel, the performance is fine.

I had to run the application with `dotnet` command, so Kestrel runs on port 5000 and add a reverse proxy

[2017-10-09 14:13] TomPallister commented on #131
@gdyrrahitis yeh I think the issue is more to do with IIS and Kestrel than Ocelot itself...the application doesn't do anything special! There are quite a lot of posts online about IIS and Kestrel having slow performance.

[2017-10-09 14:13] #131 closed

[2017-10-09 14:15] TomPallister commented on #130
@stuartsaltzman I have known it isnt working on mac for a while see [here](https://github.com/TomPallister/Ocelot/issues/98). Let's pick this up there. Ive pasted your comment on that issue!

[2017-10-09 14:15] TomPallister commented on #98
@TomPallister - thanks!. I just pulled down your changes and gave it a try. Same error. Note, I am on a mac os.

Output from running ./build.sh is below. The only way I am able to remedy the problem is the workaround I described above. I also pulled down Cake.net's example template and tried the .ToDictionary() extension and received the same error therefore the issue is unrelated to Ocelot. Howev

[2017-10-09 14:30] TomPallister opened #133 "Fix Ocelot release from github"
https://ci.appveyor.com/project/TomPallister/ocelot-ayj4w

[2017-10-10 15:04] msvaillant opened #134 "Bug: Downstream request of url/{param} is not working"
Good day,
I have encountered a problem with downstream url forwarding. Let me express it on example:

send GET request to Ocelot by url like http://localhost:5100/api/vacancy/1
it should be downstreamed to http://localhost:5002/api/v1/vacancy/1
but it is http://localhost:5002/api/v1/vacancy/{vacancyid}

configuration looks like this:

[code]

I attach Logs to approve behavior.

Ocelot apigateway l

[2017-10-10 15:07] msvaillant commented on #134
Am I right?
Is it bug or some uncorrect configuration from me? If it is bug - i can fix it by adding some additional logic to replacer.

this issue happens just sometimes

[2017-10-10 16:01] msvaillant commented on #134
I have investigated a little with your acceptance test and have found the difference in the results of executing `FindDownstreamRoute` of `DownsteamRouteFinder`. On acceptance tests it returns `templateVariableNameAndValues` for {someid}, but for my case result is just empty collection

[2017-10-10 16:03] TomPallister commented on #134
@msvaillant looks like it might be a bug..ill have a look ASAP!

[2017-10-10 16:10] msvaillant commented on #134
@TomPallister , I have encountered bug - if you use Ocelot with request of http://localhost:5100/api/vacancy/1 - but reproduces in `templateVariableNameAndValues`, if http://localhost:5100/vacancy/1 - everything works right!

[2017-10-10 16:24] msvaillant commented on #134
@TomPallister - so yes, it is so - on acceptance test there is also such behavior - the placeholder is not recognized when passing request with API before main part. (But strangely - test is OK and you will not see fault, but in debugger I see no placeholder data - actually failing in production).

As I see - this not really bug, but undocumented behavior. I think so because:
1. No api prefix in c

[2017-10-10 16:29] msvaillant commented on #134
For myself - I will now use requests to Ocelot with no API prefix, or will configure ocelot explicitly to use this one (hope it will help if it would be needed).

To fix this behavior or document it? I don't know, but I can be not the only who received this problem. It should be **blocked** to use API implicitly, or **fixed** to use it implicitly with no care or at least **documented** to avoid im

[2017-10-10 16:31] msvaillant commented on #134
Would be nice to look if there are any cases close to mine to avoid bugs, and write acceptance test for my case :)

[2017-10-10 16:48] TomPallister commented on #134
@msvaillant I'm trying to write a test to reproduce your issue but I am failing. This request is being forwarded to the downstream service with a path of "/api/v1/vacancy/1" see test below. What am I missing? :(

[code]

[2017-10-10 17:17] msvaillant commented on #134
@TomPallister
`.When(x => _steps.WhenIGetUrlOnTheApiGateway("api/vacancy/1"))`

And on debugging that test you will get empty collection (but strangely this test was not failing - maybe something do not depends on url data)

[2017-10-10 19:20] TomPallister commented on #134
OK I think I understand.

That should return a 404 because you do not have the following set up..

[code]

However it might have got broken...

[2017-10-11 07:29] msvaillant commented on #134
Yes, it is so :)
so now you have one more acceptance test, to check on 404 when somebody tries to use request with API, but without expected configuration.

[2017-10-11 20:59] TomPallister commented on #134
@msvaillant yep...this is definitely a bug, guess I missed a test.

[2017-10-11 21:05] TomPallister commented on #55
@MarcDenman looks good thanks, My raft implementation is ready now..i think..

[2017-10-12 18:02] TomPallister opened #135 "UpstreamPathTemplate needs to start with a / but I dont seem to specify or test for this anywhere.."
I noticed while working on issue 134 that the QoS option test started failing after my change. This is because the UpstreamPathTemplate was set as "working" not "/working".

Seems like we could just add the slash at the front in code or give a validation error when Ocelot starts to say there is a problem? Not sure..

[2017-10-13 06:07] daniellaoding commented on #79
this feature    has any progress  ?

[2017-10-13 07:06] #134 closed

[2017-10-13 07:40] MykhailoKyrychenko commented on #79
Had draft version implemented as custom fork for internal project. Now, as Ocelot evolved, I'm not even sure if it's possible to simply solve merge conflicts 😞 Even if that won't consume a lot of time, unfortunately, I won't be able to continue on that feature before November.

Also, there are a few moments I'm not sure about:
- what should we do when one of downstreams fails?
- how should we merg

[2017-10-13 10:11] TomPallister commented on #133
Fixed can now download 1.4.20 from nuget

[2017-10-13 10:11] #133 closed

[2017-10-13 10:19] TomPallister commented on #79
@daniellaoding @MykhailoKyrychenko thanks for your interest in the project.

I personally have not worked on this but I am coming to the end of a feature so might be able to take a look.

Allow the user to decide if they want to try and continue or fail immediately? We might be able to write something that partially composes the return object.

That is an interesting problem :) I guess you could a

[2017-10-13 10:44] daniellaoding commented on #79
good idea  @TomPallister @MykhailoKyrychenko 。
 it will be perfect  if  it  support  wrap  up 、transfer or format the data of downstream service  by a callback function or custom function  before return the data to upstream service request

[2017-10-18 22:14] piyey commented on #116
I'm facing this problem right now, did you do something?
I think you could use "Swashbuckle" as an example on how to read all controllers and actions.

https://github.com/domaindrivendev/Swashbuckle.AspNetCore

[2017-10-19 00:37] albertosam commented on #116
Exactly! I have a version working. I'll submit on Github.

[2017-10-19 00:48] piyey commented on #116
Excelente!!!! Let me know when you submit it please.

[2017-10-20 04:29] urdeveloper commented on #106
I think Express-Gateway has a very interesting configuration structure you might get some idea from. Basically There are Api Endpoints (upstream) and Service Endpoints (downstream) that you define independently. Then you define a set of pipelines that connects the dots. A pipeline is a sequence of middlewares (they call it policies) that are configured in the pipeline. An example:

[code]

The abo

[2017-10-22 23:29] geffzhang commented on #114
@TomPallister How is the progress of upgrading. NET Core 2.0, and recently, Microsoft and I have been filming my project using Ocelot's promotional video, which will be advertised at technical meetings in Beijing and New York, with a focus on the Ocelot project

[2017-10-23 08:51] TomPallister commented on #106
@urdeveloper thanks for the input!

[2017-10-23 17:18] TomPallister commented on #114
@geffzhang that sounds amazing! The last time I checked the identity server middleware did not support bearer token workflow in .net core 2.0. I'll have another look and see if it's supported now.

[2017-10-23 17:20] TomPallister commented on #114
It looks like it works now so I'll start working on the upgrade again! I need to rewrite all the authentication code due to major breaking changes in .net core 2.0!

[2017-10-24 12:16] dbarkwell commented on #116
It's still a WIP but I created an editor that you can use within Ocelot to edit the configuration. It will only (it should at least) allow connections from localhost. I hope to get it finished this week.

https://github.com/dbarkwell/Ocelot.ConfigEditor

[2017-10-27 15:57] TomPallister commented on #114
@geffzhang i started working on this again properly and the dependencies seem OK so it shouldn't take too much longer.

[2017-10-28 02:17] geffzhang commented on #114
@TomPallister Looking forward to your good news

[2017-10-30 08:02] TomPallister commented on #114
I have all the integration tests working again...just the acceptance tests to go! This is all the stuff around how Ocelot handles identityserver tokens...hopefully be done soon!

[2017-10-30 08:05] hampos commented on #114
@TomPallister We just started working with Ocelot and want to go .Net Core 2.0 all the way, do you have a timeline for this? If you have a list of things to be done, maybe we could help with a pull request?

[2017-10-30 08:12] TomPallister commented on #114
@hampos haha :) yep I'm hoping to have all the tests passing by the start of next week. The main problem is a complete re-write of the authentication stack...which I'm not 100% is going to work but we will see. Once I have all the tests passing I'll put out version 2.0.

[2017-11-01 03:06] daniellaoding commented on #114
GOOG IDear       expecting  this milestone

[2017-11-01 08:12] TomPallister commented on #114
I've finally got something working! However you can no longer dynamically add or remove authentication providers while Ocelot is running.

I am thinking that I might take the authentication provider information out of the configuration.json and the users would just add there auth providers as following

[code]

This enables the user to add whatever schemes they want. Then in the ReRoute configurat

[2017-11-01 08:22] Cglvzh opened #138 "About http 503 error"
Hi，I hosted Ocelot on IIS，but sometimes，my request will be received 503 error. And only one interface request error, the other normal.

This is my configuration information

[code]

This is my log information

`2017-11-01 10:04:19.6185|Ocelot.Responder.Middleware.ResponderMiddleware|ERROR|1 pipeline errors found in ResponderMiddleware. Setting error response status code : OcelotRequestId - not set

[2017-11-01 09:16] TomPallister commented on #138
@Cglvzh for some reason the circuit breaker is kicking in hence the 503...maybe @geffzhang can help? Or I will look at it after I have finished the .net core 2.0 upgrade.

[2017-11-01 13:38] TomPallister commented on #114
Im going to move registering the authentication services out of Ocelot so the user can do this themselves and map the scheme to a reroute in config..

[2017-11-01 17:21] TomPallister commented on #114
OK I've pushed out the .net core 2.0 update...

You can install with Install-Package Ocelot -Version 2.0.0 when it gets indexed by nuget...

I would suggest looking at https://github.com/TomPallister/Ocelot/wiki/Authentication for the big changes to authentication which effects the structure of configuration.json...

I also suggest looking at https://github.com/TomPallister/Ocelot/blob/develop/tes

[2017-11-01 18:30] #114 closed

[2017-11-02 01:41] Cglvzh commented on #138
Ok，Thank You.I will try to reproduce the problem in the test environment.

[2017-11-02 12:34] #135 closed

[2017-11-03 08:34] daniellaoding opened #140 "can't get the baseSchemeUrlAndPort so that AddIdentityServer failed"

[2017-11-03 08:36] daniellaoding commented on #140
![image](https://user-images.githubusercontent.com/22088655/32365555-22742d32-c0b5-11e7-84d8-2654b79c7b5c.png)
 ??

[2017-11-03 09:16] #140 closed

[2017-11-03 09:18] daniellaoding commented on #140
just set the entrypoint main method  as blow:
   IWebHostBuilder builder = new WebHostBuilder();
            builder.ConfigureServices(s =>
            {
                s.AddSingleton(builder);
            });
            builder.UseKestrel()
                .UseContentRoot(Directory.GetCurrentDirectory())
                .UseIISIntegration()
                   .UseUrls("http://localhost:500")

[2017-11-04 04:04] geffzhang opened #141 "A configuration editor for Ocelot"
https://github.com/dbarkwell/Ocelot.ConfigEditor

[2017-11-05 11:54] hampos opened #142 "No LoadBalancer exists when using Consul ServiceDiscoveryProvider"
Hey,
I've been having an issue when using Consul as ServiceDiscoveryProvider.
If the OcelotConfiguration key does not exist in Consul Key/Value store, Ocelot runs the FileOcelotConfigurationCreator and sets up the LoadBalancers in this line:
https://github.com/TomPallister/Ocelot/blob/1d1a68ff95bb1caf5c279c64e18b5d168e82f7cd/src/Ocelot/Configuration/Creator/FileOcelotConfigurationCreator.cs#L179
a

[2017-11-06 08:25] theofanis opened #143 "Cannot have async Configure in Startup"
In the docs, an `async void Configure()` is showcased. This doesn't work and we should avoid it, since async build is not a thing yet.

Since `UseOcelot` is returning a Task, maybe change this to something like what Stephen Cleary says in this [SO](https://stackoverflow.com/a/32271120).

It took us a bit before we find out why middlewares weren't running when debugging Ocelot.

[2017-11-06 11:11] TomPallister commented on #143
arghh i thought i fixex this..sigh..I'll get it fixed asap.

[2017-11-06 11:54] theofanis commented on #143
It was always there, sigh.. 😅

It's still with async in the Startup documentation, so if you update this for others it would be great.

[2017-11-06 12:49] TomPallister commented on #143
I have updated the wiki! Let me know if you have anymore problems!

[2017-11-06 12:49] #143 closed

[2017-11-06 12:49] TomPallister commented on #142
@hampos this feels like a bug Ill look at it ASAP!

[2017-11-06 12:51] #115 closed

[2017-11-06 12:52] TomPallister commented on #116
@dbarkwell looks good thanks for helping! I havent had a chance to look at this yet!

[2017-11-06 12:52] TomPallister commented on #141
Hi @geffzhang this was made as part of this issue https://github.com/TomPallister/Ocelot/issues/116

I looks good but I havent had a chance to look at it yet!

[2017-11-06 12:54] TomPallister opened #144 "Should I move Ocelot to an organisation?"
Hi All,

Ocelot is growing quite a bit now and still sits on my personal GitHub.

Another person has now made an Ocelot specific app https://github.com/TomPallister/Ocelot/issues/116

Should I move Ocelot to an organisation? If so what should it be called? I already own an organisation called ThreeMammals so I could move it to this but maybe something Ocelot specific might make more sense!

What d

[2017-11-06 20:37] TomPallister commented on #142
@hampos this is an interesting problem...

If you don't set your configuration in Consul via the [Administration API](https://github.com/TomPallister/Ocelot/wiki/Administration) then the load balancers are not set up.

I need to think about a possible solution for your use case..I'm not sure it is possible to make it work in a nice way.

[2017-11-06 23:39] #141 closed

[2017-11-07 06:32] cqkisyouq opened #145 "File request failure"
At in DownstreamRouteFinderMiddleware
upstreamUrlPath = upstreamUrlPath.SetLastCharacterAs('/');

At the end of the url added '/',Make the url to access error.

[2017-11-07 07:01] TomPallister commented on #145
@cqkisyouq can you post your configuration.json file?

[2017-11-07 07:04] cqkisyouq commented on #145
"ReRoutes": [
    {
      "DownstreamPathTemplate": "api/{url}",
      "DownstreamScheme": "http",
      "DownstreamHost": "***",
      "DownstreamPort": "8025",
      "UpstreamPathTemplate": "/platform/{url}",
      //"UpstreamHttpMethod": [ "Get" ],
      //"ServiceName": "newapp",
      //"LoadBalancer": "RoundRobin",
      "QosOptions": {
        "ExceptionsAllowedBeforeBreasking": 3,

[2017-11-07 07:07] cqkisyouq commented on #145
like this.
/swagger/lib/backbone-min.js  200
/swagger/lib/backbone-min.js/ 404

[2017-11-07 19:32] TomPallister commented on #145
@cqkisyouq which version of Ocelot are you using? It should not append the / to the url for the downstream service. Unless I have introduced a bug :(

[2017-11-08 00:55] geffzhang commented on #144
I very much agree with the use of organizations for management, the 11.15 Microsoft Connect () Conference will also broadcast my video, Video Ocelot is the protagonist。

[2017-11-08 02:52] cqkisyouq commented on #145
@TomPallister version 2.0

Generate matching rules here：
Class ->UpstreamTemplatePatternCreator

Create(FileReRoute reRoute)  upstreamTemplate = upstreamTemplate.SetLastCharacterAs('/');

[2017-11-08 03:01] cqkisyouq commented on #145
@TomPallister I want to access the file How to do?

[2017-11-08 09:04] TomPallister commented on #145
@cqkisyouq I'm not sure what you mean by access the file. Could you explain more?

I will write a failing test and see if we can understand the problem.

[2017-11-08 09:14] cqkisyouq commented on #145
@TomPallister
I want to visit the static files
like this url     http://localhost/1.txt

After the ocelot processing into such a url    http://localhost/1.txt/

Returns the status of 404

[2017-11-08 11:45] hampos commented on #142
@TomPallister
Will I have to set the configuration through the administration API each time Ocelot starts?
Since Consul stores my configuration it would make sense for it to be the central point of configuration truth.
Even if I try to `AddOcelotStoreConfigurationInConsul` without service discovery and load balancers, just a simple `DownstreamHost` and `DownstreamPort` in my reroute, Ocelot still

[2017-11-08 17:46] TomPallister commented on #142
@hampos Don't worry I will change Ocelot soon to handle the use case.

I'm thinking that I will change the way load balancers are set up. On the first request to a ReRoute the load balancer will be set up and cached. Each subsequent request will get the cached version. This means that we will suffer a very small performance hit the first time a ReRoute is requested but after that it will be the sa

[2017-11-09 09:00] hampos opened #146 "ReRoute has null CacheOptions when being fetched from cache"
Hey again @TomPallister

I tried setting `FileCacheOptions` on my reroute, and have been getting `NullReferenceException` on this line:
https://github.com/TomPallister/Ocelot/blob/1d1a68ff95bb1caf5c279c64e18b5d168e82f7cd/src/Ocelot/Cache/Middleware/OutputCacheMiddleware.cs#L44

On the second time I perform a request on a reroute, and configuration has been cached.

It appears `DownstreamRoute.ReRo

[2017-11-09 09:47] TomPallister opened #147 "Ocelot doesnt response env in configuration.json"
see file configuration repository

@sharpn spotted this at work! Need to support configuration.dev.json etc the problem is in the FileConfigurationRepository because it hard codes configuration.json in there...sigh at me.

[2017-11-09 09:53] TomPallister opened #148 "Ocelot doesnt let you start it without consul or cache settings.."
Ocelot doesnt let you start it without consul or cache settings..

We need an ocelot services builder e.g.

services.AddOcelot(stuff).AddConsulStore().AddCaching(settings).AddStuff().AddBlah()

Just a refactoring job really.

[2017-11-09 16:16] hampos commented on #146
Just a small update, I'm using the `Json` serializer on `CacheManager`
[code]
since Binary is not available for projects targeting cross platform frameworks.
From the documentation on CacheManager
[code]
It appears that Json.NET cannot deserialize to `CurlResponseMessage` , which is the Unix HttpResponseMessage implementation, since it does not have a valid constructor for that.

https://github.co

[2017-11-09 17:42] TomPallister commented on #142
I've made a bunch of changes that will enable users to manage the configuration in Consul check out the [PR](https://github.com/TomPallister/Ocelot/pull/149).

I think another step might be to store the FileConfiguration(external config, meant to be changed by users) in Consul rather than the OcelotConfiguration (internal config, not meant to be changed by users manually, should be changed with ad

[2017-11-10 09:08] TomPallister commented on #146
@hampos probably create another issue for the CurlResponseMessage problem.

With regards to the cache options naming I can't seem to replicate the issue with a failing test. Is this something you could help me with?

[2017-11-10 10:30] hampos commented on #146
@TomPallister Sure I'll give it a shot,
It's probably not possible to create a unit test for this because the problem lies in the deserialization of the cached JSON value by CacheManager's `ICacheSerializer` implementation.
This will probably have to be an acceptance test that spins up Ocelot with a CacheManager configuration using an in-memory handler in order to be replicated.
I am not sure if C

[2017-11-10 12:06] hampos commented on #142
@TomPallister
Thanks and great job on this, saw some major changes in the PR.
It seems to work fine on my original scenario, just a small comment here:
https://github.com/TomPallister/Ocelot/blob/1d61e403ed7b8ba51449c2c667536ee35f0f913a/src/Ocelot/LoadBalancer/Middleware/LoadBalancingMiddleware.cs#L35
`LoadBalancingMiddleware` hits `_configProvider.Get()` , accessing the cache to get the Ocelot co

[2017-11-10 13:41] TomPallister commented on #146
@hampos I think it just stores the object in memory and doesnt serialise because I already have an acceptance test for this and it works. Debugged it this morning and seemed fine.

[2017-11-10 13:41] TomPallister commented on #142
@hampos I agree will look into it, thanks for the help!

[2017-11-10 18:13] TomPallister commented on #142
Made some more changes based on comment around the configuration!

[2017-11-10 18:25] albertosam commented on #116
Take a look @piyey @TomPallister

https://github.com/albertosam/Ocelot/tree/develop/src/Ocelot.Client

[2017-11-10 23:48] hemantkd commented on #147
Hi Tom,
I have a lot to learn but I'd still like to contribute in small ways.

[2017-11-12 05:23] TomPallister commented on #147
@hemantkd all contributions are welcome! Would you like some more information about this issue?

[2017-11-13 13:11] hampos commented on #146
Hey @TomPallister
I've opened a pull request for the acceptance test here:
https://github.com/TomPallister/Ocelot/pull/151

[2017-11-13 15:22] hampos commented on #142
@TomPallister works great, thanks!

[2017-11-13 15:39] hampos opened #152 "HttpResponse can't be deserialized when cached in Redis"
This feels like a platform specific issue, I'm running Ocelot in a docker container from the `microsoft/aspnetcore:2.0` image which is a Debian implementation, but haven't tested it directly on Windows.
The issue happens when using a `CacheHandler` with Json Serialization and serializing an `HttpResponse`.
It seems that Json.NET can't deserialize the Unix implementation of HttpResponse `CurlRespon

[2017-11-13 16:30] hampos commented on #152
@TomPallister
An update on this, with the `InMemoryJsonHandle` from the pull request https://github.com/TomPallister/Ocelot/pull/151
I believe I created an acceptance test that exposes this.
It seems it isn't a platform specific issue after all, and `HttpResponse` version of Windows implementation can't be deserialized from Json as well.
I have created a pull request with the test on develop
https

[2017-11-13 20:28] piyey commented on #141
Nice @geffzhang , I will take a look at it.
Thank you!

[2017-11-13 20:31] piyey commented on #116
Thank you @albertosam , I will take a look at it and test it.
Best regards!

[2017-11-13 20:37] TomPallister commented on #142
@hampos I'll merge this when Ive got the documentation updates ready.

[2017-11-13 20:38] TomPallister commented on #152
@hampos might need to map it to something else as you suggested!

[2017-11-13 20:46] TomPallister commented on #142
actually that doesn't matter I only need to do that when I do a release.

[2017-11-13 20:47] TomPallister opened #154 "Consider a way to generate route config first time a reroute is requested"
we need this to support storing fileconfiguration in consul etc

mroe detail to follow

[2017-11-13 22:55] piyey commented on #116
@albertosam I'm trying to use Ocelot.Client but I got an error when running the web api:

'Could not load file or assembly 'Ocelot.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'. El sistema no puede encontrar el archivo especificado

Do I have to register some service before calling services.AddOcelotConfigurationGen();?

[2017-11-14 10:11] albertosam commented on #116
@piyey Try to run the test project https://github.com/albertosam/Ocelot/tree/develop/test/Ocelot.Client.ManualTest

[2017-11-14 10:20] dbarkwell commented on #147
Are you thinking merge/override configuration files like appsettings or a single configuration based on environment?

[2017-11-14 13:15] TomPallister commented on #142
waiting for release

[2017-11-14 13:15] TomPallister commented on #146
waiting for release

[2017-11-14 13:18] TomPallister commented on #147
I'm not sure at the moment, will have a think!

[2017-11-14 13:21] hampos commented on #152
@TomPallister
I did a little digging in .Net Core's implementation on Response Caching.
They seem to be storing in their cache a `MemoryCachedResponse` object
https://github.com/aspnet/ResponseCaching/blob/f616f3e891405d89ad21f4ff53848ca289784fb6/src/Microsoft.AspNetCore.ResponseCaching/Internal/MemoryResponseCache.cs#L60

which is a transformation of a `CachedResponse`
https://github.com/aspnet/R

[2017-11-14 13:56] TomPallister commented on #152
@hampos how is this middleware used? Is it something we can already register in asp.net core and use instead of the output caching I wrote for Ocelot? Or is it something we can just pull in and use instead? Or is this something we can copy to get it working with CacheManager? I can't see that this middleware hooks into a distributed cache for example? But we could add it I guess as its open source

[2017-11-14 15:09] piyey commented on #116
@albertosam I did and it worked fine, but when I use it in my project it doesn't work :(

[2017-11-14 15:30] hemantkd commented on #147
How about something of this form:
        public Response<FileConfiguration> Get(string enviromentName)
        {
            var configFilePath = $"{AppContext.BaseDirectory}/configuration.{enviromentName}.json";
			.
			.
			.
        }
Similarly for the Set method in the FileConfigurationRepository.

Would this work, to at least give an environment based support?

[2017-11-14 16:21] hampos commented on #152
@TomPallister Yeah, my thoughts exactly, I was looking a way to hook it up with a distributed cache and didn't see any.
The middleware exists in the `Microsoft.AspNetCore.ResponseCaching` or the `Microsoft.AspNetCore.All` package. It seems pretty sophisticated, uses `Cache-Control` headers etc.
Will do some research on how to make it work with CacheManager and report back.

[2017-11-14 16:43] albertosam commented on #116
@piyey show the .csproj from your web project

[2017-11-14 17:08] TomPallister commented on #147
@hemantkd yep I think it might work! Give it a try if you have time.

[2017-11-14 17:31] dbarkwell commented on #147
Could also pass ihostingenvironment into the class and get the environmentname property.

[2017-11-14 17:33] hemantkd commented on #147
@TomPallister Cool. Will give it a go as soon as I find some time.
The related unit tests could use some refactoring before I make any changes to the code, I think.

[2017-11-14 17:46] hemantkd commented on #147
@dbarkwell not sure if need the dependency on ihostingenvironment when all we will be using really is just one property from it?

[2017-11-15 08:30] TomPallister commented on #142
released a new package
Install-Package Ocelot -Version 2.0.1
should work a bit better now.

I've opened another issue to think about storing the FileConfiguration in Consul rather than the internal OcelotConfiguration.

[2017-11-15 08:30] #142 closed

[2017-11-15 08:30] TomPallister commented on #146
released a new package
Install-Package Ocelot -Version 2.0.1
should work a bit better now.

[2017-11-15 08:30] #146 closed

[2017-11-15 10:18] dbarkwell commented on #147
@hemantkd you'd have to change the interface to implement your solution. would be easier to make the change on the concrete class. just my $0.02.

[2017-11-15 10:41] hemantkd commented on #147
@TomPallister what do you say? :)

[2017-11-15 12:00] TomPallister commented on #147
try both and see what you prefer..

My guess is ihostingenvironment passed into the constructor would be better and follow the standards.

[2017-11-15 12:09] hemantkd commented on #147
Sure, I'm here to play and learn.
Can you please shed some light on what standard is that specifically so that I can read about it?
Trying to unlearn the bad ways and learn the good ways. :)

[2017-11-15 15:12] TomPallister commented on #147
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments

and then you can use the ihostingenvironment  to get the current environment and append it to any configuration files you want to use! such as appsettings!

[2017-11-15 19:01] hemantkd commented on #147
@TomPallister I have not used Git for collaborative work before and have never contributed before too. I'm using Visual Studio 2017 and the steps from https://docs.microsoft.com/en-us/vsts/git/gitquickstart?tabs=visual-studio. Apologies for my lack of knowledge but I never had an opportunity to use Git at work.

I have created a local branch named 'feautre/fix-#147'. Made the code changes. Done 'C

[2017-11-15 20:34] TomPallister commented on #147
@hemantkd don't worry you can't mess to much up with git!

Did you fork Ocelot? If not then you want to do this because you cannot make any changes to the ocelot repository.

Basically you fork (copy) Ocelot into your github account. You make changes to that repo. Then when you are happy you open a pull request against my ocelot repo. I will review the code and when all is good merge the changes f

[2017-11-16 04:34] geffzhang commented on #144
This is  case https://customers.microsoft.com/en-us/story/tencent-telecommunications-dotnetcore

[2017-11-16 07:31] TomPallister commented on #144
@geffzhang amazing!!!! That is so cool!

Thanks for linking it here. I think I will move Ocelot soon. I'm just not sure if I want to use the name ThreeMammals or make a new one.

Thanks for using the project and contributing to it!!

[2017-11-16 09:47] TomPallister commented on #144
I also found out David Fowler tweeted the project https://twitter.com/davidfowl/status/927784832284758016 !!!

[2017-11-16 21:48] piyey commented on #116
[code]

[2017-11-17 07:09] Eilyyyy opened #156 "file configuration error validate error message always empty in exception message"
error message create in here,
https://github.com/TomPallister/Ocelot/blob/d3774820137c00fea50b6d01fff8f4089f6df305/src/Ocelot/Configuration/Validator/FileConfigurationValidator.cs#L33
 you send the error result to the OkResponse object but OkResponse's constructor not set the error list to her Errors propertity, and here https://github.com/TomPallister/Ocelot/blob/d3774820137c00fea50b6d01fff8f4089

[2017-11-17 16:43] TomPallister commented on #154
Ive changed my mind if consul is being used we will poll it every second to see if the configuration has changed.

[2017-11-17 17:58] #154 closed

[2017-11-17 18:44] TomPallister commented on #145
@cqkisyouq I've started looking at this issue.

I can see various problems in how I'm building the regex that matches urls. Previously I assumed that it was OK to have urls always end with a forward slash because I didn't think anyone would use Ocelot to serve files!

Anyway I will see what I can do to get your use case working.

[2017-11-18 14:32] TomPallister commented on #145
@cqkisyouq please ignore previous comment.

This class UpstreamTemplatePatternCreator generates the regex that matches the upstream request coming into ocelot. It is not the code that decides what url to use when making a downstream request. I believe your problem is with the downstream request.

I'm struggling to replicate your issue. Please can you tell me which version of Ocelot you are using?

[2017-11-18 14:38] TomPallister commented on #145
@cqkisyouq

I have also noticed this part of your config. That should cause Ocelot to not work. I think you might have an older version of Ocelot.

[code]

Please use Install-Package Ocelot -Version 2.0.1 to get the latest!

[2017-11-18 15:27] TomPallister commented on #145
Ive got a branch here with some changes that I think fix your issue but I havent been able to get a failing test yet.

https://github.com/TomPallister/Ocelot/tree/feautre/fix-%23145

[2017-11-18 16:29] TomPallister commented on #145
OK I have a test for the issue! Pushed with my latest commit to that branch

[2017-11-19 08:30] cqkisyouq commented on #145
@TomPallister
That configuration is version 2.0.

static files：
It can be implemented on branches  https://github.com/TomPallister/Ocelot/tree/feautre/fix-%23145
I see have cancel that code.   // upstreamUrlPath = upstreamUrlPath.SetLastCharacterAs('/');

Thank you for your attention！

[2017-11-19 21:01] #145 closed

[2017-11-19 21:06] TomPallister commented on #156
@Eilyyyy thanks for letting me know! Must just be a mistake. I will take a look asap.

[2017-11-19 21:20] TomPallister commented on #145
@cqkisyouq please try

Install-Package Ocelot -Version 2.0.2

Hopefully will work now.

[2017-11-20 12:41] #147 closed

[2017-11-22 07:08] #148 closed

[2017-11-23 03:08] ravinsp commented on #116
Hi guys, I'm pretty new to Ocelot (and microservices architecture) and still finding my way around this great project. This is a sanity check for my own knowledge. I find this ability to "generate" reroute configs like in Swashbuckle from your microservice's api very useful. But doesn't it go against the very idea of decoupling the API gateway with your microservices? Everytime you change some par

[2017-11-23 07:29] TomPallister commented on #116
@ravinsp I think your approach is fine. In some scenarios you might want different with load balancer, auth, service discovery rules which is where you will use specific reroutes.

It is also fine to generate your config! One size does not fit all :)

[2017-11-23 08:22] hampos commented on #152
@TomPallister
I started doing some work on porting the `ResponseCachingMiddleware` to Ocelot to merge its functionality with `OutputCacheMiddleware`.
The problem is that it uses various stuff declared as internal by other classes in the package. I finally had to move the entire package source inside Ocelot for it to access all its dependencies.
Then I realized this is pointless, we will be porting

[2017-11-23 08:41] TomPallister commented on #156
started working on this here https://github.com/TomPallister/Ocelot/pull/160

[2017-11-23 12:36] murbanowicz opened #161 "Support for Swagger to generate and expose API documentation?"
Hi,

I found this project and it looks really promising, however in my case it is really important to have Swagger / Swagger explorer on the gateway.
Is there any plan for supporting that? You can easily add swagger to each microservice using: https://github.com/domaindrivendev/Swashbuckle.AspNetCore

All what Ocelot would have to do is to consume the swagger.json from each microservice and expose

[2017-11-23 22:07] kuncevic opened #162 "nodejs microservice"
Say if one of my micreserivces written in nodejs can ocelot handle such case?

Say I want to have this sort of architecture:
`Identityserver`
`OcelotGeteway_api0`
`core2.0_api1`
`core2.0_api2`
`nodejs_api3` (want to make sure If there is a way to take care of this one wih Ocelot Gateway)

[2017-11-24 00:00] TomPallister commented on #162
@kuncevic It doesn’t matter what your downstream services are built with if they communicate using http(s).

[2017-11-24 00:02] #162 closed

[2017-11-24 00:03] TomPallister commented on #161
@murbanowicz swagger support would be great! This is an open source project so you can fork and build it yourself! I will happily merge into master!! I will do this myself eventually but it’s quite complicated because Ocelot can change its configuration will running which means swagger would also need updating!

[2017-11-24 00:03] TomPallister commented on #152
@hampos maybe we should just map and then cache...would be easier?

[2017-11-24 15:03] murbanowicz commented on #161
How to work on it?
I have never developed Nuget package so don't know how to start and test it as I would need some simple service/s connected to develop it and test.

[2017-11-24 18:33] TomPallister commented on #161
@murbanowicz I'm not sure :)

It's quite hard. I don't know much about swagger but I think you create a swagger.json file and then swagger uses that to load the documentation.

This means ocelot would need to generate that file based on the users configuration which could be done on init from either the configuration.json or consul (if using that feature). However whenever the configuration change

[2017-11-24 20:49] TomPallister opened #164 "Replace FileConfigurationValidator with something using FluentAssertions or any other cool validation framework"
Replace FileConfigurationValidator with something using FluentAssertions or any other cool validation framework.

Basically rolled my own validation early on..its shit. Needs replacing with something better. I suggest FluentAssertions if it works in .net core else find something decent.

If it is FluentAssertions that needs to be used as a single instance dont instantiate the thing that builds the

[2017-11-24 20:55] hampos commented on #161
@TomPallister  @murbanowicz
This sounds like an interesting feature.
The way swagger works is, on the application's start it scans the controllers and their methods and creates the swagger.json file.
When you access the swagger UI, its just a javascript app that retrieves that swagger.json and creates UI elements according to instructions in that json. It recreates the UI each time you load the pa

[2017-11-24 21:10] #156 closed

[2017-11-24 21:13] TomPallister commented on #161
ohh I've misunderstood this. I thought the issue was to create swagger.json from the Ocelot configuration in configuration.json or consul.

Looking at downstream services and making one is quite complicated! I think that might be a feature for long term future!

[2017-11-24 21:16] #77 closed

[2017-11-25 14:47] #152 closed

[2017-11-26 19:01] TomPallister commented on #161
I think this feature is to complicated to implement in a non crappy way.

The best thing to do is probably have a user make their own swagger.json (however they want) and then use the MapWhen functionality of the app builder to direct people to the swagger endpoint using the swashbuckle package.

[2017-11-27 03:21] Eilyyyy opened #166 "could you change AddOcelot extension method IConfigurationRoot paramter to IConfiguration type ?"
Why does `ocelot`'s extension method `AddOcelot` accept a parameter that it's type is IConfigurationRoot,  in this way i can only config in a single file, i want config like this
![image](https://user-images.githubusercontent.com/9607459/33249013-02483934-d363-11e7-8b5a-c86f7e4f0024.png) so ,Could you change the ocelot extension method "AddOcelot" so that it accepts an "IConfiguration" parameter i

[2017-11-28 21:22] TomPallister commented on #166
@Eilyyyy thanks for creating this issue! Why do you want to do this rather than having a separate configuration.json file for Ocelot?

If I change it I will break the behaviour for people already using Ocelot.

The reason the configuration is not in the appsettings.json file is that I did not want to pollute it with Ocelot specific configuration. It's not really appsettings in my opinion.

I will

[2017-11-28 21:49] TomPallister commented on #166
@Eilyyyy I have had a look at it and it's not something I'm going to work on at the moment. The configuration.json works for now and I can't see massive value in giving an option to have the Ocelot settings in appsettings.

If you want you could submit a pull request that adds this functionality.

Thanks again for opening the issue!

[2017-11-28 21:54] TomPallister commented on #127
Hi there, I'm closing this because it's been quite a few days since this was discussed and I am not planning to implement this feature myself anytime soon.

Sorry!!!

Thanks for your contribution though! :D

[2017-11-28 21:54] #127 closed

[2017-11-28 21:55] TomPallister commented on #112
Hi there, I'm closing this because it's been quite a few days since this was discussed and I am not planning to implement this feature myself anytime soon.

Sorry!!!

Thanks for your contribution though! :D

[2017-11-28 21:55] #112 closed

[2017-11-28 21:55] TomPallister commented on #106
I'm OK with this now after removing a few things

[2017-11-28 21:55] #106 closed

[2017-11-28 21:56] TomPallister commented on #101
Hi there, I'm closing this because it's been quite a few days since this was discussed and I am not planning to implement this feature myself anytime soon.

Sorry!!!

Thanks for your contribution though! :D

[2017-11-28 21:56] #101 closed

[2017-11-28 21:57] #113 closed

[2017-11-28 21:58] TomPallister commented on #113
Closing this because there hasnt been activity for a while! Feel free to re-open if relavent.

[2017-11-28 21:58] TomPallister commented on #108
@amituna did you ever get this working?

[2017-11-28 21:59] TomPallister commented on #121
@aqa510415008 did you ever get this working?

[2017-11-28 21:59] TomPallister commented on #138
@Cglvzh did you ever get to the bottom of this?

[2017-11-29 03:36] Eilyyyy commented on #166
@TomPallister i don't think add a override that take IConfiguration is a good idea. it's make people be confused that two method take param so similar.
i think it will not break the behaviour of people already using Ocelot, because IConfigurationRoot is inherit from IConfiguration, of course, i will do more test and give you a feedback.

[2017-11-29 08:00] TomPallister commented on #166
@Eilyyyy I don't think that it will be possible to do because in certain situations Ocelot writes to configuration.json. In some ways it is better to think of configuration.json as a database.

configuration.json provides an object called FileConfiguration. This can also be provided by Consul and I am thinking about doing an SQL server & SQL lite version of the FileConfiguration provider.

I think

[2017-11-29 09:15] ZhifuFeng opened #167 "Integrate with identity server 4"
Dear Tom,
I would like to use identity server 4 for authencation in ocelot. could you write one blog with detail steps for it?
thank you very much.

[2017-11-29 09:56] ZhifuFeng commented on #76
@juancash
Could you provide detail steps about how to integrate identity server 4 with ocelot? thank you very much.

[2017-11-29 21:13] TomPallister commented on #167
@ZhifuFeng I will improve the documentation ASAP!

[2017-11-30 02:14] ZhifuFeng commented on #167
That is great. thank you.

[2017-12-01 08:15] TomPallister commented on #167
@ZhifuFeng please read http://ocelot.readthedocs.io/en/latest/features/authentication.html# and http://ocelot.readthedocs.io/en/latest/features/authentication.html#identity-server-bearer-tokens

Does that help?

[2017-12-01 08:17] TomPallister commented on #108
http://ocelot.readthedocs.io/en/latest/features/authentication.html#identity-server-bearer-tokens

[2017-12-01 08:17] #108 closed

[2017-12-01 08:18] #121 closed

[2017-12-01 08:19] #138 closed

[2017-12-01 10:06] ZhifuFeng commented on #167
@TomPallister  it doesn't work. I use postman to access my API via ocelot , but meet "500 Internal Server Error".
My identity server is working well. I can request one token from it.

Another question:
what is ApiName, ApiSecret mean in below code? it is equeal to attribute ClientId, ClientSecrets of  IdentityServer4.Models.Client?

  Action<IdentityServerAuthenticationOptions> options = o =>

[2017-12-01 10:18] ZhifuFeng commented on #167
what is ApiName, ApiSecret mean in below code? it is mapping to attribute ClientId, ClientSecrets of IdentityServer4.Models.Client?

[2017-12-01 17:11] awarrenlove opened #169 "IRequestScopedDataRepository lifetime issue"
The IRequestScopedDataRepository dependency is registered by OcelotBuilder with a scoped lifetime. However, it is used by AspDotNetLoggerFactory, which is registered with a singleton lifetime.

The DI container in ASP.NET Core 1.x allowed this to happen, but ASP.NET Core 2.x throws a runtime exception when one dependency uses another with a smaller lifetime. It is a simple change to make IRequestS

[2017-12-01 18:17] TomPallister commented on #167
@ZhifuFeng ApiName is the name of the IdentityServer4.Models.ApiResource. The secret is one of it's secrets which is the type IdentityServer4.Models.Secret. It does not map to ClientId or ClientSecrets.

[2017-12-01 18:19] TomPallister commented on #169
@awarrenlove thanks for helping out!

This whole part of Ocelot needs looking at tbh. How can I get a failing test for this? I would expect this to happen all the time but it does not fail for me :(

[2017-12-01 18:28] TomPallister opened #170 "ErrorResponse has a generic but doesnt seem to use it.."
ErrorResponse has a generic but doesnt seem to use it not sure if this was just me being stupid. Need to look into it and fix.

[2017-12-01 19:41] awarrenlove commented on #169
I'm having a hard time simulating it as well. When I run the application, it throws an InvalidOperationException. When I set up the DI container using the OcelotBuilder and manually request the same service instance it resolves just fine. I'll keep working with it and update once I figure out a reproducible test.

[2017-12-04 06:55] ZhifuFeng commented on #167
@TomPallister
Below is the code in Identity Server4 Auth Server, it doesn't specify any secret, so i can set o.ApiSecret  as blank, right? should i set any claimType for the apiResource?

    public static IEnumerable<ApiResource> ApiResources()
        {
            return new[]
            {
                new ApiResource("socialnetwork","socialnetwork")
            };
        }

[2017-12-04 07:06] #170 closed

[2017-12-04 08:13] TomPallister commented on #167
@ZhifuFeng yes you would not need to set the secret.

All you are doing is using the [IdentityServer4.AccessToken middleware](https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation). If you read the instructions from IdentityServer how to use this that might help.

[2017-12-04 08:55] ZhifuFeng commented on #167
@TomPallister it work well now with identity server 4. thank you very much.
it is important to add option **_RequireHttpsMetadata =false_**, otherwise will meet 500 error.

 services.AddAuthentication(IdentityServerAuthenticationDefaults.AuthenticationScheme)
            .AddIdentityServerAuthentication(authenticationProviderKey, options =>
            {
                options.RequireHttpsMetadat

[2017-12-04 08:55] #167 closed

[2017-12-04 15:13] awarrenlove commented on #169
I found it. The problem is the newer project templates for ASP.NET Core 2 use WebHost.CreateDefaultBuilder, which sets ServiceProviderOptions.ValidateScopes to true for the Development environment. https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.serviceprovideroptions.validatescopes?view=aspnetcore-2.0

I created a new test under your OcelotBuilderTests that de

[2017-12-04 20:12] TomPallister commented on #169
@awarrenlove OK cool thanks for the failing test!

So I'm not sure what to do..

When I originally envisioned IRequestScopedDataRepository I was going to have something in memory per request to persist Ocelot specific data. In the end all I did was create HttpDataRepository (Should probably be called HttpContextRepository) and store the per request data on the HttpContext.Items dictionary. It's no

[2017-12-04 20:20] TomPallister opened #172 "AppVeyor doesnt fail build when it fails"
No idea why but AppVeyor doesnt fail build when it fails.

e.g. https://ci.appveyor.com/project/TomPallister/ocelot-fcfpb/build/2.1.0-PullRequest.168+20.build.425

Work out why and fix.

[2017-12-04 20:39] TomPallister commented on #172
Could be this https://github.com/cake-build/cake/issues/1478

[2017-12-05 18:30] #164 closed

[2017-12-06 08:24] #172 closed

[2017-12-07 23:16] geffzhang commented on #19
I have used app Metrics to do a demo ocelot demo, can measure the amount of requests, etc., lack of an implementation how to measure each API request monitoring metricshttps://github.com/geffzhang/NanoFabric/commit/794dd398cdc4676f6c2e7e7cc3e58f14539af4c9

[2017-12-08 08:44] rocketRobin commented on #55
Nice!

[2017-12-08 12:46] binarymash commented on #172
@TomPallister out of interest did the exit statement fix the problem? Got a few pipelines of my own to fix... ;)

[2017-12-08 17:37] TomPallister commented on #19
thanks @geffzhang I'll take a look at this!

[2017-12-08 17:37] TomPallister commented on #172
@binarymash yes it did!

[2017-12-12 07:46] TomPallister commented on #169
merged and fixed

[2017-12-12 07:46] #169 closed

[2017-12-13 18:10] TomPallister opened #175 "Allow services to register with Ocelot Cluster"
I'm putting this here because I had a thought on the train. This potentially removes the need for consul providing the service locations. However fully understand sticking with consul as it is probably way better than my raft implementation and does a lot of other stuff!

**Happy path**
When raft finished allow services to register with Ocelot.
The service can call Ocelot's administration API with

[2017-12-13 18:12] TomPallister opened #176 "Allow Ocelot to store public configuration in Cluster"
I'm putting this here because I had a thought on the train. This potentially removes the need for consul storing the FileConfiguration. However fully understand sticking with consul as it is probably way better than my raft implementation and does a lot of other stuff!

**Happy path**
User uses administration API to manage Ocelot
Configuration is stored in Cluster
Backed by raft

[2017-12-15 17:29] binarymash opened #177 "Optimise build scripts"
There's a couple of things we can do to make the build scripts run a little bit faster:

- with dotnet core sdk 2.0 restore is now implicit during build. So, we can remove the explicit restore step from the build
- when we run tests it will currently rebuild the project. Given that the tests depend on the compile task we don't need this, and we can prevent it by passing in the --no-build argument

[2017-12-15 17:35] TomPallister opened #179 "Have a look at how the Administration API stuff works"
Perhaps get rid of the crazy way I've done the administration API authentication and just use client credentials

[2017-12-18 22:11] TomPallister commented on #177
@binarymash shall we close this one?

[2017-12-19 09:24] binarymash commented on #177
Yep.

[2017-12-19 09:24] #177 closed

[2017-12-20 17:24] KhalilMohammad opened #180 "Update documentation to asp.net core 2.0"
Provide documentation for both asp.net core 1.x and asp.net core 2.x for both program.cs and startup.cs

[2017-12-21 03:08] axzxs2001 opened #181 "ocelot + consul load balancing recovery service api problem"
I use ocelot + consul service discovery, when the same service api configuration two consul server node, the load balancing can work normally, when a service exits, ocelot can no longer request the correct exit service api, but when this service is back to normal, how can we allow the load balance to access this service API again？

[2017-12-22 06:10] TomPallister commented on #180
Hi @KhalilMohammad thanks for your interest in the project!

Can I ask what your motivation is for asp.net core 1.0 documentation? I'm a bit confused because Ocelot is now an netcoreapp2.0 project only!

[2017-12-22 06:12] TomPallister commented on #181
Hi @axzxs2001, thank you for your interest in the project.

I do not fully understand the issue. Would it be possible to write a failing test showing the problem? Ocelot already has the infrastructure in place to write tests around the consul load balancing.

If not please provide more detail and I will try and work it out!

[2017-12-22 06:27] axzxs2001 commented on #181
thank you, in configuration.json ,I change "LoadBalancer" to  "RoundRobin" is ok.

[2017-12-22 13:28] KhalilMohammad commented on #180
Actually I am not interested in asp.net 1.0 but I have seem parts of documents which are asp.net 1.0 only.
For example startup.cs and program.cs

[2017-12-23 10:29] TomPallister commented on #180
Ohh do they not work for asp.net core 2.0?

I might have missed that in the docs :(

[2017-12-23 11:32] KhalilMohammad commented on #180
I managed to get it working but I would love to have docs that cover all cases.

[2017-12-26 23:20] TomPallister commented on #180
What changes did you need to make to get it working? I can use that for the docs!

[2017-12-27 22:53] xxsybreedxx opened #183 "Logging not writing OcelotRequestId"
Hi, im using Ocelot v2.0.4 and I'm facing a minor issue with logging (or maybe my configuration is wrong).

In my case I am using basic implementation.

![default](https://user-images.githubusercontent.com/3993463/34395374-566d7cdc-eb68-11e7-962c-fbfd2684acc8.png)

My configuration file:

  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/values",
      "DownstreamScheme": "http",
      "

[2017-12-28 18:57] TomPallister commented on #183
@xxsybreedxx hey thanks for contributing! The config looks OK to me so not sure why it doesn't work.

I will have a look when I get a chance! On my open source holiday at the moment ;)

[2017-12-29 18:37] xxsybreedxx opened #184 "Aggregation of multiple responses from downstream services"
Hi,

It would be great to have multiple response aggregation functionality. Some time ago I was participating in the development of one microservice-based solution, and there was  a custom made API Gateway service which was able to create multiple requests to different downstream services, then, when all responses are received Gateway was making a data aggreagation (from multiple DTOs to single on

[2017-12-31 06:13] cqkisyouq opened #185 "Routing regular expression matching problem"
"DownstreamPathTemplate": "/{url}"
"UpstreamPathTemplate": "/{url}"
"DownstreamHost": "localhost"
"DownstreamPort": "8080"

request-> localhost:5000
target->localhost:8080
result  error->404

“/”  not match  ^/[0-9a-zA-Z]*$

I hope this can match Or I'll have to configure it two times

example：
"DownstreamPathTemplate": "/"
"UpstreamPathTemplate": "/"
"DownstreamHost": "localhost"
"DownstreamPort"

[2018-01-01 10:23] TomPallister commented on #184
Hi @xxsybreedxx

This feature has previously been requested in issue #79 it is something that I have considered implementing but haven't done yet. If this is something you would like to try implement yourself in Ocelot then there has been a discussion around it in that issue.

I will close this as a duplicate of the that issue! Hope thats OK.

[2018-01-01 10:23] TomPallister commented on #184
duplicate of #79

[2018-01-01 10:23] #184 closed

[2018-01-01 10:25] TomPallister commented on #185
@cqkisyouq This looks like a bug to me.

For now I would suggest doing having two configurations and I will fix it ASAP! Sorry about this.

Thanks for finding the issue and reporting it! :D

[2018-01-01 19:01] #176 closed

[2018-01-01 19:02] TomPallister commented on #181
Re-opening because I would like to look into this more

[2018-01-01 19:03] TomPallister commented on #179
done with raft work

[2018-01-01 19:03] #179 closed

[2018-01-02 09:02] axzxs2001 commented on #181
Hi, firstly, I set LeastConnection for LoadBalancer option in my configuration file.
However, one of my node in the cluster is down, after restarting the service, ocelot
can't auto find the restarted node. Then I changed the LoadBalancer option as RoundRobin,
Ocelot can find the restartd service well. So it looks like I use a wrong value for
LoadBalancer config option.

[2018-01-02 09:12] KhalilMohammad commented on #180
Sorry for late reply. I was on holiday. I will be sending changes soon.

[2018-01-02 18:51] TomPallister commented on #185
will close when change is in nuget package.

[2018-01-02 19:13] TomPallister commented on #185
@cqkisyouq fixed in https://github.com/TomPallister/Ocelot/releases/tag/2.0.6

[2018-01-03 03:20] cqkisyouq commented on #185
@TomPallister Thank you for the change.
But There is a new problem,No placeholder replacement.

This is the last URL of the request:

{Method: GET, RequestUri: 'http://localhost:39343/{url}', Version: 1.1, Content: }

[2018-01-03 03:25] cqkisyouq commented on #185
@TomPallister
because  templateVariableNameAndValues  not find
 if (urlMatch.Data.Match)
                {
                    var templateVariableNameAndValues = _urlPathPlaceholderNameAndValueFinder.Find(upstreamUrlPath, reRoute.UpstreamPathTemplate.Value);

                    return new OkResponse<DownstreamRoute>(new DownstreamRoute(templateVariableNameAndValues.Data, reRoute));

[2018-01-03 07:04] TomPallister commented on #185
@cqkisyouq arghhhhhhh! That’s weird not sure how the tests passed! I will have another look.

[2018-01-03 07:14] cqkisyouq commented on #185
@TomPallister

This is the judgment that has always been false, and it needs to be dealt with in particular.

Class ：
UrlPathPlaceholderNameAndValueFinder->Find
Arg1->upstreamUrlPath="/"
Arg2->upstreamUrlPathTemplate="/{url}"

if ((upstreamUrlPath.Length > counterForUrl) && CharactersDontMatch(upstreamUrlPathTemplate[counterForTemplate], upstreamUrlPath[counterForUrl]) && ContinueScanningUrl(count

[2018-01-03 07:15] TomPallister commented on #185
@cqkisyouq what is the http request to Oceolot? This seems to be working OK in the acceptance tests.

[2018-01-03 07:17] cqkisyouq commented on #185
@TomPallister request url->localhost:5000
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/{url}",
      "DownstreamScheme": "http",
      "DownstreamHost": "localhost",
      "DownstreamPort": 39343,
      "UpstreamPathTemplate": "/{url}",
      "QoSOptions": {
        "ExceptionsAllowedBeforeBreaking": 3,
        "DurationOfBreak": 10,
        "TimeoutValue": 5000
      }
    }
  ],

[2018-01-03 07:18] TomPallister commented on #185
@cqkisyouq thanks for the help I have replicated the problem. There is an issue with the RoutingTests as well! This is very important to identify so thank you very much!!

I will start fixing it this morning before work.

[2018-01-05 03:21] dbarkwell commented on #183
If I'm reading the code correctly, should: _requestScopedDataRepository.Add("RequestId", requestId.RequestIdValue) be set in SetOcelotRequestId in RequestIdMiddleware.cs?

[2018-01-05 07:36] TomPallister commented on #183
@dbarkwell I think so that would make sense it’s been a while since I looked at that middleware. I’m working on another issue then I’ll look at this!

[2018-01-05 08:25] TomPallister commented on #183
I think you need IncludeScopes set to true in appsettings.json

{
  "Logging": {
    "IncludeScopes": true,
    "LogLevel": {
      "Default": "Trace",
      "System": "Information",
      "Microsoft": "Information"
    }
  }
}

I haven't checked yet just a quick look. Maybe I have missed this from the docs.

Line 44 of request Id middleware we set

context.TraceIdentifier = upstreamRequestIds.Fir

[2018-01-05 09:46] cqkisyouq commented on #185
@TomPallister Looking at it, it hasn't found a problem yet.

[2018-01-05 09:50] TomPallister commented on #185
I might implement this an order of preference for the routing..

This article explains it well http://rion.io/2015/11/13/understanding-routing-precedence-in-asp-net-mvc/

basically if you have /{everything} that will be the lowest priority which means a user can still have specific routes on top of it if they want.

[2018-01-05 21:27] TomPallister commented on #185
@cqkisyouq let me know if you find any problems!

[2018-01-05 21:49] #185 closed

[2018-01-05 22:14] TomPallister commented on #183
Sorry ignore me include scopes gives you the asp.net request id

[2018-01-05 22:49] TomPallister commented on #183
Ive hacked some stuff together that got logging working on my local from #189

I guess we broke this somewhere during a refactor or something. I will see if I can make it better.

[2018-01-06 02:10] cqkisyouq commented on #185
Well, thank you for paying attention to this problem.

[2018-01-06 10:30] cqkisyouq opened #190 "Hope redirection can be routed"
I want to have a routing configuration for a redirected address.

[2018-01-06 13:35] TomPallister commented on #190
@cqkisyouq Do you mean you want your routing to follow redirects?

If so in configuration.json there is a property on the ReRoute called HttpHandlerOptions and that has a property called AllowAutoRedirect.

If you set this to true Ocelot should follow redirects.

[2018-01-06 16:57] TomPallister commented on #180
@KhalilMohammad Updated the docs here http://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html#net-core-2-0 let me know if you think I should add anything else.

Thanks for the interest in the project and contributing!! :D

[2018-01-06 16:57] #180 closed

[2018-01-06 16:58] TomPallister commented on #183
I've just pushed a new version 2.0.8 which fixes the request id problem.

Hopefully better docs around it here http://ocelot.readthedocs.io/en/latest/features/requestid.html

Please let me know if I've missed anything!

[2018-01-06 16:58] #183 closed

[2018-01-06 17:00] TomPallister commented on #166
@Eilyyyy this is done in version 2.0.8

Sorry I did not realise what you wanted until I looked into the code more.

[2018-01-06 17:00] #166 closed

[2018-01-06 18:53] oamm opened #191 "How implements Cors headers"
I implementing ocelot in my new project, i create the integration of my services in one point with ocelot but when i try to post, put, path or delete to a resource in my api gateway, the browser show me the message

I try to configure cors in gateway installing and implementing the package Microsoft.AspNetCore.Cors

`    public void ConfigureServices(IServiceCollection services)
    {
        serv

[2018-01-06 21:27] TomPallister commented on #191
@oamm thanks for your interest in the project.

Have you tried those CORS settings with a normal asp.net core project without Ocelot?

That would help us understand if Ocelot is a problem or if its just the CORS settings?

There is no specific CORS functionality in Ocelot so I expect this should work.

[2018-01-07 09:55] cqkisyouq commented on #190
@TomPallister No,I want to use the route to control the address for redirection

[2018-01-07 09:56] cqkisyouq commented on #190
Current redirection addresses are not controlled by routing

[2018-01-07 10:49] TomPallister commented on #190
Ahhh you want to return a 301 or 302 from Ocelot?

[2018-01-07 11:02] cqkisyouq commented on #190
@TomPallister Both return and non return can be available, but the address of the jump needs to be replaced on the specified route.

[2018-01-07 11:23] cqkisyouq commented on #190
headers->location: localhost:5000/a/b
(replace)->return replace a new url or find request to result for Reroutes

[2018-01-07 17:43] oamm commented on #191
Hi thanks so much for the advice, i tested the configuration directly in one service so i prove the configuration didnt work even without ocelot, so i change the implementation in this way and now is work with ocelot

`
        public void ConfigureServices(IServiceCollection services)
        {
            services.AddOcelot(Configuration)
                    .AddCacheManager(x =>

[2018-01-07 20:31] TomPallister commented on #191
@oamm awesome!! No worries glad it worked

[2018-01-07 20:31] #191 closed

[2018-01-07 21:55] TomPallister commented on #190
@cqkisyouq I'm sorry but I don't understand what you want Ocelot to do :(

Please could you try and explain with more detail?

Thank you :o

[2018-01-07 23:31] dbarkwell commented on #190
@cqkisyouq are you looking for the configuration to be updated for a 301?

[2018-01-08 02:22] cqkisyouq commented on #190
@dbarkwell Yes, I want to configure the jump address because the present jump address is not controlled.

[2018-01-08 02:56] cqkisyouq commented on #190
@TomPallister The absolute address is not controlled for ocelot, and the relative address is normal.
{
      "DownstreamPathTemplate": "/pay/{url}",
      "DownstreamScheme": "http",
      "DownstreamHost": "localhost",
      "DownstreamPort": "6773",
      "UpstreamPathTemplate": "/pay/{url}",
      "QosOptions": {
        "ExceptionsAllowedBeforeBreasking": 3,
        "DurationOfBreak": 10,

[2018-01-09 10:47] jakey188 opened #194 "ReRoutes bug?"
http://localhost:8362/api/user/info?id=1 is ok
http://localhost:3164/api/user/info?id=1 is ok
http://localhost:8330/api/product/info?id=1 is ok
http://localhost:3164/api/product/info?id=1 is 404

is my configuration.json
{
  "ReRoutes": [
  //{
    //  "DownstreamPathTemplate": "/{product}",
    //  "DownstreamScheme": "http",
    //  "UpstreamPathTemplate": "/{product}",
    //  "UpstreamHttpMeth

[2018-01-09 18:32] TomPallister commented on #181
@axzxs2001 this problem was a bug LeastConnection should work.

I have fixed it in PR #195 this will get merged soon.

[2018-01-09 18:41] TomPallister commented on #190
@cqkisyouq I think I might understand now.

You have a service that is returning a redirect but the base url returned in the location header is for the service not Ocelot?

This is not a feature that Ocelot supports at the moment.

The easiest way for you to make this work is probably add a piece of middleware before ocelot that does a replace on your url.

redirectmiddleware.cs
[code]

startup.cs

[2018-01-09 18:52] TomPallister commented on #194
@jakey188 This is a bug with missing validation I think!

I noticed on your configuration for the product re route you have

_"UpstreamPathTemplate": "//api/product/{product}",_

I think this is causing the problem (have a failing acceptance test for it).

I think I will add some extra validation that says after the / we must have something valid. I need to check if www.asdf.co.uk//2134 is valid i

[2018-01-10 00:39] jakey188 commented on #194
@TomPallister Hi!  "UpstreamPathTemplate": "//api/product/{product}"  It's not the key to the problem and I've already proved it ，//api/product/{product} This is due to the error of the hand.

[2018-01-10 08:18] cqkisyouq commented on #190
@TomPallister Yes, you're right. That's the function I want.

[2018-01-10 08:26] TomPallister commented on #194
@jakey188 it worked when I removed the // so I need more information if you are still having trouble :(

[2018-01-10 08:36] TomPallister commented on #194
@jakey188 If you turn logging onto Trace cant you send me the logs for when you get a 404?

[2018-01-10 18:36] TomPallister commented on #194
@jakey188 I have created a passing test for your scenario you can see it https://github.com/TomPallister/Ocelot/pull/197/files I cant work out why your scenario doesn't work for you!

[2018-01-10 21:03] TomPallister commented on #194
@jakey188 also you can try updating to latest ocelot version 2.0.10

[2018-01-11 02:21] jakey188 commented on #194
@TomPallister my try  updating to latest ocelot version 2.0.10  the problem is solved!

   thank you

[2018-01-11 02:23] #194 closed

[2018-01-11 05:52] chi7cha7rito opened #198 "Http 404 error"
i deployed the ocelot gateway on windwos server 2008 r2 + iis7. when i call the api from gateway i got http 404 error. i try to request the api directly is successful.
but i test on my own pc (windows 10 + iis 10), the gateway works.
what shoud i config my server 2008 r2 and iis7 ?

-----------log on my pc start----------
2018-01-11 13:39:26.6420|1|INFO|Microsoft.AspNetCore.Hosting.Internal.WebHos

[2018-01-11 19:17] #181 closed

[2018-01-12 02:39] chi7cha7rito commented on #198
fixed. it's releated with the folder permission.

[2018-01-12 02:39] #198 closed

[2018-01-15 01:35] jakey188 opened #199 "the problem of request consumption of gateway network"
I spent more network request time with the gateway。
http://localhost:8362/api/user/info?id=1 20ms - service address
http://localhost:3164/api/user/info?id=1 200ms-ocelot gateway
I've tried many times.I'm not very aware of the source code now, I will spend a certain amount of time studying ocelotsource code 。
I'm not sure the specific reason, but I hope you can restore this scene

[2018-01-15 07:25] chi7cha7rito commented on #199
i have the same problem about this.
i call the service address directly, it spent 73ms.
but i call the service var ocelot gateway, it spent 11022ms.
it's too slow.

[2018-01-15 09:04] chi7cha7rito commented on #199
hi @jakey188, if you host the api by Kestrel not use iis. the problem will be solved.

[2018-01-15 09:19] jakey188 commented on #199
@chi7cha7rito i not use iis.  this should not be the key to the problem.

[2018-01-15 10:05] TomPallister commented on #199
@jakey188

What logger level are you using and what type of logging? People often report performance problems with Ocelot and every time it is the logging in asp.net causing the problem.

Trying setting the logger level to Error or not using the console logger!

[2018-01-17 01:50] jakey188 commented on #199
@TomPallister i setting the logger lever to error. the problem is still the same

[2018-01-17 07:23] TomPallister commented on #199
@jakey188 please share your configuration.json. That might help us work out the problem.

[2018-01-17 07:28] jakey188 commented on #199
configuration.json
{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/user/{user}",
      "DownstreamScheme": "http",
      "DownstreamHost": "localhost",
      "DownstreamPort": 8362,
      "UpstreamPathTemplate": "/api/user/{user}",
      "UpstreamHttpMethod": [ "Get" ]
    }
    ,
    {
      "DownstreamPathTemplate": "/api/product/{product}",
      "DownstreamScheme": "http",

[2018-01-17 08:00] TomPallister commented on #199
@jakey188 can you also paste your program.cs and Startup.cs

[2018-01-17 08:03] jakey188 commented on #199
@TomPallister
public class Program
    {
        public static void Main(string[] args)
        {
            //IWebHostBuilder builder = new WebHostBuilder();
            //builder.ConfigureServices(s => {
            //    s.AddSingleton(builder);
            //});
            //builder.UseKestrel()
            //    .UseContentRoot(Directory.GetCurrentDirectory())
            //    .UseIISInteg

[2018-01-17 09:50] BowAngel opened #201 "May I use load balance in configuration file?"
Our application is a micro service architecture and there maybe has a facade service between the API gateway and business service, just like this:
![ddddddd](https://user-images.githubusercontent.com/8037477/35033850-22d376b6-fba7-11e7-912d-9a579190b1a2.PNG)

we use facade services to call multiple business services and aggregate results so that each micro service is not dependent on each other.

[2018-01-17 15:59] TomPallister commented on #201
@BowAngel you are correct at the moment Ocelot only load balances when using service discovery. It would be possible to change the file configuration to support reroutes with multiple hosts.

This isn't something I am planning to do at the moment but I will one day. If you would like to have a go at doing this yourself please do so! Thank you for your interest in the project and your contribution!

[2018-01-18 18:01] stuartsaltzman commented on #130
@TomPallister - The newly released Cake version 0.25.0 resolves the issue experienced when building on mac (mono) as described above. I tried building on mac using Cake v0.25.0 and it builds successfully without the workaround.

Cake 0.25.0 release notes (https://www.nuget.org/packages/Cake/0.25.0):
- ToDictionary on Mono causes "The type 'Dictionary<,>' is defined in an assembly that is not refer

[2018-01-18 18:02] stuartsaltzman commented on #98
@TomPallister - The newly released Cake version 0.25.0 resolves the issue experienced when building on mac (mono) as described above. I tried building on mac using Cake v0.25.0 and it builds successfully without the workaround.

Cake 0.25.0 release notes (https://www.nuget.org/packages/Cake/0.25.0):
- ToDictionary on Mono causes "The type 'Dictionary<,>' is defined in an assembly that is not refer

[2018-01-18 21:03] TomPallister commented on #130
@stuartsaltzman thank you very much!

[2018-01-18 21:03] #98 closed

[2018-01-22 20:21] #190 closed

[2018-01-23 08:31] BowAngel commented on #201
OK, I get it, and I'm glad to do it!

[2018-01-23 09:59] TomPallister commented on #201
Lets leave the issue open! I might have a chance to do this soon myself.

[2018-01-23 15:27] cqkisyouq commented on #190
@TomPallister It's so fast to see the realization of this function. Thank you very much for your efforts. Now is a one to one replacement, hoping to be optimized to be a multi - to - many replacement

  "DownstreamHeaderTransform": {
        "location": "http://localhost:5001,http://localhost:5000"
      },

Hope to optimize the configuration：
      "DownstreamHeaderTransform": {
        "location

[2018-01-23 20:48] TomPallister commented on #190
haha I will open another issue :)

[2018-01-23 20:48] TomPallister opened #205 "{DownstreamBaseUrl} placeholder for header replacement"
It's so fast to see the realization of this function. Thank you very much for your efforts. Now is a one to one replacement, hoping to be optimized to be a multi - to - many replacement

"DownstreamHeaderTransform": {
"location": "http://localhost:5001,http://localhost:5000"
},

Hope to optimize the configuration：
"DownstreamHeaderTransform": {
"location": [{one,one},{two,two}....]
},
Now the func

[2018-01-23 20:51] TomPallister commented on #205
We need to be able to handle multiple downstream services returning a location 302 redirect.

Maybe the easiest way to do this would be to add a new placeholder when doing the find and replace

{DownstreamBaseUrl}

This was we can have

"Location": "{DownstreamBaseUrl}, {BaseUrl}"

It should work.

[2018-01-23 21:01] TomPallister commented on #205
The above might not be possible because we dont know the DownstreamBaseUrl if using service discovery..

[2018-01-24 01:29] BowAngel commented on #201
OK, that's a good news! ^_^

[2018-01-26 02:30] tamchitrung commented on #144
I am agree too

[2018-01-26 14:29] tmapfumo opened #206 "Service Discovery Error"
Dear Tom

I get the following error while trying to use Consul as my service discovery tool.

2018-01-26 16:22:07.6717|ERROR|Ocelot.Errors.Middleware.ExceptionHandlerMiddleware|Exception caught in global error handler, exception message: Invalid URI: The hostname could not be parsed., exception stack:    at System.Uri.CreateThis(String uri, Boolean dontEscape, UriKind uriKind)
   at System.Uri..ct

[2018-01-27 12:19] TomPallister commented on #206
@tmapfumo thanks for trying Ocelot and your interest in the project!

I have only had a quick look at this so far! Your configuration.json looks OK. If you are using Consul you can remove the following bits from your configuration.

[code]

Have you registered services in Consul using the key's ModelService and CustomerService in Consul.

Ocelot will query consul for service entries on the followi

[2018-01-27 13:22] TomPallister commented on #190
@cqkisyouq https://github.com/TomPallister/Ocelot/issues/205

This should help with your location redirect use case but is not multi to many replacement yet!

[2018-01-27 20:04] #205 closed

[2018-01-28 11:45] geffzhang commented on #19
measure each API request monitoring metrics use opentracing，This is Pattern: Distributed tracing：
 http://microservices.io/patterns/observability/distributed-tracing.html， I'm trying to use Https://github.com/ButterflyAPM to monitor, which is the code I'm trying to do now https://github.com/geffzhang/Ocelot/tree/Monitoring .

[2018-01-28 11:57] geffzhang commented on #19
Monitoring Microservices - A Prediction for 2018： https://www.infoq.com/news/2017/11/monitoring-microservices

[2018-01-29 08:56] jakey188 opened #208 "I have a little suggestion about httpclient"
Hi Tom
I want to have a free record, requesturl,httpmethod,network time consuming
but ocelot not customizable delegatinghandler
i want to httpclient more flexible. i will be in delegatinghandler do more anything
Is it possible to consider the implementation

[2018-01-29 12:24] TomPallister commented on #19
@geffzhang this looks cool! Are you going to create a PR?

[2018-01-29 17:48] darting opened #209 "How to support hostname on upstream path template?"
Hi, just wonder how to support hostname on upstream path template since my case we have more than one domain point to same server.

Thanks

[2018-01-29 20:00] TomPallister commented on #208
@jakey188

I do not understand fully what you want to do.

At the moment I do not plan to change how the HttpClient works!

However you can do whatever you want with Ocleot because all of its service are registered with TryAdd which means if you have already added the interface and implementation .net will not try to do it again.

This means that you can override any of the services.

IHttpRequest

[2018-01-29 20:02] TomPallister commented on #209
@darting Thanks for your interest in the project!

I am not sure what you want to do!! You cannot have a hostname on the upstream path because the upstream path uses Ocelot's hostname.

Think of the upstream path as being the url you would map to a controller in an asp.net webapi for example.

Hope this helps!

[2018-01-29 20:03] TomPallister commented on #144
I am going to move Ocelot to an organisation called ocelot-stack soon.

[2018-01-29 20:05] TomPallister commented on #19
@geffzhang have you looked at Zipkin?

https://zipkin.io/pages/existing_instrumentations.html

[2018-01-30 00:54] geffzhang commented on #19
@TomPallister Still exploring, working with ButterflyAPM  the author 。
I have seen Zipkin, more optimistic about Google's Opencensus https://github.com/census-instrumentation

[2018-01-30 00:57] geffzhang commented on #19
https://opensource.googleblog.com/2018/01/opencensus.html ButterflyAPM will Support opencensus

[2018-01-30 06:27] darting commented on #209
Hi TomPallister,

I want to use Ocelots as API gateway, and I want few domains point to it, let's say:

backoffice.mydomainA.com
back office.mydomainB.com
gameservice.mydomainA.com
gameservice.mydomianB.com

These domain all point same server which I used to host Ocelots, and forward requests to the real application. Currently I have no ideas how do it, any suggestions? Btw I was used traefix befo

[2018-01-30 07:25] TomPallister commented on #209
@darting I think traefik is more suited to your use case.

Ocelot is meant to be more like azure, AWS, apigee style API gateways it is not really a service mesh.

However you can use it for your scenario but you do not need to do anything with your clients other than point them at Ocelot.

Once this is done you configure ReRoutes in Ocelot to point to your downstream services. Ocelot has no concep

[2018-01-30 08:13] TomPallister commented on #19
@geffzhang looks very good! :D

[2018-01-31 01:07] darting commented on #209
@TomPallister Is it possible to add one more options for ReRoutes, lets say **UpstreamHostName**:
[code]

[2018-01-31 01:37] jakey188 commented on #208
@TomPallister
I want to record all the request http information.
`public class HttpTracingDelegatingHandler : DelegatingHandler
    {

        protected override Task<HttpResponseMessage> SendAsync(HttpRequestMessage request, CancellationToken cancellationToken)
        {
            var method =  request.Method;
            var requestUrl = request.RequestUri.ToString();
            //db.Save(met

[2018-01-31 01:48] jakey188 commented on #208
I need http tracing . including all services and ocelot

[2018-01-31 04:37] ICE2017 opened #210 "how to Administration support cors"
[code]

[code]
I AllowAnyOrigin but when i request administration，it did not work ?

[2018-01-31 08:36] TomPallister commented on #210
@ICE2017 Thank you for your interest in the project!

Please have a look at previous issue https://github.com/TomPallister/Ocelot/issues/191 this might help.

If you are still having problems let me know and I will look into it more.

[2018-01-31 08:38] TomPallister commented on #209
@darting OK I understand now.

You want to be able to support multiple upstream paths for different clients.

OK it would be possible and would require some changes to how Ocelot matches a route.

You can study the source code and try to implement this yourself or I will do it at some point in the future!

[2018-01-31 08:41] TomPallister commented on #201
@BowAngel I have PR for this feature. Seems to be working OK. I need to do a bit more work.

[2018-01-31 08:45] TomPallister commented on #208
@jakey188 OK we might be able to expose the handlers dictionary? I can have a look at this at some point in the future.

However if you need tracing @geffzhang is looking into using distributed tracing butterfly in this issue https://github.com/TomPallister/Ocelot/issues/19 so that might be better?

[2018-01-31 13:14] gromanev opened #212 "New Feature - Websocket support"
Hello. Tell me, does Ocelot work with a websocket? And if it works, tell me how to configure your server to work with it?

My config:

      "DownstreamPathTemplate": "/signalr/{everything}",
      "DownstreamScheme": "ws",
      "DownstreamPort": 5000,
      "DownstreamHost": "localhost",
      "UpstreamPathTemplate": "/signalr/{everything}",
      "UpstreamHttpMethod": [ "Get", "Post", "Options"

[2018-01-31 15:23] DiegoTondim opened #213 "Ocelot doens't work with Consul"
Hello,

ocelot configuration,json:

{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/home",
      "UpstreamPathTemplate": "/home",
      "UpstreamHttpMethod": [ "Get", "Options" ],
      "ServiceName": "web",
      "LoadBalancer": "LeastConnection"
    }
  ],
  "GlobalConfiguration": {
    "RequestIdKey": "OcRequestId",
    "ServiceDiscoveryProvider": {
      "Provider": "Consul",

[2018-01-31 17:15] TomPallister commented on #212
@gromanev Thanks for your interest in the project.

Ocelot doesnt have any websockets support at the moment, this is something that may be added in the future. If you need it now I would suggest finding another piece of software that supports it or study the Ocelot source code and implement the functionality!

[2018-01-31 17:20] TomPallister commented on #213
@DiegoTondim Thank you for your interest in the project.

I can't see anything wrong at the moment :( I will try and replicate this later when I have time.

Can you tell me what version of Ocelot you are using? Also are you able to turn logging on and set the level to Trace and see if you get an errors logged?

[2018-01-31 17:31] TomPallister commented on #213
@DiegoTondim I noticed a problem in configuration.json you need

 "UseServiceDiscovery": true

This is to tell Ocelot that the ReRoute should use consul.

[2018-01-31 17:58] gromanev commented on #212
@TomPallister Thanks for the answer. I already use the nginx as a reverse proxy for the websocket. But I do not particularly like this decision, but if the plans to implement support for a web-site - it will be wonderful. Hardly I can help with the implementation, since my programming level is unfortunately weak.

[2018-01-31 18:26] DiegoTondim commented on #213
Like this @TomPallister ?

{
"ReRoutes": [
{
"DownstreamPathTemplate": "/api/home",
"UpstreamPathTemplate": "/home",
"UpstreamHttpMethod": [ "Get", "Options" ],
"ServiceName": "web",
"LoadBalancer": "LeastConnection",
"UseServiceDiscovery": true
}
],
"GlobalConfiguration": {
"RequestIdKey": "OcRequestId",
"ServiceDiscoveryProvider": {
"Provider": "Consul",
"Host": "localhost",
"Port": 8500
}
}
}

[2018-01-31 18:29] TomPallister commented on #213
@DiegoTondim yes that should work!

[2018-01-31 19:25] DiegoTondim commented on #213
@TomPallister  Ok... I updated to latest stable version of ocelot (.11), but doens't work.

consul k/v updated:
{"ReRoutes":[{"DownstreamPathTemplate":"/api/home","UpstreamPathTemplate":"/home","UpstreamHttpMethod":["Get","Options"],"AddHeadersToRequest":{},"UpstreamHeaderTransform":{},"DownstreamHeaderTransform":{},"AddClaimsToRequest":{},"RouteClaimsRequirement":{},"AddQueriesToRequest":{},"Requ

[2018-01-31 19:41] DiegoTondim commented on #213
@TomPallister I'm running ocelot application on IIS Express, can be a problem?

[2018-01-31 19:57] TomPallister commented on #213
@DiegoTondim this should work :( have you tried turning on logging to see if you get any errors?

If this doesnt work the only thing I can suggest is debug Ocelot code in your application :(

[2018-01-31 19:58] TomPallister commented on #212
@gromanev no one is weak! Just need time and experience to learn :)

[2018-01-31 20:10] DiegoTondim commented on #213
@TomPallister

Application Insights Telemetry (unconfigured): {"name":"Microsoft.ApplicationInsights.Dev.RemoteDependency","time":"2018-01-31T19:56:22.0462310Z","tags":{"ai.application.ver":"1.0.0.0","ai.internal.sdkVersion":"rdddsc:2.4.1-1362","ai.operation.id":"9d48a414-46a961288728a4f4"},"data":{"baseType":"RemoteDependencyData","baseData":{"ver":2,"name":"GET /v1/kv/OcelotConfiguration","id":"

[2018-01-31 20:34] #201 closed

[2018-01-31 21:18] TomPallister commented on #201
@BowAngel get latest ocelot 3.0.0 and read http://ocelot.readthedocs.io/en/latest/features/routing.html
http://ocelot.readthedocs.io/en/latest/features/loadbalancer.html

Hope this helps.

[2018-01-31 21:33] TomPallister commented on #213
@DiegoTondim I need to see the logs from Ocelot! Unfortunately these dont help.

If you set your appsettings.json to contain.

{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Error",
      "Microsoft": "Error"
    }
  }
}

and then add logging to the application that hosts Ocelot you can see how to do that here https://docs.microsoft.com/en

[2018-01-31 21:39] TomPallister commented on #213
@DiegoTondim this might help set up the logging https://github.com/TomPallister/Ocelot/tree/develop/test/Ocelot.ManualTest it is the sample project i use for manually testing ocelot

[2018-01-31 22:54] DiegoTondim commented on #213
@TomPallister I hope thats it help to find the error :(

The thread 0x3cdc has exited with code 0 (0x0).
Ocelot.Logging.OcelotDiagnosticListener:Trace: requestId: no request id, previousRequestId: no previous request id, message: MiddlewareStarting: EndOfPipeline; /api/home,
Application Insights Telemetry (unconfigured): {"name":"Microsoft.ApplicationInsights.Dev.Message","time":"2018-01-31T22:50:

[2018-02-01 00:18] ICE2017 commented on #210
@TomPallister thanks very much, i set CORS like #191 .but when i GET http://localhost/administration/configuration  it did not work,but POST http://localhost/administration/connect/token works well.
![1](https://user-images.githubusercontent.com/12882373/35654483-50520a12-0728-11e8-8654-badea6e00c16.png)
![2](https://user-images.githubusercontent.com/12882373/35654484-508254e2-0728-11e8-849f-4886f

[2018-02-01 01:01] jakey188 commented on #208
yes ,we might be able to expose the handlers dictionary for use butterfly .

[2018-02-01 07:26] TomPallister commented on #210
@ICE2017 can you paste your configuration.json file here please?

[2018-02-01 08:18] TomPallister commented on #213
@DiegoTondim sorry I cannot see anything from those logs. It looks like you might be using a version of Ocelot that had broken logging? What version are you using? Try Install-Package Ocelot -Version 2.0.11	if you are not using this version already.

[2018-02-01 08:21] TomPallister commented on #213
@DiegoTondim also i have written a test that shows you how everything should be set up here https://github.com/TomPallister/Ocelot/blob/develop/test/Ocelot.AcceptanceTests/ServiceDiscoveryTests.cs

The test is called should_handle_request_to_consul_for_downstream_service_and_make_request

That might help!

[2018-02-01 08:24] TomPallister commented on #209
@darting I have had a look at this and Im not sure it will be possible without the client sending a referrer header or something.

When asp.net allows you to access the HttpRequest you cannot see the host name where it came from so I would not be able to identify the upstream host name.

How did you set this up with Traefik?

[2018-02-01 08:25] TomPallister commented on #210
@ICE2017 also if you turn logging on what errors do you see?

[2018-02-01 08:26] TomPallister commented on #55
forgot to close this when i merged raft

[2018-02-01 08:26] #55 closed

[2018-02-01 09:44] ICE2017 commented on #210
@TomPallister  thank a lot ! i try the exception
when i set url like this .UseUrls("http://*:5000"); it did not work,i changed .UseUrls("http://localhost:5000"); it work well. then exception like this
[code]
thanks very much

[2018-02-01 10:53] darting commented on #209
@TomPallister Sorry busy on others. In Traefik it can be configure using matcher of Frontends.
e.g. https://docs.traefik.io/basics/#examples

Docs:
https://docs.traefik.io/basics/#matchers

[2018-02-01 10:59] darting commented on #209
Is it possible to get the host name from HttpRequest.Host property ?

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.httprequest.host?view=aspnetcore-2.0#Microsoft_AspNetCore_Http_HttpRequest_Host

[2018-02-01 11:15] TomPallister commented on #209
@darting yes it could be but it must be set by the client otherwise it will default to Ocelot's host which is annoying. I guess I would just need to make it clear in the documentation if you use the feature then you must make sure the host header is set.

In the RFC for HTTP 1.1 it says Host is mandatory but I dont think anything in ASP.NET makes sure it is mandatory :( confusing!

[2018-02-01 11:18] darting commented on #209
Hmm, got it. I do agreed just make it clear in the documentation. Thanks again :)

[2018-02-01 11:24] TomPallister commented on #210
@ICE2017 interesting this is because the administration section uses IdentityServer for authentication. IdentityServer requires that you set an authority that issues the tokens.

See this issue https://github.com/IdentityServer/IdentityServer4/issues/1207

I think that you will need to run Ocelot with a specific URL when using the administration section at the moment. I will think about this and s

[2018-02-01 11:36] TomPallister commented on #209
@darting sorry for being confused but wont the host header be set as the ocelot host address? I am studying host header this article explains better http://www.it-notebook.org/iis/article/understanding_host_headers.htm

e.g.

GET
/api/test
host: ocelot.com

Dont we want the origin header e.g.
/api/test
host: ocelot.com
origin: backoffice.mydomainA.com

In the first scenario Ocelot cannot identity

[2018-02-01 11:54] darting commented on #209
@TomPallister

Lets say we have domains:
- backofficeDomain.com
- gameserviceDomain.com

And I have a webserver with IP 192.168.0.1.
And I have one web application named backoffice and another web application named gameservice.

I want to host Ocelot in my webserver with the following ServerBindings:
- 192.168.0.1:80:www.backofficeDomain.com
- 192.168.0.1:80:www.gameserviceDomain.com

and also I w

[2018-02-01 14:04] janhabelvik opened #214 "Problem when routing calls to an API that has no response body."
Hi
I try to forward calls to a method in an  Web API method that has a "void" return type. What happens is that Ocelot hangs indefinitely. It seems to occur for any verb. Calling the method directly works fine and responds with HTTP/200.

Is this an issue with my hosting or configuration, or could be a another problem.

My Ocelot Gateway Implementation runs under IIS, and calling a method returnin

[2018-02-01 14:28] TomPallister commented on #209
@darting yes I finally understand!

I have never hosted Ocelot where I use multiple bindings on the web server!! This is why I couldn't understand what you wanted.

[2018-02-01 20:34] TomPallister commented on #214
@janhabelvik I have no idea why this is happening :( I will look into it. I assume you have a controller that returns void? It might be something to do with the fact is doesn't have a response body.

[2018-02-01 20:36] TomPallister commented on #214
@janhabelvik also how are you hosting Ocelot? IIS, Kestrel etc?

[2018-02-01 22:09] DiegoTondim commented on #213
Hello @TomPallister ,

I found the error, I configured the startup of application with example of asp net core version 1.0, but I'm using the asp net core 2.0. So, I changed the startup class and all works.

Thank you so much for attention.

[2018-02-01 22:09] #213 closed

[2018-02-01 22:54] TomPallister commented on #213
@DiegoTondim awesome good stuff :)

[2018-02-02 03:14] JamesYing opened #217 "I can't build ocelot on .net core sdk 2.1.4"
Hi bro,
Below is my build env:
VM - windows 7-64bit
vs2017
sdk: net core 2.1.4
runtime:.net core 2.0
I got the latest version from github. When I build it, the vs2017 return below error:
The current .NET SDK does not support targeting .NET Core 2.0.  Either target .NET Core 1.1 or lower, or use a version of the .NET SDK that supports .NET Core 2.0.

I mark sure I installed it on my book.

[2018-02-02 08:30] TomPallister commented on #217
@JamesYing thanks for your interest in the project!

Can you build any other .net core 2.0 projects?

[2018-02-02 08:48] JamesYing commented on #217
@TomPallister
Hi， Thanks for your answer.
Yes, I can build other .net core 2.0 project. And when I create a new solution and add ocelot.csproj，it's well.

Would you like to check the .sln file?

[2018-02-02 09:20] TomPallister commented on #217
@JamesYing if you can work out what the problem is and create a pull request that would be awesome!

If not I will have a look at it asap.

[2018-02-02 09:50] janhabelvik commented on #214
I'm hosting in IIS, but the issue seems to happen independent of the hosting environment.

I downloaded the source and did some debugging, the processing seems to hang on ResponderMiddleware.Invoke on the line:  await _responder.SetResponseOnHttpContext(context, HttpResponseMessage);

This code seems to get stuck when the content.Length is 0. I guess the copy step can be skipped if it's the case.

[2018-02-02 11:07] TomPallister commented on #209
wait for release then close

[2018-02-02 11:07] TomPallister commented on #214
@janhabelvik thanks for looking into this. If you want you can submit a PR with the change?

Otherwise I will fix it asap! :D

[2018-02-02 11:48] janhabelvik commented on #214
This little fix resolved the issue for me:
            using (Stream stream = new MemoryStream(content))
            {
                if (response.StatusCode != HttpStatusCode.NotModified
                    **&& context.Response.ContentLength != 0**)
                {
                    await stream.CopyToAsync(context.Response.Body);
                }
            }

[2018-02-02 13:29] TomPallister commented on #209
@darting please get version 3.0.1 and try your scenario! Hopefully it will work.

[2018-02-02 13:29] #209 closed

[2018-02-04 01:11] geffzhang commented on #208
@jakey188I have added Httptracingdelegatinghandler https://github.com/geffzhang/Ocelot/blob/Monitoring/src/Ocelot/Tracing/OcelotHttpTracingHandler.cs , have basically completed and butterfly integration work, but there are test work and ocelot tracing buried point work to do, we can together to improve。 We are mainly  here #19  to discuss this work

[2018-02-04 01:23] geffzhang commented on #19
@TomPallister Using Diagnosticsource （https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/DiagnosticSourceUsersGuide.md）We can define the data points of the trace, we need to discuss the data that needs to be tracked，I've tried to define a few，See https://github.com/geffzhang/Ocelot/blob/Monitoring/src/Ocelot/Tracing/OcelotTracingDiagnosticListener.cs

[2018-02-04 23:55] geffzhang commented on #19
This is a blog that I have written that is currently completed in Chinese https://www.cnblogs.com/shanyou/p/8413506.html

[2018-02-05 02:43] #210 closed

[2018-02-05 05:10] JamesYing commented on #217
@TomPallister
hi Tom,I tried several times and found that it was a build.ps1 file has problem,  when I deleted the file, the project could be build.
But I don't know much about PowerShell So I can't help you modify it .
Could you check it ?

[2018-02-05 07:23] BowAngel commented on #201
It's very exciting to see that! that's just what I want. I have saw the document link above, and there are two questions:
1. Do I need to set the "LoadBalancer" configuration item when using multiple downstream hosts? if not, what's the default policy? LeastConnection or RoundRobin ?
2. I see the "Catch All" routing has a lower priority than any others. so besides this, other routing still tries t

[2018-02-05 14:06] TomPallister commented on #19
@geffzhang that looks really good! Are you going to submit a PR with the required changes?

[2018-02-05 14:08] TomPallister commented on #201
@BowAngel

1. You need to set a load balancer it defaults to no load balancer and just uses the first host.
2. Yes it still tries to match one by one. I'm not happy with my code at the moment but thinking about a way to do it nicely.

Thanks! :D

[2018-02-05 18:33] TomPallister commented on #217
@JamesYing build.ps1 is from the cake framework. It might need updating but this seems very strange!

[2018-02-05 19:16] TomPallister commented on #214
fixed in 3.0.2

[2018-02-05 19:16] #214 closed

[2018-02-06 05:02] geffzhang commented on #19
@TomPallister OK, I submit a PR come and look at it together

[2018-02-06 05:44] JamesYing commented on #217
@TomPallister
Hi Tom, I found the problem from the build.ps1, I get the latest build.ps1 on your project and I rebuild it, Now it's fine.
And the sdk version is 2.0.2 in global.json file, so I changed it to 2.1.4 by myself.

You can close this issue and Thanks for your help!

[2018-02-06 08:42] TomPallister commented on #19
@geffzhang awesome thanks! :D

[2018-02-06 08:44] TomPallister commented on #217
@JamesYing I will fix in develop before I close!

[2018-02-06 09:10] TomPallister commented on #212
https://stackoverflow.com/questions/39220423/chain-2-websockets-in-net-using-asp-net-4-5

^^ might be useful

[2018-02-06 20:51] FerAguilarR93 opened #220 "How can I redirect a request only if it brings a JWT CORRECT?"
When I'm going to perform a user login I need to not validate a jwt since it is public domain, however if I want to register a user I need to have the jwt and that this is correct, otherwise I will not redirect it ... Is this possible from the configuration file?
Thanks in advance

[2018-02-07 07:57] tmapfumo commented on #206
Thank you, Tom. I finally found the issue was to do with my AgentServiceRegistration in registering apps in Consul. The Address had a scheme http:// instead of just the IP address, hence the error invalid URI changed my service registrations and all is working now.

'        var registration = new AgentServiceRegistration()
            {
                Checks = new[] { tcpCheck, httpCheck },

[2018-02-08 10:54] TomPallister commented on #206
@tmapfumo awesome, I will add some validation here so that it is more obvious for the next person! Maybe the docs need improving as well!

[2018-02-08 18:06] TomPallister commented on #220
@FernandoAguilarResendiz please read the docs here http://ocelot.readthedocs.io/en/latest/features/authentication.html and see if that helps you.

All Ocelot does is calls whatever authentication provider you have registered!

[2018-02-08 18:10] TomPallister commented on #217
I have updated the build.ps1 on develop...will not upgrade sdk yet..but soon.

[2018-02-08 18:10] #217 closed

[2018-02-08 18:11] TomPallister opened #222 "upgrade to latest .net sdk"
update sdk save push etc

[2018-02-10 02:19] geffzhang commented on #19
ButterflyAPM  will support skywalking  https://github.com/OpenSkywalking/skywalking-csharp/pull/1

[2018-02-10 07:45] TomPallister commented on #208
@jakey188 please look at https://github.com/TomPallister/Ocelot/pull/224 this is my idea to implement your request. DelegatingHandlers now exposed...

[code]

The delegating handlers are run in order of addition so FIFO if you are using QoS feature of Ocelot that will always be last.

Let me know if you have any suggestions.

[2018-02-10 07:59] TomPallister commented on #19
@geffzhang very good!!

[2018-02-10 10:03] wu-sheng commented on #19
ButterflyAPM is helping Apache SkyWalking to build C#/.NET agent.  Welcome every .NET guys to join us. We want to build a multi-languages distributed tracing and APM system.

[2018-02-11 06:00] jakey188 commented on #208
thanks very much . expect you to incorporate the code into the trunk

[2018-02-11 17:39] TomPallister commented on #208
cool I will merge it soon

[2018-02-12 01:15] geffzhang commented on #212
This Project has a websocket Middleware https://github.com/radu-matei/websocket-manager

[2018-02-12 01:17] geffzhang commented on #199
try to delete Console Logger @jakey188

[2018-02-12 18:37] TomPallister commented on #19
@geffzhang I have merged will do docs and release nuget package asap.

[2018-02-13 09:04] TomPallister opened #226 "Problem with Cache"
noticed after manual testing data returned from cache is not correct. Investigate and fix. Think content type header might be going missing.

[2018-02-13 09:07] TomPallister commented on #222
done

[2018-02-13 09:07] #222 closed

[2018-02-13 09:08] TomPallister commented on #206
wont return service with invalid address or port and logs the problem..now in develop

[2018-02-13 09:08] #206 closed

[2018-02-13 10:40] geffzhang opened #227 "New Feature - Better names in tracing logs"
I built a Ocelot & butterfly environment and found the name of the event unfriendly, referring to this tracing data，Access Http://111.230.101.173/Home/About generate trace data, See tracing data
http://111.230.101.173:9618/tracing/traces
Example： MiddlewareFinished: Microsoft.AspNetCore.Builder.UseWhenExtensions+<>c__DisplayClass0_1; 200

2018-02-13 18:15:31.216
Server Receive

2018-02-13 18:15:31

[2018-02-13 13:19] lurumad opened #228 "IOException: IDX10804: Unable to retrieve document from: http://localhost:5105/administration/.well-known/openid-configuration"
Hi folks,

We are playing with Ocelot, and we have found a strange behavior with the administration area. I'll try to explain as best I could:

With a basic configuration like this:

[code]

And Startup:

[code]

When we run the web application from IISExpress we always recieve the same error:

InvalidOperationException: IDX10803: Unable to obtain configuration from: http://localhost:29706/adminis

[2018-02-13 13:53] TomPallister commented on #228
@lurumad thank you for your interest in the project.

This is happening because the IdentityServer middleware I use to authenticate the administration API requires the address that Ocelot is running on.

The code is in OcelotBuilder

[code]
Have you tried
[code]

When using IIS Express or the Azure Web App's address?

I might need to change how this works because I haven't had anyone with a proble

[2018-02-13 14:07] lurumad commented on #228
Hi @TomPallister

[code]

only apply to Kestrel or Weblistener, but not for IISExpress or IIS

[2018-02-13 14:12] lurumad commented on #228
Hi @TomPallister

I think that the best approach is to give to the developer some mechanisim to plug your Identity Server configuration, because in my case I have my own Identity Server.

Regards!

[2018-02-13 14:12] TomPallister commented on #19
@geffzhang I am having a problem with Butterfly UI however the solution seems to work and looks very good! :D

https://github.com/ButterflyAPM/butterfly/issues/24

If i have time I will fix it myself.

[2018-02-13 14:13] TomPallister commented on #228
@lurumad mmmmmmm Ocelot lets you plug into your own IdentityServer for authenticating ReRoutes but not the administration area. This is an interesting suggestion and would improve Ocelot. At the moment it just uses it internally for the admin area with client credential workflow.

[2018-02-13 14:15] tmapfumo commented on #206
Thank you.

On Tue, Feb 13, 2018 at 11:08 AM, Tom Pallister <notifications@github.com>
wrote:

[2018-02-13 14:17] lurumad commented on #228
Hi @TomPallister

Yeah!!! This should be awesome that the same identity server works with administration too.

Another approach is to use something like Hangfire uses in his dashboard:

http://docs.hangfire.io/en/latest/configuration/using-dashboard.html#configuring-authorization

Regards!

[2018-02-13 14:27] TomPallister commented on #228
@lurumad I will take a look at this when I have time but it will take a me a little while. I might just make it so you can use your own identity server tbh that would be easier for me at the moment as I have loads of features to implement!

[2018-02-13 14:40] wu-sheng commented on #19
Oh, cool work. Hope after Butterfly team finish our works on Apache SkyWalking compitable c# agent. We can integration with this framework too.

This is . NET part, https://github.com/OpenSkywalking/skywalking-csharp

Our next alpha release looks like a fully functional APM.

https://twitter.com/AsfSkyWalking/status/959213928575254528?ref_src=twcamp%5Ecopy%7Ctwsrc%5Eandroid%7Ctwgr%5Ecopy%7Ctwcon%5

[2018-02-13 14:42] TomPallister commented on #19
@wu-sheng looks good! :D

[2018-02-13 14:45] TomPallister commented on #208
This functionality is in version 3.0.3

[2018-02-13 14:45] #208 closed

[2018-02-13 14:46] TomPallister commented on #19
I'm going to close this issue now, please open further issues for functionality around monitoring etc.

OpenTracing is in version 3.0.3!

[2018-02-13 14:46] #19 closed

[2018-02-13 17:38] CESARDELATORRE opened #229 "[CONTACT] Using Ocelot in Microsoft Reference Application for Microservices"
Hey Tom!
This is Cesar de la Torre, PM at the .NET team.
You might be aware of our [guidance/book](https://aka.ms/microservicesebook) about microservices and its related reference application, [eShopOnContainers](https://github.com/dotnet-architecture/eShopOnContainers).
We were covering API Gateways in the guide/book, but not in the sample application, yet.
But now, we're currently implementing A

[2018-02-13 22:17] TomPallister commented on #229
@CESARDELATORRE wow that’s is really cool! I am aware of the book and application. I will email you ASAP.

[2018-02-13 23:00] #226 closed

[2018-02-14 16:25] #220 closed

[2018-02-14 16:42] FerAguilarR93 opened #231 "How to use AllowedScopes?"
Hello, I´m using your API Gateway and is very Useful, I´m using my AuthenticationProvider and all works ok, but I have a question, in your manual test in configuration.json you have this:

**"AuthenticationOptions": {
        "AuthenticationProviderKey": "TestKey",
        "AllowedScopes": [
          "openid",
          "offline_access"
        ]
      }**

and my question is how to use AllowedSc